---
version: 1
interactions:
- request:
    body: Service=3lYLhAbTXOxJ79lUeCK97B&Version=2&name=WAf_Response&status=403
    form:
      Service:
      - 3lYLhAbTXOxJ79lUeCK97B
      Version:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3lYLhAbTXOxJ79lUeCK97B/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"3lYLhAbTXOxJ79lUeCK97B","version":"2","content":null,"updated_at":"2020-10-09T09:28:41Z","content_type":null,"deleted_at":null,"cache_condition":"","created_at":"2020-10-09T09:28:41Z","request_condition":"","response":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4932"
      Fastly-Ratelimit-Reset:
      - "1602237600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
