---
version: 1
interactions:
- request:
    body: ServiceID=75Xe7Cqz69divbFTfhARF7&ServiceVersion=2&name=WAf_Response&status=403
    form:
      ServiceID:
      - 75Xe7Cqz69divbFTfhARF7
      ServiceVersion:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/75Xe7Cqz69divbFTfhARF7/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"75Xe7Cqz69divbFTfhARF7","version":"2","created_at":"2021-01-14T10:27:48Z","response":"ok","content_type":null,"deleted_at":null,"cache_condition":"","content":null,"request_condition":"","updated_at":"2021-01-14T10:27:48Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "872"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
