---
version: 1
interactions:
- request:
    body: '{"name":"object-store-test-store"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/object
    method: POST
  response:
    body: '{"id":"fff9gl14gebt6m9kkp54ve","name":"object-store-test-store","created_at":"2022-09-15T17:55:35.881Z","updated_at":"2022-09-15T17:55:35.881Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
