---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=648&action=set&dst=http.foo&ignore_if_set=0&name=test-header&priority=50&regex=foobar&src=client.ip&substitution=123&type=request
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "648"
      action:
      - set
      dst:
      - http.foo
      ignore_if_set:
      - "0"
      name:
      - test-header
      priority:
      - "50"
      regex:
      - foobar
      src:
      - client.ip
      substitution:
      - "123"
      type:
      - request
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/648/header
    method: POST
  response:
    body: '{"action":"set","dst":"http.foo","ignore_if_set":"0","name":"test-header","priority":"50","regex":"foobar","src":"client.ip","substitution":"123","type":"request","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"648","request_condition":null,"response_condition":null,"updated_at":"2017-04-17T16:00:55+00:00","deleted_at":null,"cache_condition":null,"created_at":"2017-04-17T16:00:55+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "976"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
