---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=601&action=set&dst=http.foo&name=test-header&priority=50&regex=foobar&src=client.ip&substitution=123&type=request
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "601"
      action:
      - set
      dst:
      - http.foo
      name:
      - test-header
      priority:
      - "50"
      regex:
      - foobar
      src:
      - client.ip
      substitution:
      - "123"
      type:
      - request
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/601/header
    method: POST
  response:
    body: '{"action":"set","dst":"http.foo","name":"test-header","priority":"50","regex":"foobar","src":"client.ip","substitution":"123","type":"request","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"601","ignore_if_set":"0","request_condition":null,"response_condition":null,"updated_at":"2016-06-29T22:27:36+00:00","deleted_at":null,"cache_condition":null,"created_at":"2016-06-29T22:27:36+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "935"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
