---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/601/header/test-header
    method: GET
  response:
    body: '{"priority":"50","service_id":"7i6HN3TK9wS159v2gPAZ8A","ignore_if_set":"0","request_condition":null,"response_condition":null,"updated_at":"2016-06-29T22:27:36+00:00","src":"client.ip","version":"601","name":"test-header","deleted_at":null,"substitution":"123","cache_condition":null,"created_at":"2016-06-29T22:27:36+00:00","regex":"foobar","action":"set","type":"request","dst":"http.foo"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
