---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/563/header
    method: GET
  response:
    body: '[{"priority":"50","service_id":"7i6HN3TK9wS159v2gPAZ8A","ignore_if_set":"0","request_condition":null,"response_condition":null,"src":"client.ip","version":"563","name":"test-header","substitution":"123","cache_condition":null,"regex":"foobar","action":"set","type":"request","dst":"http.foo"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
