---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-header&Service=7i6HN3TK9wS159v2gPAZ8A&Version=648&name=new-test-header
    form:
      Name:
      - test-header
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "648"
      name:
      - new-test-header
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/648/header/test-header
    method: PUT
  response:
    body: '{"priority":"50","service_id":"7i6HN3TK9wS159v2gPAZ8A","ignore_if_set":"0","request_condition":null,"response_condition":null,"updated_at":"2017-04-17T16:00:55+00:00","version":"648","src":"client.ip","name":"new-test-header","deleted_at":null,"substitution":"123","cache_condition":null,"created_at":"2017-04-17T16:00:55+00:00","regex":"foobar","action":"set","type":"request","dst":"http.foo"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "968"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
