---
version: 1
interactions:
- request:
    body: Name=test-header&Service=7i6HN3TK9wS159v2gPAZ8A&Version=563&name=new-test-header
    form:
      Name:
      - test-header
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "563"
      name:
      - new-test-header
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/563/header/test-header
    method: PUT
  response:
    body: '{"priority":"50","service_id":"7i6HN3TK9wS159v2gPAZ8A","ignore_if_set":"0","request_condition":null,"response_condition":null,"src":"client.ip","version":"563","name":"new-test-header","substitution":"123","cache_condition":null,"regex":"foobar","action":"set","type":"request","dst":"http.foo"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "941"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
