---
version: 1
interactions:
- request:
    body: '{"data":{"type":"tls_bulk_certificate","attributes":{"cert_blob":"-----BEGIN
      CERTIFICATE-----\n...\n-----END CERTIFICATE-----\n","intermediates_blob":"-----BEGIN
      CERTIFICATE-----\n...\n-----END CERTIFICATE-----\n"},"relationships":{"tls_configurations":{"data":[{"type":"tls_configuration","id":"TLS_CONFIGURATION_ID"}]}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/tls/bulk/certificates
    method: POST
  response:
    body: '{"data": {"id": "CERTIFICATE_ID","type": "tls_bulk_certificate","attributes": {"not_after": "2019-06-06T18:14:32+00:00","not_before": "2018-06-06T18:14:32+00:00","created_at": "2018-06-06T18:14:32+00:00","updated_at": "2018-06-06T18:14:32+00:00","replace": false},"relationships": {"tls_configurations": {"data": [{"type": "tls_configuration","id": "TLS_CONFIGURATION_ID"}]},"tls_domains": {"data": [{"type": "tls_domain","id": "DOMAIN_NAME"}]}}}}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "980"
      Fastly-Ratelimit-Reset:
      - "1559862000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200