---
version: 1
interactions:
- request:
    body: '{"data":{"id":"CERTIFICATE_ID","type":"tls_bulk_certificate","cert_blob":"-----BEGIN
      CERTIFICATE-----\n...\n-----END CERTIFICATE-----\n","intermediates_blob":"-----BEGIN
      CERTIFICATE-----\n...\n-----END CERTIFICATE-----\n"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/tls/bulk/certificates/CERTIFICATE_ID
    method: PATCH
  response:
    body: '{"data": {"id": "CERTIFICATE_ID","type": "tls_bulk_certificate","attributes": {"not_after": "2019-06-06T18:14:32Z","not_before": "2018-06-06T18:14:32Z","created_at": "2018-06-06T18:14:32Z","updated_at": "2018-06-06T18:14:32Z","replace": false},"relationships": {"tls_configurations": {"data": [{"type": "tls_configuration","id": "TLS_CONFIGURATION_ID"}]},"tls_domains": {"data": [{"type": "tls_domain","id": "DOMAIN_NAME"}]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
