---
version: 1
interactions:
- request:
    body: dataset=testDataset&format=%25h+%25l+%25u+%25t+%22%25r%22+%25%3Es+%25b&format_version=2&name=test-honeycomb&token=super-secure-token
    form:
      dataset:
      - testDataset
      format:
      - '%h %l %u %t "%r" %>s %b'
      format_version:
      - "2"
      name:
      - test-honeycomb
      token:
      - super-secure-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/18/logging/honeycomb
    method: POST
  response:
    body: '{"dataset":"testDataset","format":"%h %l %u %t \"%r\" %\u003es %b","format_version":"2","name":"test-honeycomb","token":"super-secure-token","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"18","updated_at":"2025-02-28T21:33:58Z","response_condition":"","deleted_at":null,"placement":null,"created_at":"2025-02-28T21:33:58Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9910"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
