---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=46&dataset=testDataset&format=%25h+%25l+%25u+%25t+%22%25r%22+%25%3Es+%25b&format_version=2&name=test-honeycomb&placement=waf_debug&token=super-secure-token
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "46"
      dataset:
      - testDataset
      format:
      - '%h %l %u %t "%r" %>s %b'
      format_version:
      - "2"
      name:
      - test-honeycomb
      placement:
      - waf_debug
      token:
      - super-secure-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/46/logging/honeycomb
    method: POST
  response:
    body: '{"dataset":"testDataset","format":"%h %l %u %t \"%r\" %\u003es %b","format_version":"2","name":"test-honeycomb","placement":"waf_debug","token":"super-secure-token","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"46","response_condition":"","created_at":"2021-01-14T10:43:06Z","updated_at":"2021-01-14T10:43:06Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "696"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
