---
version: 1
interactions:
- request:
    body: dataset=testDataset&format=%25h+%25l+%25u+%25t+%22%25r%22+%25%3Es+%25b&format_version=2&name=test-honeycomb&placement=waf_debug&token=super-secure-token
    form:
      dataset:
      - testDataset
      format:
      - '%h %l %u %t "%r" %>s %b'
      format_version:
      - "2"
      name:
      - test-honeycomb
      placement:
      - waf_debug
      token:
      - super-secure-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/49/logging/honeycomb
    method: POST
  response:
    body: '{"dataset":"testDataset","format":"%h %l %u %t \"%r\" %\u003es %b","format_version":"2","name":"test-honeycomb","placement":"waf_debug","token":"super-secure-token","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"49","response_condition":"","created_at":"2022-11-04T14:43:37Z","updated_at":"2022-11-04T14:43:37Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9973"
      Fastly-Ratelimit-Reset:
      - "1667574000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
