---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/49/logging/honeycomb/test-honeycomb
    method: GET
  response:
    body: '{"dataset":"testDataset","placement":"waf_debug","response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","format":"%h
      %l %u %t \"%r\" %\u003es %b","token":"super-secure-token","format_version":"2","updated_at":"2022-11-04T14:43:37Z","deleted_at":null,"version":"49","created_at":"2022-11-04T14:43:37Z","name":"test-honeycomb"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
