---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/18/logging/honeycomb/test-honeycomb
    method: GET
  response:
    body: '{"created_at":"2025-02-28T21:33:58Z","response_condition":"","dataset":"testDataset","deleted_at":null,"name":"test-honeycomb","format_version":"2","format":"%h
      %l %u %t \"%r\" %\u003es %b","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2025-02-28T21:33:58Z","version":"18","placement":null,"token":"super-secure-token"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
