---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/71/logging/honeycomb/test-honeycomb
    method: GET
  response:
    body: '{"version":"71","placement":"waf_debug","format":"%h %l %u %t \"%r\" %\u003es
      %b","name":"test-honeycomb","service_id":"7i6HN3TK9wS159v2gPAZ8A","token":"super-secure-token","dataset":"testDataset","created_at":"2021-11-03T16:53:42Z","response_condition":"","deleted_at":null,"updated_at":"2021-11-03T16:53:42Z","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
