---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/118/logging/honeycomb/test-honeycomb
    method: GET
  response:
    body: '{"name":"test-honeycomb","placement":"waf_debug","deleted_at":null,"dataset":"testDataset","format":"%h
      %l %u %t \"%r\" %\u003es %b","token":"super-secure-token","updated_at":"2020-05-08T11:24:21Z","response_condition":"","version":"118","service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"2","created_at":"2020-05-08T11:24:21Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
