---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/18/logging/honeycomb
    method: GET
  response:
    body: '[{"dataset":"testDataset","created_at":"2025-02-28T21:33:58Z","version":"18","placement":null,"format":"%h
      %l %u %t \"%r\" %\u003es %b","format_version":"2","token":"super-secure-token","name":"test-honeycomb","service_id":"kKJb5bOFI47uHeBVluGfX1","response_condition":"","deleted_at":null,"updated_at":"2025-02-28T21:33:58Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
