---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/118/logging/honeycomb
    method: GET
  response:
    body: '[{"response_condition":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"2","version":"118","token":"super-secure-token","updated_at":"2020-05-08T11:24:21Z","created_at":"2020-05-08T11:24:21Z","format":"%h
      %l %u %t \"%r\" %\u003es %b","dataset":"testDataset","deleted_at":null,"placement":"waf_debug","name":"test-honeycomb"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
