---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/71/logging/honeycomb
    method: GET
  response:
    body: '[{"service_id":"7i6HN3TK9wS159v2gPAZ8A","response_condition":"","token":"super-secure-token","deleted_at":null,"version":"71","name":"test-honeycomb","dataset":"testDataset","created_at":"2021-11-03T16:53:42Z","format":"%h
      %l %u %t \"%r\" %\u003es %b","placement":"waf_debug","updated_at":"2021-11-03T16:53:42Z","format_version":"2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
