---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/163/logging/honeycomb
    method: GET
  response:
    body: '[{"deleted_at":null,"updated_at":"2026-07-23T19:29:23Z","created_at":"2026-07-23T19:29:23Z","log_processing_region":"none","name":"test-honeycomb","service_id":"kKJb5bOFI47uHeBVluGfX1","token":"super-secure-token","format":"%h
      %l %u %t \"%r\" %\u003es %b","placement":"none","format_version":"2","response_condition":"","version":"163","dataset":"testDataset"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
