---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/115/logging/honeycomb
    method: GET
  response:
    body: '[{"response_condition":"","created_at":"2025-06-04T15:10:36Z","format_version":"2","log_processing_region":"none","version":"115","placement":"waf_debug","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","format":"%h
      %l %u %t \"%r\" %\u003es %b","dataset":"testDataset","token":"super-secure-token","updated_at":"2025-06-04T15:10:36Z","name":"test-honeycomb"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
