---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/49/logging/honeycomb
    method: GET
  response:
    body: '[{"created_at":"2022-11-04T14:43:37Z","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"test-honeycomb","updated_at":"2022-11-04T14:43:37Z","deleted_at":null,"token":"super-secure-token","dataset":"testDataset","placement":"waf_debug","version":"49","response_condition":"","format":"%h
      %l %u %t \"%r\" %\u003es %b","format_version":"2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
