---
version: 1
interactions:
- request:
    body: dataset=newDataset&log_processing_region=eu&name=new-test-honeycomb&token=new-token
    form:
      dataset:
      - newDataset
      log_processing_region:
      - eu
      name:
      - new-test-honeycomb
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/115/logging/honeycomb/test-honeycomb
    method: PUT
  response:
    body: '{"placement":"waf_debug","log_processing_region":"eu","created_at":"2025-06-04T15:10:36Z","response_condition":"","dataset":"newDataset","updated_at":"2025-06-04T15:10:36Z","name":"new-test-honeycomb","format_version":"2","version":"115","token":"new-token","deleted_at":null,"format":"%h
      %l %u %t \"%r\" %\u003es %b","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9912"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
