---
version: 1
interactions:
- request:
    body: Name=test-honeycomb&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=71&dataset=newDataset&name=new-test-honeycomb&token=new-token
    form:
      Name:
      - test-honeycomb
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "71"
      dataset:
      - newDataset
      name:
      - new-test-honeycomb
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/71/logging/honeycomb/test-honeycomb
    method: PUT
  response:
    body: '{"name":"new-test-honeycomb","updated_at":"2021-11-03T16:53:42Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"71","deleted_at":null,"placement":"waf_debug","format":"%h
      %l %u %t \"%r\" %\u003es %b","dataset":"newDataset","created_at":"2021-11-03T16:53:42Z","format_version":"2","token":"new-token","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4843"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
