---
version: 1
interactions:
- request:
    body: Name=test-honeycomb&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=46&dataset=newDataset&name=new-test-honeycomb&token=new-token
    form:
      Name:
      - test-honeycomb
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "46"
      dataset:
      - newDataset
      name:
      - new-test-honeycomb
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/46/logging/honeycomb/test-honeycomb
    method: PUT
  response:
    body: '{"format_version":"2","dataset":"newDataset","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"version":"46","placement":"waf_debug","response_condition":"","format":"%h
      %l %u %t \"%r\" %\u003es %b","created_at":"2021-01-14T10:43:06Z","token":"new-token","name":"new-test-honeycomb","updated_at":"2021-01-14T10:43:06Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "695"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
