---
version: 1
interactions:
- request:
    body: '{"dataset":"newDataset","name":"new-test-honeycomb","placement":null,"log_processing_region":"eu","token":"new-token"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/163/logging/honeycomb/test-honeycomb
    method: PUT
  response:
    body: '{"token":"new-token","dataset":"newDataset","format":"%h %l %u %t \"%r\"
      %\u003es %b","deleted_at":null,"log_processing_region":"eu","created_at":"2026-07-23T19:29:23Z","format_version":"2","name":"new-test-honeycomb","updated_at":"2026-07-23T19:29:23Z","service_id":"kKJb5bOFI47uHeBVluGfX1","response_condition":"","version":"163","placement":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9815"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
