---
version: 1
interactions:
- request:
    body: dataset=newDataset&name=new-test-honeycomb&token=new-token
    form:
      dataset:
      - newDataset
      name:
      - new-test-honeycomb
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/49/logging/honeycomb/test-honeycomb
    method: PUT
  response:
    body: '{"version":"49","token":"new-token","placement":"waf_debug","dataset":"newDataset","format_version":"2","format":"%h
      %l %u %t \"%r\" %\u003es %b","response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2022-11-04T14:43:37Z","deleted_at":null,"updated_at":"2022-11-04T14:43:37Z","name":"new-test-honeycomb"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9972"
      Fastly-Ratelimit-Reset:
      - "1667574000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
