---
version: 1
interactions:
- request:
    body: dataset=newDataset&name=new-test-honeycomb&token=new-token
    form:
      dataset:
      - newDataset
      name:
      - new-test-honeycomb
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/18/logging/honeycomb/test-honeycomb
    method: PUT
  response:
    body: '{"response_condition":"","token":"new-token","name":"new-test-honeycomb","placement":null,"created_at":"2025-02-28T21:33:58Z","updated_at":"2025-02-28T21:33:58Z","service_id":"kKJb5bOFI47uHeBVluGfX1","format":"%h
      %l %u %t \"%r\" %\u003es %b","version":"18","format_version":"2","dataset":"newDataset","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9898"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
