---
version: 1
interactions:
- request:
    body: Name=test-honeycomb&Service=7i6HN3TK9wS159v2gPAZ8A&Version=118&dataset=newDataset&name=new-test-honeycomb&token=new-token
    form:
      Name:
      - test-honeycomb
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "118"
      dataset:
      - newDataset
      name:
      - new-test-honeycomb
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/118/logging/honeycomb/test-honeycomb
    method: PUT
  response:
    body: '{"deleted_at":null,"dataset":"newDataset","response_condition":"","version":"118","format":"%h
      %l %u %t \"%r\" %\u003es %b","placement":"waf_debug","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2020-05-08T11:24:21Z","format_version":"2","created_at":"2020-05-08T11:24:21Z","name":"new-test-honeycomb","token":"new-token"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "946"
      Fastly-Ratelimit-Reset:
      - "1588939200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
