---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=650&address=example.com&format=format&gzip_level=9&name=test-ftp&password=password&path=%2Fdir&period=12&port=1234&timestamp_format=%25Y&user=username
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "650"
      address:
      - example.com
      format:
      - format
      gzip_level:
      - "9"
      name:
      - test-ftp
      password:
      - password
      path:
      - /dir
      period:
      - "12"
      port:
      - "1234"
      timestamp_format:
      - '%Y'
      user:
      - username
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/650/logging/ftp
    method: POST
  response:
    body: '{"address":"example.com","format":"format","gzip_level":"9","name":"test-ftp","password":"password","path":"/dir","period":"12","port":"1234","timestamp_format":"%Y","user":"username","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"650","placement":null,"format_version":"2","hostname":"example.com","response_condition":"","public_key":null,"updated_at":"2017-04-17T16:00:56+00:00","message_type":"classic","ipv4":null,"deleted_at":null,"created_at":"2017-04-17T16:00:56+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "965"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
