---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=597&address=example.com&format=format&gzip_level=9&name=test-ftp&password=password&path=%2Fdir&period=12&port=1234&timestamp_format=%25Y&user=username
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "597"
      address:
      - example.com
      format:
      - format
      gzip_level:
      - "9"
      name:
      - test-ftp
      password:
      - password
      path:
      - /dir
      period:
      - "12"
      port:
      - "1234"
      timestamp_format:
      - '%Y'
      user:
      - username
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/597/logging/ftp
    method: POST
  response:
    body: '{"address":"example.com","format":"format","gzip_level":"9","name":"test-ftp","password":"password","path":"/dir","period":"12","port":"1234","timestamp_format":"%Y","user":"username","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"597","format_version":"1","hostname":"example.com","response_condition":"","public_key":null,"updated_at":"2016-06-29T22:27:32+00:00","message_type":"classic","ipv4":null,"deleted_at":null,"created_at":"2016-06-29T22:27:32+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "954"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
