---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=578&address=example.com&directory=%2F&format=format&gzip_level=9&name=test-ftp&password=password&period=12&port=1234&timestamp_format=%25Y&user=username
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "578"
      address:
      - example.com
      directory:
      - /
      format:
      - format
      gzip_level:
      - "9"
      name:
      - test-ftp
      password:
      - password
      period:
      - "12"
      port:
      - "1234"
      timestamp_format:
      - '%Y'
      user:
      - username
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/578/logging/ftp
    method: POST
  response:
    body: '{"address":"example.com","format":"format","gzip_level":"9","name":"test-ftp","password":"password","period":"12","port":"1234","timestamp_format":"%Y","user":"username","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"578","format_version":"1","hostname":"example.com","response_condition":"","updated_at":"2016-04-03T16:54:34+00:00","ipv4":null,"message_type":"classic","deleted_at":null,"path":null,"created_at":"2016-04-03T16:54:34+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "860"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
