---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/583/logging/ftp/test-ftp
    method: GET
  response:
    body: '{"format_version":"1","hostname":"example.com","password":"password","response_condition":"","gzip_level":"9","user":"username","address":"example.com","updated_at":"2016-04-04T14:48:13+00:00","message_type":"classic","period":"12","ipv4":null,"name":"test-ftp","port":"1234","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"583","deleted_at":null,"path":"/dir","created_at":"2016-04-04T14:48:13+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
