---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/650/logging/ftp
    method: GET
  response:
    body: '[{"placement":null,"format_version":"2","hostname":"example.com","password":"password","response_condition":"","gzip_level":"9","user":"username","address":"example.com","public_key":null,"updated_at":"2017-04-17T16:00:56+00:00","message_type":"classic","period":"12","ipv4":null,"name":"test-ftp","port":"1234","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"650","path":"/dir","deleted_at":null,"created_at":"2017-04-17T16:00:56+00:00","format":"format"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
