---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/597/logging/ftp
    method: GET
  response:
    body: '[{"format_version":"1","hostname":"example.com","password":"password","response_condition":"","gzip_level":"9","user":"username","address":"example.com","public_key":null,"updated_at":"2016-06-29T22:27:32+00:00","message_type":"classic","ipv4":null,"period":"12","name":"test-ftp","port":"1234","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"597","path":"/dir","deleted_at":null,"created_at":"2016-06-29T22:27:32+00:00","format":"format"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
