---
version: 1
interactions:
- request:
    body: Name=test-ftp&Service=7i6HN3TK9wS159v2gPAZ8A&Version=578&name=new-test-ftp
    form:
      Name:
      - test-ftp
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "578"
      name:
      - new-test-ftp
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/578/logging/ftp/test-ftp
    method: PUT
  response:
    body: '{"format_version":"1","hostname":"example.com","password":"password","response_condition":"","gzip_level":"9","user":"username","address":"example.com","updated_at":"2016-04-03T16:54:34+00:00","ipv4":null,"period":"12","message_type":"classic","name":"new-test-ftp","port":"1234","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"578","deleted_at":null,"path":null,"created_at":"2016-04-03T16:54:34+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "859"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
