---
version: 1
interactions:
- request:
    body: ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=86&content=abcd&content_type=text%2Fplain&name=test-response-object&response=Ok&status=200
    form:
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "86"
      content:
      - abcd
      content_type:
      - text/plain
      name:
      - test-response-object
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/86/response_object
    method: POST
  response:
    body: '{"content":"abcd","content_type":"text/plain","name":"test-response-object","response":"Ok","status":"200","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":"86","created_at":"2021-11-03T17:12:48Z","deleted_at":null,"updated_at":"2021-11-03T17:12:48Z","cache_condition":"","request_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4933"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
