---
version: 1
interactions:
- request:
    body: content=abcd&content_type=text%2Fplain&name=test-response-object&response=Ok&status=200
    form:
      content:
      - abcd
      content_type:
      - text/plain
      name:
      - test-response-object
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/92/response_object
    method: POST
  response:
    body: '{"content":"abcd","content_type":"text/plain","name":"test-response-object","response":"Ok","status":"200","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"92","updated_at":"2022-11-07T14:05:22Z","deleted_at":null,"request_condition":"","cache_condition":"","created_at":"2022-11-07T14:05:22Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9998"
      Fastly-Ratelimit-Reset:
      - "1667833200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
