---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=57&content=abcd&content_type=text%2Fplain&name=test-response-object&response=Ok&status=200
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "57"
      content:
      - abcd
      content_type:
      - text/plain
      name:
      - test-response-object
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/57/response_object
    method: POST
  response:
    body: '{"content":"abcd","content_type":"text/plain","name":"test-response-object","response":"Ok","status":"200","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"57","cache_condition":"","request_condition":"","created_at":"2021-01-14T10:46:50Z","updated_at":"2021-01-14T10:46:50Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "640"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
