---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/92/response_object/test-response-object
    method: GET
  response:
    body: '{"version":"92","content":"abcd","updated_at":"2022-11-07T14:05:22Z","content_type":"text/plain","status":"200","name":"test-response-object","request_condition":"","created_at":"2022-11-07T14:05:22Z","deleted_at":null,"cache_condition":"","response":"Ok","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
