---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/86/response_object/test-response-object
    method: GET
  response:
    body: '{"version":"86","service_id":"3QSsca5ilwNVpceZ2HJIAH","created_at":"2021-11-03T17:12:48Z","content":"abcd","response":"Ok","status":"200","name":"test-response-object","request_condition":"","cache_condition":"","deleted_at":null,"updated_at":"2021-11-03T17:12:48Z","content_type":"text/plain"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
