---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/36/response_object/test-response-object
    method: GET
  response:
    body: '{"cache_condition":"","content":"abcd","status":"200","content_type":"text/plain","request_condition":"","deleted_at":null,"response":"Ok","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"36","name":"test-response-object","created_at":"2019-05-09T22:07:01Z","updated_at":"2019-05-09T22:07:01Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
