---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/57/response_object/test-response-object
    method: GET
  response:
    body: '{"request_condition":"","content":"abcd","cache_condition":"","deleted_at":null,"content_type":"text/plain","status":"200","response":"Ok","name":"test-response-object","version":"57","created_at":"2021-01-14T10:46:50Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-01-14T10:46:50Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
