---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7AfpC5AR6GFm8x8edlSAFX/version/79/response_object/test-response-object
    method: GET
  response:
    body: '{"request_condition":"","deleted_at":null,"name":"test-response-object","version":"79","updated_at":"2021-11-26T07:19:36Z","content_type":"text/plain","service_id":"7AfpC5AR6GFm8x8edlSAFX","status":"200","created_at":"2021-11-26T07:19:36Z","cache_condition":"","content":"abcd","response":"Ok"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
