---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/86/response_object
    method: GET
  response:
    body: '[{"service_id":"3QSsca5ilwNVpceZ2HJIAH","response":"Ok","created_at":"2021-11-03T17:12:48Z","content":"abcd","updated_at":"2021-11-03T17:12:48Z","request_condition":"","deleted_at":null,"content_type":"text/plain","name":"test-response-object","version":"86","cache_condition":"","status":"200"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
