---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/57/response_object
    method: GET
  response:
    body: '[{"updated_at":"2021-01-14T10:46:50Z","content":"abcd","version":"57","deleted_at":null,"name":"test-response-object","created_at":"2021-01-14T10:46:50Z","response":"Ok","request_condition":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","content_type":"text/plain","status":"200","cache_condition":""}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
