---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/92/response_object
    method: GET
  response:
    body: '[{"status":"200","content":"abcd","response":"Ok","deleted_at":null,"request_condition":"","created_at":"2022-11-07T14:05:22Z","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"test-response-object","content_type":"text/plain","version":"92","cache_condition":"","updated_at":"2022-11-07T14:05:22Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
