---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/36/response_object
    method: GET
  response:
    body: '[{"cache_condition":"","content_type":"text/plain","status":"200","content":"abcd","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test-response-object","version":"36","updated_at":"2019-05-09T22:07:01Z","created_at":"2019-05-09T22:07:01Z","request_condition":"","response":"Ok","deleted_at":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
