---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/79/response_object
    method: GET
  response:
    body: '[{"version":"79","service_id":"7i6HN3TK9wS159v2gPAZ8A","response":"Ok","name":"test-response-object","content":"abcd","deleted_at":null,"updated_at":"2021-11-26T07:19:36Z","request_condition":"","cache_condition":"","content_type":"text/plain","created_at":"2021-11-26T07:19:36Z","status":"200"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
