---
version: 1
interactions:
- request:
    body: Name=test-response-object&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=86&name=new-test-response-object
    form:
      Name:
      - test-response-object
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "86"
      name:
      - new-test-response-object
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/86/response_object/test-response-object
    method: PUT
  response:
    body: '{"deleted_at":null,"created_at":"2021-11-03T17:12:48Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-11-03T17:12:48Z","version":"86","name":"new-test-response-object","cache_condition":"","request_condition":"","content_type":"text/plain","status":"200","response":"Ok","content":"abcd"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4932"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
