---
version: 1
interactions:
- request:
    body: Name=test-response-object&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=57&name=new-test-response-object
    form:
      Name:
      - test-response-object
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "57"
      name:
      - new-test-response-object
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/57/response_object/test-response-object
    method: PUT
  response:
    body: '{"content_type":"text/plain","response":"Ok","service_id":"7i6HN3TK9wS159v2gPAZ8A","content":"abcd","created_at":"2021-01-14T10:46:50Z","name":"new-test-response-object","request_condition":"","deleted_at":null,"cache_condition":"","status":"200","version":"57","updated_at":"2021-01-14T10:46:50Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "639"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
