---
version: 1
interactions:
- request:
    body: Name=test-response-object&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=79&name=new-test-response-object
    form:
      Name:
      - test-response-object
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "79"
      name:
      - new-test-response-object
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/79/response_object/test-response-object
    method: PUT
  response:
    body: '{"content":"abcd","created_at":"2021-11-26T07:19:36Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","request_condition":"","deleted_at":null,"content_type":"text/plain","status":"200","version":"79","response":"Ok","name":"new-test-response-object","cache_condition":"","updated_at":"2021-11-26T07:19:36Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4962"
      Fastly-Ratelimit-Reset:
      - "1637913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
