---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-response-object&Service=7i6HN3TK9wS159v2gPAZ8A&Version=36&name=new-test-response-object
    form:
      Name:
      - test-response-object
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "36"
      name:
      - new-test-response-object
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/36/response_object/test-response-object
    method: PUT
  response:
    body: '{"updated_at":"2019-05-09T22:07:01Z","cache_condition":"","request_condition":"","name":"new-test-response-object","deleted_at":null,"created_at":"2019-05-09T22:07:01Z","response":"Ok","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"36","content_type":"text/plain","content":"abcd","status":"200"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1557442800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
