---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-response-object&Service=7i6HN3TK9wS159v2gPAZ8A&Version=686&name=new-test-response-object
    form:
      Name:
      - test-response-object
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "686"
      name:
      - new-test-response-object
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/686/response_object/test-response-object
    method: PUT
  response:
    body: '{"response":"Ok","version":"686","status":"200","name":"new-test-response-object","content":"abcd","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","cache_condition":"","created_at":"2017-07-20T01:15:09+00:00","content_type":"text/plain","request_condition":"","updated_at":"2017-07-20T01:15:09+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "895"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
