---
version: 1
interactions:
- request:
    body: name=new-test-response-object
    form:
      name:
      - new-test-response-object
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/92/response_object/test-response-object
    method: PUT
  response:
    body: '{"deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","response":"Ok","name":"new-test-response-object","content_type":"text/plain","content":"abcd","updated_at":"2022-11-07T14:05:22Z","version":"92","status":"200","request_condition":"","cache_condition":"","created_at":"2022-11-07T14:05:22Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1667833200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
