---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/enabled-products/v1/log_explorer_insights/services/XsjdElScZGjmfCcTwsYRC1
    method: PUT
  response:
    body: |
      {"product":{"id":"log_explorer_insights","object":"product"},"service":{"id":"XsjdElScZGjmfCcTwsYRC1","object":"service"},"_links":{"self":"/enabled-products/v1/log_explorer_insights/services/XsjdElScZGjmfCcTwsYRC1"}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
