---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=554&name=test_dictionary
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "554"
      name:
      - test_dictionary
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/554/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":554,"id":"4ZxunxynT8A0PK50Vj1IJZ"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "993"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
