---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=662&name=test_dictionary
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "662"
      name:
      - test_dictionary
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/662/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":662,"created_at":"2017-04-17T16:01:01+00:00","deleted_at":null,"id":"PZNhYJvQZqiXEMZy25fUy","updated_at":"2017-04-17T16:01:01+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "897"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
