---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/592/dictionary/test_dictionary
    method: GET
  response:
    body: '{"created_at":"2016-06-29T22:27:27+00:00","version":592,"name":"test_dictionary","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","id":"58a41qUWIHn8NzaAUCxBjM","updated_at":"2016-06-29T22:27:27+00:00"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
