---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/662/dictionary
    method: GET
  response:
    body: '[{"created_at":"2017-04-17T16:01:01+00:00","version":662,"name":"test_dictionary","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","id":"PZNhYJvQZqiXEMZy25fUy","updated_at":"2017-04-17T16:01:01+00:00"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
