---
version: 1
interactions:
- request:
    body: '{"config":{"webhook":"https://example.webhook.office.com/webhookb2/test"},"description":"This
      is a test alert.","events":["flag"],"type":"microsoftteams"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: POST
  response:
    body: |
      {"id":"687004eb584b2ef2916e12ff","description":"This is a test alert.","type":"microsoftteams","config":{"webhook":"https://example.webhook.office.com/webhookb2/test"},"events":["flag"],"created_at":"2025-07-10T18:22:35Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
