---
version: 1
interactions:
- request:
    body: |
      {"data":[{"type":"waf_active_rule","attributes":{"modsec_rule_id":2029718,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":2037405,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":21032607,"revision":1,"status":"log"}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json; ext=bulk
    url: https://api.fastly.com/waf/firewalls/1bVzQr0yxJfEtuDsODo3Xv/versions/1/active-rules
    method: POST
  response:
    body: '{"data":[{"id":"3efBrtxYD6wJC8QhogsIsX","type":"waf_active_rule","attributes":{"created_at":"2021-01-14T10:27:48Z","latest_revision":1,"modsec_rule_id":2029718,"outdated":false,"revision":1,"status":"log","updated_at":"2021-01-14T10:27:48Z"},"relationships":{"waf_firewall_version":{"data":{"id":"6CxbuhG2nhlN9wdigqQfdd","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"6ZJML5tsy5uVq1nGNgmZ78","type":"waf_rule_revision"}}}},{"id":"3sk8kgDRFp55XXOhd4wHjy","type":"waf_active_rule","attributes":{"created_at":"2021-01-14T10:27:48Z","latest_revision":1,"modsec_rule_id":2037405,"outdated":false,"revision":1,"status":"log","updated_at":"2021-01-14T10:27:48Z"},"relationships":{"waf_firewall_version":{"data":{"id":"6CxbuhG2nhlN9wdigqQfdd","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"3ANlv7vVZdzk2qFXlJLIk3","type":"waf_rule_revision"}}}},{"id":"5e8C57QKYs2seZIVUQ5BY4","type":"waf_active_rule","attributes":{"created_at":"2021-01-14T10:27:48Z","latest_revision":1,"modsec_rule_id":21032607,"outdated":false,"revision":1,"status":"log","updated_at":"2021-01-14T10:27:48Z"},"relationships":{"waf_firewall_version":{"data":{"id":"6CxbuhG2nhlN9wdigqQfdd","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"168gOasZaIZ1Sr712NJLLn","type":"waf_rule_revision"}}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
    code: 201
    duration: ""
