---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=671&name=entry_acl
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "671"
      name:
      - entry_acl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/671/acl
    method: POST
  response:
    body: '{"name":"entry_acl","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"671","created_at":"2017-07-20T01:14:57+00:00","deleted_at":null,"id":"6aWRuJBATbCeLKOQ4BCLJU","updated_at":"2017-07-20T01:14:57+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "987"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
