---
version: 1
interactions:
- request:
    body: ServiceID=kKJb5bOFI47uHeBVluGfX1&ServiceVersion=57&address=integ-test.go-fastly.com&name=test-backend&ssl_check_cert=0
    form:
      ServiceID:
      - kKJb5bOFI47uHeBVluGfX1
      ServiceVersion:
      - "57"
      address:
      - integ-test.go-fastly.com
      name:
      - test-backend
      ssl_check_cert:
      - "0"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/57/backend
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","name":"test-backend","ssl_check_cert":false,"service_id":"kKJb5bOFI47uHeBVluGfX1","version":57,"use_ssl":false,"ssl_client_key":null,"ipv6":null,"updated_at":"2021-11-03T16:16:18Z","deleted_at":null,"ssl_ciphers":null,"max_conn":200,"error_threshold":0,"ssl_hostname":null,"ssl_client_cert":null,"weight":100,"first_byte_timeout":15000,"shield":null,"healthcheck":null,"connect_timeout":1000,"hostname":"integ-test.go-fastly.com","auto_loadbalance":false,"client_cert":null,"created_at":"2021-11-03T16:16:18Z","request_condition":"","min_tls_version":null,"between_bytes_timeout":10000,"ssl_sni_hostname":null,"comment":"","ssl_cert_hostname":null,"ssl_ca_cert":null,"port":80,"ipv4":null,"override_host":null,"max_tls_version":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4945"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
