---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/diff/from/680/to/695
    method: GET
  response:
    body: '{"from":"680","to":"695","format":"text","diff":" acls: []\n backends:
      []\n cache_settings: []\n comment: ''''\n conditions: []\n deployed: false\n
      dictionaries: []\n directors: []\n domains: []\n gzips: []\n headers: []\n healthchecks:
      []\n request_settings: []\n response_objects: []\n service_id: 7i6HN3TK9wS159v2gPAZ8A\n
      settings:\n   general.default_host: ''''\n   general.default_pci: 0\n   general.default_ttl:
      3600\n snippets: []\n staging: false\n testing: false\n vcls: []\n wordpress:
      []\n"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
