---
version: 1
interactions:
- request:
    body: '{"path":null,"public_key":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/193/logging/azureblob/new-test-blobstorage
    method: PUT
  response:
    body: '{"name":"new-test-blobstorage","format_version":"2","created_at":"2026-08-10T19:13:48Z","path":null,"message_type":"classic","period":"12","deleted_at":null,"sas_token":"sv=2015-04-05\u0026ss=b\u0026srt=sco\u0026sp=rw\u0026se=2030-07-21T18%3A00%3A00Z\u0026sig=3ABdLOJZosCp0o491T%2BqZGKIhafF1nlM3MzESDDD3Gg%3D","compression_codec":"zstd","version":"193","public_key":null,"account_name":"test","updated_at":"2026-08-10T19:13:56Z","log_processing_region":"eu","timestamp_format":"%Y-%m-%dT%H:%M:%S.000","format":"%h
      %l %u %{now}V %{req.method}V %{req.url}V %\u003es %{resp.http.Content-Length}V","container":"fastly","file_max_bytes":5242880,"service_id":"kKJb5bOFI47uHeBVluGfX1","response_condition":"","gzip_level":"0","placement":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9811"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
