---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/virtual-patches
    method: GET
  response:
    body: |
      {"data":[{"id":"CVE-2017-5638","description":"Apache Struts multipart/form remote execution","enabled":false,"mode":"log"},{"id":"CVE-2017-7269","description":"IIS 6.0 WebDAV buffer overflow","enabled":false,"mode":"log"},{"id":"CVE-2017-9805","description":"Apache Struts REST plugin remote execution","enabled":false,"mode":"log"},{"id":"CVE-2018-11776","description":"2018 Apache Struts remote code execution","enabled":false,"mode":"log"},{"id":"CVE-2018-9206","description":"jQuery-File-Upload \u003c= v9.22.0 unauthenticated arbitrary file upload vulnerability","enabled":false,"mode":"log"},{"id":"CVE-2019-63[...]
