---
version: 1
interactions:
- request:
    body: '{"ipv4":null,"tls_ca_cert":null,"tls_client_cert":null,"tls_client_key":null,"tls_hostname":null,"token":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/195/logging/syslog/new-test-syslog
    method: PUT
  response:
    body: '{"tls_hostname":null,"public_key":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","hostname":"example.com","format":"format","updated_at":"2026-08-10T19:14:09Z","port":"1234","token":null,"placement":null,"created_at":"2026-08-10T19:14:07Z","tls_ca_cert":null,"message_type":"classic","address":"example.com","tls_client_cert":null,"ipv4":null,"response_condition":"","log_processing_region":"eu","tls_client_key":null,"format_version":"2","version":"195","use_tls":"0","deleted_at":null,"name":"new-test-syslog"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9793"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
