---
version: 1
interactions:
- request:
    body: '{"config":{"key":"123456789"},"description":"This is a test alert.","events":["flag"],"type":"opsgenie"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: POST
  response:
    body: |
      {"id":"68700511b7498159a0cb0b9c","description":"This is a test alert.","type":"opsgenie","config":{"key":"123456789"},"events":["flag"],"created_at":"2025-07-10T18:23:13Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
