---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: GET
  response:
    body: |
      {"data":[{"id":"68700511b7498159a0cb0b9c","description":"This is a test alert.","type":"opsgenie","config":{"key":"987654321"},"events":["flag"],"created_at":"2025-07-10T18:23:13Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}],"meta":{"limit":100,"total":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
