---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/observability/service/kKJb5bOFI47uHeBVluGfX1/logging/errors?from=1775668708&to=1775669008
    method: GET
  response:
    body: |
      {"sequence_number":71,"error_time_us":1775668766119058,"stream":"logging_error","message":"request failed","endpoint":"Broken Log","details":"{\"level\":\"error\",\"error\":\"non-temporary request err: Get \\\"https://my-broken.logging.org/.well-known/fastly/logging/challenge\\\": lookup my-broken.logging.org. on 127.0.0.1:53: no such host\",\"name\":\"prebatch http challenge check\"}"}
      {"sequence_number":68,"error_time_us":1775668798631058,"stream":"logging_error","message":"request failed","endpoint":"Broken Log","details":"{\"level\":\"error\",\"error\":\"non-temporary request err: Get \\\"https://my-broken.logging.org/.well-known/fastly/logging/challenge\\\": lookup my-broken.logging.org. on 127.0.0.1:53: no such host\",\"name\":\"prebatch http challenge check\"}"}
      {"sequence_number":67,"error_time_us":1775668825364809,"strea[...]
