---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/121/logging/datadog/test-datadog
    method: GET
  response:
    body: '{"format_version":"2","region":"US","deleted_at":null,"log_processing_region":"none","created_at":"2026-07-23T19:42:23Z","name":"test-datadog","version":"121","service_id":"XsjdElScZGjmfCcTwsYRC1","response_condition":"","updated_at":"2026-07-23T19:42:23Z","placement":"none","token":"abcd1234","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
