---
version: 1
interactions:
- request:
    body: format_version=2&log_processing_region=eu&name=new-test-datadog&region=EU
    form:
      format_version:
      - "2"
      log_processing_region:
      - eu
      name:
      - new-test-datadog
      region:
      - EU
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/13/logging/datadog/test-datadog
    method: PUT
  response:
    body: '{"format_version":"2","token":"abcd1234","placement":"none","format":"format","version":"13","name":"new-test-datadog","log_processing_region":"eu","response_condition":"","created_at":"2025-08-29T19:51:08Z","service_id":"XsjdElScZGjmfCcTwsYRC1","region":"EU","updated_at":"2025-08-29T19:51:08Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9919"
      Fastly-Ratelimit-Reset:
      - "1756497600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
