---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/13/logging/datadog
    method: GET
  response:
    body: '[{"response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","deleted_at":null,"region":"US","log_processing_region":"none","format_version":"2","updated_at":"2025-08-29T19:51:08Z","version":"13","name":"test-datadog","token":"abcd1234","format":"format","created_at":"2025-08-29T19:51:08Z","placement":"none"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
