---
version: 1
interactions:
- request:
    body: format=format&name=test-datadog&placement=none&region=US&token=abcd1234
    form:
      format:
      - format
      name:
      - test-datadog
      placement:
      - none
      region:
      - US
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/13/logging/datadog
    method: POST
  response:
    body: '{"format":"format","name":"test-datadog","placement":"none","region":"US","token":"abcd1234","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"13","log_processing_region":"none","updated_at":"2025-08-29T19:51:08Z","format_version":"2","response_condition":"","created_at":"2025-08-29T19:51:08Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9920"
      Fastly-Ratelimit-Reset:
      - "1756497600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
