---
version: 1
interactions:
- request:
    body: '{"format_version":2,"name":"new-test-datadog","placement":"none","log_processing_region":"eu","region":"EU"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/121/logging/datadog/test-datadog
    method: PUT
  response:
    body: '{"placement":"none","created_at":"2026-07-23T19:42:23Z","format_version":"2","deleted_at":null,"version":"121","response_condition":"","name":"new-test-datadog","service_id":"XsjdElScZGjmfCcTwsYRC1","format":"format","log_processing_region":"eu","token":"abcd1234","region":"EU","updated_at":"2026-07-23T19:42:23Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9329"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
