---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/13/logging/datadog/test-datadog
    method: GET
  response:
    body: '{"region":"US","deleted_at":null,"updated_at":"2025-08-29T19:51:08Z","response_condition":"","created_at":"2025-08-29T19:51:08Z","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"13","format":"format","name":"test-datadog","log_processing_region":"none","format_version":"2","placement":"none","token":"abcd1234"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
