---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/121/logging/datadog
    method: GET
  response:
    body: '[{"deleted_at":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","log_processing_region":"none","placement":"none","created_at":"2026-07-23T19:42:23Z","token":"abcd1234","name":"test-datadog","response_condition":"","version":"121","format":"format","region":"US","format_version":"2","updated_at":"2026-07-23T19:42:23Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
