---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=103&format=format&name=test-datadog&placement=waf_debug&region=US&token=abcd1234
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "103"
      format:
      - format
      name:
      - test-datadog
      placement:
      - waf_debug
      region:
      - US
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/103/logging/datadog
    method: POST
  response:
    body: '{"format":"format","name":"test-datadog","placement":"waf_debug","region":"US","token":"abcd1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"103","created_at":"2020-05-08T09:31:13Z","response_condition":"","deleted_at":null,"updated_at":"2020-05-08T09:31:13Z","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "992"
      Fastly-Ratelimit-Reset:
      - "1588932000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
