---
version: 1
interactions:
- request:
    body: format=format&name=test-datadog&placement=waf_debug&region=US&token=abcd1234
    form:
      format:
      - format
      name:
      - test-datadog
      placement:
      - waf_debug
      region:
      - US
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/44/logging/datadog
    method: POST
  response:
    body: '{"format":"format","name":"test-datadog","placement":"waf_debug","region":"US","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"44","format_version":"2","created_at":"2022-11-04T13:29:41Z","deleted_at":null,"response_condition":"","updated_at":"2022-11-04T13:29:41Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9985"
      Fastly-Ratelimit-Reset:
      - "1667570400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
