---
version: 1
interactions:
- request:
    body: format=format&name=test-datadog&region=US&token=abcd1234
    form:
      format:
      - format
      name:
      - test-datadog
      region:
      - US
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/29/logging/datadog
    method: POST
  response:
    body: '{"format":"format","name":"test-datadog","region":"US","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"29","response_condition":"","created_at":"2025-02-28T21:34:01Z","updated_at":"2025-02-28T21:34:01Z","placement":null,"format_version":"2","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9836"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
