---
version: 1
interactions:
- request:
    body: format=format&name=test-datadog&placement=waf_debug&region=US&token=abcd1234
    form:
      format:
      - format
      name:
      - test-datadog
      placement:
      - waf_debug
      region:
      - US
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/108/logging/datadog
    method: POST
  response:
    body: '{"format":"format","name":"test-datadog","placement":"waf_debug","region":"US","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"108","updated_at":"2025-06-04T15:04:12Z","deleted_at":null,"log_processing_region":"none","format_version":"2","created_at":"2025-06-04T15:04:12Z","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9972"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
