---
version: 1
interactions:
- request:
    body: format=format&name=test-datadog&placement=none&region=US&token=abcd1234
    form:
      format:
      - format
      name:
      - test-datadog
      placement:
      - none
      region:
      - US
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/149/logging/datadog
    method: POST
  response:
    body: '{"format":"format","name":"test-datadog","placement":"none","region":"US","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"149","log_processing_region":"none","response_condition":"","updated_at":"2026-07-23T19:26:04Z","format_version":"2","created_at":"2026-07-23T19:26:04Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9998"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
