---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/54/logging/datadog/test-datadog
    method: GET
  response:
    body: '{"placement":"waf_debug","region":"US","format":"format","created_at":"2021-11-03T16:12:00Z","format_version":"2","updated_at":"2021-11-03T16:12:00Z","token":"abcd1234","response_condition":"","service_id":"3QSsca5ilwNVpceZ2HJIAH","name":"test-datadog","version":"54","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
