---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/29/logging/datadog/test-datadog
    method: GET
  response:
    body: '{"updated_at":"2025-02-28T21:34:01Z","token":"abcd1234","format_version":"2","version":"29","created_at":"2025-02-28T21:34:01Z","format":"format","deleted_at":null,"region":"US","service_id":"kKJb5bOFI47uHeBVluGfX1","placement":null,"response_condition":"","name":"test-datadog"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
