---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/108/logging/datadog/test-datadog
    method: GET
  response:
    body: '{"name":"test-datadog","format_version":"2","region":"US","format":"format","created_at":"2025-06-04T15:04:12Z","token":"abcd1234","deleted_at":null,"placement":"waf_debug","updated_at":"2025-06-04T15:04:12Z","response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","log_processing_region":"none","version":"108"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
