---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/32/logging/datadog/test-datadog
    method: GET
  response:
    body: '{"format_version":"2","placement":"waf_debug","token":"abcd1234","created_at":"2021-01-14T10:40:45Z","response_condition":"","version":"32","updated_at":"2021-01-14T10:40:45Z","name":"test-datadog","service_id":"7i6HN3TK9wS159v2gPAZ8A","format":"format","region":"US","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
