---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/103/logging/datadog/test-datadog
    method: GET
  response:
    body: '{"updated_at":"2020-05-08T09:31:13Z","deleted_at":null,"placement":"waf_debug","format":"format","format_version":"2","created_at":"2020-05-08T09:31:13Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","token":"abcd1234","response_condition":"","region":"US","name":"test-datadog","version":"103"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
