---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/149/logging/datadog/test-datadog
    method: GET
  response:
    body: '{"format":"format","version":"149","response_condition":"","name":"test-datadog","region":"US","service_id":"kKJb5bOFI47uHeBVluGfX1","token":"abcd1234","log_processing_region":"none","created_at":"2026-07-23T19:26:04Z","format_version":"2","updated_at":"2026-07-23T19:26:04Z","deleted_at":null,"placement":"none"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
