---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/103/logging/datadog
    method: GET
  response:
    body: '[{"response_condition":"","version":"103","deleted_at":null,"updated_at":"2020-05-08T09:31:13Z","name":"test-datadog","service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"2","region":"US","format":"format","created_at":"2020-05-08T09:31:13Z","token":"abcd1234","placement":"waf_debug"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
