---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/54/logging/datadog
    method: GET
  response:
    body: '[{"format":"format","placement":"waf_debug","format_version":"2","region":"US","response_condition":"","token":"abcd1234","created_at":"2021-11-03T16:12:00Z","name":"test-datadog","service_id":"3QSsca5ilwNVpceZ2HJIAH","updated_at":"2021-11-03T16:12:00Z","deleted_at":null,"version":"54"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
