---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/108/logging/datadog
    method: GET
  response:
    body: '[{"name":"test-datadog","service_id":"kKJb5bOFI47uHeBVluGfX1","format_version":"2","created_at":"2025-06-04T15:04:12Z","format":"format","placement":"waf_debug","response_condition":"","updated_at":"2025-06-04T15:04:12Z","deleted_at":null,"region":"US","version":"108","token":"abcd1234","log_processing_region":"none"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
