---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/32/logging/datadog
    method: GET
  response:
    body: '[{"deleted_at":null,"response_condition":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-01-14T10:40:45Z","version":"32","placement":"waf_debug","token":"abcd1234","name":"test-datadog","created_at":"2021-01-14T10:40:45Z","region":"US","format":"format","format_version":"2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
