---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/149/logging/datadog
    method: GET
  response:
    body: '[{"updated_at":"2026-07-23T19:26:04Z","version":"149","format_version":"2","region":"US","format":"format","placement":"none","log_processing_region":"none","service_id":"kKJb5bOFI47uHeBVluGfX1","response_condition":"","name":"test-datadog","created_at":"2026-07-23T19:26:04Z","token":"abcd1234","deleted_at":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
