---
version: 1
interactions:
- request:
    body: Name=test-datadog&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=54&format_version=2&name=new-test-datadog&region=EU
    form:
      Name:
      - test-datadog
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "54"
      format_version:
      - "2"
      name:
      - new-test-datadog
      region:
      - EU
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/54/logging/datadog/test-datadog
    method: PUT
  response:
    body: '{"response_condition":"","token":"abcd1234","created_at":"2021-11-03T16:12:00Z","name":"new-test-datadog","format":"format","placement":"waf_debug","updated_at":"2021-11-03T16:12:00Z","version":"54","region":"EU","deleted_at":null,"format_version":"2","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4997"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
