---
version: 1
interactions:
- request:
    body: format_version=2&log_processing_region=eu&name=new-test-datadog&region=EU
    form:
      format_version:
      - "2"
      log_processing_region:
      - eu
      name:
      - new-test-datadog
      region:
      - EU
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/108/logging/datadog/test-datadog
    method: PUT
  response:
    body: '{"version":"108","format_version":"2","token":"abcd1234","created_at":"2025-06-04T15:04:12Z","format":"format","name":"new-test-datadog","placement":"waf_debug","service_id":"kKJb5bOFI47uHeBVluGfX1","log_processing_region":"eu","region":"EU","updated_at":"2025-06-04T15:04:12Z","deleted_at":null,"response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9971"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
