---
version: 1
interactions:
- request:
    body: format_version=2&name=new-test-datadog&region=EU
    form:
      format_version:
      - "2"
      name:
      - new-test-datadog
      region:
      - EU
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/29/logging/datadog/test-datadog
    method: PUT
  response:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1","format":"format","format_version":"2","response_condition":"","created_at":"2025-02-28T21:34:01Z","deleted_at":null,"updated_at":"2025-02-28T21:34:01Z","region":"EU","placement":null,"name":"new-test-datadog","token":"abcd1234","version":"29"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9820"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
