---
version: 1
interactions:
- request:
    body: '{"format_version":2,"name":"new-test-datadog","placement":null,"log_processing_region":"eu","region":"EU"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/149/logging/datadog/test-datadog
    method: PUT
  response:
    body: '{"version":"149","placement":null,"created_at":"2026-07-23T19:26:04Z","log_processing_region":"eu","format_version":"2","region":"EU","token":"abcd1234","name":"new-test-datadog","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","format":"format","updated_at":"2026-07-23T19:26:04Z","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9995"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
