---
version: 1
interactions:
- request:
    body: Name=test-datadog&Service=7i6HN3TK9wS159v2gPAZ8A&Version=103&format_version=2&name=new-test-datadog&region=EU
    form:
      Name:
      - test-datadog
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "103"
      format_version:
      - "2"
      name:
      - new-test-datadog
      region:
      - EU
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/103/logging/datadog/test-datadog
    method: PUT
  response:
    body: '{"token":"abcd1234","response_condition":"","region":"EU","created_at":"2020-05-08T09:31:13Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"new-test-datadog","version":"103","placement":"waf_debug","deleted_at":null,"updated_at":"2020-05-08T09:31:13Z","format_version":"2","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "991"
      Fastly-Ratelimit-Reset:
      - "1588932000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
