---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/stores/config
    method: GET
  response:
    body: '[{"name":"TestClient_ListConfigStores-04","id":"8UDtzITTHrsry9Y3mD3Qp3","created_at":"2023-03-01T22:12:16Z","updated_at":"2023-03-01T22:12:16Z","deleted_at":null},{"name":"TestClient_ListConfigStores-03","id":"JGRpM0EfCxUP1DvU78CN72","created_at":"2023-03-01T22:12:16Z","updated_at":"2023-03-01T22:12:16Z","deleted_at":null},{"name":"TestClient_ListConfigStores-02","id":"uNRkaZuvLtEUIAkfOlQEY4","created_at":"2023-03-01T22:12:16Z","updated_at":"2023-03-01T22:12:16Z","deleted_at":null},{"name":"TestClient_ListConfigStores-01","id":"zgQ8sjuhm34fjFMWRMves0","created_at":"2023-03-01T22:12:16Z","updated_at":"2023-03-01T22:12:16Z","deleted_at":null},{"name":"TestClient_ListConfigStores-00","id":"ykdY5UTyffIVUCF34jRcb2","created_at":"2023-03-01T22:12:15Z","updated_at":"2023-03-01T22:12:15Z","deleted_at":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
