---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
      url: https://api.fastly.com/resources/stores/config?name=TestClient_ListConfigStores-00
      method: GET
    response:
      body: '[{"name":"TestClient_ListConfigStores-00","id":"ykdY5UTyffIVUCF34jRcb2","created_at":"2023-03-01T22:12:15Z","updated_at":"2023-03-01T22:12:15Z","deleted_at":null}]'
      headers:
        Content-Type:
          - application/json
        Status:
          - 200 OK
      status: 200 OK
      code: 200
      duration: ""
