---
version: 1
interactions:
- request:
    body: comment=test+filters&name=test-service-filters
    form:
      comment:
      - test filters
      name:
      - test-service-filters
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"4dOhK7xEkULiabovMyhRBu","comment":"test filters","name":"test-service-filters","type":"vcl","created_at":"2026-05-06T18:10:59Z","publish_key":"","deleted_at":null,"paused":false,"id":"DCsx1c14IixEK8PqF0TvqK","updated_at":"2026-05-06T18:10:59Z","versions":[{"service_id":"DCsx1c14IixEK8PqF0TvqK","testing":false,"deleted_at":null,"created_at":"2026-05-06T18:10:59Z","deployed":false,"number":1,"locked":false,"staging":false,"active":false,"comment":"","updated_at":"2026-05-06T18:10:59Z","environments":[]}],"environments":[]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9999"
      Fastly-Ratelimit-Reset:
      - "1778094000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
