---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tls/mutual_authentications/d6Sql38JQh71sAgelxSo37
    method: GET
  response:
    body: '{"data":{"id":"d6Sql38JQh71sAgelxSo37","type":"mutual_authentication","attributes":{"created_at":"2023-06-01T13:40:13.000Z","enforced":false,"name":"My
      mutual authentication","updated_at":"2023-06-01T13:40:13.000Z"},"relationships":{"tls_activations":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
