---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tls/mutual_authentications/ighDXgQbj0EH8utWHwfzn5
    method: GET
  response:
    body: '{"data":{"id":"ighDXgQbj0EH8utWHwfzn5","type":"mutual_authentication","attributes":{"created_at":"2023-05-30T16:30:10.000Z","enforced":true,"name":"My
      mutual authentication","updated_at":"2023-05-30T16:30:10.000Z"},"relationships":{"tls_activations":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
