---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tls/mutual_authentications
    method: GET
  response:
    body: '{"data":[{"id":"d6Sql38JQh71sAgelxSo37","type":"mutual_authentication","attributes":{"created_at":"2023-06-01T13:40:13.000Z","enforced":false,"name":"My
      mutual authentication","updated_at":"2023-06-01T13:40:13.000Z"},"relationships":{"tls_activations":{"data":[]}}}],"links":{"self":"https://api.fastly.com/tls/mutual_authentications?page%5Bnumber%5D=1\u0026page%5Bsize%5D=100","first":"https://api.fastly.com/tls/mutual_authentications?page%5Bnumber%5D=1\u0026page%5Bsize%5D=100","prev":null,"next":null,"last":"https://api.fastly.com/tls/mutual_authentications?page%5Bnumber%5D=1\u0026page%5Bsize%5D=100"},"meta":{"per_page":100,"current_page":1,"record_count":1,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
