---
version: 1
interactions:
- request:
    body: format=format&name=test-logentries&placement=none&port=0&region=us&token=abcd1234&use_tls=1
    form:
      format:
      - format
      name:
      - test-logentries
      placement:
      - none
      port:
      - "0"
      region:
      - us
      token:
      - abcd1234
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/26/logging/logentries
    method: POST
  response:
    body: '{"format":"format","name":"test-logentries","placement":"none","port":"0","region":"us","token":"abcd1234","use_tls":"1","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"26","hostname":null,"created_at":"2025-09-02T17:18:03Z","updated_at":"2025-09-02T17:18:03Z","format_version":"2","public_key":null,"deleted_at":null,"log_processing_region":"none","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9922"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
