---
version: 1
interactions:
- request:
    body: format=format&name=test-logentries&placement=none&port=0&region=us&token=abcd1234&use_tls=1
    form:
      format:
      - format
      name:
      - test-logentries
      placement:
      - none
      port:
      - "0"
      region:
      - us
      token:
      - abcd1234
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/110/logging/logentries
    method: POST
  response:
    body: '{"format":"format","name":"test-logentries","placement":"none","port":"0","region":"us","token":"abcd1234","use_tls":"1","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"110","hostname":null,"response_condition":"","deleted_at":null,"public_key":null,"updated_at":"2026-07-23T19:39:16Z","format_version":"2","created_at":"2026-07-23T19:39:16Z","log_processing_region":"none"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9435"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
