---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/110/logging/logentries/test-logentries
    method: GET
  response:
    body: '{"placement":"none","format_version":"2","log_processing_region":"none","region":"us","version":"110","deleted_at":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","name":"test-logentries","hostname":null,"use_tls":"1","port":"0","updated_at":"2026-07-23T19:39:16Z","public_key":null,"token":"abcd1234","created_at":"2026-07-23T19:39:16Z","response_condition":"","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
