---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/26/logging/logentries/test-logentries
    method: GET
  response:
    body: '{"token":"abcd1234","updated_at":"2025-09-02T17:18:03Z","format":"format","created_at":"2025-09-02T17:18:03Z","service_id":"XsjdElScZGjmfCcTwsYRC1","format_version":"2","public_key":null,"region":"us","log_processing_region":"none","deleted_at":null,"placement":"none","name":"test-logentries","version":"26","port":"0","response_condition":"","hostname":null,"use_tls":"1"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
