---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/26/logging/logentries
    method: GET
  response:
    body: '[{"format_version":"2","log_processing_region":"none","placement":"none","created_at":"2025-09-02T17:18:03Z","public_key":null,"version":"26","token":"abcd1234","name":"test-logentries","use_tls":"1","format":"format","updated_at":"2025-09-02T17:18:03Z","hostname":null,"response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","deleted_at":null,"port":"0","region":"us"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
