---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/110/logging/logentries
    method: GET
  response:
    body: '[{"format":"format","token":"abcd1234","use_tls":"1","port":"0","updated_at":"2026-07-23T19:39:16Z","log_processing_region":"none","created_at":"2026-07-23T19:39:16Z","name":"test-logentries","region":"us","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"110","public_key":null,"placement":"none","response_condition":"","hostname":null,"format_version":"2","deleted_at":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
