---
version: 1
interactions:
- request:
    body: '{"format_version":2,"name":"new-test-logentries","placement":"none","log_processing_region":"eu","region":"ap"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/110/logging/logentries/test-logentries
    method: PUT
  response:
    body: '{"token":"abcd1234","created_at":"2026-07-23T19:39:16Z","public_key":null,"hostname":"","placement":"none","region":"ap","deleted_at":null,"use_tls":"1","version":"110","response_condition":"","log_processing_region":"eu","service_id":"XsjdElScZGjmfCcTwsYRC1","name":"new-test-logentries","updated_at":"2026-07-23T19:39:16Z","port":0,"format_version":"2","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9430"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
