---
version: 1
interactions:
- request:
    body: format_version=2&log_processing_region=eu&name=new-test-logentries&region=ap
    form:
      format_version:
      - "2"
      log_processing_region:
      - eu
      name:
      - new-test-logentries
      region:
      - ap
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/26/logging/logentries/test-logentries
    method: PUT
  response:
    body: '{"format_version":"2","log_processing_region":"eu","updated_at":"2025-09-02T17:18:03Z","hostname":"","public_key":null,"placement":"none","created_at":"2025-09-02T17:18:03Z","use_tls":"1","format":"format","version":"26","name":"new-test-logentries","token":"abcd1234","service_id":"XsjdElScZGjmfCcTwsYRC1","response_condition":"","port":0,"deleted_at":null,"region":"ap"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9921"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
