---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/v1/event-mappings/event-types?scope_type=account
    method: GET
  response:
    body: |
      {"data":[{"event_type":"address.create","display_name":"Address: Create","scope_types":["account"]},{"event_type":"address.delete","display_name":"Address: Delete","scope_types":["account"]},{"event_type":"address.update","display_name":"Address: Update","scope_types":["account"]},{"event_type":"alerts.definition.create","display_name":"Alert: Create","scope_types":["account"]},{"event_type":"alerts.definition.delete","display_name":"Alert: Delete","scope_types":["account"]},{"event_type":"alerts.definition.test","display_name":"Alert: Test","scope_types":["account"]},{"event_type[...]
