---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=74&access_key=AKIAIOSFODNN7EXAMPLE&format=format&format_version=2&name=test-kinesis&placement=waf_debug&region=us-east-1&secret_key=wJalrXUtnFEMI%2FK7MDENG%2FbPxRfiCYEXAMPLEKEY&topic=stream-name
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "74"
      access_key:
      - AKIAIOSFODNN7EXAMPLE
      format:
      - format
      format_version:
      - "2"
      name:
      - test-kinesis
      placement:
      - waf_debug
      region:
      - us-east-1
      secret_key:
      - wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      topic:
      - stream-name
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/74/logging/kinesis
    method: POST
  response:
    body: '{"access_key":"AKIAIOSFODNN7EXAMPLE","format":"format","format_version":"2","name":"test-kinesis","placement":"waf_debug","region":"us-east-1","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","topic":"stream-name","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"74","created_at":"2021-11-03T16:56:46Z","updated_at":"2021-11-03T16:56:46Z","response_condition":"","iam_role":null,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4826"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
