---
version: 1
interactions:
- request:
    body: format=format&format_version=2&iam_role=arn%3Aaws%3Aiam%3A%3A123456789012%3Arole%2FS3Access&name=test-kinesis-2&region=us-east-1&topic=stream-name
    form:
      format:
      - format
      format_version:
      - "2"
      iam_role:
      - arn:aws:iam::123456789012:role/S3Access
      name:
      - test-kinesis-2
      region:
      - us-east-1
      topic:
      - stream-name
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/24/logging/kinesis
    method: POST
  response:
    body: '{"format":"format","format_version":"2","iam_role":"arn:aws:iam::123456789012:role/S3Access","name":"test-kinesis-2","region":"us-east-1","topic":"stream-name","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"24","updated_at":"2025-02-28T21:34:00Z","response_condition":"","placement":null,"created_at":"2025-02-28T21:34:00Z","secret_key":null,"access_key":null,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9860"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
