---
version: 1
interactions:
- request:
    body: ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=74&format=format&format_version=2&iam_role=arn%3Aaws%3Aiam%3A%3A123456789012%3Arole%2FS3Access&name=test-kinesis-2&placement=waf_debug&region=us-east-1&topic=stream-name
    form:
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "74"
      format:
      - format
      format_version:
      - "2"
      iam_role:
      - arn:aws:iam::123456789012:role/S3Access
      name:
      - test-kinesis-2
      placement:
      - waf_debug
      region:
      - us-east-1
      topic:
      - stream-name
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/74/logging/kinesis
    method: POST
  response:
    body: '{"format":"format","format_version":"2","iam_role":"arn:aws:iam::123456789012:role/S3Access","name":"test-kinesis-2","placement":"waf_debug","region":"us-east-1","topic":"stream-name","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":"74","access_key":null,"secret_key":null,"created_at":"2021-11-03T16:56:46Z","response_condition":"","updated_at":"2021-11-03T16:56:46Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4825"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
