---
version: 1
interactions:
- request:
    body: access_key=AKIAIOSFODNN7EXAMPLE&format=format&format_version=2&name=test-kinesis&placement=none&region=us-east-1&secret_key=wJalrXUtnFEMI%2FK7MDENG%2FbPxRfiCYEXAMPLEKEY&topic=stream-name
    form:
      access_key:
      - AKIAIOSFODNN7EXAMPLE
      format:
      - format
      format_version:
      - "2"
      name:
      - test-kinesis
      placement:
      - none
      region:
      - us-east-1
      secret_key:
      - wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      topic:
      - stream-name
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/160/logging/kinesis
    method: POST
  response:
    body: '{"access_key":"AKIAIOSFODNN7EXAMPLE","format":"format","format_version":"2","name":"test-kinesis","placement":"none","region":"us-east-1","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","topic":"stream-name","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"160","created_at":"2026-07-23T19:29:04Z","iam_role":null,"deleted_at":null,"response_condition":"","log_processing_region":"none","updated_at":"2026-07-23T19:29:04Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9857"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
