---
version: 1
interactions:
- request:
    body: format=format&format_version=2&iam_role=arn%3Aaws%3Aiam%3A%3A123456789012%3Arole%2FS3Access&name=test-kinesis-2&placement=none&region=us-east-1&topic=stream-name
    form:
      format:
      - format
      format_version:
      - "2"
      iam_role:
      - arn:aws:iam::123456789012:role/S3Access
      name:
      - test-kinesis-2
      placement:
      - none
      region:
      - us-east-1
      topic:
      - stream-name
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/160/logging/kinesis
    method: POST
  response:
    body: '{"format":"format","format_version":"2","iam_role":"arn:aws:iam::123456789012:role/S3Access","name":"test-kinesis-2","placement":"none","region":"us-east-1","topic":"stream-name","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"160","secret_key":null,"response_condition":"","deleted_at":null,"updated_at":"2026-07-23T19:29:07Z","created_at":"2026-07-23T19:29:07Z","log_processing_region":"none","access_key":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9853"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
