---
version: 1
interactions:
- request:
    body: access_key=AKIAIOSFODNN7EXAMPLE&format=format&format_version=2&name=test-kinesis&placement=waf_debug&region=us-east-1&secret_key=wJalrXUtnFEMI%2FK7MDENG%2FbPxRfiCYEXAMPLEKEY&topic=stream-name
    form:
      access_key:
      - AKIAIOSFODNN7EXAMPLE
      format:
      - format
      format_version:
      - "2"
      name:
      - test-kinesis
      placement:
      - waf_debug
      region:
      - us-east-1
      secret_key:
      - wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      topic:
      - stream-name
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/118/logging/kinesis
    method: POST
  response:
    body: '{"access_key":"AKIAIOSFODNN7EXAMPLE","format":"format","format_version":"2","name":"test-kinesis","placement":"waf_debug","region":"us-east-1","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","topic":"stream-name","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"118","created_at":"2025-06-04T15:17:26Z","log_processing_region":"none","iam_role":null,"response_condition":"","updated_at":"2025-06-04T15:17:26Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9895"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
