---
version: 1
interactions:
- request:
    body: format=format&format_version=2&iam_role=arn%3Aaws%3Aiam%3A%3A123456789012%3Arole%2FS3Access&name=test-kinesis-2&placement=waf_debug&region=us-east-1&topic=stream-name
    form:
      format:
      - format
      format_version:
      - "2"
      iam_role:
      - arn:aws:iam::123456789012:role/S3Access
      name:
      - test-kinesis-2
      placement:
      - waf_debug
      region:
      - us-east-1
      topic:
      - stream-name
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/62/logging/kinesis
    method: POST
  response:
    body: '{"format":"format","format_version":"2","iam_role":"arn:aws:iam::123456789012:role/S3Access","name":"test-kinesis-2","placement":"waf_debug","region":"us-east-1","topic":"stream-name","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"62","created_at":"2022-11-04T16:11:58Z","secret_key":null,"access_key":null,"updated_at":"2022-11-04T16:11:58Z","deleted_at":null,"response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9989"
      Fastly-Ratelimit-Reset:
      - "1667581200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
