---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/21/logging/kinesis/test-kinesis
    method: GET
  response:
    body: '{"created_at":"2021-04-05T13:02:15Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-04-05T13:02:15Z","access_key":"AKIAIOSFODNN7EXAMPLE","version":"21","format":"format","placement":"waf_debug","response_condition":"","iam_role":null,"deleted_at":null,"topic":"stream-name","region":"us-east-1","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","format_version":"2","name":"test-kinesis"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
