---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/118/logging/kinesis/test-kinesis
    method: GET
  response:
    body: '{"name":"test-kinesis","iam_role":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","format_version":"2","format":"format","created_at":"2025-06-04T15:17:26Z","placement":"waf_debug","access_key":"AKIAIOSFODNN7EXAMPLE","deleted_at":null,"updated_at":"2025-06-04T15:17:26Z","response_condition":"","region":"us-east-1","version":"118","log_processing_region":"none","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","topic":"stream-name"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
