---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/66/logging/kinesis/test-kinesis
    method: GET
  response:
    body: '{"updated_at":"2021-01-14T11:10:02Z","name":"test-kinesis","created_at":"2021-01-14T11:10:02Z","response_condition":"","format":"format","region":"us-east-1","placement":"waf_debug","version":"66","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","topic":"stream-name","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","access_key":"AKIAIOSFODNN7EXAMPLE","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
