---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/201/logging/kinesis/test-kinesis
    method: GET
  response:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2026-08-10T19:14:47Z","placement":"none","version":"201","deleted_at":null,"format_version":"2","iam_role":null,"response_condition":"","region":"us-east-1","log_processing_region":"none","access_key":"AKIAIOSFODNN7EXAMPLE","topic":"stream-name","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","updated_at":"2026-08-10T19:14:47Z","name":"test-kinesis","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
