---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/74/logging/kinesis/test-kinesis
    method: GET
  response:
    body: '{"iam_role":null,"deleted_at":null,"version":"74","name":"test-kinesis","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","response_condition":"","topic":"stream-name","access_key":"AKIAIOSFODNN7EXAMPLE","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-11-03T16:56:46Z","format_version":"2","region":"us-east-1","format":"format","created_at":"2021-11-03T16:56:46Z","placement":"waf_debug"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
