---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/24/logging/kinesis/test-kinesis
    method: GET
  response:
    body: '{"deleted_at":null,"topic":"stream-name","access_key":"AKIAIOSFODNN7EXAMPLE","service_id":"kKJb5bOFI47uHeBVluGfX1","region":"us-east-1","format":"format","name":"test-kinesis","placement":null,"response_condition":"","updated_at":"2025-02-28T21:34:00Z","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","format_version":"2","iam_role":null,"created_at":"2025-02-28T21:34:00Z","version":"24"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
