---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/62/logging/kinesis/test-kinesis
    method: GET
  response:
    body: '{"version":"62","response_condition":"","topic":"stream-name","service_id":"kKJb5bOFI47uHeBVluGfX1","iam_role":null,"placement":"waf_debug","format_version":"2","region":"us-east-1","updated_at":"2022-11-04T16:11:57Z","format":"format","created_at":"2022-11-04T16:11:57Z","name":"test-kinesis","access_key":"AKIAIOSFODNN7EXAMPLE","deleted_at":null,"secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
