---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/160/logging/kinesis/test-kinesis
    method: GET
  response:
    body: '{"placement":"none","created_at":"2026-07-23T19:29:04Z","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"160","log_processing_region":"none","name":"test-kinesis","deleted_at":null,"iam_role":null,"format":"format","updated_at":"2026-07-23T19:29:04Z","topic":"stream-name","region":"us-east-1","response_condition":"","format_version":"2","access_key":"AKIAIOSFODNN7EXAMPLE","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
