---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/21/logging/kinesis/test-kinesis-2
    method: GET
  response:
    body: '{"iam_role":"arn:aws:iam::123456789012:role/S3Access","deleted_at":null,"placement":"waf_debug","secret_key":null,"topic":"stream-name","name":"test-kinesis-2","region":"us-east-1","version":"21","response_condition":"","created_at":"2021-04-05T13:02:16Z","format_version":"2","updated_at":"2021-04-05T13:02:16Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","format":"format","access_key":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
