---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/74/logging/kinesis/test-kinesis-2
    method: GET
  response:
    body: '{"placement":"waf_debug","region":"us-east-1","format":"format","created_at":"2021-11-03T16:56:46Z","format_version":"2","updated_at":"2021-11-03T16:56:46Z","secret_key":null,"response_condition":"","service_id":"3QSsca5ilwNVpceZ2HJIAH","topic":"stream-name","access_key":null,"name":"test-kinesis-2","iam_role":"arn:aws:iam::123456789012:role/S3Access","deleted_at":null,"version":"74"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
