---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/118/logging/kinesis/test-kinesis-2
    method: GET
  response:
    body: '{"name":"test-kinesis-2","placement":"waf_debug","secret_key":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"updated_at":"2025-06-04T15:17:27Z","access_key":null,"version":"118","created_at":"2025-06-04T15:17:27Z","topic":"stream-name","format_version":"2","format":"format","iam_role":"arn:aws:iam::123456789012:role/S3Access","log_processing_region":"none","response_condition":"","region":"us-east-1"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
