---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/160/logging/kinesis/test-kinesis-2
    method: GET
  response:
    body: '{"iam_role":"arn:aws:iam::123456789012:role/S3Access","created_at":"2026-07-23T19:29:07Z","log_processing_region":"none","updated_at":"2026-07-23T19:29:07Z","deleted_at":null,"placement":"none","topic":"stream-name","format_version":"2","version":"160","response_condition":"","secret_key":null,"format":"format","service_id":"kKJb5bOFI47uHeBVluGfX1","access_key":null,"name":"test-kinesis-2","region":"us-east-1"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
