---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/24/logging/kinesis/test-kinesis-2
    method: GET
  response:
    body: '{"placement":null,"updated_at":"2025-02-28T21:34:00Z","created_at":"2025-02-28T21:34:00Z","name":"test-kinesis-2","service_id":"kKJb5bOFI47uHeBVluGfX1","secret_key":null,"response_condition":"","access_key":null,"iam_role":"arn:aws:iam::123456789012:role/S3Access","region":"us-east-1","version":"24","format":"format","format_version":"2","topic":"stream-name","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
