---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/74/logging/kinesis
    method: GET
  response:
    body: '[{"created_at":"2021-11-03T16:56:46Z","name":"test-kinesis","service_id":"3QSsca5ilwNVpceZ2HJIAH","format_version":"2","updated_at":"2021-11-03T16:56:46Z","region":"us-east-1","response_condition":"","format":"format","topic":"stream-name","placement":"waf_debug","iam_role":null,"secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","access_key":"AKIAIOSFODNN7EXAMPLE","deleted_at":null,"version":"74"},{"format_version":"2","service_id":"3QSsca5ilwNVpceZ2HJIAH","name":"test-kinesis-2","created_at":"2021-11-03T16:56:46Z","version":"74","deleted_at":null,"access_key":null,"iam_role":"arn:aws:iam::123456789012:role/S3Access","secret_key":null,"placement":"waf_debug","topic":"stream-name","format":"format","response_condition":"","region":"us-east-1","updated_at":"2021-11-03T16:56:46Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
