---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/66/logging/kinesis
    method: GET
  response:
    body: '[{"placement":"waf_debug","deleted_at":null,"version":"66","name":"test-kinesis","region":"us-east-1","service_id":"7i6HN3TK9wS159v2gPAZ8A","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","updated_at":"2021-01-14T11:10:02Z","format_version":"2","access_key":"AKIAIOSFODNN7EXAMPLE","topic":"stream-name","response_condition":"","format":"format","created_at":"2021-01-14T11:10:02Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
