---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/24/logging/kinesis
    method: GET
  response:
    body: '[{"deleted_at":null,"updated_at":"2025-02-28T21:34:00Z","format":"format","iam_role":null,"name":"test-kinesis","version":"24","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","placement":null,"created_at":"2025-02-28T21:34:00Z","region":"us-east-1","service_id":"kKJb5bOFI47uHeBVluGfX1","format_version":"2","access_key":"AKIAIOSFODNN7EXAMPLE","response_condition":"","topic":"stream-name"},{"version":"24","placement":null,"secret_key":null,"format":"format","updated_at":"2025-02-28T21:34:00Z","deleted_at":null,"iam_role":"arn:aws:iam::123456789012:role/S3Access","name":"test-kinesis-2","access_key":null,"topic":"stream-name","response_condition":"","region":"us-east-1","created_at":"2025-02-28T21:34:00Z","service_id":"kKJb5bOFI47uHeBVluGfX1","format_version":"2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
