---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/201/logging/kinesis
    method: GET
  response:
    body: '[{"access_key":"AKIAIOSFODNN7EXAMPLE","placement":"none","name":"test-kinesis","format_version":"2","service_id":"kKJb5bOFI47uHeBVluGfX1","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","log_processing_region":"none","response_condition":"","deleted_at":null,"format":"format","iam_role":null,"updated_at":"2026-08-10T19:14:47Z","region":"us-east-1","version":"201","topic":"stream-name","created_at":"2026-08-10T19:14:47Z"},{"access_key":null,"placement":"none","name":"test-kinesis-2","format_version":"2","service_id":"kKJb5bOFI47uHeBVluGfX1","secret_key":null,"log_processing_region":"none","format":"format","response_condition":"","deleted_at":null,"iam_role":"arn:aws:iam::123456789012:role/S3Access","updated_at":"2026-08-10T19:14:49Z","version":"201","region":"us-east-1","topic":"stream-name","created_at":"2026-08-10T19:14:49Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
