---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/160/logging/kinesis
    method: GET
  response:
    body: '[{"version":"160","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","updated_at":"2026-07-23T19:29:04Z","topic":"stream-name","region":"us-east-1","created_at":"2026-07-23T19:29:04Z","name":"test-kinesis","format_version":"2","format":"format","response_condition":"","deleted_at":null,"access_key":"AKIAIOSFODNN7EXAMPLE","service_id":"kKJb5bOFI47uHeBVluGfX1","iam_role":null,"log_processing_region":"none","placement":"none"},{"format_version":"2","created_at":"2026-07-23T19:29:07Z","name":"test-kinesis-2","region":"us-east-1","topic":"stream-name","updated_at":"2026-07-23T19:29:07Z","version":"160","secret_key":null,"placement":"none","log_processing_region":"none","iam_role":"arn:aws:iam::123456789012:role/S3Access","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"access_key":null,"response_condition":"","format":"format"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
