---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/21/logging/kinesis
    method: GET
  response:
    body: '[{"access_key":"AKIAIOSFODNN7EXAMPLE","topic":"stream-name","version":"21","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","format_version":"2","name":"test-kinesis","iam_role":null,"format":"format","updated_at":"2021-04-05T13:02:15Z","placement":"waf_debug","created_at":"2021-04-05T13:02:15Z","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","response_condition":"","region":"us-east-1"},{"name":"test-kinesis-2","format_version":"2","secret_key":null,"version":"21","access_key":null,"topic":"stream-name","region":"us-east-1","response_condition":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"created_at":"2021-04-05T13:02:16Z","placement":"waf_debug","updated_at":"2021-04-05T13:02:16Z","iam_role":"arn:aws:iam::123456789012:role/S3Access","format":"format"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
