---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/62/logging/kinesis
    method: GET
  response:
    body: '[{"access_key":"AKIAIOSFODNN7EXAMPLE","created_at":"2022-11-04T16:11:57Z","format_version":"2","topic":"stream-name","updated_at":"2022-11-04T16:11:57Z","response_condition":"","deleted_at":null,"version":"62","region":"us-east-1","service_id":"kKJb5bOFI47uHeBVluGfX1","format":"format","placement":"waf_debug","iam_role":null,"secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","name":"test-kinesis"},{"placement":"waf_debug","secret_key":null,"iam_role":"arn:aws:iam::123456789012:role/S3Access","name":"test-kinesis-2","version":"62","service_id":"kKJb5bOFI47uHeBVluGfX1","region":"us-east-1","format":"format","topic":"stream-name","updated_at":"2022-11-04T16:11:58Z","response_condition":"","deleted_at":null,"access_key":null,"created_at":"2022-11-04T16:11:58Z","format_version":"2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
