---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/118/logging/kinesis
    method: GET
  response:
    body: '[{"updated_at":"2025-06-04T15:17:26Z","created_at":"2025-06-04T15:17:26Z","topic":"stream-name","format":"format","response_condition":"","region":"us-east-1","service_id":"kKJb5bOFI47uHeBVluGfX1","placement":"waf_debug","deleted_at":null,"version":"118","log_processing_region":"none","access_key":"AKIAIOSFODNN7EXAMPLE","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","format_version":"2","name":"test-kinesis","iam_role":null},{"format_version":"2","name":"test-kinesis-2","iam_role":"arn:aws:iam::123456789012:role/S3Access","deleted_at":null,"placement":"waf_debug","access_key":null,"secret_key":null,"log_processing_region":"none","version":"118","region":"us-east-1","response_condition":"","topic":"stream-name","format":"format","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2025-06-04T15:17:27Z","updated_at":"2025-06-04T15:17:27Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
