---
version: 1
interactions:
- request:
    body: name=new-test-kinesis
    form:
      name:
      - new-test-kinesis
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/62/logging/kinesis/test-kinesis
    method: PUT
  response:
    body: '{"response_condition":"","iam_role":null,"access_key":"AKIAIOSFODNN7EXAMPLE","placement":"waf_debug","region":"us-east-1","version":"62","deleted_at":null,"updated_at":"2022-11-04T16:11:57Z","topic":"stream-name","service_id":"kKJb5bOFI47uHeBVluGfX1","format":"format","created_at":"2022-11-04T16:11:57Z","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","name":"new-test-kinesis","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9986"
      Fastly-Ratelimit-Reset:
      - "1667581200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
