---
version: 1
interactions:
- request:
    body: '{"access_key":"","iam_role":"arn:aws:iam::123456789012:role/S3Access","placement":null,"secret_key":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/201/logging/kinesis/new-test-kinesis
    method: PUT
  response:
    body: '{"updated_at":"2026-08-10T19:14:59Z","version":"201","region":"us-east-1","name":"new-test-kinesis","response_condition":"","iam_role":"arn:aws:iam::123456789012:role/S3Access","secret_key":"","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"topic":"stream-name","created_at":"2026-08-10T19:14:47Z","format_version":"2","format":"format","log_processing_region":"eu","placement":null,"access_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9716"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
