---
version: 1
interactions:
- request:
    body: '{"access_key":"AKIAIOSFODNN7EXAMPLE","iam_role":"","placement":null,"secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/201/logging/kinesis/test-kinesis-2
    method: PUT
  response:
    body: '{"secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","format_version":"2","log_processing_region":"none","region":"us-east-1","response_condition":"","topic":"stream-name","version":"201","name":"test-kinesis-2","deleted_at":null,"format":"format","access_key":"AKIAIOSFODNN7EXAMPLE","service_id":"kKJb5bOFI47uHeBVluGfX1","iam_role":"","placement":null,"updated_at":"2026-08-10T19:14:49Z","created_at":"2026-08-10T19:14:49Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9713"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
