---
version: 1
interactions:
- request:
    body: '{"name":"new-test-kinesis","placement":null,"log_processing_region":"eu"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/201/logging/kinesis/test-kinesis
    method: PUT
  response:
    body: '{"format_version":"2","iam_role":null,"format":"format","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","topic":"stream-name","access_key":"AKIAIOSFODNN7EXAMPLE","name":"new-test-kinesis","created_at":"2026-08-10T19:14:47Z","updated_at":"2026-08-10T19:14:47Z","placement":null,"region":"us-east-1","version":"201","response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"log_processing_region":"eu"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9719"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
