---
version: 1
interactions:
- request:
    body: '{"iam_role":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/201/logging/kinesis/test-kinesis-2
    method: PUT
  response:
    body: '{"response_condition":"","region":"us-east-1","placement":null,"updated_at":"2026-08-10T19:15:08Z","version":"201","log_processing_region":"none","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","format":"format","iam_role":null,"topic":"stream-name","format_version":"2","access_key":"AKIAIOSFODNN7EXAMPLE","created_at":"2026-08-10T19:14:49Z","name":"test-kinesis-2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9708"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
