---
version: 1
interactions:
- request:
    body: access_key=&iam_role=arn%3Aaws%3Aiam%3A%3A123456789012%3Arole%2FS3Access&secret_key=
    form:
      access_key:
      - ""
      iam_role:
      - arn:aws:iam::123456789012:role/S3Access
      secret_key:
      - ""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/118/logging/kinesis/new-test-kinesis
    method: PUT
  response:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1","format":"format","iam_role":"arn:aws:iam::123456789012:role/S3Access","updated_at":"2025-06-04T15:17:28Z","name":"new-test-kinesis","log_processing_region":"eu","version":"118","placement":"waf_debug","topic":"stream-name","deleted_at":null,"created_at":"2025-06-04T15:17:26Z","format_version":"2","access_key":"","secret_key":"","response_condition":"","region":"us-east-1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9890"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
