---
version: 1
interactions:
- request:
    body: name=new-test-kinesis
    form:
      name:
      - new-test-kinesis
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/24/logging/kinesis/test-kinesis
    method: PUT
  response:
    body: '{"region":"us-east-1","iam_role":null,"format":"format","version":"24","format_version":"2","topic":"stream-name","deleted_at":null,"placement":null,"updated_at":"2025-02-28T21:34:00Z","created_at":"2025-02-28T21:34:00Z","name":"new-test-kinesis","service_id":"kKJb5bOFI47uHeBVluGfX1","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","response_condition":"","access_key":"AKIAIOSFODNN7EXAMPLE"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9835"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
