---
version: 1
interactions:
- request:
    body: access_key=AKIAIOSFODNN7EXAMPLE&iam_role=&secret_key=wJalrXUtnFEMI%2FK7MDENG%2FbPxRfiCYEXAMPLEKEY
    form:
      access_key:
      - AKIAIOSFODNN7EXAMPLE
      iam_role:
      - ""
      secret_key:
      - wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/24/logging/kinesis/test-kinesis-2
    method: PUT
  response:
    body: '{"iam_role":"","topic":"stream-name","placement":null,"version":"24","region":"us-east-1","format":"format","format_version":"2","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2025-02-28T21:34:00Z","access_key":"AKIAIOSFODNN7EXAMPLE","name":"test-kinesis-2","deleted_at":null,"created_at":"2025-02-28T21:34:00Z","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9818"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
