---
version: 1
interactions:
- request:
    body: access_key=&iam_role=arn%3Aaws%3Aiam%3A%3A123456789012%3Arole%2FS3Access&secret_key=
    form:
      access_key:
      - ""
      iam_role:
      - arn:aws:iam::123456789012:role/S3Access
      secret_key:
      - ""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/24/logging/kinesis/new-test-kinesis
    method: PUT
  response:
    body: '{"updated_at":"2025-02-28T21:34:01Z","secret_key":"","iam_role":"arn:aws:iam::123456789012:role/S3Access","format_version":"2","version":"24","created_at":"2025-02-28T21:34:00Z","access_key":"","topic":"stream-name","deleted_at":null,"region":"us-east-1","service_id":"kKJb5bOFI47uHeBVluGfX1","format":"format","name":"new-test-kinesis","placement":null,"response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9827"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
