---
version: 1
interactions:
- request:
    body: Name=new-test-kinesis&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=74&access_key=&iam_role=arn%3Aaws%3Aiam%3A%3A123456789012%3Arole%2FS3Access&secret_key=
    form:
      Name:
      - new-test-kinesis
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "74"
      access_key:
      - ""
      iam_role:
      - arn:aws:iam::123456789012:role/S3Access
      secret_key:
      - ""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/74/logging/kinesis/new-test-kinesis
    method: PUT
  response:
    body: '{"topic":"stream-name","deleted_at":null,"version":"74","name":"new-test-kinesis","iam_role":"arn:aws:iam::123456789012:role/S3Access","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-11-03T16:56:48Z","format_version":"2","region":"us-east-1","response_condition":"","secret_key":"","created_at":"2021-11-03T16:56:46Z","format":"format","placement":"waf_debug","access_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4821"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
