---
version: 1
interactions:
- request:
    body: '{"access_key":"","iam_role":"arn:aws:iam::123456789012:role/S3Access","placement":null,"secret_key":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/160/logging/kinesis/new-test-kinesis
    method: PUT
  response:
    body: '{"iam_role":"arn:aws:iam::123456789012:role/S3Access","format_version":"2","log_processing_region":"eu","deleted_at":null,"version":"160","format":"format","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2026-07-23T19:29:04Z","name":"new-test-kinesis","region":"us-east-1","topic":"stream-name","updated_at":"2026-07-23T19:29:17Z","response_condition":"","access_key":"","placement":null,"secret_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9828"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
