---
version: 1
interactions:
- request:
    body: '{"name":"new-test-kinesis","placement":null,"log_processing_region":"eu"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/160/logging/kinesis/test-kinesis
    method: PUT
  response:
    body: '{"iam_role":null,"updated_at":"2026-07-23T19:29:04Z","topic":"stream-name","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","created_at":"2026-07-23T19:29:04Z","format":"format","response_condition":"","placement":null,"format_version":"2","deleted_at":null,"version":"160","region":"us-east-1","log_processing_region":"eu","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"new-test-kinesis","access_key":"AKIAIOSFODNN7EXAMPLE"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9835"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
