---
version: 1
interactions:
- request:
    body: Name=test-kinesis&ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=74&name=new-test-kinesis
    form:
      Name:
      - test-kinesis
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "74"
      name:
      - new-test-kinesis
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/74/logging/kinesis/test-kinesis
    method: PUT
  response:
    body: '{"version":"74","iam_role":null,"secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","topic":"stream-name","service_id":"3QSsca5ilwNVpceZ2HJIAH","region":"us-east-1","format_version":"2","deleted_at":null,"created_at":"2021-11-03T16:56:46Z","name":"new-test-kinesis","access_key":"AKIAIOSFODNN7EXAMPLE","response_condition":"","format":"format","placement":"waf_debug","updated_at":"2021-11-03T16:56:46Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4822"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
