---
version: 1
interactions:
- request:
    body: Name=test-kinesis-2&ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=74&access_key=AKIAIOSFODNN7EXAMPLE&iam_role=&secret_key=wJalrXUtnFEMI%2FK7MDENG%2FbPxRfiCYEXAMPLEKEY
    form:
      Name:
      - test-kinesis-2
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "74"
      access_key:
      - AKIAIOSFODNN7EXAMPLE
      iam_role:
      - ""
      secret_key:
      - wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/74/logging/kinesis/test-kinesis-2
    method: PUT
  response:
    body: '{"response_condition":"","deleted_at":null,"access_key":"AKIAIOSFODNN7EXAMPLE","updated_at":"2021-11-03T16:56:46Z","format_version":"2","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","service_id":"3QSsca5ilwNVpceZ2HJIAH","iam_role":"","name":"test-kinesis-2","format":"format","topic":"stream-name","region":"us-east-1","created_at":"2021-11-03T16:56:46Z","placement":"waf_debug","version":"74"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4820"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
