---
version: 1
interactions:
- request:
    body: Name=new-test-kinesis&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=21&access_key=&iam_role=arn%3Aaws%3Aiam%3A%3A123456789012%3Arole%2FS3Access&secret_key=
    form:
      Name:
      - new-test-kinesis
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "21"
      access_key:
      - ""
      iam_role:
      - arn:aws:iam::123456789012:role/S3Access
      secret_key:
      - ""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/21/logging/kinesis/new-test-kinesis
    method: PUT
  response:
    body: '{"updated_at":"2021-04-05T13:02:18Z","iam_role":"arn:aws:iam::123456789012:role/S3Access","format":"format","placement":"waf_debug","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2021-04-05T13:02:15Z","region":"us-east-1","response_condition":"","version":"21","access_key":"","topic":"stream-name","secret_key":"","format_version":"2","name":"new-test-kinesis"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "983"
      Fastly-Ratelimit-Reset:
      - "1617631200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
