---
version: 1
interactions:
- request:
    body: access_key=&iam_role=arn%3Aaws%3Aiam%3A%3A123456789012%3Arole%2FS3Access&secret_key=
    form:
      access_key:
      - ""
      iam_role:
      - arn:aws:iam::123456789012:role/S3Access
      secret_key:
      - ""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/62/logging/kinesis/new-test-kinesis
    method: PUT
  response:
    body: '{"format":"format","format_version":"2","iam_role":"arn:aws:iam::123456789012:role/S3Access","service_id":"kKJb5bOFI47uHeBVluGfX1","region":"us-east-1","deleted_at":null,"topic":"stream-name","updated_at":"2022-11-04T16:12:00Z","name":"new-test-kinesis","response_condition":"","version":"62","created_at":"2022-11-04T16:11:57Z","secret_key":"","placement":"waf_debug","access_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9985"
      Fastly-Ratelimit-Reset:
      - "1667581200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
