---
version: 1
interactions:
- request:
    body: log_processing_region=eu&name=new-test-kinesis
    form:
      log_processing_region:
      - eu
      name:
      - new-test-kinesis
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/118/logging/kinesis/test-kinesis
    method: PUT
  response:
    body: '{"log_processing_region":"eu","version":"118","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","access_key":"AKIAIOSFODNN7EXAMPLE","created_at":"2025-06-04T15:17:26Z","updated_at":"2025-06-04T15:17:26Z","deleted_at":null,"name":"new-test-kinesis","format":"format","topic":"stream-name","iam_role":null,"response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","placement":"waf_debug","format_version":"2","region":"us-east-1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9891"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
