---
version: 1
interactions:
- request:
    body: Name=test-kinesis&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=21&name=new-test-kinesis
    form:
      Name:
      - test-kinesis
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "21"
      name:
      - new-test-kinesis
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/21/logging/kinesis/test-kinesis
    method: PUT
  response:
    body: '{"name":"new-test-kinesis","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","topic":"stream-name","placement":"waf_debug","iam_role":null,"deleted_at":null,"updated_at":"2021-04-05T13:02:15Z","format_version":"2","created_at":"2021-04-05T13:02:15Z","response_condition":"","version":"21","region":"us-east-1","access_key":"AKIAIOSFODNN7EXAMPLE","format":"format","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "984"
      Fastly-Ratelimit-Reset:
      - "1617631200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
