---
version: 1
interactions:
- request:
    body: access_key=AKIAIOSFODNN7EXAMPLE&iam_role=&secret_key=wJalrXUtnFEMI%2FK7MDENG%2FbPxRfiCYEXAMPLEKEY
    form:
      access_key:
      - AKIAIOSFODNN7EXAMPLE
      iam_role:
      - ""
      secret_key:
      - wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/118/logging/kinesis/test-kinesis-2
    method: PUT
  response:
    body: '{"access_key":"AKIAIOSFODNN7EXAMPLE","version":"118","format":"format","format_version":"2","topic":"stream-name","created_at":"2025-06-04T15:17:27Z","updated_at":"2025-06-04T15:17:27Z","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"test-kinesis-2","deleted_at":null,"response_condition":"","log_processing_region":"none","iam_role":"","placement":"waf_debug","region":"us-east-1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9889"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
