---
version: 1
interactions:
- request:
    body: access_key=AKIAIOSFODNN7EXAMPLE&iam_role=&secret_key=wJalrXUtnFEMI%2FK7MDENG%2FbPxRfiCYEXAMPLEKEY
    form:
      access_key:
      - AKIAIOSFODNN7EXAMPLE
      iam_role:
      - ""
      secret_key:
      - wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/62/logging/kinesis/test-kinesis-2
    method: PUT
  response:
    body: '{"response_condition":"","deleted_at":null,"updated_at":"2022-11-04T16:11:58Z","topic":"stream-name","format_version":"2","created_at":"2022-11-04T16:11:58Z","access_key":"AKIAIOSFODNN7EXAMPLE","name":"test-kinesis-2","iam_role":"","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","placement":"waf_debug","format":"format","version":"62","service_id":"kKJb5bOFI47uHeBVluGfX1","region":"us-east-1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9984"
      Fastly-Ratelimit-Reset:
      - "1667581200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
