---
version: 1
interactions:
- request:
    body: Name=test-kinesis-2&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=21&access_key=AKIAIOSFODNN7EXAMPLE&iam_role=&secret_key=wJalrXUtnFEMI%2FK7MDENG%2FbPxRfiCYEXAMPLEKEY
    form:
      Name:
      - test-kinesis-2
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "21"
      access_key:
      - AKIAIOSFODNN7EXAMPLE
      iam_role:
      - ""
      secret_key:
      - wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/21/logging/kinesis/test-kinesis-2
    method: PUT
  response:
    body: '{"deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2021-04-05T13:02:16Z","region":"us-east-1","response_condition":"","updated_at":"2021-04-05T13:02:16Z","iam_role":"","format":"format","placement":"waf_debug","format_version":"2","name":"test-kinesis-2","version":"21","access_key":"AKIAIOSFODNN7EXAMPLE","topic":"stream-name","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "982"
      Fastly-Ratelimit-Reset:
      - "1617631200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
