---
version: 1
interactions:
- request:
    body: '{"access_key":"AKIAIOSFODNN7EXAMPLE","iam_role":"","placement":null,"secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/160/logging/kinesis/test-kinesis-2
    method: PUT
  response:
    body: '{"secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","format":"format","response_condition":"","version":"160","name":"test-kinesis-2","region":"us-east-1","service_id":"kKJb5bOFI47uHeBVluGfX1","access_key":"AKIAIOSFODNN7EXAMPLE","log_processing_region":"none","iam_role":"","created_at":"2026-07-23T19:29:07Z","format_version":"2","topic":"stream-name","deleted_at":null,"placement":null,"updated_at":"2026-07-23T19:29:07Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9821"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
