---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/yjiS959rX92xW0DLIb3pQ9/version/1/activate
    method: PUT
  response:
    body: '{"service_id":"yjiS959rX92xW0DLIb3pQ9","active":true,"environments":[],"locked":true,"testing":false,"staging":false,"number":1,"updated_at":"2026-08-05T13:59:49Z","comment":"","deleted_at":null,"deployed":false,"created_at":"2026-08-05T13:59:49Z","msg":"Warning:
      No default director found\nat: (default Line 174 Pos 1)\n       error 550 \"Doesnt
      exist\";\n--------------------------------"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9983"
      Fastly-Ratelimit-Reset:
      - "1785938400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
