---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/6pnJcrmFGNV5m1Ys4JVHX8/version/2/activate/staging
    method: PUT
  response:
    body: '{"created_at":"2026-09-04T14:41:24Z","locked":false,"active":false,"comment":"","number":2,"staging":true,"service_id":"6pnJcrmFGNV5m1Ys4JVHX8","deployed":false,"deleted_at":null,"updated_at":"2026-09-04T14:41:24Z","environments":[],"testing":false,"msg":"Warning:
      No default director found\nat: (default Line 174 Pos 1)\n       error 550 \"Doesnt
      exist\";\n--------------------------------"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9967"
      Fastly-Ratelimit-Reset:
      - "1788534000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
