---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/5q3qqdHMP2inUOS8fyetni/version/2/activate/staging
    method: PUT
  response:
    body: '{"deployed":false,"number":2,"locked":false,"comment":"","deleted_at":null,"environments":[],"created_at":"2026-09-08T17:02:30Z","service_id":"5q3qqdHMP2inUOS8fyetni","testing":false,"staging":true,"active":false,"updated_at":"2026-09-08T17:02:30Z","msg":"Warning:
      No default director found\nat: (default Line 174 Pos 1)\n       error 550 \"Doesnt
      exist\";\n--------------------------------"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9996"
      Fastly-Ratelimit-Reset:
      - "1788890400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
