---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/5q3qqdHMP2inUOS8fyetni/version/1/activate
    method: PUT
  response:
    body: '{"created_at":"2026-09-08T17:02:29Z","environments":[],"deleted_at":null,"comment":"","testing":false,"service_id":"5q3qqdHMP2inUOS8fyetni","locked":true,"number":1,"deployed":false,"updated_at":"2026-09-08T17:02:29Z","active":true,"staging":false,"msg":"Warning:
      No default director found\nat: (default Line 174 Pos 1)\n       error 550 \"Doesnt
      exist\";\n--------------------------------"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1788890400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
