---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/ru915jl5J9UXx116WgMDBQ/version/2/activate/staging
    method: PUT
  response:
    body: '{"service_id":"ru915jl5J9UXx116WgMDBQ","locked":false,"number":2,"deployed":false,"updated_at":"2026-09-04T16:41:33Z","environments":[],"created_at":"2026-09-04T16:41:33Z","deleted_at":null,"testing":false,"comment":"","staging":true,"active":false,"msg":"Warning:
      No default director found\nat: (default Line 174 Pos 1)\n       error 550 \"Doesnt
      exist\";\n--------------------------------"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9986"
      Fastly-Ratelimit-Reset:
      - "1788541200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
