---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/6pnJcrmFGNV5m1Ys4JVHX8/version/1/activate
    method: PUT
  response:
    body: '{"testing":false,"service_id":"6pnJcrmFGNV5m1Ys4JVHX8","environments":[],"deleted_at":null,"updated_at":"2026-09-04T14:41:23Z","staging":false,"deployed":false,"number":1,"comment":"","locked":true,"active":true,"created_at":"2026-09-04T14:41:23Z","msg":"Warning:
      No default director found\nat: (default Line 174 Pos 1)\n       error 550 \"Doesnt
      exist\";\n--------------------------------"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9968"
      Fastly-Ratelimit-Reset:
      - "1788534000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
