---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/yjiS959rX92xW0DLIb3pQ9/version/2/activate/staging
    method: PUT
  response:
    body: '{"service_id":"yjiS959rX92xW0DLIb3pQ9","updated_at":"2026-08-05T13:59:50Z","testing":false,"locked":false,"active":false,"number":2,"comment":"","environments":[],"deleted_at":null,"staging":true,"created_at":"2026-08-05T13:59:50Z","deployed":false,"msg":"Warning:
      No default director found\nat: (default Line 174 Pos 1)\n       error 550 \"Doesnt
      exist\";\n--------------------------------"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9982"
      Fastly-Ratelimit-Reset:
      - "1785938400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
