---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/yjiS959rX92xW0DLIb3pQ9/version/1/deactivate
    method: PUT
  response:
    body: '{"deployed":false,"created_at":"2026-08-05T13:59:49Z","testing":false,"staging":false,"updated_at":"2026-08-05T13:59:52Z","comment":"","number":1,"service_id":"yjiS959rX92xW0DLIb3pQ9","active":false,"locked":true,"deleted_at":null,"environments":[{"name":"production","service_id":"yjiS959rX92xW0DLIb3pQ9","active_version":1}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9981"
      Fastly-Ratelimit-Reset:
      - "1785938400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/yjiS959rX92xW0DLIb3pQ9
    method: DELETE
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9980"
      Fastly-Ratelimit-Reset:
      - "1785938400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
