---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/5q3qqdHMP2inUOS8fyetni/version/1/deactivate
    method: PUT
  response:
    body: '{"number":1,"testing":false,"environments":[{"name":"production","service_id":"5q3qqdHMP2inUOS8fyetni","active_version":1}],"active":false,"comment":"","created_at":"2026-09-08T17:02:29Z","staging":false,"locked":true,"service_id":"5q3qqdHMP2inUOS8fyetni","deployed":false,"deleted_at":null,"updated_at":"2026-09-08T17:02:31Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9994"
      Fastly-Ratelimit-Reset:
      - "1788890400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/5q3qqdHMP2inUOS8fyetni
    method: DELETE
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9993"
      Fastly-Ratelimit-Reset:
      - "1788890400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
