---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/ru915jl5J9UXx116WgMDBQ/version/1/deactivate
    method: PUT
  response:
    body: '{"updated_at":"2026-09-04T16:41:34Z","comment":"","staging":false,"active":false,"locked":true,"number":1,"deleted_at":null,"service_id":"ru915jl5J9UXx116WgMDBQ","environments":[{"name":"production","service_id":"ru915jl5J9UXx116WgMDBQ","active_version":1}],"created_at":"2026-09-04T16:41:32Z","testing":false,"deployed":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9984"
      Fastly-Ratelimit-Reset:
      - "1788541200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/ru915jl5J9UXx116WgMDBQ
    method: DELETE
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9983"
      Fastly-Ratelimit-Reset:
      - "1788541200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
