---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/6pnJcrmFGNV5m1Ys4JVHX8/version/1/deactivate
    method: PUT
  response:
    body: '{"deleted_at":null,"testing":false,"number":1,"staging":false,"service_id":"6pnJcrmFGNV5m1Ys4JVHX8","deployed":false,"comment":"","environments":[{"name":"production","service_id":"6pnJcrmFGNV5m1Ys4JVHX8","active_version":1}],"active":false,"locked":true,"created_at":"2026-09-04T14:41:23Z","updated_at":"2026-09-04T14:41:28Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9966"
      Fastly-Ratelimit-Reset:
      - "1788534000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/6pnJcrmFGNV5m1Ys4JVHX8
    method: DELETE
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9965"
      Fastly-Ratelimit-Reset:
      - "1788534000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
