---
version: 1
interactions:
- request:
    body: comment=test+staged+filter&name=test-service-staged-filter
    form:
      comment:
      - test staged filter
      name:
      - test-service-staged-filter
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"4dOhK7xEkULiabovMyhRBu","comment":"test staged filter","name":"test-service-staged-filter","updated_at":"2026-08-05T13:59:49Z","type":"vcl","created_at":"2026-08-05T13:59:49Z","publish_key":"","versions":[{"comment":"","staging":false,"testing":false,"service_id":"yjiS959rX92xW0DLIb3pQ9","environments":[],"deleted_at":null,"active":false,"number":1,"locked":false,"created_at":"2026-08-05T13:59:49Z","updated_at":"2026-08-05T13:59:49Z","deployed":false}],"deleted_at":null,"environments":[],"id":"yjiS959rX92xW0DLIb3pQ9","paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9985"
      Fastly-Ratelimit-Reset:
      - "1785938400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
