---
version: 1
interactions:
- request:
    body: comment=test+staged+filter&name=test-service-staged-filter
    form:
      comment:
      - test staged filter
      name:
      - test-service-staged-filter
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"4dOhK7xEkULiabovMyhRBu","comment":"test staged filter","name":"test-service-staged-filter","paused":false,"publish_key":"","created_at":"2026-09-04T14:41:23Z","type":"vcl","updated_at":"2026-09-04T14:41:23Z","id":"6pnJcrmFGNV5m1Ys4JVHX8","environments":[],"deleted_at":null,"versions":[{"comment":"","created_at":"2026-09-04T14:41:23Z","service_id":"6pnJcrmFGNV5m1Ys4JVHX8","locked":false,"testing":false,"updated_at":"2026-09-04T14:41:23Z","number":1,"active":false,"environments":[],"staging":false,"deployed":false,"deleted_at":null}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9970"
      Fastly-Ratelimit-Reset:
      - "1788534000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
