---
version: 1
interactions:
- request:
    body: comment=test+staged+filter&name=test-service-staged-filter
    form:
      comment:
      - test staged filter
      name:
      - test-service-staged-filter
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"4dOhK7xEkULiabovMyhRBu","comment":"test staged filter","name":"test-service-staged-filter","versions":[{"active":false,"staging":false,"service_id":"5q3qqdHMP2inUOS8fyetni","locked":false,"updated_at":"2026-09-08T17:02:29Z","comment":"","deployed":false,"environments":[],"number":1,"testing":false,"created_at":"2026-09-08T17:02:29Z","deleted_at":null}],"id":"5q3qqdHMP2inUOS8fyetni","publish_key":"","deleted_at":null,"paused":false,"created_at":"2026-09-08T17:02:29Z","type":"vcl","environments":[],"updated_at":"2026-09-08T17:02:29Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9999"
      Fastly-Ratelimit-Reset:
      - "1788890400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
