---
version: 1
interactions:
- request:
    body: comment=test+staged+filter&name=test-service-staged-filter
    form:
      comment:
      - test staged filter
      name:
      - test-service-staged-filter
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"4dOhK7xEkULiabovMyhRBu","comment":"test staged filter","name":"test-service-staged-filter","deleted_at":null,"id":"ru915jl5J9UXx116WgMDBQ","type":"vcl","environments":[],"publish_key":"","versions":[{"updated_at":"2026-09-04T16:41:32Z","locked":false,"service_id":"ru915jl5J9UXx116WgMDBQ","created_at":"2026-09-04T16:41:32Z","environments":[],"active":false,"comment":"","deployed":false,"staging":false,"number":1,"deleted_at":null,"testing":false}],"paused":false,"updated_at":"2026-09-04T16:41:32Z","created_at":"2026-09-04T16:41:32Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9989"
      Fastly-Ratelimit-Reset:
      - "1788541200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
