---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/ru915jl5J9UXx116WgMDBQ/details?filter%5Bversions.staged%5D=true
    method: GET
  response:
    body: '{"comment":"test staged filter","created_at":"2026-09-04T16:41:32Z","environments":[],"updated_at":"2026-09-04T16:41:32Z","name":"test-service-staged-filter","deleted_at":null,"type":"vcl","customer_id":"4dOhK7xEkULiabovMyhRBu","id":"ru915jl5J9UXx116WgMDBQ","versions":[{"updated_at":"2026-09-04T16:41:34Z","created_at":"2026-09-04T16:41:32Z","comment":"","testing":false,"service_id":"ru915jl5J9UXx116WgMDBQ","locked":true,"deployed":false,"deleted_at":null,"active":true,"number":1,"environments":[{"name":"production","service_id":"ru915jl5J9UXx116WgMDBQ","active_version":1}],"staging":false},{"testing":false,"locked":false,"service_id":"ru915jl5J9UXx116WgMDBQ","created_at":"2026-09-04T16:41:33Z","comment":"","updated_at":"2026-09-04T16:41:36Z","staging":true,"environments":[{"name":"staging","service_id":"GAiXlJfaYoH6qCyHJBnUsv","active_version":2}],"active":false,"number":2,"deleted_at":null,"deployed":false},{"service_id":"ru915jl5J9UXx116WgMDBQ","environments":[],"staging":false,"number":3,"active":false,"deleted_at":null,"deployed":false,"updated_at":"2026-09-04T16:41:36Z","locked":false,"testing":false,"created_at":"2026-09-04T16:41:36Z","comment":""}],"version":{"service_id":"ru915jl5J9UXx116WgMDBQ","locked":false,"active":false,"updated_at":"2026-09-04T16:41:36Z","deleted_at":null,"deployed":false,"testing":false,"created_at":"2026-09-04T16:41:36Z","comment":"","environments":[],"staging":false,"number":3,"acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_pci":0,"general.stale_if_error":false,"general.stale_if_error_ttl":43200,"general.default_host":"","general.default_ttl":3600}},"active_version":{"environments":[{"name":"production","service_id":"ru915jl5J9UXx116WgMDBQ","active_version":1}],"testing":false,"staging":false,"number":1,"updated_at":"2026-09-04T16:41:34Z","active":true,"created_at":"2026-09-04T16:41:32Z","deployed":false,"service_id":"ru915jl5J9UXx116WgMDBQ","comment":"","deleted_at":null,"locked":true,"acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.default_host":"","general.default_ttl":3600,"general.default_pci":0,"general.stale_if_error":false}}}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
