---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/6pnJcrmFGNV5m1Ys4JVHX8/details?filter%5Bversions.staged%5D=true
    method: GET
  response:
    body: '{"type":"vcl","name":"test-service-staged-filter","comment":"test staged
      filter","versions":[{"deployed":false,"service_id":"6pnJcrmFGNV5m1Ys4JVHX8","updated_at":"2026-09-04T14:41:28Z","number":1,"locked":true,"staging":false,"active":true,"testing":false,"comment":"","deleted_at":null,"environments":[{"name":"production","service_id":"6pnJcrmFGNV5m1Ys4JVHX8","active_version":1}],"created_at":"2026-09-04T14:41:23Z"},{"locked":false,"service_id":"6pnJcrmFGNV5m1Ys4JVHX8","number":2,"updated_at":"2026-09-04T14:41:30Z","deployed":false,"created_at":"2026-09-04T14:41:24Z","environments":[{"name":"staging","service_id":"GkMDvvFnB3pTJgc1SJ8XWZ","active_version":2}],"deleted_at":null,"comment":"","testing":false,"staging":true,"active":false}],"created_at":"2026-09-04T14:41:23Z","environments":[{"name":"staging","service_id":"GkMDvvFnB3pTJgc1SJ8XWZ","active_version":2}],"customer_id":"4dOhK7xEkULiabovMyhRBu","id":"6pnJcrmFGNV5m1Ys4JVHX8","deleted_at":null,"updated_at":"2026-09-04T14:41:23Z","version":{"staging":true,"number":2,"testing":false,"environments":[{"name":"staging","service_id":"GkMDvvFnB3pTJgc1SJ8XWZ","active_version":2}],"updated_at":"2026-09-04T14:41:30Z","active":false,"service_id":"6pnJcrmFGNV5m1Ys4JVHX8","deployed":false,"created_at":"2026-09-04T14:41:24Z","deleted_at":null,"locked":false,"comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_pci":0,"general.stale_if_error":false,"general.default_host":"","general.stale_if_error_ttl":43200}},"active_version":{"deleted_at":null,"deployed":false,"testing":false,"locked":true,"service_id":"6pnJcrmFGNV5m1Ys4JVHX8","updated_at":"2026-09-04T14:41:28Z","active":true,"staging":false,"number":1,"created_at":"2026-09-04T14:41:23Z","comment":"","environments":[{"name":"production","service_id":"6pnJcrmFGNV5m1Ys4JVHX8","active_version":1}],"acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_pci":0,"general.default_host":"","general.default_ttl":3600,"general.stale_if_error":false,"general.stale_if_error_ttl":43200}}}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
