---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/5q3qqdHMP2inUOS8fyetni/details?filter%5Bversions.staged%5D=true
    method: GET
  response:
    body: '{"id":"5q3qqdHMP2inUOS8fyetni","versions":[{"deployed":false,"environments":[{"name":"staging","service_id":"pvFkKhw7Ul8bPXGE74GzPx","active_version":2}],"locked":false,"deleted_at":null,"staging":true,"number":2,"updated_at":"2026-09-08T17:02:32Z","service_id":"5q3qqdHMP2inUOS8fyetni","testing":false,"comment":"","created_at":"2026-09-08T17:02:30Z","active":false}],"deleted_at":null,"comment":"test
      staged filter","created_at":"2026-09-08T17:02:29Z","updated_at":"2026-09-08T17:02:29Z","type":"vcl","environments":[{"name":"staging","service_id":"pvFkKhw7Ul8bPXGE74GzPx","active_version":2}],"name":"test-service-staged-filter","customer_id":"4dOhK7xEkULiabovMyhRBu","version":{"service_id":"5q3qqdHMP2inUOS8fyetni","deployed":false,"deleted_at":null,"updated_at":"2026-09-08T17:02:32Z","environments":[{"name":"staging","service_id":"pvFkKhw7Ul8bPXGE74GzPx","active_version":2}],"locked":false,"created_at":"2026-09-08T17:02:30Z","number":2,"active":false,"staging":true,"comment":"","testing":false,"acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error":false,"general.stale_if_error_ttl":43200,"general.default_host":"","general.default_pci":0,"general.default_ttl":3600}},"active_version":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
