---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/45/clone
    method: PUT
  response:
    body: '{"number":46,"service_id":"XsjdElScZGjmfCcTwsYRC1","active":false,"environments":[],"comment":"new
      comment","deployed":false,"deleted_at":null,"created_at":"2025-09-08T14:12:05Z","updated_at":"2025-09-08T14:12:06Z","testing":false,"locked":false,"staging":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9996"
      Fastly-Ratelimit-Reset:
      - "1757343600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
