---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/45
    method: GET
  response:
    body: '{"updated_at":"2025-09-08T14:12:05Z","active":false,"created_at":"2025-09-08T14:12:05Z","deployed":false,"number":45,"service_id":"XsjdElScZGjmfCcTwsYRC1","deleted_at":null,"comment":"test
      comment","testing":false,"locked":false,"environments":[],"staging":false}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
