---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version
    method: GET
  response:
    body: '[{"deployed":false,"service_id":"XsjdElScZGjmfCcTwsYRC1","updated_at":"2025-08-29T19:12:36Z","locked":true,"created_at":"2024-11-04T19:57:08Z","comment":"","testing":false,"environments":[],"staging":false,"number":1,"active":false,"deleted_at":null},{"environments":[],"testing":false,"comment":"","created_at":"2025-08-29T19:05:03Z","updated_at":"2025-08-29T19:25:53Z","locked":true,"service_id":"XsjdElScZGjmfCcTwsYRC1","deployed":false,"deleted_at":null,"active":false,"number":2,"staging":false},{"deleted_at":null,"active":true,"number":3,"staging":false,"comment":"","created_at":"2025-08-29T19:25:11Z","locked":true,"updated_at":"2025-08-29T19:25:53Z","environments":[{"service_id":"XsjdElScZGjmfCcTwsYRC1","name":"production","active_version":3}],"testing":false,"deployed":false,"service_id":"XsjdElScZGjmfCcTwsYRC1"},{"service_id":"XsjdElScZGjmfCcTwsYRC1","deployed":false,"testing":false,"environments":[],"updated_at":"2025-08-29T19:33:58Z","locked":false,"created_at":"2025-08-29T19:33:57Z","comment":"","staging":false,"number":4,"active":false,"deleted_at":null},{"deleted_at":null,"active":false,"number":5,"staging":false,"testing":false,"environments":[],"comment":"","created_at":"2025-08-29T19:34:43Z","locked":false,"updated_at":"[...]
