---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/45/lock
    method: PUT
  response:
    body: '{"updated_at":"2025-09-08T14:12:06Z","testing":false,"created_at":"2025-09-08T14:12:05Z","service_id":"XsjdElScZGjmfCcTwsYRC1","locked":true,"staging":false,"active":false,"number":45,"deleted_at":null,"environments":[],"comment":"new
      comment","deployed":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1757343600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
