---
version: 1
interactions:
- request:
    body: address=integ-test3.go-fastly-3.com&connect_timeout=1500&name=test-backend-compute&override_host=origin.example.com&ssl_check_cert=0&ssl_ciphers=DHE-RSA-AES256-SHA%3ADHE-RSA-CAMELLIA256-SHA%3AAES256-GCM-SHA384&ssl_sni_hostname=ssl-hostname.com
    form:
      address:
      - integ-test3.go-fastly-3.com
      connect_timeout:
      - "1500"
      name:
      - test-backend-compute
      override_host:
      - origin.example.com
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384
      ssl_sni_hostname:
      - ssl-hostname.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/56/backend
    method: POST
  response:
    body: '{"address":"integ-test3.go-fastly-3.com","connect_timeout":1500,"name":"test-backend-compute","override_host":"origin.example.com","ssl_check_cert":false,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ssl_sni_hostname":"ssl-hostname.com","service_id":"XsjdElScZGjmfCcTwsYRC1","version":56,"ipv6":null,"auto_loadbalance":false,"min_tls_version":null,"max_tls_version":null,"deleted_at":null,"comment":"","ssl_cert_hostname":null,"max_conn":200,"use_ssl":false,"share_key":null,"ssl_client_key":null,"tcp_keepalive_enable":null,"healthcheck":null,"updated_at":"2025-09-08T17:20:27Z","weight":100,"tcp_keepalive_probes":null,"port":80,"ipv4":null,"tcp_keepalive_time":null,"keepalive_time":null,"prefer_ipv6":true,"client_cert":null,"created_at":"2025-09-08T17:20:27Z","ssl_client_cert":null,"hostname":"integ-test3.go-fastly-3.com","first_byte_timeout":15000,"error_threshold":0,"tcp_keepalive_interval":null,"ssl_ca_cert":null,"between_bytes_timeout":10000,"request_condition":"","shield":null,"ssl_hostname":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9960"
      Fastly-Ratelimit-Reset:
      - "1757354400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
