---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/wafs/1NGmubiAYnKMtCvXWAeszf/ruleset
    method: GET
  response:
    body: '{"data":{"id":"1NGmubiAYnKMtCvXWAeszf","type":"ruleset","attributes":{"vcl":"sub
      waf_ruleset {\n  /* This WAF is not configured */\n}","last_push":null}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
