---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=48&content=%0A%09%23+testing+EdgeACL2+and+EdgeDictionary2%0A%09+declare+local+var.number2+STRING%3B%0A%09+set+var.number2+%3D+table.lookup%28demoDICTtest%2C+client.as.number%29%3B%0A%0A%09+if+%28var.number2+%3D%3D+%22true%22%29+%7B%0A%09+++set+req.http.securityruleid+%3D+%22num2-block%22%3B%0A%09+error+403+%22Access+Denied%22%3B%0A%09++%7D%0A++++&dynamic=0&name=testsnip0&priority=100&type=recv
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "48"
      content:
      - "\n\t# testing EdgeACL2 and EdgeDictionary2\n\t declare local var.number2
        STRING;\n\t set var.number2 = table.lookup(demoDICTtest, client.as.number);\n\n\t
        if (var.number2 == \"true\") {\n\t   set req.http.securityruleid = \"num2-block\";\n\t
        error 403 \"Access Denied\";\n\t  }\n    "
      dynamic:
      - "0"
      name:
      - testsnip0
      priority:
      - "100"
      type:
      - recv
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/48/snippet
    method: POST
  response:
    body: '{"content":"\n\t# testing EdgeACL2 and EdgeDictionary2\n\t declare local
      var.number2 STRING;\n\t set var.number2 = table.lookup(demoDICTtest, client.as.number);\n\n\t
      if (var.number2 == \"true\") {\n\t   set req.http.securityruleid = \"num2-block\";\n\t
      error 403 \"Access Denied\";\n\t  }\n    ","dynamic":0,"name":"testsnip0","priority":"100","type":"recv","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"48","updated_at":"2019-05-10T18:17:55Z","created_at":"2019-05-10T18:17:55Z","deleted_at":null,"id":"0PJ48WhuJVqxpqIAldWQ4E"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "998"
      Fastly-Ratelimit-Reset:
      - "1557514800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
