---
version: 1
interactions:
- request:
    body: ServiceID=7AfpC5AR6GFm8x8edlSAFX&ServiceVersion=80&content=%23vcl&dynamic=1&name=snipdyn&priority=123&type=fetch
    form:
      ServiceID:
      - 7AfpC5AR6GFm8x8edlSAFX
      ServiceVersion:
      - "80"
      content:
      - '#vcl'
      dynamic:
      - "1"
      name:
      - snipdyn
      priority:
      - "123"
      type:
      - fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7AfpC5AR6GFm8x8edlSAFX/version/80/snippet
    method: POST
  response:
    body: '{"content":null,"dynamic":1,"name":"snipdyn","priority":"123","type":"fetch","service_id":"7AfpC5AR6GFm8x8edlSAFX","version":"80","deleted_at":null,"updated_at":"2021-11-26T07:21:19Z","created_at":"2021-11-26T07:21:19Z","id":"2lag0ngIB569L99MYVaUMb"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4956"
      Fastly-Ratelimit-Reset:
      - "1637913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
