---
version: 1
interactions:
- request:
    body: ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=98&content=%23vcl&dynamic=1&name=snipdyn&priority=123&type=fetch
    form:
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "98"
      content:
      - '#vcl'
      dynamic:
      - "1"
      name:
      - snipdyn
      priority:
      - "123"
      type:
      - fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/98/snippet
    method: POST
  response:
    body: '{"content":null,"dynamic":1,"name":"snipdyn","priority":"123","type":"fetch","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":"98","created_at":"2021-11-03T17:25:58Z","updated_at":"2021-11-03T17:25:58Z","id":"7ahJxq7lZTDkGQn2SOqPB4","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4816"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
