---
version: 1
interactions:
- request:
    body: content=%23vcl&dynamic=0&name=snipver&type=fetch
    form:
      content:
      - '#vcl'
      dynamic:
      - "0"
      name:
      - snipver
      type:
      - fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/36/snippet
    method: POST
  response:
    body: '{"content":"#vcl","dynamic":"0","name":"snipver","type":"fetch","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"36","created_at":"2025-03-20T18:15:36Z","deleted_at":null,"updated_at":"2025-03-20T18:15:36Z","priority":"100","id":"i33J0p7U8HIVZDGqxncM92"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9998"
      Fastly-Ratelimit-Reset:
      - "1742497200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
