---
version: 1
interactions:
- request:
    body: ServiceID=7AfpC5AR6GFm8x8edlSAFX&ServiceVersion=80&content=%23vcl&dynamic=0&name=snipver&type=fetch
    form:
      ServiceID:
      - 7AfpC5AR6GFm8x8edlSAFX
      ServiceVersion:
      - "80"
      content:
      - '#vcl'
      dynamic:
      - "0"
      name:
      - snipver
      type:
      - fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7AfpC5AR6GFm8x8edlSAFX/version/80/snippet
    method: POST
  response:
    body: '{"content":"#vcl","dynamic":0,"name":"snipver","type":"fetch","service_id":"7AfpC5AR6GFm8x8edlSAFX","version":"80","priority":100,"created_at":"2021-11-26T07:21:18Z","updated_at":"2021-11-26T07:21:18Z","id":"2t19aLnUdhacWY37Cgi3d9","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4957"
      Fastly-Ratelimit-Reset:
      - "1637913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
