---
version: 1
rwmutex: {}
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&Version=688&content=%0A%09+%23+testing+EdgeACL6+and+EdgeDictionary6%0A%09++declare+local+var.number6+STRING%3B%0A%09++set+var.number6+%3D+table.lookup%28demoDICTtest%2C+client.as.number%29%3B%0A%0A%09++if+%28var.number6+%3D%3D+%22true%22%29+%7B%0A%09++++set+req.http.securityruleid+%3D+%22num6-block%22%3B%0A%09+error+403+%22Access+Denied%22%3B%0A%09++%7D%0A%09&dynamic=1&name=testsnip5&priority=100&type=recv
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "688"
      content:
      - "\n\t # testing EdgeACL6 and EdgeDictionary6\n\t  declare local var.number6
        STRING;\n\t  set var.number6 = table.lookup(demoDICTtest, client.as.number);\n\n\t
        \ if (var.number6 == \"true\") {\n\t    set req.http.securityruleid = \"num6-block\";\n\t
        error 403 \"Access Denied\";\n\t  }\n\t"
      dynamic:
      - "1"
      name:
      - testsnip5
      priority:
      - "100"
      type:
      - recv
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/688/snippet
    method: POST
  response:
    body: '{"content":null,"dynamic":1,"name":"testsnip5","priority":"100","type":"recv","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"688","deleted_at":null,"created_at":"2018-08-15T17:12:48Z","updated_at":"2018-08-15T17:12:48Z","id":"dynsnipxxxxxxxxxxxxxid"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "999"
      Fastly-Ratelimit-Reset:
      - "1534356000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
