---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=13&content=%23vcl&dynamic=0&name=snipver&type=fetch
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "13"
      content:
      - '#vcl'
      dynamic:
      - "0"
      name:
      - snipver
      type:
      - fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/13/snippet
    method: POST
  response:
    body: '{"content":"#vcl","dynamic":0,"name":"snipver","type":"fetch","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"13","deleted_at":null,"updated_at":"2021-06-23T12:58:34Z","created_at":"2021-06-23T12:58:34Z","priority":100,"id":"425c18oKgfiNdUrGtFzKeh"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4982"
      Fastly-Ratelimit-Reset:
      - "1624453200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
