---
version: 1
interactions:
- request:
    body: content=%23vcl&dynamic=0&name=snipver&type=fetch
    form:
      content:
      - '#vcl'
      dynamic:
      - "0"
      name:
      - snipver
      type:
      - fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/88/snippet
    method: POST
  response:
    body: '{"content":"#vcl","dynamic":0,"name":"snipver","type":"fetch","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"88","priority":100,"deleted_at":null,"created_at":"2022-11-07T12:19:34Z","id":"WT2ibuLy1IEgBOgN7ZvtI4","updated_at":"2022-11-07T12:19:34Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9991"
      Fastly-Ratelimit-Reset:
      - "1667826000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
