---
version: 1
interactions:
- request:
    body: ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=13&content=%23vcl&dynamic=1&name=snipdyn&priority=123&type=fetch
    form:
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "13"
      content:
      - '#vcl'
      dynamic:
      - "1"
      name:
      - snipdyn
      priority:
      - "123"
      type:
      - fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/13/snippet
    method: POST
  response:
    body: '{"content":null,"dynamic":1,"name":"snipdyn","priority":"123","type":"fetch","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":"13","id":"0nO9jIuehPc4RDYpBa7fJw","created_at":"2021-06-23T12:58:35Z","updated_at":"2021-06-23T12:58:35Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4981"
      Fastly-Ratelimit-Reset:
      - "1624453200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
