---
version: 1
rwmutex: {}
interactions:
- request:
    body: Content=%0A+%23+testing+EdgeACL6+and+EdgeDictionary6%0A++declare+local+var.number6+STRING%3B%0A++set+var.number6+%3D+table.lookup%28demoDICTtest%2C+client.as.number%29%3B%0A%0A++if+%28var.number6+%3D%3D+%22true%22%29+%7B%0A++++set+req.http.securityruleid+%3D+%22num6-block%22%3B%0A+error+403+%22Access+Denied%22%3B%0A++%7D%0A&Dynamic=1&Name=test-vcl-snippet&Priority=100&ServiceID=7i6HN3TK9wS159v2gPAZ8A&Type=recv&Version=688
    form:
      Content:
      - |2

         # testing EdgeACL6 and EdgeDictionary6
          declare local var.number6 STRING;
          set var.number6 = table.lookup(demoDICTtest, client.as.number);

          if (var.number6 == "true") {
            set req.http.securityruleid = "num6-block";
         error 403 "Access Denied";
          }
      Dynamic:
      - "1"
      Name:
      - test-vcl-snippet
      Priority:
      - "100"
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      Type:
      - recv
      Version:
      - "688"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/688/snippet
    method: POST
  response:
    body: '{"name":"test-vcl-snippet","priority":"10","dynamic":1,"content":null,"type":"recv","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"688","deleted_at":null,"created_at":"2018-08-02T18:30:02Z","updated_at":"2018-08-02T18:30:02Z","id":"XwYm8yjU5QLLDvgXXXXXX"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "892"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
