---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=98&content=%23vcl&dynamic=0&name=snipver&type=fetch
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "98"
      content:
      - '#vcl'
      dynamic:
      - "0"
      name:
      - snipver
      type:
      - fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/98/snippet
    method: POST
  response:
    body: '{"content":"#vcl","dynamic":0,"name":"snipver","type":"fetch","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"98","priority":100,"created_at":"2021-11-03T17:25:58Z","deleted_at":null,"updated_at":"2021-11-03T17:25:58Z","id":"10mlhMpOm4St4hsnk0Wl31"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4817"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
