---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/48/snippet/testsnip0
    method: GET
  response:
    body: '{"type":"recv","priority":"100","dynamic":"0","content":"\n\t# testing
      EdgeACL2 and EdgeDictionary2\n\t declare local var.number2 STRING;\n\t set var.number2
      = table.lookup(demoDICTtest, client.as.number);\n\n\t if (var.number2 == \"true\")
      {\n\t   set req.http.securityruleid = \"num2-block\";\n\t error 403 \"Access
      Denied\";\n\t  }\n    ","id":"0PJ48WhuJVqxpqIAldWQ4E","deleted_at":null,"updated_at":"2019-05-10T18:17:55Z","created_at":"2019-05-10T18:17:55Z","name":"testsnip0","version":"48","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
