---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/25/snippet/testsnip0
    method: GET
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","priority":"100","dynamic":"0","updated_at":"2021-01-14T10:33:54Z","type":"recv","content":"\n\t#
      testing EdgeACL2 and EdgeDictionary2\n\t declare local var.number2 STRING;\n\t
      set var.number2 = table.lookup(demoDICTtest, client.as.number);\n\n\t if (var.number2
      == \"true\") {\n\t   set req.http.securityruleid = \"num2-block\";\n\t error
      403 \"Access Denied\";\n\t  }\n    ","deleted_at":null,"id":"5by9hd2tHZoG9jlWSZ31e1","name":"testsnip0","created_at":"2021-01-14T10:33:54Z","version":"25"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
