---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/688/snippet/testsnip0
    method: GET
  response:
    body: '{"priority":"100","version":"688","dynamic":"0","name":"testsnip0","content":"\n\t#
      testing EdgeACL2 and EdgeDictionary2\n\t declare local var.number2 STRING;\n\t
      set var.number2 = table.lookup(demoDICTtest, client.as.number);\n\n\t if (var.number2
      == \"true\") {\n\t   set req.http.securityruleid = \"num2-block\";\n\t error
      403 \"Access Denied\";\n\t  }\n    ","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2018-08-15T19:24:56Z","updated_at":"2018-08-15T19:24:56Z","id":"6xU4LMOPEAhapB8ZOa0QqG","type":"recv"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
