---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/snippet/0nO9jIuehPc4RDYpBa7fJw
    method: GET
  response:
    body: '{"created_at":"2021-06-23T12:58:35Z","updated_at":"2021-06-23T12:58:35Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","snippet_id":"0nO9jIuehPc4RDYpBa7fJw","content":"#vcl"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Restarts:
      - "1"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
