---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/snippet/dynsnipxxxxxxxxxxxxxid
    method: GET
  response:
    body: '{"snippet_id":"dynsnipxxxxxxxxxxxxxid","created_at":"2019-03-11T17:38:56Z","content":"\n\t
      # testing EdgeACL5 and EdgeDictionary5\n\t declare local var.number5 STRING;\n\t
      set var.number5 = table.lookup(demoDICTtest, client.as.number);\n\n\t if (var.number5
      == \"true\") {\n\t set req.http.securityruleid = \"num5-block\";\n\t error 403
      \"Access Denied\";\n\t  }\n    ","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2019-03-11T17:47:23Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
