---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/88/snippet/snipver
    method: GET
  response:
    body: '{"version":"88","updated_at":"2022-11-07T12:19:34Z","priority":"100","id":"WT2ibuLy1IEgBOgN7ZvtI4","created_at":"2022-11-07T12:19:34Z","type":"fetch","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"dynamic":"0","name":"snipver","content":"#vcl"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
