---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/36/snippet/snipver
    method: GET
  response:
    body: '{"version":"36","deleted_at":null,"name":"snipver","priority":"100","service_id":"kKJb5bOFI47uHeBVluGfX1","type":"fetch","id":"i33J0p7U8HIVZDGqxncM92","updated_at":"2025-03-20T18:15:36Z","created_at":"2025-03-20T18:15:36Z","content":"#vcl","dynamic":"0"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
