---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/snippet/2lag0ngIB569L99MYVaUMb
    method: GET
  response:
    body: '{"created_at":"2021-11-26T07:21:19Z","snippet_id":"2lag0ngIB569L99MYVaUMb","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-11-26T07:21:19Z","content":"#vcl"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
