---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/snippet/2Ixzsm1YNjy9csTVNIKSjp
    method: GET
  response:
    body: '{"snippet_id":"2Ixzsm1YNjy9csTVNIKSjp","content":"\n\t # testing EdgeACL5
      and EdgeDictionary5\n\t declare local var.number5 STRING;\n\t set var.number5
      = table.lookup(demoDICTtest, client.as.number);\n\n\t if (var.number5 == \"true\")
      {\n\t set req.http.securityruleid = \"num5-block\";\n\t error 403 \"Access Denied\";\n\t  }\n    ","created_at":"2021-01-14T10:33:54Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-01-14T10:33:54Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
