---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/snippet/ZoMomE3AaTnyJjM4cslCA1
    method: GET
  response:
    body: '{"snippet_id":"ZoMomE3AaTnyJjM4cslCA1","created_at":"2022-11-07T12:19:34Z","updated_at":"2022-11-07T12:19:34Z","service_id":"kKJb5bOFI47uHeBVluGfX1","content":"#vcl"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
