---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/snippet/7ahJxq7lZTDkGQn2SOqPB4
    method: GET
  response:
    body: '{"snippet_id":"7ahJxq7lZTDkGQn2SOqPB4","updated_at":"2021-11-03T17:25:58Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","created_at":"2021-11-03T17:25:58Z","content":"#vcl"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
