---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/13/snippet/snipver
    method: GET
  response:
    body: '{"updated_at":"2021-06-23T12:58:34Z","version":"13","content":"#vcl","deleted_at":null,"name":"snipver","created_at":"2021-06-23T12:58:34Z","dynamic":"0","service_id":"7i6HN3TK9wS159v2gPAZ8A","id":"425c18oKgfiNdUrGtFzKeh","type":"fetch","priority":"100"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
