---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/80/snippet/snipver
    method: GET
  response:
    body: '{"type":"fetch","updated_at":"2021-11-26T07:21:18Z","name":"snipver","priority":"100","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","dynamic":"0","created_at":"2021-11-26T07:21:18Z","content":"#vcl","version":"80","id":"2t19aLnUdhacWY37Cgi3d9"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
