---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/3/snippet
    method: GET
  response:
    body: '[{"priority":"50","version":"3","dynamic":"0","name":"newTestSnippetName","content":"\n\t
      # testing EdgeACL5 and EdgeDictionary5\n\t declare local var.number5 STRING;\n\t
      set var.number5 = table.lookup(demoDICTtest, client.as.number);\n\n\t if (var.number5
      == \"true\") {\n\t set req.http.securityruleid = \"num5-block\";\n\t error 403
      \"Access Denied\";\n\t  }\n    ","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2019-04-12T14:04:36Z","updated_at":"2019-04-12T14:04:38Z","id":"4uUKgsjWz7hmPCLDTIkj8j","type":"none"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
