---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/88/snippet
    method: GET
  response:
    body: '[{"name":"snipdyn","version":"88","created_at":"2022-11-07T12:19:34Z","dynamic":"1","type":"fetch","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","priority":"123","content":null,"id":"ZoMomE3AaTnyJjM4cslCA1","updated_at":"2022-11-07T12:19:34Z"},{"priority":"100","updated_at":"2022-11-07T12:19:34Z","id":"WT2ibuLy1IEgBOgN7ZvtI4","content":"#vcl","version":"88","name":"snipver","created_at":"2022-11-07T12:19:34Z","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","dynamic":"0","type":"fetch"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
