---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/36/snippet
    method: GET
  response:
    body: '[{"version":"36","id":"lE4es0twkrfKltSI0nU1k0","updated_at":"2025-03-20T18:15:36Z","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"content":null,"dynamic":"1","name":"snipdyn","created_at":"2025-03-20T18:15:36Z","type":"fetch","priority":"123"},{"version":"36","id":"i33J0p7U8HIVZDGqxncM92","updated_at":"2025-03-20T18:15:36Z","service_id":"kKJb5bOFI47uHeBVluGfX1","dynamic":"0","deleted_at":null,"content":"#vcl","name":"snipver","created_at":"2025-03-20T18:15:36Z","type":"fetch","priority":"100"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
