---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/80/snippet
    method: GET
  response:
    body: '[{"content":null,"type":"fetch","dynamic":"1","priority":"123","created_at":"2021-11-26T07:21:19Z","id":"2lag0ngIB569L99MYVaUMb","name":"snipdyn","version":"80","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"updated_at":"2021-11-26T07:21:19Z"},{"content":"#vcl","type":"fetch","version":"80","name":"snipver","priority":"100","dynamic":"0","id":"2t19aLnUdhacWY37Cgi3d9","created_at":"2021-11-26T07:21:18Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"updated_at":"2021-11-26T07:21:18Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
