---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/98/snippet
    method: GET
  response:
    body: '[{"service_id":"3QSsca5ilwNVpceZ2HJIAH","content":null,"created_at":"2021-11-03T17:25:58Z","deleted_at":null,"version":"98","updated_at":"2021-11-03T17:25:58Z","priority":"123","name":"snipdyn","type":"fetch","id":"7ahJxq7lZTDkGQn2SOqPB4","dynamic":"1"},{"id":"10mlhMpOm4St4hsnk0Wl31","dynamic":"0","type":"fetch","priority":"100","name":"snipver","service_id":"3QSsca5ilwNVpceZ2HJIAH","content":"#vcl","created_at":"2021-11-03T17:25:58Z","deleted_at":null,"version":"98","updated_at":"2021-11-03T17:25:58Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
