---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/13/snippet
    method: GET
  response:
    body: '[{"content":null,"name":"snipdyn","version":"13","service_id":"3QSsca5ilwNVpceZ2HJIAH","priority":"123","dynamic":"1","created_at":"2021-06-23T12:58:35Z","deleted_at":null,"updated_at":"2021-06-23T12:58:35Z","type":"fetch","id":"0nO9jIuehPc4RDYpBa7fJw"},{"type":"fetch","id":"425c18oKgfiNdUrGtFzKeh","created_at":"2021-06-23T12:58:34Z","dynamic":"0","updated_at":"2021-06-23T12:58:34Z","deleted_at":null,"content":"#vcl","priority":"100","name":"snipver","version":"13","service_id":"3QSsca5ilwNVpceZ2HJIAH"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
