---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/48/snippet
    method: GET
  response:
    body: '[{"created_at":"2019-05-10T18:17:55Z","dynamic":"0","priority":"50","version":"48","type":"none","name":"newTestSnippetName","updated_at":"2019-05-10T18:17:58Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"content":"\n\t
      # testing EdgeACL5 and EdgeDictionary5\n\t declare local var.number5 STRING;\n\t
      set var.number5 = table.lookup(demoDICTtest, client.as.number);\n\n\t if (var.number5
      == \"true\") {\n\t set req.http.securityruleid = \"num5-block\";\n\t error 403
      \"Access Denied\";\n\t  }\n    ","id":"0PJ48WhuJVqxpqIAldWQ4E"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
