---
version: 1
interactions:
- request:
    body: ID=2Ixzsm1YNjy9csTVNIKSjp&ServiceID=7i6HN3TK9wS159v2gPAZ8A&content=%0A%09+%23+testing+EdgeACL5+and+EdgeDictionary5%0A%09+declare+local+var.number5+STRING%3B%0A%09+set+var.number5+%3D+table.lookup%28demoDICTtest%2C+client.as.number%29%3B%0A%0A%09+if+%28var.number5+%3D%3D+%22true%22%29+%7B%0A%09+set+req.http.securityruleid+%3D+%22num5-block%22%3B%0A%09+error+403+%22Access+Denied%22%3B%0A%09++%7D%0A++++
    form:
      ID:
      - 2Ixzsm1YNjy9csTVNIKSjp
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      content:
      - "\n\t # testing EdgeACL5 and EdgeDictionary5\n\t declare local var.number5
        STRING;\n\t set var.number5 = table.lookup(demoDICTtest, client.as.number);\n\n\t
        if (var.number5 == \"true\") {\n\t set req.http.securityruleid = \"num5-block\";\n\t
        error 403 \"Access Denied\";\n\t  }\n    "
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/snippet/2Ixzsm1YNjy9csTVNIKSjp
    method: PUT
  response:
    body: '{"created_at":"2021-01-14T10:33:54Z","content":"\n\t # testing EdgeACL5
      and EdgeDictionary5\n\t declare local var.number5 STRING;\n\t set var.number5
      = table.lookup(demoDICTtest, client.as.number);\n\n\t if (var.number5 == \"true\")
      {\n\t set req.http.securityruleid = \"num5-block\";\n\t error 403 \"Access Denied\";\n\t  }\n    ","snippet_id":"2Ixzsm1YNjy9csTVNIKSjp","updated_at":"2021-01-14T10:33:54Z","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "836"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
