---
version: 1
interactions:
- request:
    body: content=%23vclUpdated
    form:
      content:
      - '#vclUpdated'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/snippet/lE4es0twkrfKltSI0nU1k0
    method: PUT
  response:
    body: '{"content":"#vclUpdated","snippet_id":"lE4es0twkrfKltSI0nU1k0","created_at":"2025-03-20T18:15:36Z","updated_at":"2025-03-20T18:15:36Z","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9995"
      Fastly-Ratelimit-Reset:
      - "1742497200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
