---
version: 1
interactions:
- request:
    body: content=%23vclUpdated
    form:
      content:
      - '#vclUpdated'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/snippet/ZoMomE3AaTnyJjM4cslCA1
    method: PUT
  response:
    body: '{"created_at":"2022-11-07T12:19:34Z","content":"#vclUpdated","snippet_id":"ZoMomE3AaTnyJjM4cslCA1","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2022-11-07T12:19:34Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9988"
      Fastly-Ratelimit-Reset:
      - "1667826000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
