---
version: 1
interactions:
- request:
    body: Name=snipver&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=80&content=%23vclUpdated&name=snipverUpdated&priority=456&type=hit
    form:
      Name:
      - snipver
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "80"
      content:
      - '#vclUpdated'
      name:
      - snipverUpdated
      priority:
      - "456"
      type:
      - hit
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/80/snippet/snipver
    method: PUT
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"updated_at":"2021-11-26T07:21:18Z","content":"#vclUpdated","type":"hit","version":"80","name":"snipverUpdated","id":"2t19aLnUdhacWY37Cgi3d9","created_at":"2021-11-26T07:21:18Z","priority":"456","dynamic":"0"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4955"
      Fastly-Ratelimit-Reset:
      - "1637913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
