---
version: 1
rwmutex: {}
interactions:
- request:
    body: ID=4tZ3EnzeCIiKtsmQcJRs2X&Service=7i6HN3TK9wS159v2gPAZ8A&content=%0A%09+%23+testing+EdgeACL5+and+EdgeDictionary5%0A%09+declare+local+var.number5+STRING%3B%0A%09+set+var.number5+%3D+table.lookup%28demoDICTtest%2C+client.as.number%29%3B%0A%0A%09+if+%28var.number5+%3D%3D+%22true%22%29+%7B%0A%09+set+req.http.securityruleid+%3D+%22num5-block%22%3B%0A%09+error+403+%22Access+Denied%22%3B%0A%09++%7D%0A++++
    form:
      ID:
      - 4tZ3EnzeCIiKtsmQcJRs2X
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      content:
      - "\n\t # testing EdgeACL5 and EdgeDictionary5\n\t declare local var.number5
        STRING;\n\t set var.number5 = table.lookup(demoDICTtest, client.as.number);\n\n\t
        if (var.number5 == \"true\") {\n\t set req.http.securityruleid = \"num5-block\";\n\t
        error 403 \"Access Denied\";\n\t  }\n    "
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/snippet/4tZ3EnzeCIiKtsmQcJRs2X
    method: PUT
  response:
    body: '{"content":"\n\t # testing EdgeACL5 and EdgeDictionary5\n\t declare local
      var.number5 STRING;\n\t set var.number5 = table.lookup(demoDICTtest, client.as.number);\n\n\t
      if (var.number5 == \"true\") {\n\t set req.http.securityruleid = \"num5-block\";\n\t
      error 403 \"Access Denied\";\n\t  }\n    ","snippet_id":"4tZ3EnzeCIiKtsmQcJRs2X","created_at":"2019-05-10T18:17:55Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2019-05-10T18:17:55Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1557514800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
