---
version: 1
interactions:
- request:
    body: ID=2lag0ngIB569L99MYVaUMb&ServiceID=7i6HN3TK9wS159v2gPAZ8A&content=%23vclUpdated
    form:
      ID:
      - 2lag0ngIB569L99MYVaUMb
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      content:
      - '#vclUpdated'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/snippet/2lag0ngIB569L99MYVaUMb
    method: PUT
  response:
    body: '{"updated_at":"2021-11-26T07:21:19Z","snippet_id":"2lag0ngIB569L99MYVaUMb","created_at":"2021-11-26T07:21:19Z","content":"#vclUpdated","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4954"
      Fastly-Ratelimit-Reset:
      - "1637913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
