---
version: 1
interactions:
- request:
    body: content=%23vclUpdated&name=snipverUpdated&priority=456&type=hit
    form:
      content:
      - '#vclUpdated'
      name:
      - snipverUpdated
      priority:
      - "456"
      type:
      - hit
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/36/snippet/snipver
    method: PUT
  response:
    body: '{"updated_at":"2025-03-20T18:15:36Z","content":"#vclUpdated","deleted_at":null,"priority":"456","type":"hit","id":"i33J0p7U8HIVZDGqxncM92","dynamic":"0","name":"snipverUpdated","created_at":"2025-03-20T18:15:36Z","version":"36","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9996"
      Fastly-Ratelimit-Reset:
      - "1742497200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
