---
version: 1
interactions:
- request:
    body: Name=snipver&ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=98&content=%23vclUpdated&name=snipverUpdated&priority=456&type=hit
    form:
      Name:
      - snipver
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "98"
      content:
      - '#vclUpdated'
      name:
      - snipverUpdated
      priority:
      - "456"
      type:
      - hit
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/98/snippet/snipver
    method: PUT
  response:
    body: '{"dynamic":"0","name":"snipverUpdated","type":"hit","priority":"456","service_id":"3QSsca5ilwNVpceZ2HJIAH","updated_at":"2021-11-03T17:25:58Z","id":"10mlhMpOm4St4hsnk0Wl31","content":"#vclUpdated","created_at":"2021-11-03T17:25:58Z","deleted_at":null,"version":"98"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4815"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
