---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=testsnip0&Service=7i6HN3TK9wS159v2gPAZ8A&Version=48&content=%0A%09+%23+testing+EdgeACL5+and+EdgeDictionary5%0A%09+declare+local+var.number5+STRING%3B%0A%09+set+var.number5+%3D+table.lookup%28demoDICTtest%2C+client.as.number%29%3B%0A%0A%09+if+%28var.number5+%3D%3D+%22true%22%29+%7B%0A%09+set+req.http.securityruleid+%3D+%22num5-block%22%3B%0A%09+error+403+%22Access+Denied%22%3B%0A%09++%7D%0A++++&dynamic=0&name=newTestSnippetName&priority=50&type=none
    form:
      Name:
      - testsnip0
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "48"
      content:
      - "\n\t # testing EdgeACL5 and EdgeDictionary5\n\t declare local var.number5
        STRING;\n\t set var.number5 = table.lookup(demoDICTtest, client.as.number);\n\n\t
        if (var.number5 == \"true\") {\n\t set req.http.securityruleid = \"num5-block\";\n\t
        error 403 \"Access Denied\";\n\t  }\n    "
      dynamic:
      - "0"
      name:
      - newTestSnippetName
      priority:
      - "50"
      type:
      - none
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/48/snippet/testsnip0
    method: PUT
  response:
    body: '{"updated_at":"2019-05-10T18:17:55Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","content":"\n\t
      # testing EdgeACL5 and EdgeDictionary5\n\t declare local var.number5 STRING;\n\t
      set var.number5 = table.lookup(demoDICTtest, client.as.number);\n\n\t if (var.number5
      == \"true\") {\n\t set req.http.securityruleid = \"num5-block\";\n\t error 403
      \"Access Denied\";\n\t  }\n    ","deleted_at":null,"id":"0PJ48WhuJVqxpqIAldWQ4E","created_at":"2019-05-10T18:17:55Z","dynamic":"0","priority":"50","type":"none","version":"48","name":"newTestSnippetName"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "994"
      Fastly-Ratelimit-Reset:
      - "1557514800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
