---
version: 1
interactions:
- request:
    body: Name=snipver&ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=13&content=%23vclUpdated&name=snipverUpdated&priority=456&type=hit
    form:
      Name:
      - snipver
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "13"
      content:
      - '#vclUpdated'
      name:
      - snipverUpdated
      priority:
      - "456"
      type:
      - hit
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/13/snippet/snipver
    method: PUT
  response:
    body: '{"updated_at":"2021-06-23T12:58:34Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","created_at":"2021-06-23T12:58:34Z","version":"13","content":"#vclUpdated","priority":"456","id":"425c18oKgfiNdUrGtFzKeh","type":"hit","dynamic":"0","name":"snipverUpdated","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4980"
      Fastly-Ratelimit-Reset:
      - "1624453200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
