---
version: 1
interactions:
- request:
    body: content=%23vclUpdated&name=snipverUpdated&priority=456&type=hit
    form:
      content:
      - '#vclUpdated'
      name:
      - snipverUpdated
      priority:
      - "456"
      type:
      - hit
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/88/snippet/snipver
    method: PUT
  response:
    body: '{"id":"WT2ibuLy1IEgBOgN7ZvtI4","version":"88","deleted_at":null,"content":"#vclUpdated","name":"snipverUpdated","service_id":"kKJb5bOFI47uHeBVluGfX1","type":"hit","priority":"456","created_at":"2022-11-07T12:19:34Z","updated_at":"2022-11-07T12:19:34Z","dynamic":"0"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9989"
      Fastly-Ratelimit-Reset:
      - "1667826000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
