---
version: 1
interactions:
- request:
    body: ID=0nO9jIuehPc4RDYpBa7fJw&ServiceID=7i6HN3TK9wS159v2gPAZ8A&content=%23vclUpdated
    form:
      ID:
      - 0nO9jIuehPc4RDYpBa7fJw
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      content:
      - '#vclUpdated'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/snippet/0nO9jIuehPc4RDYpBa7fJw
    method: PUT
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","snippet_id":"0nO9jIuehPc4RDYpBa7fJw","content":"#vclUpdated","updated_at":"2021-06-23T12:58:35Z","created_at":"2021-06-23T12:58:35Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4979"
      Fastly-Ratelimit-Reset:
      - "1624453200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
