---
version: 1
interactions:
- request:
    body: ID=7ahJxq7lZTDkGQn2SOqPB4&ServiceID=7i6HN3TK9wS159v2gPAZ8A&content=%23vclUpdated
    form:
      ID:
      - 7ahJxq7lZTDkGQn2SOqPB4
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      content:
      - '#vclUpdated'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/snippet/7ahJxq7lZTDkGQn2SOqPB4
    method: PUT
  response:
    body: '{"snippet_id":"7ahJxq7lZTDkGQn2SOqPB4","service_id":"7i6HN3TK9wS159v2gPAZ8A","content":"#vclUpdated","created_at":"2021-11-03T17:25:58Z","updated_at":"2021-11-03T17:25:58Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4814"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
