---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/688/vcl/new-test-vcl/main
    method: PUT
  response:
    body: '{"version":688,"name":"new-test-vcl","content":"\nbackend default {\n  .host
      = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub vcl_recv {\n  set req.backend
      = default;\n}\n\nsub vcl_hash {\n  set req.hash += req.url;\n  set req.hash
      += req.http.host;\n  set req.hash += \"0\";\n}\n","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","main":true,"created_at":"2017-07-20T01:15:10+00:00","updated_at":"2017-07-20T01:15:11+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "878"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
