---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/85/vcl/new-test-vcl/main
    method: PUT
  response:
    body: '{"main":true,"deleted_at":null,"created_at":"2022-11-07T11:30:07Z","content":"\nbackend
      default {\n  .host = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub vcl_recv
      {\n  set req.backend = default;\n\n  if (req.url.path ~ \"(1|2)\") {\n    //
      ...\n  }\n}\n\nsub vcl_hash {\n  set req.hash += req.url;\n  set req.hash +=
      req.http.host;\n  set req.hash += \"0\";\n}\n","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2022-11-07T11:30:08Z","name":"new-test-vcl","version":85}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9959"
      Fastly-Ratelimit-Reset:
      - "1667822400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
