---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/97/vcl/test-vcl
    method: GET
  response:
    body: '{"main":false,"name":"test-vcl","deleted_at":null,"version":97,"updated_at":"2021-11-03T17:24:55Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","content":"\nbackend
      default {\n  .host = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub vcl_recv
      {\n  set req.backend = default;\n\n  if (req.url.path ~ \"(1|2)\") {\n    //
      ...\n  }\n}\n\nsub vcl_hash {\n  set req.hash += req.url;\n  set req.hash +=
      req.http.host;\n  set req.hash += \"0\";\n}\n","created_at":"2021-11-03T17:24:55Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
