---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/40/vcl/test-vcl
    method: GET
  response:
    body: '{"created_at":"2021-11-02T18:49:41Z","version":40,"main":false,"name":"test-vcl","service_id":"7i6HN3TK9wS159v2gPAZ8A","content":"\nbackend
      default {\n  .host = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub vcl_recv
      {\n  set req.backend = default;\n\n  if (req.url.path ~ \"(1|2)\") {\n    //
      ...\n  }\n}\n\nsub vcl_hash {\n  set req.hash += req.url;\n  set req.hash +=
      req.http.host;\n  set req.hash += \"0\";\n}\n","updated_at":"2021-11-02T18:49:41Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
