---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/24/vcl
    method: GET
  response:
    body: '[{"name":"test-vcl","updated_at":"2021-01-14T10:33:35Z","main":false,"content":"\nbackend
      default {\n  .host = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub vcl_recv
      {\n  set req.backend = default;\n}\n\nsub vcl_hash {\n  set req.hash += req.url;\n  set
      req.hash += req.http.host;\n  set req.hash += \"0\";\n}\n","created_at":"2021-01-14T10:33:35Z","version":24,"service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
