---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/51/vcl
    method: GET
  response:
    body: '[{"name":"test-vcl","version":51,"main":false,"updated_at":"2019-05-11T00:32:53Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","content":"\nbackend
      default {\n  .host = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub vcl_recv
      {\n  set req.backend = default;\n}\n\nsub vcl_hash {\n  set req.hash += req.url;\n  set
      req.hash += req.http.host;\n  set req.hash += \"0\";\n}\n","deleted_at":null,"created_at":"2019-05-11T00:32:53Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
