---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/95/vcl
    method: GET
  response:
    body: '[{"deleted_at":null,"updated_at":"2025-04-29T18:01:59Z","created_at":"2025-04-29T18:01:59Z","content":"\nbackend
      default {\n  .host = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub vcl_recv
      {\n  set req.backend = default;\n\n  if (req.url.path ~ \"(1|2)\") {\n    //
      ...\n  }\n}\n\nsub vcl_hash {\n  set req.hash += req.url;\n  set req.hash +=
      req.http.host;\n  set req.hash += \"0\";\n}\n","main":false,"service_id":"kKJb5bOFI47uHeBVluGfX1","version":95,"name":"test-vcl"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
