---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-vcl&Service=7i6HN3TK9wS159v2gPAZ8A&Version=51&name=new-test-vcl
    form:
      Name:
      - test-vcl
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "51"
      name:
      - new-test-vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/51/vcl/test-vcl
    method: PUT
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","content":"\nbackend default {\n  .host
      = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub vcl_recv {\n  set req.backend
      = default;\n}\n\nsub vcl_hash {\n  set req.hash += req.url;\n  set req.hash
      += req.http.host;\n  set req.hash += \"0\";\n}\n","updated_at":"2019-05-11T00:32:53Z","main":false,"created_at":"2019-05-11T00:32:53Z","deleted_at":null,"name":"new-test-vcl","version":51}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "993"
      Fastly-Ratelimit-Reset:
      - "1557536400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
