---
version: 1
interactions:
- request:
    body: name=new-test-vcl
    form:
      name:
      - new-test-vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/85/vcl/test-vcl
    method: PUT
  response:
    body: '{"content":"\nbackend default {\n  .host = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub
      vcl_recv {\n  set req.backend = default;\n\n  if (req.url.path ~ \"(1|2)\")
      {\n    // ...\n  }\n}\n\nsub vcl_hash {\n  set req.hash += req.url;\n  set req.hash
      += req.http.host;\n  set req.hash += \"0\";\n}\n","updated_at":"2022-11-07T11:30:07Z","main":false,"created_at":"2022-11-07T11:30:07Z","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"name":"new-test-vcl","version":85}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9960"
      Fastly-Ratelimit-Reset:
      - "1667822400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
