---
version: 1
interactions:
- request:
    body: Name=test-vcl&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=24&name=new-test-vcl
    form:
      Name:
      - test-vcl
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "24"
      name:
      - new-test-vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/24/vcl/test-vcl
    method: PUT
  response:
    body: '{"content":"\nbackend default {\n  .host = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub
      vcl_recv {\n  set req.backend = default;\n}\n\nsub vcl_hash {\n  set req.hash
      += req.url;\n  set req.hash += req.http.host;\n  set req.hash += \"0\";\n}\n","updated_at":"2021-01-14T10:33:35Z","version":24,"deleted_at":null,"name":"new-test-vcl","created_at":"2021-01-14T10:33:35Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","main":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "844"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
