---
version: 1
interactions:
- request:
    body: Name=test-vcl&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=97&name=new-test-vcl
    form:
      Name:
      - test-vcl
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "97"
      name:
      - new-test-vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/97/vcl/test-vcl
    method: PUT
  response:
    body: '{"name":"new-test-vcl","version":97,"deleted_at":null,"updated_at":"2021-11-03T17:24:55Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","content":"\nbackend
      default {\n  .host = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub vcl_recv
      {\n  set req.backend = default;\n\n  if (req.url.path ~ \"(1|2)\") {\n    //
      ...\n  }\n}\n\nsub vcl_hash {\n  set req.hash += req.url;\n  set req.hash +=
      req.http.host;\n  set req.hash += \"0\";\n}\n","created_at":"2021-11-03T17:24:55Z","main":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4823"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
