---
version: 1
interactions:
- request:
    body: Context=&name=new-test-vcl
    form:
      Context:
      - ""
      name:
      - new-test-vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/95/vcl/test-vcl
    method: PUT
  response:
    body: '{"updated_at":"2025-04-29T18:01:59Z","deleted_at":null,"content":"\nbackend
      default {\n  .host = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub vcl_recv
      {\n  set req.backend = default;\n\n  if (req.url.path ~ \"(1|2)\") {\n    //
      ...\n  }\n}\n\nsub vcl_hash {\n  set req.hash += req.url;\n  set req.hash +=
      req.http.host;\n  set req.hash += \"0\";\n}\n","version":95,"created_at":"2025-04-29T18:01:59Z","main":false,"name":"new-test-vcl","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1745953200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
