---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/events/6841c2c07d3691b0f5b95130
    method: GET
  response:
    body: |
      {"id":"6841c2c07d3691b0f5b95130","created_at":"2025-06-05T16:15:58Z","detected_at":"2025-06-05T16:16:00Z","source":"96.224.50.187","country":"US","remote_hostname":"pool-96-224-50-187.nycmny.fios.verizon.net","user_agents":["curl/8.7.1"],"action":"flagged","type":"attack","reasons":[{"signal_id":"CMDEXE","count":97}],"block_signals":null,"request_count":97,"blocked_request_count":0,"flagged_request_count":0,"window":60,"expires_at":"2025-06-05T16:20:02Z","is_expired":true,"sample_request":{"id":"2b353ef6ae3347e5b8e1000000000001","timestamp":"2025-06-05T16:15:16Z","server_hostname":"fastlydevtoolstesting.com","server_name":"fastlydevtoolstesting.com","uri":"/","path":"/","user_agent":"curl/8.7.1","remote_ip":"96.224.50.187","remote_hostname":"pool-96-224-50-187.nycmny.fios.verizon.net","country":"US","method":"POST","protocol":"HTTP/1.1","tls_protocol":"","tls_cipher":"","scheme":"http","response_code":401,"response_size":4696,"response_time":70,"agent_response_code":200,"request_headers":[{"name":"Fastly-Ff","value":"7rhL8T7Um/0khntXIHgopW0fTXKYvcj2vPpd1I+60Rc=!EWR!cache-ewr-kewr1740075-EWR"},{"name":"Accept","value":"*/*"},{"name":"Cdn-Loop","value":"Fastly"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"X-Sigsci-Client-Geo-Country-Code","value":"US"},{"name":"Host","value":"fastlydevtoolstesting.com"},{"name":"X-Varnish","value":"2644044629"},{"name":"X-Sigsci-Serviceid-Prod","value":"kKJb5bOFI47uHeBVluGfX1"},{"name":"X-Sigsci-Client-Geo-City","value":"ossining"},{"name":"X-Sigsci-Requestid","value":"2b353ef6ae3347e5b8e1000000000001"},{"name":"Content-Length","value":"22"},{"name":"X-Uat-Ip","value":"10.2.3.4"},{"name":"User-Agent","value":"curl/8.7.1"},{"name":"X-Sigsci-Edgemodule","value":"vcl 3.1.0"},{"name":"Fastly-Client-Ip","value":"96.224.50.187"},{"name":"X-Timer","value":"S1749140117.613294,VS0"}],"response_headers":[{"name":"X-Glitch-Proxy","value":"true"},{"name":"Date","value":"Thu, 05 Jun 2025 16:15:16 GMT"},{"name":"Content-Type","value":"text/html; charset=utf-8"},{"name":"X-Cache","value":"MISS"},{"name":"Content-Length","value":"4696"},{"name":"Connection","value":"keep-alive"},{"name":"X-Cache-Hits","value":"0"},{"name":"X-Served-By","value":"cache-ewr-kewr1740071-EWR"},{"name":"Cache-Control","value":"no-cache"},{"name":"Etag","value":"W/\"1258-L4oi8+nPFPCcbfyW0wTUanWWJ3U\""}],"signals":[{"id":"CMDEXE","location":"POST","value":"bar70=;cat /etc/passwd","detector":"CmdExeRule"},{"id":"HTTP4XX","location":"","value":"401","detector":"HTTPErrorRule"}],"ja3":"","ja4":"","summation":{"attrs":{},"attacks":[]}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
