---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=54&comment=test+pool&name=test_pool&quorum=50&tls_cert_hostname=example.com&type=random&use_tls=1
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "54"
      comment:
      - test pool
      name:
      - test_pool
      quorum:
      - "50"
      tls_cert_hostname:
      - example.com
      type:
      - random
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/54/pool
    method: POST
  response:
    body: '{"comment":"test pool","name":"test_pool","quorum":"50","tls_cert_hostname":"example.com","type":"random","use_tls":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"54","min_tls_version":null,"tls_ciphers":null,"tls_sni_hostname":null,"updated_at":"2021-01-14T10:46:11Z","between_bytes_timeout":"10000","deleted_at":null,"id":"5AU4vnHtp2QSywo4qD2YlG","tls_client_key":null,"request_condition":null,"max_conn_default":"200","max_tls_version":null,"healthcheck":null,"tls_check_cert":"1","override_host":null,"tls_client_cert":null,"tls_ca_cert":null,"shield":null,"first_byte_timeout":"15000","created_at":"2021-01-14T10:46:11Z","connect_timeout":"1000"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "658"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
