---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=47&comment=test+pool&name=test_pool&quorum=50&tls_cert_hostname=example.com&type=random&use_tls=1
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "47"
      comment:
      - test pool
      name:
      - test_pool
      quorum:
      - "50"
      tls_cert_hostname:
      - example.com
      type:
      - random
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/47/pool
    method: POST
  response:
    body: '{"comment":"test pool","name":"test_pool","quorum":"50","tls_cert_hostname":"example.com","type":"random","use_tls":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"47","connect_timeout":"1000","tls_ciphers":null,"min_tls_version":null,"tls_sni_hostname":null,"tls_client_cert":null,"updated_at":"2020-01-22T19:24:21Z","deleted_at":null,"max_conn_default":"200","tls_check_cert":"1","created_at":"2020-01-22T19:24:21Z","healthcheck":null,"request_condition":null,"between_bytes_timeout":"10000","id":"533diB2z7wqwYl6pLSqEjN","max_tls_version":null,"override_host":null,"first_byte_timeout":"15000","tls_client_key":null,"tls_ca_cert":null,"shield":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "974"
      Fastly-Ratelimit-Reset:
      - "1579723200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
