---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=52&comment=test+pool&name=test_pool&quorum=50&tls_cert_hostname=example.com&type=random&use_tls=1
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "52"
      comment:
      - test pool
      name:
      - test_pool
      quorum:
      - "50"
      tls_cert_hostname:
      - example.com
      type:
      - random
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/52/pool
    method: POST
  response:
    body: '{"comment":"test pool","name":"test_pool","quorum":"50","tls_cert_hostname":"example.com","type":"random","use_tls":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"52","between_bytes_timeout":"10000","tls_sni_hostname":null,"tls_ca_cert":null,"override_host":null,"tls_check_cert":"1","created_at":"2020-01-29T18:35:26Z","tls_ciphers":null,"max_tls_version":null,"min_tls_version":null,"shield":null,"first_byte_timeout":"15000","healthcheck":null,"tls_client_key":null,"max_conn_default":"200","id":"2mH957TljpGXrqyh1bL7g4","updated_at":"2020-01-29T18:35:26Z","connect_timeout":"1000","tls_client_cert":null,"request_condition":null,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "998"
      Fastly-Ratelimit-Reset:
      - "1580324400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
