---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=54&comment=test+pool&name=test_pool&quorum=50&tls_cert_hostname=example.com&type=random&use_tls=1
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "54"
      comment:
      - test pool
      name:
      - test_pool
      quorum:
      - "50"
      tls_cert_hostname:
      - example.com
      type:
      - random
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/54/pool
    method: POST
  response:
    body: '{"comment":"test pool","name":"test_pool","quorum":"50","tls_cert_hostname":"example.com","type":"random","use_tls":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"54","max_conn_default":"200","healthcheck":null,"tls_ciphers":null,"first_byte_timeout":"15000","created_at":"2020-01-29T21:31:41Z","tls_check_cert":"1","tls_sni_hostname":null,"request_condition":null,"min_tls_version":null,"shield":null,"deleted_at":null,"max_tls_version":null,"between_bytes_timeout":"10000","id":"0vIHpkzwPzimDWaHBB9Rw5","updated_at":"2020-01-29T21:31:41Z","tls_ca_cert":null,"tls_client_key":null,"connect_timeout":"1000","tls_client_cert":null,"override_host":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "988"
      Fastly-Ratelimit-Reset:
      - "1580335200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
