---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/54/pool/test_pool
    method: GET
  response:
    body: '{"tls_client_cert":null,"name":"test_pool","request_condition":null,"quorum":"50","deleted_at":null,"use_tls":"1","updated_at":"2020-01-29T21:31:41Z","connect_timeout":"1000","tls_cert_hostname":"example.com","healthcheck":null,"version":"54","max_conn_default":"200","tls_client_key":null,"id":"0vIHpkzwPzimDWaHBB9Rw5","shield":null,"first_byte_timeout":"15000","tls_ciphers":null,"max_tls_version":null,"min_tls_version":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","override_host":null,"created_at":"2020-01-29T21:31:41Z","tls_check_cert":"1","tls_ca_cert":null,"comment":"test
      pool","between_bytes_timeout":"10000","type":"random","tls_sni_hostname":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
