---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/91/pool/test_pool
    method: GET
  response:
    body: '{"request_condition":null,"max_tls_version":null,"tls_check_cert":"1","tls_client_key":null,"id":"cXnqibjoY1ORjKtbrWhSS5","between_bytes_timeout":"10000","created_at":"2022-11-07T13:45:41Z","tls_cert_hostname":"example.com","tls_ciphers":null,"connect_timeout":"1000","use_tls":"1","min_tls_version":null,"quorum":"50","shield":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","name":"test_pool","deleted_at":null,"tls_ca_cert":null,"version":"91","comment":"test
      pool","first_byte_timeout":"15000","healthcheck":null,"max_conn_default":"200","tls_client_cert":null,"updated_at":"2022-11-07T13:45:41Z","tls_sni_hostname":null,"override_host":null,"type":"random"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
