---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/52/pool/test_pool
    method: GET
  response:
    body: '{"type":"random","override_host":null,"id":"2mH957TljpGXrqyh1bL7g4","tls_ca_cert":null,"updated_at":"2020-01-29T18:35:26Z","version":"52","tls_client_cert":null,"healthcheck":null,"connect_timeout":"1000","service_id":"7i6HN3TK9wS159v2gPAZ8A","shield":null,"tls_check_cert":"1","between_bytes_timeout":"10000","name":"test_pool","min_tls_version":null,"use_tls":"1","first_byte_timeout":"15000","max_tls_version":null,"max_conn_default":"200","tls_sni_hostname":null,"comment":"test
      pool","tls_client_key":null,"deleted_at":null,"quorum":"50","request_condition":null,"tls_cert_hostname":"example.com","created_at":"2020-01-29T18:35:26Z","tls_ciphers":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
