---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/91/pool
    method: GET
  response:
    body: '[{"service_id":"kKJb5bOFI47uHeBVluGfX1","healthcheck":null,"max_tls_version":null,"updated_at":"2022-11-07T13:45:41Z","between_bytes_timeout":"10000","name":"test_pool","version":"91","tls_check_cert":"1","override_host":null,"id":"cXnqibjoY1ORjKtbrWhSS5","max_conn_default":"200","comment":"test
      pool","deleted_at":null,"tls_ca_cert":null,"type":"random","connect_timeout":"1000","quorum":"50","first_byte_timeout":"15000","tls_client_cert":null,"tls_cert_hostname":"example.com","tls_client_key":null,"shield":null,"min_tls_version":null,"use_tls":"1","request_condition":null,"tls_ciphers":null,"created_at":"2022-11-07T13:45:41Z","tls_sni_hostname":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
