---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/47/pool
    method: GET
  response:
    body: '[{"tls_ciphers":null,"id":"533diB2z7wqwYl6pLSqEjN","min_tls_version":null,"updated_at":"2020-01-22T19:24:21Z","version":"47","type":"random","deleted_at":null,"request_condition":null,"override_host":null,"tls_ca_cert":null,"use_tls":"1","name":"test_pool","tls_cert_hostname":"example.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","tls_sni_hostname":null,"tls_client_key":null,"max_conn_default":"200","quorum":"50","shield":null,"tls_check_cert":"1","max_tls_version":null,"tls_client_cert":null,"healthcheck":null,"between_bytes_timeout":"10000","connect_timeout":"1000","created_at":"2020-01-22T19:24:21Z","comment":"test
      pool","first_byte_timeout":"15000"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
