---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/52/pool
    method: GET
  response:
    body: '[{"use_tls":"1","healthcheck":null,"updated_at":"2020-01-29T18:35:26Z","created_at":"2020-01-29T18:35:26Z","max_conn_default":"200","id":"2mH957TljpGXrqyh1bL7g4","request_condition":null,"tls_ca_cert":null,"tls_client_key":null,"tls_client_cert":null,"tls_cert_hostname":"example.com","connect_timeout":"1000","service_id":"7i6HN3TK9wS159v2gPAZ8A","shield":null,"tls_sni_hostname":null,"min_tls_version":null,"max_tls_version":null,"type":"random","deleted_at":null,"first_byte_timeout":"15000","quorum":"50","between_bytes_timeout":"10000","tls_check_cert":"1","override_host":null,"version":"52","comment":"test
      pool","name":"test_pool","tls_ciphers":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
