---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/81/pool
    method: GET
  response:
    body: '[{"version":"81","comment":"test pool","tls_sni_hostname":null,"min_tls_version":null,"shield":null,"id":"7VKzgbCVzgxjIbzWwJy3PV","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2021-11-03T17:06:47Z","tls_client_cert":null,"between_bytes_timeout":"10000","name":"test_pool","first_byte_timeout":"15000","override_host":null,"max_tls_version":null,"deleted_at":null,"use_tls":"1","tls_client_key":null,"tls_check_cert":"1","quorum":"50","tls_ciphers":null,"updated_at":"2021-11-03T17:06:47Z","tls_ca_cert":null,"request_condition":null,"max_conn_default":"200","type":"random","connect_timeout":"1000","tls_cert_hostname":"example.com","healthcheck":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
