---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/54/pool
    method: GET
  response:
    body: '[{"tls_client_key":null,"comment":"test pool","connect_timeout":"1000","tls_client_cert":null,"override_host":null,"use_tls":"1","max_tls_version":null,"version":"54","between_bytes_timeout":"10000","id":"0vIHpkzwPzimDWaHBB9Rw5","updated_at":"2020-01-29T21:31:41Z","tls_ca_cert":null,"tls_sni_hostname":null,"request_condition":null,"tls_cert_hostname":"example.com","shield":null,"min_tls_version":null,"deleted_at":null,"max_conn_default":"200","type":"random","healthcheck":null,"tls_ciphers":null,"first_byte_timeout":"15000","name":"test_pool","quorum":"50","created_at":"2020-01-29T21:31:41Z","tls_check_cert":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
