---
version: 1
interactions:
- request:
    body: Name=test_pool&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=54&name=new_test_pool&quorum=0&type=hash
    form:
      Name:
      - test_pool
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "54"
      name:
      - new_test_pool
      quorum:
      - "0"
      type:
      - hash
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/54/pool/test_pool
    method: PUT
  response:
    body: '{"quorum":"0","healthcheck":null,"tls_sni_hostname":null,"first_byte_timeout":"15000","comment":"test
      pool","deleted_at":null,"request_condition":null,"min_tls_version":null,"use_tls":"1","created_at":"2021-01-14T10:46:11Z","max_tls_version":null,"tls_ciphers":null,"connect_timeout":"1000","tls_client_cert":null,"shield":null,"tls_ca_cert":null,"max_conn_default":"200","version":"54","updated_at":"2021-01-14T10:46:11Z","tls_cert_hostname":"example.com","override_host":null,"id":"5AU4vnHtp2QSywo4qD2YlG","tls_check_cert":"1","tls_client_key":null,"type":"hash","name":"new_test_pool","service_id":"7i6HN3TK9wS159v2gPAZ8A","between_bytes_timeout":"10000"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "657"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
