---
version: 1
interactions:
- request:
    body: Name=test_pool&Service=7i6HN3TK9wS159v2gPAZ8A&Version=52&name=new_test_pool&quorum=0
    form:
      Name:
      - test_pool
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "52"
      name:
      - new_test_pool
      quorum:
      - "0"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/52/pool/test_pool
    method: PUT
  response:
    body: '{"tls_check_cert":"1","created_at":"2020-01-29T18:35:26Z","override_host":null,"tls_ciphers":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","min_tls_version":null,"max_tls_version":null,"between_bytes_timeout":"10000","type":"random","tls_sni_hostname":null,"comment":"test
      pool","tls_ca_cert":null,"updated_at":"2020-01-29T18:35:26Z","use_tls":"1","tls_cert_hostname":"example.com","connect_timeout":"1000","name":"new_test_pool","tls_client_cert":null,"quorum":"0","deleted_at":null,"request_condition":null,"shield":null,"first_byte_timeout":"15000","tls_client_key":null,"max_conn_default":"200","healthcheck":null,"version":"52","id":"2mH957TljpGXrqyh1bL7g4"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1580324400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
