---
version: 1
interactions:
- request:
    body: Name=test_pool&Service=7i6HN3TK9wS159v2gPAZ8A&Version=47&name=new_test_pool&quorum=0
    form:
      Name:
      - test_pool
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "47"
      name:
      - new_test_pool
      quorum:
      - "0"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/47/pool/test_pool
    method: PUT
  response:
    body: '{"max_tls_version":null,"use_tls":"1","created_at":"2020-01-22T19:24:21Z","between_bytes_timeout":"10000","tls_ca_cert":null,"connect_timeout":"1000","request_condition":null,"quorum":"0","updated_at":"2020-01-22T19:24:21Z","healthcheck":null,"tls_cert_hostname":"example.com","override_host":null,"id":"533diB2z7wqwYl6pLSqEjN","min_tls_version":null,"tls_client_key":null,"tls_sni_hostname":null,"name":"new_test_pool","max_conn_default":"200","type":"random","version":"47","shield":null,"tls_ciphers":null,"tls_check_cert":"1","first_byte_timeout":"15000","deleted_at":null,"tls_client_cert":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"test
      pool"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "973"
      Fastly-Ratelimit-Reset:
      - "1579723200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
