---
version: 1
interactions:
- request:
    body: Name=test_pool&Service=7i6HN3TK9wS159v2gPAZ8A&Version=54&name=new_test_pool&quorum=0
    form:
      Name:
      - test_pool
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "54"
      name:
      - new_test_pool
      quorum:
      - "0"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/54/pool/test_pool
    method: PUT
  response:
    body: '{"max_tls_version":null,"use_tls":"1","between_bytes_timeout":"10000","version":"54","id":"0vIHpkzwPzimDWaHBB9Rw5","tls_ca_cert":null,"updated_at":"2020-01-29T21:31:41Z","comment":"test
      pool","tls_client_key":null,"tls_client_cert":null,"connect_timeout":"1000","override_host":null,"max_conn_default":"200","type":"random","healthcheck":null,"name":"new_test_pool","first_byte_timeout":"15000","tls_ciphers":null,"quorum":"0","tls_check_cert":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2020-01-29T21:31:41Z","request_condition":null,"tls_sni_hostname":null,"tls_cert_hostname":"example.com","deleted_at":null,"shield":null,"min_tls_version":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "987"
      Fastly-Ratelimit-Reset:
      - "1580335200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
