---
version: 1
interactions:
- request:
    body: Name=test_pool&ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=81&name=new_test_pool&quorum=0&type=hash
    form:
      Name:
      - test_pool
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "81"
      name:
      - new_test_pool
      quorum:
      - "0"
      type:
      - hash
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/81/pool/test_pool
    method: PUT
  response:
    body: '{"tls_client_key":null,"version":"81","updated_at":"2021-11-03T17:06:47Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","tls_cert_hostname":"example.com","use_tls":"1","between_bytes_timeout":"10000","deleted_at":null,"tls_ca_cert":null,"shield":null,"comment":"test
      pool","healthcheck":null,"request_condition":null,"name":"new_test_pool","tls_sni_hostname":null,"tls_client_cert":null,"min_tls_version":null,"connect_timeout":"1000","max_conn_default":"200","quorum":"0","max_tls_version":null,"created_at":"2021-11-03T17:06:47Z","tls_ciphers":null,"override_host":null,"first_byte_timeout":"15000","tls_check_cert":"1","id":"7VKzgbCVzgxjIbzWwJy3PV","type":"hash"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4963"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
