---
version: 1
interactions:
- request:
    body: name=new_test_pool&quorum=0&type=hash
    form:
      name:
      - new_test_pool
      quorum:
      - "0"
      type:
      - hash
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/91/pool/test_pool
    method: PUT
  response:
    body: '{"id":"cXnqibjoY1ORjKtbrWhSS5","max_conn_default":"200","quorum":"0","first_byte_timeout":"15000","tls_cert_hostname":"example.com","connect_timeout":"1000","type":"hash","tls_client_key":null,"healthcheck":null,"created_at":"2022-11-07T13:45:41Z","version":"91","max_tls_version":null,"updated_at":"2022-11-07T13:45:41Z","use_tls":"1","override_host":null,"request_condition":null,"deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","tls_check_cert":"1","tls_ciphers":null,"min_tls_version":null,"tls_ca_cert":null,"tls_sni_hostname":null,"name":"new_test_pool","tls_client_cert":null,"between_bytes_timeout":"10000","shield":null,"comment":"test
      pool"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9963"
      Fastly-Ratelimit-Reset:
      - "1667829600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
