---
version: 1
interactions:
- request:
    body: format=format&format_version=1&message_type=classic&name=test-sumologic&placement=none&url=https%3A%2F%2Ffoo.sumologic.com
    form:
      format:
      - format
      format_version:
      - "1"
      message_type:
      - classic
      name:
      - test-sumologic
      placement:
      - none
      url:
      - https://foo.sumologic.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/40/logging/sumologic
    method: POST
  response:
    body: '{"format":"format","format_version":"1","message_type":"classic","name":"test-sumologic","placement":"none","url":"https://foo.sumologic.com","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"40","response_condition":"","updated_at":"2025-09-02T17:38:08Z","deleted_at":null,"log_processing_region":"none","created_at":"2025-09-02T17:38:08Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9817"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
