---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/40/logging/sumologic/test-sumologic
    method: GET
  response:
    body: '{"version":"40","name":"test-sumologic","url":"https://foo.sumologic.com","created_at":"2025-09-02T17:38:08Z","message_type":"classic","service_id":"XsjdElScZGjmfCcTwsYRC1","placement":"none","format":"format","deleted_at":null,"format_version":"1","log_processing_region":"none","updated_at":"2025-09-02T17:38:08Z","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
