---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/40/logging/sumologic
    method: GET
  response:
    body: '[{"format":"format","service_id":"XsjdElScZGjmfCcTwsYRC1","log_processing_region":"none","message_type":"classic","created_at":"2025-09-02T17:38:08Z","deleted_at":null,"format_version":"1","version":"40","name":"test-sumologic","updated_at":"2025-09-02T17:38:08Z","url":"https://foo.sumologic.com","response_condition":"","placement":"none"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
