---
version: 1
interactions:
- request:
    body: '{"name":"new-test-sumologic","placement":"none","log_processing_region":"eu"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/98/logging/sumologic/test-sumologic
    method: PUT
  response:
    body: '{"deleted_at":null,"version":"98","response_condition":"","name":"new-test-sumologic","format_version":"1","placement":"none","created_at":"2026-07-23T19:38:23Z","url":"https://foo.sumologic.com","updated_at":"2026-07-23T19:38:23Z","log_processing_region":"eu","message_type":"classic","format":"format","service_id":"XsjdElScZGjmfCcTwsYRC1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9525"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
