---
version: 1
interactions:
- request:
    body: log_processing_region=eu&name=new-test-sumologic
    form:
      log_processing_region:
      - eu
      name:
      - new-test-sumologic
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/40/logging/sumologic/test-sumologic
    method: PUT
  response:
    body: '{"name":"new-test-sumologic","updated_at":"2025-09-02T17:38:08Z","url":"https://foo.sumologic.com","response_condition":"","placement":"none","format":"format","log_processing_region":"eu","service_id":"XsjdElScZGjmfCcTwsYRC1","message_type":"classic","created_at":"2025-09-02T17:38:08Z","format_version":"1","version":"40","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9816"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
