---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/draft/diff
    method: GET
  response:
    body: |
      {"added":[{"path":{"created_at":"2026-09-23T16:50:04Z","id":"1OD6KeujewQfO1KRksTrGM","links":{"rules":"/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/paths/1OD6KeujewQfO1KRksTrGM/rules","self":"/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/paths/1OD6KeujewQfO1KRksTrGM"},"path":"/second","updated_at":"2026-09-23T16:50:04Z"},"rules":[{"action":{"type":"service","value":"kKJb5bOFI47uHeBVluGfX1"},"conditions":[],"created_at":"2026-09-23T16:50:04Z","id":"5fQ67L2cuJsq1dcV9RCSpa","is_default":true,"updated_at":"2026-09-23T16:50:04Z"}]}],"deleted":[],"modified":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
