---
version: 1
interactions:
- request:
    body: '{"path":"/second"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/paths
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:04.049234758Z","id":"1OD6KeujewQfO1KRksTrGM","links":{"rules":"/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/paths/1OD6KeujewQfO1KRksTrGM/rules","self":"/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/paths/1OD6KeujewQfO1KRksTrGM"},"path":"/second"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
