---
version: 1
interactions:
- request:
    body: '{"action":{"type":"service","value":"kKJb5bOFI47uHeBVluGfX1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/paths/1OD6KeujewQfO1KRksTrGM/rules
    method: POST
  response:
    body: |
      {"action":{"type":"service","value":"kKJb5bOFI47uHeBVluGfX1"},"conditions":[],"created_at":"2026-09-23T16:50:04.29122092Z","id":"5fQ67L2cuJsq1dcV9RCSpa","is_default":true,"updated_at":"2026-09-23T16:50:04.29122092Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
