---
version: 1
interactions:
- request:
    body: '{"path":"/"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/paths
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:03.55754085Z","id":"nWpNhzxb9WQbnLImJ7abK","links":{"rules":"/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/paths/nWpNhzxb9WQbnLImJ7abK/rules","self":"/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/paths/nWpNhzxb9WQbnLImJ7abK"},"path":"/"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
