---
version: 1
interactions:
- request:
    body: '{"name":"gofastly-sdk-testing-draft-config"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:03.407101566Z","id":"4qRluWUwdw6ygY6tzd3EOr","links":{"paths":"/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/paths","self":"/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr"},"name":"gofastly-sdk-testing-draft-config"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
