---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/activate
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:03Z","id":"4qRluWUwdw6ygY6tzd3EOr","links":{"paths":"/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/paths","self":"/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr"},"name":"gofastly-sdk-testing-draft-config","state":"active","updated_at":"2026-09-23T16:50:03Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
