---
version: 1
interactions:
- request:
    body: StoreID=gBv5gxQ2Tbf1NzLkFhtmB0&item_key=TestClient_CreateConfigStoreItem&item_value=testing+123
    form:
      StoreID:
      - gBv5gxQ2Tbf1NzLkFhtmB0
      item_key:
      - TestClient_CreateConfigStoreItem
      item_value:
      - testing 123
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/resources/stores/config/gBv5gxQ2Tbf1NzLkFhtmB0/item
    method: POST
  response:
    body: '{"item_key":"TestClient_CreateConfigStoreItem","item_value":"testing 123","created_at":"2023-03-02T16:24:02Z","updated_at":"2023-03-02T16:24:02Z","deleted_at":null,"store_id":"gBv5gxQ2Tbf1NzLkFhtmB0"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
