---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=17&name=test-director&quorum=50&retries=5&type=1
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "17"
      name:
      - test-director
      quorum:
      - "50"
      retries:
      - "5"
      type:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/17/director
    method: POST
  response:
    body: '{"name":"test-director","quorum":50,"retries":5,"type":1,"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":17,"comment":"","deleted_at":null,"capacity":100,"updated_at":"2019-05-08T22:55:00Z","created_at":"2019-05-08T22:55:00Z","backends":[],"shield":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "987"
      Fastly-Ratelimit-Reset:
      - "1557356400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
