---
version: 1
interactions:
- request:
    body: address=integ-test.go-fastly.com&connect_timeout=1500&name=test-backend&override_host=origin.example.com&port=1234&ssl_ciphers=DHE-RSA-AES256-SHA%3ADHE-RSA-CAMELLIA256-SHA%3AAES256-GCM-SHA384
    form:
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      name:
      - test-backend
      override_host:
      - origin.example.com
      port:
      - "1234"
      ssl_ciphers:
      - DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/69/backend
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","connect_timeout":1500,"name":"test-backend","override_host":"origin.example.com","port":1234,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","service_id":"kKJb5bOFI47uHeBVluGfX1","version":69,"first_byte_timeout":15000,"healthcheck":null,"ssl_client_key":null,"deleted_at":null,"use_ssl":false,"ssl_client_cert":null,"shield":null,"weight":100,"ipv6":null,"max_conn":200,"between_bytes_timeout":10000,"error_threshold":0,"max_tls_version":null,"ssl_sni_hostname":null,"updated_at":"2022-11-04T17:04:01Z","client_cert":null,"hostname":"integ-test.go-fastly.com","comment":"","ssl_cert_hostname":null,"min_tls_version":null,"ssl_check_cert":true,"auto_loadbalance":false,"created_at":"2022-11-04T17:04:01Z","ipv4":null,"ssl_ca_cert":null,"request_condition":"","ssl_hostname":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9998"
      Fastly-Ratelimit-Reset:
      - "1667584800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: name=test-director&quorum=50&retries=5&type=1
    form:
      name:
      - test-director
      quorum:
      - "50"
      retries:
      - "5"
      type:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/69/director
    method: POST
  response:
    body: '{"name":"test-director","quorum":50,"retries":5,"type":1,"service_id":"kKJb5bOFI47uHeBVluGfX1","version":69,"updated_at":"2022-11-04T17:04:01Z","deleted_at":null,"capacity":100,"shield":null,"backends":[],"comment":"","created_at":"2022-11-04T17:04:01Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1667584800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Backend=test-backend&Director=test-director&ServiceID=kKJb5bOFI47uHeBVluGfX1&ServiceVersion=69
    form:
      Backend:
      - test-backend
      Director:
      - test-director
      ServiceID:
      - kKJb5bOFI47uHeBVluGfX1
      ServiceVersion:
      - "69"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/69/director/test-director/backend/test-backend
    method: POST
  response:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1","version":69,"director_name":"test-director","backend_name":"test-backend","updated_at":"2022-11-04T17:04:02Z","created_at":"2022-11-04T17:04:02Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9996"
      Fastly-Ratelimit-Reset:
      - "1667584800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
