---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/75/director/test-director
    method: GET
  response:
    body: '{"version":75,"backends":[],"type":1,"capacity":100,"updated_at":"2021-11-26T07:15:18Z","created_at":"2021-11-26T07:15:18Z","quorum":50,"comment":"","deleted_at":null,"shield":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","retries":5,"name":"test-director"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
