---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/36/director/test-director
    method: GET
  response:
    body: '{"deleted_at":null,"type":1,"version":36,"created_at":"2021-01-14T10:41:23Z","name":"test-director","capacity":100,"quorum":50,"shield":null,"retries":5,"service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"","updated_at":"2021-01-14T10:41:23Z","backends":[]}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
