---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/17/director/test-director
    method: GET
  response:
    body: '{"capacity":100,"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":17,"created_at":"2019-05-08T22:55:00Z","quorum":50,"retries":5,"deleted_at":null,"type":1,"shield":null,"backends":[],"name":"test-director","comment":"","updated_at":"2019-05-08T22:55:00Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
