---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/108/director/test-director
    method: GET
  response:
    body: '{"deleted_at":null,"comment":"","created_at":"2022-04-27T11:03:45Z","quorum":50,"updated_at":"2022-04-27T11:03:45Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test-director","capacity":100,"backends":["test-backend"],"type":1,"retries":5,"version":108,"shield":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
