---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/69/director/test-director
    method: GET
  response:
    body: '{"version":69,"name":"test-director","service_id":"kKJb5bOFI47uHeBVluGfX1","retries":5,"quorum":50,"updated_at":"2022-11-04T17:04:01Z","capacity":100,"deleted_at":null,"shield":null,"type":1,"created_at":"2022-11-04T17:04:01Z","comment":"","backends":["test-backend"]}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
