---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/59/director/test-director
    method: GET
  response:
    body: '{"shield":null,"updated_at":"2021-11-03T16:18:20Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","type":1,"created_at":"2021-11-03T16:18:20Z","name":"test-director","backends":[],"version":59,"comment":"","retries":5,"deleted_at":null,"capacity":100,"quorum":50}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
