---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/59/director
    method: GET
  response:
    body: '[{"shield":null,"updated_at":"2021-11-03T16:18:20Z","backends":[],"quorum":50,"type":1,"name":"test-director","retries":5,"service_id":"3QSsca5ilwNVpceZ2HJIAH","capacity":100,"comment":"","created_at":"2021-11-03T16:18:20Z","deleted_at":null,"version":59}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
