---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/17/director
    method: GET
  response:
    body: '[{"retries":5,"updated_at":"2019-05-08T22:55:00Z","created_at":"2019-05-08T22:55:00Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"","deleted_at":null,"quorum":50,"backends":[],"capacity":100,"name":"test-director","type":1,"shield":null,"version":17}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
