---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/108/director
    method: GET
  response:
    body: '[{"updated_at":"2022-04-27T11:03:45Z","quorum":50,"comment":"","version":108,"name":"test-director","retries":5,"type":1,"created_at":"2022-04-27T11:03:45Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","backends":["test-backend"],"capacity":100,"deleted_at":null,"shield":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
