---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/36/director
    method: GET
  response:
    body: '[{"capacity":100,"name":"test-director","created_at":"2021-01-14T10:41:23Z","version":36,"type":1,"deleted_at":null,"updated_at":"2021-01-14T10:41:23Z","backends":[],"comment":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","retries":5,"shield":null,"quorum":50}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
