---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/69/director
    method: GET
  response:
    body: '[{"backends":["test-backend"],"version":69,"created_at":"2022-11-04T17:04:01Z","deleted_at":null,"capacity":100,"comment":"","shield":null,"name":"test-director","retries":5,"updated_at":"2022-11-04T17:04:01Z","quorum":50,"service_id":"kKJb5bOFI47uHeBVluGfX1","type":1}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
