---
version: 1
interactions:
- request:
    body: Name=test-director&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=36&name=new-test-director&quorum=100
    form:
      Name:
      - test-director
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "36"
      name:
      - new-test-director
      quorum:
      - "100"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/36/director/test-director
    method: PUT
  response:
    body: '{"deleted_at":null,"type":1,"quorum":100,"shield":null,"version":36,"updated_at":"2021-01-14T10:41:23Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","backends":[],"capacity":100,"created_at":"2021-01-14T10:41:23Z","name":"test-director","retries":5,"comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "775"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
