---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-director&Service=7i6HN3TK9wS159v2gPAZ8A&Version=17&name=new-test-director&quorum=100
    form:
      Name:
      - test-director
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "17"
      name:
      - new-test-director
      quorum:
      - "100"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/17/director/test-director
    method: PUT
  response:
    body: '{"capacity":100,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2019-05-08T22:55:00Z","version":17,"quorum":100,"retries":5,"deleted_at":null,"backends":[],"shield":null,"type":1,"comment":"","name":"test-director","updated_at":"2019-05-08T22:55:00Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "986"
      Fastly-Ratelimit-Reset:
      - "1557356400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
