---
version: 1
interactions:
- request:
    body: name=new-test-director&quorum=100
    form:
      name:
      - new-test-director
      quorum:
      - "100"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/69/director/test-director
    method: PUT
  response:
    body: '{"deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","shield":null,"retries":5,"type":1,"comment":"","capacity":100,"quorum":100,"backends":["test-backend"],"name":"test-director","updated_at":"2022-11-04T17:04:01Z","version":69,"created_at":"2022-11-04T17:04:01Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9995"
      Fastly-Ratelimit-Reset:
      - "1667584800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
