---
version: 1
interactions:
- request:
    body: Name=test-director&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=108&name=new-test-director&quorum=100
    form:
      Name:
      - test-director
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "108"
      name:
      - new-test-director
      quorum:
      - "100"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/108/director/test-director
    method: PUT
  response:
    body: '{"retries":5,"service_id":"7i6HN3TK9wS159v2gPAZ8A","type":1,"quorum":100,"updated_at":"2022-04-27T11:03:45Z","deleted_at":null,"capacity":100,"version":108,"backends":["test-backend"],"name":"test-director","shield":null,"comment":"","created_at":"2022-04-27T11:03:45Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4995"
      Fastly-Ratelimit-Reset:
      - "1651060800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
