---
version: 1
interactions:
- request:
    body: Name=test-director&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=75&name=new-test-director&quorum=100
    form:
      Name:
      - test-director
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "75"
      name:
      - new-test-director
      quorum:
      - "100"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/75/director/test-director
    method: PUT
  response:
    body: '{"shield":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","retries":5,"name":"test-director","version":75,"type":1,"backends":[],"capacity":100,"updated_at":"2021-11-26T07:15:18Z","created_at":"2021-11-26T07:15:18Z","quorum":100,"comment":"","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4986"
      Fastly-Ratelimit-Reset:
      - "1637913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
