---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-director&Service=7i6HN3TK9wS159v2gPAZ8A&Version=681&quorum=100
    form:
      Name:
      - test-director
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "681"
      quorum:
      - "100"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/681/director/test-director
    method: PUT
  response:
    body: '{"retries":5,"version":681,"name":"test-director","shield":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"capacity":100,"created_at":"2017-07-20T01:15:07+00:00","backends":[],"comment":"","type":1,"updated_at":"2017-07-20T01:15:07+00:00","quorum":100}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "924"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
