---
version: 1
interactions:
- request:
    body: Name=test-director&ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=59&name=new-test-director&quorum=100
    form:
      Name:
      - test-director
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "59"
      name:
      - new-test-director
      quorum:
      - "100"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/59/director/test-director
    method: PUT
  response:
    body: '{"quorum":100,"name":"test-director","retries":5,"type":1,"service_id":"3QSsca5ilwNVpceZ2HJIAH","shield":null,"updated_at":"2021-11-03T16:18:20Z","backends":[],"created_at":"2021-11-03T16:18:20Z","deleted_at":null,"version":59,"capacity":100,"comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4928"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
