---
version: 1
interactions:
- request:
    body: ServiceID=6s6XYgWIfncJBH1QjI40RJ&ServiceVersion=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      ServiceID:
      - 6s6XYgWIfncJBH1QjI40RJ
      ServiceVersion:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/6s6XYgWIfncJBH1QjI40RJ/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"6s6XYgWIfncJBH1QjI40RJ","version":"2","deleted_at":null,"updated_at":"2021-11-03T17:30:38Z","created_at":"2021-11-03T17:30:38Z","comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4748"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
