---
version: 1
interactions:
- request:
    body: Service=1qNbCw880P3rmalHHls5Oc&Version=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 1qNbCw880P3rmalHHls5Oc
      Version:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/1qNbCw880P3rmalHHls5Oc/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"1qNbCw880P3rmalHHls5Oc","version":"2","created_at":"2019-11-28T12:43:22Z","comment":"","deleted_at":null,"updated_at":"2019-11-28T12:43:22Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "982"
      Fastly-Ratelimit-Reset:
      - "1574946000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
