---
version: 1
interactions:
- request:
    body: ServiceID=0OKgTNe0V5krPIwq1Ux6Yn&ServiceVersion=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      ServiceID:
      - 0OKgTNe0V5krPIwq1Ux6Yn
      ServiceVersion:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/0OKgTNe0V5krPIwq1Ux6Yn/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"0OKgTNe0V5krPIwq1Ux6Yn","version":"2","deleted_at":null,"comment":"","updated_at":"2021-01-14T10:27:49Z","created_at":"2021-01-14T10:27:49Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "863"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
