---
version: 1
interactions:
- request:
    body: '{"config":{"webhook":"https://example.com/webhook"},"description":"This
      is a test alert.","events":["flag"],"type":"webhook"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: POST
  response:
    body: |
      {"id":"686febc220b5651f04d0a763","description":"This is a test alert.","type":"webhook","config":{"webhook":"https://example.com/webhook"},"events":["flag"],"created_at":"2025-07-10T16:35:14Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
