---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts/68700db8288bd7678ff2b488
    method: GET
  response:
    body: |
      {"id":"68700db8288bd7678ff2b488","description":"This is a test alert.","type":"webhook","config":{"webhook":"https://example.com/webhook"},"events":["flag"],"created_at":"2025-07-10T19:00:08Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
