---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: GET
  response:
    body: |
      {"data":[{"id":"686febc220b5651f04d0a763","description":"This is a test alert.","type":"webhook","config":{"webhook":"https://updated.example.com/webhook"},"events":["flag"],"created_at":"2025-07-10T16:35:14Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}],"meta":{"limit":100,"total":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
