---
version: 1
interactions:
- request:
    body: ServiceID=1oqyjzbVDYmap1acKNtPrn&ServiceVersion=2&name=test_dictionary_BatchModifyDictionaryItems_Upsert
    form:
      ServiceID:
      - 1oqyjzbVDYmap1acKNtPrn
      ServiceVersion:
      - "2"
      name:
      - test_dictionary_BatchModifyDictionaryItems_Upsert
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/1oqyjzbVDYmap1acKNtPrn/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Upsert","service_id":"1oqyjzbVDYmap1acKNtPrn","version":2,"write_only":false,"deleted_at":null,"created_at":"2021-01-14T10:24:02Z","id":"1J0Odk09Sf3xm2cvH2nI3I","updated_at":"2021-01-14T10:24:02Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "943"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
