---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Upsert&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Upsert
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Upsert","type":"vcl","updated_at":"2023-11-28T14:24:10Z","paused":false,"publish_key":"","deleted_at":null,"id":"F6UhEMInhRa35ypb2JtkS3","versions":[{"locked":false,"updated_at":"2023-11-28T14:24:10Z","service_id":"F6UhEMInhRa35ypb2JtkS3","deployed":false,"comment":"","deleted_at":null,"active":false,"number":1,"created_at":"2023-11-28T14:24:10Z","staging":false,"testing":false}],"created_at":"2023-11-28T14:24:10Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9959"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
