---
version: 1
rwmutex: {}
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_1562949850
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_1562949850
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_1562949850","created_at":"2019-07-12T16:44:11Z","id":"39T7Vjp7fNrix3vVv2ymFj","publish_key":"b57ad33e85a81610a415b187e6a5f2294550abae","updated_at":"2019-07-12T16:44:11Z","versions":[{"number":1,"updated_at":"2019-07-12T16:44:11Z","comment":"","staging":false,"deployed":false,"active":false,"deleted_at":null,"testing":false,"service_id":"39T7Vjp7fNrix3vVv2ymFj","created_at":"2019-07-12T16:44:11Z","locked":false}],"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "939"
      Fastly-Ratelimit-Reset:
      - "1562950800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
