---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=39T7Vjp7fNrix3vVv2ymFj&Version=2&name=test_dictionary_1562949851
    form:
      Service:
      - 39T7Vjp7fNrix3vVv2ymFj
      Version:
      - "2"
      name:
      - test_dictionary_1562949851
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - zvk45NN9y28SUfa29P9sMqm9PDax8doD
    url: https://api.fastly.com/service/39T7Vjp7fNrix3vVv2ymFj/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_1562949851","service_id":"39T7Vjp7fNrix3vVv2ymFj","version":2,"write_only":false,"created_at":"2019-07-12T16:44:11Z","updated_at":"2019-07-12T16:44:11Z","deleted_at":null,"id":"4ISQpb704RsyST4If2wji3"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "937"
      Fastly-Ratelimit-Reset:
      - "1562950800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
