---
version: 1
interactions:
- request:
    body: name=test_dictionary_BatchModifyDictionaryItems_Upsert
    form:
      name:
      - test_dictionary_BatchModifyDictionaryItems_Upsert
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/F6UhEMInhRa35ypb2JtkS3/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Upsert","service_id":"F6UhEMInhRa35ypb2JtkS3","version":2,"created_at":"2023-11-28T14:24:11Z","deleted_at":null,"updated_at":"2023-11-28T14:24:11Z","write_only":false,"id":"ejXNlAw9TF1G0nUcRPv863"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9957"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
