---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Upsert&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Upsert
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Upsert","type":"vcl","id":"4Qk3djeqyu8sUlxKDcRnHo","deleted_at":null,"updated_at":"2021-11-03T16:14:57Z","paused":false,"publish_key":"","versions":[{"updated_at":"2021-11-03T16:14:57Z","deleted_at":null,"active":false,"comment":"","service_id":"4Qk3djeqyu8sUlxKDcRnHo","created_at":"2021-11-03T16:14:57Z","deployed":false,"locked":false,"staging":false,"testing":false,"number":1}],"created_at":"2021-11-03T16:14:57Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4960"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
