---
version: 1
rwmutex: {}
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Upsert
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Upsert
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Upsert","versions":[{"locked":false,"service_id":"1wd7ccxeYiH5A8RAtwWKLG","created_at":"2019-07-16T11:30:20Z","deployed":false,"staging":false,"active":false,"testing":false,"deleted_at":null,"number":1,"updated_at":"2019-07-16T11:30:20Z","comment":""}],"created_at":"2019-07-16T11:30:20Z","deleted_at":null,"publish_key":"d1dfec7991058ee74d8cd7cbac331df8dd897cae","updated_at":"2019-07-16T11:30:20Z","id":"1wd7ccxeYiH5A8RAtwWKLG"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "943"
      Fastly-Ratelimit-Reset:
      - "1563278400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
