---
version: 1
interactions:
- request:
    body: ServiceID=4Qk3djeqyu8sUlxKDcRnHo&ServiceVersion=2&name=test_dictionary_BatchModifyDictionaryItems_Upsert
    form:
      ServiceID:
      - 4Qk3djeqyu8sUlxKDcRnHo
      ServiceVersion:
      - "2"
      name:
      - test_dictionary_BatchModifyDictionaryItems_Upsert
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/4Qk3djeqyu8sUlxKDcRnHo/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Upsert","service_id":"4Qk3djeqyu8sUlxKDcRnHo","version":2,"updated_at":"2021-11-03T16:14:58Z","deleted_at":null,"write_only":false,"created_at":"2021-11-03T16:14:58Z","id":"3C7MA0xyW1jMHjAHx1zG0y"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4958"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
