---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=1wd7ccxeYiH5A8RAtwWKLG&Version=2&name=test_dictionary_BatchModifyDictionaryItems_Upsert
    form:
      Service:
      - 1wd7ccxeYiH5A8RAtwWKLG
      Version:
      - "2"
      name:
      - test_dictionary_BatchModifyDictionaryItems_Upsert
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/1wd7ccxeYiH5A8RAtwWKLG/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Upsert","service_id":"1wd7ccxeYiH5A8RAtwWKLG","version":2,"deleted_at":null,"id":"6GCyMEkHHJSUExaEP0VT4F","updated_at":"2019-07-16T11:30:20Z","created_at":"2019-07-16T11:30:20Z","write_only":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "941"
      Fastly-Ratelimit-Reset:
      - "1563278400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
