---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/1oqyjzbVDYmap1acKNtPrn/dictionary/1J0Odk09Sf3xm2cvH2nI3I/items
    method: GET
  response:
    body: '[{"item_value":"val1Updated","created_at":"2021-01-14T10:24:03Z","deleted_at":null,"service_id":"1oqyjzbVDYmap1acKNtPrn","dictionary_id":"1J0Odk09Sf3xm2cvH2nI3I","updated_at":"2021-01-14T10:24:03Z","item_key":"key1"},{"service_id":"1oqyjzbVDYmap1acKNtPrn","deleted_at":null,"created_at":"2021-01-14T10:24:03Z","item_value":"val2","item_key":"key2","updated_at":"2021-01-14T10:24:03Z","dictionary_id":"1J0Odk09Sf3xm2cvH2nI3I"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
