---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/1wd7ccxeYiH5A8RAtwWKLG/dictionary/6GCyMEkHHJSUExaEP0VT4F/items
    method: GET
  response:
    body: '[{"updated_at":"2019-07-16T11:30:21Z","created_at":"2019-07-16T11:30:21Z","dictionary_id":"6GCyMEkHHJSUExaEP0VT4F","item_value":"val1Updated","deleted_at":null,"item_key":"key1","service_id":"1wd7ccxeYiH5A8RAtwWKLG"},{"service_id":"1wd7ccxeYiH5A8RAtwWKLG","dictionary_id":"6GCyMEkHHJSUExaEP0VT4F","item_value":"val2","deleted_at":null,"item_key":"key2","created_at":"2019-07-16T11:30:21Z","updated_at":"2019-07-16T11:30:21Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
