---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/F6UhEMInhRa35ypb2JtkS3/dictionary/ejXNlAw9TF1G0nUcRPv863/items?page=1&per_page=100
    method: GET
  response:
    body: '[{"item_key":"key1","item_value":"val1Updated","deleted_at":null,"created_at":"2023-11-28T14:24:11Z","dictionary_id":"ejXNlAw9TF1G0nUcRPv863","updated_at":"2023-11-28T14:24:11Z","service_id":"F6UhEMInhRa35ypb2JtkS3"},{"item_value":"val2","item_key":"key2","updated_at":"2023-11-28T14:24:11Z","service_id":"F6UhEMInhRa35ypb2JtkS3","created_at":"2023-11-28T14:24:11Z","deleted_at":null,"dictionary_id":"ejXNlAw9TF1G0nUcRPv863"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
