---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/39T7Vjp7fNrix3vVv2ymFj/dictionary/4ISQpb704RsyST4If2wji3/items
    method: GET
  response:
    body: '[{"item_value":"val1Updated","created_at":"2019-07-12T16:44:11Z","service_id":"39T7Vjp7fNrix3vVv2ymFj","item_key":"key1","updated_at":"2019-07-12T16:44:12Z","deleted_at":null,"dictionary_id":"4ISQpb704RsyST4If2wji3"},{"service_id":"39T7Vjp7fNrix3vVv2ymFj","item_value":"val2","created_at":"2019-07-12T16:44:12Z","dictionary_id":"4ISQpb704RsyST4If2wji3","deleted_at":null,"updated_at":"2019-07-12T16:44:12Z","item_key":"key2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
