---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/4Qk3djeqyu8sUlxKDcRnHo/dictionary/3C7MA0xyW1jMHjAHx1zG0y/items
    method: GET
  response:
    body: '[{"service_id":"4Qk3djeqyu8sUlxKDcRnHo","item_key":"key1","deleted_at":null,"created_at":"2021-11-03T16:14:58Z","updated_at":"2021-11-03T16:14:58Z","dictionary_id":"3C7MA0xyW1jMHjAHx1zG0y","item_value":"val1Updated"},{"created_at":"2021-11-03T16:14:58Z","item_key":"key2","service_id":"4Qk3djeqyu8sUlxKDcRnHo","deleted_at":null,"item_value":"val2","updated_at":"2021-11-03T16:14:58Z","dictionary_id":"3C7MA0xyW1jMHjAHx1zG0y"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
