---
version: 1
interactions:
- request:
    body: '{"items":[{"item_key":"key1","item_value":"val1Updated","op":"upsert"},{"item_key":"key2","item_value":"val2","op":"upsert"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/F6UhEMInhRa35ypb2JtkS3/dictionary/ejXNlAw9TF1G0nUcRPv863/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9955"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
