---
version: 1
rwmutex: {}
interactions:
- request:
    body: '{"items":[{"op":"upsert","item_key":"key1","item_value":"val1Updated"},{"op":"upsert","item_key":"key2","item_value":"val2"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Fastly-Key:
      - zvk45NN9y28SUfa29P9sMqm9PDax8doD
    url: https://api.fastly.com/service/39T7Vjp7fNrix3vVv2ymFj/dictionary/4ISQpb704RsyST4If2wji3/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "935"
      Fastly-Ratelimit-Reset:
      - "1562950800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
