---
version: 1
rwmutex: {}
interactions:
- request:
    body: '{"items":[{"op":"upsert","item_key":"key1","item_value":"val1Updated"},{"op":"upsert","item_key":"key2","item_value":"val2"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/1wd7ccxeYiH5A8RAtwWKLG/dictionary/6GCyMEkHHJSUExaEP0VT4F/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "939"
      Fastly-Ratelimit-Reset:
      - "1563278400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
