---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_GetSecret","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/HEQ5nzAHrT9v4RRS3zGnPJ/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_GetSecret",
        "digest": "5ZgIqXe4Q9J50wfr82L2i0CYmtu8StZqZnV7PEWU+QM=",
        "created_at": "2022-11-28T22:40:39Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - Y8Id2dcJCByRKoeeZZPoSs
    status: 200 OK
    code: 200
    duration: ""
