---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_GetSecret","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/UTXZNpePgJQgE1z5l3AZEf/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_GetSecret",
        "digest": "FvezQkYMJVDE1jH6OwfrrPfRjQEQnkXGHLLYrWYLjhA=",
        "created_at": "2023-11-27T15:54:54Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - xQfCknA4FlkYsY7kMChREe
    status: 200 OK
    code: 200
    duration: ""
