---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/3bhISXhyFhsufhCFnTst1j/versions
    method: POST
  response:
    body: '{"data":{"id":"74nEJg1p4KRGeeV371dcKM","type":"waf_firewall_version","attributes":{"number":3,"comment":null,"active":null,"locked":null,"error":null,"deployed_at":null,"critical_anomaly_score":5,"error_anomaly_score":4,"warning_anomaly_score":3,"notice_anomaly_score":2,"http_violation_score_threshold":999,"inbound_anomaly_score_threshold":999,"lfi_score_threshold":999,"php_injection_score_threshold":999,"rce_score_threshold":999,"rfi_score_threshold":999,"session_fixation_score_threshold":999,"sql_injection_score_threshold":999,"xss_score_threshold":999,"paranoia_level":1,"arg_name_length":100,"arg_length":400,"total_arg_length":6400,"max_file_size":10000000,"combined_file_sizes":10000000,"max_num_args":255,"high_risk_country_codes":"","allowed_methods":"GET
      HEAD POST OPTIONS PUT PATCH DELETE","restricted_headers":"/proxy/ /lock-token/
      /content-range/ /translate/ /if/","restricted_extensions":".asa/ .asax/ .ascx/
      .axd/ .backup/ .bak/ .bat/ .cdx/ .cer/ .cfg/ .cmd/ .com/ .config/ .conf/ .cs/
      .csproj/ .csr/ .dat/ .db/ .dbf/ .dll/ .dos/ .htr/ .htw/ .ida/ .idc/ .idq/ .inc/
      .ini/ .key/ .licx/ .lnk/ .log/ .mdb/ .old/ .pass/ .pdb/ .pol/ .printer/ .pwd/
      .resources/ .resx/ .sql/ .sys/ .vb/ .vbs/ .vbproj/ .vsdisco/ .webinfo/ .xsd/
      .xsx/","allowed_request_content_type":"application/x-www-form-urlencoded|multipart/form-data|text/xml|application/xml|application/soap+xml|application/x-amf|application/json|application/octet-stream|application/csp-report|application/xss-auditor-report|text/plain","allowed_request_content_type_charset":"utf-8|iso-8859-1|iso-8859-15|windows-1252","allowed_http_versions":"HTTP/1.0
      HTTP/1.1 HTTP/2","crs_validate_utf8_encoding":false,"created_at":"2019-12-10T13:16:45Z","updated_at":"2019-12-10T13:16:45Z","active_rules_trustwave_log_count":0,"active_rules_trustwave_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_score_count":0},"relationships":{"waf_firewall":{"data":{"id":"7lMzP6tPtmcRNLiiDRrvuE","type":"waf_firewall"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
