---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":""}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/6gj91AAsD3ndcoKaplqiq8/versions/2/lock
    method: PUT
  response:
    body: '{"data":{"id":"3LP12sn59pB0iz0Kh75cHb","type":"waf_firewall_version","attributes":{"active":false,"active_rules_fastly_block_count":0,"active_rules_fastly_log_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_score_count":0,"active_rules_trustwave_block_count":0,"active_rules_trustwave_log_count":0,"allowed_http_versions":"HTTP/1.0
      HTTP/1.1","allowed_methods":"GET HEAD POST","allowed_request_content_type":"application/x-www-form-urlencoded|multipart/form-data|text/xml|application/xml","allowed_request_content_type_charset":"utf-8|iso-8859-1","arg_name_length":200,"arg_length":800,"combined_file_sizes":20000000,"comment":"my
      comment","created_at":"2020-06-30T10:56:28Z","critical_anomaly_score":12,"crs_validate_utf8_encoding":true,"deployed_at":null,"error":null,"error_anomaly_score":10,"high_risk_country_codes":"gb","http_violation_score_threshold":20,"inbound_anomaly_score_threshold":20,"last_deployment_status":null,"lfi_score_threshold":20,"locked":true,"max_file_size":20000000,"max_num_args":510,"notice_anomaly_score":8,"number":2,"paranoia_level":2,"php_injection_score_threshold":20,"rce_score_threshold":20,"restricted_extensions":".asa/
      .asax/ .ascx/ .axd/ .backup/ .bak/ .bat/ .cdx/ .cer/ .cfg/ .cmd/ .com/","restricted_headers":"/proxy/
      /lock-token/","rfi_score_threshold":20,"session_fixation_score_threshold":20,"sql_injection_score_threshold":20,"total_arg_length":12800,"updated_at":"2020-06-30T10:56:29Z","warning_anomaly_score":20,"xss_score_threshold":20},"relationships":{"waf_firewall":{"data":{"id":"6gj91AAsD3ndcoKaplqiq8","type":"waf_firewall"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
