---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":""}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/3bhISXhyFhsufhCFnTst1j/versions/2/lock
    method: PUT
  response:
    body: '{"data":{"id":"4x66aw12P6aLHGwK4KzGni","type":"waf_firewall_version","attributes":{"number":2,"comment":null,"active":null,"locked":true,"error":null,"deployed_at":null,"critical_anomaly_score":12,"error_anomaly_score":10,"warning_anomaly_score":20,"notice_anomaly_score":8,"http_violation_score_threshold":20,"inbound_anomaly_score_threshold":20,"lfi_score_threshold":20,"php_injection_score_threshold":20,"rce_score_threshold":20,"rfi_score_threshold":20,"session_fixation_score_threshold":20,"sql_injection_score_threshold":20,"xss_score_threshold":20,"paranoia_level":2,"arg_name_length":200,"arg_length":800,"total_arg_length":12800,"max_file_size":20000000,"combined_file_sizes":20000000,"max_num_args":510,"high_risk_country_codes":"gb","allowed_methods":"GET
      HEAD POST","restricted_headers":"/proxy/ /lock-token/","restricted_extensions":".asa/
      .asax/ .ascx/ .axd/ .backup/ .bak/ .bat/ .cdx/ .cer/ .cfg/ .cmd/ .com/","allowed_request_content_type":"application/x-www-form-urlencoded|multipart/form-data|text/xml|application/xml","allowed_request_content_type_charset":"utf-8|iso-8859-1","allowed_http_versions":"HTTP/1.0
      HTTP/1.1","crs_validate_utf8_encoding":true,"created_at":"2019-11-25T14:43:32Z","updated_at":"2019-11-25T14:43:34Z","active_rules_trustwave_log_count":0,"active_rules_trustwave_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_score_count":0},"relationships":{"waf_firewall":{"data":{"id":"3bhISXhyFhsufhCFnTst1j","type":"waf_firewall"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
