---
version: 1
interactions:
- request:
    body: ServiceID=7AfpC5AR6GFm8x8edlSAFX&ServiceVersion=73&address=integ-test.go-fastly.com&connect_timeout=1500&name=test-backend&override_host=origin.example.com&port=1234&ssl_check_cert=0&ssl_ciphers=DHE-RSA-AES256-SHA%3ADHE-RSA-CAMELLIA256-SHA%3AAES256-GCM-SHA384
    form:
      ServiceID:
      - 7AfpC5AR6GFm8x8edlSAFX
      ServiceVersion:
      - "73"
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      name:
      - test-backend
      override_host:
      - origin.example.com
      port:
      - "1234"
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7AfpC5AR6GFm8x8edlSAFX/version/73/backend
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","connect_timeout":1500,"name":"test-backend","override_host":"origin.example.com","port":1234,"ssl_check_cert":false,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","service_id":"7AfpC5AR6GFm8x8edlSAFX","version":73,"created_at":"2021-11-26T07:11:11Z","ipv4":null,"deleted_at":null,"ipv6":null,"ssl_ca_cert":null,"min_tls_version":null,"ssl_hostname":null,"auto_loadbalance":false,"updated_at":"2021-11-26T07:11:11Z","ssl_sni_hostname":null,"max_conn":200,"ssl_cert_hostname":null,"shield":null,"between_bytes_timeout":10000,"error_threshold":0,"hostname":"integ-test.go-fastly.com","ssl_client_key":null,"comment":"","use_ssl":false,"weight":100,"max_tls_version":null,"first_byte_timeout":15000,"client_cert":null,"healthcheck":null,"request_condition":"","ssl_client_cert":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4998"
      Fastly-Ratelimit-Reset:
      - "1637913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
