---
version: 1
interactions:
- request:
    body: address=integ-test.go-fastly.com&connect_timeout=1500&name=test-backend&override_host=origin.example.com&ssl_check_cert=0&ssl_ciphers=DHE-RSA-AES256-SHA%3ADHE-RSA-CAMELLIA256-SHA%3AAES256-GCM-SHA384&ssl_sni_hostname=ssl-hostname.com
    form:
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      name:
      - test-backend
      override_host:
      - origin.example.com
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384
      ssl_sni_hostname:
      - ssl-hostname.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/102/backend
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","connect_timeout":1500,"name":"test-backend","override_host":"origin.example.com","ssl_check_cert":false,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ssl_sni_hostname":"ssl-hostname.com","service_id":"kKJb5bOFI47uHeBVluGfX1","version":102,"ssl_hostname":null,"deleted_at":null,"ssl_client_key":null,"between_bytes_timeout":10000,"healthcheck":null,"client_cert":null,"ssl_cert_hostname":null,"ssl_ca_cert":null,"error_threshold":0,"comment":"","keepalive_time":null,"prefer_ipv6":null,"hostname":"integ-test.go-fastly.com","shield":null,"weight":100,"use_ssl":false,"tcp_keepalive_time":null,"tcp_keepalive_probes":null,"created_at":"2025-05-07T15:03:13Z","ssl_client_cert":null,"tcp_keepalive_interval":null,"max_tls_version":null,"share_key":null,"request_condition":"","ipv4":null,"max_conn":200,"min_tls_version":null,"ipv6":null,"auto_loadbalance":false,"updated_at":"2025-05-07T15:03:13Z","tcp_keepalive_enable":null,"port":80,"first_byte_timeout":15000}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9993"
      Fastly-Ratelimit-Reset:
      - "1746633600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
