---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=32&address=integ-test.go-fastly.com&connect_timeout=1500&name=test-backend&override_host=origin.example.com&port=1234&ssl_check_cert=0&ssl_ciphers=DHE-RSA-AES256-SHA%3ADHE-RSA-CAMELLIA256-SHA%3AAES256-GCM-SHA384
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "32"
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      name:
      - test-backend
      override_host:
      - origin.example.com
      port:
      - "1234"
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/32/backend
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","connect_timeout":1500,"name":"test-backend","override_host":"origin.example.com","port":1234,"ssl_check_cert":false,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":32,"request_condition":"","use_ssl":false,"ssl_cert_hostname":null,"hostname":"integ-test.go-fastly.com","auto_loadbalance":false,"weight":100,"created_at":"2021-09-20T12:34:29Z","ipv4":null,"shield":null,"comment":"","min_tls_version":null,"ssl_sni_hostname":null,"first_byte_timeout":15000,"client_cert":null,"max_conn":200,"max_tls_version":null,"ssl_client_key":null,"ssl_ca_cert":null,"ipv6":null,"updated_at":"2021-09-20T12:34:29Z","between_bytes_timeout":10000,"healthcheck":null,"ssl_client_cert":null,"error_threshold":0,"ssl_hostname":null,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4976"
      Fastly-Ratelimit-Reset:
      - "1632142800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
