---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=30&address=integ-test.go-fastly.com&connect_timeout=1500&name=test-backend&override_host=origin.example.com&port=1234&ssl_check_cert=0&ssl_ciphers=DHE-RSA-AES256-SHA%3ADHE-RSA-CAMELLIA256-SHA%3AAES256-GCM-SHA384
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "30"
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      name:
      - test-backend
      override_host:
      - origin.example.com
      port:
      - "1234"
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/30/backend
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","connect_timeout":1500,"name":"test-backend","override_host":"origin.example.com","port":1234,"ssl_check_cert":false,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":30,"hostname":"integ-test.go-fastly.com","comment":"","min_tls_version":null,"use_ssl":false,"max_tls_version":null,"ssl_hostname":null,"ssl_client_cert":null,"between_bytes_timeout":10000,"ipv4":null,"first_byte_timeout":15000,"ssl_sni_hostname":null,"healthcheck":null,"deleted_at":null,"weight":100,"ssl_cert_hostname":null,"ipv6":null,"error_threshold":0,"request_condition":"","max_conn":200,"created_at":"2022-10-06T19:10:07Z","auto_loadbalance":false,"client_cert":null,"ssl_client_key":null,"shield":null,"updated_at":"2022-10-06T19:10:07Z","ssl_ca_cert":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "1986"
      Fastly-Ratelimit-Reset:
      - "1665086400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
