---
version: 1
interactions:
- request:
    body: address=integ-test.go-fastly.com&connect_timeout=1500&max_lifetime=60000&max_use=100&name=test-backend&override_host=origin.example.com&ssl_check_cert=0&ssl_ciphers=DHE-RSA-AES256-SHA%3ADHE-RSA-CAMELLIA256-SHA%3AAES256-GCM-SHA384&ssl_sni_hostname=ssl-hostname.com
    form:
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      max_lifetime:
      - "60000"
      max_use:
      - "100"
      name:
      - test-backend
      override_host:
      - origin.example.com
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384
      ssl_sni_hostname:
      - ssl-hostname.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/145/backend
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","connect_timeout":1500,"max_lifetime":60000,"max_use":100,"name":"test-backend","override_host":"origin.example.com","ssl_check_cert":false,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ssl_sni_hostname":"ssl-hostname.com","service_id":"kKJb5bOFI47uHeBVluGfX1","version":145,"ssl_ca_cert":null,"updated_at":"2026-05-06T18:11:06Z","shield":null,"ssl_hostname":null,"error_threshold":0,"healthcheck":null,"max_tls_version":null,"ipv4":null,"between_bytes_timeout":10000,"keepalive_time":null,"tcp_keepalive_interval":null,"weight":100,"ssl_cert_hostname":null,"use_ssl":false,"min_tls_version":null,"auto_loadbalance":false,"share_key":null,"client_cert":null,"prefer_ipv6":false,"request_condition":"","hostname":"integ-test.go-fastly.com","port":80,"created_at":"2026-05-06T18:11:06Z","ipv6":null,"first_byte_timeout":15000,"max_conn":200,"ssl_client_key":null,"tcp_keepalive_enable":null,"tcp_keepalive_probes":null,"comment":"","tcp_keepalive_time":null,"ssl_client_cert":null,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9998"
      Fastly-Ratelimit-Reset:
      - "1778094000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
