---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=2&address=integ-test.go-fastly.com&connect_timeout=1500&name=test-backend&override_host=origin.example.com&port=443&use_ssl=1
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "2"
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      name:
      - test-backend
      override_host:
      - origin.example.com
      port:
      - "443"
      use_ssl:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/2/backend
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","connect_timeout":1500,"name":"test-backend","override_host":"origin.example.com","port":443,"use_ssl":true,"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":2,"between_bytes_timeout":10000,"ssl_sni_hostname":null,"hostname":"integ-test.go-fastly.com","ssl_check_cert":true,"ssl_ciphers":null,"request_condition":"","ssl_client_key":null,"deleted_at":null,"ssl_ca_cert":null,"ssl_cert_hostname":null,"created_at":"2021-03-24T12:56:50Z","ssl_client_cert":null,"weight":100,"ipv4":null,"first_byte_timeout":15000,"max_tls_version":null,"comment":"","ssl_hostname":null,"healthcheck":null,"auto_loadbalance":false,"client_cert":null,"error_threshold":0,"updated_at":"2021-03-24T12:56:50Z","min_tls_version":null,"max_conn":200,"shield":null,"ipv6":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4998"
      Fastly-Ratelimit-Reset:
      - "1616590800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
