---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=7&address=integ-test.go-fastly.com&connect_timeout=1500&name=test-backend&port=1234
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "7"
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      name:
      - test-backend
      port:
      - "1234"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/7/backend
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","connect_timeout":1500,"name":"test-backend","port":1234,"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":7,"ipv6":null,"ssl_check_cert":true,"max_conn":200,"override_host":null,"ssl_ca_cert":null,"shield":null,"ssl_ciphers":null,"between_bytes_timeout":10000,"ssl_sni_hostname":null,"deleted_at":null,"max_tls_version":null,"healthcheck":null,"updated_at":"2019-05-07T22:38:35Z","error_threshold":0,"ipv4":null,"comment":"","first_byte_timeout":15000,"use_ssl":false,"min_tls_version":null,"auto_loadbalance":false,"request_condition":"","created_at":"2019-05-07T22:38:35Z","ssl_client_cert":null,"client_cert":null,"weight":100,"ssl_hostname":null,"hostname":"integ-test.go-fastly.com","ssl_cert_hostname":null,"ssl_client_key":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1557270000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
