---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=69&address=integ-test.go-fastly.com&connect_timeout=1500&name=test-backend&override_host=origin.example.com&port=1234
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "69"
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      name:
      - test-backend
      override_host:
      - origin.example.com
      port:
      - "1234"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/69/backend
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","connect_timeout":1500,"name":"test-backend","override_host":"origin.example.com","port":1234,"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":69,"created_at":"2019-06-07T21:31:21Z","max_conn":200,"ssl_sni_hostname":null,"min_tls_version":null,"deleted_at":null,"error_threshold":0,"ipv6":null,"healthcheck":null,"ipv4":null,"comment":"","max_tls_version":null,"shield":null,"hostname":"integ-test.go-fastly.com","ssl_cert_hostname":null,"use_ssl":false,"request_condition":"","weight":100,"ssl_check_cert":true,"between_bytes_timeout":10000,"ssl_ciphers":null,"first_byte_timeout":15000,"ssl_ca_cert":null,"ssl_client_key":null,"client_cert":null,"auto_loadbalance":false,"ssl_hostname":null,"updated_at":"2019-06-07T21:31:21Z","ssl_client_cert":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "998"
      Fastly-Ratelimit-Reset:
      - "1559944800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
