---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=12&address=integ-test.go-fastly.com&connect_timeout=1500&name=test-backend&override_host=origin.example.com&ssl_ciphers=DHE-RSA-AES256-SHA%3ADHE-RSA-CAMELLIA256-SHA%3AAES256-GCM-SHA384
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "12"
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      name:
      - test-backend
      override_host:
      - origin.example.com
      ssl_ciphers:
      - DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/12/backend
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","connect_timeout":1500,"name":"test-backend","override_host":"origin.example.com","ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":12,"ssl_check_cert":true,"client_cert":null,"comment":"","ssl_client_cert":null,"min_tls_version":null,"use_ssl":false,"error_threshold":0,"max_tls_version":null,"updated_at":"2022-10-24T11:38:05Z","ssl_hostname":null,"request_condition":"","ipv6":null,"ssl_client_key":null,"ipv4":null,"auto_loadbalance":false,"ssl_cert_hostname":null,"between_bytes_timeout":10000,"weight":100,"first_byte_timeout":15000,"hostname":"integ-test.go-fastly.com","max_conn":200,"port":80,"ssl_sni_hostname":null,"created_at":"2022-10-24T11:38:05Z","ssl_ca_cert":null,"shield":null,"deleted_at":null,"healthcheck":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9939"
      Fastly-Ratelimit-Reset:
      - "1666612800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
