---
version: 1
interactions:
- request:
    body: address=integ-test.go-fastly.com&connect_timeout=1500&name=test-backend&override_host=origin.example.com&ssl_check_cert=0&ssl_ciphers=DHE-RSA-AES256-SHA%3ADHE-RSA-CAMELLIA256-SHA%3AAES256-GCM-SHA384&ssl_sni_hostname=ssl-hostname.com
    form:
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      name:
      - test-backend
      override_host:
      - origin.example.com
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384
      ssl_sni_hostname:
      - ssl-hostname.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/45/backend
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","connect_timeout":1500,"name":"test-backend","override_host":"origin.example.com","ssl_check_cert":false,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ssl_sni_hostname":"ssl-hostname.com","service_id":"kKJb5bOFI47uHeBVluGfX1","version":45,"between_bytes_timeout":10000,"tcp_keepalive_interval":null,"ssl_client_key":null,"tcp_keepalive_time":null,"client_cert":null,"first_byte_timeout":15000,"created_at":"2025-04-09T14:18:19Z","ssl_hostname":null,"ssl_ca_cert":null,"max_conn":200,"hostname":"integ-test.go-fastly.com","port":80,"ipv4":null,"ipv6":null,"tcp_keepalive_probes":null,"ssl_cert_hostname":null,"request_condition":"","ssl_client_cert":null,"healthcheck":null,"min_tls_version":null,"comment":"","updated_at":"2025-04-09T14:18:19Z","max_tls_version":null,"error_threshold":0,"weight":100,"shield":null,"auto_loadbalance":false,"use_ssl":false,"tcp_keepalive_enable":null,"share_key":null,"keepalive_time":null,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9993"
      Fastly-Ratelimit-Reset:
      - "1744210800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
