---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/68/backend/test-backend
    method: GET
  response:
    body: '{"max_conn":200,"max_tls_version":null,"error_threshold":0,"deleted_at":null,"connect_timeout":1500,"ssl_cert_hostname":null,"ssl_check_cert":false,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","name":"test-backend","ipv6":null,"min_tls_version":null,"shield":null,"healthcheck":null,"client_cert":null,"request_condition":"","hostname":"integ-test.go-fastly.com","address":"integ-test.go-fastly.com","weight":100,"ssl_hostname":null,"first_byte_timeout":15000,"updated_at":"2022-11-04T16:54:46Z","ssl_client_key":null,"version":68,"ssl_sni_hostname":"ssl-hostname.com","port":80,"override_host":"origin.example.com","use_ssl":false,"ssl_client_cert":null,"ipv4":null,"between_bytes_timeout":10000,"created_at":"2022-11-04T16:54:46Z","auto_loadbalance":false,"comment":"","ssl_ca_cert":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
