---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/30/backend/test-backend
    method: GET
  response:
    body: '{"address":"integ-test.go-fastly.com","ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ssl_ca_cert":null,"ssl_check_cert":false,"ssl_cert_hostname":null,"between_bytes_timeout":10000,"name":"test-backend","shield":null,"hostname":"integ-test.go-fastly.com","auto_loadbalance":false,"client_cert":null,"use_ssl":false,"weight":100,"comment":"","version":30,"ipv4":null,"healthcheck":null,"connect_timeout":1500,"port":1234,"error_threshold":0,"ssl_client_cert":null,"max_tls_version":null,"override_host":"origin.example.com","min_tls_version":null,"ssl_client_key":null,"updated_at":"2022-10-06T19:10:07Z","request_condition":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","max_conn":200,"ipv6":null,"first_byte_timeout":15000,"ssl_hostname":null,"created_at":"2022-10-06T19:10:07Z","deleted_at":null,"ssl_sni_hostname":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
