---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/69/backend/test-backend
    method: GET
  response:
    body: '{"ssl_sni_hostname":null,"first_byte_timeout":15000,"max_conn":200,"shield":null,"created_at":"2019-06-07T21:31:21Z","max_tls_version":null,"updated_at":"2019-06-07T21:31:21Z","version":69,"ssl_ca_cert":null,"ssl_cert_hostname":null,"error_threshold":0,"hostname":"integ-test.go-fastly.com","ssl_check_cert":true,"weight":100,"comment":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test-backend","ipv4":null,"client_cert":null,"ssl_ciphers":null,"ssl_client_cert":null,"override_host":"origin.example.com","port":1234,"ssl_hostname":null,"address":"integ-test.go-fastly.com","min_tls_version":null,"request_condition":"","auto_loadbalance":false,"use_ssl":false,"ipv6":null,"ssl_client_key":null,"deleted_at":null,"healthcheck":null,"connect_timeout":1500,"between_bytes_timeout":10000}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
