---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/7/backend/test-backend
    method: GET
  response:
    body: '{"ssl_client_key":null,"shield":null,"override_host":null,"ipv4":null,"ipv6":null,"weight":100,"version":7,"auto_loadbalance":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","ssl_client_cert":null,"ssl_hostname":null,"port":1234,"ssl_ca_cert":null,"hostname":"integ-test.go-fastly.com","connect_timeout":1500,"max_tls_version":null,"name":"test-backend","use_ssl":false,"updated_at":"2019-05-07T22:38:35Z","comment":"","request_condition":"","created_at":"2019-05-07T22:38:35Z","between_bytes_timeout":10000,"ssl_check_cert":true,"address":"integ-test.go-fastly.com","first_byte_timeout":15000,"ssl_ciphers":null,"max_conn":200,"deleted_at":null,"client_cert":null,"min_tls_version":null,"healthcheck":null,"ssl_sni_hostname":null,"error_threshold":0,"ssl_cert_hostname":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
