---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/45/backend/test-backend
    method: GET
  response:
    body: '{"tcp_keepalive_enable":null,"name":"test-backend","tcp_keepalive_probes":null,"created_at":"2025-04-09T14:18:19Z","address":"integ-test.go-fastly.com","comment":"","ssl_ca_cert":null,"ssl_client_key":null,"updated_at":"2025-04-09T14:18:19Z","ssl_hostname":null,"ssl_cert_hostname":null,"shield":null,"auto_loadbalance":false,"max_conn":200,"client_cert":null,"keepalive_time":null,"error_threshold":0,"max_tls_version":null,"deleted_at":null,"ssl_check_cert":false,"first_byte_timeout":15000,"ipv6":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","port":80,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","version":45,"tcp_keepalive_interval":null,"use_ssl":false,"request_condition":"","between_bytes_timeout":10000,"ssl_sni_hostname":"ssl-hostname.com","connect_timeout":1500,"healthcheck":null,"weight":100,"share_key":null,"tcp_keepalive_time":null,"ssl_client_cert":null,"min_tls_version":null,"hostname":"integ-test.go-fastly.com","ipv4":null,"override_host":"origin.example.com"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
