---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/14/backend/test-backend
    method: GET
  response:
    body: '{"address":"integ-test.go-fastly.com","first_byte_timeout":15000,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ssl_ca_cert":null,"ssl_client_cert":null,"ipv6":null,"use_ssl":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","client_cert":null,"between_bytes_timeout":10000,"deleted_at":null,"created_at":"2022-10-27T16:42:30Z","port":80,"request_condition":"","ssl_sni_hostname":"ssl-hostname.com","max_tls_version":null,"weight":100,"ssl_cert_hostname":null,"max_conn":200,"comment":"","auto_loadbalance":false,"connect_timeout":1500,"min_tls_version":null,"ssl_hostname":null,"hostname":"integ-test.go-fastly.com","name":"test-backend","version":14,"ipv4":null,"error_threshold":0,"ssl_check_cert":false,"ssl_client_key":null,"override_host":"origin.example.com","updated_at":"2022-10-27T16:42:30Z","healthcheck":null,"shield":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
