---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/102/backend/test-backend
    method: GET
  response:
    body: '{"ipv4":null,"ssl_sni_hostname":"ssl-hostname.com","keepalive_time":null,"override_host":"origin.example.com","comment":"","updated_at":"2025-05-07T15:03:13Z","request_condition":"","max_tls_version":null,"client_cert":null,"use_ssl":false,"prefer_ipv6":null,"shield":null,"ssl_check_cert":false,"name":"test-backend","tcp_keepalive_time":null,"ssl_cert_hostname":null,"healthcheck":null,"ssl_client_key":null,"min_tls_version":null,"weight":100,"tcp_keepalive_enable":null,"ssl_ca_cert":null,"tcp_keepalive_probes":null,"auto_loadbalance":false,"version":102,"hostname":"integ-test.go-fastly.com","ipv6":null,"ssl_hostname":null,"between_bytes_timeout":10000,"share_key":null,"error_threshold":0,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ssl_client_cert":null,"connect_timeout":1500,"tcp_keepalive_interval":null,"created_at":"2025-05-07T15:03:13Z","max_conn":200,"address":"integ-test.go-fastly.com","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","port":80,"first_byte_timeout":15000}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
