---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/13/backend/test-backend
    method: GET
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","port":80,"between_bytes_timeout":10000,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ssl_cert_hostname":null,"hostname":"integ-test.go-fastly.com","error_threshold":0,"name":"test-backend","version":13,"ssl_ca_cert":null,"override_host":"origin.example.com","updated_at":"2022-10-24T11:58:36Z","max_conn":200,"use_ssl":false,"max_tls_version":null,"shield":null,"deleted_at":null,"ipv6":null,"first_byte_timeout":15000,"healthcheck":null,"auto_loadbalance":false,"ssl_client_cert":null,"address":"integ-test.go-fastly.com","ssl_sni_hostname":"ssl-hostname.com","weight":100,"min_tls_version":null,"request_condition":"","created_at":"2022-10-24T11:58:36Z","ssl_check_cert":true,"connect_timeout":1500,"ipv4":null,"client_cert":null,"comment":"","ssl_client_key":null,"ssl_hostname":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
