---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/145/backend/test-backend
    method: GET
  response:
    body: '{"ipv6":null,"use_ssl":false,"created_at":"2026-05-06T18:11:06Z","ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ipv4":null,"weight":100,"prefer_ipv6":false,"max_use":100,"hostname":"integ-test.go-fastly.com","deleted_at":null,"tcp_keepalive_probes":null,"error_threshold":0,"name":"test-backend","version":145,"between_bytes_timeout":10000,"shield":null,"healthcheck":null,"connect_timeout":1500,"updated_at":"2026-05-06T18:11:06Z","ssl_cert_hostname":null,"ssl_check_cert":false,"client_cert":null,"ssl_ca_cert":null,"ssl_sni_hostname":"ssl-hostname.com","address":"integ-test.go-fastly.com","auto_loadbalance":false,"max_conn":200,"comment":"","override_host":"origin.example.com","ssl_hostname":null,"tcp_keepalive_interval":null,"share_key":null,"ssl_client_key":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","tcp_keepalive_time":null,"port":80,"keepalive_time":null,"tcp_keepalive_enable":null,"max_tls_version":null,"min_tls_version":null,"ssl_client_cert":null,"first_byte_timeout":15000,"request_condition":"","max_lifetime":60000}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
