---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/2/backend/test-backend
    method: GET
  response:
    body: '{"ssl_client_key":null,"override_host":"origin.example.com","created_at":"2021-03-24T12:56:50Z","deleted_at":null,"ssl_cert_hostname":null,"use_ssl":true,"service_id":"7i6HN3TK9wS159v2gPAZ8A","request_condition":"","connect_timeout":1500,"ssl_ciphers":null,"error_threshold":0,"ssl_hostname":null,"between_bytes_timeout":10000,"weight":100,"address":"integ-test.go-fastly.com","ssl_check_cert":true,"max_tls_version":null,"ssl_client_cert":null,"name":"test-backend","auto_loadbalance":false,"first_byte_timeout":15000,"hostname":"integ-test.go-fastly.com","ssl_ca_cert":null,"ipv4":null,"ssl_sni_hostname":null,"version":2,"min_tls_version":null,"updated_at":"2021-03-24T12:56:50Z","comment":"","port":443,"client_cert":null,"healthcheck":null,"ipv6":null,"shield":null,"max_conn":200}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
