---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/12/backend/test-backend
    method: GET
  response:
    body: '{"auto_loadbalance":false,"ipv4":null,"ssl_client_key":null,"ipv6":null,"override_host":"origin.example.com","ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","request_condition":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","max_tls_version":null,"error_threshold":0,"ssl_hostname":null,"updated_at":"2022-10-24T11:38:05Z","ssl_check_cert":true,"use_ssl":false,"ssl_client_cert":null,"min_tls_version":null,"comment":"","client_cert":null,"ssl_ca_cert":null,"connect_timeout":1500,"shield":null,"created_at":"2022-10-24T11:38:05Z","healthcheck":null,"deleted_at":null,"address":"integ-test.go-fastly.com","port":80,"ssl_sni_hostname":null,"max_conn":200,"name":"test-backend","hostname":"integ-test.go-fastly.com","weight":100,"first_byte_timeout":15000,"between_bytes_timeout":10000,"ssl_cert_hostname":null,"version":12}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
