---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/148/backend/test-backend
    method: GET
  response:
    body: '{"max_lifetime":60000,"address":"integ-test.go-fastly.com","between_bytes_timeout":10000,"tcp_keepalive_probes":null,"port":80,"ssl_hostname":null,"ssl_sni_hostname":"ssl-hostname.com","ssl_client_key":null,"ssl_check_cert":false,"prefer_ipv6":false,"ipv4":null,"deleted_at":null,"auto_loadbalance":false,"comment":"","name":"test-backend","share_key":null,"max_conn":200,"healthcheck":null,"ssl_cert_hostname":null,"tcp_keepalive_enable":null,"ipv6":null,"error_threshold":0,"version":148,"request_condition":"","tcp_keepalive_interval":null,"updated_at":"2026-05-08T15:01:06Z","client_cert":null,"weight":100,"ssl_client_cert":null,"first_byte_timeout":15000,"min_tls_version":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","keepalive_time":null,"max_tls_version":null,"tcp_keepalive_time":null,"override_host":"origin.example.com","use_ssl":false,"max_use":100,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","connect_timeout":1500,"shield":null,"created_at":"2026-05-08T15:01:06Z","ssl_ca_cert":null,"hostname":"integ-test.go-fastly.com"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
