---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/69/backend
    method: GET
  response:
    body: '[{"version":69,"updated_at":"2019-06-07T21:31:21Z","max_tls_version":null,"created_at":"2019-06-07T21:31:21Z","shield":null,"max_conn":200,"first_byte_timeout":15000,"ssl_sni_hostname":null,"client_cert":null,"name":"test-backend","ipv4":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"","weight":100,"hostname":"integ-test.go-fastly.com","ssl_check_cert":true,"error_threshold":0,"ssl_cert_hostname":null,"ssl_ca_cert":null,"request_condition":"","min_tls_version":null,"auto_loadbalance":false,"ssl_hostname":null,"address":"integ-test.go-fastly.com","port":1234,"override_host":"origin.example.com","ssl_client_cert":null,"ssl_ciphers":null,"between_bytes_timeout":10000,"connect_timeout":1500,"healthcheck":null,"deleted_at":null,"ssl_client_key":null,"ipv6":null,"use_ssl":false}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
