---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/7/backend
    method: GET
  response:
    body: '[{"ssl_client_key":null,"ssl_cert_hostname":null,"port":1234,"version":7,"connect_timeout":1500,"ssl_hostname":null,"hostname":"integ-test.go-fastly.com","client_cert":null,"weight":100,"ssl_client_cert":null,"created_at":"2019-05-07T22:38:35Z","auto_loadbalance":false,"request_condition":"","first_byte_timeout":15000,"use_ssl":false,"min_tls_version":null,"comment":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","error_threshold":0,"ipv4":null,"healthcheck":null,"name":"test-backend","updated_at":"2019-05-07T22:38:35Z","deleted_at":null,"ssl_sni_hostname":null,"max_tls_version":null,"shield":null,"ssl_ciphers":null,"between_bytes_timeout":10000,"ssl_ca_cert":null,"address":"integ-test.go-fastly.com","ipv6":null,"ssl_check_cert":true,"override_host":null,"max_conn":200}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
