---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/68/backend
    method: GET
  response:
    body: '[{"use_ssl":false,"ssl_client_cert":null,"override_host":"origin.example.com","port":80,"ssl_sni_hostname":"ssl-hostname.com","version":68,"ssl_client_key":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","ssl_ca_cert":null,"comment":"","auto_loadbalance":false,"between_bytes_timeout":10000,"created_at":"2022-11-04T16:54:46Z","ipv4":null,"ssl_cert_hostname":null,"connect_timeout":1500,"deleted_at":null,"error_threshold":0,"max_tls_version":null,"max_conn":200,"first_byte_timeout":15000,"updated_at":"2022-11-04T16:54:46Z","weight":100,"ssl_hostname":null,"address":"integ-test.go-fastly.com","hostname":"integ-test.go-fastly.com","client_cert":null,"request_condition":"","healthcheck":null,"shield":null,"min_tls_version":null,"ipv6":null,"name":"test-backend","ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ssl_check_cert":false}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
