---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/148/backend
    method: GET
  response:
    body: '[{"override_host":"origin.example.com","address":"integ-test.go-fastly.com","max_lifetime":60000,"version":148,"request_condition":"","ssl_client_cert":null,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ipv6":null,"between_bytes_timeout":10000,"auto_loadbalance":false,"ssl_check_cert":false,"shield":null,"ssl_client_key":null,"name":"test-backend","ipv4":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","max_tls_version":null,"prefer_ipv6":false,"created_at":"2026-05-08T15:01:06Z","use_ssl":false,"hostname":"integ-test.go-fastly.com","max_conn":200,"connect_timeout":1500,"port":80,"tcp_keepalive_interval":null,"tcp_keepalive_probes":null,"ssl_ca_cert":null,"keepalive_time":null,"healthcheck":null,"comment":"","deleted_at":null,"first_byte_timeout":15000,"tcp_keepalive_time":null,"ssl_sni_hostname":"ssl-hostname.com","ssl_hostname":null,"share_key":null,"tcp_keepalive_enable":null,"ssl_cert_hostname":null,"client_cert":null,"max_use":100,"min_tls_version":null,"error_threshold":0,"updated_at":"2026-05-08T15:01:06Z","weight":100}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
