---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/13/backend
    method: GET
  response:
    body: '[{"name":"test-backend","ssl_ca_cert":null,"first_byte_timeout":15000,"error_threshold":0,"updated_at":"2022-10-24T11:58:36Z","connect_timeout":1500,"deleted_at":null,"override_host":"origin.example.com","ssl_check_cert":true,"comment":"","client_cert":null,"request_condition":"","address":"integ-test.go-fastly.com","healthcheck":null,"version":13,"auto_loadbalance":false,"max_conn":200,"ssl_hostname":null,"port":80,"weight":100,"created_at":"2022-10-24T11:58:36Z","ssl_client_cert":null,"max_tls_version":null,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","shield":null,"ipv6":null,"use_ssl":false,"ssl_sni_hostname":"ssl-hostname.com","ssl_cert_hostname":null,"ssl_client_key":null,"min_tls_version":null,"between_bytes_timeout":10000,"ipv4":null,"hostname":"integ-test.go-fastly.com","service_id":"7i6HN3TK9wS159v2gPAZ8A"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
