---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/14/backend
    method: GET
  response:
    body: '[{"hostname":"integ-test.go-fastly.com","name":"test-backend","use_ssl":false,"healthcheck":null,"between_bytes_timeout":10000,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","comment":"","ssl_ca_cert":null,"min_tls_version":null,"connect_timeout":1500,"request_condition":"","ssl_cert_hostname":null,"ssl_client_cert":null,"port":80,"ipv4":null,"deleted_at":null,"max_tls_version":null,"ssl_client_key":null,"ssl_sni_hostname":"ssl-hostname.com","version":14,"auto_loadbalance":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","first_byte_timeout":15000,"ssl_check_cert":false,"shield":null,"created_at":"2022-10-27T16:42:30Z","ssl_hostname":null,"override_host":"origin.example.com","address":"integ-test.go-fastly.com","updated_at":"2022-10-27T16:42:30Z","client_cert":null,"ipv6":null,"error_threshold":0,"max_conn":200,"weight":100}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
