---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/102/backend
    method: GET
  response:
    body: '[{"weight":100,"address":"integ-test.go-fastly.com","ssl_client_cert":null,"request_condition":"","ssl_hostname":null,"override_host":"origin.example.com","share_key":null,"updated_at":"2025-05-07T15:03:13Z","use_ssl":false,"ipv4":null,"ipv6":null,"client_cert":null,"port":80,"first_byte_timeout":15000,"version":102,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","connect_timeout":1500,"hostname":"integ-test.go-fastly.com","tcp_keepalive_probes":null,"auto_loadbalance":false,"error_threshold":0,"ssl_cert_hostname":null,"ssl_ca_cert":null,"comment":"","tcp_keepalive_time":null,"ssl_sni_hostname":"ssl-hostname.com","tcp_keepalive_interval":null,"max_conn":200,"prefer_ipv6":null,"max_tls_version":null,"healthcheck":null,"keepalive_time":null,"name":"test-backend","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2025-05-07T15:03:13Z","ssl_check_cert":false,"min_tls_version":null,"deleted_at":null,"between_bytes_timeout":10000,"tcp_keepalive_enable":null,"ssl_client_key":null,"shield":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
