---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/145/backend
    method: GET
  response:
    body: '[{"port":80,"updated_at":"2026-05-06T18:11:06Z","weight":100,"error_threshold":0,"client_cert":null,"tcp_keepalive_interval":null,"name":"test-backend","connect_timeout":1500,"first_byte_timeout":15000,"between_bytes_timeout":10000,"created_at":"2026-05-06T18:11:06Z","healthcheck":null,"ssl_check_cert":false,"use_ssl":false,"ssl_cert_hostname":null,"ssl_sni_hostname":"ssl-hostname.com","hostname":"integ-test.go-fastly.com","address":"integ-test.go-fastly.com","min_tls_version":null,"ipv6":null,"request_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","keepalive_time":null,"max_use":100,"ssl_client_key":null,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","tcp_keepalive_time":null,"tcp_keepalive_enable":null,"override_host":"origin.example.com","ssl_hostname":null,"deleted_at":null,"auto_loadbalance":false,"prefer_ipv6":false,"shield":null,"ssl_ca_cert":null,"share_key":null,"comment":"","tcp_keepalive_probes":null,"max_conn":200,"ipv4":null,"max_lifetime":60000,"ssl_client_cert":null,"version":145,"max_tls_version":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
