---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/12/backend
    method: GET
  response:
    body: '[{"ipv6":null,"shield":null,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ssl_cert_hostname":null,"ssl_sni_hostname":null,"use_ssl":false,"ssl_client_key":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","hostname":"integ-test.go-fastly.com","ipv4":null,"between_bytes_timeout":10000,"min_tls_version":null,"error_threshold":0,"first_byte_timeout":15000,"name":"test-backend","ssl_ca_cert":null,"client_cert":null,"comment":"","ssl_check_cert":true,"override_host":"origin.example.com","deleted_at":null,"connect_timeout":1500,"updated_at":"2022-10-24T11:38:05Z","healthcheck":null,"address":"integ-test.go-fastly.com","request_condition":"","max_tls_version":null,"ssl_client_cert":null,"created_at":"2022-10-24T11:38:05Z","weight":100,"ssl_hostname":null,"max_conn":200,"port":80,"auto_loadbalance":false,"version":12}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
