---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/123/backend
    method: GET
  response:
    body: '[{"address":"integ-test.go-fastly.com","ssl_sni_hostname":"ssl-hostname.com","auto_loadbalance":false,"updated_at":"2023-08-07T10:02:07Z","ipv4":null,"use_ssl":false,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","max_tls_version":null,"first_byte_timeout":15000,"error_threshold":0,"ssl_client_key":null,"port":80,"ssl_check_cert":false,"healthcheck":null,"shield":null,"connect_timeout":1500,"ssl_client_cert":null,"ssl_cert_hostname":null,"override_host":"origin.example.com","comment":"","version":123,"name":"test-backend","created_at":"2023-08-07T10:02:07Z","ssl_ca_cert":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","between_bytes_timeout":10000,"deleted_at":null,"weight":100,"max_conn":200,"client_cert":null,"min_tls_version":null,"request_condition":"","ipv6":null,"ssl_hostname":null,"hostname":"integ-test.go-fastly.com","share_key":null,"keepalive_time":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
