---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/42/backend
    method: GET
  response:
    body: '[{"ssl_check_cert":false,"updated_at":"2021-11-03T15:12:22Z","client_cert":null,"min_tls_version":null,"ssl_client_cert":null,"deleted_at":null,"max_conn":200,"name":"test-backend","between_bytes_timeout":10000,"ssl_cert_hostname":null,"override_host":"origin.example.com","use_ssl":false,"auto_loadbalance":false,"comment":"","connect_timeout":1500,"healthcheck":null,"ssl_client_key":null,"ipv6":null,"ssl_ca_cert":null,"hostname":"integ-test.go-fastly.com","version":42,"port":1234,"max_tls_version":null,"ipv4":null,"request_condition":"","weight":100,"shield":null,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","error_threshold":0,"ssl_hostname":null,"address":"integ-test.go-fastly.com","first_byte_timeout":15000,"service_id":"3QSsca5ilwNVpceZ2HJIAH","created_at":"2021-11-03T15:12:22Z","ssl_sni_hostname":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
