---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/45/backend
    method: GET
  response:
    body: '[{"port":80,"error_threshold":0,"ssl_ca_cert":null,"client_cert":null,"ssl_hostname":null,"first_byte_timeout":15000,"tcp_keepalive_interval":null,"version":45,"max_tls_version":null,"ssl_cert_hostname":null,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","auto_loadbalance":false,"share_key":null,"tcp_keepalive_probes":null,"ipv6":null,"use_ssl":false,"ssl_client_key":null,"ipv4":null,"name":"test-backend","weight":100,"updated_at":"2025-04-09T14:18:19Z","tcp_keepalive_enable":null,"ssl_check_cert":false,"address":"integ-test.go-fastly.com","deleted_at":null,"keepalive_time":null,"request_condition":"","tcp_keepalive_time":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","healthcheck":null,"max_conn":200,"min_tls_version":null,"connect_timeout":1500,"ssl_sni_hostname":"ssl-hostname.com","comment":"","override_host":"origin.example.com","shield":null,"ssl_client_cert":null,"between_bytes_timeout":10000,"created_at":"2025-04-09T14:18:19Z","hostname":"integ-test.go-fastly.com"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
