---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/2/backend
    method: GET
  response:
    body: '[{"port":443,"between_bytes_timeout":10000,"max_tls_version":null,"max_conn":200,"healthcheck":null,"use_ssl":true,"ipv4":null,"updated_at":"2021-03-24T12:56:50Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","ssl_client_key":null,"ipv6":null,"override_host":"origin.example.com","auto_loadbalance":false,"error_threshold":0,"shield":null,"name":"test-backend","weight":100,"min_tls_version":null,"ssl_ciphers":null,"address":"integ-test.go-fastly.com","deleted_at":null,"version":2,"ssl_hostname":null,"ssl_ca_cert":null,"client_cert":null,"ssl_sni_hostname":null,"connect_timeout":1500,"ssl_cert_hostname":null,"created_at":"2021-03-24T12:56:50Z","comment":"","hostname":"integ-test.go-fastly.com","request_condition":"","first_byte_timeout":15000,"ssl_client_cert":null,"ssl_check_cert":true}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
