---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/30/backend
    method: GET
  response:
    body: '[{"max_conn":200,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","use_ssl":false,"name":"test-backend","ipv4":null,"ssl_client_key":null,"max_tls_version":null,"error_threshold":0,"ipv6":null,"address":"integ-test.go-fastly.com","ssl_cert_hostname":null,"ssl_client_cert":null,"min_tls_version":null,"between_bytes_timeout":10000,"ssl_sni_hostname":null,"deleted_at":null,"version":30,"comment":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2022-10-06T19:10:07Z","first_byte_timeout":15000,"ssl_check_cert":false,"healthcheck":null,"request_condition":"","client_cert":null,"weight":100,"port":1234,"override_host":"origin.example.com","updated_at":"2022-10-06T19:10:07Z","connect_timeout":1500,"ssl_ca_cert":null,"shield":null,"hostname":"integ-test.go-fastly.com","auto_loadbalance":false,"ssl_hostname":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
