---
version: 1
interactions:
- request:
    body: max_lifetime=120000&max_use=200&name=new-test-backend&override_host=www.example.com&port=1234&prefer_ipv6=1&share_key=sharedkey&ssl_check_cert=0&ssl_ciphers=HIGH&ssl_sni_hostname=ssl-hostname-updated.com
    form:
      max_lifetime:
      - "120000"
      max_use:
      - "200"
      name:
      - new-test-backend
      override_host:
      - www.example.com
      port:
      - "1234"
      prefer_ipv6:
      - "1"
      share_key:
      - sharedkey
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - HIGH
      ssl_sni_hostname:
      - ssl-hostname-updated.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/148/backend/test-backend
    method: PUT
  response:
    body: '{"min_tls_version":null,"share_key":"sharedkey","keepalive_time":null,"max_use":200,"version":148,"healthcheck":null,"tcp_keepalive_enable":null,"ssl_cert_hostname":null,"weight":100,"created_at":"2026-05-08T15:01:06Z","prefer_ipv6":true,"connect_timeout":1500,"request_condition":"","comment":"","ssl_client_cert":null,"tcp_keepalive_interval":null,"max_tls_version":null,"max_conn":200,"ssl_client_key":null,"hostname":"integ-test.go-fastly.com","ssl_hostname":null,"client_cert":null,"updated_at":"2026-05-08T15:01:06Z","use_ssl":false,"ssl_check_cert":false,"ssl_ca_cert":null,"tcp_keepalive_time":null,"ssl_sni_hostname":"ssl-hostname-updated.com","ipv6":null,"ipv4":null,"shield":null,"address":"integ-test.go-fastly.com","port":1234,"override_host":"www.example.com","auto_loadbalance":false,"ssl_ciphers":"HIGH","between_bytes_timeout":10000,"max_lifetime":120000,"first_byte_timeout":15000,"deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","name":"new-test-backend","error_threshold":0,"tcp_keepalive_probes":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9995"
      Fastly-Ratelimit-Reset:
      - "1778256000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
