---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/123/backend/new-test-backend
    method: PUT
  response:
    body: '{"min_tls_version":null,"healthcheck":null,"weight":100,"ssl_check_cert":false,"share_key":"shared-key","updated_at":"2023-08-07T10:02:08Z","connect_timeout":1500,"request_condition":"","error_threshold":0,"shield":null,"ipv6":null,"version":123,"keepalive_time":null,"ssl_sni_hostname":"ssl-hostname-updated.com","client_cert":null,"ssl_client_key":null,"between_bytes_timeout":10000,"use_ssl":false,"max_tls_version":null,"port":1234,"ipv4":null,"ssl_hostname":null,"override_host":"www.example.com","ssl_client_cert":null,"ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","name":"new-test-backend","hostname":"integ-test.go-fastly.com","first_byte_timeout":15000,"created_at":"2023-08-07T10:02:07Z","address":"integ-test.go-fastly.com","max_conn":200,"ssl_ca_cert":null,"auto_loadbalance":false,"comment":"","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"ssl_cert_hostname":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9996"
      Fastly-Ratelimit-Reset:
      - "1691406000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
