---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/68/backend/new-test-backend
    method: PUT
  response:
    body: '{"connect_timeout":1500,"deleted_at":null,"use_ssl":false,"address":"integ-test.go-fastly.com","port":1234,"name":"new-test-backend","ssl_client_key":null,"auto_loadbalance":false,"ipv6":null,"updated_at":"2022-11-04T16:54:47Z","healthcheck":null,"ssl_ca_cert":null,"min_tls_version":null,"request_condition":"","ssl_sni_hostname":"ssl-hostname-updated.com","error_threshold":0,"ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","first_byte_timeout":15000,"client_cert":null,"ssl_hostname":null,"ssl_client_cert":null,"comment":"","override_host":"www.example.com","weight":100,"version":68,"ssl_cert_hostname":null,"between_bytes_timeout":10000,"max_tls_version":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","hostname":"integ-test.go-fastly.com","created_at":"2022-11-04T16:54:46Z","max_conn":200,"ssl_check_cert":false,"shield":null,"ipv4":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9931"
      Fastly-Ratelimit-Reset:
      - "1667581200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
