---
version: 1
interactions:
- request:
    body: Name=test-backend&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=2&name=new-test-backend&override_host=www.example.com
    form:
      Name:
      - test-backend
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "2"
      name:
      - new-test-backend
      override_host:
      - www.example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/2/backend/test-backend
    method: PUT
  response:
    body: '{"ssl_cert_hostname":null,"override_host":"www.example.com","created_at":"2021-03-24T12:56:50Z","ssl_ca_cert":null,"address":"integ-test.go-fastly.com","ssl_client_key":null,"deleted_at":null,"request_condition":"","ssl_check_cert":true,"ssl_ciphers":null,"hostname":"integ-test.go-fastly.com","between_bytes_timeout":10000,"service_id":"7i6HN3TK9wS159v2gPAZ8A","ssl_sni_hostname":null,"port":443,"min_tls_version":null,"ipv6":null,"shield":null,"max_conn":200,"client_cert":null,"error_threshold":0,"updated_at":"2021-03-24T12:56:50Z","auto_loadbalance":false,"use_ssl":true,"name":"new-test-backend","healthcheck":null,"connect_timeout":1500,"ipv4":null,"max_tls_version":null,"first_byte_timeout":15000,"comment":"","ssl_hostname":null,"weight":100,"version":2,"ssl_client_cert":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4997"
      Fastly-Ratelimit-Reset:
      - "1616590800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
