---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-backend&Service=7i6HN3TK9wS159v2gPAZ8A&Version=69&name=new-test-backend&override_host=www.example.com
    form:
      Name:
      - test-backend
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "69"
      name:
      - new-test-backend
      override_host:
      - www.example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/69/backend/test-backend
    method: PUT
  response:
    body: '{"ssl_ca_cert":null,"error_threshold":0,"ssl_cert_hostname":null,"hostname":"integ-test.go-fastly.com","ssl_check_cert":true,"weight":100,"comment":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"new-test-backend","ipv4":null,"client_cert":null,"ssl_sni_hostname":null,"first_byte_timeout":15000,"max_conn":200,"shield":null,"created_at":"2019-06-07T21:31:21Z","max_tls_version":null,"updated_at":"2019-06-07T21:31:21Z","version":69,"use_ssl":false,"ipv6":null,"ssl_client_key":null,"deleted_at":null,"healthcheck":null,"connect_timeout":1500,"between_bytes_timeout":10000,"ssl_ciphers":null,"ssl_client_cert":null,"override_host":"www.example.com","port":1234,"address":"integ-test.go-fastly.com","ssl_hostname":null,"request_condition":"","auto_loadbalance":false,"min_tls_version":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1559944800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
