---
version: 1
interactions:
- request:
    body: Name=test-backend&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=12&name=new-test-backend&override_host=www.example.com&port=1234&ssl_check_cert=0&ssl_ciphers=RC4%3A%21COMPLEMENTOFDEFAULT
    form:
      Name:
      - test-backend
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "12"
      name:
      - new-test-backend
      override_host:
      - www.example.com
      port:
      - "1234"
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - RC4:!COMPLEMENTOFDEFAULT
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/12/backend/test-backend
    method: PUT
  response:
    body: '{"max_conn":200,"weight":100,"ssl_hostname":null,"client_cert":null,"ipv6":null,"error_threshold":0,"override_host":"www.example.com","address":"integ-test.go-fastly.com","updated_at":"2022-10-24T11:38:05Z","auto_loadbalance":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","ssl_sni_hostname":null,"version":12,"shield":null,"created_at":"2022-10-24T11:38:05Z","first_byte_timeout":15000,"ssl_check_cert":false,"between_bytes_timeout":10000,"ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","hostname":"integ-test.go-fastly.com","name":"new-test-backend","use_ssl":false,"healthcheck":null,"port":1234,"ipv4":null,"deleted_at":null,"ssl_client_key":null,"max_tls_version":null,"comment":"","connect_timeout":1500,"min_tls_version":null,"ssl_ca_cert":null,"request_condition":"","ssl_client_cert":null,"ssl_cert_hostname":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9938"
      Fastly-Ratelimit-Reset:
      - "1666612800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
