---
version: 1
interactions:
- request:
    body: Name=test-backend&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=32&name=new-test-backend&override_host=www.example.com&ssl_ciphers=RC4%3A%21COMPLEMENTOFDEFAULT
    form:
      Name:
      - test-backend
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "32"
      name:
      - new-test-backend
      override_host:
      - www.example.com
      ssl_ciphers:
      - RC4:!COMPLEMENTOFDEFAULT
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/32/backend/test-backend
    method: PUT
  response:
    body: '{"override_host":"www.example.com","ssl_sni_hostname":null,"comment":"","ssl_check_cert":false,"shield":null,"min_tls_version":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","hostname":"integ-test.go-fastly.com","auto_loadbalance":false,"ssl_cert_hostname":null,"created_at":"2021-09-20T12:34:29Z","weight":100,"ipv4":null,"request_condition":"","name":"new-test-backend","version":32,"use_ssl":false,"error_threshold":0,"ssl_hostname":null,"deleted_at":null,"port":1234,"ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","ssl_client_cert":null,"ssl_ca_cert":null,"ssl_client_key":null,"address":"integ-test.go-fastly.com","ipv6":null,"connect_timeout":1500,"healthcheck":null,"updated_at":"2021-09-20T12:34:29Z","between_bytes_timeout":10000,"client_cert":null,"first_byte_timeout":15000,"max_tls_version":null,"max_conn":200}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4975"
      Fastly-Ratelimit-Reset:
      - "1632142800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
