---
version: 1
interactions:
- request:
    body: override_host=&port=0
    form:
      override_host:
      - ""
      port:
      - "0"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/145/backend/new-test-backend
    method: PUT
  response:
    body: '{"ssl_hostname":null,"shield":null,"ssl_ca_cert":null,"updated_at":"2026-05-06T18:11:08Z","max_tls_version":null,"healthcheck":null,"error_threshold":0,"ipv4":null,"between_bytes_timeout":10000,"keepalive_time":null,"tcp_keepalive_interval":null,"weight":100,"connect_timeout":1500,"ssl_cert_hostname":null,"use_ssl":false,"address":"integ-test.go-fastly.com","max_use":200,"override_host":null,"min_tls_version":null,"share_key":"sharedkey","max_lifetime":120000,"client_cert":null,"ssl_ciphers":"HIGH","auto_loadbalance":false,"hostname":"integ-test.go-fastly.com","version":145,"prefer_ipv6":true,"ssl_sni_hostname":"ssl-hostname-updated.com","request_condition":"","name":"new-test-backend","created_at":"2026-05-06T18:11:06Z","ipv6":null,"port":0,"ssl_check_cert":false,"ssl_client_key":null,"max_conn":200,"first_byte_timeout":15000,"tcp_keepalive_probes":null,"tcp_keepalive_enable":null,"tcp_keepalive_time":null,"ssl_client_cert":null,"deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9991"
      Fastly-Ratelimit-Reset:
      - "1778094000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
