---
version: 1
interactions:
- request:
    body: name=new-test-backend&override_host=www.example.com&port=1234&share_key=sharedkey&ssl_check_cert=0&ssl_ciphers=RC4%3A%21COMPLEMENTOFDEFAULT&ssl_sni_hostname=ssl-hostname-updated.com
    form:
      name:
      - new-test-backend
      override_host:
      - www.example.com
      port:
      - "1234"
      share_key:
      - sharedkey
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - RC4:!COMPLEMENTOFDEFAULT
      ssl_sni_hostname:
      - ssl-hostname-updated.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/45/backend/test-backend
    method: PUT
  response:
    body: '{"error_threshold":0,"shield":null,"weight":100,"updated_at":"2025-04-09T14:18:19Z","max_tls_version":null,"min_tls_version":null,"address":"integ-test.go-fastly.com","comment":"","version":45,"healthcheck":null,"override_host":"www.example.com","ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","deleted_at":null,"keepalive_time":null,"share_key":"sharedkey","auto_loadbalance":false,"tcp_keepalive_enable":null,"use_ssl":false,"ssl_hostname":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","client_cert":null,"connect_timeout":1500,"created_at":"2025-04-09T14:18:19Z","first_byte_timeout":15000,"ssl_client_key":null,"tcp_keepalive_interval":null,"tcp_keepalive_time":null,"between_bytes_timeout":10000,"ssl_cert_hostname":null,"tcp_keepalive_probes":null,"name":"new-test-backend","request_condition":"","ssl_client_cert":null,"hostname":"integ-test.go-fastly.com","port":1234,"ssl_check_cert":false,"ssl_sni_hostname":"ssl-hostname-updated.com","ipv6":null,"ipv4":null,"max_conn":200,"ssl_ca_cert":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9992"
      Fastly-Ratelimit-Reset:
      - "1744210800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
