---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/102/backend/new-test-backend
    method: PUT
  response:
    body: '{"ssl_client_cert":null,"error_threshold":0,"ssl_ciphers":"HIGH","created_at":"2025-05-07T15:03:13Z","max_conn":200,"connect_timeout":1500,"tcp_keepalive_interval":null,"port":1234,"service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"address":"integ-test.go-fastly.com","first_byte_timeout":15000,"hostname":"integ-test.go-fastly.com","version":102,"ipv6":null,"share_key":"sharedkey","between_bytes_timeout":10000,"ssl_hostname":null,"ssl_cert_hostname":null,"tcp_keepalive_time":null,"name":"new-test-backend","ssl_check_cert":false,"prefer_ipv6":true,"shield":null,"min_tls_version":null,"ssl_client_key":null,"healthcheck":null,"tcp_keepalive_enable":null,"weight":100,"auto_loadbalance":false,"ssl_ca_cert":null,"tcp_keepalive_probes":null,"ipv4":null,"ssl_sni_hostname":"ssl-hostname-updated.com","updated_at":"2025-05-07T15:03:13Z","comment":"","override_host":"www.example.com","keepalive_time":null,"client_cert":null,"max_tls_version":null,"request_condition":"","use_ssl":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9991"
      Fastly-Ratelimit-Reset:
      - "1746633600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
