---
version: 1
interactions:
- request:
    body: override_host=&port=0
    form:
      override_host:
      - ""
      port:
      - "0"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/102/backend/new-test-backend
    method: PUT
  response:
    body: '{"ssl_client_key":null,"ssl_sni_hostname":"ssl-hostname-updated.com","ssl_check_cert":false,"ipv6":null,"healthcheck":null,"name":"new-test-backend","request_condition":"","ssl_ca_cert":null,"tcp_keepalive_interval":null,"max_conn":200,"client_cert":null,"hostname":"integ-test.go-fastly.com","share_key":"sharedkey","port":0,"ssl_ciphers":"HIGH","tcp_keepalive_enable":null,"keepalive_time":null,"error_threshold":0,"address":"integ-test.go-fastly.com","auto_loadbalance":false,"tcp_keepalive_probes":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","first_byte_timeout":15000,"min_tls_version":null,"created_at":"2025-05-07T15:03:13Z","tcp_keepalive_time":null,"comment":"","override_host":null,"shield":null,"ssl_hostname":null,"prefer_ipv6":true,"max_tls_version":null,"updated_at":"2025-05-07T15:03:13Z","ipv4":null,"ssl_client_cert":null,"ssl_cert_hostname":null,"deleted_at":null,"weight":100,"connect_timeout":1500,"between_bytes_timeout":10000,"version":102,"use_ssl":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9990"
      Fastly-Ratelimit-Reset:
      - "1746633600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
