---
version: 1
interactions:
- request:
    body: Name=new-test-backend&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=13&override_host=&port=0
    form:
      Name:
      - new-test-backend
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "13"
      override_host:
      - ""
      port:
      - "0"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/13/backend/new-test-backend
    method: PUT
  response:
    body: '{"override_host":null,"address":"integ-test.go-fastly.com","updated_at":"2022-10-24T11:58:37Z","client_cert":null,"error_threshold":0,"ipv6":null,"ssl_hostname":null,"weight":100,"max_conn":200,"comment":"","ssl_ca_cert":null,"min_tls_version":null,"connect_timeout":1500,"request_condition":"","ssl_client_cert":null,"ssl_cert_hostname":null,"port":0,"ipv4":null,"deleted_at":null,"max_tls_version":null,"ssl_client_key":null,"hostname":"integ-test.go-fastly.com","name":"new-test-backend","use_ssl":false,"healthcheck":null,"between_bytes_timeout":10000,"ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","first_byte_timeout":15000,"ssl_check_cert":false,"created_at":"2022-10-24T11:58:36Z","shield":null,"ssl_sni_hostname":"ssl-hostname-updated.com","version":13,"auto_loadbalance":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9928"
      Fastly-Ratelimit-Reset:
      - "1666612800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
