---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/45/backend/new-test-backend
    method: PUT
  response:
    body: '{"ssl_cert_hostname":null,"ssl_hostname":null,"ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","error_threshold":0,"port":1234,"max_tls_version":null,"updated_at":"2025-04-09T14:18:20Z","request_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","tcp_keepalive_interval":null,"between_bytes_timeout":10000,"tcp_keepalive_probes":null,"shield":null,"ipv6":null,"tcp_keepalive_enable":null,"first_byte_timeout":15000,"ipv4":null,"hostname":"integ-test.go-fastly.com","healthcheck":null,"ssl_client_key":null,"version":45,"ssl_check_cert":false,"max_conn":200,"auto_loadbalance":false,"keepalive_time":null,"tcp_keepalive_time":null,"connect_timeout":1500,"use_ssl":false,"ssl_ca_cert":null,"address":"integ-test.go-fastly.com","comment":"","min_tls_version":null,"ssl_client_cert":null,"client_cert":null,"name":"new-test-backend","override_host":"www.example.com","share_key":"sharedkey","weight":100,"created_at":"2025-04-09T14:18:19Z","deleted_at":null,"ssl_sni_hostname":"ssl-hostname-updated.com"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9991"
      Fastly-Ratelimit-Reset:
      - "1744210800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
