---
version: 1
interactions:
- request:
    body: Name=test-backend&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=30&max_tls_version=&min_tls_version=&override_host=&ssl_ca_cert=&ssl_cert_hostname=&ssl_ciphers=&ssl_client_cert=&ssl_client_key=&ssl_hostname=&ssl_sni_hostname=
    form:
      Name:
      - test-backend
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "30"
      max_tls_version:
      - ""
      min_tls_version:
      - ""
      override_host:
      - ""
      ssl_ca_cert:
      - ""
      ssl_cert_hostname:
      - ""
      ssl_ciphers:
      - ""
      ssl_client_cert:
      - ""
      ssl_client_key:
      - ""
      ssl_hostname:
      - ""
      ssl_sni_hostname:
      - ""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/30/backend/test-backend
    method: PUT
  response:
    body: '{"deleted_at":null,"comment":"","address":"integ-test.go-fastly.com","name":"test-backend","created_at":"2022-10-06T19:10:07Z","between_bytes_timeout":10000,"port":1234,"ssl_cert_hostname":"","error_threshold":0,"healthcheck":null,"version":30,"service_id":"7i6HN3TK9wS159v2gPAZ8A","ssl_sni_hostname":"","ssl_ciphers":"","max_tls_version":"","ipv6":null,"first_byte_timeout":15000,"ssl_check_cert":false,"use_ssl":false,"ssl_client_key":"","ssl_hostname":"","hostname":"integ-test.go-fastly.com","min_tls_version":"","weight":100,"ssl_ca_cert":"","ssl_client_cert":"","auto_loadbalance":false,"connect_timeout":1500,"client_cert":null,"override_host":null,"updated_at":"2022-10-06T19:10:08Z","request_condition":"","ipv4":null,"max_conn":200,"shield":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "1984"
      Fastly-Ratelimit-Reset:
      - "1665086400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
