---
version: 1
interactions:
- request:
    body: Name=test-backend&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=14&name=new-test-backend&override_host=www.example.com&port=1234&ssl_check_cert=0&ssl_ciphers=RC4%3A%21COMPLEMENTOFDEFAULT&ssl_sni_hostname=ssl-hostname-updated.com
    form:
      Name:
      - test-backend
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "14"
      name:
      - new-test-backend
      override_host:
      - www.example.com
      port:
      - "1234"
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - RC4:!COMPLEMENTOFDEFAULT
      ssl_sni_hostname:
      - ssl-hostname-updated.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/14/backend/test-backend
    method: PUT
  response:
    body: '{"between_bytes_timeout":10000,"ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","hostname":"integ-test.go-fastly.com","name":"new-test-backend","use_ssl":false,"healthcheck":null,"port":1234,"ipv4":null,"deleted_at":null,"max_tls_version":null,"ssl_client_key":null,"comment":"","ssl_ca_cert":null,"connect_timeout":1500,"min_tls_version":null,"request_condition":"","ssl_client_cert":null,"ssl_cert_hostname":null,"auto_loadbalance":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","ssl_sni_hostname":"ssl-hostname-updated.com","version":14,"shield":null,"created_at":"2022-10-27T16:42:30Z","first_byte_timeout":15000,"ssl_check_cert":false,"ssl_hostname":null,"client_cert":null,"error_threshold":0,"ipv6":null,"override_host":"www.example.com","address":"integ-test.go-fastly.com","updated_at":"2022-10-27T16:42:30Z","max_conn":200,"weight":100}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1666890000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
