---
version: 1
interactions:
- request:
    body: Name=new-test-backend&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=13
    form:
      Name:
      - new-test-backend
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "13"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/13/backend/new-test-backend
    method: PUT
  response:
    body: '{"weight":100,"ssl_cert_hostname":null,"max_tls_version":null,"ssl_sni_hostname":"ssl-hostname-updated.com","port":1234,"request_condition":"","auto_loadbalance":false,"connect_timeout":1500,"comment":"","max_conn":200,"ssl_client_cert":null,"ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","ssl_ca_cert":null,"first_byte_timeout":15000,"address":"integ-test.go-fastly.com","created_at":"2022-10-24T11:58:36Z","between_bytes_timeout":10000,"deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","client_cert":null,"ipv6":null,"use_ssl":false,"ssl_client_key":null,"error_threshold":0,"ssl_check_cert":false,"ipv4":null,"shield":null,"updated_at":"2022-10-24T11:58:37Z","override_host":"www.example.com","healthcheck":null,"min_tls_version":null,"name":"new-test-backend","version":13,"ssl_hostname":null,"hostname":"integ-test.go-fastly.com"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9929"
      Fastly-Ratelimit-Reset:
      - "1666612800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
