---
version: 1
interactions:
- request:
    body: Name=test-backend&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=30&max_tls_version=&min_tls_version=&override_host=example.com&ssl_ca_cert=&ssl_cert_hostname=&ssl_ciphers=&ssl_client_cert=&ssl_client_key=&ssl_hostname=&ssl_sni_hostname=
    form:
      Name:
      - test-backend
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "30"
      max_tls_version:
      - ""
      min_tls_version:
      - ""
      override_host:
      - example.com
      ssl_ca_cert:
      - ""
      ssl_cert_hostname:
      - ""
      ssl_ciphers:
      - ""
      ssl_client_cert:
      - ""
      ssl_client_key:
      - ""
      ssl_hostname:
      - ""
      ssl_sni_hostname:
      - ""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/30/backend/test-backend
    method: PUT
  response:
    body: '{"max_conn":200,"request_condition":"","error_threshold":0,"ipv6":null,"name":"test-backend","service_id":"7i6HN3TK9wS159v2gPAZ8A","ssl_cert_hostname":"","shield":null,"updated_at":"2022-10-06T19:10:07Z","ssl_ca_cert":"","ssl_client_key":"","override_host":"example.com","address":"integ-test.go-fastly.com","ssl_ciphers":null,"auto_loadbalance":false,"client_cert":null,"created_at":"2022-10-06T19:10:07Z","ipv4":null,"between_bytes_timeout":10000,"ssl_client_cert":"","min_tls_version":"","ssl_hostname":"","use_ssl":false,"max_tls_version":"","comment":"","hostname":"integ-test.go-fastly.com","weight":100,"deleted_at":null,"connect_timeout":1500,"version":30,"healthcheck":null,"ssl_sni_hostname":"","port":1234,"ssl_check_cert":false,"first_byte_timeout":15000}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "1985"
      Fastly-Ratelimit-Reset:
      - "1665086400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
