---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/148/backend/new-test-backend
    method: PUT
  response:
    body: '{"max_conn":200,"ssl_sni_hostname":"ssl-hostname-updated.com","tcp_keepalive_enable":null,"use_ssl":false,"service_id":"kKJb5bOFI47uHeBVluGfX1","ssl_hostname":null,"shield":null,"ipv6":null,"auto_loadbalance":false,"created_at":"2026-05-08T15:01:06Z","updated_at":"2026-05-08T15:01:08Z","name":"new-test-backend","healthcheck":null,"ssl_ciphers":"HIGH","version":148,"connect_timeout":1500,"tcp_keepalive_probes":null,"max_tls_version":null,"tcp_keepalive_time":null,"share_key":"sharedkey","error_threshold":0,"between_bytes_timeout":10000,"ssl_ca_cert":null,"max_use":200,"ssl_check_cert":false,"port":1234,"client_cert":null,"ssl_client_key":null,"request_condition":"","comment":"","override_host":"www.example.com","deleted_at":null,"max_lifetime":120000,"tcp_keepalive_interval":null,"first_byte_timeout":15000,"ipv4":null,"ssl_client_cert":null,"min_tls_version":null,"prefer_ipv6":true,"ssl_cert_hostname":null,"hostname":"integ-test.go-fastly.com","weight":100,"address":"integ-test.go-fastly.com","keepalive_time":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9994"
      Fastly-Ratelimit-Reset:
      - "1778256000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
