---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-backend&Service=7i6HN3TK9wS159v2gPAZ8A&Version=7&name=new-test-backend
    form:
      Name:
      - test-backend
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "7"
      name:
      - new-test-backend
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/7/backend/test-backend
    method: PUT
  response:
    body: '{"port":1234,"version":7,"connect_timeout":1500,"ssl_client_key":null,"ssl_cert_hostname":null,"ssl_client_cert":null,"request_condition":"","created_at":"2019-05-07T22:38:35Z","auto_loadbalance":false,"ssl_hostname":null,"hostname":"integ-test.go-fastly.com","client_cert":null,"weight":100,"error_threshold":0,"ipv4":null,"healthcheck":null,"name":"new-test-backend","updated_at":"2019-05-07T22:38:35Z","first_byte_timeout":15000,"use_ssl":false,"min_tls_version":null,"comment":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","ssl_ca_cert":null,"address":"integ-test.go-fastly.com","ipv6":null,"ssl_check_cert":true,"override_host":null,"max_conn":200,"ssl_sni_hostname":null,"deleted_at":null,"max_tls_version":null,"shield":null,"ssl_ciphers":null,"between_bytes_timeout":10000}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1557270000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
