---
version: 1
interactions:
- request:
    body: address=integ-test.go-fastly.com&connect_timeout=1500&max_lifetime=&max_use=&override_host=origin.example.com&ssl_check_cert=0&ssl_ciphers=DHE-RSA-AES256-SHA%3ADHE-RSA-CAMELLIA256-SHA%3AAES256-GCM-SHA384&ssl_sni_hostname=ssl-hostname.com
    form:
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      max_lifetime:
      - ""
      max_use:
      - ""
      override_host:
      - origin.example.com
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384
      ssl_sni_hostname:
      - ssl-hostname.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/148/backend/new-test-backend
    method: PUT
  response:
    body: '{"ipv4":null,"ssl_client_key":null,"shield":null,"name":"new-test-backend","hostname":"integ-test.go-fastly.com","use_ssl":false,"created_at":"2026-05-08T15:01:06Z","prefer_ipv6":true,"max_tls_version":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","max_lifetime":null,"address":"integ-test.go-fastly.com","override_host":"origin.example.com","ssl_check_cert":false,"auto_loadbalance":false,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ipv6":null,"between_bytes_timeout":10000,"ssl_client_cert":null,"request_condition":"","version":148,"ssl_cert_hostname":null,"tcp_keepalive_enable":null,"share_key":"sharedkey","ssl_hostname":null,"tcp_keepalive_time":null,"ssl_sni_hostname":"ssl-hostname.com","first_byte_timeout":15000,"weight":100,"updated_at":"2026-05-08T15:01:09Z","min_tls_version":null,"error_threshold":0,"max_use":null,"client_cert":null,"healthcheck":null,"keepalive_time":null,"tcp_keepalive_probes":null,"ssl_ca_cert":null,"tcp_keepalive_interval":null,"port":0,"connect_timeout":1500,"max_conn":200,"deleted_at":null,"comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9990"
      Fastly-Ratelimit-Reset:
      - "1778256000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
