---
version: 1
interactions:
- request:
    body: max_lifetime=120000&max_use=200&name=new-test-backend&override_host=www.example.com&port=1234&prefer_ipv6=1&share_key=sharedkey&ssl_check_cert=0&ssl_ciphers=HIGH&ssl_sni_hostname=ssl-hostname-updated.com
    form:
      max_lifetime:
      - "120000"
      max_use:
      - "200"
      name:
      - new-test-backend
      override_host:
      - www.example.com
      port:
      - "1234"
      prefer_ipv6:
      - "1"
      share_key:
      - sharedkey
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - HIGH
      ssl_sni_hostname:
      - ssl-hostname-updated.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/145/backend/test-backend
    method: PUT
  response:
    body: '{"max_tls_version":null,"healthcheck":null,"ssl_client_key":null,"between_bytes_timeout":10000,"min_tls_version":null,"tcp_keepalive_time":null,"ssl_hostname":null,"first_byte_timeout":15000,"tcp_keepalive_interval":null,"ssl_cert_hostname":null,"weight":100,"ssl_ciphers":"HIGH","share_key":"sharedkey","ipv4":null,"hostname":"integ-test.go-fastly.com","max_conn":200,"client_cert":null,"max_lifetime":120000,"tcp_keepalive_probes":null,"address":"integ-test.go-fastly.com","ssl_ca_cert":null,"keepalive_time":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","ssl_check_cert":false,"max_use":200,"shield":null,"ssl_sni_hostname":"ssl-hostname-updated.com","port":1234,"prefer_ipv6":true,"request_condition":"","version":145,"ssl_client_cert":null,"use_ssl":false,"deleted_at":null,"error_threshold":0,"comment":"","connect_timeout":1500,"override_host":"www.example.com","name":"new-test-backend","auto_loadbalance":false,"created_at":"2026-05-06T18:11:06Z","ipv6":null,"tcp_keepalive_enable":null,"updated_at":"2026-05-06T18:11:06Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9995"
      Fastly-Ratelimit-Reset:
      - "1778094000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
