---
version: 1
interactions:
- request:
    body: override_host=&port=0
    form:
      override_host:
      - ""
      port:
      - "0"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/148/backend/new-test-backend
    method: PUT
  response:
    body: '{"connect_timeout":1500,"hostname":"integ-test.go-fastly.com","tcp_keepalive_time":null,"keepalive_time":null,"ssl_cert_hostname":null,"max_conn":200,"deleted_at":null,"weight":100,"max_lifetime":120000,"request_condition":"","ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":false,"override_host":null,"ssl_hostname":null,"ssl_client_key":null,"ssl_sni_hostname":"ssl-hostname-updated.com","share_key":"sharedkey","updated_at":"2026-05-08T15:01:08Z","address":"integ-test.go-fastly.com","service_id":"kKJb5bOFI47uHeBVluGfX1","comment":"","tcp_keepalive_enable":null,"created_at":"2026-05-08T15:01:06Z","max_tls_version":null,"version":148,"min_tls_version":null,"between_bytes_timeout":10000,"error_threshold":0,"use_ssl":false,"ipv4":null,"prefer_ipv6":true,"ipv6":null,"tcp_keepalive_probes":null,"healthcheck":null,"max_use":200,"ssl_client_cert":null,"name":"new-test-backend","port":0,"client_cert":null,"tcp_keepalive_interval":null,"first_byte_timeout":15000,"ssl_ciphers":"HIGH","shield":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9992"
      Fastly-Ratelimit-Reset:
      - "1778256000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
