---
version: 1
interactions:
- request:
    body: override_host=&port=0
    form:
      override_host:
      - ""
      port:
      - "0"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/68/backend/new-test-backend
    method: PUT
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","request_condition":"","ssl_sni_hostname":"ssl-hostname-updated.com","weight":100,"ssl_client_key":null,"override_host":null,"version":68,"ipv6":null,"max_conn":200,"use_ssl":false,"healthcheck":null,"min_tls_version":null,"connect_timeout":1500,"address":"integ-test.go-fastly.com","name":"new-test-backend","ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","ssl_ca_cert":null,"deleted_at":null,"hostname":"integ-test.go-fastly.com","comment":"","updated_at":"2022-11-04T16:54:47Z","ssl_client_cert":null,"error_threshold":0,"shield":null,"ssl_check_cert":false,"created_at":"2022-11-04T16:54:46Z","port":0,"ssl_hostname":null,"between_bytes_timeout":10000,"max_tls_version":null,"client_cert":null,"auto_loadbalance":false,"ssl_cert_hostname":null,"ipv4":null,"first_byte_timeout":15000}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9930"
      Fastly-Ratelimit-Reset:
      - "1667581200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
