---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/145/backend/new-test-backend
    method: PUT
  response:
    body: '{"max_tls_version":null,"version":145,"tcp_keepalive_probes":null,"max_lifetime":120000,"ssl_client_cert":null,"ipv4":null,"max_conn":200,"share_key":"sharedkey","comment":"","prefer_ipv6":true,"shield":null,"ssl_ca_cert":null,"tcp_keepalive_enable":null,"auto_loadbalance":false,"deleted_at":null,"ssl_hostname":null,"override_host":"www.example.com","service_id":"kKJb5bOFI47uHeBVluGfX1","ssl_client_key":null,"max_use":200,"tcp_keepalive_time":null,"ssl_ciphers":"HIGH","keepalive_time":null,"request_condition":"","address":"integ-test.go-fastly.com","ipv6":null,"min_tls_version":null,"ssl_sni_hostname":"ssl-hostname-updated.com","ssl_cert_hostname":null,"hostname":"integ-test.go-fastly.com","use_ssl":false,"healthcheck":null,"ssl_check_cert":false,"between_bytes_timeout":10000,"first_byte_timeout":15000,"created_at":"2026-05-06T18:11:06Z","connect_timeout":1500,"tcp_keepalive_interval":null,"client_cert":null,"error_threshold":0,"name":"new-test-backend","port":1234,"weight":100,"updated_at":"2026-05-06T18:11:08Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9993"
      Fastly-Ratelimit-Reset:
      - "1778094000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
