---
version: 1
interactions:
- request:
    body: name=new-test-backend&override_host=www.example.com&port=1234&prefer_ipv6=1&share_key=sharedkey&ssl_check_cert=0&ssl_ciphers=HIGH&ssl_sni_hostname=ssl-hostname-updated.com
    form:
      name:
      - new-test-backend
      override_host:
      - www.example.com
      port:
      - "1234"
      prefer_ipv6:
      - "1"
      share_key:
      - sharedkey
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - HIGH
      ssl_sni_hostname:
      - ssl-hostname-updated.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/102/backend/test-backend
    method: PUT
  response:
    body: '{"tcp_keepalive_time":null,"prefer_ipv6":true,"first_byte_timeout":15000,"ssl_ciphers":"HIGH","updated_at":"2025-05-07T15:03:13Z","ssl_hostname":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","tcp_keepalive_interval":null,"version":102,"use_ssl":false,"ipv4":null,"port":1234,"name":"new-test-backend","ssl_sni_hostname":"ssl-hostname-updated.com","between_bytes_timeout":10000,"deleted_at":null,"ssl_check_cert":false,"hostname":"integ-test.go-fastly.com","client_cert":null,"healthcheck":null,"override_host":"www.example.com","error_threshold":0,"ssl_cert_hostname":null,"tcp_keepalive_enable":null,"max_tls_version":null,"weight":100,"request_condition":"","comment":"","ssl_client_cert":null,"share_key":"sharedkey","connect_timeout":1500,"ipv6":null,"ssl_client_key":null,"address":"integ-test.go-fastly.com","auto_loadbalance":false,"keepalive_time":null,"tcp_keepalive_probes":null,"shield":null,"min_tls_version":null,"max_conn":200,"ssl_ca_cert":null,"created_at":"2025-05-07T15:03:13Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9992"
      Fastly-Ratelimit-Reset:
      - "1746633600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
