---
version: 1
interactions:
- request:
    body: Name=test-backend&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=13&name=new-test-backend&override_host=www.example.com&port=1234&ssl_check_cert=0&ssl_ciphers=RC4%3A%21COMPLEMENTOFDEFAULT&ssl_sni_hostname=ssl-hostname-updated.com
    form:
      Name:
      - test-backend
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "13"
      name:
      - new-test-backend
      override_host:
      - www.example.com
      port:
      - "1234"
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - RC4:!COMPLEMENTOFDEFAULT
      ssl_sni_hostname:
      - ssl-hostname-updated.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/13/backend/test-backend
    method: PUT
  response:
    body: '{"ssl_cert_hostname":null,"between_bytes_timeout":10000,"weight":100,"first_byte_timeout":15000,"version":13,"max_conn":200,"hostname":"integ-test.go-fastly.com","name":"new-test-backend","address":"integ-test.go-fastly.com","port":1234,"ssl_sni_hostname":"ssl-hostname-updated.com","created_at":"2022-10-24T11:58:36Z","ssl_ca_cert":null,"connect_timeout":1500,"shield":null,"healthcheck":null,"deleted_at":null,"ssl_check_cert":false,"client_cert":null,"ssl_client_cert":null,"comment":"","min_tls_version":null,"use_ssl":false,"error_threshold":0,"max_tls_version":null,"updated_at":"2022-10-24T11:58:36Z","ssl_hostname":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","request_condition":"","ipv6":null,"ssl_client_key":null,"auto_loadbalance":false,"ipv4":null,"ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","override_host":"www.example.com"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9930"
      Fastly-Ratelimit-Reset:
      - "1666612800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
