---
version: 1
interactions:
- request:
    body: name=new-test-backend&override_host=www.example.com&port=1234&share_key=shared-key&ssl_check_cert=0&ssl_ciphers=RC4%3A%21COMPLEMENTOFDEFAULT&ssl_sni_hostname=ssl-hostname-updated.com
    form:
      name:
      - new-test-backend
      override_host:
      - www.example.com
      port:
      - "1234"
      share_key:
      - shared-key
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - RC4:!COMPLEMENTOFDEFAULT
      ssl_sni_hostname:
      - ssl-hostname-updated.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/123/backend/test-backend
    method: PUT
  response:
    body: '{"created_at":"2023-08-07T10:02:07Z","shield":null,"first_byte_timeout":15000,"ssl_cert_hostname":null,"ssl_client_cert":null,"max_conn":200,"ssl_sni_hostname":"ssl-hostname-updated.com","service_id":"kKJb5bOFI47uHeBVluGfX1","ipv4":null,"between_bytes_timeout":10000,"override_host":"www.example.com","keepalive_time":null,"ssl_hostname":null,"port":1234,"auto_loadbalance":false,"ssl_check_cert":false,"use_ssl":false,"hostname":"integ-test.go-fastly.com","ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","deleted_at":null,"weight":100,"min_tls_version":null,"error_threshold":0,"ipv6":null,"name":"new-test-backend","updated_at":"2023-08-07T10:02:07Z","ssl_ca_cert":null,"share_key":"shared-key","connect_timeout":1500,"max_tls_version":null,"comment":"","client_cert":null,"ssl_client_key":null,"healthcheck":null,"request_condition":"","address":"integ-test.go-fastly.com","version":123}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1691406000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
