---
version: 1
interactions:
- request:
    body: Name=test-backend&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=20&name=new-test-backend&override_host=www.example.com
    form:
      Name:
      - test-backend
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "20"
      name:
      - new-test-backend
      override_host:
      - www.example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/20/backend/test-backend
    method: PUT
  response:
    body: '{"ssl_sni_hostname":null,"hostname":"integ-test.go-fastly.com","ipv6":null,"ssl_ca_cert":null,"error_threshold":0,"ipv4":null,"ssl_ciphers":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","ssl_hostname":null,"ssl_check_cert":true,"ssl_client_key":null,"deleted_at":null,"ssl_client_cert":null,"request_condition":"","max_tls_version":null,"override_host":"www.example.com","shield":null,"ssl_cert_hostname":null,"auto_loadbalance":false,"address":"integ-test.go-fastly.com","use_ssl":false,"first_byte_timeout":15000,"comment":"","name":"new-test-backend","created_at":"2021-01-14T10:25:50Z","weight":100,"max_conn":200,"connect_timeout":1500,"min_tls_version":null,"updated_at":"2021-01-14T10:25:50Z","version":20,"between_bytes_timeout":10000,"client_cert":null,"port":1234,"healthcheck":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "919"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
