---
version: 1
interactions:
- request:
    body: name=new-test-backend&override_host=www.example.com&port=1234&ssl_check_cert=0&ssl_ciphers=RC4%3A%21COMPLEMENTOFDEFAULT&ssl_sni_hostname=ssl-hostname-updated.com
    form:
      name:
      - new-test-backend
      override_host:
      - www.example.com
      port:
      - "1234"
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - RC4:!COMPLEMENTOFDEFAULT
      ssl_sni_hostname:
      - ssl-hostname-updated.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/68/backend/test-backend
    method: PUT
  response:
    body: '{"first_byte_timeout":15000,"healthcheck":null,"ssl_sni_hostname":"ssl-hostname-updated.com","deleted_at":null,"use_ssl":false,"ssl_hostname":null,"ssl_client_cert":null,"ssl_ca_cert":null,"ssl_client_key":null,"ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2022-11-04T16:54:46Z","override_host":"www.example.com","address":"integ-test.go-fastly.com","between_bytes_timeout":10000,"request_condition":"","ipv6":null,"max_tls_version":null,"hostname":"integ-test.go-fastly.com","shield":null,"comment":"","version":68,"ssl_cert_hostname":null,"ipv4":null,"weight":100,"error_threshold":0,"port":1234,"created_at":"2022-11-04T16:54:46Z","client_cert":null,"max_conn":200,"min_tls_version":null,"auto_loadbalance":false,"connect_timeout":1500,"ssl_check_cert":false,"name":"new-test-backend"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9932"
      Fastly-Ratelimit-Reset:
      - "1667581200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
