---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-backend&Service=7i6HN3TK9wS159v2gPAZ8A&Version=693&name=new-test-backend
    form:
      Name:
      - test-backend
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "693"
      name:
      - new-test-backend
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/693/backend/test-backend
    method: PUT
  response:
    body: '{"max_tls_version":null,"ssl_client_cert":null,"hostname":"integ-test.go-fastly.com","error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"address":"integ-test.go-fastly.com","updated_at":"2017-07-20T01:15:13+00:00","connect_timeout":1500,"ipv4":null,"ssl_ciphers":null,"name":"new-test-backend","port":1234,"between_bytes_timeout":10000,"ssl_client_key":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","request_condition":"","ssl_cert_hostname":null,"ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"version":693,"deleted_at":null,"healthcheck":null,"max_conn":200,"use_ssl":false,"created_at":"2017-07-20T01:15:13+00:00","comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "849"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
