---
version: 1
interactions:
- request:
    body: override_host=&port=0
    form:
      override_host:
      - ""
      port:
      - "0"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/45/backend/new-test-backend
    method: PUT
  response:
    body: '{"tcp_keepalive_interval":null,"ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","ssl_cert_hostname":null,"max_tls_version":null,"version":45,"first_byte_timeout":15000,"ssl_hostname":null,"client_cert":null,"error_threshold":0,"port":0,"ssl_ca_cert":null,"use_ssl":false,"ssl_client_key":null,"share_key":"sharedkey","ipv6":null,"tcp_keepalive_probes":null,"auto_loadbalance":false,"keepalive_time":null,"request_condition":"","tcp_keepalive_time":null,"deleted_at":null,"ssl_check_cert":false,"address":"integ-test.go-fastly.com","updated_at":"2025-04-09T14:18:20Z","ipv4":null,"weight":100,"name":"new-test-backend","tcp_keepalive_enable":null,"hostname":"integ-test.go-fastly.com","ssl_client_cert":null,"shield":null,"override_host":null,"created_at":"2025-04-09T14:18:19Z","between_bytes_timeout":10000,"comment":"","connect_timeout":1500,"ssl_sni_hostname":"ssl-hostname-updated.com","min_tls_version":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","healthcheck":null,"max_conn":200}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9990"
      Fastly-Ratelimit-Reset:
      - "1744210800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
