---
version: 1
interactions:
- request:
    body: Name=test-backend&ServiceID=7AfpC5AR6GFm8x8edlSAFX&ServiceVersion=73&name=new-test-backend&override_host=www.example.com&ssl_ciphers=RC4%3A%21COMPLEMENTOFDEFAULT
    form:
      Name:
      - test-backend
      ServiceID:
      - 7AfpC5AR6GFm8x8edlSAFX
      ServiceVersion:
      - "73"
      name:
      - new-test-backend
      override_host:
      - www.example.com
      ssl_ciphers:
      - RC4:!COMPLEMENTOFDEFAULT
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7AfpC5AR6GFm8x8edlSAFX/version/73/backend/test-backend
    method: PUT
  response:
    body: '{"ssl_sni_hostname":null,"version":73,"service_id":"7AfpC5AR6GFm8x8edlSAFX","error_threshold":0,"updated_at":"2021-11-26T07:11:11Z","ipv6":null,"address":"integ-test.go-fastly.com","client_cert":null,"use_ssl":false,"hostname":"integ-test.go-fastly.com","max_conn":200,"min_tls_version":null,"ssl_cert_hostname":null,"ssl_ca_cert":null,"comment":"","shield":null,"name":"new-test-backend","ssl_check_cert":false,"override_host":"www.example.com","ssl_client_key":null,"deleted_at":null,"healthcheck":null,"port":1234,"created_at":"2021-11-26T07:11:11Z","ipv4":null,"ssl_hostname":null,"between_bytes_timeout":10000,"ssl_ciphers":"RC4:!COMPLEMENTOFDEFAULT","connect_timeout":1500,"first_byte_timeout":15000,"auto_loadbalance":false,"max_tls_version":null,"request_condition":"","weight":100,"ssl_client_cert":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4997"
      Fastly-Ratelimit-Reset:
      - "1637913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
