---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test-key","model":"claude-sonnet-4-20250514","provider":"Anthropic","user_id":"go-fastly-test-user","expires_at":"2026-09-01T13:34:54Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ai-runtime-control/v1/keys
    method: POST
  response:
    body: |
      {"id":"78ff28125b9d78b0289d","name":"go-fastly-test-key","user_id":"6YHKQR3CxW7dGb67TNV4IB","user_name":"Richard Carillo","customer_id":"4dOhK7xEkULiabovMyhRBu","model":"claude-sonnet-4-20250514","provider":"Anthropic","expires_at":"2026-09-01T13:34:54Z","created_at":"2026-08-31T13:34:54.963892069Z","updated_at":"2026-08-31T13:34:54.963892069Z","access_token":"arc_sk_0Ni7TN42uWopKcewVliiDh3CKhq0e8ld42b216b"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
