---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test-key","model":"claude-sonnet-4-20250514","provider":"Anthropic","user_id":"go-fastly-test-user","expires_at":"2026-07-30T16:22:36Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ai-runtime-control/v1/keys
    method: POST
  response:
    body: |
      {"id":"75352aad10d9828b8de7","name":"go-fastly-test-key","user_id":"6YHKQR3CxW7dGb67TNV4IB","user_name":"Richard Carillo","customer_id":"4dOhK7xEkULiabovMyhRBu","model":"claude-sonnet-4-20250514","provider":"Anthropic","expires_at":"2026-07-30T16:22:36Z","created_at":"2026-07-29T16:22:36.661235774Z","updated_at":"2026-07-29T16:22:36.661235774Z","access_token":"arc_sk_go-fastly-test"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
