---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ai-runtime-control/v1/keys/75352aad10d9828b8de7
    method: GET
  response:
    body: |
      {"id":"75352aad10d9828b8de7","type":"token","created_at":"2026-07-29T16:22:37Z","deleted_at":null,"expires_at":"2026-07-30T16:22:36Z","name":"go-fastly-test-key","model":"claude-sonnet-4-20250514","provider":"Anthropic","last_used_at":null,"updated_at":"2026-07-29T16:22:37Z","user_id":"6YHKQR3CxW7dGb67TNV4IB","created_by":"Richard Carillo"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
