---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ai-runtime-control/v1/keys?provider=Anthropic
    method: GET
  response:
    body: |
      {"data":[{"id":"75352aad10d9828b8de7","type":"token","customer_id":"4dOhK7xEkULiabovMyhRBu","created_at":"2026-07-29T16:22:37Z","deleted_at":null,"expires_at":"2026-07-30T16:22:36Z","name":"go-fastly-test-key","model":"claude-sonnet-4-20250514","provider":"Anthropic","user_id":"6YHKQR3CxW7dGb67TNV4IB","user_name":"Richard Carillo","created_by":"Richard Carillo","last_used_at":null,"updated_at":"2026-07-29T16:22:37Z"}],"meta":{"next_cursor":"","limit":10,"sort":"created_at","total":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
