---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ai-runtime-control/v1/keys?provider=Anthropic
    method: GET
  response:
    body: |
      {"data":[{"id":"2ce6822da510e60b037e","type":"token","customer_id":"4dOhK7xEkULiabovMyhRBu","created_at":"2026-07-29T16:35:42Z","deleted_at":null,"expires_at":"2026-07-30T16:33:11Z","name":"test","model":"claude-sonnet-4-6","provider":"anthropic","user_id":"6YHKQR3CxW7dGb67TNV4IB","user_name":"Richard Carillo","created_by":"Richard Carillo","last_used_at":null,"updated_at":"2026-07-29T16:35:42Z","security_enabled":null,"security_action":null},{"id":"ea477ab192ae1f8cb713","type":"token","customer_id":"4dOhK7xEkULiabovMyhRBu","created_at":"2026-07-29T16:36:52Z","deleted_at":null,"expires_at":"2026-07-30T16:33:11Z","name":"test","model":"claude-sonnet-4-6","provider":"anthropic","user_id":"6YHKQR3CxW7dGb67TNV4IB","user_name":"Richard Carillo","created_by":"Richard Carillo","last_used_at":"2026-07-29T16:59:13Z","updated_at":"2026-07-29T16:59:13Z","security_enabled":null,"security_action":null},{"id":"fbdf3c51010403a7eabd","type":"t[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ai-runtime-control/v1/keys?cursor=eyJzb3J0IjoiY3JlYXRlZF9hdCIsInNvcnRfdmFsdWUiOiIyMDI2LTA4LTExIDE1OjM2OjQzIiwic29ydF9udWxsIjpmYWxzZSwiaWQiOiIyMGJmYTc5MjgzYjFmYmE2MTc4ZCIsImRpciI6Im5leHQifQ&provider=Anthropic
    method: GET
  response:
    body: |
      {"data":[{"id":"ec5c01f186d816bf8e5c","type":"token","customer_id":"4dOhK7xEkULiabovMyhRBu","created_at":"2026-08-11T15:36:44Z","deleted_at":null,"expires_at":"2026-08-12T15:36:43Z","name":"go-fastly-test-key-2","model":"claude-sonnet-4-20250514","provider":"Anthropic","user_id":"6YHKQR3CxW7dGb67TNV4IB","user_name":"Richard Carillo","created_by":"Richard Carillo","last_used_at":null,"updated_at":"2026-08-11T15:36:44Z","security_enabled":null,"security_action":null},{"id":"78ff28125b9d78b0289d","type":"token","customer_id":"4dOhK7xEkULiabovMyhRBu","created_at":"2026-08-31T13:34:55Z","deleted_at":null,"expires_at":"2026-09-01T13:34:54Z","name":"go-fastly-test-key","model":"claude-sonnet-4-20250514","provider":"Anthropic","user_id":"6YHKQR3CxW7dGb67TNV4IB","user_name":"Richard Carillo","created_by":"Richard Carillo","last_used_at":null,"updated_at":"2026-08-31T13:34:55Z","security_enabled":false,"security_action":"log"}],"meta":{"prev_cursor":"eyJzb3J0IjoiY3JlYXRlZF9hdCIsInNvcnRfdmFsdWUiOiIyMDI2LTA4LTExIDE1OjM2OjQ0Iiwic29ydF9udWxsIjpmYWxzZSwiaWQiOiJlYzVjMDFmMTg2ZDgxNmJmOGU1YyIsImRpciI6InByZXYifQ","limit":10,"sort":"created_at","total":2}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
