---
version: 1
interactions:
- request:
    body: '{"expires_at":"2026-07-31T16:22:36Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ai-runtime-control/v1/keys/75352aad10d9828b8de7/rotate
    method: POST
  response:
    body: |
      {"id":"75352aad10d9828b8de7","name":"go-fastly-test-key-updated","user_id":"6YHKQR3CxW7dGb67TNV4IB","user_name":"Richard Carillo","customer_id":"4dOhK7xEkULiabovMyhRBu","model":"claude-sonnet-4-20250514","provider":"Anthropic","expires_at":"2026-07-31T16:22:36Z","created_at":"2026-07-29T16:22:37Z","updated_at":"2026-07-29T16:22:37Z","access_token":"arc_sk_go-fastly-test-rotated"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
