---
version: 1
interactions:
- request:
    body: '{"expires_at":"2026-09-02T13:34:55Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ai-runtime-control/v1/keys/78ff28125b9d78b0289d/rotate
    method: POST
  response:
    body: |
      {"id":"78ff28125b9d78b0289d","name":"go-fastly-test-key-updated","user_id":"XXXXXXXXXXXXXXXXXXXXXX","user_name":"XXXXXXXXXXXXXXXXXXXXXX","customer_id":"XXXXXXXXXXXXXXXXXXXXXX","model":"claude-sonnet-4-20250514","provider":"Anthropic","expires_at":"2026-09-02T13:34:55Z","created_at":"2026-08-31T13:34:55Z","updated_at":"2026-08-31T13:34:55Z","access_token":"XXXXXXXXXXXXXXXXXXXXXX"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
