---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test-key-updated"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ai-runtime-control/v1/keys/78ff28125b9d78b0289d
    method: PATCH
  response:
    body: |
      {"id":"78ff28125b9d78b0289d","name":"go-fastly-test-key-updated","user_id":"6YHKQR3CxW7dGb67TNV4IB","customer_id":"4dOhK7xEkULiabovMyhRBu","model":"claude-sonnet-4-20250514","provider":"Anthropic","expires_at":"2026-09-01T13:34:54Z","created_at":"2026-08-31T13:34:55Z","updated_at":"2026-08-31T13:34:55Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
