---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/lists/yMxH63XFeDbWayzOunUVtk
    method: GET
  response:
    body: |
      {"id":"yMxH63XFeDbWayzOunUVtk","type":"string","reference_id":"corp.list-name-account","name":"List Name account","description":"This is a list","entries":["entry1"],"created_at":"2025-07-16T18:12:25Z","updated_at":"2025-07-16T18:12:25Z","scope":{"type":"account"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
