---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/lists
    method: GET
  response:
    body: |
      {"data":[{"id":"yMxH63XFeDbWayzOunUVtk","type":"string","reference_id":"corp.list-name-account","name":"List Name account","description":"This is an updated list","entries":["127.0.0.1"],"created_at":"2025-07-16T18:12:25Z","updated_at":"2025-07-16T18:12:26Z","scope":{"type":"account"}}],"meta":{"total":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
