---
version: 1
interactions:
- request:
    body: '{"description":"This is a list","entries":["entry1"],"name":"List Name
      account","type":"string"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/lists
    method: POST
  response:
    body: |
      {"id":"yMxH63XFeDbWayzOunUVtk","type":"string","reference_id":"corp.list-name-account","name":"List Name account","description":"This is a list","entries":["entry1"],"created_at":"2025-07-16T18:12:25Z","updated_at":"2025-07-16T18:12:25Z","scope":{"type":"account"}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
