---
version: 1
interactions:
- request:
    body: '{"Context":null,"description":"This is a list","entries":["entry1"],"name":"List
      Name","type":"string","WorkspaceID":"alk6DTsYKHKucJCOIavaJM"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/lists
    method: POST
  response:
    body: |
      {"id":"NDR186ba5CJ1Owqy2XetGR","type":"string","reference_id":"site.list-name","name":"List Name","description":"This is a list","entries":["entry1"],"created_at":"2025-06-29T12:44:23Z","updated_at":"2025-06-29T12:44:23Z","scope":{"type":"workspace"}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
