---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/lists/8zFOdiUgZIzRota2zVVl76
    method: GET
  response:
    body: |
      {"id":"8zFOdiUgZIzRota2zVVl76","type":"string","reference_id":"site.list-name","name":"List Name","description":"This is a list","entries":["entry1"],"created_at":"2025-06-23T18:22:50Z","updated_at":"2025-06-23T18:22:50Z","scope":{"type":"workspace"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
