---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/lists/NDR186ba5CJ1Owqy2XetGR
    method: GET
  response:
    body: |
      {"id":"NDR186ba5CJ1Owqy2XetGR","type":"string","reference_id":"site.list-name","name":"List Name","description":"This is a list","entries":["entry1"],"created_at":"2025-06-29T12:44:23Z","updated_at":"2025-06-29T12:44:23Z","scope":{"type":"workspace"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
