---
version: 1
interactions:
- request:
    body: '{"Context":null,"description":"This is an updated list","entries":["127.0.0.1"],"ListID":"NDR186ba5CJ1Owqy2XetGR","WorkspaceID":"alk6DTsYKHKucJCOIavaJM"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/lists/NDR186ba5CJ1Owqy2XetGR
    method: PATCH
  response:
    body: |
      {"id":"NDR186ba5CJ1Owqy2XetGR","type":"string","reference_id":"site.list-name","name":"List Name","description":"This is an updated list","entries":["127.0.0.1"],"created_at":"2025-06-29T12:44:23Z","updated_at":"2025-06-29T12:44:23Z","scope":{"type":"workspace"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
