---
version: 1
interactions:
- request:
    body: '{"Context":null,"description":"This is an updated list","entries":["127.0.0.1"],"ListID":"8zFOdiUgZIzRota2zVVl76","WorkspaceID":"alk6DTsYKHKucJCOIavaJM"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/lists/8zFOdiUgZIzRota2zVVl76
    method: PATCH
  response:
    body: |
      {"id":"8zFOdiUgZIzRota2zVVl76","type":"string","reference_id":"site.list-name","name":"List Name","description":"This is an updated list","entries":["127.0.0.1"],"created_at":"2025-06-23T18:22:50Z","updated_at":"2025-06-23T18:22:50Z","scope":{"type":"workspace"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
