---
version: 1
interactions:
- request:
    body: '{"description":"This is an updated list","entries":["127.0.0.1"],"ListID":"BihNOa797HeV0We2A4LBr4","Scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/lists/BihNOa797HeV0We2A4LBr4
    method: PATCH
  response:
    body: |
      {"id":"BihNOa797HeV0We2A4LBr4","type":"string","reference_id":"site.list-name-workspace","name":"List Name workspace","description":"This is an updated list","entries":["127.0.0.1"],"created_at":"2025-07-16T18:12:24Z","updated_at":"2025-07-16T18:12:24Z","scope":{"type":"workspace"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
