---
version: 1
interactions:
- request:
    body: '{"description":"This is a list","entries":["entry1"],"name":"List Name
      workspace","type":"string"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/lists
    method: POST
  response:
    body: |
      {"id":"BihNOa797HeV0We2A4LBr4","type":"string","reference_id":"site.list-name-workspace","name":"List Name workspace","description":"This is a list","entries":["entry1"],"created_at":"2025-07-16T18:12:24Z","updated_at":"2025-07-16T18:12:24Z","scope":{"type":"workspace"}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
