---
version: 1
interactions:
- request:
    body: '{"config":{"key":"a1b2c3d4e5f6789012345678901234567"},"description":"This
      is a test alert.","events":["flag"],"type":"pagerduty"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: POST
  response:
    body: |
      {"id":"686febab701d4d294b42317f","description":"This is a test alert.","type":"pagerduty","config":{"key":"a1b2c3d4e5f6789012345678901234567"},"events":["flag"],"created_at":"2025-07-10T16:34:51Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
