---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts/6870052c35979da87e61a2b9
    method: GET
  response:
    body: |
      {"id":"6870052c35979da87e61a2b9","description":"This is a test alert.","type":"pagerduty","config":{"key":"123456789"},"events":["flag"],"created_at":"2025-07-10T18:23:40Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
