---
version: 1
interactions:
- request:
    body: '{"config":{"webhook":"https://hooks.slack.com/services/test/webhook"},"description":"This
      is a test alert.","events":["flag"],"type":"slack"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: POST
  response:
    body: |
      {"id":"686febb3701d4d294b42320e","description":"This is a test alert.","type":"slack","config":{"webhook":"https://hooks.slack.com/services/test/webhook"},"events":["flag"],"created_at":"2025-07-10T16:34:59Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
