---
version: 1
interactions:
- request:
    body: content_types=text%2Fhtml+text%2Fcss&extensions=html+css&name=test-gzip
    form:
      content_types:
      - text/html text/css
      extensions:
      - html css
      name:
      - test-gzip
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/33/gzip
    method: POST
  response:
    body: '{"content_types":"text/html text/css","extensions":"html css","name":"test-gzip","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"33","updated_at":"2025-02-28T21:34:02Z","deleted_at":null,"cache_condition":"","created_at":"2025-02-28T21:34:02Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9810"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
