---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=43&content_types=text%2Fhtml+text%2Fcss&extensions=html+css&name=test-gzip
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "43"
      content_types:
      - text/html text/css
      extensions:
      - html css
      name:
      - test-gzip
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/43/gzip
    method: POST
  response:
    body: '{"content_types":"text/html text/css","extensions":"html css","name":"test-gzip","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"43","cache_condition":"","created_at":"2021-01-14T10:42:41Z","updated_at":"2021-01-14T10:42:41Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "716"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
