---
version: 1
interactions:
- request:
    body: ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=67&name=test-gzip-omit
    form:
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "67"
      name:
      - test-gzip-omit
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/67/gzip
    method: POST
  response:
    body: '{"name":"test-gzip-omit","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":"67","updated_at":"2021-11-03T16:50:29Z","deleted_at":null,"extensions":"css
      js html eot ico otf ttf json","created_at":"2021-11-03T16:50:29Z","cache_condition":"","content_types":"text/html
      application/x-javascript text/css application/javascript text/javascript application/json
      application/vnd.ms-fontobject application/x-font-opentype application/x-font-truetype
      application/x-font-ttf application/xml font/eot font/opentype font/otf image/svg+xml
      image/vnd.microsoft.icon text/plain text/xml"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4869"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
