---
version: 1
interactions:
- request:
    body: name=test-gzip-omit
    form:
      name:
      - test-gzip-omit
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/33/gzip
    method: POST
  response:
    body: '{"name":"test-gzip-omit","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"33","extensions":"css
      js html eot ico otf ttf json","created_at":"2025-02-28T21:34:02Z","content_types":"text/html
      application/x-javascript text/css application/javascript text/javascript application/json
      application/vnd.ms-fontobject application/x-font-opentype application/x-font-truetype
      application/x-font-ttf application/xml font/eot font/opentype font/otf image/svg+xml
      image/vnd.microsoft.icon text/plain text/xml","cache_condition":"","deleted_at":null,"updated_at":"2025-02-28T21:34:02Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9804"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
