---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=21&content_types=&extensions=&name=test-gzip-omit
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "21"
      content_types:
      - ""
      extensions:
      - ""
      name:
      - test-gzip-omit
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/21/gzip
    method: POST
  response:
    body: '{"content_types":"","extensions":"","name":"test-gzip-omit","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"21","created_at":"2019-05-09T00:00:14Z","deleted_at":null,"cache_condition":"","updated_at":"2019-05-09T00:00:14Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1557363600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
