---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=21&content_types=text%2Fhtml+text%2Fcss&extensions=html+css&name=test-gzip
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "21"
      content_types:
      - text/html text/css
      extensions:
      - html css
      name:
      - test-gzip
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/21/gzip
    method: POST
  response:
    body: '{"content_types":"text/html text/css","extensions":"html css","name":"test-gzip","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"21","created_at":"2019-05-09T00:00:13Z","updated_at":"2019-05-09T00:00:13Z","deleted_at":null,"cache_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "998"
      Fastly-Ratelimit-Reset:
      - "1557363600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
