---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/51/gzip/test-gzip
    method: GET
  response:
    body: '{"extensions":"html css","cache_condition":"","updated_at":"2022-11-04T14:53:12Z","version":"51","name":"test-gzip","created_at":"2022-11-04T14:53:12Z","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","content_types":"text/html
      text/css"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
