---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/67/gzip/test-gzip
    method: GET
  response:
    body: '{"version":"67","extensions":"html css","created_at":"2021-11-03T16:50:29Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","cache_condition":"","name":"test-gzip","content_types":"text/html
      text/css","deleted_at":null,"updated_at":"2021-11-03T16:50:29Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
