---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/33/gzip
    method: GET
  response:
    body: '[{"version":"33","deleted_at":null,"extensions":"html css","name":"test-gzip","cache_condition":"","updated_at":"2025-02-28T21:34:02Z","service_id":"kKJb5bOFI47uHeBVluGfX1","content_types":"text/html
      text/css","created_at":"2025-02-28T21:34:02Z"},{"content_types":"text/html application/x-javascript
      text/css application/javascript text/javascript application/json application/vnd.ms-fontobject
      application/x-font-opentype application/x-font-truetype application/x-font-ttf
      application/xml font/eot font/opentype font/otf image/svg+xml image/vnd.microsoft.icon
      text/plain text/xml","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2025-02-28T21:34:02Z","updated_at":"2025-02-28T21:34:02Z","cache_condition":"","name":"test-gzip-omit","extensions":"css
      js html eot ico otf ttf json","deleted_at":null,"version":"33"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
