---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/21/gzip
    method: GET
  response:
    body: '[{"deleted_at":null,"cache_condition":"","name":"test-gzip","updated_at":"2019-05-09T00:00:13Z","extensions":"html
      css","version":"21","created_at":"2019-05-09T00:00:13Z","content_types":"text/html
      text/css","service_id":"7i6HN3TK9wS159v2gPAZ8A"},{"updated_at":"2019-05-09T00:00:14Z","name":"test-gzip-omit","cache_condition":"","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"21","created_at":"2019-05-09T00:00:14Z","content_types":"","extensions":""}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
