---
version: 1
interactions:
- request:
    body: Name=test-gzip&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=67&name=new-test-gzip
    form:
      Name:
      - test-gzip
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "67"
      name:
      - new-test-gzip
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/67/gzip/test-gzip
    method: PUT
  response:
    body: '{"extensions":"html css","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2021-11-03T16:50:29Z","version":"67","content_types":"text/html
      text/css","deleted_at":null,"updated_at":"2021-11-03T16:50:29Z","name":"new-test-gzip","cache_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4868"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
