---
version: 1
interactions:
- request:
    body: Name=test-gzip&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=43&name=new-test-gzip
    form:
      Name:
      - test-gzip
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "43"
      name:
      - new-test-gzip
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/43/gzip/test-gzip
    method: PUT
  response:
    body: '{"name":"new-test-gzip","updated_at":"2021-01-14T10:42:41Z","extensions":"html
      css","cache_condition":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"content_types":"text/html
      text/css","created_at":"2021-01-14T10:42:41Z","version":"43"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "714"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
