---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-gzip&Service=7i6HN3TK9wS159v2gPAZ8A&Version=21&name=new-test-gzip
    form:
      Name:
      - test-gzip
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "21"
      name:
      - new-test-gzip
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/21/gzip/test-gzip
    method: PUT
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2019-05-09T00:00:13Z","cache_condition":"","content_types":"text/html
      text/css","updated_at":"2019-05-09T00:00:13Z","version":"21","name":"new-test-gzip","extensions":"html
      css","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1557363600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
