---
version: 1
interactions:
- request:
    body: name=new-test-gzip
    form:
      name:
      - new-test-gzip
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/51/gzip/test-gzip
    method: PUT
  response:
    body: '{"name":"new-test-gzip","content_types":"text/html text/css","version":"51","extensions":"html
      css","updated_at":"2022-11-04T14:53:12Z","created_at":"2022-11-04T14:53:12Z","service_id":"kKJb5bOFI47uHeBVluGfX1","cache_condition":"","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9959"
      Fastly-Ratelimit-Reset:
      - "1667574000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
