---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/rules?filter%5Bpublisher%5D%5Bin%5D=owasp
    method: GET
  response:
    body: '{"data":[{"id":"3T97utLZHIHPEJsBjZs53","type":"waf_rule","attributes":{"modsec_rule_id":932170,"publisher":"owasp","type":"score"}},{"id":"6eCACmN7PEYXxMullt6EM1","type":"waf_rule","attributes":{"modsec_rule_id":942251,"publisher":"owasp","type":"score"}},{"id":"4meOF9EtJO6vNGe8w3lACj","type":"waf_rule","attributes":{"modsec_rule_id":933160,"publisher":"owasp","type":"score"}},{"id":"4V2Q1ISeiD8ls9QG7g6CaN","type":"waf_rule","attributes":{"modsec_rule_id":920170,"publisher":"owasp","type":"score"}},{"id":"ZBJDmVFau6VPKErXgI6wJ","type":"waf_rule","attributes":{"modsec_rule_id":920310,"publisher":"owas[...]
