---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/rules?filter%5Bmodsec_rule_id%5D%5Bin%5D=1010060%2C1010070&page%5Bnumber%5D=1&page%5Bsize%5D=100
    method: GET
  response:
    body: '{"data":[{"id":"62NGF4KWy1v17yyV1vmPdb","type":"waf_rule","attributes":{"modsec_rule_id":1010070,"publisher":"owasp","type":"threshold"}},{"id":"5o7EaPCRlKoEPZB7ziSXYV","type":"waf_rule","attributes":{"modsec_rule_id":1010060,"publisher":"owasp","type":"threshold"}}],"links":{"last":"https://api.fastly.com/waf/rules?filter[modsec_rule_id][in]=1010060,1010070\u0026page[number]=1\u0026page[size]=100","first":"https://api.fastly.com/waf/rules?filter[modsec_rule_id][in]=1010060,1010070\u0026page[number]=1\u0026page[size]=100"},"meta":{"current_page":1,"per_page":100,"record_count":2,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
