---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/rules?filter%5Bpublisher%5D%5Bin%5D=fastly&page%5Bnumber%5D=1&page%5Bsize%5D=100
    method: GET
  response:
    body: '{"data":[{"id":"5BTrk0uu84xfsvDlLieCsj","type":"waf_rule","attributes":{"modsec_rule_id":4170030,"publisher":"fastly","type":"strict"}},{"id":"2XaxZXGRt3si6PYFjk72VJ","type":"waf_rule","attributes":{"modsec_rule_id":4113001,"publisher":"fastly","type":"strict"}},{"id":"3gFobZTPjwOe2d4wjyMq0t","type":"waf_rule","attributes":{"modsec_rule_id":4112010,"publisher":"fastly","type":"strict"}},{"id":"7XknD1S1cIaBzaLaLM03rU","type":"waf_rule","attributes":{"modsec_rule_id":4170010,"publisher":"fastly","type":"strict"}},{"id":"4Ik26w8xeZsg6YSIgXvxk8","type":"waf_rule","attributes":{"modsec_rule_id":4112012,"pub[...]
