---
version: 1
interactions:
- request:
    body: Service=0tMlTqfWhijgsh07mPyFJq&Version=2&name=WAf_Response&status=403
    form:
      Service:
      - 0tMlTqfWhijgsh07mPyFJq
      Version:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/0tMlTqfWhijgsh07mPyFJq/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"0tMlTqfWhijgsh07mPyFJq","version":"2","request_condition":"","response":"ok","content":null,"content_type":null,"updated_at":"2020-06-30T10:56:25Z","cache_condition":"","created_at":"2020-06-30T10:56:25Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "682"
      Fastly-Ratelimit-Reset:
      - "1593514800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
