---
version: 1
interactions:
- request:
    body: ServiceID=0OKgTNe0V5krPIwq1Ux6Yn&ServiceVersion=2&name=WAf_Response&status=403
    form:
      ServiceID:
      - 0OKgTNe0V5krPIwq1Ux6Yn
      ServiceVersion:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/0OKgTNe0V5krPIwq1Ux6Yn/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"0OKgTNe0V5krPIwq1Ux6Yn","version":"2","request_condition":"","deleted_at":null,"updated_at":"2021-01-14T10:27:49Z","response":"ok","created_at":"2021-01-14T10:27:49Z","cache_condition":"","content_type":null,"content":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "862"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
