---
version: 1
interactions:
- request:
    body: ServiceID=6s6XYgWIfncJBH1QjI40RJ&ServiceVersion=2&name=WAf_Response&status=403
    form:
      ServiceID:
      - 6s6XYgWIfncJBH1QjI40RJ
      ServiceVersion:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/6s6XYgWIfncJBH1QjI40RJ/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"6s6XYgWIfncJBH1QjI40RJ","version":"2","request_condition":"","cache_condition":"","content_type":null,"updated_at":"2021-11-03T17:30:38Z","deleted_at":null,"response":"ok","created_at":"2021-11-03T17:30:38Z","content":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4747"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
