---
version: 1
interactions:
- request:
    body: Service=1qNbCw880P3rmalHHls5Oc&Version=2&content=abcd&content_type=text%2Fplain&name=WAf_Response&response=Ok&status=200
    form:
      Service:
      - 1qNbCw880P3rmalHHls5Oc
      Version:
      - "2"
      content:
      - abcd
      content_type:
      - text/plain
      name:
      - WAf_Response
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/1qNbCw880P3rmalHHls5Oc/version/2/response_object
    method: POST
  response:
    body: '{"content":"abcd","content_type":"text/plain","name":"WAf_Response","response":"Ok","status":"200","service_id":"1qNbCw880P3rmalHHls5Oc","version":"2","request_condition":"","updated_at":"2019-11-28T12:43:22Z","deleted_at":null,"created_at":"2019-11-28T12:43:22Z","cache_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "981"
      Fastly-Ratelimit-Reset:
      - "1574946000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
