---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/rules
    method: GET
  response:
    body: |
      {"data":[{"id":"68c425c1c4cb735d17ba9bad","type":"request","scope":{"type":"account","applies_to":["*"]},"enabled":true,"description":"Utility requests","group_operator":"all","request_logging":"sampled","conditions":[{"type":"single","field":"path","operator":"equals","value":"/echo.json"}],"actions":[{"type":"add_signal","signal":"corp.utility"}],"created_at":"2025-09-12T13:53:05Z","updated_at":"2025-09-12T13:53:05Z"},{"id":"68c4258736eef2e33345eb7b","type":"request","scope":{"type":"account","applies_to":["*"]},"enabled":true,"description":"Utility requests","group_operator":"all","request_logging":"sampled","conditions":[{"type":"single","field":"path","operator":"equals","value":"/echo.json"}],"actions":[{"type":"add_signal","signal":"corp.utility"}],"created_at":"2025-09-12T13:52:07Z","updated_at":"2025-09-12T13:52:07Z"}],"meta":{"limit":100,"total":2}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
