---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/rules
    method: GET
  response:
    body: |
      {"data":[{"id":"695ebc5c2f1a314587be5c0f","type":"request","scope":{"type":"account","applies_to":["*"]},"enabled":true,"description":"cli_test_from_CLI","group_operator":"all","request_logging":"sampled","conditions":[{"type":"single","field":"ip","operator":"equals","value":"1.2.3.4"},{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"country","operator":"equals","value":"AE"},{"type":"single","field":"path","operator":"equals","value":"/root"}]},{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"domain","operator":"equals","value":"myDomain.com"},{"type":"single","field":"method","operator":"equals","value":"POST"}]}],"actions":[{"type":"block"}],"created_at":"2026-01-07T20:04:44Z","updated_at":"2026-01-07T20:04:44Z"},{"id":"68c425c1c4cb735d17ba9bad","type":"request","scope":{"type":"account","applies_to":["*"]},"enabled":true,"description":"Utility requests","group_operator":"all","request_logging":"sampled","conditions":[{"type":"single","field":"path","operator":"equals","value":"/echo.json"}],"actions":[{"type":"add_signal","signal":"corp.utility"}],"created_at":"2025-09-12T13:53:05Z","updated_at":"2025-09-12T13:53:05Z"},{"id":"68c4258736eef2e33345eb7b","type":"request","scope":{"type":"account","applies_to":["*"]},"enabled":true,"description":"Utility requests","group_operator":"all","request_logging":"sampled","conditions":[{"type":"single","field":"path","operator":"equals","value":"/echo.json"}],"actions":[{"type":"add_signal","signal":"corp.utility"}],"created_at":"2025-09-12T13:52:07Z","updated_at":"2025-09-12T13:52:07Z"}],"meta":{"limit":100,"total":3}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
