---
version: 1
interactions:
- request:
    body: '{"actions":[{"type":"allow"}],"conditions":[{"type":"single","field":"ip","operator":"does_not_equal","value":"10.0.0.1"},{"type":"single","field":"path","operator":"does_not_equal","value":"/admin"},{"type":"single","field":"agent_name","operator":"matches","value":"bot-*"},{"type":"group","group_operator":"any","conditions":[{"type":"single","field":"country","operator":"does_not_equal","value":"US"},{"type":"single","field":"method","operator":"does_not_equal","value":"PUT"}]},{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"protocol_version","operator":"does_not_equal","value":"HTTP/2.0"},{"type":"single","field":"method","operator":"does_not_equal","value":"OPTIONS"},{"type":"single","field":"domain","operator":"does_not_equal","value":"internal.example"}]},{"type":"multival","field":"request_cookie","operator":"does_not_exist","group_operator":"all","conditions":[{"type":"single","field":"name","operator":"does_not_equal","value":"fooCookieUpdated"},{"type":"single","field":"value","operator":"does_not_equal","value":"barCookieUpdated"}]}],"description":"updated
      test","enabled":false,"group_operator":"any","request_logging":"none","scope":{"type":"account","applies_to":["*"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/rules/68c4768c73285d21832d138e
    method: PATCH
  response:
    body: |
      {"id":"68c4768c73285d21832d138e","type":"request","scope":{"type":"account","applies_to":["*"]},"enabled":false,"description":"updated test","group_operator":"any","request_logging":"none","conditions":[{"type":"single","field":"ip","operator":"does_not_equal","value":"10.0.0.1"},{"type":"single","field":"path","operator":"does_not_equal","value":"/admin"},{"type":"single","field":"agent_name","operator":"matches","value":"bot-*"},{"type":"group","group_operator":"any","conditions":[{"type":"single","field":"country","operator":"does_not_equal","value":"US"},{"type":"single","field":"method","operator":"does_not_equal","value":"PUT"}]},{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"protocol_version","operator":"does_not_equal","value":"HTTP/2.0"},{"type":"single","field":"method","operator":"does_not_equal","value":"OPTIONS"},{"type":"single","field":"domain","operator":"does_not_equal","value":"internal.example"}]},{"type":"multival","field":"request_cookie","operator":"does_not_exist","group_operator":"all","conditions":[{"type":"single","field":"name","operator":"does_not_equal","value":"fooCookieUpdated"},{"type":"single","field":"value","operator":"does_not_equal","value":"barCookieUpdated"}]}],"actions":[{"type":"allow"}],"created_at":"2025-09-12T19:37:48Z","updated_at":"2025-09-12T19:37:48Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
