---
version: 1
interactions:
- request:
    body: '{"description":"This is a description","name":"Rate limit signal payload
      identifier test workspace"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/signals
    method: POST
  response:
    body: |
      {"id":"KxdApFNOJuvA2rxXv0jQHc","reference_id":"site.rate-limit-signal-payload-identifier-test-workspace","name":"Rate limit signal payload identifier test workspace","description":"This is a description","created_at":"2026-08-20T15:48:04Z","created_by":"rcarillo+devex@fastly.com","updated_at":"2026-08-20T15:48:04Z","scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]},"customer_id":"4dOhK7xEkULiabovMyhRBu"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
