---
version: 1
interactions:
- request:
    body: '{"description":"This is a description","name":"A Real Name workspace"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/signals
    method: POST
  response:
    body: |
      {"id":"fTQgmUp7RO0EFFNmIXL2QV","reference_id":"site.a-real-name-workspace","name":"A Real Name workspace","description":"This is a description","created_at":"2025-09-12T19:37:56Z","updated_at":"2025-09-12T19:37:56Z","scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
