---
version: 1
interactions:
- request:
    body: '{"actions":[{"signal":"AWS-SSRF","type":"templated_signal"}],"conditions":[],"enabled":true,"group_operator":"all","scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]},"type":"templated_signal"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/rules
    method: POST
  response:
    body: |
      {"id":"6a4d5d95310e836ab55ce339","type":"templated_signal","scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]},"enabled":true,"description":"","group_operator":"all","conditions":[],"actions":[{"type":"templated_signal","signal":"AWS-SSRF"}],"created_at":"2026-07-07T20:12:05Z","updated_at":"2026-07-07T20:12:05Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
