---
version: 1
interactions:
- request:
    body: '{"actions":[{"signal":"site.rate-limit-signal-payload-identifier-test-workspace","type":"block_signal"}],"conditions":[{"type":"single","field":"ip","operator":"equals","value":"127.0.0.1"}],"description":"rate_limit_signal_payload_client_identifier_test","enabled":true,"group_operator":"all","rate_limit":{"client_identifiers":[{"type":"signal_payload","signal":"site.rate-limit-signal-payload-identifier-test-workspace"}],"duration":300,"interval":60,"signal":"site.rate-limit-signal-payload-identifier-test-workspace","threshold":1},"scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]},"type":"rate_limit"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/rules
    method: POST
  response:
    body: |
      {"id":"6a8721b5e286caf0a279a4b4","type":"rate_limit","scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]},"enabled":true,"description":"rate_limit_signal_payload_client_identifier_test","group_operator":"all","conditions":[{"type":"single","field":"ip","operator":"equals","value":"127.0.0.1"}],"actions":[{"type":"block_signal","signal":"site.rate-limit-signal-payload-identifier-test-workspace"}],"rate_limit":{"signal":"site.rate-limit-signal-payload-identifier-test-workspace","threshold":1,"interval":60,"duration":300,"client_identifiers":[{"type":"signal_payload","signal":"site.rate-limit-signal-payload-identifier-test-workspace"}]},"created_at":"2026-08-20T15:48:05Z","created_by":"rcarillo+devex@fastly.com","updated_at":"2026-08-20T15:48:05Z","customer_id":"4dOhK7xEkULiabovMyhRBu"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
