---
version: 1
interactions:
- request:
    body: '{"description":"This is a description","name":"A Real Name workspace"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/nBw2ENWfOY1M2dpSwK1l5R/signals
    method: POST
  response:
    body: |
      {"id":"65k94a1SoxVJ6UmCDHWiar","reference_id":"site.a-real-name-workspace","name":"A Real Name workspace","description":"This is a description","created_at":"2026-02-06T18:14:34Z","updated_at":"2026-02-06T18:14:34Z","scope":{"type":"workspace","applies_to":["nBw2ENWfOY1M2dpSwK1l5R"]}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
