---
version: 1
interactions:
- request:
    body: '{"actions":[{"type":"block"}],"conditions":[{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"ip","operator":"in_list","value":"site.blacklist-updated"},{"type":"multival","field":"request_header","operator":"does_not_exist","group_operator":"any","conditions":[{"type":"single","field":"name","operator":"equals","value":"x-updated"},{"type":"single","field":"value_string","operator":"equals","value":"def-456"}]}]}],"description":"nested_multival_updated","enabled":true,"group_operator":"any","request_logging":"sampled","scope":{"type":"workspace","applies_to":["nBw2ENWfOY1M2dpSwK1l5R"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/nBw2ENWfOY1M2dpSwK1l5R/rules/698630da125020adf7e06f06
    method: PATCH
  response:
    body: |
      {"id":"698630da125020adf7e06f06","type":"request","scope":{"type":"workspace","applies_to":["nBw2ENWfOY1M2dpSwK1l5R"]},"enabled":true,"description":"nested_multival_updated","group_operator":"any","request_logging":"sampled","conditions":[{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"ip","operator":"in_list","value":"site.blacklist-updated"},{"type":"multival","field":"request_header","operator":"does_not_exist","group_operator":"any","conditions":[{"type":"single","field":"name","operator":"equals","value":"x-updated"},{"type":"single","field":"value_string","operator":"equals","value":"def-456"}]}]}],"actions":[{"type":"block"}],"created_at":"2026-02-06T18:20:10Z","updated_at":"2026-02-06T18:20:10Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
