---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/nBw2ENWfOY1M2dpSwK1l5R/rules
    method: GET
  response:
    body: |
      {"data":[{"id":"697402781ad3226d7f842a31","type":"request","scope":{"type":"workspace","applies_to":["nBw2ENWfOY1M2dpSwK1l5R"]},"enabled":true,"description":"nested_test","group_operator":"any","request_logging":"sampled","conditions":[{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"ip","operator":"in_list","value":"site.bad"},{"type":"multival","field":"request_header","operator":"exists","group_operator":"all","conditions":[{"type":"single","field":"name","operator":"equals","value":"x-something"},{"type":"single","field":"value_string","operator":"equals","value":"abc-123"}]}]},{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"ip","operator":"in_list","value":"site.bad"},{"type":"multival","field":"request_header","operator":"exists","group_operator":"any","conditions":[{"type":"single","field":"name","operator":"equals","value":"x-somethingelse"},{"type":"single","field":"value_string","operator":"in_list","value":"corp.test"}]}]}],"actions":[{"type":"add_signal","signal":"site.test2"}],"created_at":"2026-01-23T23:21:28Z","updated_at":"2026-01-23T23:21:28Z"},{"id":"695eb2be89158b0a17394fc5","type":"request","scope":{"type":"workspace","applies_to":["nBw2ENWfOY1M2dpSwK1l5R"]},"enabled":true,"description":"cli_test_from_CLI","group_operator":"all","request_logging":"sampled","conditions":[{"type":"single","field":"ip","operator":"equals","value":"1.2.3.4"},{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"country","operator":"equals","value":"AE"},{"type":"single","field":"path","operator":"equals","value":"/root"}]},{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"domain","operator":"equals","value":"myDomain.com"},{"type":"single","field":"method","operator":"equals","value":"POST"}]}],"actions":[{"type":"deception","deception_type":"invalid_login_response"}],"created_at":"2026-01-07T19:23:42Z","updated_at":"2026-01-07T19:23:42Z"},{"id":"695eb18489158b0a17393f35","type":"request","scope":{"type":"workspace","applies_to":["nBw2ENWfOY1M2dpSwK1l5R"]},"enabled":true,"description":"cli_test_from_CLI","group_operator":"all","request_logging":"sampled","conditions":[{"type":"single","field":"ip","operator":"equals","value":"1.2.3.4"},{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"country","operator"[...]
