---
version: 1
interactions:
- request:
    body: '{"actions":[{"type":"block"}],"conditions":[{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"ip","operator":"in_list","value":"site.blacklist-updated"},{"type":"multival","field":"request_header","operator":"does_not_exist","group_operator":"any","conditions":[{"type":"single","field":"name","operator":"equals","value":"x-updated"},{"type":"single","field":"value_string","operator":"equals","value":"def-456"}]}]}],"description":"nested_multival_updated","enabled":true,"group_operator":"any","request_logging":"sampled","scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/rules/698650606232b4afcd5a47f7
    method: PATCH
  response:
    body: |
      {"id":"698650606232b4afcd5a47f7","type":"request","scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]},"enabled":true,"description":"nested_multival_updated","group_operator":"any","request_logging":"sampled","conditions":[{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"ip","operator":"in_list","value":"site.blacklist-updated"},{"type":"multival","field":"request_header","operator":"does_not_exist","group_operator":"any","conditions":[{"type":"single","field":"name","operator":"equals","value":"x-updated"},{"type":"single","field":"value_string","operator":"equals","value":"def-456"}]}]}],"actions":[{"type":"block"}],"created_at":"2026-02-06T20:34:40Z","updated_at":"2026-02-06T20:34:40Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
