---
version: 1
interactions:
- request:
    body: '{"actions":[{"type":"block"}],"conditions":[{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"ip","operator":"in_list","value":"site.blacklist"},{"type":"multival","field":"request_header","operator":"exists","group_operator":"all","conditions":[{"type":"single","field":"name","operator":"equals","value":"x-something"},{"type":"single","field":"value_string","operator":"equals","value":"abc-123"}]}]}],"description":"nested_multival_test","enabled":true,"group_operator":"any","request_logging":"sampled","scope":{"type":"workspace","applies_to":["nBw2ENWfOY1M2dpSwK1l5R"]},"type":"request"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/nBw2ENWfOY1M2dpSwK1l5R/rules
    method: POST
  response:
    body: |
      {"id":"698630da125020adf7e06f06","type":"request","scope":{"type":"workspace","applies_to":["nBw2ENWfOY1M2dpSwK1l5R"]},"enabled":true,"description":"nested_multival_test","group_operator":"any","request_logging":"sampled","conditions":[{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"ip","operator":"in_list","value":"site.blacklist"},{"type":"multival","field":"request_header","operator":"exists","group_operator":"all","conditions":[{"type":"single","field":"name","operator":"equals","value":"x-something"},{"type":"single","field":"value_string","operator":"equals","value":"abc-123"}]}]}],"actions":[{"type":"block"}],"created_at":"2026-02-06T18:20:10Z","updated_at":"2026-02-06T18:20:10Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
