---
version: 1
interactions:
- request:
    body: '{"actions":[{"type":"block_signal"}],"conditions":[{"type":"single","field":"ip","operator":"does_not_equal","value":"10.0.0.1"},{"type":"single","field":"path","operator":"does_not_equal","value":"/admin"},{"type":"single","field":"agent_name","operator":"matches","value":"bot-*"},{"type":"group","group_operator":"any","conditions":[{"type":"single","field":"country","operator":"does_not_equal","value":"US"},{"type":"single","field":"method","operator":"does_not_equal","value":"PUT"}]},{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"protocol_version","operator":"does_not_equal","value":"HTTP/2.0"},{"type":"single","field":"method","operator":"does_not_equal","value":"OPTIONS"},{"type":"single","field":"domain","operator":"does_not_equal","value":"internal.example"}]}],"description":"updated
      test","enabled":false,"group_operator":"any","rate_limit":{"ClientIdentifiers":["updatedClient1"],"Duration":600,"Interval":600,"Signal":"site.a-real-name-workspace","Threshold":2},"scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/rules/6890ca02d3222ac325ec8846
    method: PATCH
  response:
    body: |
      {"id":"6890ca02d3222ac325ec8846","type":"rate_limit","scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]},"enabled":false,"description":"updated test","group_operator":"any","conditions":[{"type":"single","field":"ip","operator":"does_not_equal","value":"10.0.0.1"},{"type":"single","field":"path","operator":"does_not_equal","value":"/admin"},{"type":"single","field":"agent_name","operator":"matches","value":"bot-*"},{"type":"group","group_operator":"any","conditions":[{"type":"single","field":"country","operator":"does_not_equal","value":"US"},{"type":"single","field":"method","operator":"does_not_equal","value":"PUT"}]},{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"protocol_version","operator":"does_not_equal","value":"HTTP/2.0"},{"type":"single","field":"method","operator":"does_not_equal","value":"OPTIONS"},{"type":"single","field":"domain","operator":"does_not_equal","value":"internal.example"}]}],"actions":[{"type":"block_signal","signal":"site.a-real-name-workspace"}],"rate_limit":{"signal":"site.a-real-name-workspace","threshold":2,"interval":600,"duration":600,"client_identifiers":[{"type":"ip"}]},"created_at":"2025-08-04T14:56:02Z","updated_at":"2025-08-04T14:56:02Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
