---
version: 1
interactions:
- request:
    body: '{"actions":[{"type":"block_signal"}],"conditions":[{"type":"single","field":"ip","operator":"does_not_equal","value":"10.0.0.1"},{"type":"single","field":"path","operator":"does_not_equal","value":"/admin"},{"type":"single","field":"agent_name","operator":"matches","value":"bot-*"},{"type":"group","group_operator":"any","conditions":[{"type":"single","field":"country","operator":"does_not_equal","value":"US"},{"type":"single","field":"method","operator":"does_not_equal","value":"PUT"}]},{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"protocol_version","operator":"does_not_equal","value":"HTTP/2.0"},{"type":"single","field":"method","operator":"does_not_equal","value":"OPTIONS"},{"type":"single","field":"domain","operator":"does_not_equal","value":"internal.example"}]},{"type":"multival","field":"request_cookie","operator":"does_not_exist","group_operator":"all","conditions":[{"type":"single","field":"name","operator":"does_not_equal","value":"fooCookieUpdated"},{"type":"single","field":"value","operator":"does_not_equal","value":"barCookieUpdated"}]}],"description":"updated
      test","enabled":false,"group_operator":"any","rate_limit":{"ClientIdentifiers":[{"name":"name","type":"ip"}],"Duration":600,"Interval":600,"Signal":"site.a-real-name-workspace","Threshold":2},"scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/rules/68c4769564a4fd7ba5e0606b
    method: PATCH
  response:
    body: |
      {"id":"68c4769564a4fd7ba5e0606b","type":"rate_limit","scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]},"enabled":false,"description":"updated test","group_operator":"any","conditions":[{"type":"single","field":"ip","operator":"does_not_equal","value":"10.0.0.1"},{"type":"single","field":"path","operator":"does_not_equal","value":"/admin"},{"type":"single","field":"agent_name","operator":"matches","value":"bot-*"},{"type":"group","group_operator":"any","conditions":[{"type":"single","field":"country","operator":"does_not_equal","value":"US"},{"type":"single","field":"method","operator":"does_not_equal","value":"PUT"}]},{"type":"group","group_operator":"all","conditions":[{"type":"single","field":"protocol_version","operator":"does_not_equal","value":"HTTP/2.0"},{"type":"single","field":"method","operator":"does_not_equal","value":"OPTIONS"},{"type":"single","field":"domain","operator":"does_not_equal","value":"internal.example"}]},{"type":"multival","field":"request_cookie","operator":"does_not_exist","group_operator":"all","conditions":[{"type":"single","field":"name","operator":"does_not_equal","value":"fooCookieUpdated"},{"type":"single","field":"value","operator":"does_not_equal","value":"barCookieUpdated"}]}],"actions":[{"type":"block_signal","signal":"site.a-real-name-workspace"}],"rate_limit":{"signal":"site.a-real-name-workspace","threshold":2,"interval":600,"duration":600,"client_identifiers":[{"type":"ip"}]},"created_at":"2025-09-12T19:37:57Z","updated_at":"2025-09-12T19:37:57Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
