---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/60/settings
    method: GET
  response:
    body: '{"general.default_pci":0,"general.default_ttl":3600,"general.stale_if_error_ttl":43200,"version":60,"service_id":"7i6HN3TK9wS159v2gPAZ8A","general.default_host":"","general.stale_if_error":false}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
