---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/52/settings
    method: GET
  response:
    body: '{"general.default_ttl":3600,"general.default_host":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","general.default_pci":0,"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"version":52}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
