---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/90/settings
    method: GET
  response:
    body: '{"general.stale_if_error_ttl":43200,"general.default_ttl":3600,"general.default_pci":0,"version":90,"service_id":"kKJb5bOFI47uHeBVluGfX1","general.stale_if_error":false,"general.default_host":""}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
