---
version: 1
interactions:
- request:
    body: ServiceID=kKJb5bOFI47uHeBVluGfX1&ServiceVersion=90&general.default_ttl=1800&general.stale_if_error=true&general.stale_if_error_ttl=57600
    form:
      ServiceID:
      - kKJb5bOFI47uHeBVluGfX1
      ServiceVersion:
      - "90"
      general.default_ttl:
      - "1800"
      general.stale_if_error:
      - "true"
      general.stale_if_error_ttl:
      - "57600"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/90/settings
    method: PUT
  response:
    body: '{"general.default_host":"","general.default_ttl":1800,"general.stale_if_error_ttl":57600,"general.default_pci":0,"service_id":"kKJb5bOFI47uHeBVluGfX1","general.stale_if_error":true,"version":90}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4888"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
