---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=60&general.default_ttl=1800&general.stale_if_error=true&general.stale_if_error_ttl=57600
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "60"
      general.default_ttl:
      - "1800"
      general.stale_if_error:
      - "true"
      general.stale_if_error_ttl:
      - "57600"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/60/settings
    method: PUT
  response:
    body: '{"general.stale_if_error":true,"general.stale_if_error_ttl":57600,"version":60,"general.default_pci":0,"service_id":"7i6HN3TK9wS159v2gPAZ8A","general.default_ttl":1800,"general.default_host":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "616"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
