---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=52&general.default_ttl=1800&general.stale_if_error=true&general.stale_if_error_ttl=57600
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "52"
      general.default_ttl:
      - "1800"
      general.stale_if_error:
      - "true"
      general.stale_if_error_ttl:
      - "57600"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/52/settings
    method: PUT
  response:
    body: '{"general.default_host":"","general.default_ttl":1800,"general.default_pci":0,"general.stale_if_error_ttl":57600,"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":52,"general.stale_if_error":true}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "988"
      Fastly-Ratelimit-Reset:
      - "1557597600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
