---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test-key","algorithm":"hmac-sha256","secret":"dGVzdHNlY3JldA==","description":"go-fastly
      test TSIG key"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/tsig-keys
    method: POST
  response:
    body: |
      {"id":"RadTpgCoEqpAnQG4h7emSW","description":"go-fastly test TSIG key","name":"go-fastly-test-key","algorithm":"hmac-sha256","created_at":"2026-05-01T14:29:54Z","updated_at":"2026-05-01T14:29:54Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
