---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test-key-2","algorithm":"hmac-sha256","secret":"dGVzdHNlY3JldA=="}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/tsig-keys
    method: POST
  response:
    body: |
      {"id":"UZ6xTWhJHeD2Rk9d8tFaHk","name":"go-fastly-test-key-2","algorithm":"hmac-sha256","created_at":"2026-05-01T14:29:54Z","updated_at":"2026-05-01T14:29:54Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
