---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/dns/v1/tsig-keys
    method: GET
  response:
    body: |
      {"data":[{"id":"RYBr6YBWLEKD39rxBmcLhq","description":"test desc","name":"test","algorithm":"hmac-sha256","created_at":"2026-05-05T16:38:18Z","updated_at":"2026-05-05T16:41:10Z"},{"id":"AYL0wC9TkHwa2XaV6K6J9K","name":"go-fastly-test-key","algorithm":"hmac-sha256","created_at":"2026-05-05T21:21:03Z","updated_at":"2026-05-05T21:21:04Z"},{"id":"gdZJ99dwDbEGwLL81HJkDJ","name":"go-fastly-test-key-2","algorithm":"hmac-sha256","created_at":"2026-05-05T21:21:04Z","updated_at":"2026-05-05T21:21:04Z"}],"meta":{"limit":10,"sort":"created_at"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
