---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/dns/v1/tsig-keys?limit=1
    method: GET
  response:
    body: |
      {"data":[{"id":"RYBr6YBWLEKD39rxBmcLhq","description":"test desc","name":"test","algorithm":"hmac-sha256","created_at":"2026-05-05T16:38:18Z","updated_at":"2026-05-05T16:41:10Z"}],"meta":{"next_cursor":"886bzjpFW0XQx5wLsI3YL905IQx83jK","limit":1,"sort":"created_at"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
