---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/dns/v1/tsig-keys?cursor=886bzjpFW0XQx5wLsI3YL905IQx83jK&limit=1
    method: GET
  response:
    body: |
      {"data":[{"id":"HsMx159hywVk51rc2t2zqd","name":"go-fastly-test-key","algorithm":"hmac-sha256","created_at":"2026-05-05T20:28:03Z","updated_at":"2026-05-05T20:28:04Z"}],"meta":{"next_cursor":"886bzjpFW0XQx5wMGezvlAwdp1YvYDJ","limit":1,"sort":"created_at"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
