---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/dns/v1/tsig-keys?cursor=886bzjpFW0XQweUXIi6gy3mtVacP1SE&limit=1
    method: GET
  response:
    body: |
      {"data":[{"id":"ODJixi5cxZ8Khxrm3MbJzZ","name":"go-fastly-test-key-2","algorithm":"hmac-sha256","created_at":"2026-05-01T13:38:51Z","updated_at":"2026-05-01T13:38:51Z"}],"meta":{"limit":1,"sort":"created_at"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
