---
version: 1
interactions:
- request:
    body: '{"description":"updated description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/tsig-keys/HsMx159hywVk51rc2t2zqd
    method: PATCH
  response:
    body: |
      {"id":"HsMx159hywVk51rc2t2zqd","description":"updated description","name":"go-fastly-test-key","algorithm":"hmac-sha256","created_at":"2026-05-05T20:28:03Z","updated_at":"2026-05-05T20:28:04Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
