---
version: 1
interactions:
- request:
    body: '{"description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/tsig-keys/AYL0wC9TkHwa2XaV6K6J9K
    method: PATCH
  response:
    body: |
      {"id":"AYL0wC9TkHwa2XaV6K6J9K","name":"go-fastly-test-key","algorithm":"hmac-sha256","created_at":"2026-05-05T21:21:03Z","updated_at":"2026-05-05T21:21:04Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
