---
version: 1
interactions:
- request:
    body: '{"description":"updated description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/tsig-keys/hsaLetr26dqAmUZBbXgtGq
    method: PATCH
  response:
    body: |
      {"id":"hsaLetr26dqAmUZBbXgtGq","description":"updated description","name":"go-fastly-test-key","algorithm":"hmac-sha256","created_at":"2026-05-01T13:38:50Z","updated_at":"2026-05-01T13:38:51Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
