---
version: 1
interactions:
- request:
    body: '{"description":"updated description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/tsig-keys/RadTpgCoEqpAnQG4h7emSW
    method: PATCH
  response:
    body: |
      {"id":"RadTpgCoEqpAnQG4h7emSW","description":"updated description","name":"go-fastly-test-key","algorithm":"hmac-sha256","created_at":"2026-05-01T14:29:54Z","updated_at":"2026-05-01T14:29:55Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
