---
version: 1
interactions:
- request:
    body: format=%25h+%25l+%25u+%25t+%22%25r%22+%25%3Es+%25b&format_version=2&name=test-scalyr&placement=none&project_id=logplex&region=US&token=super-secure-token
    form:
      format:
      - '%h %l %u %t "%r" %>s %b'
      format_version:
      - "2"
      name:
      - test-scalyr
      placement:
      - none
      project_id:
      - logplex
      region:
      - US
      token:
      - super-secure-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/103/logging/scalyr
    method: POST
  response:
    body: '{"format":"%h %l %u %t \"%r\" %\u003es %b","format_version":"2","name":"test-scalyr","placement":"none","project_id":"logplex","region":"US","token":"super-secure-token","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"103","log_processing_region":"none","response_condition":"","deleted_at":null,"created_at":"2026-07-23T19:38:40Z","updated_at":"2026-07-23T19:38:40Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9497"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
