---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/103/logging/scalyr/test-scalyr
    method: GET
  response:
    body: '{"response_condition":"","log_processing_region":"none","service_id":"XsjdElScZGjmfCcTwsYRC1","name":"test-scalyr","updated_at":"2026-07-23T19:38:40Z","format_version":"2","format":"%h
      %l %u %t \"%r\" %\u003es %b","token":"super-secure-token","created_at":"2026-07-23T19:38:40Z","project_id":"logplex","placement":"none","region":"US","deleted_at":null,"version":"103"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
