---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/37/logging/scalyr/test-scalyr
    method: GET
  response:
    body: '{"format":"%h %l %u %t \"%r\" %\u003es %b","deleted_at":null,"region":"US","project_id":"logplex","log_processing_region":"none","name":"test-scalyr","service_id":"XsjdElScZGjmfCcTwsYRC1","response_condition":"","version":"37","updated_at":"2025-09-02T17:33:23Z","placement":"none","created_at":"2025-09-02T17:33:23Z","format_version":"2","token":"super-secure-token"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
