---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/37/logging/scalyr
    method: GET
  response:
    body: '[{"version":"37","format":"%h %l %u %t \"%r\" %\u003es %b","log_processing_region":"none","name":"test-scalyr","format_version":"2","placement":"none","token":"super-secure-token","project_id":"logplex","region":"US","deleted_at":null,"updated_at":"2025-09-02T17:33:23Z","response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","created_at":"2025-09-02T17:33:23Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
