---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/103/logging/scalyr
    method: GET
  response:
    body: '[{"project_id":"logplex","format":"%h %l %u %t \"%r\" %\u003es %b","version":"103","updated_at":"2026-07-23T19:38:40Z","deleted_at":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","placement":"none","format_version":"2","name":"test-scalyr","created_at":"2026-07-23T19:38:40Z","token":"super-secure-token","region":"US","response_condition":"","log_processing_region":"none"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
