---
version: 1
interactions:
- request:
    body: log_processing_region=eu&name=new-test-scalyr&project_id=app-name&region=EU&token=new-token
    form:
      log_processing_region:
      - eu
      name:
      - new-test-scalyr
      project_id:
      - app-name
      region:
      - EU
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/37/logging/scalyr/test-scalyr
    method: PUT
  response:
    body: '{"placement":"none","response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","format":"%h
      %l %u %t \"%r\" %\u003es %b","created_at":"2025-09-02T17:33:23Z","format_version":"2","version":"37","updated_at":"2025-09-02T17:33:23Z","deleted_at":null,"project_id":"app-name","token":"new-token","name":"new-test-scalyr","log_processing_region":"eu","region":"EU"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9841"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
