---
version: 1
interactions:
- request:
    body: '{"name":"new-test-scalyr","placement":"none","log_processing_region":"eu","project_id":"app-name","region":"EU","token":"new-token"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/103/logging/scalyr/test-scalyr
    method: PUT
  response:
    body: '{"region":"EU","service_id":"XsjdElScZGjmfCcTwsYRC1","project_id":"app-name","name":"new-test-scalyr","created_at":"2026-07-23T19:38:40Z","log_processing_region":"eu","format_version":"2","token":"new-token","updated_at":"2026-07-23T19:38:40Z","format":"%h
      %l %u %t \"%r\" %\u003es %b","deleted_at":null,"version":"103","response_condition":"","placement":"none"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9491"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
