---
version: 1
interactions:
- request:
    body: '{"content_type":null,"header_name":null,"header_value":null,"tls_ca_cert":null,"tls_client_cert":null,"tls_client_key":null,"tls_hostname":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/203/logging/https/new-test-https
    method: PUT
  response:
    body: '{"placement":null,"format_version":"2","name":"new-test-https","request_max_bytes":1000,"message_type":"blank","service_id":"kKJb5bOFI47uHeBVluGfX1","add_batch_size_header":false,"log_processing_region":"eu","request_max_entries":1,"deleted_at":null,"response_condition":"","header_name":null,"format":"format","url":"https://example.com/","json_format":"2","header_value":null,"period":5,"updated_at":"2026-08-10T19:15:10Z","version":"203","tls_client_cert":null,"tls_ca_cert":null,"compression_codec":null,"gzip_level":3,"created_at":"2026-08-10T19:14:53Z","content_type":null,"tls_client_key":null,"tls_hostname":null,"method":"POST"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9710"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
