---
version: 1
interactions:
- request:
    body: ServiceID=01yXo1ojqff8q5FU2Mt2uX&ServiceVersion=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      ServiceID:
      - 01yXo1ojqff8q5FU2Mt2uX
      ServiceVersion:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/01yXo1ojqff8q5FU2Mt2uX/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"01yXo1ojqff8q5FU2Mt2uX","version":"2","updated_at":"2021-01-14T10:27:48Z","created_at":"2021-01-14T10:27:48Z","comment":"","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "873"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
