---
version: 1
interactions:
- request:
    body: Service=3BOOVoayIlrdMuRU8LrKSA&Version=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 3BOOVoayIlrdMuRU8LrKSA
      Version:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3BOOVoayIlrdMuRU8LrKSA/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"3BOOVoayIlrdMuRU8LrKSA","version":"2","updated_at":"2020-06-30T10:56:26Z","comment":"","created_at":"2020-06-30T10:56:26Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "680"
      Fastly-Ratelimit-Reset:
      - "1593514800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
