---
version: 1
interactions:
- request:
    body: Service=300YFPn1PVF82Na4SUkiqy&Version=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 300YFPn1PVF82Na4SUkiqy
      Version:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/300YFPn1PVF82Na4SUkiqy/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"300YFPn1PVF82Na4SUkiqy","version":"2","created_at":"2019-11-25T14:43:30Z","deleted_at":null,"comment":"","updated_at":"2019-11-25T14:43:30Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1574694000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
