---
version: 1
interactions:
- request:
    body: Service=5GZsX83POn5zij6allCOKe&Version=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 5GZsX83POn5zij6allCOKe
      Version:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5GZsX83POn5zij6allCOKe/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"5GZsX83POn5zij6allCOKe","version":"2","updated_at":"2020-07-06T11:09:06Z","comment":"","deleted_at":null,"created_at":"2020-07-06T11:09:06Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "978"
      Fastly-Ratelimit-Reset:
      - "1594036800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
