---
version: 1
interactions:
- request:
    body: Service=52szbbqIWi1L5bUd4EBKkX&Version=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 52szbbqIWi1L5bUd4EBKkX
      Version:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/52szbbqIWi1L5bUd4EBKkX/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"52szbbqIWi1L5bUd4EBKkX","version":"2","created_at":"2020-07-02T20:20:56Z","updated_at":"2020-07-02T20:20:56Z","deleted_at":null,"comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "951"
      Fastly-Ratelimit-Reset:
      - "1593723600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
