---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_DictionaryInfo
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_DictionaryInfo
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"61rkYPY1bC3XzLnew9jMi5","comment":"go-fastly client test","name":"test_service_DictionaryInfo","updated_at":"2019-10-05T21:12:14Z","versions":[{"comment":"","created_at":"2019-10-05T21:12:14Z","testing":false,"staging":false,"deployed":false,"active":false,"deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","locked":false,"updated_at":"2019-10-05T21:12:14Z","number":1}],"publish_key":"93c97384c51b3309ef79cf587a4c3baddadc00b0","deleted_at":null,"id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2019-10-05T21:12:14Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "999"
      Fastly-Ratelimit-Reset:
      - "1570312800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
