---
version: 1
interactions:
- request:
    body: '{"items":[{"op":"create","item_key":"test-dictionary-item-0","item_value":"value"},{"op":"create","item_key":"test-dictionary-item-1","item_value":"value"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/2fw2ABKZ7VBSnMshauq6Zp/dictionary/5NqPzSq3w3gkpvWthW5jfs/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4950"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
