---
version: 1
interactions:
- request:
    body: '{"items":[{"op":"create","item_key":"test-dictionary-item-0","item_value":"value"},{"op":"create","item_key":"test-dictionary-item-1","item_value":"value"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/1qDpFsCBTXDoh0hJ9NY1L3/dictionary/7h0KVo4Y10wIQTaHELYQnr/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "968"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
