---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_DictionaryInfo&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_DictionaryInfo
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_DictionaryInfo","type":"vcl","publish_key":"","updated_at":"2021-01-14T10:23:51Z","versions":[{"service_id":"1qDpFsCBTXDoh0hJ9NY1L3","comment":"","deployed":false,"created_at":"2021-01-14T10:23:51Z","deleted_at":null,"updated_at":"2021-01-14T10:23:51Z","testing":false,"staging":false,"number":1,"locked":false,"active":false}],"deleted_at":null,"created_at":"2021-01-14T10:23:51Z","paused":false,"id":"1qDpFsCBTXDoh0hJ9NY1L3"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "971"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
