---
version: 1
interactions:
- request:
    body: '{"items":[{"op":"create","item_key":"test-dictionary-item-0","item_value":"value"},{"op":"create","item_key":"test-dictionary-item-1","item_value":"value"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/dictionary/6FKsD88tVMhbomod52CWRH/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1570312800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
