---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=2&name=test_dictionary_DictionaryInfo
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "2"
      name:
      - test_dictionary_DictionaryInfo
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_DictionaryInfo","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":2,"created_at":"2019-10-05T21:12:15Z","write_only":false,"id":"6FKsD88tVMhbomod52CWRH","deleted_at":null,"updated_at":"2019-10-05T21:12:15Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1570312800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
