---
version: 1
interactions:
- request:
    body: ServiceID=2fw2ABKZ7VBSnMshauq6Zp&ServiceVersion=2&name=test_dictionary_DictionaryInfo
    form:
      ServiceID:
      - 2fw2ABKZ7VBSnMshauq6Zp
      ServiceVersion:
      - "2"
      name:
      - test_dictionary_DictionaryInfo
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2fw2ABKZ7VBSnMshauq6Zp/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_DictionaryInfo","service_id":"2fw2ABKZ7VBSnMshauq6Zp","version":2,"created_at":"2021-11-03T16:15:40Z","write_only":false,"deleted_at":null,"updated_at":"2021-11-03T16:15:40Z","id":"5NqPzSq3w3gkpvWthW5jfs"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4951"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
