---
version: 1
interactions:
- request:
    body: ServiceID=1qDpFsCBTXDoh0hJ9NY1L3&ServiceVersion=2&name=test_dictionary_DictionaryInfo
    form:
      ServiceID:
      - 1qDpFsCBTXDoh0hJ9NY1L3
      ServiceVersion:
      - "2"
      name:
      - test_dictionary_DictionaryInfo
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/1qDpFsCBTXDoh0hJ9NY1L3/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_DictionaryInfo","service_id":"1qDpFsCBTXDoh0hJ9NY1L3","version":2,"write_only":false,"updated_at":"2021-01-14T10:23:51Z","deleted_at":null,"created_at":"2021-01-14T10:23:51Z","id":"7h0KVo4Y10wIQTaHELYQnr"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "969"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
