---
version: 1
interactions:
- request:
    body: name=test_dictionary
    form:
      name:
      - test_dictionary
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/95/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary","service_id":"kKJb5bOFI47uHeBVluGfX1","version":95,"deleted_at":null,"write_only":false,"created_at":"2022-11-07T14:45:33Z","updated_at":"2022-11-07T14:45:33Z","id":"BPnIdK8OFZePTGgSuZN0x6"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9980"
      Fastly-Ratelimit-Reset:
      - "1667833200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
