---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=14&name=test_dictionary
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "14"
      name:
      - test_dictionary
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/14/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":14,"write_only":false,"created_at":"2019-05-08T21:53:06Z","id":"3gDSsEFerAJQ42LtP2ZTHG","updated_at":"2019-05-08T21:53:06Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1557352800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
