---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=55&name=test_dictionary
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "55"
      name:
      - test_dictionary
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/55/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":55,"id":"5JztRMmZbQTwPn1adhclKA","updated_at":"2021-11-03T16:12:55Z","created_at":"2021-11-03T16:12:55Z","write_only":false,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4994"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
