---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/682/dictionary/test_dictionary
    method: GET
  response:
    body: '{"created_at":"2017-07-20T01:15:07+00:00","version":682,"name":"test_dictionary","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","id":"6lvcnnaAjzGdSitQa9E5VY","updated_at":"2017-07-20T01:15:07+00:00"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
