---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/33/dictionary/test_dictionary
    method: GET
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2021-01-14T10:40:53Z","name":"test_dictionary","deleted_at":null,"id":"1JP6BHMQHaRPHKyVLsW0td","write_only":false,"version":33,"updated_at":"2021-01-14T10:40:53Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
