---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/14/dictionary/test_dictionary
    method: GET
  response:
    body: '{"id":"3gDSsEFerAJQ42LtP2ZTHG","write_only":false,"version":14,"name":"test_dictionary","updated_at":"2019-05-08T21:53:06Z","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2019-05-08T21:53:06Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
