---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/55/dictionary
    method: GET
  response:
    body: '[{"service_id":"7i6HN3TK9wS159v2gPAZ8A","write_only":false,"created_at":"2021-11-03T16:12:55Z","updated_at":"2021-11-03T16:12:55Z","id":"5JztRMmZbQTwPn1adhclKA","deleted_at":null,"name":"test_dictionary","version":55}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
