---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/14/dictionary
    method: GET
  response:
    body: '[{"version":14,"name":"test_dictionary","deleted_at":null,"id":"3gDSsEFerAJQ42LtP2ZTHG","write_only":false,"updated_at":"2019-05-08T21:53:06Z","created_at":"2019-05-08T21:53:06Z","service_id":"7i6HN3TK9wS159v2gPAZ8A"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
