---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/95/dictionary
    method: GET
  response:
    body: '[{"deleted_at":null,"write_only":false,"updated_at":"2022-11-07T14:45:33Z","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"test_dictionary","id":"BPnIdK8OFZePTGgSuZN0x6","version":95,"created_at":"2022-11-07T14:45:33Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
