---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/33/dictionary
    method: GET
  response:
    body: '[{"created_at":"2021-01-14T10:40:53Z","name":"test_dictionary","service_id":"7i6HN3TK9wS159v2gPAZ8A","write_only":false,"id":"1JP6BHMQHaRPHKyVLsW0td","deleted_at":null,"updated_at":"2021-01-14T10:40:53Z","version":33}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
