---
version: 1
interactions:
- request:
    body: name=new_test_dictionary
    form:
      name:
      - new_test_dictionary
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/95/dictionary/test_dictionary
    method: PUT
  response:
    body: '{"updated_at":"2022-11-07T14:45:33Z","deleted_at":null,"name":"new_test_dictionary","version":95,"id":"BPnIdK8OFZePTGgSuZN0x6","write_only":false,"service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2022-11-07T14:45:33Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9979"
      Fastly-Ratelimit-Reset:
      - "1667833200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
