---
version: 1
interactions:
- request:
    body: Name=test_dictionary&ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=55&name=new_test_dictionary
    form:
      Name:
      - test_dictionary
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "55"
      name:
      - new_test_dictionary
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/55/dictionary/test_dictionary
    method: PUT
  response:
    body: '{"write_only":false,"name":"new_test_dictionary","id":"5JztRMmZbQTwPn1adhclKA","updated_at":"2021-11-03T16:12:55Z","version":55,"deleted_at":null,"created_at":"2021-11-03T16:12:55Z","service_id":"3QSsca5ilwNVpceZ2HJIAH"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4993"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
