---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test_dictionary&Service=7i6HN3TK9wS159v2gPAZ8A&Version=14&name=new_test_dictionary
    form:
      Name:
      - test_dictionary
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "14"
      name:
      - new_test_dictionary
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/14/dictionary/test_dictionary
    method: PUT
  response:
    body: '{"deleted_at":null,"name":"new_test_dictionary","updated_at":"2019-05-08T21:53:06Z","id":"3gDSsEFerAJQ42LtP2ZTHG","created_at":"2019-05-08T21:53:06Z","write_only":false,"version":14,"service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "995"
      Fastly-Ratelimit-Reset:
      - "1557352800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
