---
version: 1
interactions:
- request:
<<<<<<< HEAD
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=34&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
=======
    body: Service=6gkEdARZ3mPzhQvdi2YH3j&Version=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
>>>>>>> Service waf component (#5)
    form:
      Service:
      - 6gkEdARZ3mPzhQvdi2YH3j
      Version:
<<<<<<< HEAD
      - "34"
=======
      - "2"
>>>>>>> Service waf component (#5)
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/6gkEdARZ3mPzhQvdi2YH3j/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"6gkEdARZ3mPzhQvdi2YH3j","version":"2","tls_hostname":null,"public_key":null,"use_tls":"0","deleted_at":null,"response_condition":"","tls_ca_cert":null,"placement":null,"updated_at":"2019-11-12T16:10:21Z","ipv4":null,"created_at":"2019-11-12T16:10:21Z","tls_client_cert":null,"tls_client_key":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "975"
      Fastly-Ratelimit-Reset:
      - "1573578000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
