---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=786&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "786"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/786/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"786","placement":null,"response_condition":"","public_key":null,"updated_at":"2017-09-05T17:56:52+00:00","ipv4":null,"tls_hostname":null,"use_tls":"0","tls_ca_cert":null,"deleted_at":null,"created_at":"2017-09-05T17:56:52+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "883"
      Fastly-Ratelimit-Reset:
      - "1504634400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
