---
version: 1
interactions:
- request:
    body: name=TestClient_UpdateConfigStore
    form:
      name:
      - TestClient_UpdateConfigStore
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/resources/stores/config
    method: POST
  response:
    body: '{"name":"TestClient_UpdateConfigStore","id":"iIVPdtgia83hbkhfMEbBE4","created_at":"2023-03-01T22:12:20Z","updated_at":"2023-03-01T22:12:20Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
