---
version: 1
interactions:
- request:
    body: name=test%2Fcondition&priority=1&statement=req.url~%2B%22index.html%22&type=REQUEST
    form:
      name:
      - test/condition
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - REQUEST
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/89/condition
    method: POST
  response:
    body: '{"name":"test/condition","priority":"1","statement":"req.url~+\"index.html\"","type":"REQUEST","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"89","deleted_at":null,"created_at":"2022-11-07T12:32:11Z","comment":"","updated_at":"2022-11-07T12:32:11Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9982"
      Fastly-Ratelimit-Reset:
      - "1667826000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
