---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=31&name=test%2Fcondition&priority=1&statement=req.url~%2B%22index.html%22&type=REQUEST
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "31"
      name:
      - test/condition
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - REQUEST
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/31/condition
    method: POST
  response:
    body: '{"name":"test/condition","priority":"1","statement":"req.url~+\"index.html\"","type":"REQUEST","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"31","deleted_at":null,"updated_at":"2021-01-14T10:36:24Z","created_at":"2021-01-14T10:36:24Z","comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "795"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
