---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=700&name=test%2Fcondition&priority=1&statement=req.url~%2B%22index.html%22&type=REQUEST
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "700"
      name:
      - test/condition
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - REQUEST
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/700/condition
    method: POST
  response:
    body: '{"name":"test/condition","priority":"1","statement":"req.url~+\"index.html\"","type":"REQUEST","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"700","deleted_at":null,"created_at":"2017-07-20T02:25:45+00:00","comment":"","updated_at":"2017-07-20T02:25:45+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "993"
      Fastly-Ratelimit-Reset:
      - "1500519600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
