---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=53&name=test%2Fcondition&priority=1&statement=req.url~%2B%22index.html%22&type=REQUEST
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "53"
      name:
      - test/condition
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - REQUEST
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/53/condition
    method: POST
  response:
    body: '{"name":"test/condition","priority":"1","statement":"req.url~+\"index.html\"","type":"REQUEST","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"53","deleted_at":null,"updated_at":"2021-11-03T15:49:00Z","comment":"","created_at":"2021-11-03T15:49:00Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4918"
      Fastly-Ratelimit-Reset:
      - "1635955200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
