---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/74/condition/test%2Fcondition
    method: GET
  response:
    body: '{"type":"REQUEST","comment":"","priority":"1","created_at":"2021-11-26T07:13:25Z","name":"test/condition","version":"74","service_id":"7i6HN3TK9wS159v2gPAZ8A","statement":"req.url~+\"index.html\"","deleted_at":null,"updated_at":"2021-11-26T07:13:25Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
