---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/89/condition/test%2Fcondition
    method: GET
  response:
    body: '{"comment":"","type":"REQUEST","created_at":"2022-11-07T12:32:11Z","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"89","deleted_at":null,"updated_at":"2022-11-07T12:32:11Z","name":"test/condition","priority":"1","statement":"req.url~+\"index.html\""}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
