---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/31/condition/test%2Fcondition
    method: GET
  response:
    body: '{"updated_at":"2021-01-14T10:36:24Z","statement":"req.url~+\"index.html\"","service_id":"7i6HN3TK9wS159v2gPAZ8A","priority":"1","comment":"","created_at":"2021-01-14T10:36:24Z","version":"31","name":"test/condition","type":"REQUEST","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
