---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/57/condition/test%2Fcondition
    method: GET
  response:
    body: '{"deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"57","name":"test/condition","created_at":"2019-05-13T17:29:57Z","updated_at":"2019-05-13T17:29:57Z","type":"REQUEST","priority":"1","statement":"req.url~+\"index.html\"","comment":""}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
