---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/53/condition/test%2Fcondition
    method: GET
  response:
    body: '{"comment":"","created_at":"2021-11-03T15:49:00Z","statement":"req.url~+\"index.html\"","type":"REQUEST","updated_at":"2021-11-03T15:49:00Z","deleted_at":null,"name":"test/condition","priority":"1","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":"53"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
