---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/31/condition
    method: GET
  response:
    body: '[{"service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test/condition","type":"REQUEST","priority":"1","statement":"req.url~+\"index.html\"","created_at":"2021-01-14T10:36:24Z","comment":"","updated_at":"2021-01-14T10:36:24Z","version":"31","deleted_at":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
