---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/57/condition
    method: GET
  response:
    body: '[{"version":"57","type":"REQUEST","statement":"req.url~+\"index.html\"","name":"test/condition","priority":"1","created_at":"2019-05-13T17:29:57Z","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2019-05-13T17:29:57Z","comment":""}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
