---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/700/condition
    method: GET
  response:
    body: '[{"priority":"1","version":"700","name":"test/condition","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2017-07-20T02:25:45+00:00","comment":"","statement":"req.url~+\"index.html\"","updated_at":"2017-07-20T02:25:45+00:00","type":"REQUEST"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
