---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/89/condition
    method: GET
  response:
    body: '[{"created_at":"2022-11-07T12:32:11Z","version":"89","name":"test/condition","type":"REQUEST","priority":"1","comment":"","statement":"req.url~+\"index.html\"","updated_at":"2022-11-07T12:32:11Z","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
