---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/53/condition
    method: GET
  response:
    body: '[{"comment":"","statement":"req.url~+\"index.html\"","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"priority":"1","version":"53","type":"REQUEST","created_at":"2021-11-03T15:49:00Z","name":"test/condition","updated_at":"2021-11-03T15:49:00Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
