---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test%2Fcondition&Service=7i6HN3TK9wS159v2gPAZ8A&Version=57&statement=req.url~%2B%22updated.html%22
    form:
      Name:
      - test/condition
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "57"
      statement:
      - req.url~+"updated.html"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/57/condition/test%2Fcondition
    method: PUT
  response:
    body: '{"version":"57","comment":"","priority":"1","name":"test/condition","deleted_at":null,"created_at":"2019-05-13T17:29:57Z","type":"REQUEST","statement":"req.url~+\"updated.html\"","updated_at":"2019-05-13T17:29:57Z","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1557770400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
