---
version: 1
interactions:
- request:
    body: Name=test%2Fcondition&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=74&statement=req.url~%2B%22updated.html%22
    form:
      Name:
      - test/condition
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "74"
      statement:
      - req.url~+"updated.html"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/74/condition/test%2Fcondition
    method: PUT
  response:
    body: '{"created_at":"2021-11-26T07:13:25Z","deleted_at":null,"statement":"req.url~+\"updated.html\"","updated_at":"2021-11-26T07:13:25Z","priority":"1","name":"test/condition","version":"74","comment":"","type":"REQUEST","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4991"
      Fastly-Ratelimit-Reset:
      - "1637913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
