---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test%2Fcondition&Service=7i6HN3TK9wS159v2gPAZ8A&Version=700&statement=req.url~%2B%22updated.html%22
    form:
      Name:
      - test/condition
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "700"
      statement:
      - req.url~+"updated.html"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/700/condition/test%252Fcondition
    method: PUT
  response:
    body: '{"priority":"1","version":"700","name":"test/condition","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2017-07-20T02:25:45+00:00","comment":"","statement":"req.url~+\"updated.html\"","updated_at":"2017-07-20T02:25:45+00:00","type":"REQUEST"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "992"
      Fastly-Ratelimit-Reset:
      - "1500519600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
