---
version: 1
interactions:
- request:
    body: statement=req.url~%2B%22updated.html%22
    form:
      statement:
      - req.url~+"updated.html"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/89/condition/test%2Fcondition
    method: PUT
  response:
    body: '{"updated_at":"2022-11-07T12:32:11Z","comment":"","name":"test/condition","service_id":"kKJb5bOFI47uHeBVluGfX1","type":"REQUEST","priority":"1","version":"89","created_at":"2022-11-07T12:32:11Z","statement":"req.url~+\"updated.html\"","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9981"
      Fastly-Ratelimit-Reset:
      - "1667826000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
