---
version: 1
interactions:
- request:
    body: Name=test%2Fcondition&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=31&statement=req.url~%2B%22updated.html%22
    form:
      Name:
      - test/condition
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "31"
      statement:
      - req.url~+"updated.html"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/31/condition/test%2Fcondition
    method: PUT
  response:
    body: '{"version":"31","created_at":"2021-01-14T10:36:24Z","type":"REQUEST","comment":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"updated_at":"2021-01-14T10:36:24Z","name":"test/condition","statement":"req.url~+\"updated.html\"","priority":"1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "794"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
