---
version: 1
interactions:
- request:
    body: Name=test%2Fcondition&ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=53&statement=req.url~%2B%22updated.html%22
    form:
      Name:
      - test/condition
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "53"
      statement:
      - req.url~+"updated.html"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/53/condition/test%2Fcondition
    method: PUT
  response:
    body: '{"type":"REQUEST","name":"test/condition","created_at":"2021-11-03T15:49:00Z","priority":"1","comment":"","deleted_at":null,"service_id":"3QSsca5ilwNVpceZ2HJIAH","version":"53","updated_at":"2021-11-03T15:49:00Z","statement":"req.url~+\"updated.html\""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4917"
      Fastly-Ratelimit-Reset:
      - "1635955200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
