---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/25/logging/kinesis/test-kinesis
    method: GET
  response:
    body: '{"service_id":"XsjdElScZGjmfCcTwsYRC1","format_version":"2","placement":"none","name":"test-kinesis","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","region":"us-east-1","updated_at":"2025-09-02T17:16:45Z","response_condition":"","access_key":"AKIAIOSFODNN7EXAMPLE","iam_role":null,"version":"25","deleted_at":null,"log_processing_region":"none","format":"format","created_at":"2025-09-02T17:16:45Z","topic":"stream-name"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
