---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/111/logging/kinesis/test-kinesis
    method: GET
  response:
    body: '{"region":"us-east-1","format":"format","format_version":"2","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","version":"111","updated_at":"2026-07-23T19:39:21Z","deleted_at":null,"created_at":"2026-07-23T19:39:21Z","access_key":"AKIAIOSFODNN7EXAMPLE","topic":"stream-name","response_condition":"","name":"test-kinesis","placement":"none","service_id":"XsjdElScZGjmfCcTwsYRC1","log_processing_region":"none","iam_role":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
