---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/25/logging/kinesis/test-kinesis-2
    method: GET
  response:
    body: '{"response_condition":"","region":"us-east-1","log_processing_region":"none","deleted_at":null,"iam_role":"arn:aws:iam::123456789012:role/S3Access","topic":"stream-name","version":"25","name":"test-kinesis-2","placement":"none","access_key":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","format_version":"2","secret_key":null,"updated_at":"2025-09-02T17:16:45Z","created_at":"2025-09-02T17:16:45Z","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
