---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/111/logging/kinesis/test-kinesis-2
    method: GET
  response:
    body: '{"iam_role":"arn:aws:iam::123456789012:role/S3Access","placement":"none","service_id":"XsjdElScZGjmfCcTwsYRC1","log_processing_region":"none","response_condition":"","name":"test-kinesis-2","created_at":"2026-07-23T19:39:23Z","access_key":null,"topic":"stream-name","deleted_at":null,"updated_at":"2026-07-23T19:39:23Z","version":"111","secret_key":null,"format_version":"2","region":"us-east-1","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
