---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/111/logging/kinesis
    method: GET
  response:
    body: '[{"deleted_at":null,"secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","format":"format","region":"us-east-1","topic":"stream-name","log_processing_region":"none","access_key":"AKIAIOSFODNN7EXAMPLE","created_at":"2026-07-23T19:39:21Z","iam_role":null,"name":"test-kinesis","format_version":"2","updated_at":"2026-07-23T19:39:21Z","response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","placement":"none","version":"111"},{"created_at":"2026-07-23T19:39:23Z","access_key":null,"log_processing_region":"none","topic":"stream-name","secret_key":null,"deleted_at":null,"format":"format","region":"us-east-1","placement":"none","version":"111","response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","updated_at":"2026-07-23T19:39:23Z","name":"test-kinesis-2","iam_role":"arn:aws:iam::123456789012:role/S3Access","format_version":"2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
