---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/25/logging/kinesis
    method: GET
  response:
    body: '[{"log_processing_region":"none","name":"test-kinesis","format":"format","access_key":"AKIAIOSFODNN7EXAMPLE","version":"25","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","placement":"none","topic":"stream-name","format_version":"2","updated_at":"2025-09-02T17:16:45Z","deleted_at":null,"region":"us-east-1","iam_role":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","created_at":"2025-09-02T17:16:45Z","response_condition":""},{"access_key":null,"version":"25","format":"format","log_processing_region":"none","name":"test-kinesis-2","format_version":"2","placement":"none","topic":"stream-name","secret_key":null,"region":"us-east-1","deleted_at":null,"updated_at":"2025-09-02T17:16:45Z","response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","created_at":"2025-09-02T17:16:45Z","iam_role":"arn:aws:iam::123456789012:role/S3Access"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
