---
version: 1
interactions:
- request:
    body: log_processing_region=eu&name=new-test-kinesis
    form:
      log_processing_region:
      - eu
      name:
      - new-test-kinesis
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/25/logging/kinesis/test-kinesis
    method: PUT
  response:
    body: '{"log_processing_region":"eu","format_version":"2","version":"25","created_at":"2025-09-02T17:16:45Z","topic":"stream-name","access_key":"AKIAIOSFODNN7EXAMPLE","deleted_at":null,"placement":"none","service_id":"XsjdElScZGjmfCcTwsYRC1","region":"us-east-1","updated_at":"2025-09-02T17:16:45Z","response_condition":"","iam_role":null,"secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","format":"format","name":"new-test-kinesis"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9931"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
