---
version: 1
interactions:
- request:
    body: access_key=&iam_role=arn%3Aaws%3Aiam%3A%3A123456789012%3Arole%2FS3Access&secret_key=
    form:
      access_key:
      - ""
      iam_role:
      - arn:aws:iam::123456789012:role/S3Access
      secret_key:
      - ""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/25/logging/kinesis/new-test-kinesis
    method: PUT
  response:
    body: '{"deleted_at":null,"format":"format","region":"us-east-1","log_processing_region":"eu","name":"new-test-kinesis","response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"25","topic":"stream-name","updated_at":"2025-09-02T17:16:47Z","secret_key":"","iam_role":"arn:aws:iam::123456789012:role/S3Access","placement":"none","created_at":"2025-09-02T17:16:45Z","access_key":"","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9930"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
