---
version: 1
interactions:
- request:
    body: '{"name":"new-test-kinesis","placement":"none","log_processing_region":"eu"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/111/logging/kinesis/test-kinesis
    method: PUT
  response:
    body: '{"region":"us-east-1","service_id":"XsjdElScZGjmfCcTwsYRC1","topic":"stream-name","access_key":"AKIAIOSFODNN7EXAMPLE","name":"new-test-kinesis","created_at":"2026-07-23T19:39:21Z","log_processing_region":"eu","format_version":"2","updated_at":"2026-07-23T19:39:21Z","format":"format","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","deleted_at":null,"iam_role":null,"version":"111","response_condition":"","placement":"none"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9408"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
