---
version: 1
interactions:
- request:
    body: '{"access_key":"","iam_role":"arn:aws:iam::123456789012:role/S3Access","placement":"none","secret_key":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/111/logging/kinesis/new-test-kinesis
    method: PUT
  response:
    body: '{"version":"111","secret_key":"","placement":"none","created_at":"2026-07-23T19:39:21Z","log_processing_region":"eu","format_version":"2","region":"us-east-1","access_key":"","name":"new-test-kinesis","deleted_at":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","format":"format","iam_role":"arn:aws:iam::123456789012:role/S3Access","updated_at":"2026-07-23T19:39:32Z","topic":"stream-name","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9403"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
