---
version: 1
interactions:
- request:
    body: '{"iam_role":"badarn","placement":"none"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/111/logging/kinesis/test-kinesis
    method: PUT
  response:
    body: '{"msg":"Record not found","detail":"Couldn''t find syslog ''{ deleted =\u003e
      0000-00-00 00:00:00, name =\u003e test-kinesis, service =\u003e XsjdElScZGjmfCcTwsYRC1,
      version =\u003e 111 }''"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9395"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 404 Not Found
    status: 404 Not Found
    code: 404
    duration: ""
