---
version: 1
interactions:
- request:
    body: '{"access_key":"AKIAIOSFODNN7EXAMPLE","iam_role":"","placement":"none","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/111/logging/kinesis/test-kinesis-2
    method: PUT
  response:
    body: '{"name":"test-kinesis-2","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","topic":"stream-name","version":"111","format":"format","region":"us-east-1","service_id":"XsjdElScZGjmfCcTwsYRC1","deleted_at":null,"iam_role":"","response_condition":"","format_version":"2","placement":"none","log_processing_region":"none","created_at":"2026-07-23T19:39:23Z","access_key":"AKIAIOSFODNN7EXAMPLE","updated_at":"2026-07-23T19:39:23Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9399"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
