---
version: 1
interactions:
- request:
    body: access_key=AKIAIOSFODNN7EXAMPLE&iam_role=&secret_key=wJalrXUtnFEMI%2FK7MDENG%2FbPxRfiCYEXAMPLEKEY
    form:
      access_key:
      - AKIAIOSFODNN7EXAMPLE
      iam_role:
      - ""
      secret_key:
      - wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/25/logging/kinesis/test-kinesis-2
    method: PUT
  response:
    body: '{"service_id":"XsjdElScZGjmfCcTwsYRC1","format_version":"2","placement":"none","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","name":"test-kinesis-2","region":"us-east-1","updated_at":"2025-09-02T17:16:45Z","response_condition":"","access_key":"AKIAIOSFODNN7EXAMPLE","iam_role":"","version":"25","log_processing_region":"none","deleted_at":null,"format":"format","created_at":"2025-09-02T17:16:45Z","topic":"stream-name"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9929"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
