---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/oIb247xKeTGgwPoVPA2PJ3/alerts
    method: GET
  response:
    body: |
      {"data":[{"id":"686fe56bf69b75b2041e58bb","description":"This is a test alert.","type":"opsgenie","config":{"key":"b2c3d4e5f6789012345678901234567a"},"events":["flag"],"created_at":"2025-07-10T16:08:11Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}],"meta":{"limit":100,"total":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
