---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"service_authorization","attributes":{"permission":"full"},"relationships":{"service":{"data":{"type":"service","id":"7i6HN3TK9wS159v2gPAZ8A"}},"user":{"data":{"type":"user","id":"4tKBSuFhNEiIpNDxmmVydt"}}}},"included":[{"type":"service","id":"7i6HN3TK9wS159v2gPAZ8A"},{"type":"user","id":"4tKBSuFhNEiIpNDxmmVydt"}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/service-authorizations
    method: POST
  response:
    body: '{"data":{"id":"3LA2qxhWzpRitVKTq9SsEU","type":"service_authorization","attributes":{"created_at":"2022-06-20T09:05:32Z","updated_at":"2022-06-20T09:05:32Z","deleted_at":null,"permission":"full"},"relationships":{"service":{"data":{"id":"7i6HN3TK9wS159v2gPAZ8A","type":"service"}},"user":{"data":{"id":"4tKBSuFhNEiIpNDxmmVydt","type":"user"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Fastly-Ratelimit-Remaining:
      - "969"
      Fastly-Ratelimit-Reset:
      - "1655719200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
