---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"service_authorization","attributes":{"permission":"full"},"relationships":{"service":{"data":{"type":"service","id":"kKJb5bOFI47uHeBVluGfX1"}},"user":{"data":{"type":"user","id":"1pnpEMCscfjqgvH7Qofda6"}}}},"included":[{"type":"service","id":"kKJb5bOFI47uHeBVluGfX1"},{"type":"user","id":"1pnpEMCscfjqgvH7Qofda6"}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/service-authorizations
    method: POST
  response:
    body: '{"data":{"id":"6lxMq0qXIaSCLqrch0azvx","type":"service_authorization","attributes":{"created_at":"2022-06-22T18:07:20Z","updated_at":"2022-06-22T18:07:20Z","deleted_at":null,"permission":"full"},"relationships":{"service":{"data":{"id":"kKJb5bOFI47uHeBVluGfX1","type":"service"}},"user":{"data":{"id":"1pnpEMCscfjqgvH7Qofda6","type":"user"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Fastly-Ratelimit-Remaining:
      - "4996"
      Fastly-Ratelimit-Reset:
      - "1655924400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
