---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service-authorizations/RpPAg3cWoOTz6WbzXkA2a
    method: GET
  response:
    body: '{"data":{"id":"RpPAg3cWoOTz6WbzXkA2a","type":"service_authorization","attributes":{"created_at":"2022-06-15T12:43:16Z","updated_at":"2022-06-15T12:43:16Z","deleted_at":null,"permission":"full"},"relationships":{"service":{"data":{"id":"7ZVxm5pPWdzKdl3P5UW7jR","type":"service"}},"user":{"data":{"id":"4tKBSuFhNEiIpNDxmmVydt","type":"user"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
