---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service-authorizations/6lxMq0qXIaSCLqrch0azvx
    method: GET
  response:
    body: '{"data":{"id":"6lxMq0qXIaSCLqrch0azvx","type":"service_authorization","attributes":{"created_at":"2022-06-22T18:07:20Z","updated_at":"2022-06-22T18:07:20Z","deleted_at":null,"permission":"full"},"relationships":{"service":{"data":{"id":"kKJb5bOFI47uHeBVluGfX1","type":"service"}},"user":{"data":{"id":"1pnpEMCscfjqgvH7Qofda6","type":"user"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
