---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"service_authorization","id":"3LA2qxhWzpRitVKTq9SsEU","attributes":{"permission":"purge_select"}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/service-authorizations/3LA2qxhWzpRitVKTq9SsEU
    method: PATCH
  response:
    body: '{"data":{"id":"3LA2qxhWzpRitVKTq9SsEU","type":"service_authorization","attributes":{"created_at":"2022-06-20T09:05:32Z","updated_at":"2022-06-20T09:05:33Z","deleted_at":null,"permission":"purge_select"},"relationships":{"service":{"data":{"id":"7i6HN3TK9wS159v2gPAZ8A","type":"service"}},"user":{"data":{"id":"4tKBSuFhNEiIpNDxmmVydt","type":"user"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Fastly-Ratelimit-Remaining:
      - "968"
      Fastly-Ratelimit-Reset:
      - "1655719200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
