---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"service_authorization","id":"dTYPkfosjJ6dMSBZNAPff","attributes":{"permission":"purge_select"}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/service-authorizations/dTYPkfosjJ6dMSBZNAPff
    method: PATCH
  response:
    body: '{"data":{"id":"dTYPkfosjJ6dMSBZNAPff","type":"service_authorization","attributes":{"created_at":"2022-06-16T14:54:32Z","updated_at":"2022-06-16T14:54:32Z","deleted_at":null,"permission":"purge_select"},"relationships":{"service":{"data":{"id":"7i6HN3TK9wS159v2gPAZ8A","type":"service"}},"user":{"data":{"id":"4tKBSuFhNEiIpNDxmmVydt","type":"user"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Fastly-Ratelimit-Remaining:
      - "958"
      Fastly-Ratelimit-Reset:
      - "1655391600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
