---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_firewall","attributes":{"prefetch_condition":"","response":"WAf_Response","service_id":"0Ez5eLazQudDmMaeJ6sk4A","service_version_number":"2"}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls
    method: POST
  response:
    body: '{"data":{"id":"4AGLf45qntIRxH9l9fkdBe","type":"waf_firewall","attributes":{"active_rules_fastly_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_score_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_score_count":0,"active_rules_trustwave_block_count":0,"active_rules_trustwave_log_count":0,"created_at":"2020-10-09T09:28:43Z","disabled":false,"prefetch_condition":"","response":"WAf_Response","service_id":"0Ez5eLazQudDmMaeJ6sk4A","service_version_number":2,"updated_at":"2020-10-09T09:28:43Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
