---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://rt.fastly.com/v1/channel/7i6HN3TK9wS159v2gPAZ8A/ts/0/limit/3
    method: GET
  response:
    body: '{"Data":[],"Timestamp":1501167749,"AggregateDelay":9,"Error":"No data available,
      please retry"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Debug-Digest:
      - 7c87051cd549c7d23b25466bf564a7bcdd0b3f54a98aee21e309e3dc56f343ba
      X-Fastly-Rts:
      - whistler-iad2500
    status: 200 OK
    code: 200
