---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://rt.fastly.com/v1/channel/7i6HN3TK9wS159v2gPAZ8A/ts/0/limit/3
    method: GET
  response:
    body: '{"Data":[],"Timestamp":1557603007,"AggregateDelay":9,"Error":"No data available,
      please retry"}'
    headers:
      Content-Type:
      - application/json
      X-Fastly-Rts:
      - whistler-sjc3556
    status: 200 OK
    code: 200
