---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - bbE06UJYsHy-ukGS4jDsES0x5AYD1knx
    url: https://rt.fastly.com/v1/channel/7i6HN3TK9wS159v2gPAZ8A/ts/0/limit/3
    method: GET
  response:
    body: '{"Data":[],"Timestamp":1610621200,"AggregateDelay":9,"Error":"No data available,
      please retry"}'
    headers:
      Content-Type:
      - application/json
      X-Fastly-Rts:
      - df-prod-us-east1-whistler02
    status: 200 OK
    code: 200
    duration: ""
