---
version: 1
interactions:
- request:
    body: name=TestClient_GetConfigStoreMetadata
    form:
      name:
      - TestClient_GetConfigStoreMetadata
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/resources/stores/config
    method: POST
  response:
    body: '{"name":"TestClient_GetConfigStoreMetadata","id":"vf9waa8ZtKdP68D6MIN7M7","created_at":"2023-03-01T22:12:19Z","updated_at":"2023-03-01T22:12:19Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
