---
version: 1
interactions:
- request:
    body: |
      {"data":[{"type":"waf_active_rule","attributes":{"modsec_rule_id":2029718,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":2037405,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":1010070,"revision":1,"status":"log"}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json; ext=bulk
    url: https://api.fastly.com/waf/firewalls/6YqagDC62Z4bIFpsNBzxVm/versions/1/active-rules
    method: POST
  response:
    body: '{"data":[{"id":"2hSd4y1hudZJPE1qbZvDQz","type":"waf_active_rule","attributes":{"created_at":"2020-10-07T13:09:09Z","latest_revision":1,"modsec_rule_id":2029718,"outdated":false,"revision":1,"status":"log","updated_at":"2020-10-07T13:09:09Z"},"relationships":{"waf_firewall_version":{"data":{"id":"138SmQjgMETTvw0Fdagfvv","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"6ZJML5tsy5uVq1nGNgmZ78","type":"waf_rule_revision"}}}},{"id":"7ZMBRI5js2ilh5BtgXiNNO","type":"waf_active_rule","attributes":{"created_at":"2020-10-07T13:09:09Z","latest_revision":1,"modsec_rule_id":2037405,"outdated":false,"revision":1,"status":"log","updated_at":"2020-10-07T13:09:09Z"},"relationships":{"waf_firewall_version":{"data":{"id":"138SmQjgMETTvw0Fdagfvv","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"3ANlv7vVZdzk2qFXlJLIk3","type":"waf_rule_revision"}}}},{"id":"4BoYJt6J1fMXWjtGG3LyRb","type":"waf_active_rule","attributes":{"created_at":"2020-10-07T13:09:09Z","latest_revision":1,"modsec_rule_id":1010070,"outdated":false,"revision":1,"status":"log","updated_at":"2020-10-07T13:09:09Z"},"relationships":{"waf_firewall_version":{"data":{"id":"138SmQjgMETTvw0Fdagfvv","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"2qiuFDyJoxuKkKkJYjrgsC","type":"waf_rule_revision"}}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
