---
version: 1
interactions:
- request:
    body: check_interval=2500&expected_response=200&host=example.com&initial=10&method=HEAD&name=test-healthcheck&path=%2Ffoo&threshold=10&timeout=1500&window=5000&headers=%5B"Foo:Bar","Baz:Qux"%5D
    form:
      check_interval:
      - "2500"
      expected_response:
      - "200"
      headers:
      - '["Foo:Bar","Baz:Qux"]'
      host:
      - example.com
      initial:
      - "10"
      method:
      - HEAD
      name:
      - test-healthcheck
      path:
      - /foo
      threshold:
      - "10"
      timeout:
      - "1500"
      window:
      - "5000"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/5/healthcheck
    method: POST
  response:
    body: '{"check_interval":2500,"expected_response":200,"host":"example.com","initial":10,"method":"HEAD","name":"test-healthcheck","path":"/foo","threshold":10,"timeout":1500,"window":5000,"headers":["Baz:
      Qux","Foo: Bar"],"service_id":"XsjdElScZGjmfCcTwsYRC1","version":5,"deleted_at":null,"comment":"","created_at":"2025-08-29T19:34:43Z","http_version":"1.1","updated_at":"2025-08-29T19:34:43Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9980"
      Fastly-Ratelimit-Reset:
      - "1756497600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
