---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/5/healthcheck/test-healthcheck
    method: GET
  response:
    body: '{"check_interval":2500,"host":"example.com","name":"test-healthcheck","initial":10,"method":"HEAD","threshold":10,"window":5000,"headers":["Baz:
      Qux","Foo: Bar"],"version":5,"timeout":1500,"created_at":"2025-08-29T19:34:43Z","expected_response":200,"deleted_at":null,"comment":"","path":"/foo","updated_at":"2025-08-29T19:34:43Z","http_version":"1.1","service_id":"XsjdElScZGjmfCcTwsYRC1"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
