---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/5/healthcheck
    method: GET
  response:
    body: '[{"deleted_at":null,"comment":"","path":"/foo","expected_response":200,"threshold":10,"service_id":"XsjdElScZGjmfCcTwsYRC1","host":"example.com","version":5,"http_version":"1.1","name":"test-healthcheck","headers":["Baz:
      Qux","Foo: Bar"],"method":"HEAD","check_interval":2500,"updated_at":"2025-08-29T19:34:43Z","window":5000,"initial":10,"created_at":"2025-08-29T19:34:43Z","timeout":1500}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
