---
version: 1
interactions:
- request:
    body: name=new-test-healthcheck&headers=%5B"Beep:Boop"%5D
    form:
      headers:
      - '["Beep:Boop"]'
      name:
      - new-test-healthcheck
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/5/healthcheck/test-healthcheck
    method: PUT
  response:
    body: '{"check_interval":2500,"host":"example.com","name":"new-test-healthcheck","initial":10,"method":"HEAD","threshold":10,"window":5000,"timeout":1500,"headers":["Beep:Boop"],"version":5,"created_at":"2025-08-29T19:34:43Z","expected_response":200,"deleted_at":null,"comment":"","path":"/foo","updated_at":"2025-08-29T19:34:43Z","http_version":"1.1","service_id":"XsjdElScZGjmfCcTwsYRC1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9979"
      Fastly-Ratelimit-Reset:
      - "1756497600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
