---
version: 1
interactions:
- request:
    body: '{"config":{"host":"https://example.exampleJira.net","issue_type":"Bug","key":"ATATT3xFfGF0a1b2c3d4e5f6789012345678901234567890","project":"TEST","username":"testuser"},"description":"This
      is a test alert.","events":["flag"],"type":"jira"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: POST
  response:
    body: |
      {"id":"686feb8235979da87e604280","description":"This is a test alert.","type":"jira","config":{"host":"https://example.exampleJira.net","issue_type":"Bug","key":"ATATT3xFfGF0a1b2c3d4e5f6789012345678901234567890","project":"TEST","username":"testuser"},"events":["flag"],"created_at":"2025-07-10T16:34:10Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
