---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/oIb247xKeTGgwPoVPA2PJ3/alerts
    method: GET
  response:
    body: |
      {"data":[{"id":"686fe585941f26e44ade1785","description":"This is a test alert.","type":"jira","config":{"host":"https://example.exampleJira.net","issue_type":"Bug","key":"ATATT3xFfGF0b2c3d4e5f6789012345678901234567891","project":"UPDATED","username":"updateduser"},"events":["flag"],"created_at":"2025-07-10T16:08:37Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}],"meta":{"limit":100,"total":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
