---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts/686feb8235979da87e604280
    method: GET
  response:
    body: |
      {"id":"686feb8235979da87e604280","description":"This is a test alert.","type":"jira","config":{"host":"https://example.exampleJira.net","issue_type":"Bug","key":"ATATT3xFfGF0a1b2c3d4e5f6789012345678901234567890","project":"TEST","username":"testuser"},"events":["flag"],"created_at":"2025-07-10T16:34:10Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
