---
version: 1
interactions:
- request:
    body: '{"operation_ids":["VgcOgUxvSwSNadkO-ViBBg"],"tag_ids":["uLiFDnWcQ9agyy3pLMw4fQ"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/operations-bulk-tags
    method: POST
  response:
    body: |
      {"data":[{"id":"VgcOgUxvSwSNadkO-ViBBg","status_code":200}]}
    headers:
      Content-Type:
      - application/json
    status: 207 Multi-Status
    code: 207
    duration: ""
