---
version: 1
interactions:
- request:
    body: '{"operations":[{"method":"GET","domain":"example.com","path":"/bulk-test-1","description":"bulk
      test 1"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/operations-bulk
    method: POST
  response:
    body: |
      {"data":[{"id":"zAhiyfdXQm6KSKj8NF0-WA","status_code":201,"operation":{"id":"zAhiyfdXQm6KSKj8NF0-WA","method":"GET","domain":"example.com","path":"/bulk-test-1","description":"bulk test 1","rps":0,"updated_at":"2026-03-09T16:57:39Z","created_at":"2026-03-09T16:57:39Z"}}]}
    headers:
      Content-Type:
      - application/json
    status: 207 Multi-Status
    code: 207
    duration: ""
