---
version: 1
interactions:
- request:
    body: '{"operation_ids":["fDbbMJtKRtSBozjV1HCZUA"],"status":"IGNORED"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/discovered-operations-bulk
    method: PATCH
  response:
    body: |
      {"data":[{"id":"fDbbMJtKRtSBozjV1HCZUA","status_code":200}]}
    headers:
      Content-Type:
      - application/json
    status: 207 Multi-Status
    code: 207
    duration: ""
