---
version: 1
interactions:
- request:
    body: '{"operation_ids":["zAhiyfdXQm6KSKj8NF0-WA"],"tag_ids":["Ox4NMs8SRJujO1ouCXq3EA"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/operations-bulk-tags
    method: POST
  response:
    body: |
      {"data":[{"id":"zAhiyfdXQm6KSKj8NF0-WA","status_code":200}]}
    headers:
      Content-Type:
      - application/json
    status: 207 Multi-Status
    code: 207
    duration: ""
