---
version: 1
interactions:
- request:
    body: '{"method":"GET","domain":"example.com","path":"/test-pagination","tag_ids":["1Dtse3nGTRGBfQUTPIeFWw"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/operations
    method: POST
  response:
    body: |
      {"id":"sLTULjIBSV6SA1DHpnWTvQ","method":"GET","domain":"example.com","path":"/test-pagination","tag_ids":["1Dtse3nGTRGBfQUTPIeFWw"],"rps":0,"updated_at":"2026-03-16T16:41:56Z","created_at":"2026-03-16T16:41:56Z","status":"SAVED"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
