---
version: 1
interactions:
- request:
    body: '{"method":"GET","domain":"example.com","path":"/test","tag_ids":["I8TSFtYUQFe3m9TkAW9tjw"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/operations
    method: POST
  response:
    body: |
      {"id":"-T6YjeTHQ76VxUUqdWVM3Q","method":"GET","domain":"example.com","path":"/test","tag_ids":["I8TSFtYUQFe3m9TkAW9tjw"],"updated_at":"2026-02-27T02:36:55Z","created_at":"2026-02-27T02:36:55Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
