---
version: 1
interactions:
- request:
    body: '{"name":"test-tag-tags-pagination","description":"go-fastly test tag 2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags
    method: POST
  response:
    body: |
      {"id":"yWlcUHKQS1K86TcQ9IRCLQ","name":"test-tag-tags-pagination","description":"go-fastly test tag 2","created_at":"2026-03-17T11:31:14Z","updated_at":"2026-03-17T11:31:14Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
