---
version: 1
interactions:
- request:
    body: '{"name":"test-tag-tags","description":"go-fastly test tag"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags
    method: POST
  response:
    body: |
      {"id":"LhK0mzgzS2SBhipc7JgqdQ","name":"test-tag-tags","description":"go-fastly test tag","created_at":"2026-02-27T02:36:58Z","updated_at":"2026-02-27T02:36:58Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
