---
version: 1
interactions:
- request:
    body: '{"method":"GET","domain":"example.com","path":"/test","tag_ids":["Ox4NMs8SRJujO1ouCXq3EA"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/operations
    method: POST
  response:
    body: |
      {"id":"fDbbMJtKRtSBozjV1HCZUA","method":"GET","domain":"example.com","path":"/test","tag_ids":["Ox4NMs8SRJujO1ouCXq3EA"],"rps":0,"updated_at":"2026-03-09T16:57:36Z","created_at":"2026-03-09T16:57:36Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
