---
version: 1
interactions:
- request:
    body: '{"name":"test-tag-operations","description":"go-fastly test tag"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags
    method: POST
  response:
    body: |
      {"id":"Ox4NMs8SRJujO1ouCXq3EA","name":"test-tag-operations","description":"go-fastly test tag","created_at":"2026-03-09T16:57:35Z","updated_at":"2026-03-09T16:57:35Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
