---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags/GN1UDZZhQm-X5mzfA7YW0w
    method: GET
  response:
    body: |
      {"id":"GN1UDZZhQm-X5mzfA7YW0w","name":"test-tag-tags","description":"go-fastly test tag","created_at":"2026-03-09T16:57:41Z","updated_at":"2026-03-09T16:57:41Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
