---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags/3NpbbGo5ShePXxg8MjWKYQ
    method: GET
  response:
    body: |
      {"id":"3NpbbGo5ShePXxg8MjWKYQ","name":"test-tag-tags","description":"go-fastly test tag","created_at":"2026-03-17T11:31:13Z","updated_at":"2026-03-17T11:31:13Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
