---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags/LhK0mzgzS2SBhipc7JgqdQ
    method: GET
  response:
    body: |
      {"id":"LhK0mzgzS2SBhipc7JgqdQ","name":"test-tag-tags","description":"go-fastly test tag","created_at":"2026-02-27T02:36:58Z","updated_at":"2026-02-27T02:36:58Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
