---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/operations/-T6YjeTHQ76VxUUqdWVM3Q
    method: GET
  response:
    body: |
      {"id":"-T6YjeTHQ76VxUUqdWVM3Q","method":"GET","domain":"example.com","path":"/test","tag_ids":["I8TSFtYUQFe3m9TkAW9tjw"],"updated_at":"2026-02-27T02:36:55Z","created_at":"2026-02-27T02:36:55Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
