---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/operations/D1sqABnCSFC-YjsRjnuZVA
    method: GET
  response:
    body: |
      {"id":"D1sqABnCSFC-YjsRjnuZVA","method":"GET","domain":"example.com","path":"/test","tag_ids":["uLiFDnWcQ9agyy3pLMw4fQ"],"rps":0,"updated_at":"2026-03-11T12:55:55Z","created_at":"2026-03-11T12:55:55Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
