---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags/mt6oFlJkScCH37C9QgHeaw
    method: GET
  response:
    body: |
      {"id":"mt6oFlJkScCH37C9QgHeaw","name":"test-tag-tags","description":"go-fastly test tag","created_at":"2026-03-11T12:55:59Z","updated_at":"2026-03-11T12:55:59Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
