---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/discovered-operations?domain=example.com&method=GET&path=%2Ftest&status=SAVED
    method: GET
  response:
    body: |
      {"data":[{"method":"GET","domain":"example.com","path":"/test","status":"SAVED","updated_at":"2026-02-27T02:36:56Z"},{"method":"DELETE","domain":"www.foo.com","path":"/api/v1/users/{var1}","status":"SAVED","updated_at":"2026-02-02T14:33:19Z"}],"meta":{"total":2,"limit":100}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
