---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/operations?domain=example.com&method=GET&path=%2Ftest
    method: GET
  response:
    body: |
      {"data":[{"id":"-T6YjeTHQ76VxUUqdWVM3Q","method":"GET","domain":"example.com","path":"/test","description":"updated","tag_ids":["I8TSFtYUQFe3m9TkAW9tjw"],"updated_at":"2026-02-27T02:36:56Z","created_at":"2026-02-27T02:36:55Z"},{"id":"n7CSe4itRq2bq6xvuYnSgw","method":"DELETE","domain":"www.foo.com","path":"/api/v1/users/{var1}","description":"Retrieve user information","updated_at":"2026-02-02T14:33:19Z","created_at":"2026-02-02T14:27:16Z"}],"meta":{"total":2,"limit":100}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
