---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags?limit=100&page=0
    method: GET
  response:
    body: |
      {"data":[{"id":"EAMd6o7_SnSXJWWTNX6brg","name":"foo","description":"Retrieve user information","created_at":"2026-02-26T01:13:34Z","updated_at":"2026-02-26T01:13:34Z"},{"id":"GN1UDZZhQm-X5mzfA7YW0w","name":"test-tag-tags","description":"updated","created_at":"2026-03-09T16:57:41Z","updated_at":"2026-03-09T16:57:42Z"},{"id":"PfsDScj7THG8EyKtn1ICiA","name":"foobar","description":"Retrieve user information","created_at":"2026-02-26T01:13:25Z","updated_at":"2026-02-26T01:13:25Z"},{"id":"UeBK15hUQH610naMeuOY_Q","name":"boom","description":"Retrieve user information","created_at":"2026-02-26T15:49:09Z","updated_at":"2026-02-26T15:49:09Z"},{"id":"l-61qHIPTEywiP2keGKaxA","name":"bar","description":"Retrieve user information","created_at":"2026-02-26T01:13:39Z","updated_at":"2026-02-26T01:13:39Z"}],"meta":{"total":5}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
