---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/discovered-operations?domain=example.com&method=GET&path=%2Ftest&status=SAVED
    method: GET
  response:
    body: |
      {"data":[{"id":"fDbbMJtKRtSBozjV1HCZUA","method":"GET","domain":"example.com","path":"/test","status":"SAVED","rps":0,"updated_at":"2026-03-09T16:57:37Z"}],"meta":{"total":1,"limit":100}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
