---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags?limit=1&page=0
    method: GET
  response:
    body: |
      {"data":[{"id":"3NpbbGo5ShePXxg8MjWKYQ","name":"test-tag-tags","description":"updated","created_at":"2026-03-17T11:31:13Z","updated_at":"2026-03-17T11:31:14Z"}],"meta":{"total":7,"limit":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
