---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags?limit=1&page=1
    method: GET
  response:
    body: |
      {"data":[{"id":"EAMd6o7_SnSXJWWTNX6brg","name":"foo","description":"Retrieve user information","created_at":"2026-02-26T01:13:34Z","updated_at":"2026-02-26T01:13:34Z"}],"meta":{"total":7,"limit":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
