---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags?limit=100&page=0
    method: GET
  response:
    body: |
      {"data":[{"id":"3NpbbGo5ShePXxg8MjWKYQ","name":"test-tag-tags","description":"updated","created_at":"2026-03-17T11:31:13Z","updated_at":"2026-03-17T11:31:14Z"},{"id":"EAMd6o7_SnSXJWWTNX6brg","name":"foo","description":"Retrieve user information","created_at":"2026-02-26T01:13:34Z","updated_at":"2026-02-26T01:13:34Z"},{"id":"PfsDScj7THG8EyKtn1ICiA","name":"foobar","description":"Retrieve user information","created_at":"2026-02-26T01:13:25Z","updated_at":"2026-02-26T01:13:25Z"},{"id":"UeBK15hUQH610naMeuOY_Q","name":"boom","description":"Retrieve user information","created_at":"2026-02-26T15:49:09Z","updated_at":"2026-02-26T15:49:09Z"},{"id":"gJoz8_A2SXW93RIQ4rZh0A","name":"atag","created_at":"2026-03-13T18:08:42Z","updated_at":"2026-03-13T18:08:42Z"},{"id":"l-61qHIPTEywiP2keGKaxA","name":"bar","description":"Retrieve user information","created_at":"2026-02-26T01:13:39Z","updated_at":"2026-02-26T01:13:39Z"},{"id":"yWlcUHKQS1K86TcQ9IRCLQ","name":"test-tag-tags-pagination","description":"go-fastly test tag 2","created_at":"2026-03-17T11:31:14Z","updated_at":"2026-03-17T11:31:14Z"}],"meta":{"total":7,"limit":100}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
