---
version: 1
interactions:
- request:
    body: '{"name":"test-tag-tags","description":"updated"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags/mt6oFlJkScCH37C9QgHeaw
    method: PATCH
  response:
    body: |
      {"id":"mt6oFlJkScCH37C9QgHeaw","name":"test-tag-tags","description":"updated","created_at":"2026-03-11T12:55:59Z","updated_at":"2026-03-11T12:56:01Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
