---
version: 1
interactions:
- request:
    body: '{"name":"test-tag-tags","description":"updated"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags/LhK0mzgzS2SBhipc7JgqdQ
    method: PATCH
  response:
    body: |
      {"id":"LhK0mzgzS2SBhipc7JgqdQ","name":"test-tag-tags","description":"updated","created_at":"2026-02-27T02:36:58Z","updated_at":"2026-02-27T02:36:59Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
