---
version: 1
interactions:
- request:
    body: '{"description":"updated","tag_ids":["1Dtse3nGTRGBfQUTPIeFWw"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/operations/j0xdcKMURt2IuYUgXCbCSw
    method: PATCH
  response:
    body: |
      {"id":"j0xdcKMURt2IuYUgXCbCSw","method":"GET","domain":"example.com","path":"/test","description":"updated","tag_ids":["1Dtse3nGTRGBfQUTPIeFWw"],"rps":0,"updated_at":"2026-03-16T16:41:57Z","created_at":"2026-03-16T16:41:55Z","status":"SAVED"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
