---
version: 1
interactions:
- request:
    body: '{"name":"test-tag-tags","description":"updated"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags/GN1UDZZhQm-X5mzfA7YW0w
    method: PATCH
  response:
    body: |
      {"id":"GN1UDZZhQm-X5mzfA7YW0w","name":"test-tag-tags","description":"updated","created_at":"2026-03-09T16:57:41Z","updated_at":"2026-03-09T16:57:42Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
