---
version: 1
interactions:
- request:
    body: '{"name":"test-tag-tags","description":"updated"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/tags/3NpbbGo5ShePXxg8MjWKYQ
    method: PATCH
  response:
    body: |
      {"id":"3NpbbGo5ShePXxg8MjWKYQ","name":"test-tag-tags","description":"updated","created_at":"2026-03-17T11:31:13Z","updated_at":"2026-03-17T11:31:14Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
