---
version: 1
interactions:
- request:
    body: '{"status":"IGNORED"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/discovered-operations/fDbbMJtKRtSBozjV1HCZUA
    method: PATCH
  response:
    body: |
      {"id":"fDbbMJtKRtSBozjV1HCZUA","method":"GET","domain":"example.com","path":"/test","status":"IGNORED","rps":0,"updated_at":"2026-03-09T16:57:38Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
