---
version: 1
interactions:
- request:
    body: '{"description":"updated","tag_ids":["I8TSFtYUQFe3m9TkAW9tjw"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/api-security/v1/services/kKJb5bOFI47uHeBVluGfX1/operations/-T6YjeTHQ76VxUUqdWVM3Q
    method: PATCH
  response:
    body: |
      {"id":"-T6YjeTHQ76VxUUqdWVM3Q","method":"GET","domain":"example.com","path":"/test","description":"updated","tag_ids":["I8TSFtYUQFe3m9TkAW9tjw"],"updated_at":"2026-02-27T02:36:56Z","created_at":"2026-02-27T02:36:55Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
