---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_exclusion","attributes":{"condition":"req.url.basename == \"index.html\"","exclusion_type":"rule","name":"index page","number":null},"relationships":{"waf_rules":{"data":[{"type":"waf_rule","id":"2029718"},{"type":"waf_rule","id":"2037405"}]}}},"included":[{"type":"waf_rule","id":"2037405","attributes":{"modsec_rule_id":2037405}},{"type":"waf_rule","id":"2029718","attributes":{"modsec_rule_id":2029718}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/1xYVGs7oS8oyb50vzAwt6m/versions/1/exclusions
    method: POST
  response:
    body: '{"data":{"id":"20jqJrvLdhycs7idQHKWGV","type":"waf_exclusion","attributes":{"condition":"req.url.basename
      == \"index.html\"","created_at":"2021-11-03T17:30:10Z","exclusion_type":"rule","logging":true,"name":"index
      page","number":1,"updated_at":"2021-11-03T17:30:10Z","variable":null},"relationships":{"waf_rules":{"data":[{"id":"1YveWU8qwEYidE8WAiZqCN","type":"waf_rule"},{"id":"VovV0PIWJCm33k1piDpnX","type":"waf_rule"}]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
    code: 201
    duration: ""
