---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_exclusion","attributes":{"condition":"req.url.basename == \"index.php\"","exclusion_type":"rule","name":"index php","number":null},"relationships":{"waf_rules":{"data":[{"type":"waf_rule","id":"21032607"}]}}},"included":[{"type":"waf_rule","id":"21032607","attributes":{"modsec_rule_id":21032607}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/0X4nl0cbPXgtSZ7VgfPls2/versions/1/exclusions
    method: POST
  response:
    body: '{"data":{"id":"J8sV7Xn7ss2u3TI4JoU8s","type":"waf_exclusion","attributes":{"condition":"req.url.basename
      == \"index.php\"","created_at":"2021-01-14T10:27:50Z","exclusion_type":"rule","logging":true,"name":"index
      php","number":2,"updated_at":"2021-01-14T10:27:50Z","variable":null},"relationships":{"waf_rules":{"data":[{"id":"16kRBJ5RrNGYcnQ9EEiawe","type":"waf_rule"}]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
    code: 201
    duration: ""
