---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_exclusion","attributes":{"condition":"req.url.basename == \"index.php\"","exclusion_type":"rule","name":"index php","number":null},"relationships":{"waf_rules":{"data":[{"type":"waf_rule","id":"21032607"}]}}},"included":[{"type":"waf_rule","id":"21032607","attributes":{"modsec_rule_id":21032607}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/1YwZnVgr910HP3I8WRlhwE/versions/1/exclusions
    method: POST
  response:
    body: '{"data":{"id":"7hTcQkaAY1Ix0oB1i7U9FO","type":"waf_exclusion","attributes":{"created_at":"2020-10-09T09:28:43Z","exclusion_type":"rule","condition":"req.url.basename
      == \"index.php\"","name":"index php","number":2,"updated_at":"2020-10-09T09:28:43Z"},"relationships":{"waf_rules":{"data":[{"id":"16kRBJ5RrNGYcnQ9EEiawe","type":"waf_rule"}]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
