---
version: 1
rwmutex: {}
interactions:
- request:
    body: Backend=backend&Director=director&Service=7i6HN3TK9wS159v2gPAZ8A&Version=673
    form:
      Backend:
      - backend
      Director:
      - director
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "673"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/673/director/director/backend/backend
    method: POST
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":673,"director_name":"director","backend_name":"backend","created_at":"2017-07-20T01:15:01+00:00","deleted_at":null,"updated_at":"2017-07-20T01:15:01+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "973"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
