---
version: 1
interactions:
- request:
    body: Backend=backend&Director=director&ServiceID=kKJb5bOFI47uHeBVluGfX1&ServiceVersion=60
    form:
      Backend:
      - backend
      Director:
      - director
      ServiceID:
      - kKJb5bOFI47uHeBVluGfX1
      ServiceVersion:
      - "60"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/60/director/director/backend/backend
    method: POST
  response:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1","version":60,"director_name":"director","backend_name":"backend","created_at":"2021-11-03T16:18:54Z","updated_at":"2021-11-03T16:18:54Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4923"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
