---
version: 1
interactions:
- request:
    body: Backend=backend&Director=director&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=21
    form:
      Backend:
      - backend
      Director:
      - director
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "21"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/21/director/director/backend/backend
    method: POST
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":21,"director_name":"director","backend_name":"backend","created_at":"2021-01-14T10:25:51Z","updated_at":"2021-01-14T10:25:51Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "922"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
