---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/16/director/director/backend/backend
    method: GET
  response:
    body: '{"deleted_at":null,"version":16,"created_at":"2019-05-08T22:38:27Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","backend_name":"backend","director_name":"director","updated_at":"2019-05-08T22:38:27Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
