---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/21/director/director/backend/backend
    method: GET
  response:
    body: '{"director_name":"director","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"backend_name":"backend","created_at":"2021-01-14T10:25:51Z","version":21,"updated_at":"2021-01-14T10:25:51Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
