---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/60/director/director/backend/backend
    method: GET
  response:
    body: '{"director_name":"director","updated_at":"2021-11-03T16:18:54Z","version":60,"backend_name":"backend","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"created_at":"2021-11-03T16:18:54Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
