---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/673/director/director/backend/backend
    method: GET
  response:
    body: '{"created_at":"2017-07-20T01:15:01+00:00","version":673,"backend_name":"backend","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2017-07-20T01:15:01+00:00","director_name":"director"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
