---
version: 1
interactions:
- request:
    body: comment=comment&name=integ-test1.go-fastly-1.com
    form:
      comment:
      - comment
      name:
      - integ-test1.go-fastly-1.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/3/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test1.go-fastly-1.com","service_id":"kKJb5bOFI47uHeBVluGfX1","version":3,"updated_at":"2024-05-07T12:51:56Z","created_at":"2024-05-07T12:51:56Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9996"
      Fastly-Ratelimit-Reset:
      - "1715086800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
