---
version: 1
interactions:
- request:
    body: comment=comment&name=integ-test2.go-fastly-2.com
    form:
      comment:
      - comment
      name:
      - integ-test2.go-fastly-2.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/143/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test2.go-fastly-2.com","service_id":"kKJb5bOFI47uHeBVluGfX1","version":143,"updated_at":"2025-09-08T17:11:11Z","created_at":"2025-09-08T17:11:11Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9973"
      Fastly-Ratelimit-Reset:
      - "1757354400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
