---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=6&comment=comment&name=integ-test2.go-fastly-2.com
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "6"
      comment:
      - comment
      name:
      - integ-test2.go-fastly-2.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/6/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test2.go-fastly-2.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":6,"updated_at":"2022-08-22T10:45:36Z","deleted_at":null,"created_at":"2022-08-22T10:45:36Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4986"
      Fastly-Ratelimit-Reset:
      - "1661166000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
