---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/22/logging/honeycomb/test-honeycomb
    method: GET
  response:
    body: '{"placement":"none","created_at":"2025-09-02T17:11:46Z","format_version":"2","token":"super-secure-token","updated_at":"2025-09-02T17:11:46Z","name":"test-honeycomb","dataset":"testDataset","version":"22","service_id":"XsjdElScZGjmfCcTwsYRC1","response_condition":"","format":"%h
      %l %u %t \"%r\" %\u003es %b","deleted_at":null,"log_processing_region":"none"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
