---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/114/logging/honeycomb/test-honeycomb
    method: GET
  response:
    body: '{"placement":"none","name":"test-honeycomb","format_version":"2","format":"%h
      %l %u %t \"%r\" %\u003es %b","version":"114","created_at":"2026-07-23T19:39:31Z","response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","token":"super-secure-token","dataset":"testDataset","log_processing_region":"none","updated_at":"2026-07-23T19:39:31Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
