---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/22/logging/honeycomb
    method: GET
  response:
    body: '[{"token":"super-secure-token","format_version":"2","log_processing_region":"none","name":"test-honeycomb","dataset":"testDataset","service_id":"XsjdElScZGjmfCcTwsYRC1","updated_at":"2025-09-02T17:11:46Z","format":"%h
      %l %u %t \"%r\" %\u003es %b","created_at":"2025-09-02T17:11:46Z","response_condition":"","deleted_at":null,"placement":"none","version":"22"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
