---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/114/logging/honeycomb
    method: GET
  response:
    body: '[{"created_at":"2026-07-23T19:39:31Z","log_processing_region":"none","updated_at":"2026-07-23T19:39:31Z","placement":"none","deleted_at":null,"format_version":"2","version":"114","response_condition":"","format":"%h
      %l %u %t \"%r\" %\u003es %b","service_id":"XsjdElScZGjmfCcTwsYRC1","token":"super-secure-token","dataset":"testDataset","name":"test-honeycomb"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
