---
version: 1
interactions:
- request:
    body: dataset=newDataset&log_processing_region=eu&name=new-test-honeycomb&token=new-token
    form:
      dataset:
      - newDataset
      log_processing_region:
      - eu
      name:
      - new-test-honeycomb
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/22/logging/honeycomb/test-honeycomb
    method: PUT
  response:
    body: '{"updated_at":"2025-09-02T17:11:46Z","deleted_at":null,"dataset":"newDataset","service_id":"XsjdElScZGjmfCcTwsYRC1","created_at":"2025-09-02T17:11:46Z","response_condition":"","log_processing_region":"eu","name":"new-test-honeycomb","format":"%h
      %l %u %t \"%r\" %\u003es %b","version":"22","token":"new-token","placement":"none","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9957"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
