---
version: 1
interactions:
- request:
    body: '{"dataset":"newDataset","name":"new-test-honeycomb","placement":"none","log_processing_region":"eu","token":"new-token"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/114/logging/honeycomb/test-honeycomb
    method: PUT
  response:
    body: '{"updated_at":"2026-07-23T19:39:31Z","token":"new-token","format":"%h %l
      %u %t \"%r\" %\u003es %b","response_condition":"","created_at":"2026-07-23T19:39:31Z","placement":"none","dataset":"newDataset","deleted_at":null,"version":"114","log_processing_region":"eu","format_version":"2","name":"new-test-honeycomb","service_id":"XsjdElScZGjmfCcTwsYRC1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9405"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
