---
version: 1
interactions:
- request:
    body: '{"Config":{"apikey":"g4ff854d-a14c-46a8-b8f0-0960774319dd"},"Description":"test
      jsm description","Name":"test jsm name","Type":"jsm"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/notifications/integrations
    method: POST
  response:
    body: |
      {"integration_id":"1sZoqRMehJcs3JSuSjuSZ5"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
