---
version: 1
interactions:
- request:
    body: '{"Config":{"url":"https://alert.victorops.com/integrations/generic/20131114/alert/XXXX"},"Description":"test
      splunkoncall description","Name":"test splunkoncall name","Type":"splunkoncall"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/notifications/integrations
    method: POST
  response:
    body: |
      {"integration_id":"1uk4flt3WMVQU2xi9Z7j7J"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
