---
version: 1
interactions:
- request:
    body: '{"Config":{"address":"noreply@fastly.com"},"Description":"test description","Name":"test
      name","Type":"mailinglist"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/notifications/integrations
    method: POST
  response:
    body: |
      {"integration_id":"65OAPIbrOe7nhD7NsjyIgo"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
