---
version: 1
interactions:
- request:
    body: '{"Config":{"apikey":"abc123def456","site":"datadoghq.eu"},"Description":"test
      datadog description","Name":"test datadog name","Type":"datadog"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/notifications/integrations
    method: POST
  response:
    body: |
      {"integration_id":"1rno9PjY2gML151lMmISgH"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
