---
version: 1
interactions:
- request:
    body: '{"Config":{"apikey":"a1bb854d-b24c-46a8-c9f0-1960774319ee"},"Description":"test
      opsgenie description","Name":"test opsgenie name","Type":"opsgenie"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/notifications/integrations
    method: POST
  response:
    body: |
      {"integration_id":"1tCOKPaspcCdEPFoiDjLV1"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
