---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/integrations/3CrNzH0A2XrdLyLPqjybvW
    method: GET
  response:
    body: |
      {"id":"3CrNzH0A2XrdLyLPqjybvW","name":"test name","description":"test description","type":"mailinglist","created_at":"2024-04-09T21:52:31Z","updated_at":"2024-04-09T21:52:31Z","status":"confirmation_pending","config":{"address":"noreply@fastly.com"}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
