---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/integrations/4oQXGNaVt2yKjZDuDpmiT9
    method: GET
  response:
    body: |
      {"id":"4oQXGNaVt2yKjZDuDpmiT9","name":"test datadog name","description":"test datadog description","type":"datadog","created_at":"2026-08-04T16:57:24Z","updated_at":"2026-08-04T16:57:24Z","config":{"site":"datadoghq.eu"}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
