---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/integrations/4rfZaUhKnFyjHseJLt9Vwn
    method: GET
  response:
    body: |
      {"id":"4rfZaUhKnFyjHseJLt9Vwn","name":"test opsgenie name","description":"test opsgenie description","type":"opsgenie","created_at":"2026-08-04T16:57:26Z","updated_at":"2026-08-04T16:57:26Z"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
