---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/integrations/1rno9PjY2gML151lMmISgH
    method: GET
  response:
    body: |
      {"id":"1rno9PjY2gML151lMmISgH","name":"test datadog name","description":"test datadog description","type":"datadog","created_at":"2026-07-28T21:20:41Z","updated_at":"2026-07-28T21:20:41Z","config":{"site":"datadoghq.eu"}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
