---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/integrations/67UyKL6ViyjowdcczOjYJa
    method: GET
  response:
    body: |
      {"id":"67UyKL6ViyjowdcczOjYJa","name":"test name","description":"test description","type":"mailinglist","created_at":"2024-04-15T22:02:01Z","updated_at":"2024-04-15T22:02:01Z","status":"confirmation_pending","config":{"address":"noreply@fastly.com"}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
