---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/integrations/1sa0xb5OlebwIbCZ0YIQpB
    method: GET
  response:
    body: |
      {"id":"1sa0xb5OlebwIbCZ0YIQpB","name":"test jiraissue name","description":"test jiraissue description","type":"jiraissue","created_at":"2026-07-28T21:20:41Z","updated_at":"2026-07-28T21:20:41Z","config":{"baseurl":"https://your-org.atlassian.net","issuetype":"Bug","projectkey":"PROJ","username":"user@example.com"}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
