---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/integrations/4rWdikE8KenpprTLGSZO5J
    method: GET
  response:
    body: |
      {"id":"4rWdikE8KenpprTLGSZO5J","name":"test splunkoncall name","description":"test splunkoncall description","type":"splunkoncall","created_at":"2026-08-04T16:57:27Z","updated_at":"2026-08-04T16:57:27Z"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
