---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/integrations/4pNDOWAg0bsV1TmQqWVxiH
    method: GET
  response:
    body: |
      {"id":"4pNDOWAg0bsV1TmQqWVxiH","name":"test jiraissue name","description":"test jiraissue description","type":"jiraissue","created_at":"2026-08-04T16:57:25Z","updated_at":"2026-08-04T16:57:25Z","config":{"baseurl":"https://your-org.atlassian.net","issuetype":"Bug","projectkey":"PROJ","username":"user@example.com"}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
