---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/integrations/1uk4flt3WMVQU2xi9Z7j7J
    method: GET
  response:
    body: |
      {"id":"1uk4flt3WMVQU2xi9Z7j7J","name":"test splunkoncall name","description":"test splunkoncall description","type":"splunkoncall","created_at":"2026-07-28T21:20:43Z","updated_at":"2026-07-28T21:20:43Z"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
