---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/integrations/1sZoqRMehJcs3JSuSjuSZ5
    method: GET
  response:
    body: |
      {"id":"1sZoqRMehJcs3JSuSjuSZ5","name":"test jsm name","description":"test jsm description","type":"jsm","created_at":"2026-07-28T21:20:42Z","updated_at":"2026-07-28T21:20:42Z"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
