---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/integration-types
    method: GET
  response:
    body: |
      [{"type":"mailinglist","display_name":"Mailing List","custom_fields":[{"name":"address","display_name":"Address","format":"email"}]},{"type":"microsoftteams","display_name":"Microsoft Teams","custom_fields":[{"name":"webhook","display_name":"Webhook URL","format":"url"}]},{"type":"newrelic","display_name":"New Relic","custom_fields":[{"name":"key","display_name":"Key","format":""},{"name":"account","display_name":"Account","format":""}]},{"type":"pagerduty","display_name":"PagerDuty","custom_fields":[{"name":"key","display_name":"Key","format":""}]},{"type":"slack","display_name":"Slack Webhook","custom_fields":[{"[...]
