---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/integrations?cursor=&limit=3&sort=-created_at&type=mailinglist
    method: GET
  response:
    body: |
      {"meta":{"type":"mailinglist","total":2,"limit":3,"sort":"-created_at"},"data":[{"id":"4lFjsCDHJsxi3pUK3pcJ6H","name":"test name","description":"test description","type":"mailinglist","created_at":"2026-08-04T16:57:21Z","updated_at":"2026-08-04T16:57:21Z","status":"confirmation_expired","config":{"address":"noreply@fastly.com"}},{"id":"7zKS2PO4WYGDbBlZc7jvio","name":"Email: email@address.com","description":"","type":"mailinglist","created_at":"2026-05-22T02:14:33Z","updated_at":"2026-05-22T02:14:33Z","status":"needs_confirmation","config":{"address":"email@address.com"}}]}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
