---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/integrations?cursor=&limit=3&sort=-created_at&type=mailinglist
    method: GET
  response:
    body: |
      {"meta":{"type":"mailinglist","total":1,"limit":3,"sort":"-created_at"},"data":[{"id":"2KYt9p4Y1KPhSjwThWG08E","name":"test name","description":"test description","type":"mailinglist","created_at":"2024-04-16T15:52:40Z","updated_at":"2024-04-16T15:52:40Z","status":"confirmation_pending","config":{"address":"noreply@fastly.com"}}]}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
