---
version: 1
interactions:
- request:
    body: '{"Config":{"webhook":"https://foo.com/bar"},"Description":"test description
      updated","ID":"4lFjsCDHJsxi3pUK3pcJ6H","Name":"test name updated","Type":"webhook"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/notifications/integrations/4lFjsCDHJsxi3pUK3pcJ6H
    method: PATCH
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
      Status:
      - 204 No Content
    status: 204 No Content
    code: 204
    duration: ""
