---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=5RZUouxF6dQkKd6RQSla8P&Version=2&name=test_acl_BatchModifyAclEntries_Update
    form:
      Service:
      - 5RZUouxF6dQkKd6RQSla8P
      Version:
      - "2"
      name:
      - test_acl_BatchModifyAclEntries_Update
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/5RZUouxF6dQkKd6RQSla8P/version/2/acl
    method: POST
  response:
    body: '{"service_id":"5RZUouxF6dQkKd6RQSla8P","version":"2","name":"test_acl_BatchModifyAclEntries_Update","deleted_at":null,"updated_at":"2019-07-23T09:37:59Z","created_at":"2019-07-23T09:37:59Z","id":"3Q5Oel6HFcUP0gxxSEkxlJ"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "968"
      Fastly-Ratelimit-Reset:
      - "1563876000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
