---
version: 1
interactions:
- request:
    body: name=test_acl_BatchModifyAclEntries_Update
    form:
      name:
      - test_acl_BatchModifyAclEntries_Update
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3flHGGn2I9AQx02IUyjpm6/version/2/acl
    method: POST
  response:
    body: '{"service_id":"3flHGGn2I9AQx02IUyjpm6","version":"2","name":"test_acl_BatchModifyAclEntries_Update","id":"TU1mU7W8XNHjPyYBEbKRD7","updated_at":"2023-11-28T14:23:20Z","deleted_at":null,"created_at":"2023-11-28T14:23:20Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9984"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
