---
version: 1
interactions:
- request:
    body: ServiceID=0Akek5AFpJCUDYry2Hkju2&ServiceVersion=2&name=test_acl_BatchModifyAclEntries_Update
    form:
      ServiceID:
      - 0Akek5AFpJCUDYry2Hkju2
      ServiceVersion:
      - "2"
      name:
      - test_acl_BatchModifyAclEntries_Update
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/0Akek5AFpJCUDYry2Hkju2/version/2/acl
    method: POST
  response:
    body: '{"service_id":"0Akek5AFpJCUDYry2Hkju2","version":"2","name":"test_acl_BatchModifyAclEntries_Update","id":"5LpMLuDvLHtcpJ8hzbX0VG","deleted_at":null,"created_at":"2021-01-14T10:23:44Z","updated_at":"2021-01-14T10:23:44Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "984"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
