---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Update&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Update
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Update","type":"vcl","versions":[{"created_at":"2022-11-07T13:21:17Z","staging":false,"deleted_at":null,"comment":"","locked":false,"testing":false,"service_id":"hIFHhLCI9PxAnEDzrUMVk3","deployed":false,"updated_at":"2022-11-07T13:21:17Z","number":1,"active":false}],"deleted_at":null,"paused":false,"created_at":"2022-11-07T13:21:17Z","id":"hIFHhLCI9PxAnEDzrUMVk3","updated_at":"2022-11-07T13:21:17Z","publish_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9978"
      Fastly-Ratelimit-Reset:
      - "1667829600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
