---
version: 1
rwmutex: {}
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Update
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Update
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Update","id":"5RZUouxF6dQkKd6RQSla8P","versions":[{"deployed":false,"comment":"","service_id":"5RZUouxF6dQkKd6RQSla8P","deleted_at":null,"updated_at":"2019-07-23T09:37:58Z","locked":false,"active":false,"staging":false,"number":1,"testing":false,"created_at":"2019-07-23T09:37:58Z"}],"created_at":"2019-07-23T09:37:58Z","updated_at":"2019-07-23T09:37:58Z","deleted_at":null,"publish_key":"1727de065b592b00de52380007e78994ffe88d73"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "970"
      Fastly-Ratelimit-Reset:
      - "1563876000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
