---
version: 1
interactions:
- request:
    body: ServiceID=5eExXVGVxVxKhaiNduThkR&ServiceVersion=2&name=test_acl_BatchModifyAclEntries_Update
    form:
      ServiceID:
      - 5eExXVGVxVxKhaiNduThkR
      ServiceVersion:
      - "2"
      name:
      - test_acl_BatchModifyAclEntries_Update
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5eExXVGVxVxKhaiNduThkR/version/2/acl
    method: POST
  response:
    body: '{"service_id":"5eExXVGVxVxKhaiNduThkR","version":"2","name":"test_acl_BatchModifyAclEntries_Update","deleted_at":null,"updated_at":"2021-09-22T11:02:59Z","created_at":"2021-09-22T11:02:59Z","id":"17nbIIGX2ZTN8sfLyLtwgR"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4984"
      Fastly-Ratelimit-Reset:
      - "1632312000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
