---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Update&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Update
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Update","type":"vcl","created_at":"2021-09-22T11:02:58Z","versions":[{"service_id":"5eExXVGVxVxKhaiNduThkR","deployed":false,"staging":false,"active":false,"deleted_at":null,"locked":false,"comment":"","created_at":"2021-09-22T11:02:58Z","updated_at":"2021-09-22T11:02:58Z","testing":false,"number":1}],"deleted_at":null,"paused":false,"publish_key":"","id":"5eExXVGVxVxKhaiNduThkR","updated_at":"2021-09-22T11:02:58Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4986"
      Fastly-Ratelimit-Reset:
      - "1632312000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
