---
version: 1
rwmutex: {}
interactions:
- request:
    body: '{"entries":[{"op":"create","ip":"127.0.0.1","subnet":"24","comment":"ACL
      Entry 1"},{"op":"create","ip":"192.168.0.1","subnet":"24","comment":"ACL Entry
      2"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/5RZUouxF6dQkKd6RQSla8P/acl/3Q5Oel6HFcUP0gxxSEkxlJ/entries
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "967"
      Fastly-Ratelimit-Reset:
      - "1563876000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
