---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Update&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Update
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Update","type":"vcl","publish_key":"","updated_at":"2021-01-14T10:23:44Z","id":"0Akek5AFpJCUDYry2Hkju2","versions":[{"updated_at":"2021-01-14T10:23:44Z","number":1,"locked":false,"service_id":"0Akek5AFpJCUDYry2Hkju2","created_at":"2021-01-14T10:23:44Z","testing":false,"deployed":false,"staging":false,"deleted_at":null,"comment":"","active":false}],"created_at":"2021-01-14T10:23:44Z","deleted_at":null,"paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "986"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
