---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Update&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Update
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Update","type":"vcl","created_at":"2023-11-28T14:23:19Z","publish_key":"","id":"3flHGGn2I9AQx02IUyjpm6","updated_at":"2023-11-28T14:23:19Z","deleted_at":null,"versions":[{"staging":false,"created_at":"2023-11-28T14:23:19Z","active":false,"number":1,"deployed":false,"testing":false,"comment":"","service_id":"3flHGGn2I9AQx02IUyjpm6","deleted_at":null,"updated_at":"2023-11-28T14:23:19Z","locked":false}],"paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9986"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
