---
version: 1
interactions:
- request:
    body: ServiceID=4Hn1qrMGr7wMCST5ZTggPi&ServiceVersion=2&name=test_acl_BatchModifyAclEntries_Update
    form:
      ServiceID:
      - 4Hn1qrMGr7wMCST5ZTggPi
      ServiceVersion:
      - "2"
      name:
      - test_acl_BatchModifyAclEntries_Update
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/4Hn1qrMGr7wMCST5ZTggPi/version/2/acl
    method: POST
  response:
    body: '{"service_id":"4Hn1qrMGr7wMCST5ZTggPi","version":"2","name":"test_acl_BatchModifyAclEntries_Update","created_at":"2021-11-03T14:44:25Z","id":"7BuNhEp3BZ1kaf1liTfwMR","deleted_at":null,"updated_at":"2021-11-03T14:44:25Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4950"
      Fastly-Ratelimit-Reset:
      - "1635951600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
