---
version: 1
interactions:
- request:
    body: name=test_acl_BatchModifyAclEntries_Update
    form:
      name:
      - test_acl_BatchModifyAclEntries_Update
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/hIFHhLCI9PxAnEDzrUMVk3/version/2/acl
    method: POST
  response:
    body: '{"service_id":"hIFHhLCI9PxAnEDzrUMVk3","version":"2","name":"test_acl_BatchModifyAclEntries_Update","id":"6NimVmh4FgcNUkqztPTyv3","updated_at":"2022-11-07T13:21:18Z","created_at":"2022-11-07T13:21:18Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9976"
      Fastly-Ratelimit-Reset:
      - "1667829600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
