---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Update&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Update
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Update","type":"vcl","created_at":"2021-11-03T14:44:25Z","deleted_at":null,"id":"4Hn1qrMGr7wMCST5ZTggPi","versions":[{"service_id":"4Hn1qrMGr7wMCST5ZTggPi","created_at":"2021-11-03T14:44:25Z","active":false,"deleted_at":null,"comment":"","deployed":false,"testing":false,"updated_at":"2021-11-03T14:44:25Z","number":1,"locked":false,"staging":false}],"paused":false,"publish_key":"","updated_at":"2021-11-03T14:44:25Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4952"
      Fastly-Ratelimit-Reset:
      - "1635951600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
