---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/0Akek5AFpJCUDYry2Hkju2/acl/5LpMLuDvLHtcpJ8hzbX0VG/entries
    method: GET
  response:
    body: '[{"updated_at":"2021-01-14T10:23:45Z","subnet":24,"comment":"ACL Entry
      1","service_id":"0Akek5AFpJCUDYry2Hkju2","ip":"127.0.0.1","acl_id":"5LpMLuDvLHtcpJ8hzbX0VG","id":"61QD49PqouKtm7DBKI4PCo","created_at":"2021-01-14T10:23:45Z","negated":"0","deleted_at":null},{"deleted_at":null,"acl_id":"5LpMLuDvLHtcpJ8hzbX0VG","negated":"0","created_at":"2021-01-14T10:23:45Z","id":"5GuOrZyuqqeYps785EQyIu","service_id":"0Akek5AFpJCUDYry2Hkju2","comment":"ACL
      Entry 2","subnet":24,"ip":"192.168.0.1","updated_at":"2021-01-14T10:23:45Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
