---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/hIFHhLCI9PxAnEDzrUMVk3/acl/6NimVmh4FgcNUkqztPTyv3/entries
    method: GET
  response:
    body: '[{"service_id":"hIFHhLCI9PxAnEDzrUMVk3","comment":"ACL Entry 1","negated":"0","updated_at":"2022-11-07T13:21:18Z","id":"dYl0JXQdZIhguhUq5pbB06","subnet":24,"ip":"127.0.0.1","created_at":"2022-11-07T13:21:18Z","acl_id":"6NimVmh4FgcNUkqztPTyv3"},{"created_at":"2022-11-07T13:21:18Z","acl_id":"6NimVmh4FgcNUkqztPTyv3","id":"llfSJyeddmaU66dKHYcRo4","subnet":24,"ip":"192.168.0.1","updated_at":"2022-11-07T13:21:18Z","negated":"1","comment":"ACL
      Entry 2","service_id":"hIFHhLCI9PxAnEDzrUMVk3"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
