---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/hIFHhLCI9PxAnEDzrUMVk3/acl/6NimVmh4FgcNUkqztPTyv3/entries
    method: GET
  response:
    body: '[{"negated":"1","comment":"Updated ACL Entry 1","updated_at":"2022-11-07T13:21:18Z","service_id":"hIFHhLCI9PxAnEDzrUMVk3","ip":"127.0.0.2","id":"dYl0JXQdZIhguhUq5pbB06","subnet":16,"acl_id":"6NimVmh4FgcNUkqztPTyv3","created_at":"2022-11-07T13:21:18Z"},{"acl_id":"6NimVmh4FgcNUkqztPTyv3","created_at":"2022-11-07T13:21:18Z","id":"llfSJyeddmaU66dKHYcRo4","subnet":24,"ip":"192.168.0.1","service_id":"hIFHhLCI9PxAnEDzrUMVk3","updated_at":"2022-11-07T13:21:18Z","comment":"ACL
      Entry 2","negated":"1"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
