---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/4Hn1qrMGr7wMCST5ZTggPi/acl/7BuNhEp3BZ1kaf1liTfwMR/entries
    method: GET
  response:
    body: '[{"negated":"1","updated_at":"2021-11-03T14:44:26Z","ip":"127.0.0.2","acl_id":"7BuNhEp3BZ1kaf1liTfwMR","created_at":"2021-11-03T14:44:25Z","id":"6Wi3gAbJkAvhhU0BsFodJg","service_id":"4Hn1qrMGr7wMCST5ZTggPi","subnet":16,"comment":"Updated
      ACL Entry 1"},{"comment":"ACL Entry 2","subnet":24,"id":"1tX6MA13zclBDPe2THY1na","service_id":"4Hn1qrMGr7wMCST5ZTggPi","created_at":"2021-11-03T14:44:25Z","acl_id":"7BuNhEp3BZ1kaf1liTfwMR","ip":"192.168.0.1","updated_at":"2021-11-03T14:44:25Z","negated":"1"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
