---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/0Akek5AFpJCUDYry2Hkju2/acl/5LpMLuDvLHtcpJ8hzbX0VG/entries
    method: GET
  response:
    body: '[{"acl_id":"5LpMLuDvLHtcpJ8hzbX0VG","deleted_at":null,"service_id":"0Akek5AFpJCUDYry2Hkju2","comment":"Updated
      ACL Entry 1","created_at":"2021-01-14T10:23:45Z","negated":"1","subnet":16,"ip":"127.0.0.2","updated_at":"2021-01-14T10:23:46Z","id":"61QD49PqouKtm7DBKI4PCo"},{"ip":"192.168.0.1","updated_at":"2021-01-14T10:23:45Z","id":"5GuOrZyuqqeYps785EQyIu","acl_id":"5LpMLuDvLHtcpJ8hzbX0VG","deleted_at":null,"service_id":"0Akek5AFpJCUDYry2Hkju2","comment":"ACL
      Entry 2","subnet":24,"created_at":"2021-01-14T10:23:45Z","negated":"0"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
