---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3flHGGn2I9AQx02IUyjpm6/acl/TU1mU7W8XNHjPyYBEbKRD7/entries?page=1&per_page=100
    method: GET
  response:
    body: '[{"ip":"192.168.0.1","negated":"1","updated_at":"2023-11-28T14:23:20Z","subnet":24,"comment":"ACL
      Entry 2","created_at":"2023-11-28T14:23:20Z","id":"efXeohfsjnKYTDQl3YEZL7","service_id":"3flHGGn2I9AQx02IUyjpm6","acl_id":"TU1mU7W8XNHjPyYBEbKRD7"},{"created_at":"2023-11-28T14:23:20Z","id":"lqXtCIzmuc1WLcvxl2xhI7","ip":"127.0.0.2","negated":"1","updated_at":"2023-11-28T14:23:21Z","subnet":16,"comment":"Updated
      ACL Entry 1","service_id":"3flHGGn2I9AQx02IUyjpm6","acl_id":"TU1mU7W8XNHjPyYBEbKRD7"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
