---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/5eExXVGVxVxKhaiNduThkR/acl/17nbIIGX2ZTN8sfLyLtwgR/entries
    method: GET
  response:
    body: '[{"comment":"ACL Entry 1","ip":"127.0.0.1","negated":"0","service_id":"5eExXVGVxVxKhaiNduThkR","updated_at":"2021-09-22T11:02:59Z","id":"6gcf6qN6a90w5WISByUzqp","subnet":24,"acl_id":"17nbIIGX2ZTN8sfLyLtwgR","created_at":"2021-09-22T11:02:59Z"},{"negated":"1","ip":"192.168.0.1","service_id":"5eExXVGVxVxKhaiNduThkR","subnet":24,"acl_id":"17nbIIGX2ZTN8sfLyLtwgR","updated_at":"2021-09-22T11:02:59Z","id":"68oskig9jsgpobiSaBYmv0","created_at":"2021-09-22T11:02:59Z","comment":"ACL
      Entry 2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
