---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3flHGGn2I9AQx02IUyjpm6/acl/TU1mU7W8XNHjPyYBEbKRD7/entries?page=1&per_page=100
    method: GET
  response:
    body: '[{"id":"efXeohfsjnKYTDQl3YEZL7","negated":"1","updated_at":"2023-11-28T14:23:20Z","acl_id":"TU1mU7W8XNHjPyYBEbKRD7","service_id":"3flHGGn2I9AQx02IUyjpm6","comment":"ACL
      Entry 2","created_at":"2023-11-28T14:23:20Z","ip":"192.168.0.1","subnet":24},{"id":"lqXtCIzmuc1WLcvxl2xhI7","negated":"0","acl_id":"TU1mU7W8XNHjPyYBEbKRD7","updated_at":"2023-11-28T14:23:20Z","service_id":"3flHGGn2I9AQx02IUyjpm6","comment":"ACL
      Entry 1","created_at":"2023-11-28T14:23:20Z","ip":"127.0.0.1","subnet":24}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
