---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/5RZUouxF6dQkKd6RQSla8P/acl/3Q5Oel6HFcUP0gxxSEkxlJ/entries
    method: GET
  response:
    body: '[{"id":"4Ex37PIt2oESevIFfYKdur","created_at":"2019-07-23T09:37:59Z","ip":"127.0.0.2","updated_at":"2019-07-23T09:38:00Z","acl_id":"3Q5Oel6HFcUP0gxxSEkxlJ","deleted_at":null,"negated":"1","comment":"Updated
      ACL Entry 1","subnet":16,"service_id":"5RZUouxF6dQkKd6RQSla8P"},{"deleted_at":null,"negated":"0","subnet":24,"comment":"ACL
      Entry 2","service_id":"5RZUouxF6dQkKd6RQSla8P","id":"4BuyRhMCxnU23tnyw63zCa","created_at":"2019-07-23T09:37:59Z","ip":"192.168.0.1","updated_at":"2019-07-23T09:37:59Z","acl_id":"3Q5Oel6HFcUP0gxxSEkxlJ"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
