---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/5eExXVGVxVxKhaiNduThkR/acl/17nbIIGX2ZTN8sfLyLtwgR/entries
    method: GET
  response:
    body: '[{"subnet":16,"updated_at":"2021-09-22T11:03:00Z","created_at":"2021-09-22T11:02:59Z","negated":"1","comment":"Updated
      ACL Entry 1","ip":"127.0.0.2","id":"6gcf6qN6a90w5WISByUzqp","service_id":"5eExXVGVxVxKhaiNduThkR","acl_id":"17nbIIGX2ZTN8sfLyLtwgR"},{"updated_at":"2021-09-22T11:02:59Z","subnet":24,"created_at":"2021-09-22T11:02:59Z","negated":"1","comment":"ACL
      Entry 2","id":"68oskig9jsgpobiSaBYmv0","ip":"192.168.0.1","service_id":"5eExXVGVxVxKhaiNduThkR","acl_id":"17nbIIGX2ZTN8sfLyLtwgR"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
