---
version: 1
rwmutex: {}
interactions:
- request:
    body: '{"entries":[{"op":"update","id":"4Ex37PIt2oESevIFfYKdur","ip":"127.0.0.2","subnet":"16","negated":true,"comment":"Updated
      ACL Entry 1"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/5RZUouxF6dQkKd6RQSla8P/acl/3Q5Oel6HFcUP0gxxSEkxlJ/entries
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "966"
      Fastly-Ratelimit-Reset:
      - "1563876000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
