---
version: 1
interactions:
- request:
    body: '{"entries":[{"op":"update","id":"6gcf6qN6a90w5WISByUzqp","ip":"127.0.0.2","subnet":16,"negated":"1","comment":"Updated
      ACL Entry 1"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/5eExXVGVxVxKhaiNduThkR/acl/17nbIIGX2ZTN8sfLyLtwgR/entries
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4982"
      Fastly-Ratelimit-Reset:
      - "1632312000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
