---
version: 1
interactions:
- request:
    body: '{"entries":[{"comment":"Updated ACL Entry 1","id":"dYl0JXQdZIhguhUq5pbB06","ip":"127.0.0.2","negated":"1","op":"update","subnet":16}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/hIFHhLCI9PxAnEDzrUMVk3/acl/6NimVmh4FgcNUkqztPTyv3/entries
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9974"
      Fastly-Ratelimit-Reset:
      - "1667829600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
