---
version: 1
interactions:
- request:
    body: '{"entries":[{"op":"update","id":"6Wi3gAbJkAvhhU0BsFodJg","ip":"127.0.0.2","subnet":16,"negated":"1","comment":"Updated
      ACL Entry 1"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/4Hn1qrMGr7wMCST5ZTggPi/acl/7BuNhEp3BZ1kaf1liTfwMR/entries
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4948"
      Fastly-Ratelimit-Reset:
      - "1635951600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
