---
version: 1
interactions:
- request:
    body: '{"entries":[{"comment":"Updated ACL Entry 1","id":"lqXtCIzmuc1WLcvxl2xhI7","ip":"127.0.0.2","negated":"1","op":"update","subnet":16}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/3flHGGn2I9AQx02IUyjpm6/acl/TU1mU7W8XNHjPyYBEbKRD7/entries
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9982"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
