---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=569&access_key=access_key&bucket_name=bucket-name&format=format&gzip_level=9&name=test-s3&path=%2Fpath&period=12&secret_key=secret_key&timestamp_format=%25Y
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "569"
      access_key:
      - access_key
      bucket_name:
      - bucket-name
      format:
      - format
      gzip_level:
      - "9"
      name:
      - test-s3
      path:
      - /path
      period:
      - "12"
      secret_key:
      - secret_key
      timestamp_format:
      - '%Y'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/569/logging/s3
    method: POST
  response:
    body: '{"access_key":"access_key","bucket_name":"bucket-name","format":"format","gzip_level":"9","name":"test-s3","path":"/path","period":"12","secret_key":"secret_key","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"569","format_version":"1","response_condition":"","updated_at":"2016-04-03T16:46:22+00:00","message_type":"classic","domain":"s3.amazonaws.com","redundancy":null,"deleted_at":null,"created_at":"2016-04-03T16:46:22+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "918"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
