---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=585&access_key=access_key&bucket_name=bucket-name&domain=s3-website-us-west-2.amazonaws.com&format=format&gzip_level=9&name=test-s3&path=%2Fpath&period=12&secret_key=secret_key&timestamp_format=%25Y
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "585"
      access_key:
      - access_key
      bucket_name:
      - bucket-name
      domain:
      - s3-website-us-west-2.amazonaws.com
      format:
      - format
      gzip_level:
      - "9"
      name:
      - test-s3
      path:
      - /path
      period:
      - "12"
      secret_key:
      - secret_key
      timestamp_format:
      - '%Y'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 993bc901e64210d5463be6e8f77d4b9e
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/585/logging/s3
    method: POST
  response:
    body: '{"access_key":"access_key","bucket_name":"bucket-name","domain":"s3-website-us-west-2.amazonaws.com","format":"format","gzip_level":"9","name":"test-s3","path":"/path","period":"12","secret_key":"secret_key","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"585","format_version":"1","response_condition":"","updated_at":"2016-04-27T15:52:43+00:00","message_type":"classic","redundancy":"reduced_redundancy","deleted_at":null,"created_at":"2016-04-27T15:52:43+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "998"
      Fastly-Ratelimit-Reset:
      - "1461772800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
