---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=607&access_key=access_key&bucket_name=bucket-name&domain=s3-website-us-west-2.amazonaws.com&format=format&gzip_level=9&name=test-s3&path=%2Fpath&period=12&redundancy=reduced_redundancy&secret_key=secret_key&timestamp_format=%25Y
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "607"
      access_key:
      - access_key
      bucket_name:
      - bucket-name
      domain:
      - s3-website-us-west-2.amazonaws.com
      format:
      - format
      gzip_level:
      - "9"
      name:
      - test-s3
      path:
      - /path
      period:
      - "12"
      redundancy:
      - reduced_redundancy
      secret_key:
      - secret_key
      timestamp_format:
      - '%Y'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/607/logging/s3
    method: POST
  response:
    body: '{"access_key":"access_key","bucket_name":"bucket-name","domain":"s3-website-us-west-2.amazonaws.com","format":"format","gzip_level":"9","name":"test-s3","path":"/path","period":"12","redundancy":"reduced_redundancy","secret_key":"secret_key","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"607","format_version":"1","response_condition":"","server_side_encryption_kms_key_id":null,"public_key":null,"updated_at":"2016-06-29T22:27:43+00:00","message_type":"classic","server_side_encryption":null,"deleted_at":null,"created_at":"2016-06-29T22:27:43+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "895"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
