---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 2d150df799bdabefa664a2182f85820a
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/615/logging/s3/test-s3
    method: GET
  response:
    body: '{"placement":null,"format_version":"2","response_condition":"","gzip_level":"9","server_side_encryption_kms_key_id":null,"secret_key":"secret_key","public_key":null,"updated_at":"2017-02-04T17:03:12+00:00","message_type":"classic","period":"12","name":"test-s3","server_side_encryption":null,"bucket_name":"bucket-name","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","domain":"s3-website-us-west-2.amazonaws.com","redundancy":"reduced_redundancy","version":"615","path":"/path","deleted_at":null,"created_at":"2017-02-04T17:03:12+00:00","access_key":"access_key","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
