---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-s3&Service=7i6HN3TK9wS159v2gPAZ8A&Version=657&name=new-test-s3
    form:
      Name:
      - test-s3
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "657"
      name:
      - new-test-s3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/657/logging/s3/test-s3
    method: PUT
  response:
    body: '{"placement":null,"format_version":"2","response_condition":"","gzip_level":"9","server_side_encryption_kms_key_id":null,"secret_key":"secret_key","public_key":null,"updated_at":"2017-04-17T16:00:59+00:00","message_type":"classic","period":"12","name":"new-test-s3","server_side_encryption":null,"bucket_name":"bucket-name","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","domain":"s3-website-us-west-2.amazonaws.com","redundancy":"reduced_redundancy","version":"657","path":"/path","deleted_at":null,"created_at":"2017-04-17T16:00:59+00:00","access_key":"access_key","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "916"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
