---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-s3&Service=7i6HN3TK9wS159v2gPAZ8A&Version=698&name=new-test-s3
    form:
      Name:
      - test-s3
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "698"
      name:
      - new-test-s3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/698/logging/s3/test-s3
    method: PUT
  response:
    body: '{"placement":null,"format_version":"2","gzip_level":"9","response_condition":"","server_side_encryption_kms_key_id":null,"secret_key":"secret_key","public_key":null,"updated_at":"2017-07-20T01:19:42+00:00","message_type":"classic","period":"12","name":"new-test-s3","server_side_encryption":null,"bucket_name":"bucket-name","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","domain":"s3-website-us-west-2.amazonaws.com","redundancy":"reduced_redundancy","version":"698","path":"/path","deleted_at":null,"created_at":"2017-07-20T01:19:42+00:00","access_key":"access_key","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "835"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
