---
version: 1
interactions:
- request:
    body: Name=test-s3&Service=7i6HN3TK9wS159v2gPAZ8A&Version=569&name=new-test-s3
    form:
      Name:
      - test-s3
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "569"
      name:
      - new-test-s3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/569/logging/s3/test-s3
    method: PUT
  response:
    body: '{"format_version":"1","response_condition":"","gzip_level":"9","secret_key":"secret_key","updated_at":"2016-04-03T16:46:22+00:00","period":"12","message_type":"classic","name":"new-test-s3","bucket_name":"bucket-name","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","domain":"s3.amazonaws.com","redundancy":null,"version":"569","deleted_at":null,"path":"/path","created_at":"2016-04-03T16:46:22+00:00","access_key":"access_key","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "898"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
