---
version: 1
interactions:
- request:
    body: name=my-test-token&password=XXXXXXXXXXXXXXXXXXXXXX&scope=global&username=XXXXXXXXXXXXXXXXXXXXXX
    form:
      name:
      - my-test-token
      password:
      - XXXXXXXXXXXXXXXXXXXXXX
      scope:
      - global
      username:
      - XXXXXXXXXXXXXXXXXXXXXX
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/sudo
    method: POST
  response:
    body: '{"expiry_time":"2021-01-14T11:52:45+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "955"
      Fastly-Ratelimit-Reset:
      - "1610625600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: name=my-test-token&password=XXXXXXXXXXXXXXXXXXXXXXL&scope=global&username=XXXXXXXXXXXXXXXXXXXXXX
    form:
      name:
      - my-test-token
      password:
      - XXXXXXXXXXXXXXXXXXXXXX
      scope:
      - global
      username:
      - XXXXXXXXXXXXXXXXXXXXXX
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/tokens
    method: POST
  response:
    body: '{"id":"XXXXXXXXXXXXXXXXXXXXXX","name":"my-test-token","user_id":"XXXXXXXXXXXXXXXXXXXXXX","customer_id":"XXXXXXXXXXXXXXXXXXXXXX","service_id":null,"expires_at":null,"created_at":"2021-01-14T11:47:46Z","updated_at":"2021-01-14T11:47:46Z","scope":"global","services":[],"access_token":"XXXXXXXXXXXXXXXXXXXXXX"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "954"
      Fastly-Ratelimit-Reset:
      - "1610625600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
