---
version: 1
interactions:
- request:
    body: name=my-test-token-1&password=foobar&scope=global&services%5B%5D=5wHdzYhbILBcvU2aAjH8so&services%5B%5D=6besTz8jIUQudhhr4vLEzt&username=testing%40fastly.com
    form:
      name:
      - my-test-token-1
      password:
      - foobar
      scope:
      - global
      services[]:
      - 5wHdzYhbILBcvU2aAjH8so
      - 6besTz8jIUQudhhr4vLEzt
      username:
      - testing@fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/sudo
    method: POST
  response:
    body: '{"expiry_time":"2021-09-20T11:29:38+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4992"
      Fastly-Ratelimit-Reset:
      - "1632139200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: name=my-test-token-1&password=foobar&scope=global&services%5B%5D=5wHdzYhbILBcvU2aAjH8so&services%5B%5D=6besTz8jIUQudhhr4vLEzt&username=testing%40fastly.com
    form:
      name:
      - my-test-token-1
      password:
      - foobar
      scope:
      - global
      services[]:
      - 5wHdzYhbILBcvU2aAjH8so
      - 6besTz8jIUQudhhr4vLEzt
      username:
      - testing@fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/tokens
    method: POST
  response:
    body: '{"id":"27DePetT24oLN9xdXRMkdo","name":"my-test-token-1","user_id":"52LiGaZmbWl4D5xv4tcxON","customer_id":"51MumwLiSJyFTWhtbByYgR","service_id":"6besTz8jIUQudhhr4vLEzt","expires_at":null,"created_at":"2021-09-20T11:24:38Z","updated_at":"2021-09-20T11:24:38Z","scope":"global","services":["5wHdzYhbILBcvU2aAjH8so","6besTz8jIUQudhhr4vLEzt"],"access_token":"XXXXXXXXXXXXXXXXXXXXXX"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4991"
      Fastly-Ratelimit-Reset:
      - "1632139200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":[{"type":"token","id":"27DePetT24oLN9xdXRMkdo"},{"type":"token","id":"5nifBbOSCa4gxQ0846z1RL"}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json; ext=bulk
    url: https://api.fastly.com/tokens
    method: DELETE
  response:
    body: ""
    headers:
      Fastly-Ratelimit-Remaining:
      - "4988"
      Fastly-Ratelimit-Reset:
      - "1632139200"
      Status:
      - 204 No Content
    status: 204 No Content
    code: 204
    duration: ""
