---
version: 1
interactions:
- request:
    body: name=my-test-token-1&password=foobar&scope=global&username=testing%40fastly.com
    form:
      name:
      - my-test-token-1
      password:
      - foobar
      scope:
      - global
      username:
      - testing@fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/sudo
    method: POST
  response:
    body: '{"expiry_time":"2021-09-15T16:15:56+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4999"
      Fastly-Ratelimit-Reset:
      - "1631725200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: name=my-test-token-1&password=foobar&scope=global&username=testing%40fastly.com
    form:
      name:
      - my-test-token-1
      password:
      - foobar
      scope:
      - global
      username:
      - testing@fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/tokens
    method: POST
  response:
    body: '{"id":"67WnFZog4TztGgdNfc9mxX","name":"my-test-token-1","user_id":"52LiGaZmbWl4D5xv4tcxON","customer_id":"51MumwLiSJyFTWhtbByYgR","service_id":null,"expires_at":null,"created_at":"2021-09-15T16:10:56Z","updated_at":"2021-09-15T16:10:56Z","scope":"global","services":[],"access_token":"XXXXXXXXXXXXXXXXXXXXXX"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4998"
      Fastly-Ratelimit-Reset:
      - "1631725200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":[{"type":"token","id":"67WnFZog4TztGgdNfc9mxX"},{"type":"token","id":"XzkxSPqcUJmf522PeZ1tb"}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json; ext=bulk
    url: https://api.fastly.com/tokens
    method: DELETE
  response:
    body: ""
    headers:
      Fastly-Ratelimit-Remaining:
      - "4995"
      Fastly-Ratelimit-Reset:
      - "1631725200"
      Status:
      - 204 No Content
    status: 204 No Content
    code: 204
    duration: ""
