---
version: 1
interactions:
- request:
    body: name=my-test-token-1&password=foobar&scope=global&services%5B%5D=0Us63sb8R1BpWQBIhluncu&services%5B%5D=7frORaFZvHgC6eRAJdA7kf&username=testing@fastly.com
    form:
      name:
      - my-test-token-1
      password:
      - 'foobar'
      scope:
      - global
      services[]:
      - 0Us63sb8R1BpWQBIhluncu
      - 7frORaFZvHgC6eRAJdA7kf
      username:
      - testing@fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/sudo
    method: POST
  response:
    body: '{"expiry_time":"2021-11-02T18:51:13+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4994"
      Fastly-Ratelimit-Reset:
      - "1635879600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: name=my-test-token-1&password=foobar&scope=global&services%5B%5D=0Us63sb8R1BpWQBIhluncu&services%5B%5D=7frORaFZvHgC6eRAJdA7kf&username=testing@fastly.com
    form:
      name:
      - my-test-token-1
      password:
      - 'foobar'
      scope:
      - global
      services[]:
      - 0Us63sb8R1BpWQBIhluncu
      - 7frORaFZvHgC6eRAJdA7kf
      username:
      - testing@fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/tokens
    method: POST
  response:
    body: '{"id":"2j1hEyxXOEqYaSipeZHaW4","name":"my-test-token-1","user_id":"1tSCjJnpQYBBCAsIfI6pX0","customer_id":"51MumwLiSJyFTWhtbByYgR","service_id":"7frORaFZvHgC6eRAJdA7kf","expires_at":null,"created_at":"2021-11-02T18:46:13Z","updated_at":"2021-11-02T18:46:13Z","scope":"global","services":["0Us63sb8R1BpWQBIhluncu","7frORaFZvHgC6eRAJdA7kf"],"access_token":"QoU3neoxQQ6IPL8g7eRkkCjyWcwdNI7J"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4993"
      Fastly-Ratelimit-Reset:
      - "1635879600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"data":[{"type":"token","id":"2j1hEyxXOEqYaSipeZHaW4"},{"type":"token","id":"5NSGsvF9ybBxXAdEQhcYPz"}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json; ext=bulk
    url: https://api.fastly.com/tokens
    method: DELETE
  response:
    body: ""
    headers:
      Fastly-Ratelimit-Remaining:
      - "4990"
      Fastly-Ratelimit-Reset:
      - "1635879600"
      Status:
      - 204 No Content
    status: 204 No Content
    code: 204
    duration: ""
