---
version: 1
interactions:
- request:
    body: name=my-test-token&password=xxxxxxxxxxxxxxxxxxxx&scope=global&username=xxxxxxxxxxxxxxxxxxxx
    form:
      name:
      - my-test-token
      password:
      - xxxxxxxxxxxxxxxxxxxxx
      scope:
      - global
      username:
      - xxxxxxxxxxxxxxxxxxxxx
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/sudo
    method: POST
  response:
    body: '{"expiry_time":"2019-09-25T12:37:45+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "998"
      Fastly-Ratelimit-Reset:
      - "1569416400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: name=my-test-token&password=xxxxxxxxxxxxxxxxxxxx&scope=global&username=xxxxxxxxxxxxxxxxxxxx
    form:
      name:
      - my-test-token
      password:
      - xxxxxxxxxxxxxxxxxxxx
      scope:
      - global
      username:
      - xxxxxxxxxxxxxxxxxxxx
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/tokens
    method: POST
  response:
    body: '{"id":"xxxxxxxxxxxxxxxxxxxx","name":"my-test-token","user_id":"xxxxxxxxxxxxxxxxxxxx","service_id":null,"expires_at":null,"created_at":"2019-09-25T12:32:46Z","updated_at":"2019-09-25T12:32:46Z","scope":"global","services":[],"access_token":"xxxxxxxxxxxxxxxxxxxx"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1569416400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
