---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tokens/self
    method: GET
  response:
    body: '{"id":"XXXXXXXXXXXXXXXXXXXXXX","user_id":"XXXXXXXXXXXXXXXXXXXXXX","customer_id":"XXXXXXXXXXXXXXXXXXXXXX","name":"TempTokenForGoFastlyTests","last_used_at":"2021-01-14T11:36:43Z","created_at":"2021-01-14T11:25:39Z","expires_at":null,"ip":"92.238.40.48","user_agent":"FastlyGo/2.1.0
      (+github.com/fastly/go-fastly; go1.15.4)","sudo_expires_at":null,"scopes":["global"],"scope":"global","services":["XXXXXXXXXXXXXXXXXXXXXX"],"service_id":"XXXXXXXXXXXXXXXXXXXXXX"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
