---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/customer/XXXXXXXXXXXXXXXXXXXXXX/tokens
    method: GET
  response:
    body: '[{"id":"XXXXXXXXXXXXXXXXXXXXXX","user_id":"XXXXXXXXXXXXXXXXXXXXXX","customer_id":"XXXXXXXXXXXXXXXXXXXXXX","name":"XXXXXXXXXXXXXXXXXXXXXX","last_used_at":"2021-01-14T11:33:38Z","created_at":"2021-01-14T11:25:39Z","expires_at":null,"ip":"92.238.40.48","user_agent":"FastlyGo/2.1.0
      (+github.com/fastly/go-fastly; go1.15.4)","sudo_expires_at":null,"scopes":["global"],"scope":"global","services":["XXXXXXXXXXXXXXXXXXXXXX"],"service_id":"XXXXXXXXXXXXXXXXXXXXXX"},{"id":"XXXXXXXXXXXXXXXXXXXXXX","user_id":"XXXXXXXXXXXXXXXXXXXXXX","customer_id":"XXXXXXXXXXXXXXXXXXXXXX","name":"manage.fastly.com
      browser session","last_used_at":"2021-01-14T11:25:40Z","created_at":"2021-01-13T13:48:28Z","expires_at":null,"ip":"92.238.40.48","user_agent":"Mozilla/5.0
      (Macintosh; Intel Mac OS X 11_1_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88
      Safari/537.36","sudo_expires_at":"2021-01-14T11:25:52Z","scopes":["global"],"scope":"global","services":[],"service_id":null},{"id":"XXXXXXXXXXXXXXXXXXXXXX","user_id":"XXXXXXXXXXXXXXXXXXXXXX","customer_id":"XXXXXXXXXXXXXXXXXXXXXX","name":"XXXXXXXXXXXXXXXXXXXXXX","last_used_at":null,"created_at":"2021-01-14T11:21:15Z","expires_at":"2021-04-14T10:20:53Z","ip":null,"user_agent":null,"sudo_expires_at":null,"scopes":["global:read"],"scope":"global:read","services":["XXXXXXXXXXXXXXXXXXXXXX"],"service_id":"XXXXXXXXXXXXXXXXXXXXXX"},{"id":"XXXXXXXXXXXXXXXXXXXXXX","user_id":"XXXXXXXXXXXXXXXXXXXXXX","customer_id":"XXXXXXXXXXXXXXXXXXXXXX","name":"XXXXXXXXXXXXXXXXXXXXXX","last_used_at":"2021-01-14T11:13:47Z","created_at":"2021-01-13T17:01:25Z","expires_at":null,"ip":"92.238.40.48","user_agent":"curl/7.64.1","sudo_expires_at":null,"scopes":["global"],"scope":"global","services":[],"service_id":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
