---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tokens
    method: GET
  response:
    body: '[{"id":"xxxxxxxxxxxxxxxxxxxx","user_id":"xxxxxxxxxxxxxxxxxxxx","customer_id":"xxxxxxxxxxxxxxxxxxxx","name":"go-fastly-tests","last_used_at":"2019-09-25T10:26:59Z","created_at":"2019-09-25T10:15:12Z","expires_at":null,"ip":"127.0.0.1","user_agent":"FastlyGo/1.2.1
      (+github.com/fastly/go-fastly; go1.13)","sudo_expires_at":null,"scopes":["global"],"scope":"global","services":[],"service_id":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
