---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/firewalls/0PJDTfXzU9F4KsTErnB41h/versions/1/exclusions?include=waf_rules&page%5Bnumber%5D=1&page%5Bsize%5D=100
    method: GET
  response:
    body: '{"data":[{"id":"1pyqLOEXniQ7MDp6CU7nc2","type":"waf_exclusion","attributes":{"created_at":"2020-10-07T13:09:09Z","exclusion_type":"rule","condition":"req.url.basename
      == \"index.html\"","name":"index page","number":1,"updated_at":"2020-10-07T13:09:09Z"},"relationships":{"waf_rules":{"data":[{"id":"1YveWU8qwEYidE8WAiZqCN","type":"waf_rule"},{"id":"VovV0PIWJCm33k1piDpnX","type":"waf_rule"}]}}}],"included":[{"id":"1YveWU8qwEYidE8WAiZqCN","type":"waf_rule","attributes":{"modsec_rule_id":2029718,"publisher":"trustwave","type":"strict"}},{"id":"VovV0PIWJCm33k1piDpnX","type":"waf_rule","attributes":{"modsec_rule_id":2037405,"publisher":"trustwave","type":"strict"}}],"links":{"last":"https://api.fastly.com/waf/firewalls/0PJDTfXzU9F4KsTErnB41h/versions/1/exclusions?include=waf_rules\u0026page[number]=1\u0026page[size]=100","first":"https://api.fastly.com/waf/firewalls/0PJDTfXzU9F4KsTErnB41h/versions/1/exclusions?include=waf_rules\u0026page[number]=1\u0026page[size]=100"},"meta":{"current_page":1,"per_page":100,"record_count":1,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
