---
version: 1
interactions:
- request:
    body: action=response&client_key%5B%5D=req.http.Fastly-Client-IP&http_methods%5B%5D=GET&http_methods%5B%5D=POST&name=test_erl&penalty_box_duration=30&response%5Bcontent%5D=Too+many+requests&response%5Bcontent_type%5D=application%2Fjson&response%5Bstatus%5D=429&rps_limit=20&window_size=10
    form:
      action:
      - response
      client_key[]:
      - req.http.Fastly-Client-IP
      http_methods[]:
      - GET
      - POST
      name:
      - test_erl
      penalty_box_duration:
      - "30"
      response[content]:
      - Too many requests
      response[content_type]:
      - application/json
      response[status]:
      - "429"
      rps_limit:
      - "20"
      window_size:
      - "10"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/116/rate-limiters
    method: POST
  response:
    body: '{"feature_revision":1,"feature_update_available":false,"name":"test_erl","uri_dictionary_name":null,"http_methods":["GET","POST"],"rps_limit":20,"window_size":10,"client_key":["req.http.Fastly-Client-IP"],"penalty_box_duration":30,"action":"response","response":{"content":"Too
      many requests","content_type":"application/json","status":429},"response_object_name":null,"logger_type":null,"id":"RjnOPBDtKW2VSit8PWB9g","service_id":"kKJb5bOFI47uHeBVluGfX1","version":116,"created_at":"2023-03-28T11:17:42Z","updated_at":"2023-03-28T11:17:42Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9985"
      Fastly-Ratelimit-Reset:
      - "1680004800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
