---
version: 1
interactions:
- request:
    body: '{"action":"response","client_key":["req.http.Fastly-Client-IP"],"http_methods":["GET","POST"],"name":"test_erl","penalty_box_duration":30,"response":{"status":429,"content_type":"application/json","content":"Too
      many requests"},"rps_limit":20,"window_size":10}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XXXXXXXXXXXXXXXXXX/version/96/rate-limiters
    method: POST
  response:
    body: '{"feature_revision":1,"feature_update_available":false,"name":"test_erl","uri_dictionary_name":null,"http_methods":["GET","POST"],"rps_limit":20,"window_size":10,"client_key":["req.http.Fastly-Client-IP"],"penalty_box_duration":30,"action":"response","response":{"status":429,"content_type":"application/json","content":"Too
      many requests"},"response_object_name":null,"logger_type":null,"id":"XXXXXXXXXXXXXXXXXX","service_id":"XXXXXXXXXXXXXXXXXXXX","version":96,"created_at":"2022-03-09T01:27:37Z","updated_at":"2022-03-09T01:27:37Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "982"
      Fastly-Ratelimit-Reset:
      - "1646791200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
