---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/rate-limiters/wBT3mVJW6QVW0omIYSiyF
    method: GET
  response:
    body: '{"feature_revision":1,"feature_update_available":false,"name":"test_erl","uri_dictionary_name":null,"http_methods":["GET","POST"],"rps_limit":20,"window_size":10,"client_key":["req.http.Fastly-Client-IP"],"penalty_box_duration":30,"action":"response","response":{"status":429,"content":"Too
      many requests","content_type":"application/json"},"response_object_name":null,"logger_type":null,"id":"wBT3mVJW6QVW0omIYSiyF","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":109,"created_at":"2022-03-10T01:29:44Z","updated_at":"2022-03-10T01:29:44Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
