---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XXXXXXXXXXXXXXXXXXXXX/version/96/rate-limiters
    method: GET
  response:
    body: '[{"feature_revision":1,"feature_update_available":false,"name":"test_erl","uri_dictionary_name":null,"http_methods":["GET","POST"],"rps_limit":20,"window_size":10,"client_key":["req.http.Fastly-Client-IP"],"penalty_box_duration":30,"action":"response","response":{"status":429,"content":"Too
      many requests","content_type":"application/json"},"response_object_name":null,"logger_type":null,"id":"XXXXXXXXXXXXXXXXXXXX","service_id":"XXXXXXXXXXXXXXXXXXXX","version":96,"created_at":"2022-03-09T01:27:37Z","updated_at":"2022-03-09T01:27:37Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
