---
version: 1
interactions:
- request:
    body: action=log_only&client_key%5B%5D=req.http.Fastly-Client-IP&http_methods%5B%5D=GET&http_methods%5B%5D=POST&logger_type=azureblob&name=test_erl&penalty_box_duration=30&rps_limit=20&window_size=10
    form:
      action:
      - log_only
      client_key[]:
      - req.http.Fastly-Client-IP
      http_methods[]:
      - GET
      - POST
      logger_type:
      - azureblob
      name:
      - test_erl
      penalty_box_duration:
      - "30"
      rps_limit:
      - "20"
      window_size:
      - "10"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/116/rate-limiters
    method: POST
  response:
    body: '{"feature_revision":1,"feature_update_available":false,"name":"test_erl","uri_dictionary_name":null,"http_methods":["GET","POST"],"rps_limit":20,"window_size":10,"client_key":["req.http.Fastly-Client-IP"],"penalty_box_duration":30,"action":"log_only","response":null,"response_object_name":null,"logger_type":"azureblob","id":"2feTclWJgsv6OfIpnxARrx","service_id":"kKJb5bOFI47uHeBVluGfX1","version":116,"created_at":"2023-03-28T11:17:44Z","updated_at":"2023-03-28T11:17:44Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9982"
      Fastly-Ratelimit-Reset:
      - "1680004800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
