---
version: 1
interactions:
- request:
    body: id=2Xmuupqernl231QYxye2O7&name=test_erl
    form:
      id:
      - 2Xmuupqernl231QYxye2O7
      name:
      - test_erl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/rate-limiters/2Xmuupqernl231QYxye2O7
    method: PUT
  response:
    body: '{"feature_revision":1,"feature_update_available":false,"name":"test_erl","uri_dictionary_name":null,"http_methods":["GET","POST"],"rps_limit":20,"window_size":10,"client_key":["req.http.Fastly-Client-IP"],"penalty_box_duration":30,"action":"response","response":{"status":429,"content":"Too
      many requests","content_type":"application/json"},"response_object_name":null,"logger_type":null,"id":"2Xmuupqernl231QYxye2O7","service_id":"wBT3mVJW6QVW0omIYSiyF","version":170,"created_at":"2022-03-23T17:49:58Z","updated_at":"2022-03-23T17:49:58Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "919"
      Fastly-Ratelimit-Reset:
      - "1648058400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
