---
version: 1
interactions:
- request:
    body: id=5U7LrjONAOghcVobCesDyb&name=test_erl
    form:
      id:
      - 5U7LrjONAOghcVobCesDyb
      name:
      - test_erl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/rate-limiters/5U7LrjONAOghcVobCesDyb
    method: PUT
  response:
    body: '{"feature_revision":1,"feature_update_available":false,"name":"test_erl","uri_dictionary_name":null,"http_methods":["GET","POST"],"rps_limit":20,"window_size":10,"client_key":["req.http.Fastly-Client-IP"],"penalty_box_duration":30,"action":"response","response":{"status":429,"content":"Too
      many requests","content_type":"application/json"},"response_object_name":null,"logger_type":null,"id":"5U7LrjONAOghcVobCesDyb","service_id":"5gpZBTmFpC5mvbN4tWyxpc","version":171,"created_at":"2022-03-23T18:29:07Z","updated_at":"2022-03-23T18:29:07Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1648062000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
