---
version: 1
interactions:
- request:
    body: name=test_erl
    form:
      name:
      - test_erl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/rate-limiters/RjnOPBDtKW2VSit8PWB9g
    method: PUT
  response:
    body: '{"feature_revision":1,"feature_update_available":false,"name":"test_erl","uri_dictionary_name":null,"http_methods":["GET","POST"],"rps_limit":20,"window_size":10,"client_key":["req.http.Fastly-Client-IP"],"penalty_box_duration":30,"action":"response","response":{"status":429,"content":"Too
      many requests","content_type":"application/json"},"response_object_name":null,"logger_type":null,"id":"RjnOPBDtKW2VSit8PWB9g","service_id":"kKJb5bOFI47uHeBVluGfX1","version":116,"created_at":"2023-03-28T11:17:42Z","updated_at":"2023-03-28T11:17:42Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9984"
      Fastly-Ratelimit-Reset:
      - "1680004800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
