---
version: 1
interactions:
- request:
    body: name=test_erl
    form:
      name:
      - test_erl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/rate-limiters/2AkQ1BaACW1Ggn6jPr5sLX
    method: PUT
  response:
    body: '{"feature_revision":1,"feature_update_available":false,"name":"test_erl","uri_dictionary_name":null,"http_methods":["GET","POST"],"rps_limit":20,"window_size":10,"client_key":["req.http.Fastly-Client-IP"],"penalty_box_duration":30,"action":"response","response":{"status":429,"content":"Too
      many requests","content_type":"application/json"},"response_object_name":null,"logger_type":null,"id":"2AkQ1BaACW1Ggn6jPr5sLX","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":84,"created_at":"2022-11-07T11:18:23Z","updated_at":"2022-11-07T11:18:23Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9965"
      Fastly-Ratelimit-Reset:
      - "1667822400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
