---
version: 1
interactions:
- request:
    body: format=format&name=test-newrelicotlp&placement=none&token=abcd1234&url=https%3A%2F%2Fexample.nr-data.net
    form:
      format:
      - format
      name:
      - test-newrelicotlp
      placement:
      - none
      token:
      - abcd1234
      url:
      - https://example.nr-data.net
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/32/logging/newrelicotlp
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelicotlp","placement":"none","token":"abcd1234","url":"https://example.nr-data.net","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"32","region":null,"updated_at":"2025-09-02T17:25:36Z","deleted_at":null,"response_condition":"","created_at":"2025-09-02T17:25:36Z","log_processing_region":"none","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9890"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
