---
version: 1
interactions:
- request:
    body: format=format&name=test-newrelicotlp&placement=none&token=abcd1234&url=https%3A%2F%2Fexample.nr-data.net
    form:
      format:
      - format
      name:
      - test-newrelicotlp
      placement:
      - none
      token:
      - abcd1234
      url:
      - https://example.nr-data.net
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/107/logging/newrelicotlp
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelicotlp","placement":"none","token":"abcd1234","url":"https://example.nr-data.net","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"107","updated_at":"2026-07-23T19:39:00Z","created_at":"2026-07-23T19:39:00Z","log_processing_region":"none","format_version":"2","response_condition":"","region":null,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9460"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
