---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/107/logging/newrelicotlp/test-newrelicotlp
    method: GET
  response:
    body: '{"service_id":"XsjdElScZGjmfCcTwsYRC1","log_processing_region":"none","url":"https://example.nr-data.net","placement":"none","format":"format","response_condition":"","deleted_at":null,"token":"abcd1234","region":null,"created_at":"2026-07-23T19:39:00Z","name":"test-newrelicotlp","format_version":"2","version":"107","updated_at":"2026-07-23T19:39:00Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
