---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/32/logging/newrelicotlp/test-newrelicotlp
    method: GET
  response:
    body: '{"log_processing_region":"none","format_version":"2","token":"abcd1234","name":"test-newrelicotlp","version":"32","format":"format","placement":"none","created_at":"2025-09-02T17:25:36Z","url":"https://example.nr-data.net","updated_at":"2025-09-02T17:25:36Z","response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","deleted_at":null,"region":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
