---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/32/logging/newrelicotlp
    method: GET
  response:
    body: '[{"response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","region":null,"deleted_at":null,"log_processing_region":"none","format_version":"2","url":"https://example.nr-data.net","updated_at":"2025-09-02T17:25:36Z","token":"abcd1234","name":"test-newrelicotlp","version":"32","format":"format","created_at":"2025-09-02T17:25:36Z","placement":"none"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
