---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/107/logging/newrelicotlp
    method: GET
  response:
    body: '[{"format":"format","updated_at":"2026-07-23T19:39:00Z","url":"https://example.nr-data.net","region":null,"response_condition":"","format_version":"2","placement":"none","created_at":"2026-07-23T19:39:00Z","deleted_at":null,"name":"test-newrelicotlp","service_id":"XsjdElScZGjmfCcTwsYRC1","log_processing_region":"none","token":"abcd1234","version":"107"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
