---
version: 1
interactions:
- request:
    body: '{"format_version":2,"name":"new-test-newrelicotlp","placement":"none","log_processing_region":"eu"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/107/logging/newrelicotlp/test-newrelicotlp
    method: PUT
  response:
    body: '{"updated_at":"2026-07-23T19:39:00Z","format":"format","token":"abcd1234","name":"new-test-newrelicotlp","region":null,"url":"https://example.nr-data.net","log_processing_region":"eu","created_at":"2026-07-23T19:39:00Z","version":"107","placement":"none","service_id":"XsjdElScZGjmfCcTwsYRC1","format_version":"2","deleted_at":null,"response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9455"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
