---
version: 1
interactions:
- request:
    body: format_version=2&log_processing_region=eu&name=new-test-newrelicotlp
    form:
      format_version:
      - "2"
      log_processing_region:
      - eu
      name:
      - new-test-newrelicotlp
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/32/logging/newrelicotlp/test-newrelicotlp
    method: PUT
  response:
    body: '{"response_condition":"","url":"https://example.nr-data.net","placement":"none","name":"new-test-newrelicotlp","version":"32","log_processing_region":"eu","region":null,"deleted_at":null,"format_version":"2","service_id":"XsjdElScZGjmfCcTwsYRC1","format":"format","created_at":"2025-09-02T17:25:36Z","token":"abcd1234","updated_at":"2025-09-02T17:25:36Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9889"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
