---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_CreateSecret_clientEncryption","secret":"cRol5IDLTry79axbRcblj0+JLrEuEPdfN715c6C7cADybGL+34DotXLX9IKgsx2Et7nfBFLxUtPlsoLNyMzUBg==","client_key":"CUBQitcJt9a4Vqem5vPYubm/jjZ6Inqr4gr/6aJukSc="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/gyxBrAO5eUjZMNwb3z93gn/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_CreateSecret_clientEncryption",
        "digest": "5W22wlDwhwa7dZ4y1+2ZbIZxDVibHHKordZCehpYvak=",
        "created_at": "2023-02-03T22:26:31Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - nRfqFSFUBgKtWbp0VaFINo
    status: 200 OK
    code: 200
    duration: ""
