---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_CreateSecret_clientEncryption","secret":"oaGvghm7sKkBZBMe5P6FJSYHbX7ygZtHTVcynoN1yy8KYzDu2OlHU3DnsnAAEcWaDOSs2wCbXB0YmMpAjLTc5g==","client_key":"2iMPR4MnTZ3vC2PjShB6PQM8wLb2ckfUOLKwex5sYUc="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/gHoXWTpybFOm2BnwG803dg/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_CreateSecret_clientEncryption",
        "digest": "tNM8mkJTjQGBtkHQ3RRn+dzLbh9iZfJ02GVz35HY9iA=",
        "created_at": "2023-11-27T15:54:55Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - QHJVAq8Lg9kDD9MGBAHdrd
    status: 200 OK
    code: 200
    duration: ""
