---
version: 1
interactions:
- request:
    body: |
      {"data":[{"type":"waf_active_rule","attributes":{"modsec_rule_id":2029718,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":2037405,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":1010070,"revision":1,"status":"log"}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json; ext=bulk
    url: https://api.fastly.com/waf/firewalls/3kO0SWvY3tX7kFauSbqyDk/versions/1/active-rules
    method: POST
  response:
    body: '{"data":[{"id":"6AkpMfG6VpbCN0M3gg51EF","type":"waf_active_rule","attributes":{"created_at":"2021-11-03T17:30:40Z","latest_revision":1,"modsec_rule_id":2029718,"outdated":false,"revision":1,"status":"log","updated_at":"2021-11-03T17:30:40Z"},"relationships":{"waf_firewall_version":{"data":{"id":"5r8piHqxcqon35HGoE4LSa","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"6ZJML5tsy5uVq1nGNgmZ78","type":"waf_rule_revision"}}}},{"id":"3xhaJwhtFDVeFyaFxer9AV","type":"waf_active_rule","attributes":{"created_at":"2021-11-03T17:30:40Z","latest_revision":1,"modsec_rule_id":2037405,"outdated":false,"revision":1,"status":"log","updated_at":"2021-11-03T17:30:40Z"},"relationships":{"waf_firewall_version":{"data":{"id":"5r8piHqxcqon35HGoE4LSa","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"3ANlv7vVZdzk2qFXlJLIk3","type":"waf_rule_revision"}}}},{"id":"3jxBynMU4jLKz5l5WDMHu3","type":"waf_active_rule","attributes":{"created_at":"2021-11-03T17:30:40Z","latest_revision":1,"modsec_rule_id":1010070,"outdated":false,"revision":1,"status":"log","updated_at":"2021-11-03T17:30:40Z"},"relationships":{"waf_firewall_version":{"data":{"id":"5r8piHqxcqon35HGoE4LSa","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"2qiuFDyJoxuKkKkJYjrgsC","type":"waf_rule_revision"}}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
    code: 201
    duration: ""
