---
version: 1
interactions:
- request:
    body: |
      {"data":[{"type":"waf_active_rule","attributes":{"modsec_rule_id":2029718,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":2037405,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":1010070,"revision":1,"status":"log"}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json; ext=bulk
    url: https://api.fastly.com/waf/firewalls/2pmz6XhLxsbLCkK68TrL46/versions/1/active-rules
    method: POST
  response:
    body: '{"data":[{"id":"2dUkKDhlx5hVWljfob6ggO","type":"waf_active_rule","attributes":{"created_at":"2020-06-30T10:56:27Z","latest_revision":1,"modsec_rule_id":2029718,"outdated":false,"revision":1,"status":"log","updated_at":"2020-06-30T10:56:27Z"},"relationships":{"waf_firewall_version":{"data":{"id":"4cpxRmmOXFmDMFQQyGqZDX","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"6ZJML5tsy5uVq1nGNgmZ78","type":"waf_rule_revision"}}}},{"id":"3F5R6J4vJf9nSF6J1r5nd","type":"waf_active_rule","attributes":{"created_at":"2020-06-30T10:56:27Z","latest_revision":1,"modsec_rule_id":2037405,"outdated":false,"revision":1,"status":"log","updated_at":"2020-06-30T10:56:27Z"},"relationships":{"waf_firewall_version":{"data":{"id":"4cpxRmmOXFmDMFQQyGqZDX","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"3ANlv7vVZdzk2qFXlJLIk3","type":"waf_rule_revision"}}}},{"id":"59Tw8iZn3e22bjLDlOP4a8","type":"waf_active_rule","attributes":{"created_at":"2020-06-30T10:56:27Z","latest_revision":1,"modsec_rule_id":1010070,"outdated":false,"revision":1,"status":"log","updated_at":"2020-06-30T10:56:27Z"},"relationships":{"waf_firewall_version":{"data":{"id":"4cpxRmmOXFmDMFQQyGqZDX","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"2qiuFDyJoxuKkKkJYjrgsC","type":"waf_rule_revision"}}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
