---
version: 1
interactions:
- request:
    body: |
      {"data":[{"type":"waf_active_rule","attributes":{"modsec_rule_id":2029718,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":2037405,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":1010070,"status":"log"}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/5n9TykpTt7zn0KFJ4k9bMz/versions/1/rules
    method: POST
  response:
    body: '{"data":[{"id":"6E8M7nScn1buIUJrSKvqkt","type":"waf_active_rule","attributes":{"status":"log","modsec_rule_id":2029718,"revision":1,"created_at":"2019-11-28T12:43:23Z","updated_at":"2019-11-28T12:43:23Z"},"relationships":{"waf_firewall_version":{"data":{"id":"6Wo0vAYg6cS79HacNpZrBm","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"6ZJML5tsy5uVq1nGNgmZ78","type":"waf_rule_revision"}}}},{"id":"7UZK2qQ20TMUBoZbKo9NZy","type":"waf_active_rule","attributes":{"status":"log","modsec_rule_id":2037405,"revision":1,"created_at":"2019-11-28T12:43:24Z","updated_at":"2019-11-28T12:43:24Z"},"relationships":{"waf_firewall_version":{"data":{"id":"6Wo0vAYg6cS79HacNpZrBm","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"3ANlv7vVZdzk2qFXlJLIk3","type":"waf_rule_revision"}}}},{"id":"5CVFtVaW0WCns3ksB7tMv2","type":"waf_active_rule","attributes":{"status":"log","modsec_rule_id":1010070,"revision":1,"created_at":"2019-11-28T12:43:24Z","updated_at":"2019-11-28T12:43:24Z"},"relationships":{"waf_firewall_version":{"data":{"id":"6Wo0vAYg6cS79HacNpZrBm","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"2qiuFDyJoxuKkKkJYjrgsC","type":"waf_rule_revision"}}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
