---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/firewalls/61ZIBprE0TTUcpqz79p8qz/versions/1/active-rules
    method: GET
  response:
    body: '{"data":[{"id":"6Ts93mN2q7jfy7RteneJyv","type":"waf_active_rule","attributes":{"created_at":"2021-01-14T10:27:51Z","latest_revision":1,"modsec_rule_id":2037405,"outdated":false,"revision":1,"status":"block","updated_at":"2021-01-14T10:27:52Z"}},{"id":"5OUcKAdVdEQXmj0HlgvfqI","type":"waf_active_rule","attributes":{"created_at":"2021-01-14T10:27:51Z","latest_revision":1,"modsec_rule_id":2029718,"outdated":false,"revision":1,"status":"block","updated_at":"2021-01-14T10:27:52Z"}}],"links":{"last":"https://api.fastly.com/waf/firewalls/61ZIBprE0TTUcpqz79p8qz/versions/1/active-rules?page[number]=1\u0026page[size]=100","first":"https://api.fastly.com/waf/firewalls/61ZIBprE0TTUcpqz79p8qz/versions/1/active-rules?page[number]=1\u0026page[size]=100"},"meta":{"current_page":1,"per_page":100,"record_count":2,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
