---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/firewalls/5n9TykpTt7zn0KFJ4k9bMz/versions/1/rules
    method: GET
  response:
    body: '{"data":[{"id":"7UZK2qQ20TMUBoZbKo9NZy","type":"waf_active_rule","attributes":{"status":"log","modsec_rule_id":2037405,"revision":1,"created_at":"2019-11-28T12:43:24Z","updated_at":"2019-11-28T12:43:24Z"}},{"id":"5CVFtVaW0WCns3ksB7tMv2","type":"waf_active_rule","attributes":{"status":"log","modsec_rule_id":1010070,"revision":1,"created_at":"2019-11-28T12:43:24Z","updated_at":"2019-11-28T12:43:24Z"}},{"id":"6E8M7nScn1buIUJrSKvqkt","type":"waf_active_rule","attributes":{"status":"log","modsec_rule_id":2029718,"revision":1,"created_at":"2019-11-28T12:43:23Z","updated_at":"2019-11-28T12:43:23Z"}}],"links":{"last":"https://api.fastly.com/waf/firewalls/5n9TykpTt7zn0KFJ4k9bMz/versions/1/rules?page[number]=1\u0026page[size]=100","first":"https://api.fastly.com/waf/firewalls/5n9TykpTt7zn0KFJ4k9bMz/versions/1/rules?page[number]=1\u0026page[size]=100"},"meta":{"current_page":1,"per_page":100,"record_count":3,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
