---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/firewalls/2pmz6XhLxsbLCkK68TrL46/versions/1/active-rules
    method: GET
  response:
    body: '{"data":[{"id":"59Tw8iZn3e22bjLDlOP4a8","type":"waf_active_rule","attributes":{"created_at":"2020-06-30T10:56:27Z","latest_revision":1,"modsec_rule_id":1010070,"outdated":false,"revision":1,"status":"block","updated_at":"2020-06-30T10:56:28Z"}},{"id":"3F5R6J4vJf9nSF6J1r5nd","type":"waf_active_rule","attributes":{"created_at":"2020-06-30T10:56:27Z","latest_revision":1,"modsec_rule_id":2037405,"outdated":false,"revision":1,"status":"block","updated_at":"2020-06-30T10:56:28Z"}},{"id":"2dUkKDhlx5hVWljfob6ggO","type":"waf_active_rule","attributes":{"created_at":"2020-06-30T10:56:27Z","latest_revision":1,"modsec_rule_id":2029718,"outdated":false,"revision":1,"status":"block","updated_at":"2020-06-30T10:56:28Z"}}],"links":{"last":"https://api.fastly.com/waf/firewalls/2pmz6XhLxsbLCkK68TrL46/versions/1/active-rules?page[number]=1\u0026page[size]=100","first":"https://api.fastly.com/waf/firewalls/2pmz6XhLxsbLCkK68TrL46/versions/1/active-rules?page[number]=1\u0026page[size]=100"},"meta":{"current_page":1,"per_page":100,"record_count":3,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
