---
version: 1
interactions:
- request:
    body: |
      {"data":[{"type":"waf_active_rule","attributes":{"modsec_rule_id":2029718,"revision":1,"status":"block"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":2037405,"revision":1,"status":"block"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":1010070,"revision":1,"status":"block"}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json; ext=bulk
    url: https://api.fastly.com/waf/firewalls/61ZIBprE0TTUcpqz79p8qz/versions/1/active-rules
    method: POST
  response:
    body: '{"data":[{"id":"5OUcKAdVdEQXmj0HlgvfqI","type":"waf_active_rule","attributes":{"created_at":"2021-01-14T10:27:51Z","latest_revision":1,"modsec_rule_id":2029718,"outdated":false,"revision":1,"status":"block","updated_at":"2021-01-14T10:27:52Z"},"relationships":{"waf_firewall_version":{"data":{"id":"3BeKeh0xtKKuXpOknWwHXh","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"6ZJML5tsy5uVq1nGNgmZ78","type":"waf_rule_revision"}}}},{"id":"6Ts93mN2q7jfy7RteneJyv","type":"waf_active_rule","attributes":{"created_at":"2021-01-14T10:27:51Z","latest_revision":1,"modsec_rule_id":2037405,"outdated":false,"revision":1,"status":"block","updated_at":"2021-01-14T10:27:52Z"},"relationships":{"waf_firewall_version":{"data":{"id":"3BeKeh0xtKKuXpOknWwHXh","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"3ANlv7vVZdzk2qFXlJLIk3","type":"waf_rule_revision"}}}},{"id":"5BsbiSjCD4AOQqnVDXSscO","type":"waf_active_rule","attributes":{"created_at":"2021-01-14T10:27:51Z","latest_revision":1,"modsec_rule_id":1010070,"outdated":false,"revision":1,"status":"block","updated_at":"2021-01-14T10:27:52Z"},"relationships":{"waf_firewall_version":{"data":{"id":"3BeKeh0xtKKuXpOknWwHXh","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"2qiuFDyJoxuKkKkJYjrgsC","type":"waf_rule_revision"}}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
    code: 201
    duration: ""
