---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=669&comment=comment&name=integ-test.go-fastly.com
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "669"
      comment:
      - comment
      name:
      - integ-test.go-fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/669/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test.go-fastly.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":669,"deleted_at":null,"created_at":"2017-04-17T16:01:04+00:00","updated_at":"2017-04-17T16:01:04+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "863"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
