---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=588&comment=comment&name=integ-test.go-fastly.com
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "588"
      comment:
      - comment
      name:
      - integ-test.go-fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/588/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test.go-fastly.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":588,"created_at":"2016-06-29T22:27:25+00:00","deleted_at":null,"updated_at":"2016-06-29T22:27:25+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
