---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/561/domain/integ-test.go-fastly.com
    method: GET
  response:
    body: '{"comment":"comment","version":561,"name":"integ-test.go-fastly.com","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
