---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/588/domain/integ-test.go-fastly.com
    method: GET
  response:
    body: '{"created_at":"2016-06-29T22:27:25+00:00","comment":"comment","version":588,"name":"integ-test.go-fastly.com","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2016-06-29T22:27:25+00:00"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
