---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=integ-test.go-fastly.com&Service=7i6HN3TK9wS159v2gPAZ8A&Version=679&name=new-integ-test.go-fastly.com
    form:
      Name:
      - integ-test.go-fastly.com
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "679"
      name:
      - new-integ-test.go-fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/679/domain/integ-test.go-fastly.com
    method: PUT
  response:
    body: '{"version":679,"name":"new-integ-test.go-fastly.com","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2017-07-20T01:15:06+00:00","comment":"comment","updated_at":"2017-07-20T01:15:06+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "939"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
