---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=integ-test.go-fastly.com&Service=7i6HN3TK9wS159v2gPAZ8A&Version=669&name=new-integ-test.go-fastly.com
    form:
      Name:
      - integ-test.go-fastly.com
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "669"
      name:
      - new-integ-test.go-fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/669/domain/integ-test.go-fastly.com
    method: PUT
  response:
    body: '{"version":669,"name":"new-integ-test.go-fastly.com","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2017-04-17T16:01:04+00:00","comment":"comment","updated_at":"2017-04-17T16:01:04+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "855"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
