---
version: 1
interactions:
- request:
    body: name=test_acl
    form:
      name:
      - test_acl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/28/acl
    method: POST
  response:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1","version":"28","name":"test_acl","updated_at":"2022-11-03T18:05:00Z","id":"el55AySbe3XgGVaJ4fNpU6","deleted_at":null,"created_at":"2022-11-03T18:05:00Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9986"
      Fastly-Ratelimit-Reset:
      - "1667502000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
