---
version: 1
interactions:
- request:
    body: ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=41&name=test_acl
    form:
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "41"
      name:
      - test_acl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/41/acl
    method: POST
  response:
    body: '{"service_id":"3QSsca5ilwNVpceZ2HJIAH","version":"41","name":"test_acl","created_at":"2021-11-03T14:27:05Z","deleted_at":null,"id":"66T8Pl5oaiXfTuRJwYv7G7","updated_at":"2021-11-03T14:27:05Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4998"
      Fastly-Ratelimit-Reset:
      - "1635951600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
