---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=19&name=test_acl
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "19"
      name:
      - test_acl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/19/acl
    method: POST
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"19","name":"test_acl","id":"6VkNNoTZn9TjXB8vnz5IBR","created_at":"2021-01-14T10:25:25Z","updated_at":"2021-01-14T10:25:25Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "930"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
