---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/6/acl/test_acl
    method: GET
  response:
    body: '{"updated_at":"2019-05-07T21:51:03Z","version":"6","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test_acl","deleted_at":null,"created_at":"2019-05-07T21:51:03Z","id":"6PcdjBIuhndrH2pMC9xhLl"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
