---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/19/acl/test_acl
    method: GET
  response:
    body: '{"created_at":"2021-01-14T10:25:25Z","deleted_at":null,"id":"6VkNNoTZn9TjXB8vnz5IBR","updated_at":"2021-01-14T10:25:25Z","version":"19","name":"test_acl","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
