---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/41/acl
    method: GET
  response:
    body: '[{"created_at":"2021-11-03T14:27:05Z","name":"test_acl","deleted_at":null,"id":"66T8Pl5oaiXfTuRJwYv7G7","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"41","updated_at":"2021-11-03T14:27:05Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
