---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/28/acl
    method: GET
  response:
    body: '[{"version":"28","updated_at":"2022-11-03T18:05:00Z","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"name":"test_acl","id":"el55AySbe3XgGVaJ4fNpU6","created_at":"2022-11-03T18:05:00Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
