---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/19/acl
    method: GET
  response:
    body: '[{"updated_at":"2021-01-14T10:25:25Z","name":"test_acl","id":"6VkNNoTZn9TjXB8vnz5IBR","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2021-01-14T10:25:25Z","version":"19"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
