---
version: 1
interactions:
- request:
    body: Name=test_acl&name=new_test_acl
    form:
      Name:
      - test_acl
      name:
      - new_test_acl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/28/acl/test_acl
    method: PUT
  response:
    body: '{"created_at":"2022-11-03T18:05:00Z","id":"el55AySbe3XgGVaJ4fNpU6","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"28","deleted_at":null,"name":"new_test_acl","updated_at":"2022-11-03T18:05:00Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9984"
      Fastly-Ratelimit-Reset:
      - "1667502000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
