---
version: 1
interactions:
- request:
    body: Name=test_acl&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=19&name=new_test_acl
    form:
      Name:
      - test_acl
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "19"
      name:
      - new_test_acl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/19/acl/test_acl
    method: PUT
  response:
    body: '{"id":"6VkNNoTZn9TjXB8vnz5IBR","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"version":"19","created_at":"2021-01-14T10:25:25Z","updated_at":"2021-01-14T10:25:25Z","name":"new_test_acl"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "929"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
