---
version: 1
interactions:
- request:
    body: Name=test_acl&ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=41&name=new_test_acl
    form:
      Name:
      - test_acl
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "41"
      name:
      - new_test_acl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/41/acl/test_acl
    method: PUT
  response:
    body: '{"updated_at":"2021-11-03T14:27:05Z","name":"new_test_acl","deleted_at":null,"id":"66T8Pl5oaiXfTuRJwYv7G7","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":"41","created_at":"2021-11-03T14:27:05Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4997"
      Fastly-Ratelimit-Reset:
      - "1635951600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
