---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service2&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service2
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service2","type":"vcl","updated_at":"2020-07-01T09:40:36Z","id":"5MlnHT66t9pZgO8XrBEDQl","publish_key":"","versions":[{"active":false,"updated_at":"2020-07-01T09:40:36Z","staging":false,"service_id":"5MlnHT66t9pZgO8XrBEDQl","deleted_at":null,"comment":"","created_at":"2020-07-01T09:40:36Z","number":1,"testing":false,"locked":false,"deployed":false}],"deleted_at":null,"created_at":"2020-07-01T09:40:36Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "981"
      Fastly-Ratelimit-Reset:
      - "1593597600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
