---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service2&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service2
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service2","type":"vcl","versions":[{"testing":false,"locked":false,"deployed":false,"updated_at":"2020-07-02T20:19:36Z","deleted_at":null,"service_id":"5n1Tvc6QVHtvZlG109EsyV","active":false,"staging":false,"comment":"","created_at":"2020-07-02T20:19:36Z","number":1}],"created_at":"2020-07-02T20:19:36Z","publish_key":"","deleted_at":null,"id":"5n1Tvc6QVHtvZlG109EsyV","updated_at":"2020-07-02T20:19:36Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "963"
      Fastly-Ratelimit-Reset:
      - "1593723600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
