---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service2&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service2
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service2","type":"vcl","versions":[{"service_id":"6PehUY86Aj8yGpccQ0a8oT","locked":false,"updated_at":"2020-06-30T10:56:24Z","created_at":"2020-06-30T10:56:24Z","testing":false,"deleted_at":null,"number":1,"active":false,"comment":"","staging":false,"deployed":false}],"created_at":"2020-06-30T10:56:24Z","id":"6PehUY86Aj8yGpccQ0a8oT","updated_at":"2020-06-30T10:56:24Z","deleted_at":null,"publish_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "692"
      Fastly-Ratelimit-Reset:
      - "1593514800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
