---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service2&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service2
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service2","type":"vcl","created_at":"2021-01-14T10:26:24Z","deleted_at":null,"versions":[{"testing":false,"service_id":"5OTf0ZHln9oPp7u1f73YdC","updated_at":"2021-01-14T10:26:24Z","created_at":"2021-01-14T10:26:24Z","deleted_at":null,"deployed":false,"comment":"","active":false,"locked":false,"number":1,"staging":false}],"updated_at":"2021-01-14T10:26:24Z","publish_key":"","id":"5OTf0ZHln9oPp7u1f73YdC","paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "896"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
