---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service2&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service2
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service2","type":"vcl","id":"2Xgb9YcX4auyMwrqJGIHLL","publish_key":"","updated_at":"2021-11-03T17:28:14Z","created_at":"2021-11-03T17:28:14Z","versions":[{"service_id":"2Xgb9YcX4auyMwrqJGIHLL","updated_at":"2021-11-03T17:28:14Z","created_at":"2021-11-03T17:28:14Z","comment":"","staging":false,"deployed":false,"locked":false,"deleted_at":null,"testing":false,"active":false,"number":1}],"deleted_at":null,"paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4789"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
