---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service","type":"vcl","versions":[{"testing":false,"service_id":"3qt0xLYGlOxt19jpAQ0LJM","deployed":false,"locked":false,"deleted_at":null,"created_at":"2019-11-20T12:59:03Z","staging":false,"comment":"","number":1,"updated_at":"2019-11-20T12:59:03Z","active":false}],"publish_key":"84a3007cd3e38afa00fdeb2cf36b24361153c410","updated_at":"2019-11-20T12:59:03Z","id":"3qt0xLYGlOxt19jpAQ0LJM","deleted_at":null,"created_at":"2019-11-20T12:59:03Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "972"
      Fastly-Ratelimit-Reset:
      - "1574254800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
