---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-6129484611666145821&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-6129484611666145821
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service-6129484611666145821","type":"vcl","updated_at":"2020-10-09T09:28:40Z","publish_key":"","id":"5wBis6DpoO67acK0K7n5GU","deleted_at":null,"created_at":"2020-10-09T09:28:40Z","versions":[{"deployed":false,"comment":"","created_at":"2020-10-09T09:28:40Z","number":1,"active":false,"service_id":"5wBis6DpoO67acK0K7n5GU","testing":false,"updated_at":"2020-10-09T09:28:40Z","locked":false,"staging":false,"deleted_at":null}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4936"
      Fastly-Ratelimit-Reset:
      - "1602237600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
