---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-8674665223082153551&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-8674665223082153551
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service-8674665223082153551","type":"vcl","id":"77W0twpcoOavlUaiU6zzj7","deleted_at":null,"updated_at":"2021-11-03T17:30:06Z","paused":false,"publish_key":"","versions":[{"locked":false,"staging":false,"deployed":false,"created_at":"2021-11-03T17:30:06Z","number":1,"testing":false,"service_id":"77W0twpcoOavlUaiU6zzj7","deleted_at":null,"active":false,"updated_at":"2021-11-03T17:30:06Z","comment":""}],"created_at":"2021-11-03T17:30:06Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4768"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
