---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-8674665223082153551&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-8674665223082153551
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service-8674665223082153551","type":"vcl","versions":[{"staging":false,"comment":"","locked":false,"created_at":"2021-01-14T10:26:24Z","deployed":false,"deleted_at":null,"number":1,"service_id":"5V7x2mes9fC7zg73R9bTFm","active":false,"updated_at":"2021-01-14T10:26:24Z","testing":false}],"paused":false,"updated_at":"2021-01-14T10:26:24Z","id":"5V7x2mes9fC7zg73R9bTFm","created_at":"2021-01-14T10:26:24Z","deleted_at":null,"publish_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "892"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
