---
version: 1
interactions:
- request:
    body: '{"config":{"webhook":"https://hooks.slack.com/services/test/webhook"},"description":"This
      is a test alert.","events":["flag"],"type":"slack"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/oIb247xKeTGgwPoVPA2PJ3/alerts
    method: POST
  response:
    body: |
      {"id":"686fe5a120b5651f04d04a27","description":"This is a test alert.","type":"slack","config":{"webhook":"https://hooks.slack.com/services/test/webhook"},"events":["flag"],"created_at":"2025-07-10T16:09:05Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
