---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/oIb247xKeTGgwPoVPA2PJ3/alerts
    method: GET
  response:
    body: |
      {"data":[{"id":"686fe5a120b5651f04d04a27","description":"This is a test alert.","type":"slack","config":{"webhook":"https://hooks.slack.com/services/updated/webhook"},"events":["flag"],"created_at":"2025-07-10T16:09:05Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}],"meta":{"limit":100,"total":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
