---
version: 1
interactions:
- request:
    body: '{"description":"THIS IS A TEST ACCESS KEY","permission":"read-write-objects","buckets":["test-bucket"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/object-storage/access-keys
    method: POST
  response:
    body: '{"access_key":"k2CVuM8ylPnekyRR0XUiGc","secret_key":"2ZCDcHLS894E8pgcXxGkpIGJmrdpPYelf9O0U0b9ltFIA1qWmzsuMq93DaCuaLmDm","description":"THIS
      IS A TEST ACCESS KEY","permission":"read-write-objects","buckets":["test-bucket"],"created_at":"2025-02-20T19:42:17.357Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
