---
version: 1
interactions:
- request:
    body: '{"description":"THIS IS A TEST ACCESS KEY","permission":"read-write-objects","buckets":["test-bucket"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/object-storage/access-keys
    method: POST
  response:
    body: '{"access_key":"lh3QRZvBI80OaaaAsmBz3Z","secret_key":"ToWoJkLsk0UZsbmSVnvn7v5yTy1394x9jZmEo6jkoB8fo4Rc5HX7bm8VBFv8iW8c","description":"THIS
      IS A TEST ACCESS KEY","permission":"read-write-objects","buckets":["test-bucket"],"created_at":"2025-02-21T14:51:16.286Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
