---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/object-storage/access-keys/lh3QRZvBI80OaaaAsmBz3Z
    method: GET
  response:
    body: '{"access_key":"lh3QRZvBI80OaaaAsmBz3Z","description":"THIS IS A TEST ACCESS
      KEY","permission":"read-write-objects","buckets":["test-bucket"],"created_at":"2025-02-21T14:51:16.286Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
