---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/object-storage/access-keys
    method: GET
  response:
    body: '{"meta":{},"data":[{"access_key":"k2CVuM8ylPnekyRR0XUiGc","description":"THIS
      IS A TEST ACCESS KEY","permission":"read-write-objects","buckets":["test-bucket"],"created_at":"2025-02-20T19:42:17.357Z"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
