---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=679&comment=comment&name=integ-test.go-fastly.com
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "679"
      comment:
      - comment
      name:
      - integ-test.go-fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/679/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test.go-fastly.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":679,"deleted_at":null,"created_at":"2017-07-20T01:15:06+00:00","updated_at":"2017-07-20T01:15:06+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "946"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
