---
version: 1
interactions:
- request:
    body: ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=102&comment=comment&name=integ-test1.go-fastly-1.com
    form:
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "102"
      comment:
      - comment
      name:
      - integ-test1.go-fastly-1.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/102/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test1.go-fastly-1.com","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":102,"updated_at":"2021-11-03T17:36:28Z","created_at":"2021-11-03T17:36:28Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4736"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
