---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=62&comment=comment&name=integ-test2.go-fastly-MRAjWwhTHc.com
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "62"
      comment:
      - comment
      name:
      - integ-test2.go-fastly-MRAjWwhTHc.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/62/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test2.go-fastly-MRAjWwhTHc.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":62,"created_at":"2021-11-03T16:28:25Z","deleted_at":null,"updated_at":"2021-11-03T16:28:25Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4916"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
