---
version: 1
interactions:
- request:
    body: ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=101&comment=comment&name=integ-test2.go-fastly-MRAjWwhTHc.com
    form:
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "101"
      comment:
      - comment
      name:
      - integ-test2.go-fastly-MRAjWwhTHc.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/101/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test2.go-fastly-MRAjWwhTHc.com","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":101,"created_at":"2021-11-03T17:34:23Z","deleted_at":null,"updated_at":"2021-11-03T17:34:23Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4742"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
