---
version: 1
interactions:
- request:
    body: ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=62&comment=comment&name=integ-test.go-fastly-XVlBzgbaiC.com
    form:
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "62"
      comment:
      - comment
      name:
      - integ-test.go-fastly-XVlBzgbaiC.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/62/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test.go-fastly-XVlBzgbaiC.com","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":62,"deleted_at":null,"created_at":"2021-11-03T16:28:25Z","updated_at":"2021-11-03T16:28:25Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4917"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
