---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=102&comment=comment&name=integ-test2.go-fastly-2.com
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "102"
      comment:
      - comment
      name:
      - integ-test2.go-fastly-2.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/102/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test2.go-fastly-2.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":102,"updated_at":"2021-11-03T17:36:28Z","deleted_at":null,"created_at":"2021-11-03T17:36:28Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4735"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
