---
version: 1
interactions:
- request:
    body: comment=comment&name=integ-test-20221104.go-fastly-2.com
    form:
      comment:
      - comment
      name:
      - integ-test-20221104.go-fastly-2.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/73/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test-20221104.go-fastly-2.com","service_id":"kKJb5bOFI47uHeBVluGfX1","version":73,"updated_at":"2022-11-04T17:36:56Z","created_at":"2022-11-04T17:36:56Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9967"
      Fastly-Ratelimit-Reset:
      - "1667584800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
