---
version: 1
interactions:
- request:
    body: ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=24&comment=comment&name=integ2-test.go-fastly.com
    form:
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "24"
      comment:
      - comment
      name:
      - integ2-test.go-fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/24/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ2-test.go-fastly.com","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":24,"created_at":"2021-09-13T13:55:45Z","updated_at":"2021-09-13T13:55:45Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4948"
      Fastly-Ratelimit-Reset:
      - "1631541600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
