---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/73/domain/integ-test-20221104.go-fastly-1.com
    method: GET
  response:
    body: '{"name":"integ-test-20221104.go-fastly-1.com","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2022-11-04T17:36:56Z","updated_at":"2022-11-04T17:36:56Z","comment":"comment","version":73,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
