---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/62/domain/integ-test.go-fastly-XVlBzgbaiC.com
    method: GET
  response:
    body: '{"service_id":"3QSsca5ilwNVpceZ2HJIAH","name":"integ-test.go-fastly-XVlBzgbaiC.com","updated_at":"2021-11-03T16:28:25Z","version":62,"deleted_at":null,"created_at":"2021-11-03T16:28:25Z","comment":"comment"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
