---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/38/domain/integ-test.go-fastly.com
    method: GET
  response:
    body: '{"deleted_at":null,"version":38,"updated_at":"2021-01-14T10:41:40Z","comment":"comment","created_at":"2021-01-14T10:41:40Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"integ-test.go-fastly.com"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
