---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/102/domain/integ-test1.go-fastly-1.com
    method: GET
  response:
    body: '{"created_at":"2021-11-03T17:36:28Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-11-03T17:36:28Z","deleted_at":null,"comment":"comment","version":102,"name":"integ-test1.go-fastly-1.com"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
