---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/18/domain/integ-test.go-fastly.com
    method: GET
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2019-05-08T23:18:08Z","updated_at":"2019-05-08T23:18:08Z","name":"integ-test.go-fastly.com","version":18,"comment":"comment","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
