---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/24/domain
    method: GET
  response:
    body: '[{"service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"comment","version":24,"name":"integ-test.go-fastly.com","created_at":"2021-09-13T13:55:45Z","deleted_at":null,"updated_at":"2021-09-13T13:55:45Z"},{"name":"integ2-test.go-fastly.com","version":24,"comment":"comment","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-09-13T13:55:45Z","deleted_at":null,"created_at":"2021-09-13T13:55:45Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
