---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/62/domain
    method: GET
  response:
    body: '[{"name":"integ-test.go-fastly-XVlBzgbaiC.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-11-03T16:28:25Z","created_at":"2021-11-03T16:28:25Z","deleted_at":null,"version":62,"comment":"comment"},{"updated_at":"2021-11-03T16:28:25Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"integ-test2.go-fastly-MRAjWwhTHc.com","comment":"comment","version":62,"deleted_at":null,"created_at":"2021-11-03T16:28:25Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
