---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/101/domain
    method: GET
  response:
    body: '[{"name":"integ-test.go-fastly-XVlBzgbaiC.com","deleted_at":null,"updated_at":"2021-11-03T17:34:22Z","version":101,"comment":"comment","service_id":"3QSsca5ilwNVpceZ2HJIAH","created_at":"2021-11-03T17:34:22Z"},{"version":101,"created_at":"2021-11-03T17:34:23Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","comment":"comment","name":"integ-test2.go-fastly-MRAjWwhTHc.com","updated_at":"2021-11-03T17:34:23Z","deleted_at":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
