---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/18/domain
    method: GET
  response:
    body: '[{"created_at":"2021-09-13T13:19:46Z","deleted_at":null,"updated_at":"2021-09-13T13:19:46Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":18,"comment":"comment","name":"integ-test.go-fastly.com"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
