---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/102/domain
    method: GET
  response:
    body: '[{"version":102,"updated_at":"2021-11-03T17:36:28Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","deleted_at":null,"created_at":"2021-11-03T17:36:28Z","name":"integ-test1.go-fastly-1.com","comment":"comment"},{"version":102,"updated_at":"2021-11-03T17:36:28Z","created_at":"2021-11-03T17:36:28Z","deleted_at":null,"service_id":"3QSsca5ilwNVpceZ2HJIAH","name":"integ-test2.go-fastly-2.com","comment":"comment"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
