---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/73/domain
    method: GET
  response:
    body: '[{"created_at":"2022-11-04T17:36:56Z","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"integ-test-20221104.go-fastly-1.com","version":73,"updated_at":"2022-11-04T17:36:56Z","comment":"comment","deleted_at":null},{"comment":"comment","deleted_at":null,"created_at":"2022-11-04T17:36:56Z","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"integ-test-20221104.go-fastly-2.com","updated_at":"2022-11-04T17:36:56Z","version":73}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
