---
version: 1
interactions:
- request:
    body: Name=integ-test.go-fastly-XVlBzgbaiC.com&ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=101&name=integ-test3.go-fastly-tcuAxhxKQF.com
    form:
      Name:
      - integ-test.go-fastly-XVlBzgbaiC.com
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "101"
      name:
      - integ-test3.go-fastly-tcuAxhxKQF.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/101/domain/integ-test.go-fastly-XVlBzgbaiC.com
    method: PUT
  response:
    body: '{"deleted_at":null,"version":101,"updated_at":"2021-11-03T17:34:22Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","created_at":"2021-11-03T17:34:22Z","name":"integ-test3.go-fastly-tcuAxhxKQF.com","comment":"comment"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4741"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
