---
version: 1
interactions:
- request:
    body: Name=integ-test.go-fastly.com&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=24&name=new-integ-test.go-fastly.com
    form:
      Name:
      - integ-test.go-fastly.com
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "24"
      name:
      - new-integ-test.go-fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/24/domain/integ-test.go-fastly.com
    method: PUT
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"comment","created_at":"2021-09-13T13:55:45Z","name":"new-integ-test.go-fastly.com","updated_at":"2021-09-13T13:55:45Z","deleted_at":null,"version":24}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4947"
      Fastly-Ratelimit-Reset:
      - "1631541600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
