---
version: 1
interactions:
- request:
    body: name=integ-test-20221104.go-fastly-3.com
    form:
      name:
      - integ-test-20221104.go-fastly-3.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/73/domain/integ-test-20221104.go-fastly-1.com
    method: PUT
  response:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"name":"integ-test-20221104.go-fastly-3.com","comment":"comment","version":73,"updated_at":"2022-11-04T17:36:56Z","created_at":"2022-11-04T17:36:56Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9966"
      Fastly-Ratelimit-Reset:
      - "1667584800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
