---
version: 1
interactions:
- request:
    body: Name=integ-test1.go-fastly-1.com&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=102&name=integ-test3.go-fastly-3.com
    form:
      Name:
      - integ-test1.go-fastly-1.com
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "102"
      name:
      - integ-test3.go-fastly-3.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/102/domain/integ-test1.go-fastly-1.com
    method: PUT
  response:
    body: '{"updated_at":"2021-11-03T17:36:28Z","version":102,"service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"created_at":"2021-11-03T17:36:28Z","name":"integ-test3.go-fastly-3.com","comment":"comment"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4734"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
