---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=integ-test.go-fastly.com&Service=7i6HN3TK9wS159v2gPAZ8A&Version=18&name=new-integ-test.go-fastly.com
    form:
      Name:
      - integ-test.go-fastly.com
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "18"
      name:
      - new-integ-test.go-fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/18/domain/integ-test.go-fastly.com
    method: PUT
  response:
    body: '{"deleted_at":null,"updated_at":"2019-05-08T23:18:08Z","name":"new-integ-test.go-fastly.com","comment":"comment","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2019-05-08T23:18:08Z","version":18}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1557360000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
