---
version: 1
interactions:
- request:
    body: Name=integ-test.go-fastly.com&ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=18&name=new-integ-test.go-fastly.com
    form:
      Name:
      - integ-test.go-fastly.com
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "18"
      name:
      - new-integ-test.go-fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/18/domain/integ-test.go-fastly.com
    method: PUT
  response:
    body: '{"version":18,"deleted_at":null,"name":"new-integ-test.go-fastly.com","updated_at":"2021-09-13T13:19:46Z","comment":"comment","created_at":"2021-09-13T13:19:46Z","service_id":"3QSsca5ilwNVpceZ2HJIAH"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4990"
      Fastly-Ratelimit-Reset:
      - "1631541600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
