---
version: 1
interactions:
- request:
    body: Name=integ-test.go-fastly.com&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=38&name=new-integ-test.go-fastly.com
    form:
      Name:
      - integ-test.go-fastly.com
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "38"
      name:
      - new-integ-test.go-fastly.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/38/domain/integ-test.go-fastly.com
    method: PUT
  response:
    body: '{"name":"new-integ-test.go-fastly.com","updated_at":"2021-01-14T10:41:40Z","comment":"comment","created_at":"2021-01-14T10:41:40Z","version":38,"deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "763"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
