---
version: 1
interactions:
- request:
    body: Name=integ-test.go-fastly-XVlBzgbaiC.com&ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=62&name=integ-test3.go-fastly-tcuAxhxKQF.com
    form:
      Name:
      - integ-test.go-fastly-XVlBzgbaiC.com
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "62"
      name:
      - integ-test3.go-fastly-tcuAxhxKQF.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/62/domain/integ-test.go-fastly-XVlBzgbaiC.com
    method: PUT
  response:
    body: '{"comment":"comment","name":"integ-test3.go-fastly-tcuAxhxKQF.com","service_id":"3QSsca5ilwNVpceZ2HJIAH","created_at":"2021-11-03T16:28:25Z","deleted_at":null,"version":62,"updated_at":"2021-11-03T16:28:25Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4915"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
