---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/24/domain/new-integ-test.go-fastly.com/check
    method: GET
  response:
    body: '[{"version":24,"deleted_at":null,"updated_at":"2021-09-13T13:55:46Z","name":"new-integ-test.go-fastly.com","created_at":"2021-09-13T13:55:45Z","comment":"comment","service_id":"7i6HN3TK9wS159v2gPAZ8A"},null,false]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
