---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/101/domain/check_all
    method: GET
  response:
    body: '[[{"comment":"comment","name":"integ-test2.go-fastly-MRAjWwhTHc.com","deleted_at":null,"version":101,"updated_at":"2021-11-03T17:34:23Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","created_at":"2021-11-03T17:34:23Z"},null,false],[{"version":101,"deleted_at":null,"updated_at":"2021-11-03T17:34:24Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","created_at":"2021-11-03T17:34:22Z","name":"integ-test3.go-fastly-tcuAxhxKQF.com","comment":"comment"},null,false]]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
