---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/24/domain/check_all
    method: GET
  response:
    body: '[[{"comment":"comment","version":24,"deleted_at":null,"updated_at":"2021-09-13T13:55:45Z","name":"integ2-test.go-fastly.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2021-09-13T13:55:45Z"},null,false],[{"created_at":"2021-09-13T13:55:45Z","name":"new-integ-test.go-fastly.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"version":24,"updated_at":"2021-09-13T13:55:46Z","comment":"comment"},null,false]]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
