---
version: 1
interactions:
- request:
    body: Service=1JeR1AIjuRcEXA5doHqxPr&Version=2&name=WAf_Response&status=403
    form:
      Service:
      - 1JeR1AIjuRcEXA5doHqxPr
      Version:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/1JeR1AIjuRcEXA5doHqxPr/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"1JeR1AIjuRcEXA5doHqxPr","version":"2","content":null,"cache_condition":"","content_type":null,"updated_at":"2020-10-07T13:09:08Z","request_condition":"","deleted_at":null,"created_at":"2020-10-07T13:09:08Z","response":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4938"
      Fastly-Ratelimit-Reset:
      - "1602079200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
