---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/stores/kv
    method: GET
  response:
    body: '{"data":[{"id":"6nf0xnixc9ergkjzy88cjz","name":"bulk_import_testing","created_at":"2023-10-31
      12:23:31","updated_at":"2023-10-31 12:23:31"},{"id":"zqitd9olpo6ejskl25wh8x","name":"KV
      Store hg6ouxq32z","created_at":"2023-05-26 15:45:54","updated_at":"2023-05-26
      15:45:54"},{"id":"tttas4647let0pgv8jx1mq","name":"KV Store kgjctbazl7","created_at":"2023-05-26
      15:42:39","updated_at":"2023-05-26 15:42:39"},{"id":"yo6lr37o3t52no52yt2c8m","name":"KV
      Store u1p1y0yonr","created_at":"2023-05-26 15:36:36","updated_at":"2023-05-26
      15:36:36"},{"id":"i4wa7okjbd39ldzqavt032","name":"my_kv_store_tf_testing","created_at":"2023-08-18
      14:42:25","updated_at":"2023-08-18 14:42:25"},{"id":"12gc9ydwyqfkzpnjeui3nh","name":"test_store","created_at":"2021-09-21
      18:53:44","updated_at":"2021-09-21 18:53:44"}],"meta":{"limit":1000,"total":6}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
