---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/stores/kv/fff9gl14gebt6m9kkp54ve/keys?limit=4
    method: GET
  response:
    body: '{"data":["apple","banana","carrot","dragonfruit"],"meta":{"limit":4,"next_cursor":"CgtkcmFnb25mcnVpdA=="}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/stores/kv/fff9gl14gebt6m9kkp54ve/keys?cursor=CgtkcmFnb25mcnVpdA%3D%3D&limit=4
    method: GET
  response:
    body: '{"data":["eggplant"],"meta":{"limit":4}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
