---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/stores/kv
    method: GET
  response:
    body: '{"data":[{"id":"gqcvmq6gdtu0gi17gim5pi","name":"abetts-test","created_at":"2023-02-13
      13:55:42","updated_at":"2023-02-13 13:55:42"},{"id":"9co46hs8ms9ohlksa9hxyg","name":"acls-M4HCwJxJPGCIBSlRd5ETh","created_at":"2024-07-10
      14:05:38","updated_at":"2024-07-10 14:05:38"},{"id":"bqoo4k6f4hl5x8n2999ook","name":"alfonce-test","created_at":"2025-01-07
      20:25:17","updated_at":"2025-01-07 20:25:17"},{"id":"lerwiobec4e92e83m0oc7e","name":"banks","created_at":"2023-04-26
      14:56:02","updated_at":"2023-04-26 14:56:02"},{"id":"vb7qjxywm278mq5cittfk4","name":"byounglocationtest","created_at":"2023-03[...]
