---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/stores/kv
    method: GET
  response:
    body: '{"data":[{"id":"hy7v4fvn2et8w8ur9pwh28","name":"kvstore s02j4oehp0","created_at":"2023-05-02
      14:11:16","updated_at":"2023-05-02 14:11:16"},{"id":"bhvp6ieicv312295gytp7n","name":"my-store","created_at":"2023-01-16
      16:42:05","updated_at":"2023-01-16 16:42:05"},{"id":"877tz9agkk7hp7efnkdsr3","name":"mystore_via_cli","created_at":"2023-01-16
      16:49:51","updated_at":"2023-01-16 16:49:51"},{"id":"kupym5jumwkdty9tkrvezt","name":"mystore_via_cli2","created_at":"2023-01-16
      16:51:38","updated_at":"2023-01-16 16:51:38"},{"id":"fnz2r0pwuea2927sx063nv","name":"mystore_via_cli3","created_at":"2023-01-16
      16:51:46","updated_at":"2023-01-16 16:51:46"},{"id":"5v6bkddzedhlq9882x6612","name":"store_one","created_at":"2023-01-17
      15:02:05","updated_at":"2023-01-17 15:02:05"},{"id":"9meqixmwv1pkzlxz9l50fw","name":"store_testing_with_resource","created_at":"2023-01-19
      14:04:50","updated_at":"2023-01-19 14:04:50"},{"id":"cgood8gnuv8hux8nomzsww","name":"store_testing_with_resource_1","created_at":"2023-01-19
      14:10:21","updated_at":"2023-01-19 14:10:21"},{"id":"hm03bou56ud6zkze9oi036","name":"testing-alias-objectstore","created_at":"2023-04-19
      19:02:43","updated_at":"2023-04-19 19:02:43"},{"id":"olwenufofbiklsaaz4i1l8","name":"testing-v9","created_at":"2023-04-19
      16:31:45","updated_at":"2023-04-19 16:31:45"},{"id":"12gc9ydwyqfkzpnjeui3nh","name":"test_store","created_at":"2021-09-21
      18:53:44","updated_at":"2021-09-21 18:53:44"}],"meta":{"limit":1000,"total":11}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
