---
version: 1
interactions:
- request:
    body: '{"fqdn":"fastly-sdk-gofastly-testing.com","service_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domains/v1
    method: POST
  response:
    body: '{"id":"hbRABkI8yvSnUbCLRiqUbQ","created_at":"2025-01-14T14:21:09.000Z","fqdn":"fastly-sdk-gofastly-testing.com","updated_at":"2025-01-14T14:21:09.000Z","service_id":null}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
