---
version: 1
interactions:
- request:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domains/v1/hbRABkI8yvSnUbCLRiqUbQ
    method: PATCH
  response:
    body: '{"id":"hbRABkI8yvSnUbCLRiqUbQ","created_at":"2025-01-14T14:21:09.000Z","fqdn":"fastly-sdk-gofastly-testing.com","updated_at":"2025-01-14T14:21:09.000Z","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
