---
version: 1
interactions:
- request:
    body: Service=2Xx48e6pQNCa26prCiwiTG&Version=2&name=WAf_Response&status=403
    form:
      Service:
      - 2Xx48e6pQNCa26prCiwiTG
      Version:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2Xx48e6pQNCa26prCiwiTG/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"2Xx48e6pQNCa26prCiwiTG","version":"2","updated_at":"2020-10-07T13:09:07Z","content_type":null,"request_condition":"","content":null,"deleted_at":null,"cache_condition":"","response":"ok","created_at":"2020-10-07T13:09:07Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4942"
      Fastly-Ratelimit-Reset:
      - "1602079200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
