---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/observability/log-explorer?end=2026-08-13T15%3A00%3A00Z&filter%5Bresponse_time%5D%5Bgte%5D=0&limit=5&service_id=kKJb5bOFI47uHeBVluGfX1&start=2026-08-12T15%3A00%3A00Z
    method: GET
  response:
    body: '{"data":null,"meta":{"filters":{"start":"2026-08-12T15:00:00Z","end":"2026-08-13T15:00:00Z","limit":5,"service_id":"kKJb5bOFI47uHeBVluGfX1","field_filters":[{"field":"response_time","operator":"gte","value":0}]}}}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
