---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/observability/log-insights?end=2026-08-13T15%3A00%3A00Z&limit=10&service_id=kKJb5bOFI47uHeBVluGfX1&start=2026-08-12T15%3A00%3A00Z&visualization=top-url-by-requests
    method: GET
  response:
    body: '{"data":[],"meta":{"filters":{"domain_exact_match":true,"end":"2026-08-13T15:00:00Z","limit":10,"service_id":"kKJb5bOFI47uHeBVluGfX1","start":"2026-08-12T15:00:00Z"}}}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
