---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/97/http3
    method: GET
  response:
    body: '{"feature_revision":1,"feature_update_available":false,"id":"6jKAaDBecYPuyRIyONOL9w","service_id":"kKJb5bOFI47uHeBVluGfX1","version":97,"created_at":"2023-02-08T17:47:16Z","updated_at":"2023-02-08T17:47:16Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
