---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"customer_contact","attributes":{"contact_type":"emergency","email":"go-fastly-test+contact-guard+20260522@example.com","name":"guard contact"}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/customer/7i6ZbMEdjnTUNyk75XgWO0/contacts
    method: POST
  response:
    body: '{"data":{"id":"6ojdEaGJGBQHW5RJzwswwy","type":"customer_contact","attributes":{"created_at":"2026-05-22T12:39:57Z","updated_at":"2026-05-22T12:39:57Z","deleted_at":null,"contact_type":"emergency","phone":null,"name":"guard
      contact","email":"go-fastly-test+contact-guard+20260522@example.com"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Fastly-Ratelimit-Remaining:
      - "984"
      Fastly-Ratelimit-Reset:
      - "1779454800"
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
