---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/customer/7i6ZbMEdjnTUNyk75XgWO0/contacts
    method: GET
  response:
    body: '{"data":[{"id":"2GpZ8C5uI5jnIS6HHyytP1","type":"customer_contact","attributes":{"created_at":"2026-05-22T12:39:08Z","updated_at":"2026-05-22T12:39:08Z","deleted_at":null,"contact_type":"emergency","phone":null,"name":"guard
      contact","email":"go-fastly-test+contact-guard+20260522@example.com"}},{"id":"1aaaaaaaaaaaaaaaaaaaaa","type":"customer_contact","attributes":{"created_at":"2026-05-20T09:06:19Z","updated_at":"2026-05-20T09:06:19Z","deleted_at":null,"contact_type":"primary","phone":"0000000000","name":"Cloud
      Team","email":"pre-existing-primary@example.com"}},{"id":"4CMF0j77IO1EYQjmoSqU6S","type":"customer_contact","attributes":{"created_at":"2026-05-22T12:37:38Z","updated_at":"2026-05-22T12:37:38Z","deleted_at":null,"contact_type":"billing","phone":null,"name":"test
      contact","email":"go-fastly-test+contact+20260522@example.com"}},{"id":"5Wvd5Mi5Gm6LLW7yIQ8a4y","type":"customer_contact","attributes":{"created_at":"2026-05-22T12:39:57Z","updated_at":"2026-05-22T12:39:57Z","deleted_at":null,"contact_type":"emergency","phone":null,"name":"test
      contact","email":"go-fastly-test+contact+20260522@example.com"}},{"id":"6ojdEaGJGBQHW5RJzwswwy","type":"customer_contact","attributes":{"created_at":"2026-05-22T12:39:57Z","updated_at":"2026-05-22T12:39:57Z","deleted_at":null,"contact_type":"emergency","phone":null,"name":"guard
      contact","email":"go-fastly-test+contact-guard+20260522@example.com"}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
