---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_exclusion","attributes":{"condition":"req.url.basename == \"index.asp\"","exclusion_type":"waf","name":"index asp","number":null}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/1GeCu9U6X9dT82wCSwlNqa/versions/1/exclusions
    method: POST
  response:
    body: '{"data":{"id":"7M33lfYFkJSOxy9YIOtS1C","type":"waf_exclusion","attributes":{"condition":"req.url.basename
      == \"index.asp\"","created_at":"2021-01-14T10:27:50Z","exclusion_type":"waf","logging":true,"name":"index
      asp","number":3,"updated_at":"2021-01-14T10:27:50Z","variable":null}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
    code: 201
    duration: ""
