---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_exclusion","attributes":{"condition":"req.url.basename == \"index.asp\"","exclusion_type":"waf","name":"index asp","number":null}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/1jBOQg5R5qgU6rBTyhYbPo/versions/1/exclusions
    method: POST
  response:
    body: '{"data":{"id":"409BiFLoitDSoUw7CNrno8","type":"waf_exclusion","attributes":{"condition":"req.url.basename
      == \"index.asp\"","created_at":"2021-11-03T17:30:11Z","exclusion_type":"waf","logging":true,"name":"index
      asp","number":3,"updated_at":"2021-11-03T17:30:11Z","variable":null}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
    code: 201
    duration: ""
