---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_exclusion","attributes":{"condition":"req.url.basename == \"index.asp\"","exclusion_type":"waf","name":"index asp","number":null}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/62l7nuYjgnuQSlFstrZnnH/versions/1/exclusions
    method: POST
  response:
    body: '{"data":{"id":"4cYxLvo8x6ckU4GzVor1tL","type":"waf_exclusion","attributes":{"created_at":"2020-10-09T09:28:43Z","exclusion_type":"waf","condition":"req.url.basename
      == \"index.asp\"","name":"index asp","number":3,"updated_at":"2020-10-09T09:28:43Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
