---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/firewalls/1jBOQg5R5qgU6rBTyhYbPo/versions/1/exclusions?filter%5Bexclusion_type%5D=rule&filter%5Bwaf_rules.modsec_rule_id%5D=21032607&include=waf_rules&page%5Bnumber%5D=1&page%5Bsize%5D=100
    method: GET
  response:
    body: '{"data":[{"id":"6LUoGIWiDeDWhlSVDwil27","type":"waf_exclusion","attributes":{"condition":"req.url.basename
      == \"index.php\"","created_at":"2021-11-03T17:30:10Z","exclusion_type":"rule","logging":true,"name":"index
      php","number":2,"updated_at":"2021-11-03T17:30:10Z","variable":null},"relationships":{"waf_rules":{"data":[{"id":"16kRBJ5RrNGYcnQ9EEiawe","type":"waf_rule"}]}}}],"included":[{"id":"16kRBJ5RrNGYcnQ9EEiawe","type":"waf_rule","attributes":{"modsec_rule_id":21032607,"publisher":"trustwave","type":"strict"}}],"links":{"last":"https://api.fastly.com/waf/firewalls/1jBOQg5R5qgU6rBTyhYbPo/versions/1/exclusions?filter[exclusion_type]=rule\u0026filter[waf_rules.modsec_rule_id]=21032607\u0026include=waf_rules\u0026page[number]=1\u0026page[size]=100","first":"https://api.fastly.com/waf/firewalls/1jBOQg5R5qgU6rBTyhYbPo/versions/1/exclusions?filter[exclusion_type]=rule\u0026filter[waf_rules.modsec_rule_id]=21032607\u0026include=waf_rules\u0026page[number]=1\u0026page[size]=100"},"meta":{"current_page":1,"per_page":100,"record_count":1,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
