---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/signals/IuiHfvyZjz9T01Ro8ijUEB
    method: GET
  response:
    body: |
      {"id":"IuiHfvyZjz9T01Ro8ijUEB","reference_id":"site.a-real-name","name":"A real Name","description":"This is a description","created_at":"2025-06-29T15:20:03Z","updated_at":"2025-06-29T15:20:03Z","scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
