---
version: 1
interactions:
- request:
    body: '{"contentguard":"on"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/enabled-products/v1/bot_management/services/kKJb5bOFI47uHeBVluGfX1/configuration
    method: PATCH
  response:
    body: |
      {"product":{"id":"bot_management","object":"product"},"service":{"id":"kKJb5bOFI47uHeBVluGfX1","object":"service"},"configuration":{"contentguard":"on"},"_links":{"self":"/enabled-products/v1/bot_management/services/kKJb5bOFI47uHeBVluGfX1/configuration"}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
