---
version: 1
interactions:
- request:
    body: format=format&name=test-newrelic-2&region=eu&token=abcd1234
    form:
      format:
      - format
      name:
      - test-newrelic-2
      region:
      - eu
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/15/logging/newrelic
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelic-2","region":"eu","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"15","response_condition":"","placement":null,"deleted_at":null,"created_at":"2025-02-28T21:33:58Z","format_version":"2","updated_at":"2025-02-28T21:33:58Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9925"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
