---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=52&format=format&name=test-newrelic&placement=waf_debug&token=abcd1234
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "52"
      format:
      - format
      name:
      - test-newrelic
      placement:
      - waf_debug
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/52/logging/newrelic
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelic","placement":"waf_debug","token":"abcd1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"52","updated_at":"2021-01-14T10:44:27Z","format_version":"2","deleted_at":null,"response_condition":"","created_at":"2021-01-14T10:44:27Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "668"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
