---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=78&format=format&name=test-newrelic&placement=waf_debug&region=us&token=abcd1234
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "78"
      format:
      - format
      name:
      - test-newrelic
      placement:
      - waf_debug
      region:
      - us
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/78/logging/newrelic
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelic","placement":"waf_debug","region":"us","token":"abcd1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"78","response_condition":"","updated_at":"2021-11-03T17:00:56Z","deleted_at":null,"created_at":"2021-11-03T17:00:56Z","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4995"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
