---
version: 1
interactions:
- request:
    body: format=format&name=test-newrelic&placement=waf_debug&region=us&token=abcd1234
    form:
      format:
      - format
      name:
      - test-newrelic
      placement:
      - waf_debug
      region:
      - us
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/123/logging/newrelic
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelic","placement":"waf_debug","region":"us","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"123","format_version":"2","created_at":"2025-06-04T15:26:20Z","response_condition":"","updated_at":"2025-06-04T15:26:20Z","deleted_at":null,"log_processing_region":"none"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9864"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
