---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=139&format=format&name=test-newrelic-2&placement=waf_debug&region=eu&token=abcd1234
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "139"
      format:
      - format
      name:
      - test-newrelic-2
      placement:
      - waf_debug
      region:
      - eu
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/139/logging/newrelic
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelic-2","placement":"waf_debug","region":"eu","token":"abcd1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"139","updated_at":"2021-08-17T16:11:50Z","deleted_at":null,"format_version":"2","created_at":"2021-08-17T16:11:50Z","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "981"
      Fastly-Ratelimit-Reset:
      - "1629219600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
