---
version: 1
interactions:
- request:
    body: format=format&name=test-newrelic-2&placement=waf_debug&region=eu&token=abcd1234
    form:
      format:
      - format
      name:
      - test-newrelic-2
      placement:
      - waf_debug
      region:
      - eu
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/52/logging/newrelic
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelic-2","placement":"waf_debug","region":"eu","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"52","created_at":"2022-11-04T14:57:13Z","updated_at":"2022-11-04T14:57:13Z","deleted_at":null,"response_condition":"","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9952"
      Fastly-Ratelimit-Reset:
      - "1667574000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
