---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/78/logging/newrelic/test-newrelic
    method: GET
  response:
    body: '{"name":"test-newrelic","service_id":"3QSsca5ilwNVpceZ2HJIAH","format":"format","created_at":"2021-11-03T17:00:56Z","region":"us","token":"abcd1234","updated_at":"2021-11-03T17:00:56Z","format_version":"2","response_condition":"","deleted_at":null,"version":"78","placement":"waf_debug"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
