---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/52/logging/newrelic/test-newrelic
    method: GET
  response:
    body: '{"format_version":"2","response_condition":"","created_at":"2022-11-04T14:57:13Z","token":"abcd1234","format":"format","deleted_at":null,"region":"us","name":"test-newrelic","placement":"waf_debug","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"52","updated_at":"2022-11-04T14:57:13Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
