---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/126/logging/newrelic/test-newrelic
    method: GET
  response:
    body: '{"placement":"waf_debug","name":"test-newrelic","format":"format","deleted_at":null,"updated_at":"2020-05-08T11:46:36Z","token":"abcd1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"2","version":"126","response_condition":"","created_at":"2020-05-08T11:46:36Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
