---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/123/logging/newrelic/test-newrelic
    method: GET
  response:
    body: '{"name":"test-newrelic","format_version":"2","region":"us","updated_at":"2025-06-04T15:26:20Z","deleted_at":null,"version":"123","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","format":"format","placement":"waf_debug","created_at":"2025-06-04T15:26:20Z","log_processing_region":"none","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
