---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/176/logging/newrelic/test-newrelic
    method: GET
  response:
    body: '{"log_processing_region":"none","region":"us","created_at":"2026-07-23T19:31:37Z","format_version":"2","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2026-07-23T19:31:37Z","response_condition":"","version":"176","name":"test-newrelic","placement":"none","format":"format","token":"abcd1234"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
