---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/15/logging/newrelic/test-newrelic
    method: GET
  response:
    body: '{"deleted_at":null,"updated_at":"2025-02-28T21:33:58Z","name":"test-newrelic","region":"us","placement":null,"token":"abcd1234","version":"15","service_id":"kKJb5bOFI47uHeBVluGfX1","format_version":"2","format":"format","response_condition":"","created_at":"2025-02-28T21:33:58Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
