---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/139/logging/newrelic/test-newrelic-2
    method: GET
  response:
    body: '{"token":"abcd1234","deleted_at":null,"format_version":"2","created_at":"2021-08-17T16:11:50Z","name":"test-newrelic-2","service_id":"7i6HN3TK9wS159v2gPAZ8A","format":"format","version":"139","placement":"waf_debug","region":"eu","response_condition":"","updated_at":"2021-08-17T16:11:50Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
