---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/123/logging/newrelic/test-newrelic-2
    method: GET
  response:
    body: '{"response_condition":"","region":"eu","created_at":"2025-06-04T15:26:21Z","format_version":"2","log_processing_region":"none","version":"123","placement":"waf_debug","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","format":"format","token":"abcd1234","updated_at":"2025-06-04T15:26:21Z","name":"test-newrelic-2"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
