---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/78/logging/newrelic/test-newrelic-2
    method: GET
  response:
    body: '{"version":"78","placement":"waf_debug","name":"test-newrelic-2","service_id":"7i6HN3TK9wS159v2gPAZ8A","format":"format","created_at":"2021-11-03T17:00:57Z","region":"eu","token":"abcd1234","updated_at":"2021-11-03T17:00:57Z","format_version":"2","response_condition":"","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
