---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/15/logging/newrelic/test-newrelic-2
    method: GET
  response:
    body: '{"format_version":"2","token":"abcd1234","region":"eu","updated_at":"2025-02-28T21:33:58Z","response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"version":"15","name":"test-newrelic-2","format":"format","placement":null,"created_at":"2025-02-28T21:33:58Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
