---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/176/logging/newrelic/test-newrelic-2
    method: GET
  response:
    body: '{"placement":"none","service_id":"kKJb5bOFI47uHeBVluGfX1","log_processing_region":"none","deleted_at":null,"format":"format","response_condition":"","format_version":"2","region":"eu","token":"abcd1234","name":"test-newrelic-2","created_at":"2026-07-23T19:31:40Z","version":"176","updated_at":"2026-07-23T19:31:40Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
