---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/126/logging/newrelic
    method: GET
  response:
    body: '[{"created_at":"2020-05-08T11:46:36Z","response_condition":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"2","version":"126","token":"abcd1234","updated_at":"2020-05-08T11:46:36Z","format":"format","deleted_at":null,"placement":"waf_debug","name":"test-newrelic"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
