---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/52/logging/newrelic
    method: GET
  response:
    body: '[{"format_version":"2","format":"format","response_condition":"","version":"52","token":"abcd1234","placement":"waf_debug","deleted_at":null,"updated_at":"2022-11-04T14:57:13Z","name":"test-newrelic","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2022-11-04T14:57:13Z","region":"us"},{"deleted_at":null,"updated_at":"2022-11-04T14:57:13Z","name":"test-newrelic-2","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2022-11-04T14:57:13Z","region":"eu","format_version":"2","format":"format","response_condition":"","version":"52","token":"abcd1234","placement":"waf_debug"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
