---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/176/logging/newrelic
    method: GET
  response:
    body: '[{"deleted_at":null,"name":"test-newrelic","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"176","token":"abcd1234","log_processing_region":"none","created_at":"2026-07-23T19:31:37Z","placement":"none","response_condition":"","format_version":"2","region":"us","updated_at":"2026-07-23T19:31:37Z","format":"format"},{"region":"eu","response_condition":"","format_version":"2","format":"format","updated_at":"2026-07-23T19:31:40Z","service_id":"kKJb5bOFI47uHeBVluGfX1","token":"abcd1234","log_processing_region":"none","version":"176","deleted_at":null,"name":"test-newrelic-2","placement":"none","created_at":"2026-07-23T19:31:40Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
