---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/78/logging/newrelic
    method: GET
  response:
    body: '[{"name":"test-newrelic","deleted_at":null,"version":"78","service_id":"7i6HN3TK9wS159v2gPAZ8A","response_condition":"","token":"abcd1234","format_version":"2","updated_at":"2021-11-03T17:00:56Z","placement":"waf_debug","created_at":"2021-11-03T17:00:56Z","format":"format","region":"us"},{"created_at":"2021-11-03T17:00:57Z","format":"format","region":"eu","placement":"waf_debug","updated_at":"2021-11-03T17:00:57Z","format_version":"2","service_id":"7i6HN3TK9wS159v2gPAZ8A","response_condition":"","token":"abcd1234","version":"78","deleted_at":null,"name":"test-newrelic-2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
