---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/139/logging/newrelic
    method: GET
  response:
    body: '[{"name":"test-newrelic","deleted_at":null,"format_version":"2","region":"us","created_at":"2021-08-17T16:11:50Z","response_condition":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-08-17T16:11:50Z","version":"139","token":"abcd1234","placement":"waf_debug","format":"format"},{"name":"test-newrelic-2","format_version":"2","deleted_at":null,"region":"eu","created_at":"2021-08-17T16:11:50Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","response_condition":"","token":"abcd1234","updated_at":"2021-08-17T16:11:50Z","version":"139","format":"format","placement":"waf_debug"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
