---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/15/logging/newrelic
    method: GET
  response:
    body: '[{"name":"test-newrelic","response_condition":"","placement":null,"region":"us","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"format":"format","version":"15","created_at":"2025-02-28T21:33:58Z","token":"abcd1234","format_version":"2","updated_at":"2025-02-28T21:33:58Z"},{"updated_at":"2025-02-28T21:33:58Z","version":"15","created_at":"2025-02-28T21:33:58Z","format_version":"2","token":"abcd1234","format":"format","service_id":"kKJb5bOFI47uHeBVluGfX1","region":"eu","deleted_at":null,"response_condition":"","placement":null,"name":"test-newrelic-2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
