---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/123/logging/newrelic
    method: GET
  response:
    body: '[{"log_processing_region":"none","token":"abcd1234","version":"123","region":"us","deleted_at":null,"updated_at":"2025-06-04T15:26:20Z","response_condition":"","created_at":"2025-06-04T15:26:20Z","format":"format","format_version":"2","placement":"waf_debug","name":"test-newrelic","service_id":"kKJb5bOFI47uHeBVluGfX1"},{"region":"eu","response_condition":"","updated_at":"2025-06-04T15:26:21Z","deleted_at":null,"log_processing_region":"none","version":"123","token":"abcd1234","name":"test-newrelic-2","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2025-06-04T15:26:21Z","format":"format","format_version":"2","placement":"waf_debug"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
