---
version: 1
interactions:
- request:
    body: format_version=2&name=new-test-newrelic&region=eu
    form:
      format_version:
      - "2"
      name:
      - new-test-newrelic
      region:
      - eu
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/15/logging/newrelic/test-newrelic
    method: PUT
  response:
    body: '{"placement":null,"response_condition":"","name":"new-test-newrelic","format":"format","deleted_at":null,"region":"eu","service_id":"kKJb5bOFI47uHeBVluGfX1","token":"abcd1234","format_version":"2","version":"15","created_at":"2025-02-28T21:33:58Z","updated_at":"2025-02-28T21:33:58Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9902"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
