---
version: 1
interactions:
- request:
    body: Name=test-newrelic&Service=7i6HN3TK9wS159v2gPAZ8A&Version=126&format_version=2&name=new-test-newrelic
    form:
      Name:
      - test-newrelic
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "126"
      format_version:
      - "2"
      name:
      - new-test-newrelic
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/126/logging/newrelic/test-newrelic
    method: PUT
  response:
    body: '{"updated_at":"2020-05-08T11:46:36Z","deleted_at":null,"placement":"waf_debug","format":"format","format_version":"2","created_at":"2020-05-08T11:46:36Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","token":"abcd1234","response_condition":"","name":"new-test-newrelic","version":"126"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "892"
      Fastly-Ratelimit-Reset:
      - "1588939200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
