---
version: 1
interactions:
- request:
    body: Name=test-newrelic&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=139&format_version=2&name=new-test-newrelic&region=eu
    form:
      Name:
      - test-newrelic
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "139"
      format_version:
      - "2"
      name:
      - new-test-newrelic
      region:
      - eu
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/139/logging/newrelic/test-newrelic
    method: PUT
  response:
    body: '{"version":"139","region":"eu","response_condition":"","token":"abcd1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"new-test-newrelic","format_version":"2","created_at":"2021-08-17T16:11:50Z","placement":"waf_debug","deleted_at":null,"format":"format","updated_at":"2021-08-17T16:11:50Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "979"
      Fastly-Ratelimit-Reset:
      - "1629219600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
