---
version: 1
interactions:
- request:
    body: '{"placement":null,"region":"zz"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/176/logging/newrelic/new-test-newrelic
    method: PUT
  response:
    body: '{"msg":"Bad request","detail":"unrecognized region zz"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9573"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 400 Bad Request
    status: 400 Bad Request
    code: 400
    duration: ""
