---
version: 1
interactions:
- request:
    body: Name=test-newrelic&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=52&format_version=2&name=new-test-newrelic
    form:
      Name:
      - test-newrelic
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "52"
      format_version:
      - "2"
      name:
      - new-test-newrelic
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/52/logging/newrelic/test-newrelic
    method: PUT
  response:
    body: '{"name":"new-test-newrelic","service_id":"7i6HN3TK9wS159v2gPAZ8A","response_condition":"","format":"format","created_at":"2021-01-14T10:44:27Z","format_version":"2","updated_at":"2021-01-14T10:44:27Z","deleted_at":null,"placement":"waf_debug","version":"52","token":"abcd1234"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "667"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
