---
version: 1
interactions:
- request:
    body: format_version=2&name=new-test-newrelic&region=eu
    form:
      format_version:
      - "2"
      name:
      - new-test-newrelic
      region:
      - eu
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/52/logging/newrelic/test-newrelic
    method: PUT
  response:
    body: '{"format":"format","format_version":"2","region":"eu","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"name":"new-test-newrelic","updated_at":"2022-11-04T14:57:13Z","version":"52","response_condition":"","placement":"waf_debug","created_at":"2022-11-04T14:57:13Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9950"
      Fastly-Ratelimit-Reset:
      - "1667574000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
