---
version: 1
interactions:
- request:
    body: Name=test-newrelic&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=78&format_version=2&name=new-test-newrelic&region=eu
    form:
      Name:
      - test-newrelic
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "78"
      format_version:
      - "2"
      name:
      - new-test-newrelic
      region:
      - eu
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/78/logging/newrelic/test-newrelic
    method: PUT
  response:
    body: '{"placement":"waf_debug","version":"78","format_version":"2","updated_at":"2021-11-03T17:00:56Z","deleted_at":null,"response_condition":"","created_at":"2021-11-03T17:00:56Z","region":"eu","token":"abcd1234","name":"new-test-newrelic","service_id":"7i6HN3TK9wS159v2gPAZ8A","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4992"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
