---
version: 1
interactions:
- request:
    body: format_version=2&log_processing_region=eu&name=new-test-newrelic&region=eu
    form:
      format_version:
      - "2"
      log_processing_region:
      - eu
      name:
      - new-test-newrelic
      region:
      - eu
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/123/logging/newrelic/test-newrelic
    method: PUT
  response:
    body: '{"placement":"waf_debug","log_processing_region":"eu","created_at":"2025-06-04T15:26:20Z","response_condition":"","updated_at":"2025-06-04T15:26:20Z","region":"eu","format_version":"2","name":"new-test-newrelic","token":"abcd1234","version":"123","deleted_at":null,"format":"format","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9861"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
