---
version: 1
rwmutex: {}
interactions:
- request:
    body: |
      {"data": { "attributes": { "status": "block" }, "id": "4fuxZ7bpag8laOjYwxlqZM-933120", "type": "rule_status" }
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/wafs/4fuxZ7bpag8laOjYwxlqZM/rules/933120/rule_status
    method: PATCH
  response:
    body: '{"data": { "attributes": { "status": "block"}, "id":"4fuxZ7bpag8laOjYwxlqZM-933120","type":"rule_status" } }'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
