---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/diff/from/558/to/560
    method: GET
  response:
    body: '{"from":"558","to":"560","format":"text","diff":" backends: []\n cache_settings:
      []\n comment: ''''\n conditions: []\n deployed:\n directors: []\n domains: []\n
      gzips: []\n headers: []\n healthchecks: []\n inherit_service_id:\n matches:
      []\n origins: []\n request_settings: []\n response_objects: []\n service_id:
      7i6HN3TK9wS159v2gPAZ8A\n settings:\n   general.default_host: ''''\n   general.default_pci:
      0\n   general.default_ttl: 3600\n staging:\n testing:\n vcls: []\n wordpress:
      []\n"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
