---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/diff/from/558/to/560
    method: GET
  response:
    body: '{"from":"558","to":"560","format":"text","diff":"-backends: []\n+backends:\n+-
      name: test-backend\n+  address: integ-test.go-fastly.com\n+  auto_loadbalance:
      false\n+  between_bytes_timeout: 10000\n+  client_cert:\n+  comment: ''''\n+  connect_timeout:
      1000\n+  error_threshold: 0\n+  first_byte_timeout: 15000\n+  healthcheck:\n+  hostname:
      integ-test.go-fastly.com\n+  ipv4:\n+  ipv6:\n+  max_conn: 200\n+  max_tls_version:\n+  min_tls_version:\n+  port:
      80\n+  request_condition: ''''\n+  shield:\n+  ssl_ca_cert:\n+  ssl_cert_hostname:\n+  ssl_check_cert:
      true\n+  ssl_ciphers:\n+  ssl_client_cert:\n+  ssl_client_key:\n+  ssl_hostname:\n+  ssl_sni_hostname:\n+  use_ssl:
      false\n+  weight: 100\n cache_settings: []\n comment: ''''\n conditions: []\n
      deployed:\n directors: []\n domains: []\n gzips: []\n headers: []\n healthchecks:
      []\n inherit_service_id:\n matches: []\n origins: []\n request_settings: []\n
      response_objects: []\n service_id: 7i6HN3TK9wS159v2gPAZ8A\n settings:\n   general.default_host:
      ''''\n   general.default_pci: 0\n   general.default_ttl: 3600\n staging:\n testing:\n
      vcls: []\n wordpress: []\n"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
