---
version: 1
interactions:
- request:
    body: format=format&name=test-loggly&placement=none&token=abcd1234
    form:
      format:
      - format
      name:
      - test-loggly
      placement:
      - none
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/27/logging/loggly
    method: POST
  response:
    body: '{"format":"format","name":"test-loggly","placement":"none","token":"abcd1234","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"27","public_key":null,"format_version":"2","created_at":"2025-09-02T17:19:21Z","updated_at":"2025-09-02T17:19:21Z","response_condition":"","log_processing_region":"none","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9918"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
