---
version: 1
interactions:
- request:
    body: format=format&name=test-loggly&placement=none&token=abcd1234
    form:
      format:
      - format
      name:
      - test-loggly
      placement:
      - none
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/109/logging/loggly
    method: POST
  response:
    body: '{"format":"format","name":"test-loggly","placement":"none","token":"abcd1234","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"109","deleted_at":null,"public_key":null,"response_condition":"","format_version":"2","log_processing_region":"none","created_at":"2026-07-23T19:39:12Z","updated_at":"2026-07-23T19:39:12Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9441"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
