---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/109/logging/loggly/test-loggly
    method: GET
  response:
    body: '{"public_key":null,"deleted_at":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","version":"109","format":"format","name":"test-loggly","updated_at":"2026-07-23T19:39:12Z","created_at":"2026-07-23T19:39:12Z","log_processing_region":"none","placement":"none","format_version":"2","response_condition":"","token":"abcd1234"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
