---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/27/logging/loggly/test-loggly
    method: GET
  response:
    body: '{"version":"27","format_version":"2","log_processing_region":"none","deleted_at":null,"token":"abcd1234","public_key":null,"created_at":"2025-09-02T17:19:21Z","updated_at":"2025-09-02T17:19:21Z","placement":"none","service_id":"XsjdElScZGjmfCcTwsYRC1","name":"test-loggly","format":"format","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
