---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/27/logging/loggly
    method: GET
  response:
    body: '[{"updated_at":"2025-09-02T17:19:21Z","response_condition":"","version":"27","log_processing_region":"none","deleted_at":null,"format":"format","created_at":"2025-09-02T17:19:21Z","public_key":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","format_version":"2","token":"abcd1234","placement":"none","name":"test-loggly"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
