---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/109/logging/loggly
    method: GET
  response:
    body: '[{"created_at":"2026-07-23T19:39:12Z","service_id":"XsjdElScZGjmfCcTwsYRC1","public_key":null,"name":"test-loggly","deleted_at":null,"placement":"none","response_condition":"","version":"109","log_processing_region":"none","token":"abcd1234","format_version":"2","format":"format","updated_at":"2026-07-23T19:39:12Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
