---
version: 1
interactions:
- request:
    body: '{"format_version":2,"name":"new-test-loggly","placement":"none","log_processing_region":"eu"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/109/logging/loggly/test-loggly
    method: PUT
  response:
    body: '{"public_key":null,"name":"new-test-loggly","service_id":"XsjdElScZGjmfCcTwsYRC1","created_at":"2026-07-23T19:39:12Z","token":"abcd1234","format_version":"2","format":"format","updated_at":"2026-07-23T19:39:12Z","log_processing_region":"eu","response_condition":"","placement":"none","version":"109","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9437"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
