---
version: 1
interactions:
- request:
    body: format_version=2&log_processing_region=eu&name=new-test-loggly
    form:
      format_version:
      - "2"
      log_processing_region:
      - eu
      name:
      - new-test-loggly
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/27/logging/loggly/test-loggly
    method: PUT
  response:
    body: '{"name":"new-test-loggly","format":"format","service_id":"XsjdElScZGjmfCcTwsYRC1","token":"abcd1234","format_version":"2","updated_at":"2025-09-02T17:19:21Z","public_key":null,"created_at":"2025-09-02T17:19:21Z","deleted_at":null,"placement":"none","response_condition":"","version":"27","log_processing_region":"eu"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9917"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
