---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Update&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Update
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Update","type":"vcl","created_at":"2023-11-28T14:24:07Z","updated_at":"2023-11-28T14:24:07Z","publish_key":"","paused":false,"id":"qkVGksaLIXbjEN154Ebkt5","deleted_at":null,"versions":[{"deleted_at":null,"comment":"","number":1,"staging":false,"locked":false,"service_id":"qkVGksaLIXbjEN154Ebkt5","active":false,"deployed":false,"created_at":"2023-11-28T14:24:07Z","testing":false,"updated_at":"2023-11-28T14:24:07Z"}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9966"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
