---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=6q3QkVUjl4q6L3UwavMQ91&Version=2&name=test_dictionary_BatchModifyDictionaryItems_Update
    form:
      Service:
      - 6q3QkVUjl4q6L3UwavMQ91
      Version:
      - "2"
      name:
      - test_dictionary_BatchModifyDictionaryItems_Update
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/6q3QkVUjl4q6L3UwavMQ91/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Update","service_id":"6q3QkVUjl4q6L3UwavMQ91","version":2,"id":"7RmRuJYKwpn2hMqNWqVR1s","updated_at":"2019-07-16T11:30:18Z","write_only":false,"deleted_at":null,"created_at":"2019-07-16T11:30:18Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "948"
      Fastly-Ratelimit-Reset:
      - "1563278400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
