---
version: 1
rwmutex: {}
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_1562949848
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_1562949848
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - zvk45NN9y28SUfa29P9sMqm9PDax8doD
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_1562949848","created_at":"2019-07-12T16:44:08Z","updated_at":"2019-07-12T16:44:08Z","publish_key":"40907cfc2aeb25a15e20579ba753defa0cd677e4","versions":[{"testing":false,"service_id":"1AH66RPYdxhlCNijKcEMl7","updated_at":"2019-07-12T16:44:08Z","created_at":"2019-07-12T16:44:08Z","deployed":false,"locked":false,"active":false,"comment":"","staging":false,"number":1,"deleted_at":null}],"deleted_at":null,"id":"1AH66RPYdxhlCNijKcEMl7"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "946"
      Fastly-Ratelimit-Reset:
      - "1562950800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
