---
version: 1
interactions:
- request:
    body: ServiceID=2cgAHRx3MdpWJbhz6CPoFB&ServiceVersion=2&name=test_dictionary_BatchModifyDictionaryItems_Update
    form:
      ServiceID:
      - 2cgAHRx3MdpWJbhz6CPoFB
      ServiceVersion:
      - "2"
      name:
      - test_dictionary_BatchModifyDictionaryItems_Update
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2cgAHRx3MdpWJbhz6CPoFB/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Update","service_id":"2cgAHRx3MdpWJbhz6CPoFB","version":2,"deleted_at":null,"created_at":"2021-11-03T16:14:55Z","write_only":false,"id":"5obPYoXlboJAoyWGLX2ZKC","updated_at":"2021-11-03T16:14:55Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4965"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
