---
version: 1
interactions:
- request:
    body: name=test_dictionary_BatchModifyDictionaryItems_Update
    form:
      name:
      - test_dictionary_BatchModifyDictionaryItems_Update
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/qkVGksaLIXbjEN154Ebkt5/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Update","service_id":"qkVGksaLIXbjEN154Ebkt5","version":2,"updated_at":"2023-11-28T14:24:07Z","id":"C5vZ2dFHm74HTFlU1fbnV5","write_only":false,"deleted_at":null,"created_at":"2023-11-28T14:24:07Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9964"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
