---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=1AH66RPYdxhlCNijKcEMl7&Version=2&name=test_dictionary_1562949848
    form:
      Service:
      - 1AH66RPYdxhlCNijKcEMl7
      Version:
      - "2"
      name:
      - test_dictionary_1562949848
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - zvk45NN9y28SUfa29P9sMqm9PDax8doD
    url: https://api.fastly.com/service/1AH66RPYdxhlCNijKcEMl7/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_1562949848","service_id":"1AH66RPYdxhlCNijKcEMl7","version":2,"updated_at":"2019-07-12T16:44:08Z","created_at":"2019-07-12T16:44:08Z","write_only":false,"deleted_at":null,"id":"4jZYWXocB5KeGNbTosY29H"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "944"
      Fastly-Ratelimit-Reset:
      - "1562950800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
