---
version: 1
interactions:
- request:
    body: '{"items":[{"item_key":"key1","item_value":"val1","op":"create"},{"item_key":"key2","item_value":"val2","op":"create"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/qkVGksaLIXbjEN154Ebkt5/dictionary/C5vZ2dFHm74HTFlU1fbnV5/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9963"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
