---
version: 1
rwmutex: {}
interactions:
- request:
    body: '{"items":[{"op":"create","item_key":"key1","item_value":"val1"},{"op":"create","item_key":"key2","item_value":"val2"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/6q3QkVUjl4q6L3UwavMQ91/dictionary/7RmRuJYKwpn2hMqNWqVR1s/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "947"
      Fastly-Ratelimit-Reset:
      - "1563278400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
