---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Update&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Update
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Update","type":"vcl","created_at":"2021-11-03T16:14:55Z","versions":[{"updated_at":"2021-11-03T16:14:55Z","deleted_at":null,"active":false,"service_id":"2cgAHRx3MdpWJbhz6CPoFB","comment":"","created_at":"2021-11-03T16:14:55Z","locked":false,"staging":false,"deployed":false,"testing":false,"number":1}],"paused":false,"updated_at":"2021-11-03T16:14:55Z","deleted_at":null,"id":"2cgAHRx3MdpWJbhz6CPoFB","publish_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4967"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
