---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Update&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Update
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Update","type":"vcl","created_at":"2021-01-14T10:23:59Z","publish_key":"","deleted_at":null,"id":"4dLwh4ao2p7BsqmQyf3oIr","paused":false,"updated_at":"2021-01-14T10:23:59Z","versions":[{"testing":false,"updated_at":"2021-01-14T10:23:59Z","active":false,"service_id":"4dLwh4ao2p7BsqmQyf3oIr","locked":false,"deployed":false,"created_at":"2021-01-14T10:23:59Z","number":1,"deleted_at":null,"staging":false,"comment":""}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "952"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
