---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/1AH66RPYdxhlCNijKcEMl7/dictionary/4jZYWXocB5KeGNbTosY29H/items
    method: GET
  response:
    body: '[{"deleted_at":null,"created_at":"2019-07-12T16:44:09Z","item_value":"val1","item_key":"key1","updated_at":"2019-07-12T16:44:09Z","dictionary_id":"4jZYWXocB5KeGNbTosY29H","service_id":"1AH66RPYdxhlCNijKcEMl7"},{"deleted_at":null,"created_at":"2019-07-12T16:44:09Z","item_value":"val2Updated","item_key":"key2","updated_at":"2019-07-12T16:44:09Z","service_id":"1AH66RPYdxhlCNijKcEMl7","dictionary_id":"4jZYWXocB5KeGNbTosY29H"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
