---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/4dLwh4ao2p7BsqmQyf3oIr/dictionary/5v5DkUyEQAS1kSKxbDOKLp/items
    method: GET
  response:
    body: '[{"service_id":"4dLwh4ao2p7BsqmQyf3oIr","deleted_at":null,"item_key":"key1","updated_at":"2021-01-14T10:24:00Z","item_value":"val1","created_at":"2021-01-14T10:24:00Z","dictionary_id":"5v5DkUyEQAS1kSKxbDOKLp"},{"deleted_at":null,"item_key":"key2","service_id":"4dLwh4ao2p7BsqmQyf3oIr","created_at":"2021-01-14T10:24:00Z","dictionary_id":"5v5DkUyEQAS1kSKxbDOKLp","updated_at":"2021-01-14T10:24:00Z","item_value":"val2Updated"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
