---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/2cgAHRx3MdpWJbhz6CPoFB/dictionary/5obPYoXlboJAoyWGLX2ZKC/items
    method: GET
  response:
    body: '[{"dictionary_id":"5obPYoXlboJAoyWGLX2ZKC","item_key":"key1","updated_at":"2021-11-03T16:14:56Z","item_value":"val1","service_id":"2cgAHRx3MdpWJbhz6CPoFB","created_at":"2021-11-03T16:14:56Z","deleted_at":null},{"dictionary_id":"5obPYoXlboJAoyWGLX2ZKC","deleted_at":null,"created_at":"2021-11-03T16:14:56Z","service_id":"2cgAHRx3MdpWJbhz6CPoFB","item_key":"key2","updated_at":"2021-11-03T16:14:56Z","item_value":"val2Updated"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
