---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/6q3QkVUjl4q6L3UwavMQ91/dictionary/7RmRuJYKwpn2hMqNWqVR1s/items
    method: GET
  response:
    body: '[{"created_at":"2019-07-16T11:30:18Z","dictionary_id":"7RmRuJYKwpn2hMqNWqVR1s","item_value":"val1","service_id":"6q3QkVUjl4q6L3UwavMQ91","item_key":"key1","updated_at":"2019-07-16T11:30:18Z","deleted_at":null},{"deleted_at":null,"item_key":"key2","service_id":"6q3QkVUjl4q6L3UwavMQ91","updated_at":"2019-07-16T11:30:18Z","dictionary_id":"7RmRuJYKwpn2hMqNWqVR1s","item_value":"val2Updated","created_at":"2019-07-16T11:30:18Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
