---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/qkVGksaLIXbjEN154Ebkt5/dictionary/C5vZ2dFHm74HTFlU1fbnV5/items?page=1&per_page=100
    method: GET
  response:
    body: '[{"updated_at":"2023-11-28T14:24:08Z","service_id":"qkVGksaLIXbjEN154Ebkt5","deleted_at":null,"created_at":"2023-11-28T14:24:08Z","dictionary_id":"C5vZ2dFHm74HTFlU1fbnV5","item_value":"val1","item_key":"key1"},{"deleted_at":null,"created_at":"2023-11-28T14:24:08Z","dictionary_id":"C5vZ2dFHm74HTFlU1fbnV5","updated_at":"2023-11-28T14:24:09Z","service_id":"qkVGksaLIXbjEN154Ebkt5","item_key":"key2","item_value":"val2Updated"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
