---
version: 1
interactions:
- request:
    body: '{"items":[{"op":"update","item_key":"key2","item_value":"val2Updated"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/4dLwh4ao2p7BsqmQyf3oIr/dictionary/5v5DkUyEQAS1kSKxbDOKLp/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "948"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
