---
version: 1
interactions:
- request:
    body: '{"items":[{"op":"update","item_key":"key2","item_value":"val2Updated"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/2cgAHRx3MdpWJbhz6CPoFB/dictionary/5obPYoXlboJAoyWGLX2ZKC/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4963"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
