---
version: 1
interactions:
- request:
    body: |
      {"data":[{"type":"waf_active_rule","attributes":{"modsec_rule_id":2029718,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":2037405,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":21032607,"revision":1,"status":"log"}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json; ext=bulk
    url: https://api.fastly.com/waf/firewalls/4yjbtwWcN9qHjzre3ScLDt/versions/1/active-rules
    method: POST
  response:
    body: '{"data":[{"id":"4u9p6HIQW25mTzzVTK76gL","type":"waf_active_rule","attributes":{"created_at":"2021-01-14T10:27:49Z","latest_revision":1,"modsec_rule_id":2029718,"outdated":false,"revision":1,"status":"log","updated_at":"2021-01-14T10:27:49Z"},"relationships":{"waf_firewall_version":{"data":{"id":"Uq86KZB2xLjTXHCv11sCf","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"6ZJML5tsy5uVq1nGNgmZ78","type":"waf_rule_revision"}}}},{"id":"1fBy1iqEnnNQDlazUIGGH4","type":"waf_active_rule","attributes":{"created_at":"2021-01-14T10:27:49Z","latest_revision":1,"modsec_rule_id":2037405,"outdated":false,"revision":1,"status":"log","updated_at":"2021-01-14T10:27:49Z"},"relationships":{"waf_firewall_version":{"data":{"id":"Uq86KZB2xLjTXHCv11sCf","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"3ANlv7vVZdzk2qFXlJLIk3","type":"waf_rule_revision"}}}},{"id":"29jSFMGY9XaQEiD7ALptFj","type":"waf_active_rule","attributes":{"created_at":"2021-01-14T10:27:49Z","latest_revision":1,"modsec_rule_id":21032607,"outdated":false,"revision":1,"status":"log","updated_at":"2021-01-14T10:27:49Z"},"relationships":{"waf_firewall_version":{"data":{"id":"Uq86KZB2xLjTXHCv11sCf","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"168gOasZaIZ1Sr712NJLLn","type":"waf_rule_revision"}}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
    code: 201
    duration: ""
