---
version: 1
interactions:
- request:
    body: |
      {"data":[{"type":"waf_active_rule","attributes":{"modsec_rule_id":2029718,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":2037405,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":21032607,"revision":1,"status":"log"}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json; ext=bulk
    url: https://api.fastly.com/waf/firewalls/6DaBRX0dIm1SjxiB1KQCII/versions/1/active-rules
    method: POST
  response:
    body: '{"data":[{"id":"4Cfz3YyWpEJHybhkcui3KW","type":"waf_active_rule","attributes":{"created_at":"2020-10-09T09:28:43Z","latest_revision":1,"modsec_rule_id":2029718,"outdated":false,"revision":1,"status":"log","updated_at":"2020-10-09T09:28:43Z"},"relationships":{"waf_firewall_version":{"data":{"id":"2ZKa6D4Ibe8SL2lnmqAxNm","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"6ZJML5tsy5uVq1nGNgmZ78","type":"waf_rule_revision"}}}},{"id":"4MFH6fCBrk81yMZsWzyeEk","type":"waf_active_rule","attributes":{"created_at":"2020-10-09T09:28:43Z","latest_revision":1,"modsec_rule_id":2037405,"outdated":false,"revision":1,"status":"log","updated_at":"2020-10-09T09:28:43Z"},"relationships":{"waf_firewall_version":{"data":{"id":"2ZKa6D4Ibe8SL2lnmqAxNm","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"3ANlv7vVZdzk2qFXlJLIk3","type":"waf_rule_revision"}}}},{"id":"6Mj4fVJ3JHcjs9hsJPmLsV","type":"waf_active_rule","attributes":{"created_at":"2020-10-09T09:28:43Z","latest_revision":1,"modsec_rule_id":21032607,"outdated":false,"revision":1,"status":"log","updated_at":"2020-10-09T09:28:43Z"},"relationships":{"waf_firewall_version":{"data":{"id":"2ZKa6D4Ibe8SL2lnmqAxNm","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"168gOasZaIZ1Sr712NJLLn","type":"waf_rule_revision"}}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
