---
version: 1
interactions:
- request:
    body: |
      {"data":[{"type":"waf_active_rule","attributes":{"modsec_rule_id":2029718,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":2037405,"revision":1,"status":"log"}},{"type":"waf_active_rule","attributes":{"modsec_rule_id":21032607,"revision":1,"status":"log"}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json; ext=bulk
    url: https://api.fastly.com/waf/firewalls/38DmdA2rYgtPIfwWt7ef5t/versions/1/active-rules
    method: POST
  response:
    body: '{"data":[{"id":"4LUmHMDYoG1qv6X9Zb0Snw","type":"waf_active_rule","attributes":{"created_at":"2021-11-03T17:30:10Z","latest_revision":1,"modsec_rule_id":2029718,"outdated":false,"revision":1,"status":"log","updated_at":"2021-11-03T17:30:10Z"},"relationships":{"waf_firewall_version":{"data":{"id":"27Dwwzx3XhFbeohInmqOiZ","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"6ZJML5tsy5uVq1nGNgmZ78","type":"waf_rule_revision"}}}},{"id":"3orYjCT2YEyGK23rIRSvc6","type":"waf_active_rule","attributes":{"created_at":"2021-11-03T17:30:10Z","latest_revision":1,"modsec_rule_id":2037405,"outdated":false,"revision":1,"status":"log","updated_at":"2021-11-03T17:30:10Z"},"relationships":{"waf_firewall_version":{"data":{"id":"27Dwwzx3XhFbeohInmqOiZ","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"3ANlv7vVZdzk2qFXlJLIk3","type":"waf_rule_revision"}}}},{"id":"2ln2Gt49xwgXoJlLOfwV6o","type":"waf_active_rule","attributes":{"created_at":"2021-11-03T17:30:10Z","latest_revision":1,"modsec_rule_id":21032607,"outdated":false,"revision":1,"status":"log","updated_at":"2021-11-03T17:30:10Z"},"relationships":{"waf_firewall_version":{"data":{"id":"27Dwwzx3XhFbeohInmqOiZ","type":"waf_firewall_version"}},"waf_rule_revision":{"data":{"id":"168gOasZaIZ1Sr712NJLLn","type":"waf_rule_revision"}}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
    code: 201
    duration: ""
