---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=606&content=abcd&content_type=text%2Fplain&name=test-response-object&response=Ok&status=200
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "606"
      content:
      - abcd
      content_type:
      - text/plain
      name:
      - test-response-object
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/606/response_object
    method: POST
  response:
    body: '{"content":"abcd","content_type":"text/plain","name":"test-response-object","response":"Ok","status":"200","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"606","deleted_at":null,"cache_condition":"","created_at":"2016-06-29T22:27:42+00:00","request_condition":"","updated_at":"2016-06-29T22:27:42+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "901"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
