---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/686/response_object/test-response-object
    method: GET
  response:
    body: '{"response":"Ok","version":"686","status":"200","name":"test-response-object","content":"abcd","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","cache_condition":"","created_at":"2017-07-20T01:15:09+00:00","content_type":"text/plain","request_condition":"","updated_at":"2017-07-20T01:15:09+00:00"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
