---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/568/response_object
    method: GET
  response:
    body: '[{"response":"Ok","version":"568","status":"200","name":"test-response-object","content":"abcd","service_id":"7i6HN3TK9wS159v2gPAZ8A","cache_condition":"","content_type":"text/plain","request_condition":""}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
