---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-response-object&Service=7i6HN3TK9wS159v2gPAZ8A&Version=658&name=new-test-response-object
    form:
      Name:
      - test-response-object
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "658"
      name:
      - new-test-response-object
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/658/response_object/test-response-object
    method: PUT
  response:
    body: '{"response":"Ok","version":"658","status":"200","name":"new-test-response-object","content":"abcd","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","cache_condition":"","created_at":"2017-04-17T16:00:59+00:00","content_type":"text/plain","request_condition":"","updated_at":"2017-04-17T16:00:59+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "910"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
