---
version: 1
interactions:
- request:
    body: Name=test-response-object&Service=7i6HN3TK9wS159v2gPAZ8A&Version=606&name=new-test-response-object
    form:
      Name:
      - test-response-object
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "606"
      name:
      - new-test-response-object
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/606/response_object/test-response-object
    method: PUT
  response:
    body: '{"response":"Ok","version":"606","status":"200","name":"new-test-response-object","content":"abcd","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","cache_condition":"","created_at":"2016-06-29T22:27:42+00:00","content_type":"text/plain","request_condition":"","updated_at":"2016-06-29T22:27:42+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "893"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
