---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=76&action=set&dst=http.foo&name=test-header&priority=50&regex=foobar&src=client.ip&substitution=123&type=request
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "76"
      action:
      - set
      dst:
      - http.foo
      name:
      - test-header
      priority:
      - "50"
      regex:
      - foobar
      src:
      - client.ip
      substitution:
      - "123"
      type:
      - request
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/76/header
    method: POST
  response:
    body: '{"action":"set","dst":"http.foo","name":"test-header","priority":"50","regex":"foobar","src":"client.ip","substitution":"123","type":"request","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"76","response_condition":null,"updated_at":"2021-11-26T07:16:34Z","request_condition":null,"ignore_if_set":"0","created_at":"2021-11-26T07:16:34Z","cache_condition":null,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4981"
      Fastly-Ratelimit-Reset:
      - "1637913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
