---
version: 1
interactions:
- request:
    body: action=set&dst=http.foo&ignore_if_set=0&name=test-header&priority=50&regex=foobar&src=client.ip&substitution=123&type=request
    form:
      action:
      - set
      dst:
      - http.foo
      ignore_if_set:
      - "0"
      name:
      - test-header
      priority:
      - "50"
      regex:
      - foobar
      src:
      - client.ip
      substitution:
      - "123"
      type:
      - request
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/67/header
    method: POST
  response:
    body: '{"action":"set","dst":"http.foo","ignore_if_set":"0","name":"test-header","priority":"50","regex":"foobar","src":"client.ip","substitution":"123","type":"request","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"67","created_at":"2022-11-04T16:38:21Z","request_condition":null,"cache_condition":null,"updated_at":"2022-11-04T16:38:21Z","deleted_at":null,"response_condition":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9939"
      Fastly-Ratelimit-Reset:
      - "1667581200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
