---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=28&action=set&dst=http.foo&ignore_if_set=0&name=test-header&priority=50&regex=foobar&src=client.ip&substitution=123&type=request
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "28"
      action:
      - set
      dst:
      - http.foo
      ignore_if_set:
      - "0"
      name:
      - test-header
      priority:
      - "50"
      regex:
      - foobar
      src:
      - client.ip
      substitution:
      - "123"
      type:
      - request
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/28/header
    method: POST
  response:
    body: '{"action":"set","dst":"http.foo","ignore_if_set":"0","name":"test-header","priority":"50","regex":"foobar","src":"client.ip","substitution":"123","type":"request","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"28","cache_condition":null,"updated_at":"2019-05-09T20:01:13Z","created_at":"2019-05-09T20:01:13Z","deleted_at":null,"request_condition":null,"response_condition":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "19998"
      Fastly-Ratelimit-Reset:
      - "1557435600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
