---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/44/header/test-header
    method: GET
  response:
    body: '{"deleted_at":null,"request_condition":null,"regex":"foobar","response_condition":null,"action":"set","created_at":"2021-01-14T10:42:48Z","substitution":"123","dst":"http.foo","cache_condition":null,"priority":"50","ignore_if_set":"0","version":"44","updated_at":"2021-01-14T10:42:48Z","src":"client.ip","type":"request","name":"test-header","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
