---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/28/header/test-header
    method: GET
  response:
    body: '{"priority":"50","action":"set","cache_condition":null,"request_condition":null,"deleted_at":null,"version":"28","name":"test-header","created_at":"2019-05-09T20:01:13Z","updated_at":"2019-05-09T20:01:13Z","ignore_if_set":"0","type":"request","dst":"http.foo","src":"client.ip","regex":"foobar","service_id":"7i6HN3TK9wS159v2gPAZ8A","substitution":"123","response_condition":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
