---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/67/header/test-header
    method: GET
  response:
    body: '{"regex":"foobar","deleted_at":null,"action":"set","version":"67","cache_condition":null,"updated_at":"2022-11-04T16:38:21Z","service_id":"kKJb5bOFI47uHeBVluGfX1","priority":"50","src":"client.ip","request_condition":null,"type":"request","ignore_if_set":"0","name":"test-header","response_condition":null,"substitution":"123","created_at":"2022-11-04T16:38:21Z","dst":"http.foo"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
