---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7AfpC5AR6GFm8x8edlSAFX/version/76/header/test-header
    method: GET
  response:
    body: '{"updated_at":"2021-11-26T07:16:34Z","ignore_if_set":"0","substitution":"123","name":"test-header","dst":"http.foo","service_id":"7AfpC5AR6GFm8x8edlSAFX","response_condition":null,"cache_condition":null,"deleted_at":null,"request_condition":null,"type":"request","priority":"50","regex":"foobar","src":"client.ip","created_at":"2021-11-26T07:16:34Z","version":"76","action":"set"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
