---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/68/header
    method: GET
  response:
    body: '[{"updated_at":"2021-11-03T16:51:08Z","name":"test-header","regex":"foobar","service_id":"3QSsca5ilwNVpceZ2HJIAH","created_at":"2021-11-03T16:51:08Z","version":"68","cache_condition":null,"request_condition":null,"substitution":"123","ignore_if_set":"0","type":"request","response_condition":null,"priority":"50","action":"set","src":"client.ip","deleted_at":null,"dst":"http.foo"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
