---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/76/header
    method: GET
  response:
    body: '[{"regex":"foobar","dst":"http.foo","name":"test-header","cache_condition":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"created_at":"2021-11-26T07:16:34Z","ignore_if_set":"0","version":"76","src":"client.ip","action":"set","type":"request","substitution":"123","response_condition":null,"updated_at":"2021-11-26T07:16:34Z","request_condition":null,"priority":"50"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
