---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/28/header
    method: GET
  response:
    body: '[{"dst":"http.foo","src":"client.ip","updated_at":"2019-05-09T20:01:13Z","deleted_at":null,"request_condition":null,"type":"request","name":"test-header","action":"set","substitution":"123","regex":"foobar","ignore_if_set":"0","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2019-05-09T20:01:13Z","priority":"50","cache_condition":null,"version":"28","response_condition":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
