---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/67/header
    method: GET
  response:
    body: '[{"dst":"http.foo","name":"test-header","response_condition":null,"action":"set","src":"client.ip","updated_at":"2022-11-04T16:38:21Z","cache_condition":null,"ignore_if_set":"0","substitution":"123","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"67","priority":"50","type":"request","created_at":"2022-11-04T16:38:21Z","regex":"foobar","deleted_at":null,"request_condition":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
