---
version: 1
interactions:
- request:
    body: action=append&name=new-test-header&type=fetch
    form:
      action:
      - append
      name:
      - new-test-header
      type:
      - fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/67/header/test-header
    method: PUT
  response:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1","substitution":"123","ignore_if_set":"0","cache_condition":null,"src":"client.ip","updated_at":"2022-11-04T16:38:21Z","response_condition":null,"action":"append","name":"new-test-header","dst":"http.foo","priority":"50","version":"67","type":"fetch","request_condition":null,"deleted_at":null,"regex":"foobar","created_at":"2022-11-04T16:38:21Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9938"
      Fastly-Ratelimit-Reset:
      - "1667581200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
