---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-header&Service=7i6HN3TK9wS159v2gPAZ8A&Version=28&name=new-test-header
    form:
      Name:
      - test-header
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "28"
      name:
      - new-test-header
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/28/header/test-header
    method: PUT
  response:
    body: '{"request_condition":null,"deleted_at":null,"dst":"http.foo","updated_at":"2019-05-09T20:01:13Z","src":"client.ip","name":"new-test-header","type":"request","substitution":"123","action":"set","service_id":"7i6HN3TK9wS159v2gPAZ8A","ignore_if_set":"0","regex":"foobar","version":"28","cache_condition":null,"response_condition":null,"created_at":"2019-05-09T20:01:13Z","priority":"50"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "19997"
      Fastly-Ratelimit-Reset:
      - "1557435600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
