---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-header&Service=7i6HN3TK9wS159v2gPAZ8A&Version=675&name=new-test-header
    form:
      Name:
      - test-header
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "675"
      name:
      - new-test-header
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/675/header/test-header
    method: PUT
  response:
    body: '{"priority":"50","service_id":"7i6HN3TK9wS159v2gPAZ8A","ignore_if_set":"0","request_condition":null,"response_condition":null,"updated_at":"2017-07-20T01:15:03+00:00","src":"client.ip","version":"675","name":"new-test-header","deleted_at":null,"substitution":"123","cache_condition":null,"created_at":"2017-07-20T01:15:03+00:00","regex":"foobar","action":"set","type":"request","dst":"http.foo"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "962"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
