---
version: 1
interactions:
- request:
    body: Name=test-header&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=68&action=append&name=new-test-header&type=fetch
    form:
      Name:
      - test-header
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "68"
      action:
      - append
      name:
      - new-test-header
      type:
      - fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/68/header/test-header
    method: PUT
  response:
    body: '{"dst":"http.foo","deleted_at":null,"action":"append","src":"client.ip","priority":"50","ignore_if_set":"0","type":"fetch","response_condition":null,"request_condition":null,"substitution":"123","version":"68","cache_condition":null,"created_at":"2021-11-03T16:51:08Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"new-test-header","regex":"foobar","updated_at":"2021-11-03T16:51:08Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4861"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
