---
version: 1
interactions:
- request:
    body: Name=test-header&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=44&action=append&name=new-test-header&type=fetch
    form:
      Name:
      - test-header
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "44"
      action:
      - append
      name:
      - new-test-header
      type:
      - fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/44/header/test-header
    method: PUT
  response:
    body: '{"regex":"foobar","substitution":"123","request_condition":null,"dst":"http.foo","deleted_at":null,"type":"fetch","updated_at":"2021-01-14T10:42:48Z","response_condition":null,"version":"44","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2021-01-14T10:42:48Z","name":"new-test-header","action":"append","cache_condition":null,"src":"client.ip","priority":"50","ignore_if_set":"0"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "707"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
