---
version: 1
interactions:
- request:
    body: Name=test-header&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=76&action=append&name=new-test-header&type=fetch
    form:
      Name:
      - test-header
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "76"
      action:
      - append
      name:
      - new-test-header
      type:
      - fetch
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/76/header/test-header
    method: PUT
  response:
    body: '{"version":"76","name":"new-test-header","deleted_at":null,"regex":"foobar","substitution":"123","type":"fetch","created_at":"2021-11-26T07:16:34Z","cache_condition":null,"ignore_if_set":"0","request_condition":null,"action":"append","updated_at":"2021-11-26T07:16:34Z","dst":"http.foo","src":"client.ip","service_id":"7i6HN3TK9wS159v2gPAZ8A","response_condition":null,"priority":"50"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4980"
      Fastly-Ratelimit-Reset:
      - "1637913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
