---
version: 1
interactions:
- request:
    body: format=format&format_version=1&message_type=classic&name=test-sumologic&placement=none&url=https%3A%2F%2Ffoo.sumologic.com
    form:
      format:
      - format
      format_version:
      - "1"
      message_type:
      - classic
      name:
      - test-sumologic
      placement:
      - none
      url:
      - https://foo.sumologic.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/171/logging/sumologic
    method: POST
  response:
    body: '{"format":"format","format_version":"1","message_type":"classic","name":"test-sumologic","placement":"none","url":"https://foo.sumologic.com","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"171","created_at":"2026-07-23T19:30:50Z","deleted_at":null,"log_processing_region":"none","response_condition":"","updated_at":"2026-07-23T19:30:50Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9667"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
