---
version: 1
interactions:
- request:
    body: format=format&format_version=1&message_type=classic&name=test-sumologic&placement=waf_debug&url=https%3A%2F%2Ffoo.sumologic.com
    form:
      format:
      - format
      format_version:
      - "1"
      message_type:
      - classic
      name:
      - test-sumologic
      placement:
      - waf_debug
      url:
      - https://foo.sumologic.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/131/logging/sumologic
    method: POST
  response:
    body: '{"format":"format","format_version":"1","message_type":"classic","name":"test-sumologic","placement":"waf_debug","url":"https://foo.sumologic.com","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"131","response_condition":"","deleted_at":null,"created_at":"2025-06-04T15:33:02Z","updated_at":"2025-06-04T15:33:02Z","log_processing_region":"none"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9788"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
