---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=692&format=format&format_version=1&message_type=classic&name=test-sumologic&url=example.com
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "692"
      format:
      - format
      format_version:
      - "1"
      message_type:
      - classic
      name:
      - test-sumologic
      url:
      - example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/692/logging/sumologic
    method: POST
  response:
    body: '{"format":"format","format_version":"1","message_type":"classic","name":"test-sumologic","url":"example.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"692","placement":null,"response_condition":"","updated_at":"2017-07-20T01:15:12+00:00","deleted_at":null,"created_at":"2017-07-20T01:15:12+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "864"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
