---
version: 1
interactions:
- request:
    body: format=format&format_version=1&message_type=classic&name=test-sumologic&placement=waf_debug&url=https%3A%2F%2Ffoo.sumologic.com
    form:
      format:
      - format
      format_version:
      - "1"
      message_type:
      - classic
      name:
      - test-sumologic
      placement:
      - waf_debug
      url:
      - https://foo.sumologic.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/56/logging/sumologic
    method: POST
  response:
    body: '{"format":"format","format_version":"1","message_type":"classic","name":"test-sumologic","placement":"waf_debug","url":"https://foo.sumologic.com","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"56","deleted_at":null,"created_at":"2022-11-04T15:16:57Z","updated_at":"2022-11-04T15:16:57Z","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9975"
      Fastly-Ratelimit-Reset:
      - "1667577600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
