---
version: 1
interactions:
- request:
    body: format=format&format_version=1&message_type=classic&name=test-sumologic&url=https%3A%2F%2Ffoo.sumologic.com
    form:
      format:
      - format
      format_version:
      - "1"
      message_type:
      - classic
      name:
      - test-sumologic
      url:
      - https://foo.sumologic.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/16/logging/sumologic
    method: POST
  response:
    body: '{"format":"format","format_version":"1","message_type":"classic","name":"test-sumologic","url":"https://foo.sumologic.com","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"16","updated_at":"2025-02-28T21:33:58Z","created_at":"2025-02-28T21:33:58Z","deleted_at":null,"placement":null,"response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9927"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
