---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/62/logging/sumologic/test-sumologic
    method: GET
  response:
    body: '{"placement":"waf_debug","deleted_at":null,"version":"62","name":"test-sumologic","url":"https://foo.sumologic.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","message_type":"classic","format_version":"1","updated_at":"2021-01-14T10:47:54Z","created_at":"2021-01-14T10:47:54Z","format":"format","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
