---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/56/logging/sumologic/test-sumologic
    method: GET
  response:
    body: '{"format":"format","deleted_at":null,"message_type":"classic","created_at":"2022-11-04T15:16:57Z","url":"https://foo.sumologic.com","response_condition":"","format_version":"1","updated_at":"2022-11-04T15:16:57Z","version":"56","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"test-sumologic","placement":"waf_debug"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
