---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/171/logging/sumologic/test-sumologic
    method: GET
  response:
    body: '{"deleted_at":null,"name":"test-sumologic","version":"171","log_processing_region":"none","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2026-07-23T19:30:50Z","message_type":"classic","placement":"none","format_version":"1","response_condition":"","url":"https://foo.sumologic.com","updated_at":"2026-07-23T19:30:50Z","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
