---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/95/logging/sumologic/test-sumologic
    method: GET
  response:
    body: '{"response_condition":"","format_version":"1","created_at":"2021-11-03T17:19:13Z","message_type":"classic","url":"https://foo.sumologic.com","format":"format","placement":"waf_debug","deleted_at":null,"version":"95","service_id":"3QSsca5ilwNVpceZ2HJIAH","updated_at":"2021-11-03T17:19:13Z","name":"test-sumologic"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
