---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/131/logging/sumologic/test-sumologic
    method: GET
  response:
    body: '{"log_processing_region":"none","created_at":"2025-06-04T15:33:02Z","url":"https://foo.sumologic.com","response_condition":"","placement":"waf_debug","format":"format","service_id":"kKJb5bOFI47uHeBVluGfX1","message_type":"classic","updated_at":"2025-06-04T15:33:02Z","name":"test-sumologic","format_version":"1","version":"131","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
