---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/46/logging/sumologic/test-sumologic
    method: GET
  response:
    body: '{"url":"https://foo.sumologic.com","message_type":"classic","updated_at":"2019-05-09T23:21:58Z","placement":"waf_debug","response_condition":"","format_version":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test-sumologic","version":"46","format":"format","created_at":"2019-05-09T23:21:58Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
