---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/16/logging/sumologic/test-sumologic
    method: GET
  response:
    body: '{"placement":null,"version":"16","url":"https://foo.sumologic.com","name":"test-sumologic","deleted_at":null,"updated_at":"2025-02-28T21:33:58Z","format":"format","message_type":"classic","response_condition":"","format_version":"1","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2025-02-28T21:33:58Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
