---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/56/logging/sumologic
    method: GET
  response:
    body: '[{"placement":"waf_debug","url":"https://foo.sumologic.com","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2022-11-04T15:16:57Z","deleted_at":null,"response_condition":"","name":"test-sumologic","format_version":"1","format":"format","created_at":"2022-11-04T15:16:57Z","message_type":"classic","version":"56"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
