---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/46/logging/sumologic
    method: GET
  response:
    body: '[{"deleted_at":null,"url":"https://foo.sumologic.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"46","response_condition":"","updated_at":"2019-05-09T23:21:58Z","message_type":"classic","placement":"waf_debug","format":"format","format_version":"1","created_at":"2019-05-09T23:21:58Z","name":"test-sumologic"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
