---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/131/logging/sumologic
    method: GET
  response:
    body: '[{"name":"test-sumologic","format_version":"1","format":"format","url":"https://foo.sumologic.com","created_at":"2025-06-04T15:33:02Z","deleted_at":null,"placement":"waf_debug","updated_at":"2025-06-04T15:33:02Z","message_type":"classic","response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","log_processing_region":"none","version":"131"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
