---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/95/logging/sumologic
    method: GET
  response:
    body: '[{"version":"95","format_version":"1","deleted_at":null,"service_id":"3QSsca5ilwNVpceZ2HJIAH","response_condition":"","created_at":"2021-11-03T17:19:13Z","url":"https://foo.sumologic.com","name":"test-sumologic","format":"format","placement":"waf_debug","updated_at":"2021-11-03T17:19:13Z","message_type":"classic"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
