---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/16/logging/sumologic
    method: GET
  response:
    body: '[{"response_condition":"","updated_at":"2025-02-28T21:33:58Z","version":"16","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","format_version":"1","url":"https://foo.sumologic.com","message_type":"classic","created_at":"2025-02-28T21:33:58Z","placement":null,"format":"format","name":"test-sumologic"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
