---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/171/logging/sumologic
    method: GET
  response:
    body: '[{"message_type":"classic","updated_at":"2026-07-23T19:30:50Z","created_at":"2026-07-23T19:30:50Z","response_condition":"","format":"format","placement":"none","url":"https://foo.sumologic.com","format_version":"1","log_processing_region":"none","deleted_at":null,"version":"171","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"test-sumologic"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
