---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/62/logging/sumologic
    method: GET
  response:
    body: '[{"name":"test-sumologic","updated_at":"2021-01-14T10:47:54Z","url":"https://foo.sumologic.com","message_type":"classic","format_version":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"version":"62","placement":"waf_debug","format":"format","response_condition":"","created_at":"2021-01-14T10:47:54Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
