---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-sumologic&Service=7i6HN3TK9wS159v2gPAZ8A&Version=46&name=new-test-sumologic
    form:
      Name:
      - test-sumologic
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "46"
      name:
      - new-test-sumologic
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/46/logging/sumologic/test-sumologic
    method: PUT
  response:
    body: '{"format":"format","created_at":"2019-05-09T23:21:58Z","version":"46","name":"new-test-sumologic","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"url":"https://foo.sumologic.com","message_type":"classic","updated_at":"2019-05-09T23:21:58Z","format_version":"1","response_condition":"","placement":"waf_debug"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "991"
      Fastly-Ratelimit-Reset:
      - "1557446400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
