---
version: 1
interactions:
- request:
    body: log_processing_region=eu&name=new-test-sumologic
    form:
      log_processing_region:
      - eu
      name:
      - new-test-sumologic
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/131/logging/sumologic/test-sumologic
    method: PUT
  response:
    body: '{"url":"https://foo.sumologic.com","placement":"waf_debug","message_type":"classic","response_condition":"","log_processing_region":"eu","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"new-test-sumologic","deleted_at":null,"format_version":"1","created_at":"2025-06-04T15:33:02Z","updated_at":"2025-06-04T15:33:02Z","version":"131","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9787"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
