---
version: 1
interactions:
- request:
    body: name=new-test-sumologic
    form:
      name:
      - new-test-sumologic
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/56/logging/sumologic/test-sumologic
    method: PUT
  response:
    body: '{"response_condition":"","placement":"waf_debug","format":"format","name":"new-test-sumologic","version":"56","format_version":"1","message_type":"classic","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2022-11-04T15:16:57Z","url":"https://foo.sumologic.com","deleted_at":null,"created_at":"2022-11-04T15:16:57Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9974"
      Fastly-Ratelimit-Reset:
      - "1667577600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
