---
version: 1
interactions:
- request:
    body: name=new-test-sumologic
    form:
      name:
      - new-test-sumologic
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/16/logging/sumologic/test-sumologic
    method: PUT
  response:
    body: '{"response_condition":"","message_type":"classic","placement":null,"format_version":"1","url":"https://foo.sumologic.com","format":"format","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"16","deleted_at":null,"created_at":"2025-02-28T21:33:58Z","name":"new-test-sumologic","updated_at":"2025-02-28T21:33:58Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9913"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
