---
version: 1
interactions:
- request:
    body: '{"name":"new-test-sumologic","placement":null,"log_processing_region":"eu"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/171/logging/sumologic/test-sumologic
    method: PUT
  response:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"version":"171","format":"format","url":"https://foo.sumologic.com","message_type":"classic","name":"new-test-sumologic","updated_at":"2026-07-23T19:30:50Z","placement":null,"log_processing_region":"eu","created_at":"2026-07-23T19:30:50Z","format_version":"1","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9659"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
