---
version: 1
interactions:
- request:
    body: Name=test-sumologic&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=62&name=new-test-sumologic
    form:
      Name:
      - test-sumologic
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "62"
      name:
      - new-test-sumologic
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/62/logging/sumologic/test-sumologic
    method: PUT
  response:
    body: '{"placement":"waf_debug","format_version":"1","created_at":"2021-01-14T10:47:54Z","message_type":"classic","url":"https://foo.sumologic.com","version":"62","response_condition":"","format":"format","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"updated_at":"2021-01-14T10:47:54Z","name":"new-test-sumologic"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "607"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
