---
version: 1
interactions:
- request:
    body: Name=test-sumologic&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=95&name=new-test-sumologic
    form:
      Name:
      - test-sumologic
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "95"
      name:
      - new-test-sumologic
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/95/logging/sumologic/test-sumologic
    method: PUT
  response:
    body: '{"version":"95","service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"1","deleted_at":null,"name":"new-test-sumologic","created_at":"2021-11-03T17:19:13Z","url":"https://foo.sumologic.com","response_condition":"","updated_at":"2021-11-03T17:19:13Z","message_type":"classic","placement":"waf_debug","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4840"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
