---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/bot-management/v1/workspaces/XXXXXXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: '{"id":"XXXXXXXXXXXXXXXXXXXXXX","name":"Default workspace","description":"","protection_mode":"log","services":["XXXXXXXXXXXXXXXXXXXXXX"],"created_at":"2026-09-02T21:36:53Z","updated_at":"2026-09-25T18:19:31Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
