---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/bot-management/v1/workspaces?limit=1000
    method: GET
  response:
    body: '{"meta":{"limit":1000,"total":44,"next_cursor":null},"data":[{"id":"XXXXXXXXXXXXXXXXXXXXXX","name":"Default
      workspace","description":"","protection_mode":"log","services":["XXXXXXXXXXXXXXXXXXXXXX"],"created_at":"2026-09-02T21:36:53Z","updated_at":"2026-09-25T18:19:31Z"},{"id":"XXXXXXXXXXXXXXXXXXXXXX","name":"Default
      workspace","protection_mode":"log","services":["XXXXXXXXXXXXXXXXXXXXXX"],"created_at":"2026-09-02T21:37:26Z","updated_at":"2026-09-02T21:37:26Z"},{"id":"XXXXXXXXXXXXXXXXXXXXXX","name":"Default
      workspace","protection_mode":"log","services":["XXXXXXXXXXXXXXXXXXXXXX"],"created_at":"2026-09-08T14:24:09Z","updated_at":"2026-09-08T14:24:09Z"},{"id":"XXXXXXXXXXXXXXXXXXXXXX","name":"Default
      workspace","protection_mo[...]
