---
version: 1
interactions:
- request:
    body: '{"webp":false,"webp_quality":20,"upscale":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/6/image_optimizer_default_settings
    method: PATCH
  response:
    body: '{"resize_filter":"lanczos3","webp":false,"webp_quality":20,"jpeg_type":"auto","jpeg_quality":85,"upscale":false,"allow_video":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "984"
      Fastly-Ratelimit-Reset:
      - "1733590800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
