---
version: 1
interactions:
- request:
    body: ServiceID=145Jy6c237qrZJuAp3bHAm&ServiceVersion=2&name=WAf_Response&status=403
    form:
      ServiceID:
      - 145Jy6c237qrZJuAp3bHAm
      ServiceVersion:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/145Jy6c237qrZJuAp3bHAm/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"145Jy6c237qrZJuAp3bHAm","version":"2","updated_at":"2021-01-14T10:27:47Z","created_at":"2021-01-14T10:27:47Z","response":"ok","content_type":null,"deleted_at":null,"cache_condition":"","content":null,"request_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "881"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
