---
version: 1
interactions:
- request:
    body: Service=0Ez5eLazQudDmMaeJ6sk4A&Version=2&name=WAf_Response&status=403
    form:
      Service:
      - 0Ez5eLazQudDmMaeJ6sk4A
      Version:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/0Ez5eLazQudDmMaeJ6sk4A/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"0Ez5eLazQudDmMaeJ6sk4A","version":"2","created_at":"2020-10-09T09:28:42Z","deleted_at":null,"updated_at":"2020-10-09T09:28:42Z","response":"ok","content":null,"cache_condition":"","request_condition":"","content_type":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4925"
      Fastly-Ratelimit-Reset:
      - "1602237600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
