---
version: 1
interactions:
- request:
    body: '{"password":null,"pipeline":null,"tls_ca_cert":null,"tls_client_cert":null,"tls_client_key":null,"tls_hostname":null,"user":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/204/logging/elasticsearch/new-test-elasticsearch
    method: PUT
  response:
    body: '{"password":null,"placement":null,"request_max_entries":1,"updated_at":"2026-08-10T19:15:32Z","tls_ca_cert":null,"response_condition":"","format_version":"2","tls_hostname":null,"created_at":"2026-08-10T19:15:22Z","format":"format","tls_client_key":null,"user":null,"deleted_at":null,"url":"https://example.com/","name":"new-test-elasticsearch","pipeline":null,"version":"204","index":"#{%F}","log_processing_region":"eu","service_id":"kKJb5bOFI47uHeBVluGfX1","tls_client_cert":null,"request_max_bytes":1000}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9691"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
