---
version: 1
interactions:
- request:
    body: '{"entries":[{"op":"create","prefix":"1.2.3.0/24","action":"BLOCK"},{"op":"update","prefix":"1.2.3.4/32","action":"ALLOW"},{"op":"create","prefix":"23.23.23.23/32","action":"ALLOW"},{"op":"update","prefix":"192.168.0.0/16","action":"BLOCK"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/acls/TMNYyT6R6uktJcasJwEvkY/entries
    method: PATCH
  response:
    body: ""
    headers:
    status: 202 Accepted
    code: 202
    duration: ""
