---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/acls/TMNYyT6R6uktJcasJwEvkY/entries?limit=1
    method: GET
  response:
    body: '{"entries":[{"prefix":"1.2.3.0/24","action":"BLOCK"}],"meta":{"next_cursor":"LDE=","limit":1}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/acls/TMNYyT6R6uktJcasJwEvkY/entry/1.2.3.0
    method: GET
  response:
    body: '{"prefix":"1.2.3.0/24","action":"BLOCK"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/acls/TMNYyT6R6uktJcasJwEvkY/entries?cursor=LDE%3D&limit=1
    method: GET
  response:
    body: '{"title":"invalid cursor","status":400}'
    headers:
      Content-Type:
      - application/problem+json
    status: 400 Bad Request
    code: 400
    duration: ""
