---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_firewall","attributes":{"prefetch_condition":"WAF_Prefetch","response":"WAf_Response","service_id":"5GZsX83POn5zij6allCOKe","service_version_number":"2"}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls
    method: POST
  response:
    body: '{"data":{"id":"7kRiB97L3ppEaKv5J3hJmV","type":"waf_firewall","attributes":{"active_rules_fastly_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_score_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_score_count":0,"active_rules_trustwave_block_count":0,"active_rules_trustwave_log_count":0,"created_at":"2020-07-06T11:09:07Z","disabled":false,"prefetch_condition":"WAF_Prefetch","response":"WAf_Response","service_id":"5GZsX83POn5zij6allCOKe","service_version_number":2,"updated_at":"2020-07-06T11:09:07Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
