---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domain-management/v1/routing-configs/5fXNeLtY5TFDuVIet0vzMH/activate
    method: POST
  response:
    body: |
      {"created_at":"2026-09-25T19:16:51Z","id":"5fXNeLtY5TFDuVIet0vzMH","links":{"paths":"/domain-management/v1/routing-configs/5fXNeLtY5TFDuVIet0vzMH/paths","self":"/domain-management/v1/routing-configs/5fXNeLtY5TFDuVIet0vzMH"},"name":"gofastly-sdk-testing-domain-routing-config","state":"active","updated_at":"2026-09-25T19:16:51Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
