---
version: 1
interactions:
- request:
    body: '{"path":"/"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/5fXNeLtY5TFDuVIet0vzMH/paths
    method: POST
  response:
    body: |
      {"created_at":"2026-09-25T19:16:51.434812078Z","id":"3X6WxgbVKUuuIfQSoA6BwY","links":{"rules":"/domain-management/v1/routing-configs/5fXNeLtY5TFDuVIet0vzMH/paths/3X6WxgbVKUuuIfQSoA6BwY/rules","self":"/domain-management/v1/routing-configs/5fXNeLtY5TFDuVIet0vzMH/paths/3X6WxgbVKUuuIfQSoA6BwY"},"path":"/"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
