---
version: 1
interactions:
- request:
    body: '{"name":"gofastly-sdk-testing-domain-routing-config"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs
    method: POST
  response:
    body: |
      {"created_at":"2026-09-25T19:16:51.2945526Z","id":"5fXNeLtY5TFDuVIet0vzMH","links":{"paths":"/domain-management/v1/routing-configs/5fXNeLtY5TFDuVIet0vzMH/paths","self":"/domain-management/v1/routing-configs/5fXNeLtY5TFDuVIet0vzMH"},"name":"gofastly-sdk-testing-domain-routing-config"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
