---
version: 1
interactions:
- request:
    body: '{"description":"my description","fqdn":"1.fastly-sdk-gofastly-testing.com","service_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/domains
    method: POST
  response:
    body: '{"id":"DMrAbNVlJcZgwFP2ISUNOQ","created_at":"2025-08-01T18:18:48.000Z","fqdn":"1.fastly-sdk-gofastly-testing.com","updated_at":"2025-08-01T18:18:48.000Z","service_id":null,"activated":false,"verified":false,"description":"my
      description"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
