---
version: 1
interactions:
- request:
    body: '{"description":null,"fqdn":"1.fastly-sdk-gofastly-testing.com","service_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/domains
    method: POST
  response:
    body: '{"errors":[{"title":"Invalid value for fqdn","detail":"fqdn Domain name
      has already been taken"}]}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
