---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domain-management/v1/domains/DMrAbNVlJcZgwFP2ISUNOQ
    method: GET
  response:
    body: '{"id":"DMrAbNVlJcZgwFP2ISUNOQ","created_at":"2025-08-01T18:18:48.000Z","fqdn":"1.fastly-sdk-gofastly-testing.com","updated_at":"2025-08-01T18:18:48.000Z","service_id":null,"activated":false,"verified":false,"description":"my
      description"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
