---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domain-management/v1/domains?fqdn=1.fastly-sdk-gofastly-testing.com&limit=10&sort=fqdn
    method: GET
  response:
    body: '{"data":[{"id":"DMrAbNVlJcZgwFP2ISUNOQ","created_at":"2025-08-01T18:18:48.000Z","fqdn":"1.fastly-sdk-gofastly-testing.com","updated_at":"2025-08-01T18:18:48.000Z","service_id":null,"activated":false,"verified":false,"description":"my
      description"}],"meta":{"total":1,"limit":10}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
