---
version: 1
interactions:
- request:
    body: '{"description":"updated description","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/domains/DMrAbNVlJcZgwFP2ISUNOQ
    method: PATCH
  response:
    body: '{"id":"DMrAbNVlJcZgwFP2ISUNOQ","created_at":"2025-08-01T18:18:48.000Z","fqdn":"1.fastly-sdk-gofastly-testing.com","updated_at":"2025-08-01T18:18:49.000Z","service_id":"kKJb5bOFI47uHeBVluGfX1","activated":false,"verified":false,"description":"updated
      description"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
