---
version: 1
interactions:
- request:
    body: '{"description":"updated description","routing_configuration_id":"5fXNeLtY5TFDuVIet0vzMH","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/domains/pPYOMApBAcxbIJGjtyXcmg
    method: PATCH
  response:
    body: '{"id":"pPYOMApBAcxbIJGjtyXcmg","created_at":"2026-09-25T19:16:50.000Z","fqdn":"1.fastly-sdk-gofastly-testing.com","updated_at":"2026-09-25T19:16:51.000Z","service_id":"kKJb5bOFI47uHeBVluGfX1","activated":false,"verified":false,"description":"updated
      description","routing_configuration_id":"5fXNeLtY5TFDuVIet0vzMH"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
