---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test.com","type":"secondary","description":"go-fastly
      test zone","xfr_config_inbound":{"primaries":[{"address":"1.2.3.4","description":"primary
      DNS server"}],"inbound_tsig_key_id":"Dz6PEojvJfhSciERW50SLv"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/zones
    method: POST
  response:
    body: |
      {"id":"SixzqOcXbQTYhAcVa3MBAM","name":"go-fastly-test.com.","description":"go-fastly test zone","type":"secondary","nameservers":["elm.fastlydns.com.","elm.fastlydns.dev.","elm.fastlydns.net.","elm.fastlydns.org."],"serial":"0","xfr_config_inbound":{"primaries":[{"description":"primary DNS server","address":"1.2.3.4"}],"inbound_tsig_key_id":"Dz6PEojvJfhSciERW50SLv","notify_ip_addresses":{"ipv4":["157.52.78.3","157.52.79.3","167.82.228.3","167.82.229.3"]}},"created_at":"2026-05-05T19:41:52Z","updated_at":"2026-05-05T19:41:52Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
