---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test.com","type":"secondary","description":"go-fastly
      test zone"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/zones
    method: POST
  response:
    body: |
      {"id":"DC4aBLD0K3tg4PMXDgtlp5","name":"go-fastly-test.com.","description":"go-fastly test zone","type":"secondary","nameservers":["alder.fastlydns.com.","alder.fastlydns.dev.","alder.fastlydns.net.","alder.fastlydns.org."],"serial":"0","xfr_config_inbound":{"primaries":[],"notify_ip_addresses":{"ipv4":["157.52.78.1","157.52.79.1","167.82.228.1","167.82.229.1"]}},"created_at":"2026-05-01T14:29:54Z","updated_at":"2026-05-01T14:29:54Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
