---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test-2.com","type":"secondary","description":"go-fastly
      test zone 2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/zones
    method: POST
  response:
    body: |
      {"id":"1Yw5a5KUBp1KB1GU8siQzy","name":"go-fastly-test-2.com.","description":"go-fastly test zone 2","type":"secondary","nameservers":["elm.fastlydns.com.","elm.fastlydns.dev.","elm.fastlydns.net.","elm.fastlydns.org."],"serial":"0","xfr_config_inbound":{"primaries":[],"notify_ip_addresses":{"ipv4":["157.52.78.3","157.52.79.3","167.82.228.3","167.82.229.3"]}},"created_at":"2026-05-05T19:41:53Z","updated_at":"2026-05-05T19:41:53Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
