---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test.com","type":"secondary","description":"go-fastly
      test zone","xfr_config_inbound":{"primaries":[{"address":"1.2.3.4","description":"primary
      DNS server"}],"inbound_tsig_key_id":"jfFcULQREkL4RC31L03kCR"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/zones
    method: POST
  response:
    body: |
      {"id":"tOwbeyj1uQcTWCQdOA3nl9","name":"go-fastly-test.com.","description":"go-fastly test zone","type":"secondary","nameservers":["oak.fastlydns.com.","oak.fastlydns.dev.","oak.fastlydns.net.","oak.fastlydns.org."],"serial":"0","xfr_config_inbound":{"primaries":[{"description":"primary DNS server","address":"1.2.3.4"}],"inbound_tsig_key_id":"jfFcULQREkL4RC31L03kCR","notify_ip_addresses":{"ipv4":["157.52.78.5","157.52.79.5","167.82.228.5","167.82.229.5"]}},"created_at":"2026-05-05T20:28:39Z","updated_at":"2026-05-05T20:28:39Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
