---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test-key","algorithm":"hmac-sha256","secret":"dGVzdHNlY3JldA=="}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/tsig-keys
    method: POST
  response:
    body: |
      {"id":"4u2NL6ggameOuRa7p4trcD","name":"go-fastly-test-key","algorithm":"hmac-sha256","created_at":"2026-05-05T21:21:26Z","updated_at":"2026-05-05T21:21:26Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
