---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test-2.com","type":"secondary","description":"go-fastly
      test zone 2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/zones
    method: POST
  response:
    body: |
      {"id":"oK4uxA7og3HzyqUrILkZp8","name":"go-fastly-test-2.com.","description":"go-fastly test zone 2","type":"secondary","nameservers":["walnut.fastlydns.com.","walnut.fastlydns.dev.","walnut.fastlydns.net.","walnut.fastlydns.org."],"serial":"0","xfr_config_inbound":{"primaries":[],"notify_ip_addresses":{"ipv4":["157.52.78.7","157.52.79.7","167.82.228.7","167.82.229.7"]}},"created_at":"2026-04-30T20:25:54Z","updated_at":"2026-04-30T20:25:54Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
