---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test-2.com","type":"secondary","description":"go-fastly
      test zone 2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/zones
    method: POST
  response:
    body: |
      {"id":"tFZCBOSgmvjJPIaLVC8qAk","name":"go-fastly-test-2.com.","description":"go-fastly test zone 2","type":"secondary","nameservers":["oak.fastlydns.com.","oak.fastlydns.dev.","oak.fastlydns.net.","oak.fastlydns.org."],"serial":"0","xfr_config_inbound":{"primaries":[],"notify_ip_addresses":{"ipv4":["157.52.78.5","157.52.79.5","167.82.228.5","167.82.229.5"]}},"created_at":"2026-05-05T20:28:41Z","updated_at":"2026-05-05T20:28:41Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
