---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/dns/v1/zones/tOwbeyj1uQcTWCQdOA3nl9
    method: GET
  response:
    body: |
      {"id":"tOwbeyj1uQcTWCQdOA3nl9","name":"go-fastly-test.com.","description":"go-fastly test zone","type":"secondary","nameservers":["oak.fastlydns.com.","oak.fastlydns.dev.","oak.fastlydns.net.","oak.fastlydns.org."],"serial":"0","xfr_config_inbound":{"primaries":[{"description":"primary DNS server","address":"1.2.3.4"}],"inbound_tsig_key_id":"jfFcULQREkL4RC31L03kCR","notify_ip_addresses":{"ipv4":["157.52.78.5","157.52.79.5","167.82.228.5","167.82.229.5"]}},"created_at":"2026-05-05T20:28:39Z","updated_at":"2026-05-05T20:28:39Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
