---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/dns/v1/zones?limit=1
    method: GET
  response:
    body: |
      {"data":[{"id":"9jta3ggzjN0fG3R7o1iMbp","name":"mytestdomain.com.","description":"Sample domain","type":"secondary","created_at":"2026-04-29T15:15:39Z","updated_at":"2026-04-29T15:15:39Z"}],"meta":{"next_cursor":"XZTIsvDc3e3WQg9GWnmqKi6lU1z8Vnoi","limit":1,"sort":"created_at"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
