---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/dns/v1/zones?cursor=XZTIsvDc3e3WQg9GWnmqKi6lU1z8Vnoi&limit=1
    method: GET
  response:
    body: |
      {"data":[{"id":"HTaq6GsWneHpkQmDZFOuhp","name":"go-fastly-test.com.","description":"go-fastly test zone","type":"secondary","created_at":"2026-04-30T20:00:35Z","updated_at":"2026-04-30T20:00:35Z"}],"meta":{"next_cursor":"XZTIsvDc3e3YFYfNeyV7GN4JgV6sifhe","limit":1,"sort":"created_at"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
