---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/dns/v1/zones
    method: GET
  response:
    body: |
      {"data":[{"id":"9jta3ggzjN0fG3R7o1iMbp","name":"mytestdomain.com.","description":"Sample domain","type":"secondary","created_at":"2026-04-29T15:15:39Z","updated_at":"2026-04-29T15:15:39Z"},{"id":"HTaq6GsWneHpkQmDZFOuhp","name":"go-fastly-test.com.","description":"go-fastly test zone","type":"secondary","created_at":"2026-04-30T20:00:35Z","updated_at":"2026-04-30T20:00:35Z"},{"id":"BvQ2gWfaLlXtLZjEhILVKm","name":"abc.com.","description":"test","type":"secondary","created_at":"2026-04-30T20:04:46Z","updated_at":"2026-04-30T20:04:46Z"},{"id":"EdxpqhEVi36sdAq2MfmEGO","name":"go-fastly-test.com.","type":"secondary","created_at":"2026-05-05T21:21:26Z","updated_at":"2026-05-05T21:21:28Z"},{"id":"EHlXIOnrXFbTik5BJw06Nk","name":"go-fastly-test-2.com.","description":"go-fastly test zone 2","type":"secondary","created_at":"2026-05-05T21:21:28Z","updated_at":"2026-05-05T21:21:28Z"}],"meta":{"limit":10,"sort":"created_at"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
