---
version: 1
interactions:
- request:
    body: '{"description":"updated description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/zones/kKVK334pQIR5SXSnamIf49
    method: PATCH
  response:
    body: |
      {"id":"kKVK334pQIR5SXSnamIf49","name":"go-fastly-test.com.","description":"updated description","type":"secondary","nameservers":["walnut.fastlydns.com.","walnut.fastlydns.dev.","walnut.fastlydns.net.","walnut.fastlydns.org."],"serial":"0","xfr_config_inbound":{"primaries":[],"notify_ip_addresses":{"ipv4":["157.52.78.7","157.52.79.7","167.82.228.7","167.82.229.7"]}},"created_at":"2026-04-30T20:25:52Z","updated_at":"2026-04-30T20:25:54Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
