---
version: 1
interactions:
- request:
    body: '{"description":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/dns/v1/zones/EdxpqhEVi36sdAq2MfmEGO
    method: PATCH
  response:
    body: |
      {"id":"EdxpqhEVi36sdAq2MfmEGO","name":"go-fastly-test.com.","type":"secondary","nameservers":["oak.fastlydns.com.","oak.fastlydns.dev.","oak.fastlydns.net.","oak.fastlydns.org."],"serial":"0","xfr_config_inbound":{"primaries":[{"description":"primary DNS server","address":"1.2.3.4"}],"inbound_tsig_key_id":"4u2NL6ggameOuRa7p4trcD","notify_ip_addresses":{"ipv4":["157.52.78.5","157.52.79.5","167.82.228.5","167.82.229.5"]}},"created_at":"2026-05-05T21:21:26Z","updated_at":"2026-05-05T21:21:28Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
