---
version: 1
interactions:
- request:
    body: '{"name":"test-object-store"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/object
    method: POST
  response:
    body: '{"id":"2zjt8n76gaepoiq2pzywlf","name":"test-object-store","created_at":"2023-01-19T10:12:37.125Z","updated_at":"2023-01-19T10:12:37.125Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
