---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/2/resource/142Td4RZA2VUdBx6jvJMJ0
    method: GET
  response:
    body: '{"id":"142Td4RZA2VUdBx6jvJMJ0","name":"test-resource","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":2,"created_at":"2023-01-19T10:42:52Z","updated_at":"2023-01-19T10:42:52Z","deleted_at":null,"resource_id":"2zjt8n76gaepoiq2pzywlf","resource_type":"object-store","href":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
