---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/49/clone
    method: PUT
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","testing":false,"active":false,"updated_at":"2019-05-11T00:21:36Z","comment":"new
      comment","number":50,"created_at":"2019-05-11T00:21:34Z","staging":false,"deployed":false,"deleted_at":null,"locked":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1557536400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
