---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/75/clone
    method: PUT
  response:
    body: '{"active":false,"service_id":"kKJb5bOFI47uHeBVluGfX1","staging":false,"deleted_at":null,"deployed":false,"locked":false,"number":76,"created_at":"2022-11-04T17:45:17Z","comment":"new
      comment","updated_at":"2022-11-04T17:45:19Z","testing":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9953"
      Fastly-Ratelimit-Reset:
      - "1667584800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
