---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/99/clone
    method: PUT
  response:
    body: '{"updated_at":"2021-11-03T17:26:40Z","deleted_at":null,"active":false,"comment":"new
      comment","service_id":"3QSsca5ilwNVpceZ2HJIAH","created_at":"2021-11-03T17:26:39Z","deployed":false,"locked":false,"staging":false,"testing":false,"number":100}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4808"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
