---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/17/clone
    method: PUT
  response:
    body: '{"number":18,"locked":false,"active":false,"staging":false,"updated_at":"2021-01-14T09:51:30Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","testing":false,"comment":"new
      comment","deployed":false,"deleted_at":null,"created_at":"2021-01-14T09:51:27Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "988"
      Fastly-Ratelimit-Reset:
      - "1610618400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
