---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/75
    method: GET
  response:
    body: '{"testing":false,"updated_at":"2022-11-04T17:45:17Z","comment":"test comment","created_at":"2022-11-04T17:45:17Z","locked":false,"number":75,"deployed":false,"deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","staging":false,"active":false}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
