---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/99
    method: GET
  response:
    body: '{"testing":false,"locked":false,"staging":false,"created_at":"2021-11-03T17:26:39Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"test
      comment","updated_at":"2021-11-03T17:26:39Z","active":false,"deleted_at":null,"number":99,"deployed":false}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
