---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/17
    method: GET
  response:
    body: '{"locked":false,"active":false,"number":17,"staging":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","testing":false,"updated_at":"2021-01-14T09:51:27Z","deployed":false,"deleted_at":null,"created_at":"2021-01-14T09:51:27Z","comment":"test
      comment"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
