---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version
    method: GET
  response:
    body: '[{"updated_at":"2019-04-17T00:15:10Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","deployed":false,"number":1,"comment":"","testing":false,"deleted_at":null,"staging":false,"active":true,"locked":true,"created_at":"2019-04-17T00:15:03Z"},{"number":2,"service_id":"7i6HN3TK9wS159v2gPAZ8A","deployed":false,"updated_at":"2019-04-17T23:36:00Z","testing":false,"comment":"","staging":false,"deleted_at":null,"active":false,"locked":false,"created_at":"2019-04-17T23:35:33Z"},{"service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"","testing":false,"deployed":false,"updated_at":"2019-05-10T02:49:35Z","number":3,"deleted_at":null,"staging":false,"active":false,"created_at":"2019-04-19T18:19:12Z","locked":false},{"number":[...]
