---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version
    method: GET
  response:
    body: '[{"testing":false,"locked":false,"staging":false,"number":1,"comment":"","updated_at":"2021-03-24T12:53:58Z","deployed":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","active":false,"created_at":"2021-03-24T12:53:58Z","deleted_at":null},{"deployed":false,"active":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2021-03-24T12:56:49Z","deleted_at":null,"testing":false,"number":2,"locked":false,"staging":false,"comment":"","updated_at":"2021-03-24T12:56:51Z"},{"deployed":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","active":false,"created_at":"2021-03-24T13:27:35Z","deleted_at":null,"testing":false,"staging":false,"locked":false,"number":3,"comment":"","updated_at":"2021-03-24T13:27:37Z"},{"testing":false,"staging":f[...]
