---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version
    method: GET
  response:
    body: '[{"deployed":false,"created_at":"2022-06-22T08:23:37Z","service_id":"kKJb5bOFI47uHeBVluGfX1","locked":false,"comment":"","staging":false,"deleted_at":null,"active":false,"number":1,"testing":false,"updated_at":"2022-10-24T11:07:24Z"},{"updated_at":"2022-10-24T10:42:33Z","testing":false,"number":2,"active":false,"deleted_at":null,"staging":false,"locked":false,"comment":"","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2022-10-24T10:42:31Z","deployed":false},{"locked":false,"comment":"","staging":false,"deployed":false,"service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2022-10-24T10:50:05Z","number":3,"testing":false,"updated_at":"2022-10-24T10:50:07Z","deleted_at":null,"active":false},{"active":[...]
