---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version
    method: GET
  response:
    body: '[{"staging":false,"number":1,"active":false,"locked":false,"comment":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2021-01-13T18:56:56Z","deleted_at":null,"deployed":false,"updated_at":"2021-01-13T18:56:56Z","testing":false},{"staging":false,"active":false,"locked":false,"number":2,"deleted_at":null,"created_at":"2021-01-13T19:00:27Z","deployed":false,"comment":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","testing":false,"updated_at":"2021-01-13T19:00:31Z"},{"updated_at":"2021-01-13T19:00:35Z","testing":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"","deleted_at":null,"created_at":"2021-01-13T19:00:32Z","deployed":false,"number":3,"active":false,"locked":false,"staging":false},{"number":4,"active":false,[...]
