---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version
    method: GET
  response:
    body: '[{"testing":false,"locked":true,"number":1,"active":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":false,"created_at":"2019-03-06T23:01:40Z","deleted_at":null,"comment":"","updated_at":"2019-03-08T16:04:51Z","deployed":false},{"testing":false,"locked":true,"number":2,"active":true,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":false,"created_at":"2019-03-08T16:04:40Z","deleted_at":null,"comment":"","updated_at":"2019-03-08T16:04:51Z","deployed":false},{"testing":false,"locked":false,"number":3,"active":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":false,"created_at":"2019-03-08T16:05:41Z","deleted_at":null,"comment":"","updated_at":"2019-03-15T18:18:51Z","deployed":false},{"testing":false,"locked":fal[...]
