---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/49/lock
    method: PUT
  response:
    body: '{"staging":false,"deleted_at":null,"number":49,"updated_at":"2019-05-11T00:21:35Z","deployed":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","testing":false,"comment":"new
      comment","locked":true,"created_at":"2019-05-11T00:21:34Z","active":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1557536400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
