---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/99/lock
    method: PUT
  response:
    body: '{"active":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","deployed":false,"deleted_at":null,"created_at":"2021-11-03T17:26:39Z","number":99,"locked":true,"staging":false,"testing":false,"updated_at":"2021-11-03T17:26:40Z","comment":"new
      comment"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4809"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
