---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/17/lock
    method: PUT
  response:
    body: '{"created_at":"2021-01-14T09:51:27Z","testing":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","active":false,"deployed":false,"comment":"new
      comment","deleted_at":null,"staging":false,"updated_at":"2021-01-14T09:51:29Z","number":17,"locked":true}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "989"
      Fastly-Ratelimit-Reset:
      - "1610618400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
