---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/16/lock
    method: PUT
  response:
    body: '{"testing":false,"locked":true,"number":16,"active":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":false,"created_at":"2019-03-29T00:33:36Z","deleted_at":null,"comment":"new
      comment","updated_at":"2019-03-29T00:33:37Z","deployed":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "989"
      Fastly-Ratelimit-Reset:
      - "1553821200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
