---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=696&comment=new+comment
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "696"
      comment:
      - new comment
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/696
    method: PUT
  response:
    body: '{"testing":false,"locked":false,"number":696,"active":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":false,"created_at":"2017-07-20T01:15:13+00:00","deleted_at":null,"comment":"new
      comment","updated_at":"2017-07-20T01:15:13+00:00","deployed":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "841"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
