---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=16&comment=new+comment
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "16"
      comment:
      - new comment
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/16
    method: PUT
  response:
    body: '{"testing":false,"locked":false,"number":16,"active":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":false,"created_at":"2019-03-29T00:33:36Z","deleted_at":null,"comment":"new
      comment","updated_at":"2019-03-29T00:33:36Z","deployed":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "990"
      Fastly-Ratelimit-Reset:
      - "1553821200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
