---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=17&comment=new+comment
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "17"
      comment:
      - new comment
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/17
    method: PUT
  response:
    body: '{"locked":false,"active":false,"number":17,"staging":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","testing":false,"updated_at":"2021-01-14T09:51:27Z","deployed":false,"deleted_at":null,"created_at":"2021-01-14T09:51:27Z","comment":"new
      comment"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "990"
      Fastly-Ratelimit-Reset:
      - "1610618400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
