---
version: 1
interactions:
- request:
    body: comment=new+comment
    form:
      comment:
      - new comment
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/75
    method: PUT
  response:
    body: '{"testing":false,"updated_at":"2022-11-04T17:45:17Z","comment":"new comment","created_at":"2022-11-04T17:45:17Z","locked":false,"number":75,"deployed":false,"deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","staging":false,"active":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9955"
      Fastly-Ratelimit-Reset:
      - "1667584800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
