---
version: 1
interactions:
- request:
    body: ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=99&comment=new+comment
    form:
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "99"
      comment:
      - new comment
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/99
    method: PUT
  response:
    body: '{"testing":false,"locked":false,"staging":false,"created_at":"2021-11-03T17:26:39Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","comment":"new
      comment","updated_at":"2021-11-03T17:26:39Z","active":false,"deleted_at":null,"number":99,"deployed":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4810"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
