---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=49&comment=new+comment
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "49"
      comment:
      - new comment
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/49
    method: PUT
  response:
    body: '{"testing":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","number":49,"created_at":"2019-05-11T00:21:34Z","updated_at":"2019-05-11T00:21:34Z","comment":"new
      comment","active":false,"staging":false,"deleted_at":null,"locked":false,"deployed":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "998"
      Fastly-Ratelimit-Reset:
      - "1557536400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
