---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Create&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Create
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Create","type":"vcl","id":"6VFIpb0fvGBPDzyUaWqszd","updated_at":"2021-01-14T10:23:53Z","publish_key":"","deleted_at":null,"paused":false,"versions":[{"created_at":"2021-01-14T10:23:53Z","testing":false,"active":false,"service_id":"6VFIpb0fvGBPDzyUaWqszd","staging":false,"deleted_at":null,"comment":"","deployed":false,"number":1,"updated_at":"2021-01-14T10:23:53Z","locked":false}],"created_at":"2021-01-14T10:23:53Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "965"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
