---
version: 1
interactions:
- request:
    body: name=test_dictionary_BatchModifyDictionaryItems_Create
    form:
      name:
      - test_dictionary_BatchModifyDictionaryItems_Create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/rr721IHRIcXdPrkCUvRNX1/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Create","service_id":"rr721IHRIcXdPrkCUvRNX1","version":2,"id":"x9VHobgfcZOnQaplJVrYC1","deleted_at":null,"updated_at":"2023-11-28T14:24:03Z","write_only":false,"created_at":"2023-11-28T14:24:03Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9977"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
