---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=3TnEEqlzShR8CjRaAaMBPG&Version=2&name=test_dictionary_BatchModifyDictionaryItems_Create
    form:
      Service:
      - 3TnEEqlzShR8CjRaAaMBPG
      Version:
      - "2"
      name:
      - test_dictionary_BatchModifyDictionaryItems_Create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/3TnEEqlzShR8CjRaAaMBPG/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Create","service_id":"3TnEEqlzShR8CjRaAaMBPG","version":2,"write_only":false,"created_at":"2019-07-16T11:30:13Z","deleted_at":null,"id":"6HpwCdlJc6IMWSgolr9aMJ","updated_at":"2019-07-16T11:30:13Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "961"
      Fastly-Ratelimit-Reset:
      - "1563278400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
