---
version: 1
interactions:
- request:
    body: ServiceID=6VFIpb0fvGBPDzyUaWqszd&ServiceVersion=2&name=test_dictionary_BatchModifyDictionaryItems_Create
    form:
      ServiceID:
      - 6VFIpb0fvGBPDzyUaWqszd
      ServiceVersion:
      - "2"
      name:
      - test_dictionary_BatchModifyDictionaryItems_Create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/6VFIpb0fvGBPDzyUaWqszd/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Create","service_id":"6VFIpb0fvGBPDzyUaWqszd","version":2,"id":"4s2r3X4mVt8kQ8ps50jz7w","deleted_at":null,"write_only":false,"updated_at":"2021-01-14T10:23:54Z","created_at":"2021-01-14T10:23:54Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "963"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
