---
version: 1
interactions:
- request:
    body: ServiceID=3e8JbEVlTMla2bfE02fNiD&ServiceVersion=2&name=test_dictionary_BatchModifyDictionaryItems_Create
    form:
      ServiceID:
      - 3e8JbEVlTMla2bfE02fNiD
      ServiceVersion:
      - "2"
      name:
      - test_dictionary_BatchModifyDictionaryItems_Create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3e8JbEVlTMla2bfE02fNiD/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Create","service_id":"3e8JbEVlTMla2bfE02fNiD","version":2,"write_only":false,"id":"11rhj5A92qe0LNSRQG0zuR","created_at":"2021-11-03T16:14:51Z","deleted_at":null,"updated_at":"2021-11-03T16:14:51Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4978"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
