---
version: 1
rwmutex: {}
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Create
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Create","publish_key":"0362bac8e489860773693155aa65fc5642e5e946","id":"3TnEEqlzShR8CjRaAaMBPG","versions":[{"testing":false,"comment":"","service_id":"3TnEEqlzShR8CjRaAaMBPG","locked":false,"deleted_at":null,"updated_at":"2019-07-16T11:30:12Z","staging":false,"deployed":false,"active":false,"number":1,"created_at":"2019-07-16T11:30:12Z"}],"deleted_at":null,"updated_at":"2019-07-16T11:30:12Z","created_at":"2019-07-16T11:30:12Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "963"
      Fastly-Ratelimit-Reset:
      - "1563278400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
