---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Create&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Create
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Create","type":"vcl","updated_at":"2021-11-03T16:14:51Z","created_at":"2021-11-03T16:14:51Z","publish_key":"","id":"3e8JbEVlTMla2bfE02fNiD","paused":false,"deleted_at":null,"versions":[{"deployed":false,"staging":false,"created_at":"2021-11-03T16:14:51Z","updated_at":"2021-11-03T16:14:51Z","comment":"","service_id":"3e8JbEVlTMla2bfE02fNiD","testing":false,"active":false,"number":1,"locked":false,"deleted_at":null}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4980"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
