---
version: 1
rwmutex: {}
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_1562949842
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_1562949842
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_1562949842","versions":[{"service_id":"3alzQnsw4J7Nz6xKMdaMF2","staging":false,"active":false,"comment":"","locked":false,"deployed":false,"deleted_at":null,"testing":false,"created_at":"2019-07-12T16:44:03Z","updated_at":"2019-07-12T16:44:03Z","number":1}],"updated_at":"2019-07-12T16:44:03Z","id":"3alzQnsw4J7Nz6xKMdaMF2","created_at":"2019-07-12T16:44:03Z","publish_key":"c7a316f731dfbb385f3bfc01353f77afa57d290d","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "959"
      Fastly-Ratelimit-Reset:
      - "1562950800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
