---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Create&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Create
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Create","type":"vcl","publish_key":"","created_at":"2023-11-28T14:24:03Z","updated_at":"2023-11-28T14:24:03Z","deleted_at":null,"versions":[{"testing":false,"updated_at":"2023-11-28T14:24:03Z","created_at":"2023-11-28T14:24:03Z","service_id":"rr721IHRIcXdPrkCUvRNX1","active":false,"deployed":false,"locked":false,"staging":false,"number":1,"comment":"","deleted_at":null}],"paused":false,"id":"rr721IHRIcXdPrkCUvRNX1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9979"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
