---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/3alzQnsw4J7Nz6xKMdaMF2/dictionary/4q0bga3ev2pgiACH7t5UgC/items
    method: GET
  response:
    body: '[{"dictionary_id":"4q0bga3ev2pgiACH7t5UgC","item_value":"val1","updated_at":"2019-07-12T16:44:04Z","item_key":"key1","service_id":"3alzQnsw4J7Nz6xKMdaMF2","deleted_at":null,"created_at":"2019-07-12T16:44:04Z"},{"created_at":"2019-07-12T16:44:04Z","updated_at":"2019-07-12T16:44:04Z","item_key":"key2","service_id":"3alzQnsw4J7Nz6xKMdaMF2","dictionary_id":"4q0bga3ev2pgiACH7t5UgC","item_value":"val2","deleted_at":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
