---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/6VFIpb0fvGBPDzyUaWqszd/dictionary/4s2r3X4mVt8kQ8ps50jz7w/items
    method: GET
  response:
    body: '[{"updated_at":"2021-01-14T10:23:54Z","item_key":"key1","service_id":"6VFIpb0fvGBPDzyUaWqszd","deleted_at":null,"created_at":"2021-01-14T10:23:54Z","item_value":"val1","dictionary_id":"4s2r3X4mVt8kQ8ps50jz7w"},{"item_key":"key2","service_id":"6VFIpb0fvGBPDzyUaWqszd","updated_at":"2021-01-14T10:23:54Z","dictionary_id":"4s2r3X4mVt8kQ8ps50jz7w","deleted_at":null,"created_at":"2021-01-14T10:23:54Z","item_value":"val2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
