---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3e8JbEVlTMla2bfE02fNiD/dictionary/11rhj5A92qe0LNSRQG0zuR/items
    method: GET
  response:
    body: '[{"item_key":"key1","deleted_at":null,"item_value":"val1","updated_at":"2021-11-03T16:14:52Z","dictionary_id":"11rhj5A92qe0LNSRQG0zuR","service_id":"3e8JbEVlTMla2bfE02fNiD","created_at":"2021-11-03T16:14:52Z"},{"updated_at":"2021-11-03T16:14:52Z","dictionary_id":"11rhj5A92qe0LNSRQG0zuR","deleted_at":null,"item_key":"key2","item_value":"val2","created_at":"2021-11-03T16:14:52Z","service_id":"3e8JbEVlTMla2bfE02fNiD"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
