---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/3TnEEqlzShR8CjRaAaMBPG/dictionary/6HpwCdlJc6IMWSgolr9aMJ/items
    method: GET
  response:
    body: '[{"deleted_at":null,"created_at":"2019-07-16T11:30:13Z","item_value":"val1","item_key":"key1","updated_at":"2019-07-16T11:30:13Z","service_id":"3TnEEqlzShR8CjRaAaMBPG","dictionary_id":"6HpwCdlJc6IMWSgolr9aMJ"},{"created_at":"2019-07-16T11:30:13Z","deleted_at":null,"item_key":"key2","item_value":"val2","updated_at":"2019-07-16T11:30:13Z","service_id":"3TnEEqlzShR8CjRaAaMBPG","dictionary_id":"6HpwCdlJc6IMWSgolr9aMJ"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
