---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=34&address=integ-test.go-fastly.com&format=format&name=test-papertrail&placement=waf_debug&port=1234
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "34"
      address:
      - integ-test.go-fastly.com
      format:
      - format
      name:
      - test-papertrail
      placement:
      - waf_debug
      port:
      - "1234"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/34/logging/papertrail
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","format":"format","name":"test-papertrail","placement":"waf_debug","port":"1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"34","hostname":"integ-test.go-fastly.com","format_version":"2","created_at":"2019-05-09T20:34:12Z","public_key":null,"updated_at":"2019-05-09T20:34:12Z","response_condition":"","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "990"
      Fastly-Ratelimit-Reset:
      - "1557435600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
