---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=53&address=integ-test.go-fastly.com&format=format&format_version=2&name=test-papertrail&placement=waf_debug&port=1234
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "53"
      address:
      - integ-test.go-fastly.com
      format:
      - format
      format_version:
      - "2"
      name:
      - test-papertrail
      placement:
      - waf_debug
      port:
      - "1234"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/53/logging/papertrail
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","format":"format","format_version":"2","name":"test-papertrail","placement":"waf_debug","port":"1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"53","deleted_at":null,"response_condition":"","updated_at":"2021-01-14T10:45:48Z","created_at":"2021-01-14T10:45:48Z","public_key":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "664"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
