---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=68&address=integ-test.go-fastly.com&format=format&format_version=2&name=test-papertrail&placement=waf_debug&port=1234
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "68"
      address:
      - integ-test.go-fastly.com
      format:
      - format
      format_version:
      - "2"
      name:
      - test-papertrail
      placement:
      - waf_debug
      port:
      - "1234"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/68/logging/papertrail
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","format":"format","format_version":"2","name":"test-papertrail","placement":"waf_debug","port":"1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"68","updated_at":"2019-06-06T22:12:54Z","response_condition":"","public_key":null,"deleted_at":null,"created_at":"2019-06-06T22:12:54Z","hostname":"integ-test.go-fastly.com"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "980"
      Fastly-Ratelimit-Reset:
      - "1559862000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
