---
version: 1
interactions:
- request:
    body: address=integ-test.go-fastly.com&format=format&format_version=2&name=test-papertrail&placement=none&port=1234
    form:
      address:
      - integ-test.go-fastly.com
      format:
      - format
      format_version:
      - "2"
      name:
      - test-papertrail
      placement:
      - none
      port:
      - "1234"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/177/logging/papertrail
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","format":"format","format_version":"2","name":"test-papertrail","placement":"none","port":"1234","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"177","updated_at":"2026-07-23T19:38:34Z","response_condition":"","deleted_at":null,"public_key":null,"created_at":"2026-07-23T19:38:34Z","log_processing_region":"none"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9509"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
