---
version: 1
interactions:
- request:
    body: address=integ-test.go-fastly.com&format=format&format_version=2&name=test-papertrail&port=1234
    form:
      address:
      - integ-test.go-fastly.com
      format:
      - format
      format_version:
      - "2"
      name:
      - test-papertrail
      port:
      - "1234"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/12/logging/papertrail
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","format":"format","format_version":"2","name":"test-papertrail","port":"1234","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"12","response_condition":"","updated_at":"2025-02-28T21:33:57Z","placement":null,"created_at":"2025-02-28T21:33:57Z","public_key":null,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9951"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
