---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/676/logging/papertrail/test-papertrail
    method: GET
  response:
    body: '{"placement":null,"format_version":"2","hostname":"integ-test.go-fastly.com","response_condition":"","address":"integ-test.go-fastly.com","public_key":null,"updated_at":"2017-07-20T01:15:05+00:00","name":"test-papertrail","port":"1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"676","deleted_at":null,"created_at":"2017-07-20T01:15:05+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
