---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/12/logging/papertrail/test-papertrail
    method: GET
  response:
    body: '{"name":"test-papertrail","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"response_condition":"","updated_at":"2025-02-28T21:33:57Z","address":"integ-test.go-fastly.com","created_at":"2025-02-28T21:33:57Z","port":"1234","version":"12","placement":null,"format":"format","public_key":null,"format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
