---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/53/logging/papertrail/test-papertrail
    method: GET
  response:
    body: '{"updated_at":"2021-01-14T10:45:48Z","public_key":null,"name":"test-papertrail","port":"1234","version":"53","placement":"waf_debug","format":"format","response_condition":"","created_at":"2021-01-14T10:45:48Z","format_version":"2","service_id":"7i6HN3TK9wS159v2gPAZ8A","address":"integ-test.go-fastly.com","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
