---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/80/logging/papertrail/test-papertrail
    method: GET
  response:
    body: '{"public_key":null,"placement":"waf_debug","format":"format","address":"integ-test.go-fastly.com","port":"1234","created_at":"2021-11-03T17:05:33Z","format_version":"2","response_condition":"","name":"test-papertrail","updated_at":"2021-11-03T17:05:33Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":"80","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
