---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/46/logging/papertrail/test-papertrail
    method: GET
  response:
    body: '{"format_version":"2","name":"test-papertrail","version":"46","format":"format","response_condition":"","placement":"waf_debug","deleted_at":null,"created_at":"2022-11-04T14:20:05Z","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2022-11-04T14:20:05Z","address":"integ-test.go-fastly.com","public_key":null,"port":"1234"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
