---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/177/logging/papertrail/test-papertrail
    method: GET
  response:
    body: '{"public_key":null,"deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","format":"format","version":"177","name":"test-papertrail","updated_at":"2026-07-23T19:38:34Z","created_at":"2026-07-23T19:38:34Z","log_processing_region":"none","placement":"none","port":"1234","format_version":"2","response_condition":"","address":"integ-test.go-fastly.com"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
