---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/34/logging/papertrail/test-papertrail
    method: GET
  response:
    body: '{"address":"integ-test.go-fastly.com","format_version":"2","response_condition":"","placement":"waf_debug","hostname":"integ-test.go-fastly.com","updated_at":"2019-05-09T20:34:12Z","deleted_at":null,"format":"format","public_key":null,"created_at":"2019-05-09T20:34:12Z","version":"34","name":"test-papertrail","port":"1234","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
