---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/125/logging/papertrail/test-papertrail
    method: GET
  response:
    body: '{"version":"125","log_processing_region":"none","port":"1234","response_condition":"","deleted_at":null,"updated_at":"2025-06-04T15:28:35Z","format_version":"2","format":"format","created_at":"2025-06-04T15:28:35Z","placement":"waf_debug","name":"test-papertrail","public_key":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","address":"integ-test.go-fastly.com"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
