---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/68/logging/papertrail
    method: GET
  response:
    body: '[{"service_id":"7i6HN3TK9wS159v2gPAZ8A","format":"format","name":"test-papertrail","updated_at":"2019-06-06T22:12:54Z","format_version":"2","placement":"waf_debug","address":"integ-test.go-fastly.com","port":"1234","response_condition":"","created_at":"2019-06-06T22:12:54Z","deleted_at":null,"version":"68","public_key":null,"hostname":"integ-test.go-fastly.com"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
