---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/46/logging/papertrail
    method: GET
  response:
    body: '[{"placement":"waf_debug","format_version":"2","service_id":"kKJb5bOFI47uHeBVluGfX1","address":"integ-test.go-fastly.com","response_condition":"","version":"46","deleted_at":null,"public_key":null,"created_at":"2022-11-04T14:20:05Z","name":"test-papertrail","format":"format","updated_at":"2022-11-04T14:20:05Z","port":"1234"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
