---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/80/logging/papertrail
    method: GET
  response:
    body: '[{"port":"1234","created_at":"2021-11-03T17:05:33Z","format_version":"2","response_condition":"","format":"format","address":"integ-test.go-fastly.com","public_key":null,"placement":"waf_debug","deleted_at":null,"version":"80","name":"test-papertrail","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-11-03T17:05:33Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
