---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/53/logging/papertrail
    method: GET
  response:
    body: '[{"response_condition":"","version":"53","address":"integ-test.go-fastly.com","updated_at":"2021-01-14T10:45:48Z","name":"test-papertrail","format":"format","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"format_version":"2","public_key":null,"port":"1234","placement":"waf_debug","created_at":"2021-01-14T10:45:48Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
