---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/177/logging/papertrail
    method: GET
  response:
    body: '[{"format":"format","port":"1234","updated_at":"2026-07-23T19:38:34Z","response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","format_version":"2","public_key":null,"name":"test-papertrail","address":"integ-test.go-fastly.com","deleted_at":null,"version":"177","placement":"none","created_at":"2026-07-23T19:38:34Z","log_processing_region":"none"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
