---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/125/logging/papertrail
    method: GET
  response:
    body: '[{"deleted_at":null,"name":"test-papertrail","service_id":"kKJb5bOFI47uHeBVluGfX1","address":"integ-test.go-fastly.com","public_key":null,"port":"1234","updated_at":"2025-06-04T15:28:35Z","created_at":"2025-06-04T15:28:35Z","format_version":"2","format":"format","version":"125","placement":"waf_debug","log_processing_region":"none","response_condition":""}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
