---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/12/logging/papertrail
    method: GET
  response:
    body: '[{"name":"test-papertrail","placement":null,"response_condition":"","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","format":"format","format_version":"2","address":"integ-test.go-fastly.com","created_at":"2025-02-28T21:33:57Z","version":"12","port":"1234","updated_at":"2025-02-28T21:33:57Z","public_key":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
