---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/34/logging/papertrail
    method: GET
  response:
    body: '[{"format":"format","hostname":"integ-test.go-fastly.com","port":"1234","format_version":"2","service_id":"7i6HN3TK9wS159v2gPAZ8A","public_key":null,"response_condition":"","address":"integ-test.go-fastly.com","version":"34","placement":"waf_debug","deleted_at":null,"updated_at":"2019-05-09T20:34:12Z","created_at":"2019-05-09T20:34:12Z","name":"test-papertrail"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
