---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-papertrail&Service=7i6HN3TK9wS159v2gPAZ8A&Version=676&name=new-test-papertrail
    form:
      Name:
      - test-papertrail
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "676"
      name:
      - new-test-papertrail
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/676/logging/papertrail/test-papertrail
    method: PUT
  response:
    body: '{"placement":null,"format_version":"2","hostname":"integ-test.go-fastly.com","response_condition":"","address":"integ-test.go-fastly.com","public_key":null,"updated_at":"2017-07-20T01:15:05+00:00","name":"new-test-papertrail","port":"1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"676","deleted_at":null,"created_at":"2017-07-20T01:15:05+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "952"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
