---
version: 1
interactions:
- request:
    body: name=new-test-papertrail
    form:
      name:
      - new-test-papertrail
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/12/logging/papertrail/test-papertrail
    method: PUT
  response:
    body: '{"deleted_at":null,"public_key":null,"version":"12","updated_at":"2025-02-28T21:33:57Z","placement":null,"name":"new-test-papertrail","format_version":"2","format":"format","port":"1234","service_id":"kKJb5bOFI47uHeBVluGfX1","address":"integ-test.go-fastly.com","created_at":"2025-02-28T21:33:57Z","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9939"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
