---
version: 1
interactions:
- request:
    body: '{"name":"new-test-papertrail","placement":null,"log_processing_region":"eu"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/177/logging/papertrail/test-papertrail
    method: PUT
  response:
    body: '{"log_processing_region":"eu","created_at":"2026-07-23T19:38:34Z","version":"177","placement":null,"name":"new-test-papertrail","address":"integ-test.go-fastly.com","deleted_at":null,"format_version":"2","public_key":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","response_condition":"","port":"1234","format":"format","updated_at":"2026-07-23T19:38:34Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9505"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
