---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-papertrail&Service=7i6HN3TK9wS159v2gPAZ8A&Version=34&name=new-test-papertrail
    form:
      Name:
      - test-papertrail
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "34"
      name:
      - new-test-papertrail
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/34/logging/papertrail/test-papertrail
    method: PUT
  response:
    body: '{"format_version":"2","port":"1234","name":"new-test-papertrail","format":"format","updated_at":"2019-05-09T20:34:12Z","created_at":"2019-05-09T20:34:12Z","response_condition":"","deleted_at":null,"placement":"waf_debug","service_id":"7i6HN3TK9wS159v2gPAZ8A","address":"integ-test.go-fastly.com","hostname":"integ-test.go-fastly.com","version":"34","public_key":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "989"
      Fastly-Ratelimit-Reset:
      - "1557435600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
