---
version: 1
interactions:
- request:
    body: Name=test-papertrail&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=80&name=new-test-papertrail
    form:
      Name:
      - test-papertrail
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "80"
      name:
      - new-test-papertrail
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/80/logging/papertrail/test-papertrail
    method: PUT
  response:
    body: '{"placement":"waf_debug","format":"format","created_at":"2021-11-03T17:05:33Z","format_version":"2","updated_at":"2021-11-03T17:05:33Z","address":"integ-test.go-fastly.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","response_condition":"","port":"1234","name":"new-test-papertrail","public_key":null,"deleted_at":null,"version":"80"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4969"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
