---
version: 1
interactions:
- request:
    body: name=new-test-papertrail
    form:
      name:
      - new-test-papertrail
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/46/logging/papertrail/test-papertrail
    method: PUT
  response:
    body: '{"address":"integ-test.go-fastly.com","format_version":"2","public_key":null,"name":"new-test-papertrail","format":"format","created_at":"2022-11-04T14:20:05Z","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2022-11-04T14:20:05Z","deleted_at":null,"version":"46","placement":"waf_debug","port":"1234","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1667574000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
