---
version: 1
interactions:
- request:
    body: log_processing_region=eu&name=new-test-papertrail
    form:
      log_processing_region:
      - eu
      name:
      - new-test-papertrail
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/125/logging/papertrail/test-papertrail
    method: PUT
  response:
    body: '{"deleted_at":null,"updated_at":"2025-06-04T15:28:35Z","response_condition":"","log_processing_region":"eu","port":"1234","version":"125","address":"integ-test.go-fastly.com","service_id":"kKJb5bOFI47uHeBVluGfX1","public_key":null,"name":"new-test-papertrail","placement":"waf_debug","format":"format","created_at":"2025-06-04T15:28:35Z","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9843"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
