---
version: 1
interactions:
- request:
    body: Name=test-papertrail&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=53&name=new-test-papertrail
    form:
      Name:
      - test-papertrail
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "53"
      name:
      - new-test-papertrail
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/53/logging/papertrail/test-papertrail
    method: PUT
  response:
    body: '{"created_at":"2021-01-14T10:45:48Z","name":"new-test-papertrail","placement":"waf_debug","updated_at":"2021-01-14T10:45:48Z","version":"53","service_id":"7i6HN3TK9wS159v2gPAZ8A","response_condition":"","deleted_at":null,"format_version":"2","address":"integ-test.go-fastly.com","port":"1234","public_key":null,"format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "663"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
