---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=668&name=test-condition&priority=1&statement=req.url~%2B%22index.html%22&type=REQUEST
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "668"
      name:
      - test-condition
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - REQUEST
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/668/condition
    method: POST
  response:
    body: '{"name":"test-condition","priority":"1","statement":"req.url~+\"index.html\"","type":"REQUEST","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"668","deleted_at":null,"created_at":"2017-04-17T16:01:04+00:00","comment":"","updated_at":"2017-04-17T16:01:04+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "867"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
