---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=557&name=test-condition&priority=1&statement=req.url~%2B%22index.html%22&type=REQUEST
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "557"
      name:
      - test-condition
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - REQUEST
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/557/condition
    method: POST
  response:
    body: '{"name":"test-condition","priority":"1","statement":"req.url~+\"index.html\"","type":"REQUEST","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"557","comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "982"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
