---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/557/condition
    method: GET
  response:
    body: '[{"priority":"1","version":"557","name":"test-condition","service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"","statement":"req.url~+\"index.html\"","type":"REQUEST"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
