---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-condition&Service=7i6HN3TK9wS159v2gPAZ8A&Version=668&statement=req.url~%2B%22updated.html%22
    form:
      Name:
      - test-condition
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "668"
      statement:
      - req.url~+"updated.html"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/668/condition/test-condition
    method: PUT
  response:
    body: '{"priority":"1","version":"668","name":"test-condition","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2017-04-17T16:01:04+00:00","comment":"","statement":"req.url~+\"updated.html\"","updated_at":"2017-04-17T16:01:04+00:00","type":"REQUEST"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "862"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
