---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-condition&Service=7i6HN3TK9wS159v2gPAZ8A&Version=689&statement=req.url~%2B%22updated.html%22
    form:
      Name:
      - test-condition
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "689"
      statement:
      - req.url~+"updated.html"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/689/condition/test-condition
    method: PUT
  response:
    body: '{"priority":"1","version":"689","name":"test-condition","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2017-07-20T01:15:11+00:00","comment":"","statement":"req.url~+\"updated.html\"","updated_at":"2017-07-20T01:15:11+00:00","type":"REQUEST"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "876"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
