---
version: 1
interactions:
- request:
    body: Name=test-condition&Service=7i6HN3TK9wS159v2gPAZ8A&Version=557&statement=req.url~%2B%22updated.html%22
    form:
      Name:
      - test-condition
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "557"
      statement:
      - req.url~+"updated.html"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/557/condition/test-condition
    method: PUT
  response:
    body: '{"priority":"1","version":"557","name":"test-condition","service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"","statement":"req.url~+\"updated.html\"","type":"REQUEST"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "971"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
