---
version: 1
interactions:
- request:
    body: Name=test-condition&Service=7i6HN3TK9wS159v2gPAZ8A&Version=595&statement=req.url~%2B%22updated.html%22
    form:
      Name:
      - test-condition
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "595"
      statement:
      - req.url~+"updated.html"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/595/condition/test-condition
    method: PUT
  response:
    body: '{"priority":"1","version":"595","name":"test-condition","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2016-06-29T22:27:30+00:00","comment":"","statement":"req.url~+\"updated.html\"","updated_at":"2016-06-29T22:27:30+00:00","type":"REQUEST"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "961"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
