---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_DeleteSecret","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/DSXDxdHJFcmIM3FiKGjHis/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_DeleteSecret",
        "digest": "bbYowbkLL9AD1EXQG4p860YiADoBk09ea44RTn5UUP8=",
        "created_at": "2023-11-27T15:54:54Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - uuWqYE91Ifazfl1GKHUIq3
    status: 200 OK
    code: 200
    duration: ""
