---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_DeleteSecret","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/GWu14WrVLHys2R1VHyiw7c/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_DeleteSecret",
        "digest": "tivkxrrR7dZSnKY4SQnYO1ZEL/X0J3crwUZe8mW8eII=",
        "created_at": "2022-11-28T22:40:39Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - 453bGKF3OBKhGBIwZ43tFw
    status: 200 OK
    code: 200
    duration: ""
