---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/signals
    method: GET
  response:
    body: |
      {"data":[{"id":"corp.a-real-name-account","reference_id":"corp.a-real-name-account","name":"A Real Name account","description":"This is an updated description","created_at":"2025-07-21T14:51:34Z","updated_at":"2025-07-21T14:51:34Z","scope":{"type":"account","applies_to":["*"]}}],"meta":{"total":1,"limit":100}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
