---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/signals/corp.a-real-name-account
    method: GET
  response:
    body: |
      {"id":"corp.a-real-name-account","reference_id":"corp.a-real-name-account","name":"A Real Name account","description":"This is a description","created_at":"2025-07-21T14:51:34Z","updated_at":"2025-07-21T14:51:34Z","scope":{"type":"account","applies_to":["*"]}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
