---
version: 1
interactions:
- request:
    body: '{"description":"This is a description","name":"A Real Name account"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/signals
    method: POST
  response:
    body: |
      {"id":"v2vq8TNDMtAt3HVmozpn3O","reference_id":"corp.a-real-name-account","name":"A Real Name account","description":"This is a description","created_at":"2025-07-17T15:28:10Z","updated_at":"2025-07-17T15:28:10Z","scope":{"type":"account","applies_to":["*"]}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
