---
version: 1
interactions:
- request:
    body: '{"description":"This is a description","name":"A real Name"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/signals
    method: POST
  response:
    body: |
      {"id":"sCz5ZfkDtEi4YRVuDr04Rn","reference_id":"site.a-real-name","name":"A real Name","description":"This is a description","created_at":"2025-06-29T12:37:36Z","updated_at":"2025-06-29T12:37:36Z","scope":{"type":"workspace","applies_to":["alk6DTsYKHKucJCOIavaJM"]}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
