---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/signals
    method: GET
  response:
    body: |
      {"data":[{"id":"sCz5ZfkDtEi4YRVuDr04Rn","reference_id":"site.a-real-name","name":"A real Name","description":"This is an updated description","created_at":"2025-06-29T12:37:36Z","updated_at":"2025-06-29T12:37:37Z","scope":{"type":"workspace","applies_to":["alk6DTsYKHKucJCOIavaJM"]}}],"meta":{"total":1,"limit":100}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
