---
version: 1
interactions:
- request:
    body: '{"description":"This is an updated description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/signals/rqzlDT02NDO9VAFmEKPVHN
    method: PATCH
  response:
    body: |
      {"id":"rqzlDT02NDO9VAFmEKPVHN","reference_id":"site.a-real-name","name":"A real Name","description":"This is an updated description","created_at":"2025-06-09T18:22:48Z","updated_at":"2025-06-09T18:22:48Z","scope":{"type":"unknown","applies_to":[]}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
