---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/signals/aDN0pSweW5mjxTgNaxE08U
    method: GET
  response:
    body: |
      {"id":"aDN0pSweW5mjxTgNaxE08U","reference_id":"site.a-real-name-workspace","name":"A Real Name workspace","description":"This is a description","created_at":"2025-07-17T15:28:00Z","updated_at":"2025-07-17T15:28:00Z","scope":{"type":"workspace","applies_to":["Am2qjXkgamuYp3u54rQkLD"]}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
