---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/content/edge_check?url=releases.hashicorp.com
    method: GET
  response:
    body: '[{"hash":"d41d8cd98f00b204e9800998ecf8427e","server":"cache-fjr7920","response_time":0.6772929999999999,"request":{"headers":{},"method":null,"url":null},"response":{"headers":{"Server":"Varnish","Retry-After":"0","Location":"https://hc-releases.s3-website-us-east-1.amazonaws.com/","Content-Length":"0","Accept-Ranges":"bytes","Date":"Thu,
      20 Jul 2017 01:19:42 GMT","Via":"1.1 varnish","Connection":"close","Fastly-Debug-Path":"(D
      cache-fjr7920-FJR 1500513582)","Fastly-Debug-TTL":"(M cache-fjr7920-FJR - -
      -)","Fastly-Debug-Digest":"5f4ccedfccad164efb50cc805586fc295ce09040db732776c5f0ec3146378d8b","X-Served-By":"cache-fjr7920-FJR","X-Cache":"HIT","X-Cache-Hits":"0","X-Timer":"S1500513582.419305,VS0,VE3"},"status":301}},{"hash":"d41d8cd98f00b204e9800998ecf8427e","server":"cache-itm7420","response_time":0.641215,"request":{"headers":{},"method":null,"url":null},"response":{"headers":{"Server":"Varnish","Retry-After":"0","Location":"https://hc-releases.s3-website-us-east-1.amazonaws.com/","Content-Length":"0","Accept-Ranges":"bytes","Date":"Thu,
      20 Jul 2017 01:19:42 GMT","Via":"1.1 varnish","Connection":"close","Fastly-Debug-Path":"(D
      cache-itm7420-ITM 1500513582)","Fastly-Debug-TTL":"(M cache-i[...]
