---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/content/edge_check?url=releases.hashicorp.com
    method: GET
  response:
    body: '[{"hash":"d41d8cd98f00b204e9800998ecf8427e","server":"cache-sjc3127","response_time":0.186967,"request":{"headers":{},"method":null,"url":null},"response":{"headers":{"Server":"Varnish","Retry-After":"0","Location":"https://releases.hashicorp.com/","Content-Length":"0","Accept-Ranges":"bytes","Date":"Wed,
      29 Jun 2016 22:27:23 GMT","Via":"1.1 varnish","Connection":"close","X-Served-By":"cache-sjc3127-SJC","X-Cache":"HIT","X-Cache-Hits":"0"},"status":301}},{"hash":"d41d8cd98f00b204e9800998ecf8427e","server":"cache-itm7421","response_time":0.355139,"request":{"headers":{},"method":null,"url":null},"response":{"headers":{"Server":"Varnish","Retry-After":"0","Location":"https://releases.hashicorp.com/","Content-Length":"0","Accept-Ranges":"bytes","Date":"Wed,
      29 Jun 2016 22:27:23 GMT","Via":"1.1 varnish","Connection":"close","X-Served-By":"cache-itm7421-ITM","X-Cache":"HIT","X-Cache-Hits":"0"},"status":301}},{"hash":"d41d8cd98f00b204e9800[...]
