---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/content/edge_check?url=releases.hashicorp.com
    method: GET
  response:
    body: '[{"hash":"d41d8cd98f00b204e9800998ecf8427e","server":"cache-sjc3120","response_time":0.795999,"request":{"headers":{},"method":null,"url":null},"response":{"headers":{"Server":"Varnish","Retry-After":"0","Location":"https://releases.hashicorp.com/","Content-Length":"0","Accept-Ranges":"bytes","Date":"Sun,
      03 Apr 2016 16:46:18 GMT","Via":"1.1 varnish","Connection":"close","X-Served-By":"cache-sjc3120-SJC","X-Cache":"HIT","X-Cache-Hits":"0"},"status":301}},{"hash":"d41d8cd98f00b204e9800998ecf8427e","server":"cache-sjc3121","response_time":0.792291,"request":{"headers":{},"method":null,"url":null},"response":{"headers":{"Server":"Varnish","Retry-After":"0","Location":"https://releases.hashicorp.com/","Content-Length":"0","Accept-Ranges":"bytes","Date":"Sun,
      03 Apr 2016 16:46:18 GMT","Via":"1.1 varnish","Connection":"close","X-Served-By":"cache-sjc3121-SJC","X-Cache":"HIT","X-Cache-Hits":"0"},"status":301}},{"hash":"d41d8cd98f00b204e9800[...]
