---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/content/edge_check?url=releases.hashicorp.com
    method: GET
  response:
    body: '[{"hash":"d41d8cd98f00b204e9800998ecf8427e","server":"cache-fjr7923","response_time":0.5172939999999999,"request":{"headers":{},"method":null,"url":null},"response":{"headers":{"Server":"Varnish","Retry-After":"0","Location":"https://releases.hashicorp.com/","Content-Length":"0","Accept-Ranges":"bytes","Date":"Mon,
      17 Apr 2017 16:00:58 GMT","Via":"1.1 varnish","Connection":"close","X-Served-By":"cache-fjr7923-FJR","X-Cache":"HIT","X-Cache-Hits":"0","X-Timer":"S1492444858.287970,VS0,VE2"},"status":301}},{"hash":"d41d8cd98f00b204e9800998ecf8427e","server":"cache-itm7420","response_time":0.470102,"request":{"headers":{},"method":null,"url":null},"response":{"headers":{"Server":"Varnish","Retry-After":"0","Location":"https://releases.hashicorp.com/","Content-Length":"0","Accept-Ranges":"bytes","Date":"Mon,
      17 Apr 2017 16:00:58 GMT","Via":"1.1 varnish","Connection":"close","X-Served-By":"cache-itm7420-ITM","X-Cache":"HIT","X-Cache-Hits":"0","X-Timer":"S1492444858.268606,VS0,VE0"},"statu[...]
