name: 'dependabot-pull-request'
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
      - labeled
      - unlabeled
jobs:
    dependabot-changelog-update:
        if: github.actor == 'dependabot[bot]'
        runs-on: ubuntu-latest
        permissions:
          contents: write
        steps:
          - name: Checkout code
            uses: actions/checkout@v4
          - uses: dangoslen/dependabot-changelog-helper@v4
            with:
              activationLabels: dependencies
              changelogPath: './CHANGELOG.md'
              entryPrefix: 'build(deps): '
          - uses: stefanzweifel/git-auto-commit-action@v5
            with:
              commit_message: "docs(CHANGELOG.md): add dependency bump from dependabot"