---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/timeseries?end=2025-06-06T00%3A00%3A00Z&granularity=60&metrics=XSS%2CSQLI%2CHTTP404&start=2025-06-04T00%3A00%3A00Z
    method: GET
  response:
    body: |
      {"data":[{"HTTP404":0,"SQLI":0,"XSS":0,"timestamp":"2025-06-04T00:00:00Z"},{"HTTP404":0,"SQLI":0,"XSS":0,"timestamp":"2025-06-04T00:10:00Z"},{"HTTP404":0,"SQLI":0,"XSS":0,"timestamp":"2025-06-04T00:20:00Z"},{"HTTP404":0,"SQLI":0,"XSS":0,"timestamp":"2025-06-04T00:30:00Z"},{"HTTP404":0,"SQLI":0,"XSS":0,"timestamp":"2025-06-04T00:40:00Z"},{"HTTP404":0,"SQLI":0,"XSS":0,"timestamp":"2025-06-04T00:50:00Z"},{"HTTP404":0,"SQLI":0,"XSS":0,"timestamp":"2025-06-04T01:00:00Z"},{"HTTP404":0,"SQLI":0,"XSS":0,"timestamp":"2025-06-04T01:10:00Z"},{"HTTP404":0,"[...]
