---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/timeseries?from=2025-06-04T00%3A00%3A00Z&granularity=60&metrics=XSS%2CSQLI%2CHTTP404&to=2025-06-06T00%3A00%3A00Z
    method: GET
  response:
    body: |
      {"title":"The request does not validate or is improperly formed","status":400,"detail":"'start' is required and must be a valid RFC3339 date","errors":[]}
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
