---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/timeseries?from=2026-06-15T11%3A58%3A00Z&granularity=60&metrics=XSS%2CSQLI%2CHTTP404&to=2026-06-15T12%3A10%3A00Z
    method: GET
  response:
    body: |
      {"data":[{"dimensions":{"time":"2026-06-15T11:00:00Z"},"values":[{"HTTP404":0,"SQLI":0,"XSS":0}]},{"dimensions":{"time":"2026-06-15T12:00:00Z"},"values":[{"HTTP404":0,"SQLI":0,"XSS":0}]},{"dimensions":{"time":"2026-06-15T13:00:00Z"},"values":[{"HTTP404":0,"SQLI":0,"XSS":0}]},{"dimensions":{"time":"2026-06-15T14:00:00Z"},"values":[{"HTTP404":0,"SQLI":0,"XSS":0}]},{"dimensions":{"time":"2026-06-15T15:00:00Z"},"values":[{"HTTP404":0,"SQLI":0,"XSS":0}]},{"dimensions":{"time":"2026-06-15T16:00:00Z"},"values":[{"HTTP404":0,"SQLI":0,"XSS":0}]},{"dimensions":{"time":"2026-06-15T17:00:00Z"},"val[...]
