---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domain-management/v1/routing-configs/2rI2h8Ya3lvL61jrxvTqPn/versions
    method: GET
  response:
    body: |
      {"data":[{"activated_at":"2026-09-23T16:50:04Z","comment":"Auto-created initial draft","created_at":"2026-09-23T16:50:04Z","id":"RDRtJ6B3GPrwybRXp8sbD"}],"meta":{"limit":10,"sort":"-activated_at"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
