---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domain-management/v1/routing-configs/2rI2h8Ya3lvL61jrxvTqPn/activate
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:04Z","id":"2rI2h8Ya3lvL61jrxvTqPn","links":{"paths":"/domain-management/v1/routing-configs/2rI2h8Ya3lvL61jrxvTqPn/paths","self":"/domain-management/v1/routing-configs/2rI2h8Ya3lvL61jrxvTqPn"},"name":"gofastly-sdk-testing-versions-config","state":"active","updated_at":"2026-09-23T16:50:04Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
