---
version: 1
interactions:
- request:
    body: '{"name":"gofastly-sdk-testing-versions-config"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:03.818302053Z","id":"2rI2h8Ya3lvL61jrxvTqPn","links":{"paths":"/domain-management/v1/routing-configs/2rI2h8Ya3lvL61jrxvTqPn/paths","self":"/domain-management/v1/routing-configs/2rI2h8Ya3lvL61jrxvTqPn"},"name":"gofastly-sdk-testing-versions-config"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
