---
version: 1
interactions:
- request:
    body: '{"path":"/second"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/2rI2h8Ya3lvL61jrxvTqPn/paths
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:04.61061688Z","id":"O0LRZaceM0TtEgKJhLy6i","links":{"rules":"/domain-management/v1/routing-configs/2rI2h8Ya3lvL61jrxvTqPn/paths/O0LRZaceM0TtEgKJhLy6i/rules","self":"/domain-management/v1/routing-configs/2rI2h8Ya3lvL61jrxvTqPn/paths/O0LRZaceM0TtEgKJhLy6i"},"path":"/second"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
