---
version: 1
interactions:
- request:
    body: '{"path":"/"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/2rI2h8Ya3lvL61jrxvTqPn/paths
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:03.970714782Z","id":"2t0lhKvAIOJQwjZ19jlUVw","links":{"rules":"/domain-management/v1/routing-configs/2rI2h8Ya3lvL61jrxvTqPn/paths/2t0lhKvAIOJQwjZ19jlUVw/rules","self":"/domain-management/v1/routing-configs/2rI2h8Ya3lvL61jrxvTqPn/paths/2t0lhKvAIOJQwjZ19jlUVw"},"path":"/"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
