---
version: 1
interactions:
- request:
    body: '{"action":{"type":"service","value":"kKJb5bOFI47uHeBVluGfX1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/2rI2h8Ya3lvL61jrxvTqPn/paths/2t0lhKvAIOJQwjZ19jlUVw/rules
    method: POST
  response:
    body: |
      {"action":{"type":"service","value":"kKJb5bOFI47uHeBVluGfX1"},"conditions":[],"created_at":"2026-09-23T16:50:04.129630786Z","id":"6QHYGpHcKordVidvedQiNO","is_default":true,"updated_at":"2026-09-23T16:50:04.129630786Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
