---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 074af2ace7883623972e898335ad62d7
    url: https://api.fastly.com/service/6cqczz91loS2dnXX5w9UIC/wafs/4fuxZ7bpag8laOjYwxlqZM/rule_statuses
    method: GET
  response:
    body: '{"data":[{ "type":"rule_status", "id":"3243", "attributes":{"status":"log"}},{ "type":"rule_status", "id":"555", "attributes":{"status":"log"}}]}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
