---
version: 1
rwmutex: {}
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_DictionaryItems
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_DictionaryItems
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_DictionaryItems","deleted_at":null,"publish_key":"3030b46cf2bc8d2e52401f45b676c3f03c45c3d9","created_at":"2019-07-16T11:30:22Z","id":"17Cozi1mqUCWuTgyYvipeW","updated_at":"2019-07-16T11:30:22Z","versions":[{"updated_at":"2019-07-16T11:30:22Z","testing":false,"created_at":"2019-07-16T11:30:22Z","number":1,"service_id":"17Cozi1mqUCWuTgyYvipeW","comment":"","active":false,"staging":false,"deployed":false,"deleted_at":null,"locked":false}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "936"
      Fastly-Ratelimit-Reset:
      - "1563278400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
