---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_DictionaryItems&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_DictionaryItems
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"2mEgzQsbxIHPAkmXcKCBG5","comment":"go-fastly client test","name":"test_service_DictionaryItems","type":"vcl","id":"7i6HN3TK9wS159v2gPAZ8A","publish_key":"","deleted_at":null,"created_at":"2021-12-22T03:08:14Z","updated_at":"2021-12-22T03:08:14Z","versions":[{"updated_at":"2021-12-22T03:08:14Z","testing":false,"number":1,"staging":false,"comment":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","deployed":false,"active":false,"locked":false,"deleted_at":null,"created_at":"2021-12-22T03:08:14Z"}],"paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4991"
      Fastly-Ratelimit-Reset:
      - "1640145600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
