---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_DictionaryItems&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_DictionaryItems
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_DictionaryItems","type":"vcl","publish_key":"","paused":false,"updated_at":"2023-11-27T14:27:10Z","created_at":"2023-11-27T14:27:10Z","versions":[{"staging":false,"testing":false,"number":1,"created_at":"2023-11-27T14:27:10Z","deleted_at":null,"active":false,"service_id":"yk2nYOFJTCTWZAr2L3HZz2","deployed":false,"comment":"","updated_at":"2023-11-27T14:27:10Z","locked":false}],"id":"yk2nYOFJTCTWZAr2L3HZz2","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9991"
      Fastly-Ratelimit-Reset:
      - "1701097200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
