---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_DictionaryItems&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_DictionaryItems
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_DictionaryItems","type":"vcl","id":"0hSVcwLyhP24GhIMGcOqlw","created_at":"2021-11-03T16:13:53Z","updated_at":"2021-11-03T16:13:53Z","publish_key":"","versions":[{"locked":false,"deleted_at":null,"service_id":"0hSVcwLyhP24GhIMGcOqlw","number":1,"testing":false,"active":false,"created_at":"2021-11-03T16:13:53Z","updated_at":"2021-11-03T16:13:53Z","comment":"","staging":false,"deployed":false}],"paused":false,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4989"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
