---
version: 1
rwmutex: {}
interactions:
- request:
    body: Dictionary=2qpiTjYtwgTuLyB2N6vFAq&Service=17Cozi1mqUCWuTgyYvipeW&item_key=test-dictionary-item&item_value=value
    form:
      Dictionary:
      - 2qpiTjYtwgTuLyB2N6vFAq
      Service:
      - 17Cozi1mqUCWuTgyYvipeW
      item_key:
      - test-dictionary-item
      item_value:
      - value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/17Cozi1mqUCWuTgyYvipeW/dictionary/2qpiTjYtwgTuLyB2N6vFAq/item
    method: POST
  response:
    body: '{"dictionary_id":"2qpiTjYtwgTuLyB2N6vFAq","service_id":"17Cozi1mqUCWuTgyYvipeW","item_key":"test-dictionary-item","item_value":"value","created_at":"2019-07-16T11:30:23Z","deleted_at":null,"updated_at":"2019-07-16T11:30:23Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "933"
      Fastly-Ratelimit-Reset:
      - "1563278400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
