---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_DictionaryItems&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_DictionaryItems
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_DictionaryItems","type":"vcl","updated_at":"2023-11-28T14:45:13Z","paused":false,"publish_key":"","id":"EXmb9qO9J34QFgYMSz0XE1","versions":[{"service_id":"EXmb9qO9J34QFgYMSz0XE1","locked":false,"updated_at":"2023-11-28T14:45:13Z","created_at":"2023-11-28T14:45:13Z","number":1,"testing":false,"staging":false,"comment":"","deployed":false,"active":false,"deleted_at":null}],"created_at":"2023-11-28T14:45:13Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9944"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
