---
version: 1
interactions:
- request:
    body: item_key=test-dictionary-item&item_value=value
    form:
      item_key:
      - test-dictionary-item
      item_value:
      - value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/EXmb9qO9J34QFgYMSz0XE1/dictionary/xyHHO0G3S3ZREo49Us7kg5/item
    method: POST
  response:
    body: '{"dictionary_id":"xyHHO0G3S3ZREo49Us7kg5","service_id":"EXmb9qO9J34QFgYMSz0XE1","item_key":"test-dictionary-item","item_value":"value","created_at":"2023-11-28T14:45:13Z","updated_at":"2023-11-28T14:45:13Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9941"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
