---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_DictionaryItems&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_DictionaryItems
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_DictionaryItems","type":"vcl","id":"2Sz0CwKi5NYXurcMQ1SHPo","publish_key":"","deleted_at":null,"updated_at":"2021-01-14T10:24:05Z","created_at":"2021-01-14T10:24:05Z","versions":[{"staging":false,"locked":false,"comment":"","number":1,"created_at":"2021-01-14T10:24:05Z","service_id":"2Sz0CwKi5NYXurcMQ1SHPo","active":false,"testing":false,"deployed":false,"updated_at":"2021-01-14T10:24:05Z","deleted_at":null}],"paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "938"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
