---
version: 1
interactions:
- request:
    body: item_key=test-dictionary-item&item_value=value
    form:
      item_key:
      - test-dictionary-item
      item_value:
      - value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/wWk77J9iaMechwsNTOtgK0/dictionary/eACR5nyI2vco5NC9LXdMi1/item
    method: POST
  response:
    body: '{"dictionary_id":"eACR5nyI2vco5NC9LXdMi1","service_id":"wWk77J9iaMechwsNTOtgK0","item_key":"test-dictionary-item","item_value":"value","updated_at":"2023-11-28T13:49:45Z","created_at":"2023-11-28T13:49:45Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9988"
      Fastly-Ratelimit-Reset:
      - "1701180000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
