---
version: 1
interactions:
- request:
    body: DictionaryID=70Xeh5hM2FIvR5UG41Ay62&ServiceID=7i6HN3TK9wS159v2gPAZ8A&item_key=test-dictionary-item&item_value=value
    form:
      DictionaryID:
      - 70Xeh5hM2FIvR5UG41Ay62
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      item_key:
      - test-dictionary-item
      item_value:
      - value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/dictionary/70Xeh5hM2FIvR5UG41Ay62/item
    method: POST
  response:
    body: '{"dictionary_id":"70Xeh5hM2FIvR5UG41Ay62","service_id":"7i6HN3TK9wS159v2gPAZ8A","item_key":"test-dictionary-item","item_value":"value","deleted_at":null,"created_at":"2021-12-22T03:08:15Z","updated_at":"2021-12-22T03:08:15Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4988"
      Fastly-Ratelimit-Reset:
      - "1640145600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
