---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_DictionaryItems&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_DictionaryItems
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_DictionaryItems","type":"vcl","deleted_at":null,"publish_key":"","updated_at":"2023-11-28T13:49:44Z","created_at":"2023-11-28T13:49:44Z","id":"wWk77J9iaMechwsNTOtgK0","versions":[{"staging":false,"updated_at":"2023-11-28T13:49:44Z","number":1,"deleted_at":null,"deployed":false,"locked":false,"service_id":"wWk77J9iaMechwsNTOtgK0","active":false,"comment":"","testing":false,"created_at":"2023-11-28T13:49:44Z"}],"paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9991"
      Fastly-Ratelimit-Reset:
      - "1701180000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
