---
version: 1
interactions:
- request:
    body: DictionaryID=2WbI2tm1K7r1j6zNhrnDDp&ServiceID=2Sz0CwKi5NYXurcMQ1SHPo&item_key=test-dictionary-item&item_value=value
    form:
      DictionaryID:
      - 2WbI2tm1K7r1j6zNhrnDDp
      ServiceID:
      - 2Sz0CwKi5NYXurcMQ1SHPo
      item_key:
      - test-dictionary-item
      item_value:
      - value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2Sz0CwKi5NYXurcMQ1SHPo/dictionary/2WbI2tm1K7r1j6zNhrnDDp/item
    method: POST
  response:
    body: '{"dictionary_id":"2WbI2tm1K7r1j6zNhrnDDp","service_id":"2Sz0CwKi5NYXurcMQ1SHPo","item_key":"test-dictionary-item","item_value":"value","deleted_at":null,"updated_at":"2021-01-14T10:24:05Z","created_at":"2021-01-14T10:24:05Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "935"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
