---
version: 1
interactions:
- request:
    body: ServiceID=2Sz0CwKi5NYXurcMQ1SHPo&ServiceVersion=2&name=test_dictionary_DictionaryItems
    form:
      ServiceID:
      - 2Sz0CwKi5NYXurcMQ1SHPo
      ServiceVersion:
      - "2"
      name:
      - test_dictionary_DictionaryItems
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2Sz0CwKi5NYXurcMQ1SHPo/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_DictionaryItems","service_id":"2Sz0CwKi5NYXurcMQ1SHPo","version":2,"created_at":"2021-01-14T10:24:05Z","write_only":false,"deleted_at":null,"id":"2WbI2tm1K7r1j6zNhrnDDp","updated_at":"2021-01-14T10:24:05Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "936"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
