---
version: 1
interactions:
- request:
    body: name=test_dictionary_DictionaryItems
    form:
      name:
      - test_dictionary_DictionaryItems
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/EXmb9qO9J34QFgYMSz0XE1/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_DictionaryItems","service_id":"EXmb9qO9J34QFgYMSz0XE1","version":2,"created_at":"2023-11-28T14:45:13Z","deleted_at":null,"updated_at":"2023-11-28T14:45:13Z","id":"xyHHO0G3S3ZREo49Us7kg5","write_only":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9942"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
