---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=17Cozi1mqUCWuTgyYvipeW&Version=2&name=test_dictionary_DictionaryItems
    form:
      Service:
      - 17Cozi1mqUCWuTgyYvipeW
      Version:
      - "2"
      name:
      - test_dictionary_DictionaryItems
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/17Cozi1mqUCWuTgyYvipeW/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_DictionaryItems","service_id":"17Cozi1mqUCWuTgyYvipeW","version":2,"deleted_at":null,"id":"2qpiTjYtwgTuLyB2N6vFAq","write_only":false,"updated_at":"2019-07-16T11:30:23Z","created_at":"2019-07-16T11:30:23Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "934"
      Fastly-Ratelimit-Reset:
      - "1563278400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
