---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=683&name=test_dictionary
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "683"
      name:
      - test_dictionary
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/683/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":683,"created_at":"2017-07-20T01:15:08+00:00","deleted_at":null,"id":"6mJXuCi2Mf19uHRefZJZBg","updated_at":"2017-07-20T01:15:08+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "925"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
