---
version: 1
interactions:
- request:
    body: name=test_dictionary_DictionaryItems
    form:
      name:
      - test_dictionary_DictionaryItems
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/wWk77J9iaMechwsNTOtgK0/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_DictionaryItems","service_id":"wWk77J9iaMechwsNTOtgK0","version":2,"updated_at":"2023-11-28T13:49:45Z","write_only":false,"id":"eACR5nyI2vco5NC9LXdMi1","created_at":"2023-11-28T13:49:45Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9989"
      Fastly-Ratelimit-Reset:
      - "1701180000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
