---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=2&name=test_dictionary_DictionaryItems
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "2"
      name:
      - test_dictionary_DictionaryItems
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_DictionaryItems","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":2,"write_only":false,"updated_at":"2021-12-22T03:08:15Z","deleted_at":null,"id":"70Xeh5hM2FIvR5UG41Ay62","created_at":"2021-12-22T03:08:15Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4989"
      Fastly-Ratelimit-Reset:
      - "1640145600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
