---
version: 1
interactions:
- request:
    body: ServiceID=0hSVcwLyhP24GhIMGcOqlw&ServiceVersion=2&name=test_dictionary_DictionaryItems
    form:
      ServiceID:
      - 0hSVcwLyhP24GhIMGcOqlw
      ServiceVersion:
      - "2"
      name:
      - test_dictionary_DictionaryItems
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/0hSVcwLyhP24GhIMGcOqlw/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_DictionaryItems","service_id":"0hSVcwLyhP24GhIMGcOqlw","version":2,"deleted_at":null,"updated_at":"2021-11-03T16:13:54Z","id":"3pTsXixukWxd2SGBzWnpxK","write_only":false,"created_at":"2021-11-03T16:13:54Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4987"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
