---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/dictionary/2PSSfhzn58nbURuobYGT3I/item/test-dictionary-item
    method: GET
  response:
    body: '{"updated_at":"2019-05-08T22:01:02Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"item_value":"value","dictionary_id":"2PSSfhzn58nbURuobYGT3I","item_key":"test-dictionary-item","created_at":"2019-05-08T22:01:02Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
