---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/yk2nYOFJTCTWZAr2L3HZz2/dictionary/CCdCpVmAr99NUl9ZGHPc03/item/test-dictionary-item
    method: GET
  response:
    body: '{"updated_at":"2023-11-27T14:27:11Z","dictionary_id":"CCdCpVmAr99NUl9ZGHPc03","deleted_at":null,"item_key":"test-dictionary-item","service_id":"yk2nYOFJTCTWZAr2L3HZz2","created_at":"2023-11-27T14:27:11Z","item_value":"value"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
