---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/2Sz0CwKi5NYXurcMQ1SHPo/dictionary/2WbI2tm1K7r1j6zNhrnDDp/item/test-dictionary-item
    method: GET
  response:
    body: '{"updated_at":"2021-01-14T10:24:05Z","item_value":"value","created_at":"2021-01-14T10:24:05Z","dictionary_id":"2WbI2tm1K7r1j6zNhrnDDp","service_id":"2Sz0CwKi5NYXurcMQ1SHPo","deleted_at":null,"item_key":"test-dictionary-item"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
