---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/0hSVcwLyhP24GhIMGcOqlw/dictionary/3pTsXixukWxd2SGBzWnpxK/item/test-dictionary-item
    method: GET
  response:
    body: '{"dictionary_id":"3pTsXixukWxd2SGBzWnpxK","service_id":"0hSVcwLyhP24GhIMGcOqlw","deleted_at":null,"item_key":"test-dictionary-item","created_at":"2021-11-03T16:13:54Z","updated_at":"2021-11-03T16:13:54Z","item_value":"value"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
