---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/yk2nYOFJTCTWZAr2L3HZz2/dictionary/CCdCpVmAr99NUl9ZGHPc03/items?direction=ascend&page=1&per_page=50&sort=item_key
    method: GET
  response:
    body: '[{"updated_at":"2023-11-27T14:27:11Z","dictionary_id":"CCdCpVmAr99NUl9ZGHPc03","deleted_at":null,"service_id":"yk2nYOFJTCTWZAr2L3HZz2","item_key":"test-dictionary-item","created_at":"2023-11-27T14:27:11Z","item_value":"value"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
