---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/dictionary/70Xeh5hM2FIvR5UG41Ay62/items
    method: GET
  response:
    body: '[{"service_id":"7i6HN3TK9wS159v2gPAZ8A","item_key":"test-dictionary-item","item_value":"value","updated_at":"2021-12-22T03:08:15Z","created_at":"2021-12-22T03:08:15Z","dictionary_id":"70Xeh5hM2FIvR5UG41Ay62","deleted_at":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
