---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/2Sz0CwKi5NYXurcMQ1SHPo/dictionary/2WbI2tm1K7r1j6zNhrnDDp/items
    method: GET
  response:
    body: '[{"deleted_at":null,"item_key":"test-dictionary-item","service_id":"2Sz0CwKi5NYXurcMQ1SHPo","created_at":"2021-01-14T10:24:05Z","dictionary_id":"2WbI2tm1K7r1j6zNhrnDDp","updated_at":"2021-01-14T10:24:05Z","item_value":"value"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
