---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/EXmb9qO9J34QFgYMSz0XE1/dictionary/xyHHO0G3S3ZREo49Us7kg5/items?direction=ascend&page=1&per_page=50&sort=item_key
    method: GET
  response:
    body: '[{"created_at":"2023-11-28T14:45:13Z","deleted_at":null,"dictionary_id":"xyHHO0G3S3ZREo49Us7kg5","updated_at":"2023-11-28T14:45:13Z","service_id":"EXmb9qO9J34QFgYMSz0XE1","item_key":"test-dictionary-item","item_value":"value"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
