---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/wWk77J9iaMechwsNTOtgK0/dictionary/eACR5nyI2vco5NC9LXdMi1/items?direction=ascend&page=1&per_page=50&sort=item_key
    method: GET
  response:
    body: '[{"service_id":"wWk77J9iaMechwsNTOtgK0","item_key":"test-dictionary-item","updated_at":"2023-11-28T13:49:45Z","item_value":"value","created_at":"2023-11-28T13:49:45Z","dictionary_id":"eACR5nyI2vco5NC9LXdMi1","deleted_at":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
