---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/dictionary/6mJXuCi2Mf19uHRefZJZBg/items
    method: GET
  response:
    body: '[{"created_at":"2017-07-20T01:15:08+00:00","dictionary_id":"6mJXuCi2Mf19uHRefZJZBg","item_key":"test-dictionary-item","item_value":"value","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2017-07-20T01:15:08+00:00"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
