---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/wWk77J9iaMechwsNTOtgK0/dictionary/eACR5nyI2vco5NC9LXdMi1/items?page=1&per_page=100
    method: GET
  response:
    body: '[{"created_at":"2023-11-28T13:49:45Z","updated_at":"2023-11-28T13:49:45Z","deleted_at":null,"dictionary_id":"eACR5nyI2vco5NC9LXdMi1","item_value":"value","item_key":"test-dictionary-item","service_id":"wWk77J9iaMechwsNTOtgK0"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
