---
version: 1
interactions:
- request:
    body: DictionaryID=2WbI2tm1K7r1j6zNhrnDDp&ItemKey=test-dictionary-item&ServiceID=2Sz0CwKi5NYXurcMQ1SHPo&item_value=new-value
    form:
      DictionaryID:
      - 2WbI2tm1K7r1j6zNhrnDDp
      ItemKey:
      - test-dictionary-item
      ServiceID:
      - 2Sz0CwKi5NYXurcMQ1SHPo
      item_value:
      - new-value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2Sz0CwKi5NYXurcMQ1SHPo/dictionary/2WbI2tm1K7r1j6zNhrnDDp/item/test-dictionary-item
    method: PUT
  response:
    body: '{"dictionary_id":"2WbI2tm1K7r1j6zNhrnDDp","service_id":"2Sz0CwKi5NYXurcMQ1SHPo","item_key":"test-dictionary-item","item_value":"new-value"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "934"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
