---
version: 1
interactions:
- request:
    body: DictionaryID=CCdCpVmAr99NUl9ZGHPc03&ItemKey=test-dictionary-item&ServiceID=yk2nYOFJTCTWZAr2L3HZz2&item_value=new-value
    form:
      DictionaryID:
      - CCdCpVmAr99NUl9ZGHPc03
      ItemKey:
      - test-dictionary-item
      ServiceID:
      - yk2nYOFJTCTWZAr2L3HZz2
      item_value:
      - new-value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/yk2nYOFJTCTWZAr2L3HZz2/dictionary/CCdCpVmAr99NUl9ZGHPc03/item/test-dictionary-item
    method: PUT
  response:
    body: '{"dictionary_id":"CCdCpVmAr99NUl9ZGHPc03","service_id":"yk2nYOFJTCTWZAr2L3HZz2","item_key":"test-dictionary-item","item_value":"new-value"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9987"
      Fastly-Ratelimit-Reset:
      - "1701097200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
