---
version: 1
interactions:
- request:
    body: DictionaryID=3pTsXixukWxd2SGBzWnpxK&ItemKey=test-dictionary-item&ServiceID=0hSVcwLyhP24GhIMGcOqlw&item_value=new-value
    form:
      DictionaryID:
      - 3pTsXixukWxd2SGBzWnpxK
      ItemKey:
      - test-dictionary-item
      ServiceID:
      - 0hSVcwLyhP24GhIMGcOqlw
      item_value:
      - new-value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/0hSVcwLyhP24GhIMGcOqlw/dictionary/3pTsXixukWxd2SGBzWnpxK/item/test-dictionary-item
    method: PUT
  response:
    body: '{"dictionary_id":"3pTsXixukWxd2SGBzWnpxK","service_id":"0hSVcwLyhP24GhIMGcOqlw","item_key":"test-dictionary-item","item_value":"new-value"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4985"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
