---
version: 1
interactions:
- request:
    body: DictionaryID=xyHHO0G3S3ZREo49Us7kg5&ItemKey=test-dictionary-item&ServiceID=EXmb9qO9J34QFgYMSz0XE1&item_value=new-value
    form:
      DictionaryID:
      - xyHHO0G3S3ZREo49Us7kg5
      ItemKey:
      - test-dictionary-item
      ServiceID:
      - EXmb9qO9J34QFgYMSz0XE1
      item_value:
      - new-value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/EXmb9qO9J34QFgYMSz0XE1/dictionary/xyHHO0G3S3ZREo49Us7kg5/item/test-dictionary-item
    method: PUT
  response:
    body: '{"dictionary_id":"xyHHO0G3S3ZREo49Us7kg5","service_id":"EXmb9qO9J34QFgYMSz0XE1","item_key":"test-dictionary-item","item_value":"new-value"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9940"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
