---
version: 1
rwmutex: {}
interactions:
- request:
    body: Dictionary=6mJXuCi2Mf19uHRefZJZBg&ItemKey=test-dictionary-item&Service=7i6HN3TK9wS159v2gPAZ8A&item_value=new-value
    form:
      Dictionary:
      - 6mJXuCi2Mf19uHRefZJZBg
      ItemKey:
      - test-dictionary-item
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      item_value:
      - new-value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/dictionary/6mJXuCi2Mf19uHRefZJZBg/item/test-dictionary-item
    method: PUT
  response:
    body: '{"dictionary_id":"6mJXuCi2Mf19uHRefZJZBg","service_id":"7i6HN3TK9wS159v2gPAZ8A","item_key":"test-dictionary-item","item_value":"new-value"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "911"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
