---
version: 1
interactions:
- request:
    body: DictionaryID=eACR5nyI2vco5NC9LXdMi1&ItemKey=test-dictionary-item&ServiceID=wWk77J9iaMechwsNTOtgK0&item_value=new-value
    form:
      DictionaryID:
      - eACR5nyI2vco5NC9LXdMi1
      ItemKey:
      - test-dictionary-item
      ServiceID:
      - wWk77J9iaMechwsNTOtgK0
      item_value:
      - new-value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/wWk77J9iaMechwsNTOtgK0/dictionary/eACR5nyI2vco5NC9LXdMi1/item/test-dictionary-item
    method: PUT
  response:
    body: '{"dictionary_id":"eACR5nyI2vco5NC9LXdMi1","service_id":"wWk77J9iaMechwsNTOtgK0","item_key":"test-dictionary-item","item_value":"new-value"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9987"
      Fastly-Ratelimit-Reset:
      - "1701180000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
