---
version: 1
interactions:
- request:
    body: format=format&name=test-loggly&placement=waf_debug&token=abcd1234
    form:
      format:
      - format
      name:
      - test-loggly
      placement:
      - waf_debug
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/37/logging/loggly
    method: POST
  response:
    body: '{"format":"format","name":"test-loggly","placement":"waf_debug","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"37","updated_at":"2022-11-04T10:32:22Z","deleted_at":null,"created_at":"2022-11-04T10:32:22Z","public_key":null,"response_condition":"","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9998"
      Fastly-Ratelimit-Reset:
      - "1667559600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
