---
version: 1
interactions:
- request:
    body: format=format&name=test-loggly&placement=none&token=abcd1234
    form:
      format:
      - format
      name:
      - test-loggly
      placement:
      - none
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/158/logging/loggly
    method: POST
  response:
    body: '{"format":"format","name":"test-loggly","placement":"none","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"158","created_at":"2026-07-23T19:28:41Z","public_key":null,"response_condition":"","deleted_at":null,"updated_at":"2026-07-23T19:28:41Z","format_version":"2","log_processing_region":"none"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9906"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
