---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=122&format=format&name=test-loggly&placement=waf_debug&token=abcd1234
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "122"
      format:
      - format
      name:
      - test-loggly
      placement:
      - waf_debug
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/122/logging/loggly
    method: POST
  response:
    body: '{"format":"format","name":"test-loggly","placement":"waf_debug","token":"abcd1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"122","public_key":null,"response_condition":"","deleted_at":null,"updated_at":"2020-05-08T11:35:53Z","created_at":"2020-05-08T11:35:53Z","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "915"
      Fastly-Ratelimit-Reset:
      - "1588939200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
