---
version: 1
interactions:
- request:
    body: format=format&name=test-loggly&placement=waf_debug&token=abcd1234
    form:
      format:
      - format
      name:
      - test-loggly
      placement:
      - waf_debug
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/120/logging/loggly
    method: POST
  response:
    body: '{"format":"format","name":"test-loggly","placement":"waf_debug","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"120","response_condition":"","log_processing_region":"none","public_key":null,"deleted_at":null,"created_at":"2025-06-04T15:20:20Z","format_version":"2","updated_at":"2025-06-04T15:20:20Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9878"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
