---
version: 1
interactions:
- request:
    body: ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=76&format=format&name=test-loggly&placement=waf_debug&token=abcd1234
    form:
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "76"
      format:
      - format
      name:
      - test-loggly
      placement:
      - waf_debug
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/76/logging/loggly
    method: POST
  response:
    body: '{"format":"format","name":"test-loggly","placement":"waf_debug","token":"abcd1234","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":"76","public_key":null,"format_version":"2","response_condition":"","created_at":"2021-11-03T16:57:58Z","updated_at":"2021-11-03T16:57:58Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4809"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
