---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/158/logging/loggly/test-loggly
    method: GET
  response:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1","log_processing_region":"none","placement":"none","format":"format","response_condition":"","public_key":null,"deleted_at":null,"token":"abcd1234","created_at":"2026-07-23T19:28:41Z","name":"test-loggly","format_version":"2","version":"158","updated_at":"2026-07-23T19:28:41Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
