---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/37/logging/loggly/test-loggly
    method: GET
  response:
    body: '{"version":"37","name":"test-loggly","format_version":"2","placement":"waf_debug","response_condition":"","format":"format","public_key":null,"token":"abcd1234","updated_at":"2022-11-04T10:32:22Z","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2022-11-04T10:32:22Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
