---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/120/logging/loggly/test-loggly
    method: GET
  response:
    body: '{"created_at":"2025-06-04T15:20:20Z","format_version":"2","response_condition":"","format":"format","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2025-06-04T15:20:20Z","name":"test-loggly","token":"abcd1234","log_processing_region":"none","version":"120","public_key":null,"deleted_at":null,"placement":"waf_debug"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
