---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/20/logging/loggly/test-loggly
    method: GET
  response:
    body: '{"updated_at":"2025-02-28T21:33:59Z","version":"20","service_id":"kKJb5bOFI47uHeBVluGfX1","response_condition":"","placement":null,"name":"test-loggly","format":"format","created_at":"2025-02-28T21:33:59Z","format_version":"2","token":"abcd1234","public_key":null,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
