---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/76/logging/loggly/test-loggly
    method: GET
  response:
    body: '{"updated_at":"2021-11-03T16:57:58Z","placement":"waf_debug","format":"format","name":"test-loggly","created_at":"2021-11-03T16:57:58Z","token":"abcd1234","response_condition":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"2","deleted_at":null,"public_key":null,"version":"76"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
