---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/122/logging/loggly/test-loggly
    method: GET
  response:
    body: '{"public_key":null,"placement":"waf_debug","created_at":"2020-05-08T11:35:53Z","format":"format","version":"122","format_version":"2","deleted_at":null,"name":"test-loggly","token":"abcd1234","response_condition":"","updated_at":"2020-05-08T11:35:53Z","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
