---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/158/logging/loggly
    method: GET
  response:
    body: '[{"log_processing_region":"none","created_at":"2026-07-23T19:28:41Z","format_version":"2","placement":"none","deleted_at":null,"public_key":null,"updated_at":"2026-07-23T19:28:41Z","format":"format","response_condition":"","version":"158","name":"test-loggly","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
