---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/37/logging/loggly
    method: GET
  response:
    body: '[{"name":"test-loggly","created_at":"2022-11-04T10:32:22Z","public_key":null,"version":"37","deleted_at":null,"response_condition":"","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2022-11-04T10:32:22Z","placement":"waf_debug","format_version":"2","format":"format"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
