---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/51/logging/loggly
    method: GET
  response:
    body: '[{"public_key":null,"updated_at":"2021-01-14T10:44:16Z","name":"test-loggly","token":"abcd1234","created_at":"2021-01-14T10:44:16Z","response_condition":"","format":"format","placement":"waf_debug","version":"51","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
