---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/122/logging/loggly
    method: GET
  response:
    body: '[{"deleted_at":null,"response_condition":"","public_key":null,"version":"122","format":"format","placement":"waf_debug","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2020-05-08T11:35:53Z","format_version":"2","created_at":"2020-05-08T11:35:53Z","name":"test-loggly","token":"abcd1234"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
