---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/76/logging/loggly
    method: GET
  response:
    body: '[{"service_id":"3QSsca5ilwNVpceZ2HJIAH","public_key":null,"format_version":"2","deleted_at":null,"version":"76","placement":"waf_debug","format":"format","updated_at":"2021-11-03T16:57:58Z","created_at":"2021-11-03T16:57:58Z","token":"abcd1234","name":"test-loggly","response_condition":""}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
