---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/20/logging/loggly
    method: GET
  response:
    body: '[{"updated_at":"2025-02-28T21:33:59Z","format":"format","token":"abcd1234","response_condition":"","name":"test-loggly","public_key":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2025-02-28T21:33:59Z","version":"20","deleted_at":null,"placement":null,"format_version":"2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
