---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/120/logging/loggly
    method: GET
  response:
    body: '[{"response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","placement":"waf_debug","updated_at":"2025-06-04T15:20:20Z","version":"120","log_processing_region":"none","public_key":null,"name":"test-loggly","created_at":"2025-06-04T15:20:20Z","token":"abcd1234","deleted_at":null,"format_version":"2","format":"format"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
