---
version: 1
interactions:
- request:
    body: format_version=2&log_processing_region=eu&name=new-test-loggly
    form:
      format_version:
      - "2"
      log_processing_region:
      - eu
      name:
      - new-test-loggly
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/120/logging/loggly/test-loggly
    method: PUT
  response:
    body: '{"placement":"waf_debug","deleted_at":null,"public_key":null,"version":"120","log_processing_region":"eu","token":"abcd1234","name":"new-test-loggly","updated_at":"2025-06-04T15:20:20Z","service_id":"kKJb5bOFI47uHeBVluGfX1","format":"format","response_condition":"","format_version":"2","created_at":"2025-06-04T15:20:20Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9877"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
