---
version: 1
interactions:
- request:
    body: Name=test-loggly&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=76&format_version=2&name=new-test-loggly
    form:
      Name:
      - test-loggly
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "76"
      format_version:
      - "2"
      name:
      - new-test-loggly
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/76/logging/loggly/test-loggly
    method: PUT
  response:
    body: '{"deleted_at":null,"version":"76","name":"new-test-loggly","public_key":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","response_condition":"","token":"abcd1234","updated_at":"2021-11-03T16:57:58Z","format_version":"2","created_at":"2021-11-03T16:57:58Z","format":"format","placement":"waf_debug"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4808"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
