---
version: 1
interactions:
- request:
    body: '{"format_version":2,"name":"new-test-loggly","placement":null,"log_processing_region":"eu"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/158/logging/loggly/test-loggly
    method: PUT
  response:
    body: '{"response_condition":"","updated_at":"2026-07-23T19:28:41Z","placement":null,"token":"abcd1234","format":"format","deleted_at":null,"format_version":"2","created_at":"2026-07-23T19:28:41Z","log_processing_region":"eu","name":"new-test-loggly","version":"158","public_key":null,"service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9896"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
