---
version: 1
interactions:
- request:
    body: Name=test-loggly&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=51&format_version=2&name=new-test-loggly
    form:
      Name:
      - test-loggly
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "51"
      format_version:
      - "2"
      name:
      - new-test-loggly
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/51/logging/loggly/test-loggly
    method: PUT
  response:
    body: '{"created_at":"2021-01-14T10:44:16Z","format":"format","response_condition":"","updated_at":"2021-01-14T10:44:16Z","format_version":"2","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"new-test-loggly","version":"51","token":"abcd1234","public_key":null,"placement":"waf_debug","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "671"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
