---
version: 1
interactions:
- request:
    body: Name=test-loggly&Service=7i6HN3TK9wS159v2gPAZ8A&Version=122&format_version=2&name=new-test-loggly
    form:
      Name:
      - test-loggly
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "122"
      format_version:
      - "2"
      name:
      - new-test-loggly
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/122/logging/loggly/test-loggly
    method: PUT
  response:
    body: '{"public_key":null,"format_version":"2","placement":"waf_debug","token":"abcd1234","format":"format","created_at":"2020-05-08T11:35:53Z","updated_at":"2020-05-08T11:35:53Z","version":"122","response_condition":"","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"new-test-loggly"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "914"
      Fastly-Ratelimit-Reset:
      - "1588939200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
