---
version: 1
interactions:
- request:
    body: format_version=2&name=new-test-loggly
    form:
      format_version:
      - "2"
      name:
      - new-test-loggly
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/37/logging/loggly/test-loggly
    method: PUT
  response:
    body: '{"public_key":null,"token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2022-11-04T10:32:22Z","deleted_at":null,"created_at":"2022-11-04T10:32:22Z","placement":"waf_debug","response_condition":"","format":"format","version":"37","name":"new-test-loggly","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1667559600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
