---
version: 1
interactions:
- request:
    body: format_version=2&name=new-test-loggly
    form:
      format_version:
      - "2"
      name:
      - new-test-loggly
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/20/logging/loggly/test-loggly
    method: PUT
  response:
    body: '{"public_key":null,"format_version":"2","format":"format","placement":null,"version":"20","created_at":"2025-02-28T21:33:59Z","updated_at":"2025-02-28T21:33:59Z","deleted_at":null,"response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","token":"abcd1234","name":"new-test-loggly"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9878"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
