---
version: 1
interactions:
- request:
    body: '{"name":"!!vp-workspace","description":"vp-workspace","mode":"block"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces
    method: POST
  response:
    body: |
      {"id":"Hubznd8IQBqyHVK9YC0lwm","name":"!!vp-workspace","description":"vp-workspace","mode":"block","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":null,"default_blocking_response_code":406,"client_ip_headers":[],"created_at":"2025-05-29T15:22:09Z","updated_at":"2025-05-29T15:22:09.788761061Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
