---
version: 1
interactions:
- request:
    body: '{"Context":null,"Enabled":true,"Mode":"block","VirtualPatchID":"CVE-2017-5638","WorkspaceID":"Hubznd8IQBqyHVK9YC0lwm"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Hubznd8IQBqyHVK9YC0lwm/virtual-patches/CVE-2017-5638
    method: PATCH
  response:
    body: |
      {"id":"CVE-2017-5638","description":"Apache Struts multipart/form remote execution","enabled":true,"mode":"block"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
