---
version: 1
interactions:
- request:
    body: '{"Context":null,"Enabled":false,"Mode":"log","VirtualPatchID":"CVE-2017-5638","WorkspaceID":"bUaP7PHIeqJHISoFBFSuag"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/bUaP7PHIeqJHISoFBFSuag/virtual-patches/CVE-2017-5638
    method: PATCH
  response:
    body: |
      {"id":"CVE-2017-5638","description":"Apache Struts multipart/form remote execution","enabled":false,"mode":"log"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
