---
version: 1
interactions:
- request:
    body: '{"enabled":true,"mode":"block"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/virtual-patches/CVE-2017-5638
    method: PATCH
  response:
    body: |
      {"id":"CVE-2017-5638","description":"Apache Struts multipart/form remote execution","enabled":true,"mode":"block"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
