---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/115/logging/heroku/test-heroku
    method: GET
  response:
    body: '{"created_at":"2026-07-23T19:39:38Z","log_processing_region":"none","url":"https://1.us.logplex.io/logs","name":"test-heroku","token":"super-secure-token","format":"%h
      %l %u %t \"%r\" %\u003es %b","updated_at":"2026-07-23T19:39:38Z","response_condition":"","deleted_at":null,"format_version":"2","service_id":"XsjdElScZGjmfCcTwsYRC1","placement":"none","version":"115"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
