---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/21/logging/heroku/test-heroku
    method: GET
  response:
    body: '{"service_id":"XsjdElScZGjmfCcTwsYRC1","created_at":"2025-09-02T17:09:59Z","response_condition":"","url":"https://1.us.logplex.io/logs","deleted_at":null,"updated_at":"2025-09-02T17:09:59Z","placement":"none","token":"super-secure-token","format_version":"2","log_processing_region":"none","name":"test-heroku","version":"21","format":"%h
      %l %u %t \"%r\" %\u003es %b"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
