---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/21/logging/heroku
    method: GET
  response:
    body: '[{"placement":"none","name":"test-heroku","version":"21","log_processing_region":"none","deleted_at":null,"response_condition":"","url":"https://1.us.logplex.io/logs","format":"%h
      %l %u %t \"%r\" %\u003es %b","created_at":"2025-09-02T17:09:59Z","token":"super-secure-token","updated_at":"2025-09-02T17:09:59Z","service_id":"XsjdElScZGjmfCcTwsYRC1","format_version":"2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
