---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/115/logging/heroku
    method: GET
  response:
    body: '[{"format_version":"2","placement":"none","created_at":"2026-07-23T19:39:38Z","version":"115","deleted_at":null,"name":"test-heroku","response_condition":"","format":"%h
      %l %u %t \"%r\" %\u003es %b","service_id":"XsjdElScZGjmfCcTwsYRC1","updated_at":"2026-07-23T19:39:38Z","url":"https://1.us.logplex.io/logs","token":"super-secure-token","log_processing_region":"none"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
