---
version: 1
interactions:
- request:
    body: '{"name":"new-test-heroku","placement":"none","log_processing_region":"eu","token":"new-token"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/115/logging/heroku/test-heroku
    method: PUT
  response:
    body: '{"format_version":"2","token":"new-token","updated_at":"2026-07-23T19:39:38Z","format":"%h
      %l %u %t \"%r\" %\u003es %b","log_processing_region":"eu","version":"115","placement":"none","response_condition":"","deleted_at":null,"name":"new-test-heroku","service_id":"XsjdElScZGjmfCcTwsYRC1","url":"https://1.us.logplex.io/logs","created_at":"2026-07-23T19:39:38Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9391"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
