---
version: 1
interactions:
- request:
    body: log_processing_region=eu&name=new-test-heroku&token=new-token
    form:
      log_processing_region:
      - eu
      name:
      - new-test-heroku
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/21/logging/heroku/test-heroku
    method: PUT
  response:
    body: '{"name":"new-test-heroku","token":"new-token","log_processing_region":"eu","created_at":"2025-09-02T17:09:59Z","format":"%h
      %l %u %t \"%r\" %\u003es %b","response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","placement":"none","url":"https://1.us.logplex.io/logs","updated_at":"2025-09-02T17:09:59Z","version":"21","format_version":"2","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9963"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
