---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/acls/twgcU5NNpY0GsVfsCav4o6/entries?limit=1
    method: GET
  response:
    body: '{"entries":[{"prefix":"1.2.3.0/24","action":"BLOCK"}],"meta":{"next_cursor":"LDE=","limit":1}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/acls/twgcU5NNpY0GsVfsCav4o6/entry/1.2.3.0
    method: GET
  response:
    body: '{"prefix":"1.2.3.0/24","action":"BLOCK"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/acls/twgcU5NNpY0GsVfsCav4o6/entries?cursor=LDE%3D&limit=1
    method: GET
  response:
    body: '{"entries":[{"prefix":"1.2.3.4/32","action":"ALLOW"}],"meta":{"next_cursor":"Q2g5MGQyZGpWVFZPVG5CWk1FZHpWbVp6UTJGMk5HODJYMjUyTkY4d01EQXgsMA==","limit":1}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/acls/twgcU5NNpY0GsVfsCav4o6/entries?cursor=Q2g5MGQyZGpWVFZPVG5CWk1FZHpWbVp6UTJGMk5HODJYMjUyTkY4d01EQXgsMA%3D%3D&limit=1
    method: GET
  response:
    body: '{"entries":[{"prefix":"23.23.23.23/32","action":"ALLOW"}],"meta":{"next_cursor":"Q2g5MGQyZGpWVFZPVG5CWk1FZHpWbVp6UTJGMk5HODJYMjUyTkY4d01ERTMsMA==","limit":1}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/resources/acls/twgcU5NNpY0GsVfsCav4o6/entries?cursor=Q2g5MGQyZGpWVFZPVG5CWk1FZHpWbVp6UTJGMk5HODJYMjUyTkY4d01ERTMsMA%3D%3D&limit=1
    method: GET
  response:
    body: '{"entries":[{"prefix":"192.168.0.0/16","action":"BLOCK"}],"meta":{"limit":1}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
