---
version: 1
interactions:
- request:
    body: '{"ComputeACLID":"toqKhc0lcufDSAGiDUkzG5","entries":[{"prefix":"1.2.3.0/24","action":"BLOCK","op":"create"},{"prefix":"1.2.3.4/32","action":"ALLOW","op":"update"},{"prefix":"23.23.23.23/32","action":"ALLOW","op":"create"},{"prefix":"192.168.0.0/16","action":"BLOCK","op":"update"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/acls/toqKhc0lcufDSAGiDUkzG5/entries
    method: PATCH
  response:
    body: ""
    headers:
    status: 202 Accepted
    code: 202
    duration: ""
