---
version: 1
interactions:
- request:
    body: '{"is_expired":true}'
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/WI90k86caQU0u7frYeRgsP/events/6835c746dedf49b89d19db33
    method: PATCH
  response:
    body: |
      {"id":"6835c746dedf49b89d19db33","created_at":"2025-05-27T14:08:03Z","detected_at":"2025-05-27T14:08:06Z","source":"96.224.50.187","country":"US","remote_hostname":"pool-96-224-50-187.nycmny.fios.verizon.net","user_agents":["curl/8.7.1"],"action":"flagged","type":"attack","reasons":[{"signal_id":"CMDEXE","count":139}],"block_signals":null,"request_count":139,"blocked_request_count":0,"flagged_request_count":200,"window":60,"expires_at":"2025-05-27T18:42:47Z","is_expired":true,"sample_request":{"id":"c39aa440a65e4f37be93000000000001","timestamp":"2025-05-27T14:07:19Z","server_hostname":"ff3eb80ddda467d3d9fc2c6cbfb9fb95.com","server_name":"ff3eb80ddda467d3d9fc2c6cbfb9fb95.com","uri":"/","path":"/","user_agent":"curl/8.7.1","remote_ip":"96.224.50.187","remote_hostname":"pool-96-224-50-187.nycmny.fios.verizon.net","country":"US","method":"POST","protocol":"HTTP/1.1","tls_protocol":"","tls_cipher":"","scheme":"http","response_code":503,"response_size":19,"response_time":7,"agent_response_code":200,"request_headers":[{"name":"X-Sigsci-Client-Geo-City","value":"ossining"},{"name":"Accept","value":"*/*"},{"name":"X-Sigsci-Serviceid-Prod","value":"5bHVNvR3QwYBtF59iFkL72"},{"name":"X-Uat-Ip","value":"10.2.3.4"},{"name":"X-Sigsci-Edgemodule","value":"vcl 3.1.0"},{"name":"Fastly-Ff","value":"jjtNGp3COE7Cf2N9cZIJxo8uJocXdwD8AsyHr2Ir3HA=!EWR!cache-ewr-kewr1740056-EWR"},{"name":"Cdn-Loop","value":"Fastly"},{"name":"Content-Length","value":"22"},{"name":"Fastly-Client-Ip","value":"96.224.50.187"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"X-Timer","value":"S1748354840.954550,VS0"},{"name":"X-Sigsci-Client-Geo-Country-Code","value":"US"},{"name":"X-Sigsci-Requestid","value":"c39aa440a65e4f37be93000000000001"},{"name":"Host","value":"ff3eb80ddda467d3d9fc2c6cbfb9fb95.com"},{"name":"X-Varnish","value":"4019989678"},{"name":"User-Agent","value":"curl/8.7.1"}],"response_headers":[{"name":"Connection","value":"keep-alive"},{"name":"Content-Type","value":"text/plain"},{"name":"Date","value":"Tue, 27 May 2025 14:07:19 GMT"},{"name":"Transfer-Encoding","value":"chunked"},{"name":"X-Cache","value":"MISS"},{"name":"X-Cache-Hits","value":"0"},{"name":"X-Served-By","value":"cache-ewr-kewr1740053-EWR"}],"signals":[{"id":"CMDEXE","location":"POST","value":"bar31=;cat /etc/passwd","detector":"CmdExeRule"},{"id":"HTTP503","location":"","value":"503","detector":"HTTPErrorRule"}],"ja3":"","ja4":"","summation":{"attrs":{},"attacks":[]}}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
