---
version: 1
interactions:
- request:
    body: '{"config":{"webhook":"https://example.com/webhook"},"description":"This
      is a test alert.","events":["flag"],"type":"webhook"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/oIb247xKeTGgwPoVPA2PJ3/alerts
    method: POST
  response:
    body: |
      {"id":"686fe62520b5651f04d051c9","description":"This is a test alert.","type":"webhook","config":{"webhook":"https://example.com/webhook"},"events":["flag"],"created_at":"2025-07-10T16:11:17Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
