---
version: 1
interactions:
- request:
    body: '{"path":"/"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/58KAJISGW6aZ1doeRyIMQe/paths
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:03.314252574Z","id":"7Svtr9AFZOIMIzKwV5AHQI","links":{"rules":"/domain-management/v1/routing-configs/58KAJISGW6aZ1doeRyIMQe/paths/7Svtr9AFZOIMIzKwV5AHQI/rules","self":"/domain-management/v1/routing-configs/58KAJISGW6aZ1doeRyIMQe/paths/7Svtr9AFZOIMIzKwV5AHQI"},"path":"/"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
