---
version: 1
interactions:
- request:
    body: '{"name":"gofastly-sdk-testing-routing-config"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:03.115553375Z","id":"58KAJISGW6aZ1doeRyIMQe","links":{"paths":"/domain-management/v1/routing-configs/58KAJISGW6aZ1doeRyIMQe/paths","self":"/domain-management/v1/routing-configs/58KAJISGW6aZ1doeRyIMQe"},"name":"gofastly-sdk-testing-routing-config"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
