---
version: 1
interactions:
- request:
    body: '{"action":{"type":"service","value":"kKJb5bOFI47uHeBVluGfX1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/58KAJISGW6aZ1doeRyIMQe/paths/7Svtr9AFZOIMIzKwV5AHQI/rules
    method: POST
  response:
    body: |
      {"action":{"type":"service","value":"kKJb5bOFI47uHeBVluGfX1"},"conditions":[],"created_at":"2026-09-23T16:50:03.594146911Z","id":"1fxrHBLyQiqxxk5NPRimpa","is_default":true,"updated_at":"2026-09-23T16:50:03.594146911Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
