---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domain-management/v1/routing-configs/58KAJISGW6aZ1doeRyIMQe/deactivate
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:03Z","id":"58KAJISGW6aZ1doeRyIMQe","name":"gofastly-sdk-testing-routing-config","state":"draft-only","updated_at":"2026-09-23T16:50:03Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
