---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domain-management/v1/routing-configs?limit=10
    method: GET
  response:
    body: |
      {"data":[{"created_at":"2026-09-23T16:50:03Z","id":"4qRluWUwdw6ygY6tzd3EOr","links":{"paths":"/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr/paths","self":"/domain-management/v1/routing-configs/4qRluWUwdw6ygY6tzd3EOr"},"name":"gofastly-sdk-testing-draft-config","state":"draft-only"},{"created_at":"2026-09-23T16:50:03Z","id":"5vAluJJmMKxmAZLIVjVP6T","links":{"paths":"/domain-management/v1/routing-configs/5vAluJJmMKxmAZLIVjVP6T/paths","self":"/domain-management/v1/routing-configs/5vAluJJmMKxmAZLIVjVP6T"},"name":"gofastly-sdk-testing-paths-config","state":"draft-only"},{"created_at":"2026-09-23T16:50:03Z","id":"4Bc92NhJgh4i791VMVttE3","links":{"paths":"/domain-management/v1/routing-configs/4Bc92NhJgh4i791VMVttE3/paths","self":"/domain-management/v1/routing-configs/4Bc92NhJgh4i791VMVttE3"},"name":"gofastly-sdk-testing-rules-config","state":"draft-only"},{"created_at":"2026-09-23T16:50:03Z","id":"58KAJISGW6aZ1doeRyIMQe","links":{"paths":"/domain-management/v1/routing-configs/58KAJISGW6aZ1doeRyIMQe/paths","self":"/domain-management/v1/routing-configs/58KAJISGW6aZ1doeRyIMQe"},"name":"gofastly-sdk-testing-routing-config","state":"draft-only"}],"meta":{"limit":10,"sort":"-created_at"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
