---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
      url: https://api.fastly.com/domain-management/v1/tools/status?domain=domainr-testing.org&scope=estimate
      method: GET
    response:
      body: |
        {"scope":"estimate","domain":"domainr-testing.org","zone":"org","status":"marketed priced transferable active","tags":"generic","offers":[{"vendor":"am.godaddy.com","price":"25000.00","currency":"USD"}]}
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: ""
