---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret?name=TestClient_ListSecretStores-04
    method: GET
  response:
    body: |
      {
        "data": [
          {
            "id": "Kmi1SxIUxMc5Iagk4mMZPe",
            "name": "TestClient_ListSecretStores-04",
            "created_at": "2023-11-27T15:54:51Z"
          }
        ],
        "meta": {
          "limit": 10
        }
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - Iqogrs4eyyhpt0ieRXjvT4
    status: 200 OK
    code: 200
    duration: ""
