---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret?name=TestClient_ListSecretStores-02
    method: GET
  response:
    body: |
      {
        "data": [
          {
            "id": "6a1U7edUQlMux6qO6KFjlU",
            "name": "TestClient_ListSecretStores-02",
            "created_at": "2023-11-16T00:12:10Z"
          }
        ],
        "meta": {
          "limit": 10
        }
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - NkIYI16LRKxBhIfUHaWujy
    status: 200 OK
    code: 200
    duration: ""
