---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_exclusion","attributes":{"condition":"req.url.basename == \"index.asp\"","exclusion_type":"waf","name":"index asp","number":null}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/5mOnW9PxK7wPrCwcItgmY8/versions/1/exclusions
    method: POST
  response:
    body: '{"data":{"id":"2aSCXcRmYd1A3Yh52n1isb","type":"waf_exclusion","attributes":{"created_at":"2020-10-07T13:09:11Z","exclusion_type":"waf","condition":"req.url.basename
      == \"index.asp\"","name":"index asp","number":3,"updated_at":"2020-10-07T13:09:11Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
