---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/firewalls/5mOnW9PxK7wPrCwcItgmY8/versions/1/exclusions?filter%5Bexclusion_type%5D=rule&filter%5Bwaf_rules.modsec_rule_id%5D=1010070&include=waf_rules&page%5Bnumber%5D=1&page%5Bsize%5D=100
    method: GET
  response:
    body: '{"data":[{"id":"64CI57J6goELQDlxSOBJSB","type":"waf_exclusion","attributes":{"created_at":"2020-10-07T13:09:10Z","exclusion_type":"rule","condition":"req.url.basename
      == \"index.php\"","name":"index php","number":2,"updated_at":"2020-10-07T13:09:10Z"},"relationships":{"waf_rules":{"data":[{"id":"62NGF4KWy1v17yyV1vmPdb","type":"waf_rule"}]}}}],"included":[{"id":"62NGF4KWy1v17yyV1vmPdb","type":"waf_rule","attributes":{"modsec_rule_id":1010070,"publisher":"owasp","type":"threshold"}}],"links":{"last":"https://api.fastly.com/waf/firewalls/5mOnW9PxK7wPrCwcItgmY8/versions/1/exclusions?filter[exclusion_type]=rule\u0026filter[waf_rules.modsec_rule_id]=1010070\u0026include=waf_rules\u0026page[number]=1\u0026page[size]=100","first":"https://api.fastly.com/waf/firewalls/5mOnW9PxK7wPrCwcItgmY8/versions/1/exclusions?filter[exclusion_type]=rule\u0026filter[waf_rules.modsec_rule_id]=1010070\u0026include=waf_rules\u0026page[number]=1\u0026page[size]=100"},"meta":{"current_page":1,"per_page":100,"record_count":1,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
