---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/553/backend
    method: GET
  response:
    body: '[{"max_tls_version":null,"ssl_client_cert":null,"hostname":"integ-test.go-fastly.com","error_threshold":0,"first_byte_timeout":15000,"client_cert":null,"weight":100,"address":"integ-test.go-fastly.com","connect_timeout":1500,"ipv4":null,"ssl_ciphers":null,"name":"test-backend","port":1234,"between_bytes_timeout":10000,"ssl_client_key":null,"ssl_ca_cert":null,"auto_loadbalance":false,"ssl_check_cert":true,"shield":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","request_condition":"","ssl_cert_hostname":null,"ssl_hostname":null,"ssl_sni_hostname":null,"min_tls_version":null,"ipv6":null,"version":553,"healthcheck":null,"max_conn":200,"use_ssl":false,"comment":""}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
