---
version: 1
interactions:
- request:
    body: check_interval=2500&expected_response=200&host=example.com&http_version=1.1&initial=10&method=HEAD&name=test-healthcheck&path=%2Ffoo&threshold=10&timeout=1500&window=5000&headers=%5B"Foo:Bar","Baz:Qux"%5D
    form:
      check_interval:
      - "2500"
      expected_response:
      - "200"
      headers:
      - '["Foo:Bar","Baz:Qux"]'
      host:
      - example.com
      - "1.1"
      initial:
      - "10"
      method:
      - HEAD
      name:
      - test-healthcheck
      path:
      - /foo
      threshold:
      - "10"
      timeout:
      - "1500"
      window:
      - "5000"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/80/healthcheck
    method: POST
  response:
    body: '{"check_interval":2500,"expected_response":200,"host":"example.com","http_version":"1.1","initial":10,"method":"HEAD","name":"test-healthcheck","path":"/foo","threshold":10,"timeout":1500,"window":5000,"headers":["Baz:
      Qux","Foo: Bar"],"service_id":"kKJb5bOFI47uHeBVluGfX1","version":80,"comment":"","deleted_at":null,"updated_at":"2022-11-07T11:07:40Z","created_at":"2022-11-07T11:07:40Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9984"
      Fastly-Ratelimit-Reset:
      - "1667822400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
