---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=131&check_interval=2500&expected_response=200&host=example.com&http_version=1.1&initial=10&method=HEAD&name=test-healthcheck&path=%2Ffoo&threshold=10&timeout=1500&window=5000&headers=%5B"Foo:Bar","Baz:Qux"%5D
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "131"
      check_interval:
      - "2500"
      expected_response:
      - "200"
      headers:
      - '["Foo:Bar","Baz:Qux"]'
      host:
      - example.com
      - "1.1"
      initial:
      - "10"
      method:
      - HEAD
      name:
      - test-healthcheck
      path:
      - /foo
      threshold:
      - "10"
      timeout:
      - "1500"
      window:
      - "5000"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/131/healthcheck
    method: POST
  response:
    body: '{"check_interval":2500,"expected_response":200,"host":"example.com","http_version":"1.1","initial":10,"method":"HEAD","name":"test-healthcheck","path":"/foo","threshold":10,"timeout":1500,"window":5000,"headers":["Baz:
      Qux","Foo: Bar"],"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":131,"deleted_at":null,"updated_at":"2022-10-10T11:57:57Z","created_at":"2022-10-10T11:57:57Z","comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9920"
      Fastly-Ratelimit-Reset:
      - "1665403200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
