---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=23&check_interval=2500&expected_response=200&host=example.com&http_version=1.1&initial=10&method=HEAD&name=test-healthcheck&path=%2Ffoo&threshold=10&timeout=1500&window=5000
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "23"
      check_interval:
      - "2500"
      expected_response:
      - "200"
      host:
      - example.com
      - "1.1"
      initial:
      - "10"
      method:
      - HEAD
      name:
      - test-healthcheck
      path:
      - /foo
      threshold:
      - "10"
      timeout:
      - "1500"
      window:
      - "5000"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/23/healthcheck
    method: POST
  response:
    body: '{"check_interval":2500,"expected_response":200,"host":"example.com","http_version":"1.1","initial":10,"method":"HEAD","name":"test-healthcheck","path":"/foo","threshold":10,"timeout":1500,"window":5000,"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":23,"comment":"","created_at":"2021-01-14T10:26:24Z","updated_at":"2021-01-14T10:26:24Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "897"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
