---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/672/healthcheck/test-healthcheck
    method: GET
  response:
    body: '{"threshold":10,"window":5000,"service_id":"7i6HN3TK9wS159v2gPAZ8A","http_version":"1.1","timeout":1500,"method":"HEAD","updated_at":"2017-07-20T01:15:00+00:00","expected_response":200,"version":672,"name":"test-healthcheck","deleted_at":null,"path":"/foo","host":"example.com","created_at":"2017-07-20T01:15:00+00:00","comment":"","check_interval":2500,"initial":10}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
