---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/131/healthcheck/test-healthcheck
    method: GET
  response:
    body: '{"threshold":10,"created_at":"2022-10-10T11:57:57Z","headers":["Baz: Qux","Foo:
      Bar"],"deleted_at":null,"window":5000,"timeout":1500,"initial":10,"expected_response":200,"comment":"","method":"HEAD","host":"example.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":131,"path":"/foo","http_version":"1.1","name":"test-healthcheck","updated_at":"2022-10-10T11:57:57Z","check_interval":2500}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
