---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/69/healthcheck/test-healthcheck
    method: GET
  response:
    body: '{"initial":10,"http_version":"1.1","version":69,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2021-11-03T16:52:32Z","host":"example.com","check_interval":2500,"name":"test-healthcheck","updated_at":"2021-11-03T16:52:32Z","path":"/foo","threshold":10,"expected_response":200,"timeout":1500,"comment":"","method":"HEAD","deleted_at":null,"window":5000}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
