---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/29/healthcheck/test-healthcheck
    method: GET
  response:
    body: '{"host":"example.com","timeout":1500,"initial":10,"path":"/foo","deleted_at":null,"created_at":"2019-05-09T20:06:51Z","updated_at":"2019-05-09T20:06:51Z","method":"HEAD","name":"test-healthcheck","http_version":"1.1","check_interval":2500,"expected_response":200,"window":5000,"comment":"","threshold":10,"version":29,"service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
