---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/23/healthcheck/test-healthcheck
    method: GET
  response:
    body: '{"expected_response":200,"updated_at":"2021-01-14T10:26:24Z","method":"HEAD","http_version":"1.1","initial":10,"name":"test-healthcheck","threshold":10,"timeout":1500,"path":"/foo","check_interval":2500,"window":5000,"service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"","host":"example.com","created_at":"2021-01-14T10:26:24Z","version":23,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
