---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/77/healthcheck/test-healthcheck
    method: GET
  response:
    body: '{"expected_response":200,"timeout":1500,"host":"example.com","name":"test-healthcheck","method":"HEAD","created_at":"2021-11-26T07:17:25Z","threshold":10,"initial":10,"deleted_at":null,"comment":"","http_version":"1.1","service_id":"7i6HN3TK9wS159v2gPAZ8A","path":"/foo","version":77,"updated_at":"2021-11-26T07:17:25Z","window":5000,"check_interval":2500}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
