---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/135/healthcheck/test-healthcheck
    method: GET
  response:
    body: '{"threshold":10,"created_at":"2025-08-29T19:24:32Z","initial":10,"name":"test-healthcheck","comment":"","version":135,"check_interval":2500,"window":5000,"deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","expected_response":200,"path":"/foo","headers":["Baz:
      Qux","Foo: Bar"],"updated_at":"2025-08-29T19:24:32Z","http_version":"1.1","host":"example.com","timeout":1500,"method":"HEAD"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
