---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/69/healthcheck
    method: GET
  response:
    body: '[{"timeout":1500,"expected_response":200,"method":"HEAD","comment":"","threshold":10,"deleted_at":null,"window":5000,"created_at":"2021-11-03T16:52:32Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","host":"example.com","initial":10,"http_version":"1.1","version":69,"updated_at":"2021-11-03T16:52:32Z","path":"/foo","name":"test-healthcheck","check_interval":2500}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
