---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/29/healthcheck
    method: GET
  response:
    body: '[{"window":5000,"host":"example.com","check_interval":2500,"http_version":"1.1","name":"test-healthcheck","path":"/foo","timeout":1500,"updated_at":"2019-05-09T20:06:51Z","expected_response":200,"deleted_at":null,"method":"HEAD","created_at":"2019-05-09T20:06:51Z","initial":10,"version":29,"comment":"","threshold":10,"service_id":"7i6HN3TK9wS159v2gPAZ8A"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
