---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/131/healthcheck
    method: GET
  response:
    body: '[{"http_version":"1.1","check_interval":2500,"initial":10,"name":"test-healthcheck","path":"/foo","headers":["Baz:
      Qux","Foo: Bar"],"window":5000,"comment":"","threshold":10,"deleted_at":null,"version":131,"updated_at":"2022-10-10T11:57:57Z","method":"HEAD","created_at":"2022-10-10T11:57:57Z","host":"example.com","timeout":1500,"expected_response":200,"service_id":"7i6HN3TK9wS159v2gPAZ8A"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
