---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/135/healthcheck
    method: GET
  response:
    body: '[{"threshold":10,"path":"/foo","updated_at":"2025-08-29T19:24:32Z","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","initial":10,"headers":["Baz:
      Qux","Foo: Bar"],"name":"test-healthcheck","comment":"","host":"example.com","timeout":1500,"window":5000,"check_interval":2500,"expected_response":200,"created_at":"2025-08-29T19:24:32Z","http_version":"1.1","method":"HEAD","version":135}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
