---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/77/healthcheck
    method: GET
  response:
    body: '[{"threshold":10,"service_id":"7i6HN3TK9wS159v2gPAZ8A","check_interval":2500,"path":"/foo","initial":10,"expected_response":200,"host":"example.com","timeout":1500,"method":"HEAD","updated_at":"2021-11-26T07:17:25Z","window":5000,"http_version":"1.1","created_at":"2021-11-26T07:17:25Z","deleted_at":null,"name":"test-healthcheck","comment":"","version":77}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
