---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/23/healthcheck
    method: GET
  response:
    body: '[{"updated_at":"2021-01-14T10:26:24Z","name":"test-healthcheck","method":"HEAD","service_id":"7i6HN3TK9wS159v2gPAZ8A","host":"example.com","timeout":1500,"http_version":"1.1","window":5000,"deleted_at":null,"comment":"","version":23,"initial":10,"expected_response":200,"threshold":10,"created_at":"2021-01-14T10:26:24Z","path":"/foo","check_interval":2500}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
