---
version: 1
interactions:
- request:
    body: Name=test-healthcheck&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=23&name=new-test-healthcheck
    form:
      Name:
      - test-healthcheck
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "23"
      name:
      - new-test-healthcheck
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/23/healthcheck/test-healthcheck
    method: PUT
  response:
    body: '{"initial":10,"http_version":"1.1","created_at":"2021-01-14T10:26:24Z","window":5000,"name":"new-test-healthcheck","expected_response":200,"service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"","method":"HEAD","deleted_at":null,"updated_at":"2021-01-14T10:26:24Z","check_interval":2500,"version":23,"host":"example.com","threshold":10,"timeout":1500,"path":"/foo"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "890"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
