---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-healthcheck&Service=7i6HN3TK9wS159v2gPAZ8A&Version=672&name=new-test-healthcheck
    form:
      Name:
      - test-healthcheck
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "672"
      name:
      - new-test-healthcheck
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/672/healthcheck/test-healthcheck
    method: PUT
  response:
    body: '{"threshold":10,"window":5000,"service_id":"7i6HN3TK9wS159v2gPAZ8A","http_version":"1.1","timeout":1500,"method":"HEAD","updated_at":"2017-07-20T01:15:00+00:00","expected_response":200,"version":672,"name":"new-test-healthcheck","deleted_at":null,"path":"/foo","host":"example.com","created_at":"2017-07-20T01:15:00+00:00","comment":"","check_interval":2500,"initial":10}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "972"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
