---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-healthcheck&Service=7i6HN3TK9wS159v2gPAZ8A&Version=29&name=new-test-healthcheck
    form:
      Name:
      - test-healthcheck
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "29"
      name:
      - new-test-healthcheck
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/29/healthcheck/test-healthcheck
    method: PUT
  response:
    body: '{"path":"/foo","method":"HEAD","initial":10,"created_at":"2019-05-09T20:06:51Z","expected_response":200,"window":5000,"host":"example.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"","name":"new-test-healthcheck","deleted_at":null,"timeout":1500,"http_version":"1.1","updated_at":"2019-05-09T20:06:51Z","version":29,"check_interval":2500,"threshold":10}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "19991"
      Fastly-Ratelimit-Reset:
      - "1557435600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
