---
version: 1
interactions:
- request:
    body: name=new-test-healthcheck&headers=%5B"Beep:Boop"%5D
    form:
      headers:
      - '["Beep:Boop"]'
      name:
      - new-test-healthcheck
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/135/healthcheck/test-healthcheck
    method: PUT
  response:
    body: '{"name":"new-test-healthcheck","host":"example.com","method":"HEAD","updated_at":"2025-08-29T19:24:32Z","timeout":1500,"window":5000,"comment":"","created_at":"2025-08-29T19:24:32Z","http_version":"1.1","threshold":10,"service_id":"kKJb5bOFI47uHeBVluGfX1","expected_response":200,"path":"/foo","deleted_at":null,"initial":10,"check_interval":2500,"headers":["Beep:Boop"],"version":135}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9993"
      Fastly-Ratelimit-Reset:
      - "1756497600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
