---
version: 1
interactions:
- request:
    body: Name=test-healthcheck&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=131&name=new-test-healthcheck&headers=%5B"Beep:Boop"%5D
    form:
      Name:
      - test-healthcheck
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "131"
      headers:
      - '["Beep:Boop"]'
      name:
      - new-test-healthcheck
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/131/healthcheck/test-healthcheck
    method: PUT
  response:
    body: '{"expected_response":200,"http_version":"1.1","version":131,"method":"HEAD","updated_at":"2022-10-10T11:57:57Z","comment":"","timeout":1500,"host":"example.com","name":"new-test-healthcheck","created_at":"2022-10-10T11:57:57Z","headers":["Beep:Boop"],"check_interval":2500,"path":"/foo","deleted_at":null,"threshold":10,"initial":10,"window":5000,"service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9919"
      Fastly-Ratelimit-Reset:
      - "1665403200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
