---
version: 1
interactions:
- request:
    body: Name=test-healthcheck&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=77&name=new-test-healthcheck
    form:
      Name:
      - test-healthcheck
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "77"
      name:
      - new-test-healthcheck
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/77/healthcheck/test-healthcheck
    method: PUT
  response:
    body: '{"check_interval":2500,"window":5000,"version":77,"updated_at":"2021-11-26T07:17:25Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","path":"/foo","http_version":"1.1","initial":10,"comment":"","deleted_at":null,"method":"HEAD","threshold":10,"created_at":"2021-11-26T07:17:25Z","timeout":1500,"host":"example.com","name":"new-test-healthcheck","expected_response":200}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4974"
      Fastly-Ratelimit-Reset:
      - "1637913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
