---
version: 1
interactions:
- request:
    body: name=new-test-healthcheck&headers=%5B"Beep:Boop"%5D
    form:
      headers:
      - '["Beep:Boop"]'
      name:
      - new-test-healthcheck
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/80/healthcheck/test-healthcheck
    method: PUT
  response:
    body: '{"host":"example.com","deleted_at":null,"expected_response":200,"path":"/foo","http_version":"1.1","initial":10,"created_at":"2022-11-07T11:07:40Z","comment":"","timeout":1500,"service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2022-11-07T11:07:40Z","name":"new-test-healthcheck","check_interval":2500,"threshold":10,"headers":["Beep:Boop"],"version":80,"window":5000,"method":"HEAD"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9983"
      Fastly-Ratelimit-Reset:
      - "1667822400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
