---
version: 1
interactions:
- request:
    body: Name=test-healthcheck&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=69&name=new-test-healthcheck
    form:
      Name:
      - test-healthcheck
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "69"
      name:
      - new-test-healthcheck
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/69/healthcheck/test-healthcheck
    method: PUT
  response:
    body: '{"method":"HEAD","timeout":1500,"deleted_at":null,"http_version":"1.1","initial":10,"threshold":10,"path":"/foo","window":5000,"expected_response":200,"comment":"","version":69,"host":"example.com","created_at":"2021-11-03T16:52:32Z","updated_at":"2021-11-03T16:52:32Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","check_interval":2500,"name":"new-test-healthcheck"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4855"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
