---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/events?filter[customer_id]=zwBncFVs2Ixrhd8xxxxxx
    method: GET
  response:
    body: '{"ID":"3OMewexIMbzrQj77xxxxxx","CustomerID":"zwBncFVs2Ixrhd8xxxxxx","Description":"API Token (manage.fastly.com browser session) has been created","EventType":"token.create","IP":"10.10.10.1, 10.10.10.2, 10.10.10.3","Metadata":{"owner_id":"7HsR9TFmwNV3YAxxxxxxxx","scope":"global","services":[]},"ServiceID":"","UserID":"7HsR9TFmwNV3YAxxxxxxxx","CreatedAt":"2018-05-02T16:01:04Z","Admin":false}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
