---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/events?page%5Bnumber%5D=1&page%5Bsize%5D=1
    method: GET
  response:
    body: '{"data":[{"id":"5ThmATeNYLVLXcHYTpb4G1","type":"event","attributes":{"customer_id":"51MumwLiSJyFTWhtbByYgR","description":"Logging
      ''new-test-elasticsearch'' was updated on Version ''63''","event_type":"logging.update","ip":"92.238.40.48,
      92.238.40.48","metadata":{"old":{"name":"test-elasticsearch","pipeline":"my_pipeline_id"},"new":{"name":"new-test-elasticsearch","pipeline":"my_new_pipeline_id"}},"service_id":"kKJb5bOFI47uHeBVluGfX1","user_id":"1tSCjJnpQYBBCAsIfI6pX0","created_at":"2021-11-03T16:29:29Z","admin":false}}],"links":{"next":"https://api.fastly.com/events?page[number]=2&page[size]=1","last":"https://api.fastly.com/events?page[number]=197261&page[size]=1"},"meta":{"record_count":197261,"current_page":1,"total_pages":197261,"per_page":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Etag:
      - W/"d8f870b4caa704e9456e2a4c81dd5cec"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
