---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/events/5ThmATeNYLVLXcHYTpb4G1
    method: GET
  response:
    body: '{"data":{"id":"5ThmATeNYLVLXcHYTpb4G1","type":"event","attributes":{"customer_id":"51MumwLiSJyFTWhtbByYgR","description":"Logging
      ''new-test-elasticsearch'' was updated on Version ''63''","event_type":"logging.update","ip":"92.238.40.48,
      92.238.40.48","metadata":{"old":{"name":"test-elasticsearch","pipeline":"my_pipeline_id"},"new":{"name":"new-test-elasticsearch","pipeline":"my_new_pipeline_id"}},"service_id":"kKJb5bOFI47uHeBVluGfX1","user_id":"1tSCjJnpQYBBCAsIfI6pX0","created_at":"2021-11-03T16:29:29Z","admin":false}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Etag:
      - W/"e49a8c71e80234c4e535de74f4135fbc"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
