---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/events?filter%5Bcustomer_id%5D=zwBncFVs2Ixrhd8xxxxxx&page%5Bnumber%5D=1&page%5Bsize%5D=1
    method: GET
  response:
    body: '{"data":[{"id":"7RVP7RfHYD7r0CYRxxxxxx","type":"event","attributes":{"customer_id":"zwBncFVs2Ixrhd8xxxxxx","description":"Version 68 was activated","event_type":"version.activate","ip":"10.10.10.10, 10.10.10.15, 10.10.10.20","metadata":{"version_number":68},"service_id":"7kQfFIWFhi3TS1y8xxxxxx","user_id":"6TGNjlv1QUstI5iMxxxxxx","created_at":"2018-05-17T03:47:26Z","admin":false}}],"links":{"next":"https://api.fastly.com/events?filter[customer_id]=zwBncFVs2Ixrhd8xxxxxx&page[number]=2&page[size]=1","last":"https://api.fastly.com/events?filter[customer_id]=zwBncFVs2Ixrhd8xxxxxx&page[number]=488&page[size]=1"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
