---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/events/7RVP7RfHYD7r0CYRxxxxxx
    method: GET
  response:
    body: '{"data":{"id":"7RVP7RfHYD7r0CYRxxxxxx","type":"event","attributes":{"customer_id":"zwBncFVs2Ixrhd8xxxxxx","description":"Version 68 was activated","event_type":"version.activate","ip":"10.10.10.15, 10.10.10.16","metadata":{"version_number":68},"service_id":"7kQfFIWFhi3TS1y8xxxxxx","user_id":"6TGNjlv1QUstI5iMxxxxxx","created_at":"2018-05-17T03:47:26Z","admin":false}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
