---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/events?page%5Bnumber%5D=1&page%5Bsize%5D=1
    method: GET
  response:
    body: '{"data":[{"id":"5ua9a8p7hThd5G9K1PmrRf","type":"event","attributes":{"customer_id":"76eo17QE8I25lqXy9uJqbd","description":"Version
      52 was created","event_type":"version.create","ip":"73.93.140.51, 73.93.140.51","metadata":{"version_number":52,"service_id":"7i6HN3TK9wS159v2gPAZ8A","number":52},"service_id":"7i6HN3TK9wS159v2gPAZ8A","user_id":"48R7uE14gWaqdDSjVMLzKO","created_at":"2019-05-11T17:53:06Z","admin":false}}],"links":{"next":"https://api.fastly.com/events?page[number]=2&page[size]=1","last":"https://api.fastly.com/events?page[number]=9330&page[size]=1"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Etag:
      - W/"4027a264941218792e9c44ffaf4aee65"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
