---
version: 1
interactions:
- request:
    body: '{"description":"my description","fqdn":"fastly-sdk-gofastly-testing.com","service_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domains/v1
    method: POST
  response:
    body: '{"id":"c3uo2vKt4u93gpTsEjCQpg","created_at":"2025-05-19T10:40:19.000Z","fqdn":"fastly-sdk-gofastly-testing.com","updated_at":"2025-05-19T10:40:19.000Z","service_id":null,"activated":false,"verified":false,"description":"my
      description"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
