---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domains/v1/c3uo2vKt4u93gpTsEjCQpg
    method: GET
  response:
    body: '{"id":"c3uo2vKt4u93gpTsEjCQpg","created_at":"2025-05-19T10:40:19.000Z","fqdn":"fastly-sdk-gofastly-testing.com","updated_at":"2025-05-19T10:40:19.000Z","service_id":null,"activated":false,"verified":false,"description":"my
      description"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
