---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domains/v1?fqdn=fastly-sdk-gofastly-testing.com&limit=10&sort=fqdn
    method: GET
  response:
    body: '{"data":[{"id":"bN7Iz1AyGJAZs3q9KFiVYg","created_at":"2025-01-20T18:11:45.000Z","fqdn":"fastly-sdk-gofastly-testing.com","updated_at":"2025-01-20T18:11:45.000Z","service_id":null}],"meta":{"total":1,"limit":10}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
