---
version: 1
interactions:
- request:
    body: '{"description":"updated description","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domains/v1/c3uo2vKt4u93gpTsEjCQpg
    method: PATCH
  response:
    body: '{"id":"c3uo2vKt4u93gpTsEjCQpg","created_at":"2025-05-19T10:40:19.000Z","fqdn":"fastly-sdk-gofastly-testing.com","updated_at":"2025-05-19T10:40:20.000Z","service_id":"kKJb5bOFI47uHeBVluGfX1","activated":false,"verified":false,"description":"updated
      description"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
