---
version: 1
interactions:
- request:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domains/v1/bN7Iz1AyGJAZs3q9KFiVYg
    method: PATCH
  response:
    body: '{"id":"bN7Iz1AyGJAZs3q9KFiVYg","created_at":"2025-01-20T18:11:45.000Z","fqdn":"fastly-sdk-gofastly-testing.com","updated_at":"2025-01-20T18:11:46.000Z","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
