---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/datacenters
    method: GET
  response:
    body: '[{"code":"AMS","name":"Amsterdam","group":"Europe","coordinates":{"x":0,"y":0,"latitude":52.308613,"longitude":4.763889},"shield":"amsterdam-nl"},{"code":"IAD","name":"Ashburn","group":"United
      States","coordinates":{"x":0,"y":0,"latitude":38.944533,"longitude":-77.455811}},{"code":"WDC","name":"Ashburn","group":"United
      States","coordinates":{"x":0,"y":0,"latitude":39.022,"longitude":-77.451}},{"code":"BWI","name":"Ashburn
      - BWI","group":"United States","coordinates":{"x":0,"y":0,"latitude":38.944533,"longitude":-77.455811},"shield":"bwi-va-us"},{"code":"DCA","name":"Ashburn
      - DCA","group":"United St[...]
