---
version: 1
interactions:
- request:
    body: name=my-test-token&password=XXXXXXXXXXXXXXXXXXXXXX&role=engineer&scope=global&username=XXXXXXXXXXXXXXXXXXXXXX
    form:
      name:
      - my-test-token
      password:
      - XXXXXXXXXXXXXXXXXXXXXX
      role:
      - engineer
      scope:
      - global
      username:
      - XXXXXXXXXXXXXXXXXXXXXX
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/sudo
    method: POST
  response:
    body: '{"expiry_time":"2024-09-21T04:01:00+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "975"
      Fastly-Ratelimit-Reset:
      - "1726891200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"expires_at":"0001-01-01T00:00:00Z","name":"my-test-token","role":"engineer","scope":"global","services":null,"tls_access":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/automation-tokens
    method: POST
  response:
    body: |
      {"id":"XXXXXXXXXXXXXXXXXXXXXX","services":[],"name":"my-test-token","role":"engineer","access_token":"XXXXXXXXXXXXXXXXXXXXXX","scope":"global","ip":"","created_at":"2024-09-21T03:56:00Z","last_used_at":"0001-01-01T00:00:00Z","expires_at":null,"user_agent":""}
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "993"
      Fastly-Ratelimit-Reset:
      - "1726891200"
    status: 200 OK
    code: 200
    duration: ""
