---
version: 1
interactions:
- request:
    body: name=my-test-token&password=XXXXXXXXXXXXXXXXXXXXXX&role=engineer&scope=global&username=XXXXXXXXXXXXXXXXXXXXXX
    form:
      name:
      - my-test-token
      password:
      - XXXXXXXXXXXXXXXXXXXXXX
      role:
      - engineer
      scope:
      - global
      username:
      - XXXXXXXXXXXXXXXXXXXXXX
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/sudo
    method: POST
  response:
    body: '{"expiry_time":"2025-02-25T05:17:56+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "978"
      Fastly-Ratelimit-Reset:
      - "1740463200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my-test-token","role":"engineer","scope":"global","services":null,"tls_access":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/automation-tokens
    method: POST
  response:
    body: |
      {"id":"XXXXXXXXXXXXXXXXXXXXXX","services":[],"name":"my-test-token","role":"engineer","access_token":"XXXXXXXXXXXXXXXXXXXXXX","scope":"global","ip":"","created_at":"2025-02-25T05:12:57Z","last_used_at":"","expires_at":"","user_agent":"","tls_access":false,"customer_id":"XXXXXXXXXXXXXXXXXXXXXX"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
