---
version: 1
interactions:
- request:
    body: name=my-test-token&password=XXXXXXXXXXXXXXXXXXXXXX&role=engineer&scope=global&services%5B%5D=XXXXXXXXXXXXXXXXXXXXXX&username=XXXXXXXXXXXXXXXXXXXXXX
    form:
      name:
      - my-test-token
      password:
      - XXXXXXXXXXXXXXXXXXXXXX
      role:
      - engineer
      scope:
      - global
      services[]:
      - XXXXXXXXXXXXXXXXXXXXXX
      username:
      - XXXXXXXXXXXXXXXXXXXXXX
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/sudo
    method: POST
  response:
    body: '{"expiry_time":"2025-02-25T12:06:38+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "993"
      Fastly-Ratelimit-Reset:
      - "1740488400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"my-test-token","role":"engineer","scope":"global","services":["XXXXXXXXXXXXXXXXXXXXXX"],"tls_access":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/automation-tokens
    method: POST
  response:
    body: |
      {"id":"XXXXXXXXXXXXXXXXXXXXXX","services":["XXXXXXXXXXXXXXXXXXXXXX"],"name":"my-test-token","role":"engineer","access_token":"XXXXXXXXXXXXXXXXXXXXXX","scope":"global","ip":"","created_at":"2025-02-25T12:01:39Z","last_used_at":"","expires_at":"","user_agent":"","tls_access":false,"customer_id":"XXXXXXXXXXXXXXXXXXXXXX"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
