---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/automation-tokens/XXXXXXXXXXXXXXXXXXXXXX
    method: GET
  response:
    body: |
      {"id":"XXXXXXXXXXXXXXXXXXXXXX","services":["kKJb5bOFI47uHeBVluGfX1"],"name":"test-token","role":"engineer","access_token":"","scope":"global","ip":null,"created_at":"2024-09-21T03:50:43Z","last_used_at":null,"expires_at":null,"user_agent":null}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
