---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/automation-tokens?page=1&per_page=100
    method: GET
  response:
    body: |
      {"data":[{"id":"XXXXXXXXXXXXXXXXXXXXXX","creator_id":"XXXXXXXXXXXXXXXXXXXXXX","customer_id":"XXXXXXXXXXXXXXXXXXXXXX","name":"fastly-exporter","access_token":"","role":"engineer","ip":"116.255.31.196","user_agent":"Fastly-Exporter (9.0.0)","scopes":"global:read","services":[],"service_id":null,"sudo_expires_at":null,"last_used_at":"2025-02-22T03:27:50Z","created_at":"2024-10-15T11:51:55Z","expires_at":null,"tls_access":false},{"id":"XXXXXXXXXXXXXXXXXXXXXX","creator_id":"XXXXXXXXXXXXXXXXXXXXXX","customer_id":"XXXXXXXXXXXXXXXXXXXXXX","name":"my-test-token","access_token":"","role":"engineer","ip":null,"user_agent":null,"scopes":"global","services":null,"service_id":null,"sudo_expires_at":null,"last_used_at":null,"created_at":"2025-02-25T05:12:57Z","expires_at":null,"tls_access":false}],"meta":{"per_page":100,"current_page":1,"record_count":2,"total_pages":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
