---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/current_user
    method: GET
  response:
    body: |
      {"id":"2x3y4z5a6b7c8d9e0f1g2h","customer_id":"7i6ZbMEdjnTUNyk75XgWO0","email_hash":"00000000000000000000000000000000","limit_services":false,"limit_workspaces":false,"locked":false,"login":"go-fastly-test@example.com","name":"Test User","require_new_password":false,"role":"superuser","roles":["3bbbbbbbbbbbbbbbbbbbbb"],"two_factor_auth_enabled":false,"two_factor_setup_required":false,"created_at":"2026-01-26T09:02:21Z","updated_at":"2026-05-22T12:29:42Z","deleted_at":null,"last_active_at":"2026-05-22T11:50:14Z","bypass_sso":false,"ignores_two_factor_requirement":false}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
