---
version: 1
interactions:
- request:
    body: StoreID=khbExSHXsK7pw1pDTXJKv0&item_key=TestClient_DeleteConfigStoreItem&item_value=delete+me
    form:
      StoreID:
      - khbExSHXsK7pw1pDTXJKv0
      item_key:
      - TestClient_DeleteConfigStoreItem
      item_value:
      - delete me
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/resources/stores/config/khbExSHXsK7pw1pDTXJKv0/item
    method: POST
  response:
    body: '{"item_key":"TestClient_DeleteConfigStoreItem","item_value":"delete me","created_at":"2023-03-02T16:24:02Z","updated_at":"2023-03-02T16:24:02Z","deleted_at":null,"store_id":"khbExSHXsK7pw1pDTXJKv0"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
