---
version: 1
interactions:
- request:
    body: name=TestClient_DeleteConfigStoreItem
    form:
      name:
      - TestClient_DeleteConfigStoreItem
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/resources/stores/config
    method: POST
  response:
    body: '{"name":"TestClient_DeleteConfigStoreItem","id":"khbExSHXsK7pw1pDTXJKv0","created_at":"2023-03-02T16:24:02Z","updated_at":"2023-03-02T16:24:02Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
