---
version: 1
interactions:
- request:
    body: name=TestClient_GetConfigStoreItem
    form:
      name:
      - TestClient_GetConfigStoreItem
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/resources/stores/config
    method: POST
  response:
    body: '{"name":"TestClient_GetConfigStoreItem","id":"1sdfA7V10f10THHOIiVyz2","created_at":"2023-03-02T16:24:01Z","updated_at":"2023-03-02T16:24:01Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
