---
version: 1
interactions:
- request:
    body: StoreID=1sdfA7V10f10THHOIiVyz2&item_key=TestClient_GetConfigStoreItem&item_value=get+me
    form:
      StoreID:
      - 1sdfA7V10f10THHOIiVyz2
      item_key:
      - TestClient_GetConfigStoreItem
      item_value:
      - get me
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/resources/stores/config/1sdfA7V10f10THHOIiVyz2/item
    method: POST
  response:
    body: '{"item_key":"TestClient_GetConfigStoreItem","item_value":"get me","created_at":"2023-03-02T16:24:02Z","updated_at":"2023-03-02T16:24:02Z","deleted_at":null,"store_id":"1sdfA7V10f10THHOIiVyz2"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
