---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/oIb247xKeTGgwPoVPA2PJ3/alerts/686fe499584b2ef2916c4fe8
    method: GET
  response:
    body: |
      {"id":"686fe499584b2ef2916c4fe8","description":"This is a test alert.","type":"microsoftteams","config":{"webhook":"https://example.webhook.office.com/webhookb2/test"},"events":["flag"],"created_at":"2025-07-10T16:04:41Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
