---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=6&format=%25h+%25l+%25u+%25t+%22%25r%22+%25%3Es+%25b&format_version=2&name=test-splunk&placement=waf_debug&token=super-secure-token&url=https%3A%2F%2Fmysplunkendpoint.example.com%2Fservices%2Fcollector%2Fevent
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "6"
      format:
      - '%h %l %u %t "%r" %>s %b'
      format_version:
      - "2"
      name:
      - test-splunk
      placement:
      - waf_debug
      token:
      - super-secure-token
      url:
      - https://mysplunkendpoint.example.com/services/collector/event
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/6/logging/splunk
    method: POST
  response:
    body: '{"format":"%h %l %u %t \"%r\" %\u003es %b","format_version":"2","name":"test-splunk","placement":"waf_debug","token":"super-secure-token","url":"https://mysplunkendpoint.example.com/services/collector/event","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"6","response_condition":"","updated_at":"2019-03-15T05:03:38Z","tls_hostname":null,"tls_ca_cert":null,"tls_allow_insecure":"0","deleted_at":null,"created_at":"2019-03-15T05:03:38Z","content_type":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "998"
      Fastly-Ratelimit-Reset:
      - "1552629600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
