---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/42/logging/splunk/test-splunk
    method: GET
  response:
    body: '{"format":"%h %l %u %t \"%r\" %\u003es %b","name":"test-splunk","updated_at":"2019-05-09T22:50:15Z","created_at":"2019-05-09T22:50:15Z","response_condition":"","content_type":null,"format_version":"2","tls_hostname":null,"url":"https://mysplunkendpoint.example.com/services/collector/event","version":"42","tls_allow_insecure":"0","deleted_at":null,"token":"super-secure-token","service_id":"7i6HN3TK9wS159v2gPAZ8A","tls_ca_cert":null,"placement":"waf_debug"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
