---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/42/logging/splunk
    method: GET
  response:
    body: '[{"format_version":"2","content_type":null,"tls_hostname":null,"url":"https://mysplunkendpoint.example.com/services/collector/event","format":"%h
      %l %u %t \"%r\" %\u003es %b","name":"test-splunk","updated_at":"2019-05-09T22:50:15Z","response_condition":"","created_at":"2019-05-09T22:50:15Z","deleted_at":null,"token":"super-secure-token","tls_ca_cert":null,"placement":"waf_debug","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"42","tls_allow_insecure":"0"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
