---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/6/logging/splunk
    method: GET
  response:
    body: '[{"placement":"waf_debug","format_version":"2","response_condition":"","url":"https://mysplunkendpoint.example.com/services/collector/event","updated_at":"2019-03-15T05:03:38Z","tls_hostname":null,"name":"test-splunk","service_id":"7i6HN3TK9wS159v2gPAZ8A","tls_ca_cert":null,"tls_allow_insecure":"0","token":"super-secure-token","version":"6","deleted_at":null,"created_at":"2019-03-15T05:03:38Z","content_type":null,"format":"%h
      %l %u %t \"%r\" %\u003es %b"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
