---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-splunk&Service=7i6HN3TK9wS159v2gPAZ8A&Version=6&name=new-test-splunk
    form:
      Name:
      - test-splunk
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "6"
      name:
      - new-test-splunk
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/6/logging/splunk/test-splunk
    method: PUT
  response:
    body: '{"placement":"waf_debug","format_version":"2","response_condition":"","url":"https://mysplunkendpoint.example.com/services/collector/event","updated_at":"2019-03-15T05:03:38Z","tls_hostname":null,"name":"new-test-splunk","service_id":"7i6HN3TK9wS159v2gPAZ8A","tls_ca_cert":null,"tls_allow_insecure":"0","token":"super-secure-token","version":"6","deleted_at":null,"created_at":"2019-03-15T05:03:38Z","content_type":null,"format":"%h
      %l %u %t \"%r\" %\u003es %b"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1552629600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
