---
version: 1
interactions:
- request:
    body: '{"tls_ca_cert":null,"tls_client_cert":null,"tls_client_key":null,"tls_hostname":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/196/logging/splunk/new-test-splunk
    method: PUT
  response:
    body: '{"request_max_bytes":1000,"url":"https://mysplunkendpoint.example.com/services/collector/event","response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"196","format":"%h
      %l %u %t \"%r\" %\u003es %b","created_at":"2026-08-10T19:14:08Z","format_version":"2","token":"super-secure-token","log_processing_region":"eu","tls_ca_cert":null,"name":"new-test-splunk","placement":null,"tls_client_key":null,"updated_at":"2026-08-10T19:14:10Z","tls_hostname":null,"deleted_at":null,"request_max_entries":1,"use_tls":"0","tls_client_cert":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9792"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
