---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-splunk&Service=7i6HN3TK9wS159v2gPAZ8A&Version=42&name=new-test-splunk
    form:
      Name:
      - test-splunk
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "42"
      name:
      - new-test-splunk
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/42/logging/splunk/test-splunk
    method: PUT
  response:
    body: '{"url":"https://mysplunkendpoint.example.com/services/collector/event","tls_hostname":null,"tls_allow_insecure":"0","created_at":"2019-05-09T22:50:15Z","name":"new-test-splunk","response_condition":"","version":"42","deleted_at":null,"placement":"waf_debug","updated_at":"2019-05-09T22:50:15Z","token":"super-secure-token","format_version":"2","service_id":"7i6HN3TK9wS159v2gPAZ8A","tls_ca_cert":null,"content_type":null,"format":"%h
      %l %u %t \"%r\" %\u003es %b"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "985"
      Fastly-Ratelimit-Reset:
      - "1557442800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
