---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/bot-management/v1/workspaces/XXXXXXXXXXXXXXXXXXXXXX/policy/categories/cat_monitoring_and_site_tools
    method: GET
  response:
    body: '{"category_id":"cat_monitoring_and_site_tools","name":"Monitoring & Site
      Tools","description":"Tools which access your site to monitor performance, uptime,
      proving domain control, etc.","action":{"type":"allow"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
