---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/bot-management/v1/workspaces/XXXXXXXXXXXXXXXXXXXXXX/policy/categories/cat_monitoring_and_site_tools/bots/bot_amazon_route_53_health_check_service
    method: GET
  response:
    body: '{"bot_id":"bot_amazon_route_53_health_check_service","name":"Amazon Route
      53 Health Check Service","action":{"type":"inherit"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
