---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/bot-management/v1/workspaces/XXXXXXXXXXXXXXXXXXXXXX/policy/bots?limit=1000
    method: GET
  response:
    body: '{"meta":{"limit":1000,"total":250,"next_cursor":null},"data":[{"bot_id":"bot_addsearchbot","name":"AddSearchBot","action":{"type":"inherit"},"category_id":"cat_ai_crawler"},{"bot_id":"bot_adidxbot","name":"AdIdxBot","action":{"type":"inherit"},"category_id":"cat_online_marketing"},{"bot_id":"bot_adyen_webhook","name":"Adyen
      Webhook","action":{"type":"inherit"},"category_id":"cat_platform_integrations"},{"bot_id":"bot_ahrefsbot","name":"AhrefsBot","action":{"type":"inherit"},"category_id":"cat_search_engine_optimization"},{"bot_id":"bot_ahrefssiteaudit","name":"AhrefsSiteAudit","action":{"type":"inherit"},"category_id":"cat_search_engine_opti[...]
