---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/bot-management/v1/workspaces/XXXXXXXXXXXXXXXXXXXXXX/policy/categories?limit=1000
    method: GET
  response:
    body: '{"meta":{"limit":1000,"total":14,"next_cursor":null},"data":[{"category_id":"cat_accessibility","name":"Accessibility","description":"Tools
      which make content accessible, such as screen readers, etc.","action":{"type":"allow"}},{"category_id":"cat_ai_crawler","name":"AI
      Crawler","description":"Crawlers which extract content from websites for building
      AI models or indexes.","action":{"type":"allow"}},{"category_id":"cat_ai_fetcher","name":"AI
      Fetcher","description":"Bots which extract content from websites for enriching
      AI results in response to a user query.","action":{"type":"allow"}},{"category_id":"cat_content_fetcher","name":"Content
      Fetcher","description":"Tools which extrac[...]
