---
version: 1
interactions:
- request:
    body: Service=52szbbqIWi1L5bUd4EBKkX&Version=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      Service:
      - 52szbbqIWi1L5bUd4EBKkX
      Version:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/52szbbqIWi1L5bUd4EBKkX/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"52szbbqIWi1L5bUd4EBKkX","version":"2","tls_hostname":null,"tls_ca_cert":null,"use_tls":"0","tls_client_key":null,"public_key":null,"deleted_at":null,"placement":null,"tls_client_cert":null,"ipv4":null,"created_at":"2020-07-02T20:20:55Z","response_condition":"","updated_at":"2020-07-02T20:20:55Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "952"
      Fastly-Ratelimit-Reset:
      - "1593723600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
