---
version: 1
interactions:
- request:
    body: ServiceID=01yXo1ojqff8q5FU2Mt2uX&ServiceVersion=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      ServiceID:
      - 01yXo1ojqff8q5FU2Mt2uX
      ServiceVersion:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/01yXo1ojqff8q5FU2Mt2uX/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"01yXo1ojqff8q5FU2Mt2uX","version":"2","ipv4":null,"tls_client_cert":null,"public_key":null,"response_condition":"","tls_hostname":null,"deleted_at":null,"placement":null,"tls_client_key":null,"updated_at":"2021-01-14T10:27:47Z","tls_ca_cert":null,"use_tls":"0","created_at":"2021-01-14T10:27:47Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "880"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
