---
version: 1
interactions:
- request:
    body: Service=5mAR0wHKpNJjOqc65YeDqI&Version=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      Service:
      - 5mAR0wHKpNJjOqc65YeDqI
      Version:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5mAR0wHKpNJjOqc65YeDqI/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"5mAR0wHKpNJjOqc65YeDqI","version":"2","updated_at":"2020-07-02T20:05:32Z","deleted_at":null,"created_at":"2020-07-02T20:05:32Z","tls_client_cert":null,"placement":null,"tls_ca_cert":null,"tls_hostname":null,"tls_client_key":null,"ipv4":null,"response_condition":"","use_tls":"0","public_key":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "979"
      Fastly-Ratelimit-Reset:
      - "1593723600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
