---
version: 1
interactions:
- request:
    body: ServiceID=3U83pdesYFrsH5Mgt6tN2C&ServiceVersion=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      ServiceID:
      - 3U83pdesYFrsH5Mgt6tN2C
      ServiceVersion:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3U83pdesYFrsH5Mgt6tN2C/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"3U83pdesYFrsH5Mgt6tN2C","version":"2","updated_at":"2021-11-03T17:28:48Z","ipv4":null,"use_tls":"0","tls_client_key":null,"deleted_at":null,"tls_client_cert":null,"placement":null,"public_key":null,"response_condition":"","tls_ca_cert":null,"created_at":"2021-11-03T17:28:48Z","tls_hostname":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4778"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
