---
version: 1
interactions:
- request:
    body: Service=300YFPn1PVF82Na4SUkiqy&Version=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      Service:
      - 300YFPn1PVF82Na4SUkiqy
      Version:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/300YFPn1PVF82Na4SUkiqy/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"300YFPn1PVF82Na4SUkiqy","version":"2","public_key":null,"tls_client_cert":null,"use_tls":"0","ipv4":null,"created_at":"2019-11-25T14:43:30Z","tls_hostname":null,"deleted_at":null,"tls_ca_cert":null,"response_condition":"","tls_client_key":null,"placement":null,"updated_at":"2019-11-25T14:43:30Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1574694000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
