---
version: 1
interactions:
- request:
    body: Service=5GZsX83POn5zij6allCOKe&Version=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      Service:
      - 5GZsX83POn5zij6allCOKe
      Version:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5GZsX83POn5zij6allCOKe/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"5GZsX83POn5zij6allCOKe","version":"2","tls_client_cert":null,"deleted_at":null,"created_at":"2020-07-06T11:09:05Z","updated_at":"2020-07-06T11:09:05Z","tls_hostname":null,"tls_ca_cert":null,"placement":null,"ipv4":null,"tls_client_key":null,"public_key":null,"use_tls":"0","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "979"
      Fastly-Ratelimit-Reset:
      - "1594036800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
