---
version: 1
interactions:
- request:
    body: Service=3BOOVoayIlrdMuRU8LrKSA&Version=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      Service:
      - 3BOOVoayIlrdMuRU8LrKSA
      Version:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3BOOVoayIlrdMuRU8LrKSA/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"3BOOVoayIlrdMuRU8LrKSA","version":"2","tls_ca_cert":null,"tls_client_key":null,"updated_at":"2020-06-30T10:56:25Z","created_at":"2020-06-30T10:56:25Z","tls_hostname":null,"placement":null,"response_condition":"","use_tls":"0","tls_client_cert":null,"ipv4":null,"deleted_at":null,"public_key":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "684"
      Fastly-Ratelimit-Reset:
      - "1593514800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
