---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test-mapping","description":"Sends a notification when
      any user logs in","scope_type":"account","event_types":["user.login"],"integration_ids":["7znp3LzS0yF0jiNU9FuQxW"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/notifications/v1/event-mappings
    method: POST
  response:
    body: |
      {"id":"1PUwL9Z5W199GofgvTwbPd","customer_id":"4dOhK7xEkULiabovMyhRBu","name":"go-fastly-test-mapping","description":"Sends a notification when any user logs in","scope_type":"account","scope_ids":[],"event_types":["user.login"],"integration_ids":["7znp3LzS0yF0jiNU9FuQxW"],"mapping_status":"active","created_at":"2026-08-05T14:37:51Z","updated_at":"2026-08-05T14:37:51Z"}
    headers:
      Content-Type:
      - application/json
      Location:
      - /notifications/v1/event-mappings/1PUwL9Z5W199GofgvTwbPd
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
