---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/v1/event-mappings/2jNMhKrgVBYj88bY4ecDmP
    method: GET
  response:
    body: |
      {"id":"2jNMhKrgVBYj88bY4ecDmP","customer_id":"4dOhK7xEkULiabovMyhRBu","name":"go-fastly-test-mapping","description":"Sends a notification when any user logs in","scope_type":"account","scope_ids":[],"event_types":["user.login"],"integration_ids":["7znp3LzS0yF0jiNU9FuQxW"],"mapping_status":"active","created_at":"2026-08-04T16:55:29Z","updated_at":"2026-08-04T16:55:29Z"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
