---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/notifications/v1/event-mappings?scope_type=account
    method: GET
  response:
    body: |
      {"meta":{"total":1,"limit":20,"sort":"created_at"},"data":[{"id":"1PUwL9Z5W199GofgvTwbPd","customer_id":"4dOhK7xEkULiabovMyhRBu","name":"go-fastly-test-mapping","description":"Sends a notification when any user logs in","scope_type":"account","scope_ids":[],"event_types":["user.login"],"integration_ids":["7znp3LzS0yF0jiNU9FuQxW"],"mapping_status":"active","created_at":"2026-08-05T14:37:51Z","updated_at":"2026-08-05T14:37:51Z"}]}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
