---
version: 1
interactions:
- request:
    body: '{"name":"go-fastly-test-mapping-updated","description":"Updated description","scope_type":"account","event_types":["user.login","user.create"],"integration_ids":["7znp3LzS0yF0jiNU9FuQxW"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/notifications/v1/event-mappings/1PUwL9Z5W199GofgvTwbPd
    method: PUT
  response:
    body: |
      {"id":"1PUwL9Z5W199GofgvTwbPd","customer_id":"4dOhK7xEkULiabovMyhRBu","name":"go-fastly-test-mapping-updated","description":"Updated description","scope_type":"account","scope_ids":[],"event_types":["user.login","user.create"],"integration_ids":["7znp3LzS0yF0jiNU9FuQxW"],"mapping_status":"active","created_at":"2026-08-05T14:37:51Z","updated_at":"2026-08-05T14:37:51Z"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
