---
version: 1
interactions:
- request:
    body: format=%25h+%25l+%25u+%25t+%22%25r%22+%25%3Es+%25b&format_version=2&name=test-scalyr&placement=waf_debug&project_id=logplex&region=US&token=super-secure-token
    form:
      format:
      - '%h %l %u %t "%r" %>s %b'
      format_version:
      - "2"
      name:
      - test-scalyr
      placement:
      - waf_debug
      project_id:
      - logplex
      region:
      - US
      token:
      - super-secure-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/128/logging/scalyr
    method: POST
  response:
    body: '{"format":"%h %l %u %t \"%r\" %\u003es %b","format_version":"2","name":"test-scalyr","placement":"waf_debug","project_id":"logplex","region":"US","token":"super-secure-token","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"128","response_condition":"","log_processing_region":"none","created_at":"2025-06-04T15:31:11Z","deleted_at":null,"updated_at":"2025-06-04T15:31:11Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9813"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
