---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/10/logging/scalyr/test-scalyr
    method: GET
  response:
    body: '{"response_condition":"","format":"%h %l %u %t \"%r\" %\u003es %b","service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"2","created_at":"2020-06-03T14:26:08Z","deleted_at":null,"region":"US","token":"super-secure-token","version":"10","name":"test-scalyr","updated_at":"2020-06-03T14:26:08Z","placement":"waf_debug"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
