---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/2/logging/scalyr/test-scalyr
    method: GET
  response:
    body: '{"placement":"waf_debug","token":"super-secure-token","region":"US","response_condition":"","name":"test-scalyr","updated_at":"2024-03-14T23:05:45Z","project_id":"logplex","format_version":"2","created_at":"2024-03-14T23:05:45Z","version":"2","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"format":"%h
      %l %u %t \"%r\" %\u003es %b"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
