---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/173/logging/scalyr/test-scalyr
    method: GET
  response:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1","placement":"none","format_version":"2","name":"test-scalyr","created_at":"2026-07-23T19:31:01Z","token":"super-secure-token","region":"US","response_condition":"","log_processing_region":"none","project_id":"logplex","format":"%h
      %l %u %t \"%r\" %\u003es %b","version":"173","updated_at":"2026-07-23T19:31:01Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
