---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/8/logging/scalyr/test-scalyr
    method: GET
  response:
    body: '{"format_version":"2","placement":null,"response_condition":"","token":"super-secure-token","format":"%h
      %l %u %t \"%r\" %\u003es %b","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"8","project_id":"logplex","deleted_at":null,"created_at":"2025-02-28T21:33:56Z","name":"test-scalyr","region":"US","updated_at":"2025-02-28T21:33:56Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
