---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/60/logging/scalyr/test-scalyr
    method: GET
  response:
    body: '{"version":"60","region":"US","deleted_at":null,"name":"test-scalyr","created_at":"2022-11-04T16:06:19Z","format":"%h
      %l %u %t \"%r\" %\u003es %b","service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"2","token":"super-secure-token","response_condition":"","placement":"waf_debug","project_id":null,"updated_at":"2022-11-04T16:06:19Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
