---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/128/logging/scalyr/test-scalyr
    method: GET
  response:
    body: '{"name":"test-scalyr","token":"super-secure-token","created_at":"2025-06-04T15:31:11Z","deleted_at":null,"format_version":"2","region":"US","format":"%h
      %l %u %t \"%r\" %\u003es %b","response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","placement":"waf_debug","updated_at":"2025-06-04T15:31:11Z","log_processing_region":"none","version":"128","project_id":"logplex"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
