---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/132/logging/scalyr/test-scalyr
    method: GET
  response:
    body: '{"placement":"waf_debug","name":"test-scalyr","format":"%h %l %u %t \"%r\"
      %\u003es %b","deleted_at":null,"created_at":"2020-05-08T11:59:59Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"2","version":"132","response_condition":"","updated_at":"2020-05-08T11:59:59Z","token":"super-secure-token"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
