---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/88/logging/scalyr/test-scalyr
    method: GET
  response:
    body: '{"updated_at":"2021-11-03T17:14:02Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test-scalyr","version":"88","deleted_at":null,"project_id":null,"placement":"waf_debug","format":"%h
      %l %u %t \"%r\" %\u003es %b","token":"super-secure-token","response_condition":"","region":"US","format_version":"2","created_at":"2021-11-03T17:14:02Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
