---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/128/logging/scalyr
    method: GET
  response:
    body: '[{"deleted_at":null,"placement":"waf_debug","log_processing_region":"none","version":"128","format_version":"2","name":"test-scalyr","project_id":"logplex","created_at":"2025-06-04T15:31:11Z","token":"super-secure-token","updated_at":"2025-06-04T15:31:11Z","region":"US","response_condition":"","format":"%h
      %l %u %t \"%r\" %\u003es %b","service_id":"kKJb5bOFI47uHeBVluGfX1"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
