---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/10/logging/scalyr
    method: GET
  response:
    body: '[{"token":"super-secure-token","format":"%h %l %u %t \"%r\" %\u003es %b","service_id":"7i6HN3TK9wS159v2gPAZ8A","placement":"waf_debug","created_at":"2020-06-03T14:26:08Z","name":"test-scalyr","updated_at":"2020-06-03T14:26:08Z","region":"US","deleted_at":null,"format_version":"2","version":"10","response_condition":""}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
