---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/8/logging/scalyr
    method: GET
  response:
    body: '[{"service_id":"kKJb5bOFI47uHeBVluGfX1","project_id":"logplex","name":"test-scalyr","token":"super-secure-token","updated_at":"2025-02-28T21:33:56Z","response_condition":"","deleted_at":null,"region":"US","placement":null,"version":"8","created_at":"2025-02-28T21:33:56Z","format_version":"2","format":"%h
      %l %u %t \"%r\" %\u003es %b"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
