---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/60/logging/scalyr
    method: GET
  response:
    body: '[{"deleted_at":null,"format":"%h %l %u %t \"%r\" %\u003es %b","format_version":"2","region":"US","service_id":"7i6HN3TK9wS159v2gPAZ8A","token":"super-secure-token","placement":"waf_debug","created_at":"2022-11-04T16:06:19Z","updated_at":"2022-11-04T16:06:19Z","name":"test-scalyr","project_id":null,"version":"60","response_condition":""}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
