---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/2/logging/scalyr
    method: GET
  response:
    body: '[{"format":"%h %l %u %t \"%r\" %\u003es %b","format_version":"2","token":"super-secure-token","response_condition":"","placement":"waf_debug","name":"test-scalyr","region":"US","created_at":"2024-03-14T23:05:45Z","project_id":"logplex","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","version":"2","updated_at":"2024-03-14T23:05:45Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
