---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/88/logging/scalyr
    method: GET
  response:
    body: '[{"format":"%h %l %u %t \"%r\" %\u003es %b","placement":"waf_debug","project_id":null,"created_at":"2021-11-03T17:14:02Z","format_version":"2","region":"US","response_condition":"","token":"super-secure-token","name":"test-scalyr","service_id":"3QSsca5ilwNVpceZ2HJIAH","updated_at":"2021-11-03T17:14:02Z","deleted_at":null,"version":"88"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
