---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/173/logging/scalyr
    method: GET
  response:
    body: '[{"deleted_at":null,"updated_at":"2026-07-23T19:31:01Z","name":"test-scalyr","service_id":"kKJb5bOFI47uHeBVluGfX1","region":"US","token":"super-secure-token","created_at":"2026-07-23T19:31:01Z","log_processing_region":"none","format_version":"2","project_id":"logplex","response_condition":"","format":"%h
      %l %u %t \"%r\" %\u003es %b","placement":"none","version":"173"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
