---
version: 1
interactions:
- request:
    body: Name=test-scalyr&Service=7i6HN3TK9wS159v2gPAZ8A&Version=10&name=new-test-scalyr&region=EU&token=new-token
    form:
      Name:
      - test-scalyr
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "10"
      name:
      - new-test-scalyr
      region:
      - EU
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/10/logging/scalyr/test-scalyr
    method: PUT
  response:
    body: '{"format":"%h %l %u %t \"%r\" %\u003es %b","token":"new-token","response_condition":"","created_at":"2020-06-03T14:26:08Z","version":"10","name":"new-test-scalyr","format_version":"2","deleted_at":null,"updated_at":"2020-06-03T14:26:08Z","placement":"waf_debug","service_id":"7i6HN3TK9wS159v2gPAZ8A","region":"EU"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "992"
      Fastly-Ratelimit-Reset:
      - "1591196400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
