---
version: 1
interactions:
- request:
    body: log_processing_region=eu&name=new-test-scalyr&project_id=app-name&region=EU&token=new-token
    form:
      log_processing_region:
      - eu
      name:
      - new-test-scalyr
      project_id:
      - app-name
      region:
      - EU
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/128/logging/scalyr/test-scalyr
    method: PUT
  response:
    body: '{"log_processing_region":"eu","region":"EU","updated_at":"2025-06-04T15:31:11Z","placement":"waf_debug","service_id":"kKJb5bOFI47uHeBVluGfX1","project_id":"app-name","response_condition":"","deleted_at":null,"created_at":"2025-06-04T15:31:11Z","format":"%h
      %l %u %t \"%r\" %\u003es %b","token":"new-token","format_version":"2","version":"128","name":"new-test-scalyr"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9812"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
