---
version: 1
interactions:
- request:
    body: name=new-test-scalyr&project_id=app-name&region=EU&token=new-token
    form:
      name:
      - new-test-scalyr
      project_id:
      - app-name
      region:
      - EU
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/2/logging/scalyr/test-scalyr
    method: PUT
  response:
    body: '{"created_at":"2024-03-14T23:05:45Z","name":"new-test-scalyr","format_version":"2","format":"%h
      %l %u %t \"%r\" %\u003es %b","placement":"waf_debug","response_condition":"","token":"new-token","version":"2","service_id":"kKJb5bOFI47uHeBVluGfX1","project_id":"app-name","deleted_at":null,"region":"EU","updated_at":"2024-03-14T23:05:45Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1710460800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
