---
version: 1
interactions:
- request:
    body: name=new-test-scalyr&region=EU&token=new-token
    form:
      name:
      - new-test-scalyr
      region:
      - EU
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/60/logging/scalyr/test-scalyr
    method: PUT
  response:
    body: '{"format_version":"2","created_at":"2022-11-04T16:06:19Z","response_condition":"","deleted_at":null,"token":"new-token","updated_at":"2022-11-04T16:06:19Z","project_id":null,"format":"%h
      %l %u %t \"%r\" %\u003es %b","version":"60","region":"EU","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"new-test-scalyr","placement":"waf_debug"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1667581200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
