---
version: 1
interactions:
- request:
    body: name=new-test-scalyr&project_id=app-name&region=EU&token=new-token
    form:
      name:
      - new-test-scalyr
      project_id:
      - app-name
      region:
      - EU
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/8/logging/scalyr/test-scalyr
    method: PUT
  response:
    body: '{"token":"new-token","format_version":"2","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2025-02-28T21:33:56Z","region":"EU","response_condition":"","deleted_at":null,"format":"%h
      %l %u %t \"%r\" %\u003es %b","updated_at":"2025-02-28T21:33:56Z","name":"new-test-scalyr","project_id":"app-name","placement":null,"version":"8"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9961"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
