---
version: 1
interactions:
- request:
    body: Name=test-scalyr&Service=7i6HN3TK9wS159v2gPAZ8A&Version=132&name=new-test-scalyr&token=new-token
    form:
      Name:
      - test-scalyr
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "132"
      name:
      - new-test-scalyr
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/132/logging/scalyr/test-scalyr
    method: PUT
  response:
    body: '{"response_condition":"","token":"new-token","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2020-05-08T11:59:59Z","version":"132","name":"new-test-scalyr","placement":"waf_debug","updated_at":"2020-05-08T11:59:59Z","deleted_at":null,"format_version":"2","format":"%h
      %l %u %t \"%r\" %\u003es %b"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "999"
      Fastly-Ratelimit-Reset:
      - "1588942800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
