---
version: 1
interactions:
- request:
    body: '{"name":"new-test-scalyr","placement":null,"log_processing_region":"eu","project_id":"app-name","region":"EU","token":"new-token"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/173/logging/scalyr/test-scalyr
    method: PUT
  response:
    body: '{"deleted_at":null,"format_version":"2","response_condition":"","project_id":"app-name","placement":null,"version":"173","service_id":"kKJb5bOFI47uHeBVluGfX1","region":"EU","name":"new-test-scalyr","created_at":"2026-07-23T19:31:01Z","log_processing_region":"eu","updated_at":"2026-07-23T19:31:01Z","token":"new-token","format":"%h
      %l %u %t \"%r\" %\u003es %b"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9642"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
