---
version: 1
interactions:
- request:
    body: Name=test-scalyr&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=88&name=new-test-scalyr&region=EU&token=new-token
    form:
      Name:
      - test-scalyr
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "88"
      name:
      - new-test-scalyr
      region:
      - EU
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/88/logging/scalyr/test-scalyr
    method: PUT
  response:
    body: '{"placement":"waf_debug","version":"88","format_version":"2","updated_at":"2021-11-03T17:14:02Z","deleted_at":null,"response_condition":"","token":"new-token","project_id":null,"region":"EU","created_at":"2021-11-03T17:14:02Z","format":"%h
      %l %u %t \"%r\" %\u003es %b","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"new-test-scalyr"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4907"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
