---
version: 1
interactions:
- request:
    body: '{"Data":{"Type":"tls_private_key","Attributes":{"Key":"-----BEGIN PRIVATE
      KEY-----\n...\n-----END PRIVATE KEY-----\n","Name":"My private key"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/tls/private_keys
    method: POST
  response:
    body: '{"data": {"id": "PRIVATE_KEY_ID","type": "tls_private_key","attributes": {"key_length": 2048,"key_type": "RSA","name": "My private key","created_at": "2019-02-01T12:12:12.000Z","replace": false,"public_key_sha1": "KEY_DIGEST"}}}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "980"
      Fastly-Ratelimit-Reset:
      - "1559862000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200