---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tls/private_keys
    method: GET
  response:
    body: '{"data":[{"id":"2Bh0QhgtpUdtbsFkAZOmvi","type":"tls_private_key","attributes":{"key_length":2048,"key_type":"RSA","name":"My
      private key","created_at":"2022-01-10T08:23:03.000Z","replace":false,"public_key_sha1":"aad823355d14cdc06a5299f5b92224a37e600c65"}},{"id":"6e3NKQpQ7Asqbhx1R2bQMN","type":"tls_private_key","attributes":{"key_length":2048,"key_type":"RSA","name":null,"created_at":"2021-11-10T04:01:53.000Z","replace":false,"public_key_sha1":"5dd91fa98a6d9b1840cbd4e057de0e2399394d98"}}],"meta":{"record_count":2,"current_page":1,"per_page":20,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
