---
version: 1
rwmutex: {}
interactions:
- request:
    body: comment=comment&name=test-service
    form:
      comment:
      - comment
      name:
      - test-service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"7Tdn3IoAG8ATIy3P3XTZrY","comment":"comment","name":"test-service","publish_key":"cb8567ea1ecb0fff07fef679093bf914a8258812","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"6cqczz91loS2dnXX5w9UIC","staging":false,"created_at":"2017-07-20T01:14:59+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-20T01:14:59+00:00","deployed":false}],"deleted_at":null,"created_at":"2017-07-20T01:14:59+00:00","updated_at":"2017-07-20T01:14:59+00:00","id":"6cqczz91loS2dnXX5w9UIC"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "982"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
