---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/KejLJtckrFM6HKnBUujiA/details
    method: GET
  response:
    body: '{"name":"test-service","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"KejLJtckrFM6HKnBUujiA","staging":false,"created_at":"2017-04-17T16:00:56+00:00","deleted_at":null,"comment":"","updated_at":"2017-04-17T16:00:56+00:00","deployed":false}],"created_at":"2017-04-17T16:00:56+00:00","customer_id":"7Tdn3IoAG8ATIy3P3XTZrY","comment":"comment","updated_at":"2017-04-17T16:00:56+00:00","id":"KejLJtckrFM6HKnBUujiA","version":{"testing":false,"number":1,"service_id":"KejLJtckrFM6HKnBUujiA","staging":false,"updated_at":"2017-04-17T16:00:56+00:00","deployed":false,"locked":false,"active":false,"deleted_at":null,"created_at":"2017-04-17T16:00:56+00:00","comment":"","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
