---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/4eAa9QYCQAZhqDIh5JW3Sk/details
    method: GET
  response:
    body: '{"name":"test-service","versions":[{"testing":null,"locked":false,"number":1,"active":null,"service_id":"4eAa9QYCQAZhqDIh5JW3Sk","staging":null,"created_at":"2016-04-03T16:46:22+00:00","deleted_at":null,"comment":"","updated_at":"2016-04-03T16:46:22+00:00","deployed":null,"inherit_service_id":null}],"customer_id":"7Tdn3IoAG8ATIy3P3XTZrY","comment":"comment","id":"4eAa9QYCQAZhqDIh5JW3Sk","version":{"testing":null,"number":1,"service_id":"4eAa9QYCQAZhqDIh5JW3Sk","staging":null,"inherit_service_id":null,"deployed":null,"locked":false,"active":null,"comment":"","backends":[],"directors":[],"domains":[],"healthchecks":[],"matches":[],"origins":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.default_host":"","general.default_pci":0},"conditions":[],"request_settings":[],"cache_settings":[],"response_objects":[],"headers":[],"gzips":[]},"active_version":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
