---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/4eAa9QYCQAZhqDIh5JW3Sk
    method: GET
  response:
    body: '{"publish_key":"6a0bf08e398c5fda0704e55d7661a5aa48cfd50f","name":"test-service","versions":[{"testing":null,"locked":"0","number":"1","backend":0,"active":null,"service_id":"4eAa9QYCQAZhqDIh5JW3Sk","service":"4eAa9QYCQAZhqDIh5JW3Sk","staging":null,"created_at":"2016-04-03T16:46:22","deleted_at":null,"comment":"","updated_at":"2016-04-03T16:46:22","deployed":null,"inherit_service_id":null}],"deleted_at":null,"created_at":"2016-04-03T16:46:22+00:00","comment":"comment","customer_id":"7Tdn3IoAG8ATIy3P3XTZrY","updated_at":"2016-04-03T16:46:22+00:00","id":"4eAa9QYCQAZhqDIh5JW3Sk"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
