---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/KejLJtckrFM6HKnBUujiA
    method: GET
  response:
    body: '{"publish_key":"1efe5aa1839ca68543c132ca1af76d528fbd5b05","name":"test-service","versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"KejLJtckrFM6HKnBUujiA","staging":false,"created_at":"2017-04-17T16:00:56+00:00","deleted_at":null,"comment":"","updated_at":"2017-04-17T16:00:56+00:00","deployed":false}],"deleted_at":null,"created_at":"2017-04-17T16:00:56+00:00","comment":"comment","customer_id":"7Tdn3IoAG8ATIy3P3XTZrY","updated_at":"2017-04-17T16:00:56+00:00","id":"KejLJtckrFM6HKnBUujiA"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
