---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service
    method: GET
  response:
    body: '[{"version":1,"name":"go-fastly-testing","versions":[{"testing":null,"locked":"1","number":"1","active":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","service":"7i6HN3TK9wS159v2gPAZ8A","staging":null,"created_at":"2015-12-22T21:57:27","deleted_at":null,"comment":"","updated_at":"2015-12-22T21:57:30","deployed":null,"inherit_service_id":null},{"testing":null,"locked":"0","number":"2","active":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","service":"7i6HN3TK9wS159v2gPAZ8A","staging":null,"created_at":"2015-12-22T21:58:01","deleted_at":null,"comment":"","updated_at":"2015-12-22T21:58:01","deployed":null,"inherit_service_id":null},{"testing":null,"locked":"0","number":"3","active":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","service":"7i6HN3TK9wS159v2gPAZ8A","staging":null,"created_at":"2015-12-22T22:00:27","deleted_at":null,"comment"[...]
