---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/search?name=test-service
    method: GET
  response:
    body: '{"name":"test-service","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"6cqczz91loS2dnXX5w9UIC","staging":false,"created_at":"2017-07-20T01:14:59+00:00","deleted_at":null,"comment":"","updated_at":"2017-07-20T01:14:59+00:00","deployed":false}],"created_at":"2017-07-20T01:14:59+00:00","customer_id":"7Tdn3IoAG8ATIy3P3XTZrY","comment":"comment","updated_at":"2017-07-20T01:14:59+00:00","id":"6cqczz91loS2dnXX5w9UIC"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
