---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/search?name=test-service
    method: GET
  response:
    body: '{"name":"test-service","deleted_at":null,"versions":[{"testing":false,"locked":false,"number":1,"active":false,"service_id":"5If2o28xCYTG5SGEsNyDC1","staging":false,"created_at":"2016-06-29T22:27:36+00:00","deleted_at":null,"comment":"","updated_at":"2016-06-29T22:27:36+00:00","deployed":false}],"created_at":"2016-06-29T22:27:36+00:00","customer_id":"7Tdn3IoAG8ATIy3P3XTZrY","comment":"comment","updated_at":"2016-06-29T22:27:36+00:00","id":"5If2o28xCYTG5SGEsNyDC1"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
