---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-5577006791947779410&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-5577006791947779410
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service-5577006791947779410","type":"vcl","created_at":"2020-10-07T13:09:06Z","updated_at":"2020-10-07T13:09:06Z","deleted_at":null,"versions":[{"deleted_at":null,"comment":"","testing":false,"locked":false,"active":false,"deployed":false,"service_id":"5ZTGLKH5LoWkfPUSAv1w6X","staging":false,"updated_at":"2020-10-07T13:09:06Z","number":1,"created_at":"2020-10-07T13:09:06Z"}],"publish_key":"","id":"5ZTGLKH5LoWkfPUSAv1w6X"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4950"
      Fastly-Ratelimit-Reset:
      - "1602079200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
