---
version: 1
rwmutex: {}
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_1562949845
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_1562949845
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_1562949845","deleted_at":null,"publish_key":"a73264096d952b5eb9ba106b355641774313c808","id":"4K6WUUxrfTR8urIIFAUhpy","updated_at":"2019-07-12T16:44:05Z","versions":[{"locked":false,"service_id":"4K6WUUxrfTR8urIIFAUhpy","created_at":"2019-07-12T16:44:05Z","deployed":false,"staging":false,"active":false,"testing":false,"deleted_at":null,"number":1,"updated_at":"2019-07-12T16:44:05Z","comment":""}],"created_at":"2019-07-12T16:44:05Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "953"
      Fastly-Ratelimit-Reset:
      - "1562950800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
