---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7BETwKaHgBudYYud5D8kUv&Version=2&name=test_dictionary_BatchModifyDictionaryItems_Delete
    form:
      Service:
      - 7BETwKaHgBudYYud5D8kUv
      Version:
      - "2"
      name:
      - test_dictionary_BatchModifyDictionaryItems_Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7BETwKaHgBudYYud5D8kUv/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Delete","service_id":"7BETwKaHgBudYYud5D8kUv","version":2,"deleted_at":null,"created_at":"2019-07-16T11:30:15Z","updated_at":"2019-07-16T11:30:15Z","write_only":false,"id":"1d3q6SOskD5WKWbHAH3OXL"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "955"
      Fastly-Ratelimit-Reset:
      - "1563278400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
