---
version: 1
rwmutex: {}
interactions:
- request:
    body: '{"items":[{"op":"create","item_key":"key1","item_value":"val1"},{"op":"create","item_key":"key2","item_value":"val2"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7BETwKaHgBudYYud5D8kUv/dictionary/1d3q6SOskD5WKWbHAH3OXL/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "954"
      Fastly-Ratelimit-Reset:
      - "1563278400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
