---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Delete&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Delete
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Delete","type":"vcl","id":"05ivbgRNjYUzRD0vUbobb1","publish_key":"","updated_at":"2021-01-14T10:23:56Z","deleted_at":null,"versions":[{"staging":false,"locked":false,"number":1,"created_at":"2021-01-14T10:23:56Z","comment":"","active":false,"service_id":"05ivbgRNjYUzRD0vUbobb1","testing":false,"deleted_at":null,"updated_at":"2021-01-14T10:23:56Z","deployed":false}],"paused":false,"created_at":"2021-01-14T10:23:56Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "959"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
