---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Delete&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Delete
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Delete","type":"vcl","deleted_at":null,"publish_key":"","versions":[{"updated_at":"2023-11-28T14:24:04Z","active":false,"comment":"","locked":false,"deployed":false,"created_at":"2023-11-28T14:24:04Z","deleted_at":null,"service_id":"VO1f3q7mWtceqmR0FTEww6","staging":false,"testing":false,"number":1}],"updated_at":"2023-11-28T14:24:04Z","id":"VO1f3q7mWtceqmR0FTEww6","created_at":"2023-11-28T14:24:04Z","paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9973"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
