---
version: 1
interactions:
- request:
    body: ServiceID=05ivbgRNjYUzRD0vUbobb1&ServiceVersion=2&name=test_dictionary_BatchModifyDictionaryItems_Delete
    form:
      ServiceID:
      - 05ivbgRNjYUzRD0vUbobb1
      ServiceVersion:
      - "2"
      name:
      - test_dictionary_BatchModifyDictionaryItems_Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/05ivbgRNjYUzRD0vUbobb1/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Delete","service_id":"05ivbgRNjYUzRD0vUbobb1","version":2,"updated_at":"2021-01-14T10:23:57Z","id":"30B7QxXf0GuF3CYixw7bny","created_at":"2021-01-14T10:23:57Z","write_only":false,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "957"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
