---
version: 1
interactions:
- request:
    body: ServiceID=4qAarbm9YqjHgJSlpkVZhb&ServiceVersion=2&name=test_dictionary_BatchModifyDictionaryItems_Delete
    form:
      ServiceID:
      - 4qAarbm9YqjHgJSlpkVZhb
      ServiceVersion:
      - "2"
      name:
      - test_dictionary_BatchModifyDictionaryItems_Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/4qAarbm9YqjHgJSlpkVZhb/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Delete","service_id":"4qAarbm9YqjHgJSlpkVZhb","version":2,"write_only":false,"deleted_at":null,"id":"7AX6uaEQq0dWFzVprBevRB","created_at":"2021-11-03T16:14:53Z","updated_at":"2021-11-03T16:14:53Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4972"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
