---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=4K6WUUxrfTR8urIIFAUhpy&Version=2&name=test_dictionary_1562949846
    form:
      Service:
      - 4K6WUUxrfTR8urIIFAUhpy
      Version:
      - "2"
      name:
      - test_dictionary_1562949846
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - zvk45NN9y28SUfa29P9sMqm9PDax8doD
    url: https://api.fastly.com/service/4K6WUUxrfTR8urIIFAUhpy/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_1562949846","service_id":"4K6WUUxrfTR8urIIFAUhpy","version":2,"write_only":false,"created_at":"2019-07-12T16:44:06Z","id":"2bajlozWQ6MUdGFWoRXVpX","deleted_at":null,"updated_at":"2019-07-12T16:44:06Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "951"
      Fastly-Ratelimit-Reset:
      - "1562950800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
