---
version: 1
interactions:
- request:
    body: name=test_dictionary_BatchModifyDictionaryItems_Delete
    form:
      name:
      - test_dictionary_BatchModifyDictionaryItems_Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/VO1f3q7mWtceqmR0FTEww6/version/2/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary_BatchModifyDictionaryItems_Delete","service_id":"VO1f3q7mWtceqmR0FTEww6","version":2,"created_at":"2023-11-28T14:24:05Z","updated_at":"2023-11-28T14:24:05Z","id":"E8G84Uv06Wd559j0hrGn27","deleted_at":null,"write_only":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9971"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
