---
version: 1
rwmutex: {}
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Delete
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Delete","id":"7BETwKaHgBudYYud5D8kUv","publish_key":"f018d25b6704242fb0a25f8bce7cd9066d0e43b4","deleted_at":null,"versions":[{"testing":false,"comment":"","service_id":"7BETwKaHgBudYYud5D8kUv","locked":false,"deleted_at":null,"updated_at":"2019-07-16T11:30:15Z","staging":false,"deployed":false,"active":false,"number":1,"created_at":"2019-07-16T11:30:15Z"}],"updated_at":"2019-07-16T11:30:15Z","created_at":"2019-07-16T11:30:15Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "957"
      Fastly-Ratelimit-Reset:
      - "1563278400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
