---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyDictionaryItems_Delete&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyDictionaryItems_Delete
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyDictionaryItems_Delete","type":"vcl","created_at":"2021-11-03T16:14:53Z","paused":false,"deleted_at":null,"id":"4qAarbm9YqjHgJSlpkVZhb","publish_key":"","updated_at":"2021-11-03T16:14:53Z","versions":[{"updated_at":"2021-11-03T16:14:53Z","service_id":"4qAarbm9YqjHgJSlpkVZhb","number":1,"deployed":false,"active":false,"deleted_at":null,"testing":false,"comment":"","locked":false,"staging":false,"created_at":"2021-11-03T16:14:53Z"}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4974"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
