---
version: 1
interactions:
- request:
    body: '{"items":[{"item_key":"key2","item_value":"val2","op":"delete"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/VO1f3q7mWtceqmR0FTEww6/dictionary/E8G84Uv06Wd559j0hrGn27/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9969"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
