---
version: 1
interactions:
- request:
    body: '{"items":[{"op":"delete","item_key":"key2","item_value":"val2"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/4qAarbm9YqjHgJSlpkVZhb/dictionary/7AX6uaEQq0dWFzVprBevRB/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4970"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
