---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/4K6WUUxrfTR8urIIFAUhpy/dictionary/2bajlozWQ6MUdGFWoRXVpX/items
    method: GET
  response:
    body: '[{"updated_at":"2019-07-12T16:44:06Z","created_at":"2019-07-12T16:44:06Z","deleted_at":null,"item_key":"key1","dictionary_id":"2bajlozWQ6MUdGFWoRXVpX","item_value":"val1","service_id":"4K6WUUxrfTR8urIIFAUhpy"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
