---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7BETwKaHgBudYYud5D8kUv/dictionary/1d3q6SOskD5WKWbHAH3OXL/items
    method: GET
  response:
    body: '[{"item_key":"key1","deleted_at":null,"item_value":"val1","dictionary_id":"1d3q6SOskD5WKWbHAH3OXL","service_id":"7BETwKaHgBudYYud5D8kUv","updated_at":"2019-07-16T11:30:16Z","created_at":"2019-07-16T11:30:16Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
