---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/05ivbgRNjYUzRD0vUbobb1/dictionary/30B7QxXf0GuF3CYixw7bny/items
    method: GET
  response:
    body: '[{"created_at":"2021-01-14T10:23:57Z","deleted_at":null,"item_value":"val1","dictionary_id":"30B7QxXf0GuF3CYixw7bny","updated_at":"2021-01-14T10:23:57Z","item_key":"key1","service_id":"05ivbgRNjYUzRD0vUbobb1"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
