---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/4qAarbm9YqjHgJSlpkVZhb/dictionary/7AX6uaEQq0dWFzVprBevRB/items
    method: GET
  response:
    body: '[{"item_value":"val1","dictionary_id":"7AX6uaEQq0dWFzVprBevRB","updated_at":"2021-11-03T16:14:54Z","created_at":"2021-11-03T16:14:54Z","deleted_at":null,"item_key":"key1","service_id":"4qAarbm9YqjHgJSlpkVZhb"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
