---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/VO1f3q7mWtceqmR0FTEww6/dictionary/E8G84Uv06Wd559j0hrGn27/items?page=1&per_page=100
    method: GET
  response:
    body: '[{"service_id":"VO1f3q7mWtceqmR0FTEww6","updated_at":"2023-11-28T14:24:05Z","dictionary_id":"E8G84Uv06Wd559j0hrGn27","created_at":"2023-11-28T14:24:05Z","deleted_at":null,"item_value":"val1","item_key":"key1"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
