---
version: 1
interactions:
- request:
    body: ServiceID=3U83pdesYFrsH5Mgt6tN2C&ServiceVersion=2&name=WAf_Response&status=403
    form:
      ServiceID:
      - 3U83pdesYFrsH5Mgt6tN2C
      ServiceVersion:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3U83pdesYFrsH5Mgt6tN2C/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"3U83pdesYFrsH5Mgt6tN2C","version":"2","cache_condition":"","deleted_at":null,"created_at":"2021-11-03T17:28:48Z","content":null,"response":"ok","updated_at":"2021-11-03T17:28:48Z","request_condition":"","content_type":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4776"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
