---
version: 1
interactions:
- request:
    body: Service=300YFPn1PVF82Na4SUkiqy&Version=2&content=abcd&content_type=text%2Fplain&name=WAf_Response&response=Ok&status=200
    form:
      Service:
      - 300YFPn1PVF82Na4SUkiqy
      Version:
      - "2"
      content:
      - abcd
      content_type:
      - text/plain
      name:
      - WAf_Response
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/300YFPn1PVF82Na4SUkiqy/version/2/response_object
    method: POST
  response:
    body: '{"content":"abcd","content_type":"text/plain","name":"WAf_Response","response":"Ok","status":"200","service_id":"300YFPn1PVF82Na4SUkiqy","version":"2","cache_condition":"","created_at":"2019-11-25T14:43:31Z","request_condition":"","updated_at":"2019-11-25T14:43:31Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "995"
      Fastly-Ratelimit-Reset:
      - "1574694000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
