---
version: 1
interactions:
- request:
    body: ServiceID=01yXo1ojqff8q5FU2Mt2uX&ServiceVersion=2&name=WAf_Response&status=403
    form:
      ServiceID:
      - 01yXo1ojqff8q5FU2Mt2uX
      ServiceVersion:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/01yXo1ojqff8q5FU2Mt2uX/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"01yXo1ojqff8q5FU2Mt2uX","version":"2","cache_condition":"","content_type":null,"request_condition":"","created_at":"2021-01-14T10:27:48Z","response":"ok","content":null,"deleted_at":null,"updated_at":"2021-01-14T10:27:48Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "869"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
