---
version: 1
interactions:
- request:
    body: Service=5mAR0wHKpNJjOqc65YeDqI&Version=2&name=WAf_Response&status=403
    form:
      Service:
      - 5mAR0wHKpNJjOqc65YeDqI
      Version:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5mAR0wHKpNJjOqc65YeDqI/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"5mAR0wHKpNJjOqc65YeDqI","version":"2","response":"ok","updated_at":"2020-07-02T20:05:33Z","created_at":"2020-07-02T20:05:33Z","cache_condition":"","request_condition":"","deleted_at":null,"content_type":null,"content":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "977"
      Fastly-Ratelimit-Reset:
      - "1593723600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
