---
version: 1
interactions:
- request:
    body: Service=52szbbqIWi1L5bUd4EBKkX&Version=2&name=WAf_Response&status=403
    form:
      Service:
      - 52szbbqIWi1L5bUd4EBKkX
      Version:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/52szbbqIWi1L5bUd4EBKkX/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"52szbbqIWi1L5bUd4EBKkX","version":"2","content":null,"response":"ok","updated_at":"2020-07-02T20:20:56Z","cache_condition":"","created_at":"2020-07-02T20:20:56Z","request_condition":"","deleted_at":null,"content_type":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "950"
      Fastly-Ratelimit-Reset:
      - "1593723600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
