---
version: 1
interactions:
- request:
    body: Service=3BOOVoayIlrdMuRU8LrKSA&Version=2&name=WAf_Response&status=403
    form:
      Service:
      - 3BOOVoayIlrdMuRU8LrKSA
      Version:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3BOOVoayIlrdMuRU8LrKSA/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"3BOOVoayIlrdMuRU8LrKSA","version":"2","content":null,"cache_condition":"","request_condition":"","updated_at":"2020-06-30T10:56:26Z","content_type":null,"created_at":"2020-06-30T10:56:26Z","deleted_at":null,"response":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "679"
      Fastly-Ratelimit-Reset:
      - "1593514800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
