---
version: 1
interactions:
- request:
    body: Service=5GZsX83POn5zij6allCOKe&Version=2&name=WAf_Response&status=403
    form:
      Service:
      - 5GZsX83POn5zij6allCOKe
      Version:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5GZsX83POn5zij6allCOKe/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"5GZsX83POn5zij6allCOKe","version":"2","request_condition":"","content_type":null,"created_at":"2020-07-06T11:09:06Z","deleted_at":null,"response":"ok","content":null,"cache_condition":"","updated_at":"2020-07-06T11:09:06Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "977"
      Fastly-Ratelimit-Reset:
      - "1594036800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
