---
version: 1
interactions:
- request:
    body: '{"field":"somefield","type":"request_parameter"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/redactions
    method: POST
  response:
    body: |
      {"id":"6861357f5c9dcd271cf57f11","field":"somefield","type":"request_parameter","created_at":"2025-06-29T12:45:51Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
