---
version: 1
interactions:
- request:
    body: '{"field":"somefield","type":"request_parameter"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/redactions
    method: POST
  response:
    body: |
      {"id":"68615bf5b4e1b345f4355c17","field":"somefield","type":"request_parameter","created_at":"2025-06-29T15:29:57Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
