---
version: 1
interactions:
- request:
    body: '{"field":"somefield","type":"request_parameter"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/redactions
    method: POST
  response:
    body: |
      {"id":"6839f562ce0b68dbd0c4274e","field":"somefield","type":"request_parameter","created_at":"2025-05-30T18:13:54Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
