---
version: 1
interactions:
- request:
    body: '{"field":"some-other-field","type":"response_header"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/redactions/6861357f5c9dcd271cf57f11
    method: PATCH
  response:
    body: |
      {"id":"6861357f5c9dcd271cf57f11","field":"some-other-field","type":"response_header","created_at":"2025-06-29T12:45:51Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
