---
version: 1
interactions:
- request:
    body: '{"field":"some-other-field","type":"response_header"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/alk6DTsYKHKucJCOIavaJM/redactions/6839f562ce0b68dbd0c4274e
    method: PATCH
  response:
    body: |
      {"id":"6839f562ce0b68dbd0c4274e","field":"some-other-field","type":"response_header","created_at":"2025-05-30T18:13:54Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
