---
version: 1
interactions:
- request:
    body: '{"name":"TestClient_CreateKVStoresWithLocations_US"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/kv?location=US
    method: POST
  response:
    body: '{"id":"l0jnr80jyl0fpils4dqzvh","name":"TestClient_CreateKVStoresWithLocations_US","created_at":"2024-04-17
      14:02:22","updated_at":"2024-04-17 14:02:22"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"TestClient_CreateKVStoresWithLocations_EU"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/kv?location=EU
    method: POST
  response:
    body: '{"id":"j637x7hrx3paj1qysky7cl","name":"TestClient_CreateKVStoresWithLocations_EU","created_at":"2024-04-17
      14:02:27","updated_at":"2024-04-17 14:02:27"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"TestClient_CreateKVStoresWithLocations_ASIA"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/kv?location=ASIA
    method: POST
  response:
    body: '{"id":"bnkj22sjmn6ze2c97jimc3","name":"TestClient_CreateKVStoresWithLocations_ASIA","created_at":"2024-04-17
      14:02:30","updated_at":"2024-04-17 14:02:30"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"TestClient_CreateKVStoresWithLocations_AUS"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/kv?location=AUS
    method: POST
  response:
    body: '{"id":"avp2ql3vm5ia5ylal8x3wn","name":"TestClient_CreateKVStoresWithLocations_AUS","created_at":"2024-04-17
      14:02:34","updated_at":"2024-04-17 14:02:34"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
