---
version: 1
interactions:
- request:
    body: '{"name":"TestClient_CreateKVStoresWithLocations_US"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/kv?location=US
    method: POST
  response:
    body: '{"id":"by19id44okrxf9ui4nr93j","name":"TestClient_CreateKVStoresWithLocations_US","created_at":"2024-04-16
      14:10:02","updated_at":"2024-04-16 14:10:02"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"TestClient_CreateKVStoresWithLocations_EU"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/kv?location=EU
    method: POST
  response:
    body: '{"id":"kkowf43t9yqupo6r7kh0cs","name":"TestClient_CreateKVStoresWithLocations_EU","created_at":"2024-04-16
      14:10:08","updated_at":"2024-04-16 14:10:08"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"TestClient_CreateKVStoresWithLocations_ASIA"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/kv?location=ASIA
    method: POST
  response:
    body: '{"id":"afd1ypidt5tyh4e6ammjn8","name":"TestClient_CreateKVStoresWithLocations_ASIA","created_at":"2024-04-16
      14:10:12","updated_at":"2024-04-16 14:10:12"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"TestClient_CreateKVStoresWithLocations_AUS"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/kv?location=AUS
    method: POST
  response:
    body: '{"id":"r2an4zjgv6vm7o14aqm4qt","name":"TestClient_CreateKVStoresWithLocations_AUS","created_at":"2024-04-16
      14:10:17","updated_at":"2024-04-16 14:10:17"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
