---
version: 1
interactions:
- request:
    body: '{"name":"TestClient_CreateKVStoresWithLocations_US"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/kv?location=US
    method: POST
  response:
    body: '{"id":"f2d218va6ej3q4h8hl8o11","name":"TestClient_CreateKVStoresWithLocations_US","created_at":"2025-06-23
      19:40:58","updated_at":"2025-06-23 19:40:58"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"TestClient_CreateKVStoresWithLocations_EU"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/kv?location=EU
    method: POST
  response:
    body: '{"id":"x2by6k4r9xjh9pcvy7dcgk","name":"TestClient_CreateKVStoresWithLocations_EU","created_at":"2025-06-23
      19:41:02","updated_at":"2025-06-23 19:41:02"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"TestClient_CreateKVStoresWithLocations_ASIA"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/kv?location=ASIA
    method: POST
  response:
    body: '{"id":"fbqzbegmluwx4jdg4z6ntd","name":"TestClient_CreateKVStoresWithLocations_ASIA","created_at":"2025-06-23
      19:41:06","updated_at":"2025-06-23 19:41:06"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"TestClient_CreateKVStoresWithLocations_AUS"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/kv?location=AUS
    method: POST
  response:
    body: '{"id":"evzdapufg1m95noqo7i45p","name":"TestClient_CreateKVStoresWithLocations_AUS","created_at":"2025-06-23
      19:41:10","updated_at":"2025-06-23 19:41:10"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
