---
version: 1
rwmutex: {}
interactions:
- request:
    body: Backend=backend&Director=director&Service=7i6HN3TK9wS159v2gPAZ8A&Version=651
    form:
      Backend:
      - backend
      Director:
      - director
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "651"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/651/director/director/backend/backend
    method: POST
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":651,"director_name":"director","backend_name":"backend","created_at":"2017-04-17T16:00:56+00:00","deleted_at":null,"updated_at":"2017-04-17T16:00:56+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "957"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
