---
version: 1
interactions:
- request:
    body: Backend=backend&Director=director&Service=7i6HN3TK9wS159v2gPAZ8A&Version=552
    form:
      Backend:
      - backend
      Director:
      - director
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "552"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/552/director/director/backend/backend
    method: POST
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":552,"director_name":"director","backend_name":"backend","created_at":"2016-04-03T16:46:18+00:00","deleted_at":null,"updated_at":"2016-04-03T16:46:18+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
