---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/6dV8eJUF4ViYvaSGIoEIFE/version/2/package
    method: GET
  response:
    body: '{"metadata":{"name":"wasm-test","description":"Default package template
      used by the Fastly CLI for Rust-based Compute@Edge projects.","authors":["guy.richardson+fastly@opencredo.com"],"language":"rust","size":2179443,"hashsum":"119a5ac6ec8a6dc29107b87de3bba5d98b6e89827310dd01f4e8cbf89234125bf4f7b81603ac7df42ce0205d047ac2caa53ec0cc52839112aed786cb7f27ac92"},"updated_at":"2020-06-24T08:11:45Z","created_at":"2020-06-24T08:11:44Z","version":2,"service_id":"6dV8eJUF4ViYvaSGIoEIFE","deleted_at":null,"id":"1VWqouO9TkE2B9fhKcPlBk"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
