---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/5PsLIoA5bDygjm13yqYwjb/version/2/package
    method: GET
  response:
    body: '{"deleted_at":null,"version":2,"metadata":{"name":"wasm-test","description":"Default
      package template used by the Fastly CLI for Rust-based Compute@Edge projects.","authors":["fastly@fastly.com"],"language":"rust","size":2015936,"hashsum":"f99485bd301e23f028474d26d398da525de17a372ae9e7026891d7f85361d2540d14b3b091929c3f170eade573595e20b3405a9e29651ede59915f2e1652f616"},"id":"6RO2wlWCaI37mikadHfaGC","updated_at":"2020-06-24T10:58:56Z","service_id":"5PsLIoA5bDygjm13yqYwjb","created_at":"2020-06-24T10:58:56Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
