---
version: 1
interactions:
- request:
    body: comment=go-fastly+wasm+client+test&name=test_service_wasm_wasmPackage&type=wasm
    form:
      comment:
      - go-fastly wasm client test
      name:
      - test_service_wasm_wasmPackage
      type:
      - wasm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly wasm client
      test","name":"test_service_wasm_wasmPackage","type":"wasm","updated_at":"2020-06-24T10:58:53Z","publish_key":"","deleted_at":null,"versions":[{"active":false,"service_id":"5PsLIoA5bDygjm13yqYwjb","comment":"","locked":false,"updated_at":"2020-06-24T10:58:53Z","staging":false,"deleted_at":null,"deployed":false,"testing":false,"created_at":"2020-06-24T10:58:53Z","number":1}],"id":"5PsLIoA5bDygjm13yqYwjb","created_at":"2020-06-24T10:58:53Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "930"
      Fastly-Ratelimit-Reset:
      - "1592996400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
