---
version: 1
interactions:
- request:
    body: comment=go-fastly+wasm+client+test&name=test_service_wasm_wasmPackage&type=wasm
    form:
      comment:
      - go-fastly wasm client test
      name:
      - test_service_wasm_wasmPackage
      type:
      - wasm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly wasm client
      test","name":"test_service_wasm_wasmPackage","type":"wasm","publish_key":"","created_at":"2020-06-24T10:56:18Z","id":"1p2mDfXfs8FRgCQ05ELWkO","versions":[{"updated_at":"2020-06-24T10:56:18Z","deleted_at":null,"locked":false,"active":false,"created_at":"2020-06-24T10:56:18Z","comment":"","service_id":"1p2mDfXfs8FRgCQ05ELWkO","number":1,"staging":false,"deployed":false,"testing":false}],"deleted_at":null,"updated_at":"2020-06-24T10:56:18Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "935"
      Fastly-Ratelimit-Reset:
      - "1592996400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
