---
version: 1
interactions:
- request:
    body: comment=go-fastly+wasm+client+test&name=test_service_wasm_wasmPackage&type=wasm
    form:
      comment:
      - go-fastly wasm client test
      name:
      - test_service_wasm_wasmPackage
      type:
      - wasm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly wasm client
      test","name":"test_service_wasm_wasmPackage","type":"wasm","id":"0L6SGD3RiYpIHHmdJun425","updated_at":"2020-06-24T07:18:18Z","deleted_at":null,"created_at":"2020-06-24T07:18:18Z","publish_key":"","versions":[{"staging":false,"created_at":"2020-06-24T07:18:18Z","service_id":"0L6SGD3RiYpIHHmdJun425","deleted_at":null,"testing":false,"updated_at":"2020-06-24T07:18:18Z","number":1,"comment":"","active":false,"deployed":false,"locked":false}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "952"
      Fastly-Ratelimit-Reset:
      - "1592985600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
