---
version: 1
interactions:
- request:
    body: comment=go-fastly+wasm+client+test&name=test_service_wasm_wasmPackage&type=wasm
    form:
      comment:
      - go-fastly wasm client test
      name:
      - test_service_wasm_wasmPackage
      type:
      - wasm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly wasm client
      test","name":"test_service_wasm_wasmPackage","type":"wasm","updated_at":"2020-06-24T10:08:59Z","deleted_at":null,"publish_key":"","id":"6mEEFIEz4hBH6jAx2CC3vF","versions":[{"comment":"","created_at":"2020-06-24T10:08:59Z","active":false,"staging":false,"deleted_at":null,"number":1,"updated_at":"2020-06-24T10:08:59Z","deployed":false,"service_id":"6mEEFIEz4hBH6jAx2CC3vF","locked":false,"testing":false}],"created_at":"2020-06-24T10:08:59Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "984"
      Fastly-Ratelimit-Reset:
      - "1592996400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
