---
version: 1
interactions:
- request:
    body: comment=go-fastly+wasm+client+test&name=test_service_wasm_wasmPackage&type=wasm
    form:
      comment:
      - go-fastly wasm client test
      name:
      - test_service_wasm_wasmPackage
      type:
      - wasm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly wasm client
      test","name":"test_service_wasm_wasmPackage","type":"wasm","versions":[{"comment":"","deployed":false,"locked":false,"created_at":"2020-06-24T08:11:39Z","number":1,"service_id":"6dV8eJUF4ViYvaSGIoEIFE","staging":false,"deleted_at":null,"testing":false,"active":false,"updated_at":"2020-06-24T08:11:39Z"}],"id":"6dV8eJUF4ViYvaSGIoEIFE","updated_at":"2020-06-24T08:11:39Z","deleted_at":null,"created_at":"2020-06-24T08:11:39Z","publish_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "999"
      Fastly-Ratelimit-Reset:
      - "1592989200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
