---
version: 1
interactions:
- request:
    body: comment=go-fastly+wasm+client+test&name=test_service_wasm_wasmPackage&type=wasm
    form:
      comment:
      - go-fastly wasm client test
      name:
      - test_service_wasm_wasmPackage
      type:
      - wasm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly wasm client
      test","name":"test_service_wasm_wasmPackage","type":"wasm","created_at":"2020-06-23T11:11:31Z","deleted_at":null,"id":"2Q0B1WlDbii9DItrMCvIGL","versions":[{"number":1,"active":false,"deleted_at":null,"created_at":"2020-06-23T11:11:31Z","staging":false,"comment":"","deployed":false,"locked":false,"service_id":"2Q0B1WlDbii9DItrMCvIGL","testing":false,"updated_at":"2020-06-23T11:11:31Z"}],"publish_key":"","updated_at":"2020-06-23T11:11:31Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "944"
      Fastly-Ratelimit-Reset:
      - "1592913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
