---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - multipart/form-data; boundary=0122b9d9837208df9ab3a416550d01a4cf8329c4f1c149a054e05ecf7abe
    url: https://api.fastly.com/service/1p2mDfXfs8FRgCQ05ELWkO/version/2/package
    method: PUT
  response:
    body: '{"service_id":"1p2mDfXfs8FRgCQ05ELWkO","version":2,"deleted_at":null,"id":"4yPyuSrQInnyln57q8w14e","metadata":null,"updated_at":"2020-06-24T10:56:22Z","created_at":"2020-06-24T10:56:22Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "932"
      Fastly-Ratelimit-Reset:
      - "1592996400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
