---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - multipart/form-data; boundary=5beca65d1abdaad57bc95ab31961092fc5da497639ab03f8bb32dce78fe1
    url: https://api.fastly.com/service/6ry7sWKMHjoFaEzSDb4RCs/version/2/package
    method: PUT
  response:
    body: '{"service_id":"6ry7sWKMHjoFaEzSDb4RCs","version":2,"id":"7RB4FV9TLR40ZSkBAexNX1","deleted_at":null,"metadata":null,"updated_at":"2020-06-24T10:33:03Z","created_at":"2020-06-24T10:33:03Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "941"
      Fastly-Ratelimit-Reset:
      - "1592996400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
