---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - multipart/form-data; boundary=e1f5be3a903e7adf881976d9491cdb9daba005cbb0a33297965de2350cff
    url: https://api.fastly.com/service/5PsLIoA5bDygjm13yqYwjb/version/2/package
    method: PUT
  response:
    body: '{"service_id":"5PsLIoA5bDygjm13yqYwjb","version":2,"id":"1cyjdvdr1Ns8wgOzFGJaN7","created_at":"2020-06-24T10:58:57Z","deleted_at":null,"metadata":null,"updated_at":"2020-06-24T10:58:57Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "927"
      Fastly-Ratelimit-Reset:
      - "1592996400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
