---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/thresholds/xZFgIs65pi9RZHLqz73lr7
    method: GET
  response:
    body: |
      {"id":"xZFgIs65pi9RZHLqz73lr7","name":"Test Threshold","enabled":false,"signal":"SQLI","action":"block","interval":60,"limit":1,"duration":0,"dont_notify":false,"created_at":"2025-07-09T20:29:15Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
