---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/thresholds?limit=1
    method: GET
  response:
    body: |
      {"data":[{"id":"xZFgIs65pi9RZHLqz73lr7","name":"Updated Test Threshold","enabled":true,"signal":"BHH","action":"log","interval":600,"limit":2,"duration":1,"dont_notify":true,"created_at":"2025-07-09T20:29:15Z"}],"meta":{"limit":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
