---
version: 1
interactions:
- request:
    body: '{"action":"log","dont_notify":true,"duration":1,"enabled":true,"limit":2,"interval":600,"name":"Updated
      Test Threshold","signal":"BHH"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/thresholds/xZFgIs65pi9RZHLqz73lr7
    method: PATCH
  response:
    body: |
      {"id":"xZFgIs65pi9RZHLqz73lr7","name":"Updated Test Threshold","enabled":true,"signal":"BHH","action":"log","interval":600,"limit":2,"duration":1,"dont_notify":true,"created_at":"2025-07-09T20:29:15Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
