---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=665&name=test-director&quorum=50&retries=5&type=1
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "665"
      name:
      - test-director
      quorum:
      - "50"
      retries:
      - "5"
      type:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/665/director
    method: POST
  response:
    body: '{"name":"test-director","quorum":50,"retries":5,"type":1,"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":665,"shield":null,"deleted_at":null,"capacity":100,"created_at":"2017-04-17T16:01:02+00:00","backends":[],"comment":"","updated_at":"2017-04-17T16:01:02+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "881"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
