---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/559/director/test-director
    method: GET
  response:
    body: '{"retries":5,"version":559,"name":"test-director","shield":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"capacity":100,"created_at":"2016-04-03T16:46:19+00:00","backends":[],"comment":"","type":1,"updated_at":"2016-04-03T16:46:19+00:00","quorum":50}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
