---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/591/director
    method: GET
  response:
    body: '[{"retries":5,"version":591,"name":"test-director","shield":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"capacity":100,"created_at":"2016-06-29T22:27:26+00:00","backends":[],"comment":"","type":1,"updated_at":"2016-06-29T22:27:26+00:00","quorum":50}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
