---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-director&Service=7i6HN3TK9wS159v2gPAZ8A&Version=665&quorum=100
    form:
      Name:
      - test-director
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "665"
      quorum:
      - "100"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/665/director/test-director
    method: PUT
  response:
    body: '{"retries":5,"version":665,"name":"test-director","shield":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"capacity":100,"created_at":"2017-04-17T16:01:02+00:00","backends":[],"comment":"","type":1,"updated_at":"2017-04-17T16:01:02+00:00","quorum":100}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "874"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
