---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tls/certificates/1TvLUdms3P3wORynPDnXhu
    method: GET
  response:
    body: '{"data":{"id":"1TvLUdms3P3wORynPDnXhu","type":"tls_certificate","attributes":{"created_at":"2022-01-10T07:58:44.000Z","issued_to":"example.com","issuer":"example.com","name":"My
      certificate","not_after":"2022-04-10T07:58:43.000Z","not_before":"2022-01-10T07:58:43.000Z","replace":false,"serial_number":"5577006791947779410","signature_algorithm":"SHA256-RSA","updated_at":"2022-01-10T07:58:44.000Z"},"relationships":{"tls_domains":{"data":[{"id":"example.com","type":"tls_domain"}]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
