---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tls/certificates/ZwPwTJyjOePoOdUs0WvRO6
    method: GET
  response:
    body: '{"data":{"id":"ZwPwTJyjOePoOdUs0WvRO6","type":"tls_certificate","attributes":{"created_at":"2024-06-17T16:47:53.000Z","issued_to":"example.com","issuer":"example.com","name":"My
      certificate","not_after":"2024-09-15T16:47:52.000Z","not_before":"2024-06-17T16:47:52.000Z","replace":false,"serial_number":"131","signature_algorithm":"SHA256-RSA","updated_at":"2024-06-17T16:47:53.000Z"},"relationships":{"tls_domains":{"data":[{"id":"example.com","type":"tls_domain"}]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
