---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tls/certificates/CERTIFICATE_ID
    method: GET
  response:
    body: '{"data":{"id":"CERTIFICATE_ID","type":"tls_certificate","attributes":{"created_at":"2020-10-21T17:39:36.000Z","issued_to":"ISSUED_TO","issuer":"ISSUER","name":"My certificate","not_after":"2021-11-14T17:21:03.000Z","not_before":"2020-10-13T17:21:03.000Z","replace":false,"serial_number":"00000000000000000","signature_algorithm":"SHA256-RSA","updated_at":"2020-10-21T17:39:36.000Z"},"relationships":{"tls_domains":{"data":[{"id":"DOMAIN_NAME","type":"tls_domain"}]}}}}'
    headers:
      Content-Type:
        - application/json
      Status:
        - 200 OK
    status: 200 OK
    code: 200
