---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tls/certificates
    method: GET
  response:
    body: '{"data":[{"id":"1TvLUdms3P3wORynPDnXhu","type":"tls_certificate","attributes":{"created_at":"2022-01-10T07:58:44.000Z","issued_to":"example.com","issuer":"example.com","name":"My
      certificate","not_after":"2022-04-10T07:58:43.000Z","not_before":"2022-01-10T07:58:43.000Z","replace":false,"serial_number":"5577006791947779410","signature_algorithm":"SHA256-RSA","updated_at":"2022-01-10T07:58:44.000Z"},"relationships":{"tls_domains":{"data":[{"id":"example.com","type":"tls_domain"}]}}},{"id":"37bTehzIhUp7UiqGK3Mzef","type":"tls_certificate","attributes":{"created_at":"2021-11-10T04:01:58.000Z","issued_to":"tf-test-7729967424339125537.example.com","issuer":"tf-test-7729967424339125537.example.com","name":"tf-test-7729967424339125537.example.com","not_after":"2022-02-08T03:57:02.000Z","not_before":"2021-11-10T03:57:02.000Z","replace":false,"serial_number":"2341071107170126653","signature_algorithm":"SHA256-RSA","updated_at":"2021-11-10T04:01:58.000Z"},"relationships":{"tls_domains":{"data":[{"id":"tf-test-7729967424339125537.example.com","type":"tls_domain"}]}}}],"links":{"self":"https://api.fastly.com/tls/certificates?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://api.fastly.com/tls/certificates?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://api.fastly.com/tls/certificates?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"per_page":20,"current_page":1,"record_count":2,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
