---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/43/logging/kinesis/test-kinesis
    method: GET
  response:
    body: '{"topic":"stream-name","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2020-11-17T17:45:07Z","access_key":"AKIAIOSFODNN7EXAMPLE","name":"test-kinesis","format":"format","deleted_at":null,"version":"43","updated_at":"2020-11-17T17:45:07Z","format_version":"2","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","region":"us-east-1","placement":"waf_debug"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
