---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/43/logging/kinesis
    method: GET
  response:
    body: '[{"access_key":"AKIAIOSFODNN7EXAMPLE","region":"us-east-1","placement":"waf_debug","format":"format","name":"test-kinesis","version":"43","created_at":"2020-11-17T17:45:07Z","topic":"stream-name","service_id":"7i6HN3TK9wS159v2gPAZ8A","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","updated_at":"2020-11-17T17:45:07Z","deleted_at":null,"format_version":"2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
