---
version: 1
interactions:
- request:
    body: Name=test-kinesis&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=66&name=new-test-kinesis
    form:
      Name:
      - test-kinesis
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "66"
      name:
      - new-test-kinesis
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/66/logging/kinesis/test-kinesis
    method: PUT
  response:
    body: '{"created_at":"2021-01-14T11:10:02Z","topic":"stream-name","access_key":"AKIAIOSFODNN7EXAMPLE","placement":"waf_debug","format_version":"2","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","deleted_at":null,"region":"us-east-1","format":"format","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"new-test-kinesis","updated_at":"2021-01-14T11:10:02Z","version":"66","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "973"
      Fastly-Ratelimit-Reset:
      - "1610625600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
