---
version: 1
interactions:
- request:
    body: Name=test-kinesis&Service=7i6HN3TK9wS159v2gPAZ8A&Version=43&name=new-test-kinesis
    form:
      Name:
      - test-kinesis
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "43"
      name:
      - new-test-kinesis
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/43/logging/kinesis/test-kinesis
    method: PUT
  response:
    body: '{"created_at":"2020-11-17T17:45:07Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","topic":"stream-name","format_version":"2","updated_at":"2020-11-17T17:45:07Z","version":"43","deleted_at":null,"format":"format","name":"new-test-kinesis","access_key":"AKIAIOSFODNN7EXAMPLE","region":"us-east-1","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","placement":"waf_debug"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "985"
      Fastly-Ratelimit-Reset:
      - "1605636000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
