---
version: 1
interactions:
- request:
    body: '{"jpeg_type":"progressive"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/86/image_optimizer_default_settings
    method: PATCH
  response:
    body: '{"resize_filter":"nearest","webp":true,"webp_quality":42,"jpeg_type":"progressive","jpeg_quality":85,"upscale":true,"allow_video":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "980"
      Fastly-Ratelimit-Reset:
      - "1715637600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
