---
version: 1
interactions:
- request:
    body: ProductID=image_optimizer&ServiceID=qDAwPNSjDoCytjIZ6SfjF5
    form:
      ProductID:
      - image_optimizer
      ServiceID:
      - qDAwPNSjDoCytjIZ6SfjF5
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/enabled-products/image_optimizer/services/qDAwPNSjDoCytjIZ6SfjF5
    method: PUT
  response:
    body: |
      {"product":{"id":"image_optimizer","object":"product"},"service":{"id":"qDAwPNSjDoCytjIZ6SfjF5","object":"service"},"_links":{"self":"/enabled-products/image_optimizer/services/qDAwPNSjDoCytjIZ6SfjF5"}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
