---
version: 1
interactions:
- request:
    body: ProductID=image_optimizer&ServiceID=kKJb5bOFI47uHeBVluGfX1
    form:
      ProductID:
      - image_optimizer
      ServiceID:
      - kKJb5bOFI47uHeBVluGfX1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/enabled-products/image_optimizer/services/kKJb5bOFI47uHeBVluGfX1
    method: PUT
  response:
    body: |
      {"product":{"id":"image_optimizer","object":"product"},"service":{"id":"kKJb5bOFI47uHeBVluGfX1","object":"service"},"_links":{"self":"/enabled-products/image_optimizer/services/kKJb5bOFI47uHeBVluGfX1"}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
