---
version: 1
interactions:
- request:
    body: ProductID=image_optimizer&ServiceID=7i6HN3TK9wS159v2gPAZ8A
    form:
      ProductID:
      - image_optimizer
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/enabled-products/image_optimizer/services/7i6HN3TK9wS159v2gPAZ8A
    method: PUT
  response:
    body: |
      {"product":{"id":"image_optimizer","object":"product"},"service":{"id":"7i6HN3TK9wS159v2gPAZ8A","object":"service"},"_links":{"self":"/enabled-products/image_optimizer/services/7i6HN3TK9wS159v2gPAZ8A"}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
