---
version: 1
interactions:
- request:
    body: '{"webp":false,"webp_quality":85,"upscale":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/22/image_optimizer_default_settings
    method: PATCH
  response:
    body: '{"resize_filter":"lanczos3","webp":false,"webp_quality":85,"jpeg_type":"auto","jpeg_quality":85,"upscale":false,"allow_video":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "980"
      Fastly-Ratelimit-Reset:
      - "1712988000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
