---
version: 1
interactions:
- request:
    body: '{"webp_quality":105}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/87/image_optimizer_default_settings
    method: PATCH
  response:
    body: '{"type":"https://www.fastly.com/documentation/reference/api/services/image-optimizer-default-settings/","title":"Bad
      request","detail":"WebP quality must be less than or equal to 100."}'
    headers:
      Content-Type:
      - application/problem+json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1715706000"
      Status:
      - 400 Bad Request
    status: 400 Bad Request
    code: 400
    duration: ""
