---
version: 1
interactions:
- request:
    body: '{"webp_quality":105}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/qDAwPNSjDoCytjIZ6SfjF5/version/38/image_optimizer_default_settings
    method: PATCH
  response:
    body: '{"type":"https://www.fastly.com/documentation/reference/api/services/image_optimizer_default_settings/","title":"Bad
      request","detail":"Webp quality must be less than or equal to 100"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "937"
      Fastly-Ratelimit-Reset:
      - "1713495600"
      Status:
      - 400 Bad Request
    status: 400 Bad Request
    code: 400
    duration: ""
