---
version: 1
interactions:
- request:
    body: '{"resize_filter":"lanczos3","webp":false,"webp_quality":85,"jpeg_type":"auto","jpeg_quality":85,"upscale":false,"allow_video":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/qDAwPNSjDoCytjIZ6SfjF5/version/38/image_optimizer_default_settings
    method: PATCH
  response:
    body: '{"resize_filter":"lanczos3","webp":false,"webp_quality":85,"jpeg_type":"auto","jpeg_quality":85,"upscale":false,"allow_video":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "928"
      Fastly-Ratelimit-Reset:
      - "1713495600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
