---
version: 1
interactions:
- request:
    body: '{"webp":true,"webp_quality":42,"upscale":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/87/image_optimizer_default_settings
    method: PATCH
  response:
    body: '{"resize_filter":"lanczos3","webp":true,"webp_quality":42,"jpeg_type":"auto","jpeg_quality":85,"upscale":true,"allow_video":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1715706000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
