---
version: 1
interactions:
- request:
    body: '{"items":[{"item_key":"key1","item_value":"value2","op":"update"},{"item_key":"key2","item_value":"value3","op":"upsert"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/config/LO53FrkHHmWWropCH2ICN2/items
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1686157200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
