---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/metrics/origins/services/kKJb5bOFI47uHeBVluGfX1?cursor=&datacenter=LHR%2CJFK&downsample=day&end=1744243200&group_by=host&host=host01&limit=150&metric=responses%2Cstatus_2xx&region=europe%2Cusa&start=1744156800
    method: GET
  response:
    body: |
      {"data":[],"meta":{"start":"2025-04-09T00:00:00Z","end":"2025-04-10T00:00:00Z","downsample":"day","metric":"responses,status_2xx","limit":150,"next_cursor":"","sort":"host","group_by":"host","filters":{"datacenters":"LHR,JFK","hosts":"host01","regions":"europe,usa"}},"status":"success"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
