version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
      url: https://api.fastly.com/metrics/origins/services/7i6HN3TK9wS159v2gPAZ8A?cursor=&datacenter=LHR%2CJFK&downsample=day&end=1644796800&group_by=host&host=host01&metric=responses%2Cstatus_2xx&region=europe%2Cusa&start=1644624000
      method: GET
    response:
      body: |
        {"data":[{"dimensions":{"host":"host01"},"values":[{"responses":26795476,"status_2xx":26750746,"timestamp":1644624000},{"responses":27071107,"status_2xx":27026758,"timestamp":1644710400}]}],"meta":{"start":"2022-02-12T00:00:00Z","end":"2022-02-14T00:00:00Z","downsample":"day","metric":"responses,status_2xx","limit":100,"next_cursor":"","sort":"host","group_by":"host","filters":{"datacenters":"LHR,JFK","hosts":"host01","regions":"europe,usa"}},"status":"success"}
      headers:
        Content-Type:
          - application/json
        Status:
          - 200 OK
      status: 200 OK
      code: 200
      duration: ""
