---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"","attributes":{"id":"ACTIVATION_ID"},"relationships":{"tls_certificate":{"data":{"type":"tls_certificate"}}}},"included":[{"type":"tls_certificate","attributes":{"type":""}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/tls/activations/ACTIVATION_ID
    method: PATCH
  response:
    body: '{"data":{"id":"ACTIVATION_ID","type":"tls_activation","attributes":{"created_at":"2020-10-15T15:50:17.000Z"},"relationships":{"tls_certificate":{"data":{"id":"CERTIFICATE_ID","type":"tls_certificate"}},"tls_configuration":{"data":{"id":"CONFIGURATION_ID","type":"tls_configuration"}},"tls_domain":{"data":{"id":"DOMAIN_NAME","type":"tls_domain"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
