---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=685&bucket_name=bucket&format=format&gzip_level=9&name=test-gcs&path=%2Fpath&period=12&secret_key=key&timestamp_format=%25Y&user=user
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "685"
      bucket_name:
      - bucket
      format:
      - format
      gzip_level:
      - "9"
      name:
      - test-gcs
      path:
      - /path
      period:
      - "12"
      secret_key:
      - key
      timestamp_format:
      - '%Y'
      user:
      - user
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/685/logging/gcs
    method: POST
  response:
    body: '{"bucket_name":"bucket","format":"format","gzip_level":"9","name":"test-gcs","path":"/path","period":"12","secret_key":"key","timestamp_format":"%Y","user":"user","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"685","placement":null,"format_version":"2","response_condition":"","public_key":null,"updated_at":"2017-07-20T01:15:09+00:00","message_type":"blank","deleted_at":null,"created_at":"2017-07-20T01:15:09+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "912"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
