---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/content/edge_check?url=releases.hashicorp.com
    method: GET
  response:
    body: '[{"hash":"d41d8cd98f00b204e9800998ecf8427e","pop":"amsterdam-nl","response_time":0.158288,"server":"cache-ams21039","request":{"headers":{},"method":null,"url":null},"response":{"headers":{"Server":"Varnish","Retry-After":"0","Location":"https://hc-releases.s3-website-us-east-1.amazonaws.com/","Content-Length":"0","Accept-Ranges":"bytes","Date":"Thu,
      09 May 2019 18:49:02 GMT","Via":"1.1 varnish","Connection":"close","Fastly-Debug-Path":"(D
      cache-ams21039-AMS 1557427742)","Fastly-Debug-TTL":"(M cache-ams21039-AMS -
      - -)","Fastly-Debug-Digest":"e9faa6eca6cdaa79da3b5980e25cdd020dc60f9eae309c158fe9bff4466a4bae","X-Served-By":"cache-ams21039-AMS","X-Cache":"HIT","X-Cache-Hits":"0","X-Timer":"S1557427742.490381,VS0,VE0"},"status":301}},{"hash":"d41d8cd98f00b204e9800998ecf8427e","pop":"atl-ga-us","response_time":0.027895,"server":"cache-atl6247","request":{"headers":{},"method":null,"url":null},"response":{"headers":{"Server":"Varnish","Retry-After":"0","Location":"https://hc-releases.s3-website-us-east-1.amazonaws.com/","Content-Length":"0","Accept-Ranges":"bytes","Date":"Thu,
      09 May 2019 18:49:02 GMT","Via":"1.1 varnish","Connection":"close","Fastly-Debug-Path":"(D
      cache-atl6247-ATL 1557427742)","Fastly-Debu[...]
