---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/content/edge_check?url=go-fastly-deliver-test.global.ssl.fastly.net
    method: GET
  response:
    body: '[{"hash":"d41d8cd98f00b204e9800998ecf8427e","pop":"acc-ghana-af","response_time":0.644228,"server":"cache-acc9624","request":{"headers":{},"method":null,"url":null},"response":{"headers":{"strict-transport-security":"max-age=300","server":"Varnish","retry-after":"0","location":"https://go-fastly-deliver-test.global.ssl.fastly.net/","accept-ranges":"bytes","date":"Wed,
      09 Apr 2025 16:08:48 GMT","via":"1.1 varnish","fastly-debug-path":"(D cache-acc9624-ACC
      1744214929)","fastly-debug-ttl":"(M cache-acc9624-ACC - - -)","fastly-debug-digest":"b7509721c64fe6db06406b04cf8f1d57edf9fe15d0000f86a82a0f76a648f66b","x-served-by":"cache-acc9624-ACC","x-cache":"HIT","x-cache-hits":"0","x-timer":"S1744214928.337135,VS0,VE248","content-length":"0"},"status":301}},{"hash":"d41d8cd98f00b204e9800998ecf8427e","pop":"adl-adelaide-au","response_time":0.530838,"server":"cache-adl2040027","request":{"headers":{},"method":null,"url":null},"response":{"headers":{"strict-transport-security":"max-age=300","server":"Varnish","retry-after":"0","location":"https://go-fastly-deliver-test.global.ssl.fastly.net/","accept-ranges":"bytes","date":"Wed,
      09 Apr 2025 16:08:48 GMT","via":"1.1 varnish","fastly-debug-path":"(D cache-adl2040027-ADL
      1744214928)","f[...]
