---
version: 1
interactions:
- request:
    body: comment=comment&name=test-service&type=wasm
    form:
      comment:
      - comment
      name:
      - test-service
      type:
      - wasm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"4dOhK7xEkULiabovMyhRBu","comment":"comment","name":"test-service","type":"wasm","deleted_at":null,"updated_at":"2025-09-10T13:57:07Z","created_at":"2025-09-10T13:57:07Z","id":"MVo3trM9NTFhpYCJsSrEUD","paused":false,"versions":[{"service_id":"MVo3trM9NTFhpYCJsSrEUD","deployed":false,"updated_at":"2025-09-10T13:57:10Z","staging":false,"deleted_at":null,"locked":false,"comment":"","environments":[],"active":false,"created_at":"2025-09-10T13:57:10Z","testing":false,"number":1}],"publish_key":"","environments":[]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9999"
      Fastly-Ratelimit-Reset:
      - "1757512800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
