---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/MVo3trM9NTFhpYCJsSrEUD/details
    method: GET
  response:
    body: '{"type":"wasm","environments":[],"updated_at":"2025-09-10T13:57:07Z","customer_id":"4dOhK7xEkULiabovMyhRBu","created_at":"2025-09-10T13:57:07Z","name":"test-service","comment":"comment","id":"MVo3trM9NTFhpYCJsSrEUD","versions":[{"active":false,"environments":[],"created_at":"2025-09-10T13:57:10Z","service_id":"MVo3trM9NTFhpYCJsSrEUD","comment":"","deleted_at":null,"number":1,"updated_at":"2025-09-10T13:57:10Z","locked":false,"testing":false,"deployed":false,"staging":false}],"deleted_at":null,"version":{"deleted_at":null,"updated_at":"2025-09-10T13:57:10Z","testing":false,"created_at":"2025-09-10T13:57:10Z","staging":false,"service_id":"MVo3trM9NTFhpYCJsSrEUD","number":1,"environments":[],"comment":"","active":false,"deployed":false,"locked":false,"backends":[],"domains":[],"healthchecks":[]},"active_version":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
