---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service?direction=descend&page=1&per_page=200&sort=created
    method: GET
  response:
    body: '[{"paused":false,"versions":[{"locked":false,"comment":"","deleted_at":null,"updated_at":"2025-09-10T13:57:10Z","staging":false,"deployed":false,"service_id":"MVo3trM9NTFhpYCJsSrEUD","active":false,"number":1,"created_at":"2025-09-10T13:57:10Z","testing":false,"environments":[]}],"environments":[],"type":"wasm","name":"test-service","id":"MVo3trM9NTFhpYCJsSrEUD","created_at":"2025-09-10T13:57:07Z","customer_id":"4dOhK7xEkULiabovMyhRBu","version":1,"updated_at":"2025-09-10T13:57:07Z","deleted_at":null,"comment":"comment"},{"customer_id":"4dOhK7xEkULiabovMyhRBu","version":1,"name":"tf-test-3ie34c3vdr","id":"iM9PFc6WABMQEh5UABy0Uy","created_at":"2025-08-28T10:14:16Z","environments":[],"type":"vcl","paused":false,"versions":[{"environments":[],"created_at":"2025-08-28T10:14:16Z","testing":false,"number":1,"active":false,"service_id":"iM9PFc6WABMQEh5UABy0Uy","deployed":false,"updated_at":"2025-08-28T10:14:16Z","staging":false,"deleted_at":null,"comment":"","locked":false}],"comment":"Managed
      by Terraform","deleted_at":null,"updated_at":"2025-08-28T10:14:16Z"},{"paused":false,"versions":[{"environments":[],"created_at":"2025-08-26T17:19:17Z","number":1,"testing":false,"active":false,"service_id":"tvl83dW2yLGOImBDnpW0bd","deployed":false,"staging":false,"updated_at":"2025-08-26T17:19:18Z","deleted_at":null,"comment":"","locked":false}],"type":"wasm","environments":[],"created_at":"2025-08-26T17:19:16Z","id":"tvl83dW2yLGOImBDnpW0bd","name":"tf-test-4uty8d76lc","version":1,"customer_id":"4dOhK7xEkULiabovMyhRBu","updated_at":"2025-08-26T17:19:16Z","deleted_at":null,"comment":"Managed
      by Terraform"},{"type":"wasm","environments":[{"name":"production","service_id":"nn0uERsid13Yi0DZ8lXFxo","active_version":1}],"paused":false,"versions":[{"deployed":false,"service_id":"nn0uERsid13Yi0DZ8lXFxo","updated_at":"2025-08-26T17:19:43Z","staging":false,"deleted_at":null,"locked":true,"comment":"","environments":[{"name":"production","service_id":"nn0uERsid13Yi0DZ8lXFxo","active_version":1}],"active":true,"created_at":"2025-08-26T17:18:48Z","testing":false,"number":1},{"testing":false,"created_at":"2025-09-08T16:07:01Z","number":2,"active":false,"environments":[],"deleted_at":null,"comment":"","locked":false[...]
