---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service?direction=descend&page=1&per_page=100&sort=created
    method: GET
  response:
    body: '[{"created_at":"2025-09-10T13:57:07Z","customer_id":"4dOhK7xEkULiabovMyhRBu","type":"wasm","versions":[{"deployed":false,"staging":false,"comment":"","created_at":"2025-09-10T13:57:10Z","locked":false,"updated_at":"2025-09-10T13:57:10Z","environments":[],"deleted_at":null,"testing":false,"number":1,"active":false,"service_id":"MVo3trM9NTFhpYCJsSrEUD"}],"comment":"comment","name":"test-service","updated_at":"2025-09-10T13:57:07Z","environments":[],"paused":false,"deleted_at":null,"id":"MVo3trM9NTFhpYCJsSrEUD","version":1},{"created_at":"2025-08-28T10:14:16Z","customer_id":"4dOhK7xEkULiabovMyhRBu","type":"vcl","name":"tf-test-3ie34c3vdr","comment":"Managed
      by Terraform","versions":[{"created_at":"2025-08-28T10:14:16Z","comment":"","deployed":false,"staging":false,"active":false,"service_id":"iM9PFc6WABMQEh5UABy0Uy","testing":false,"number":1,"deleted_at":null,"locked":false,"environments":[],"updated_at":"2025-08-28T10:14:16Z"}],"updated_at":"2025-08-28T10:14:16Z","environments":[],"version":1,"id":"iM9PFc6WABMQEh5UABy0Uy","deleted_at":null,"paused":false},{"type":"wasm","name":"tf-test-4uty8d76lc","comment":"Managed
      by Terraform","versions":[{"locked":false,"environments":[],"updated_at":"2025-08-26T17:19:18Z","deleted_at":null,"testing":false,"number":1,"active":false,"service_id":"tvl83dW2yLGOImBDnpW0bd","deployed":false,"staging":false,"comment":"","created_at":"2025-08-26T17:19:17Z"}],"created_at":"2025-08-26T17:19:16Z","customer_id":"4dOhK7xEkULiabovMyhRBu","updated_at":"2025-08-26T17:19:16Z","environments":[],"version":1,"deleted_at":null,"paused":false,"id":"tvl83dW2yLGOImBDnpW0bd"},{"comment":"Managed
      by Terraform","name":"tf-test-q97onxn4wa","versions":[{"deleted_at":null,"environments":[{"name":"production","service_id":"nn0uERsid13Yi0DZ8lXFxo","active_version":1}],"updated_at":"2025-08-26T17:19:43Z","locked":true,"service_id":"nn0uERsid13Yi0DZ8lXFxo","active":true,"number":1,"testing":false,"comment":"","staging":false,"deployed":false,"created_at":"2025-08-26T17:18:48Z"},{"locked":false,"updated_at":"2025-09-08T16:07:02Z","environments":[],"deleted_at":null,"testing":false,"number":2,"active":false,"service_id":"nn0uERsid13Yi0DZ8lXFxo","deployed":false,"staging":false,"comment":"","created_at":"2025-09-08T16:07:01Z"}],"type":"wasm","customer_id":"4dO[...]
