---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/search?name=test-service
    method: GET
  response:
    body: '{"environments":[],"created_at":"2025-09-10T13:57:07Z","id":"MVo3trM9NTFhpYCJsSrEUD","updated_at":"2025-09-10T13:57:07Z","customer_id":"4dOhK7xEkULiabovMyhRBu","deleted_at":null,"type":"wasm","comment":"comment","name":"test-service","versions":[{"comment":"","staging":false,"deployed":false,"created_at":"2025-09-10T13:57:10Z","deleted_at":null,"updated_at":"2025-09-10T13:57:10Z","service_id":"MVo3trM9NTFhpYCJsSrEUD","environments":[],"locked":false,"active":false,"number":1,"testing":false}]}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
