---
version: 1
interactions:
- request:
    body: ServiceID=MVo3trM9NTFhpYCJsSrEUD&name=new-test-service
    form:
      ServiceID:
      - MVo3trM9NTFhpYCJsSrEUD
      name:
      - new-test-service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/MVo3trM9NTFhpYCJsSrEUD
    method: PUT
  response:
    body: '{"comment":"comment","deleted_at":null,"updated_at":"2025-09-10T13:57:07Z","customer_id":"4dOhK7xEkULiabovMyhRBu","id":"MVo3trM9NTFhpYCJsSrEUD","name":"new-test-service","created_at":"2025-09-10T13:57:07Z","environments":[],"type":"wasm","publish_key":"","versions":[{"locked":false,"comment":"","deleted_at":null,"service_id":"MVo3trM9NTFhpYCJsSrEUD","staging":false,"updated_at":"2025-09-10T13:57:10Z","deployed":false,"active":false,"testing":false,"created_at":"2025-09-10T13:57:10Z","number":1,"environments":[]}],"paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9998"
      Fastly-Ratelimit-Reset:
      - "1757512800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
