---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/oIb247xKeTGgwPoVPA2PJ3/alerts/686fe4f0b7498159a0c9494f
    method: GET
  response:
    body: |
      {"id":"686fe4f0b7498159a0c9494f","description":"This is a test alert.","type":"pagerduty","config":{"key":"test-pagerduty-key"},"events":["flag"],"created_at":"2025-07-10T16:06:08Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
