---
version: 1
interactions:
- request:
    body: Service=6PehUY86Aj8yGpccQ0a8oT&Version=2&name=WAF_Response&status=403
    form:
      Service:
      - 6PehUY86Aj8yGpccQ0a8oT
      Version:
      - "2"
      name:
      - WAF_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/6PehUY86Aj8yGpccQ0a8oT/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAF_Response","status":"403","service_id":"6PehUY86Aj8yGpccQ0a8oT","version":"2","response":"ok","updated_at":"2020-06-30T10:56:25Z","created_at":"2020-06-30T10:56:25Z","content_type":null,"request_condition":"","content":null,"deleted_at":null,"cache_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "683"
      Fastly-Ratelimit-Reset:
      - "1593514800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
