---
version: 1
interactions:
- request:
    body: Service=5MlnHT66t9pZgO8XrBEDQl&Version=2&name=WAF_Response&status=403
    form:
      Service:
      - 5MlnHT66t9pZgO8XrBEDQl
      Version:
      - "2"
      name:
      - WAF_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5MlnHT66t9pZgO8XrBEDQl/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAF_Response","status":"403","service_id":"5MlnHT66t9pZgO8XrBEDQl","version":"2","content":null,"deleted_at":null,"response":"ok","cache_condition":"","created_at":"2020-07-01T09:40:37Z","content_type":null,"request_condition":"","updated_at":"2020-07-01T09:40:37Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "978"
      Fastly-Ratelimit-Reset:
      - "1593597600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
