---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=786&content=efgh&content_type=text%2Fplain&name=test-response-object-2&response=Ok&status=200
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "786"
      content:
      - efgh
      content_type:
      - text/plain
      name:
      - test-response-object-2
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/786/response_object
    method: POST
  response:
    body: '{"content":"efgh","content_type":"text/plain","name":"test-response-object-2","response":"Ok","status":"200","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"786","deleted_at":null,"cache_condition":"","created_at":"2017-09-05T17:56:54+00:00","request_condition":"","updated_at":"2017-09-05T17:56:54+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "880"
      Fastly-Ratelimit-Reset:
      - "1504634400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
