---
version: 1
interactions:
- request:
    body: ServiceID=5OTf0ZHln9oPp7u1f73YdC&ServiceVersion=2&name=WAF_Response2&status=403
    form:
      ServiceID:
      - 5OTf0ZHln9oPp7u1f73YdC
      ServiceVersion:
      - "2"
      name:
      - WAF_Response2
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5OTf0ZHln9oPp7u1f73YdC/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAF_Response2","status":"403","service_id":"5OTf0ZHln9oPp7u1f73YdC","version":"2","deleted_at":null,"created_at":"2021-01-14T10:27:48Z","content":null,"response":"ok","request_condition":"","cache_condition":"","content_type":null,"updated_at":"2021-01-14T10:27:48Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "865"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
