---
version: 1
interactions:
- request:
    body: Service=3qt0xLYGlOxt19jpAQ0LJM&Version=2&content=abcd&content_type=text%2Fplain&name=WAf_Response&response=Ok&status=200
    form:
      Service:
      - 3qt0xLYGlOxt19jpAQ0LJM
      Version:
      - "2"
      content:
      - abcd
      content_type:
      - text/plain
      name:
      - WAf_Response
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3qt0xLYGlOxt19jpAQ0LJM/version/2/response_object
    method: POST
  response:
    body: '{"content":"abcd","content_type":"text/plain","name":"WAf_Response","response":"Ok","status":"200","service_id":"3qt0xLYGlOxt19jpAQ0LJM","version":"2","cache_condition":"","updated_at":"2019-11-20T12:59:04Z","request_condition":"","deleted_at":null,"created_at":"2019-11-20T12:59:04Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "969"
      Fastly-Ratelimit-Reset:
      - "1574254800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
