---
version: 1
interactions:
- request:
    body: Service=6gkEdARZ3mPzhQvdi2YH3j&Version=2&content=efgh&content_type=text%2Fplain&name=test-response-object-2&response=Ok&status=200
    form:
      Service:
      - 6gkEdARZ3mPzhQvdi2YH3j
      Version:
      - "2"
      content:
      - efgh
      content_type:
      - text/plain
      name:
      - test-response-object-2
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/6gkEdARZ3mPzhQvdi2YH3j/version/2/response_object
    method: POST
  response:
    body: '{"content":"efgh","content_type":"text/plain","name":"test-response-object-2","response":"Ok","status":"200","service_id":"6gkEdARZ3mPzhQvdi2YH3j","version":"2","deleted_at":null,"updated_at":"2019-11-12T16:10:24Z","request_condition":"","created_at":"2019-11-12T16:10:24Z","cache_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "972"
      Fastly-Ratelimit-Reset:
      - "1573578000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
