---
version: 1
interactions:
- request:
    body: Service=5n1Tvc6QVHtvZlG109EsyV&Version=2&name=WAF_Response&status=403
    form:
      Service:
      - 5n1Tvc6QVHtvZlG109EsyV
      Version:
      - "2"
      name:
      - WAF_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5n1Tvc6QVHtvZlG109EsyV/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAF_Response","status":"403","service_id":"5n1Tvc6QVHtvZlG109EsyV","version":"2","deleted_at":null,"content":null,"request_condition":"","created_at":"2020-07-02T20:19:37Z","cache_condition":"","content_type":null,"response":"ok","updated_at":"2020-07-02T20:19:37Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "960"
      Fastly-Ratelimit-Reset:
      - "1593723600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
