---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=34&content=efgh&content_type=text%2Fplain&name=test-response-object-2&response=Ok&status=200
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "34"
      content:
      - efgh
      content_type:
      - text/plain
      name:
      - test-response-object-2
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/34/response_object
    method: POST
  response:
    body: '{"content":"efgh","content_type":"text/plain","name":"test-response-object-2","response":"Ok","status":"200","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"34","request_condition":"","created_at":"2020-05-15T15:35:17Z","deleted_at":null,"cache_condition":"","updated_at":"2020-05-15T15:35:17Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "959"
      Fastly-Ratelimit-Reset:
      - "1589558400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
