---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=54&content=abcd&content_type=text%2Fplain&name=test-response-object&response=Ok&status=200
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "54"
      content:
      - abcd
      content_type:
      - text/plain
      name:
      - test-response-object
      response:
      - Ok
      status:
      - "200"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/54/response_object
    method: POST
  response:
    body: '{"content":"abcd","content_type":"text/plain","name":"test-response-object","response":"Ok","status":"200","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"54","deleted_at":null,"created_at":"2019-05-11T21:44:59Z","request_condition":"","updated_at":"2019-05-11T21:44:59Z","cache_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "989"
      Fastly-Ratelimit-Reset:
      - "1557612000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
