---
version: 1
interactions:
- request:
    body: Service=6PehUY86Aj8yGpccQ0a8oT&Version=2&name=WAF_Response2&status=403
    form:
      Service:
      - 6PehUY86Aj8yGpccQ0a8oT
      Version:
      - "2"
      name:
      - WAF_Response2
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/6PehUY86Aj8yGpccQ0a8oT/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAF_Response2","status":"403","service_id":"6PehUY86Aj8yGpccQ0a8oT","version":"2","response":"ok","content":null,"updated_at":"2020-06-30T10:56:26Z","cache_condition":"","deleted_at":null,"request_condition":"","content_type":null,"created_at":"2020-06-30T10:56:26Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "681"
      Fastly-Ratelimit-Reset:
      - "1593514800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
