---
version: 1
interactions:
- request:
    body: '{"ProductID":7,"ServiceID":"kKJb5bOFI47uHeBVluGfX1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/enabled-products/origin_inspector/services/kKJb5bOFI47uHeBVluGfX1
    method: PUT
  response:
    body: |
      {"product":{"id":"origin_inspector","object":"product"},"service":{"id":"kKJb5bOFI47uHeBVluGfX1","object":"service"},"_links":{"self":"/enabled-products/origin_inspector/services/kKJb5bOFI47uHeBVluGfX1"}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
