---
version: 1
interactions:
- request:
    body: ProductID=brotli_compression&ServiceID=7i6HN3TK9wS159v2gPAZ8A
    form:
      ProductID:
      - brotli_compression
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/enabled-products/brotli_compression/services/7i6HN3TK9wS159v2gPAZ8A
    method: PUT
  response:
    body: |
      {"product":{"id":"brotli_compression","object":"product"},"service":{"id":"7i6HN3TK9wS159v2gPAZ8A","object":"service"},"_links":{"self":"/enabled-products/brotli_compression/services/7i6HN3TK9wS159v2gPAZ8A"}}
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "999"
      Fastly-Ratelimit-Reset:
      - "1676649600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
