---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/enabled-products/log_explorer_insights/services/7i6HN3TK9wS159v2gPAZ8A
    method: GET
  response:
    body: |
      {"product":{"id":"log_explorer_insights","object":"product"},"service":{"id":"7i6HN3TK9wS159v2gPAZ8A","object":"service"},"_links":{"self":"/enabled-products/log_explorer_insights/services/7i6HN3TK9wS159v2gPAZ8A"}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
