---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/6/activate
    method: PUT
  response:
    body: '{"testing":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","locked":true,"staging":false,"deleted_at":null,"deployed":false,"created_at":"2022-08-22T10:45:36Z","updated_at":"2022-08-22T10:45:36Z","active":true,"comment":"","number":6,"msg":"Warning:
      No default director found\nat: (default Line 174 Pos 1)\n         if (req.http.Fastly-Temp-XFF
      == \"\") {\n----------------------------------------------"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4985"
      Fastly-Ratelimit-Reset:
      - "1661166000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
