---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/143/activate
    method: PUT
  response:
    body: '{"staging":false,"service_id":"kKJb5bOFI47uHeBVluGfX1","environments":[],"locked":true,"testing":false,"deleted_at":null,"comment":"","created_at":"2025-09-08T17:11:11Z","active":true,"deployed":false,"number":143,"updated_at":"2025-09-08T17:11:11Z","msg":"Warning:
      No default director found\nat: (default Line 174 Pos 1)"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9972"
      Fastly-Ratelimit-Reset:
      - "1757354400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
