---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/3/activate
    method: PUT
  response:
    body: '{"staging":false,"deployed":false,"service_id":"kKJb5bOFI47uHeBVluGfX1","locked":true,"comment":"","testing":false,"deleted_at":null,"created_at":"2024-05-07T12:51:55Z","active":true,"updated_at":"2024-05-07T12:51:56Z","number":3,"msg":"Warning:
      No default director found\nat: (default Line 174 Pos 1)\n#--FASTLY BEREQ BEGIN\n---------------------"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9994"
      Fastly-Ratelimit-Reset:
      - "1715086800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
