---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"tls_subscription","relationships":{"tls_domain":{"data":[{"type":"tls_domain","id":"integ-test1.go-fastly-1.com"}]}}},"included":[{"type":"tls_domain","id":"integ-test1.go-fastly-1.com","attributes":{"type":""}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/tls/subscriptions
    method: POST
  response:
    body: '{"data":{"id":"mwtZ5xuowgXsyR2nyPjuWw","type":"tls_subscription","attributes":{"certificate_authority":"certainly","created_at":"2024-05-07T12:51:58.000Z","state":"pending","has_active_order":true,"updated_at":"2024-05-07T12:51:58.000Z"},"relationships":{"tls_authorizations":{"data":[{"id":"B98ZDNS55WAZ5ltYl6wZUQ","type":"tls_authorization"}]},"tls_certificates":{"data":[]},"tls_domains":{"data":[{"id":"integ-test1.go-fastly-1.com","type":"tls_domain"}]},"common_name":{"data":{"id":"integ-test1.go-fastly-1.com","type":"tls_domain"}},"tls_configuration":{"data":{"id":"Em77eV0D2qMAduXPtvRdKg","type":"tls_configuration"}}}},"included":[{"id":"B98ZDNS55WAZ5ltYl6wZUQ","type":"tls_authorization","attributes":{"challenges":[{"type":"managed-dns","record_type":"CNAME","record_name":"_acme-challenge.integ-test1.go-fastly-1.com","values":["9jwu4ypaom1vthbbvt.fastly-validations.com"]},{"type":"managed-http-cname","record_type":"CNAME","record_name":"integ-test1.go-fastly-1.com","values":["j.sni.global.fastly.net"]},{"type":"managed-http-a","record_type":"A","record_name":"integ-test1.go-fastly-1.com","values":["151.101.2.132","151.101.66.132","151.101.130.132","151.101.194.132"]}],"created_at":"2024-05-07T12:51:58.000Z","state":"pending","updated_at":"2024-05-07T12:51:58.000Z","warnings":null},"relationships":{"tls_domain":{"data":{"id":"integ-test1.go-fastly-1.com","type":"tls_domain"}},"globalsign_email_challenge":{"data":null},"self_managed_http_challenge":{"data":null}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
    code: 201
    duration: ""
