---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tls/subscriptions/CDnaWfggp3Pw5pyy7nxG4Q
    method: GET
  response:
    body: '{"data":{"id":"CDnaWfggp3Pw5pyy7nxG4Q","type":"tls_subscription","attributes":{"certificate_authority":"certainly","created_at":"2025-09-08T17:11:15.000Z","state":"pending","has_active_order":true,"updated_at":"2025-09-08T17:11:15.000Z"},"relationships":{"tls_authorizations":{"data":[{"id":"0jJ6Lop0ajA1R4bSTYzCAw","type":"tls_authorization"}]},"tls_certificates":{"data":[]},"tls_domains":{"data":[{"id":"integ-test1.go-fastly-1.com","type":"tls_domain"}]},"common_name":{"data":{"id":"integ-test1.go-fastly-1.com","type":"tls_domain"}},"tls_configuration":{"data":{"id":"6BJN1m42DmVgmSE7tnZCZg","type":"tls_configuration"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
