---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tls/subscriptions/mwtZ5xuowgXsyR2nyPjuWw
    method: GET
  response:
    body: '{"data":{"id":"mwtZ5xuowgXsyR2nyPjuWw","type":"tls_subscription","attributes":{"certificate_authority":"certainly","created_at":"2024-05-07T12:51:58.000Z","state":"pending","has_active_order":true,"updated_at":"2024-05-07T12:51:58.000Z"},"relationships":{"tls_authorizations":{"data":[{"id":"B98ZDNS55WAZ5ltYl6wZUQ","type":"tls_authorization"}]},"tls_certificates":{"data":[]},"tls_domains":{"data":[{"id":"integ-test1.go-fastly-1.com","type":"tls_domain"}]},"common_name":{"data":{"id":"integ-test1.go-fastly-1.com","type":"tls_domain"}},"tls_configuration":{"data":{"id":"Em77eV0D2qMAduXPtvRdKg","type":"tls_configuration"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
