---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"tls_subscription","id":"CDnaWfggp3Pw5pyy7nxG4Q","relationships":{"common_name":{"data":{"type":"tls_domain","id":"integ-test2.go-fastly-2.com"}},"tls_domain":{"data":[{"type":"tls_domain","id":"integ-test1.go-fastly-1.com"},{"type":"tls_domain","id":"integ-test2.go-fastly-2.com"}]}}},"included":[{"type":"tls_domain","id":"integ-test2.go-fastly-2.com","attributes":{"type":""}},{"type":"tls_domain","id":"integ-test1.go-fastly-1.com","attributes":{"type":""}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/tls/subscriptions/CDnaWfggp3Pw5pyy7nxG4Q?force=true
    method: PATCH
  response:
    body: '{"data":{"id":"CDnaWfggp3Pw5pyy7nxG4Q","type":"tls_subscription","attributes":{"certificate_authority":"certainly","created_at":"2025-09-08T17:11:15.000Z","state":"pending","has_active_order":true,"updated_at":"2025-09-08T17:11:16.000Z"},"relationships":{"tls_authorizations":{"data":[{"id":"0jJ6Lop0ajA1R4bSTYzCAw","type":"tls_authorization"},{"id":"SzVvQviNrWVFFtSK2PdsAA","type":"tls_authorization"}]},"tls_certificates":{"data":[]},"tls_domains":{"data":[{"id":"integ-test1.go-fastly-1.com","type":"tls_domain"},{"id":"integ-test2.go-fastly-2.com","type":"tls_domain"}]},"common_name":{"data":{"id":"integ-test2.go-fastly-2.com","type":"tls_domain"}},"tls_configuration":{"data":{"id":"6BJN1m42DmVgmSE7tnZCZg","type":"tls_configuration"}}}},"included":[{"id":"0jJ6Lop0ajA1R4bSTYzCAw","type":"tls_authorization","attributes":{"challenges":[{"type":"managed-dns","record_type":"CNAME","record_name":"_acme-challenge.integ-test1.go-fastly-1.com","values":["f2sk1kgtx8aj614ckh.fastly-validations.com"]},{"type":"managed-http-cname","record_type":"CNAME","record_name":"integ-test1.go-fastly-1.com","values":["t.sni.global.fastly.net"]},{"type":"managed-http-a","record_type":"A","record_name":"integ-test1.go-fastly-1.com","values":["151.101.3.52","151.101.67.52","151.101.131.52","151.101.195.52"]}],"created_at":"2025-09-08T17:11:15.000Z","state":"blocked","updated_at":"2025-09-08T17:11:16.000Z","warnings":[]},"relationships":{"tls_domain":{"data":{"id":"integ-test1.go-fastly-1.com","type":"tls_domain"}},"globalsign_email_challenge":{"data":null},"self_managed_http_challenge":{"data":null}}},{"id":"SzVvQviNrWVFFtSK2PdsAA","type":"tls_authorization","attributes":{"challenges":[{"type":"managed-dns","record_type":"CNAME","record_name":"_acme-challenge.integ-test2.go-fastly-2.com","values":["olzpjxqrpcuh7l9x2t.fastly-validations.com"]},{"type":"managed-http-cname","record_type":"CNAME","record_name":"integ-test2.go-fastly-2.com","values":["t.sni.global.fastly.net"]},{"type":"managed-http-a","record_type":"A","record_name":"integ-test2.go-fastly-2.com","values":["151.101.3.52","151.101.67.52","151.101.131.52","151.101.195.52"]}],"created_at":"2025-09-08T17:11:15.000Z","state":"pending","updated_at":"2025-09-08T17:11:15.000Z","warnings":null},"relationships":{"tls_domain":{"data":{"id":"integ-test2.go-fastly-2.com","type":"tls_domain"}},"globalsign_email_challenge":{"data":null},"self_managed_http_challenge":{"data":null}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
