---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"tls_subscription","id":"SUBSCRIPTION_ID","relationships":{"common_name":{"data":{"type":"tls_domain","id":"DOMAIN_NAME2"}},"tls_domain":{"data":[{"type":"tls_domain","id":"DOMAIN_NAME"},{"type":"tls_domain","id":"DOMAIN_NAME2"}]}}},"included":[{"type":"tls_domain","id":"DOMAIN_NAME2","attributes":{"type":""}},{"type":"tls_domain","id":"DOMAIN_NAME","attributes":{"type":""}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/tls/subscriptions/SUBSCRIPTION_ID?force=true
    method: PATCH
  response:
    body: '{"data":{"id":"SUBSCRIPTION_ID","type":"tls_subscription","attributes":{"certificate_authority":"lets-encrypt","created_at":"2021-02-09T15:31:52.000Z","state":"pending","updated_at":"2021-02-09T16:53:50.000Z"},"relationships":{"tls_authorizations":{"data":[{"id":"f6v9e7W0kgOlSZftoSLT5w","type":"tls_authorization"},{"id":"ZZn2zQdPvRfeFdhnVpnTiw","type":"tls_authorization"}]},"tls_certificates":{"data":[{"id":"4o0n5CyTTm5svA5jUV5Av2","type":"tls_certificate"}]},"tls_domains":{"data":[{"id":"DOMAIN_NAME2","type":"tls_domain"},{"id":"DOMAIN_NAME","type":"tls_domain"}]},"common_name":{"data":{"id":"DOMAIN_NAME2","type":"tls_domain"}},"tls_configuration":{"data":{"id":"avZFSm5xsjHjD0jBlSGiVQ","type":"tls_configuration"}}}},"included":[{"id":"f6v9e7W0kgOlSZftoSLT5w","type":"tls_authorization","attributes":{"challenges":[{"type":"managed-dns","record_type":"CNAME","record_name":"_acme-challenge.DOMAIN_NAME2","values":["a5cclfb8g2j4xzqa5y.fastly-validations.com"]},{"type":"managed-http-cname","record_type":"CNAME","record_name":"DOMAIN_NAME2","values":["j.sni.global.fastly.net"]},{"type":"managed-http-a","record_type":"A","record_name":"DOMAIN_NAME2","values":["151.101.2.132","151.101.66.132","151.101.130.132","151.101.194.132"]}],"created_at":"2021-02-09T16:53:50.000Z","state":"pending","updated_at":"2021-02-09T16:53:50.000Z","warnings":null},"relationships":{"tls_domain":{"data":{"id":"DOMAIN_NAME2","type":"tls_domain"}}}},{"id":"ZZn2zQdPvRfeFdhnVpnTiw","type":"tls_authorization","attributes":{"challenges":[{"type":"managed-dns","record_type":"CNAME","record_name":"_acme-challenge.DOMAIN_NAME","values":["ua6kinm0jq3cdvupzn.fastly-validations.com"]},{"type":"managed-http-cname","record_type":"CNAME","record_name":"DOMAIN_NAME","values":["j.sni.global.fastly.net"]},{"type":"managed-http-a","record_type":"A","record_name":"DOMAIN_NAME","values":["151.101.2.132","151.101.66.132","151.101.130.132","151.101.194.132"]}],"created_at":"2021-02-09T15:31:52.000Z","state":"passing","updated_at":"2021-02-09T15:33:09.000Z","warnings":[]},"relationships":{"tls_domain":{"data":{"id":"DOMAIN_NAME","type":"tls_domain"}}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
