---
version: 1
interactions:
- request:
    body: format=format&name=test-newrelicotlp&token=abcd1234&url=https%3A%2F%2Fexample.nr-data.net
    form:
      format:
      - format
      name:
      - test-newrelicotlp
      token:
      - abcd1234
      url:
      - https://example.nr-data.net
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/14/logging/newrelicotlp
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelicotlp","token":"abcd1234","url":"https://example.nr-data.net","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"14","deleted_at":null,"response_condition":"","created_at":"2025-02-28T21:33:57Z","updated_at":"2025-02-28T21:33:57Z","format_version":"2","placement":null,"region":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9941"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
