---
version: 1
interactions:
- request:
    body: format=format&name=test-newrelicotlp&placement=none&token=abcd1234&url=https%3A%2F%2Fexample.nr-data.net
    form:
      format:
      - format
      name:
      - test-newrelicotlp
      placement:
      - none
      token:
      - abcd1234
      url:
      - https://example.nr-data.net
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/175/logging/newrelicotlp
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelicotlp","placement":"none","token":"abcd1234","url":"https://example.nr-data.net","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"175","updated_at":"2026-07-23T19:31:25Z","region":null,"response_condition":"","format_version":"2","created_at":"2026-07-23T19:31:25Z","deleted_at":null,"log_processing_region":"none"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9609"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
