---
version: 1
interactions:
- request:
    body: format=format&name=test-newrelicotlp&placement=waf_debug&token=abcd1234&url=https%3A%2F%2Fexample.nr-data.net
    form:
      format:
      - format
      name:
      - test-newrelicotlp
      placement:
      - waf_debug
      token:
      - abcd1234
      url:
      - https://example.nr-data.net
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/122/logging/newrelicotlp
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelicotlp","placement":"waf_debug","token":"abcd1234","url":"https://example.nr-data.net","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"122","format_version":"2","created_at":"2025-06-04T15:25:36Z","updated_at":"2025-06-04T15:25:36Z","region":null,"log_processing_region":"none","deleted_at":null,"response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9868"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
