---
version: 1
interactions:
- request:
    body: format=format&name=test-newrelicotlp&placement=waf_debug&token=abcd1234&url=https%3A%2F%2Fexample.nr-data.net
    form:
      format:
      - format
      name:
      - test-newrelicotlp
      placement:
      - waf_debug
      token:
      - abcd1234
      url:
      - https://example.nr-data.net
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/162/logging/newrelicotlp
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelicotlp","placement":"waf_debug","token":"abcd1234","url":"https://example.nr-data.net","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"162","response_condition":"","format_version":"2","deleted_at":null,"updated_at":"2023-07-27T16:58:48Z","created_at":"2023-07-27T16:58:48Z","region":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "990"
      Fastly-Ratelimit-Reset:
      - "1690477200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
