---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/14/logging/newrelicotlp/test-newrelicotlp
    method: GET
  response:
    body: '{"deleted_at":null,"name":"test-newrelicotlp","region":null,"placement":null,"updated_at":"2025-02-28T21:33:57Z","version":"14","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","url":"https://example.nr-data.net","format_version":"2","format":"format","response_condition":"","created_at":"2025-02-28T21:33:57Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
