---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/162/logging/newrelicotlp/test-newrelicotlp
    method: GET
  response:
    body: '{"region":null,"token":"abcd1234","response_condition":"","deleted_at":null,"placement":"waf_debug","updated_at":"2023-07-27T16:58:48Z","name":"test-newrelicotlp","url":"https://example.nr-data.net","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"162","created_at":"2023-07-27T16:58:48Z","format":"format","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
