---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/122/logging/newrelicotlp/test-newrelicotlp
    method: GET
  response:
    body: '{"url":"https://example.nr-data.net","region":null,"response_condition":"","created_at":"2025-06-04T15:25:36Z","format_version":"2","version":"122","log_processing_region":"none","deleted_at":null,"placement":"waf_debug","service_id":"kKJb5bOFI47uHeBVluGfX1","format":"format","name":"test-newrelicotlp","updated_at":"2025-06-04T15:25:36Z","token":"abcd1234"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
