---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/200/logging/newrelicotlp/test-newrelicotlp
    method: GET
  response:
    body: '{"token":"abcd1234","log_processing_region":"none","format_version":"2","created_at":"2026-08-10T19:14:29Z","service_id":"kKJb5bOFI47uHeBVluGfX1","region":null,"format":"format","version":"200","url":"https://example.nr-data.net","response_condition":"","placement":"none","name":"test-newrelicotlp","deleted_at":null,"updated_at":"2026-08-10T19:14:29Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
