---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/175/logging/newrelicotlp/test-newrelicotlp
    method: GET
  response:
    body: '{"response_condition":"","placement":"none","version":"175","deleted_at":null,"token":"abcd1234","format_version":"2","format":"format","updated_at":"2026-07-23T19:31:25Z","log_processing_region":"none","url":"https://example.nr-data.net","created_at":"2026-07-23T19:31:25Z","name":"test-newrelicotlp","service_id":"kKJb5bOFI47uHeBVluGfX1","region":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
