---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/122/logging/newrelicotlp
    method: GET
  response:
    body: '[{"format":"format","format_version":"2","region":null,"log_processing_region":"none","response_condition":"","url":"https://example.nr-data.net","service_id":"kKJb5bOFI47uHeBVluGfX1","placement":"waf_debug","name":"test-newrelicotlp","created_at":"2025-06-04T15:25:36Z","version":"122","updated_at":"2025-06-04T15:25:36Z","deleted_at":null,"token":"abcd1234"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
