---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/200/logging/newrelicotlp
    method: GET
  response:
    body: '[{"deleted_at":null,"updated_at":"2026-08-10T19:14:29Z","url":"https://example.nr-data.net","version":"200","format":"format","response_condition":"","log_processing_region":"none","region":null,"name":"test-newrelicotlp","created_at":"2026-08-10T19:14:29Z","service_id":"kKJb5bOFI47uHeBVluGfX1","format_version":"2","placement":"none","token":"abcd1234"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
