---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/175/logging/newrelicotlp
    method: GET
  response:
    body: '[{"version":"175","response_condition":"","format":"format","service_id":"kKJb5bOFI47uHeBVluGfX1","token":"abcd1234","name":"test-newrelicotlp","region":null,"created_at":"2026-07-23T19:31:25Z","log_processing_region":"none","updated_at":"2026-07-23T19:31:25Z","placement":"none","deleted_at":null,"url":"https://example.nr-data.net","format_version":"2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
