---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/162/logging/newrelicotlp
    method: GET
  response:
    body: '[{"format_version":"2","url":"https://example.nr-data.net","name":"test-newrelicotlp","region":null,"deleted_at":null,"placement":"waf_debug","format":"format","version":"162","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2023-07-27T16:58:48Z","updated_at":"2023-07-27T16:58:48Z","response_condition":"","token":"abcd1234"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
