---
version: 1
interactions:
- request:
    body: '{"format_version":2,"name":"new-test-newrelicotlp","placement":null,"log_processing_region":"eu"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/175/logging/newrelicotlp/test-newrelicotlp
    method: PUT
  response:
    body: '{"log_processing_region":"eu","created_at":"2026-07-23T19:31:25Z","region":null,"format":"format","deleted_at":null,"token":"abcd1234","version":"175","placement":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","url":"https://example.nr-data.net","response_condition":"","updated_at":"2026-07-23T19:31:25Z","format_version":"2","name":"new-test-newrelicotlp"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9602"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
