---
version: 1
interactions:
- request:
    body: format_version=2&name=new-test-newrelicotlp
    form:
      format_version:
      - "2"
      name:
      - new-test-newrelicotlp
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/162/logging/newrelicotlp/test-newrelicotlp
    method: PUT
  response:
    body: '{"token":"abcd1234","region":null,"format":"format","format_version":"2","version":"162","created_at":"2023-07-27T16:58:48Z","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"new-test-newrelicotlp","url":"https://example.nr-data.net","placement":"waf_debug","updated_at":"2023-07-27T16:58:48Z","deleted_at":null,"response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "989"
      Fastly-Ratelimit-Reset:
      - "1690477200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
