---
version: 1
interactions:
- request:
    body: format_version=2&name=new-test-newrelicotlp
    form:
      format_version:
      - "2"
      name:
      - new-test-newrelicotlp
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/14/logging/newrelicotlp/test-newrelicotlp
    method: PUT
  response:
    body: '{"response_condition":"","format_version":"2","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2025-02-28T21:33:57Z","region":null,"token":"abcd1234","placement":null,"version":"14","url":"https://example.nr-data.net","name":"new-test-newrelicotlp","deleted_at":null,"updated_at":"2025-02-28T21:33:57Z","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9926"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
