---
version: 1
interactions:
- request:
    body: '{"format_version":2,"name":"new-test-newrelicotlp","placement":null,"log_processing_region":"eu"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/200/logging/newrelicotlp/test-newrelicotlp
    method: PUT
  response:
    body: '{"token":"abcd1234","url":"https://example.nr-data.net","deleted_at":null,"format":"format","updated_at":"2026-08-10T19:14:29Z","region":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","response_condition":"","format_version":"2","version":"200","name":"new-test-newrelicotlp","placement":null,"log_processing_region":"eu","created_at":"2026-08-10T19:14:29Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9759"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
