---
version: 1
interactions:
- request:
    body: format_version=2&log_processing_region=eu&name=new-test-newrelicotlp
    form:
      format_version:
      - "2"
      log_processing_region:
      - eu
      name:
      - new-test-newrelicotlp
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/122/logging/newrelicotlp/test-newrelicotlp
    method: PUT
  response:
    body: '{"deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","name":"new-test-newrelicotlp","updated_at":"2025-06-04T15:25:36Z","created_at":"2025-06-04T15:25:36Z","token":"abcd1234","format_version":"2","format":"format","version":"122","region":null,"placement":"waf_debug","url":"https://example.nr-data.net","response_condition":"","log_processing_region":"eu"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9867"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
