---
version: 1
interactions:
- request:
    body: '{"url":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/200/logging/newrelicotlp/new-test-newrelicotlp
    method: PUT
  response:
    body: '{"format":"format","format_version":"2","placement":null,"updated_at":"2026-08-10T19:14:32Z","token":"abcd1234","version":"200","response_condition":"","url":null,"name":"new-test-newrelicotlp","region":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","log_processing_region":"eu","created_at":"2026-08-10T19:14:29Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9755"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
