---
version: 1
interactions:
- request:
    body: Service=5Ixrj1XHCwMMbvaoKf8Kou&Version=2&name=WAf_Response&status=403
    form:
      Service:
      - 5Ixrj1XHCwMMbvaoKf8Kou
      Version:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5Ixrj1XHCwMMbvaoKf8Kou/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"5Ixrj1XHCwMMbvaoKf8Kou","version":"2","request_condition":"","response":"ok","created_at":"2020-10-09T09:28:41Z","cache_condition":"","content":null,"deleted_at":null,"updated_at":"2020-10-09T09:28:41Z","content_type":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4928"
      Fastly-Ratelimit-Reset:
      - "1602237600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
