---
version: 1
interactions:
- request:
    body: ServiceID=2kvSoeoTWwJeUObOkeGiwC&ServiceVersion=2&name=WAf_Response&status=403
    form:
      ServiceID:
      - 2kvSoeoTWwJeUObOkeGiwC
      ServiceVersion:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2kvSoeoTWwJeUObOkeGiwC/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"2kvSoeoTWwJeUObOkeGiwC","version":"2","updated_at":"2021-01-14T10:27:49Z","response":"ok","content_type":null,"created_at":"2021-01-14T10:27:49Z","cache_condition":"","content":null,"deleted_at":null,"request_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "864"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
