---
version: 1
interactions:
- request:
    body: '{"Context":null,"description":"This is a list","entries":["entry1"],"name":"List
      Name","type":"string","WorkspaceID":"Am2qjXkgamuYp3u54rQkLD"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/lists
    method: POST
  response:
    body: |
      {"id":"edz2KUoQLxHT3vt2o8rn9x","type":"string","reference_id":"site.list-name","name":"List Name","description":"This is a list","entries":["entry1"],"created_at":"2025-06-29T15:20:01Z","updated_at":"2025-06-29T15:20:01Z","scope":{"type":"workspace"}}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
