---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/2voeSM5z6889qin6D9waPl/pool/2Yd1WfiCBPENLloXfXmlO/servers
    method: GET
  response:
    body: '[{"id":"srvsrvsrvsrvsrvsrv","service_id":"2voeSM5z6889qin6D9waPl","pool_id":"61L1XqByD5TuEVNbaC0R4D","weight":"75","max_conn":"777","port":"1234","override_host":"origin.example.com","address":"integ-test.go-fastly.com","comment":"","disabled":false,"created_at":"2016-06-20T08:20:36+00:00","updated_at":"2016-06-20T08:20:36+00:00","deleted_at":null}]'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "984"
      Fastly-Ratelimit-Reset:
      - "1563879600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200

