---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_ListSecrets-03","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/XEFWk72J2ud8NCZonE2Fj0/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_ListSecrets-03",
        "digest": "SqSAuJj8rAyDULiRRuezgPO8wbF0s2XlAciS9YJPY9k=",
        "created_at": "2023-11-27T15:54:55Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - rIIGFcIUQYYPZR859FPSuZ
    status: 200 OK
    code: 200
    duration: ""
