---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_ListSecrets-03","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/htbYS6BrqhzkI30YaEQcDY/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_ListSecrets-03",
        "digest": "K/YUcfGtgqcZoUxHNw7TOmnK2TKK87sp7yBERfV3jOA=",
        "created_at": "2022-11-28T22:40:40Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - SeOqAzR0Ifr9eax4ZXyQYs
    status: 200 OK
    code: 200
    duration: ""
