---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_ListSecrets-04","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/htbYS6BrqhzkI30YaEQcDY/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_ListSecrets-04",
        "digest": "ktjaUaa2fejzvaugQm7lbmpw4HOTKEFdyL/Pn9Btwyk=",
        "created_at": "2022-11-28T22:40:40Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - IkuYmqHCipJ8mnPJyClGTn
    status: 200 OK
    code: 200
    duration: ""
