---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_ListSecrets-01","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/XEFWk72J2ud8NCZonE2Fj0/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_ListSecrets-01",
        "digest": "geCkbiKUDv9aeq4O8q3Wtq6PC2t0DiRlCm3Pwx7E8dU=",
        "created_at": "2023-11-27T15:54:55Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - WXPIZgFtkVWyoizPzi00lk
    status: 200 OK
    code: 200
    duration: ""
