---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_ListSecrets-04","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/XEFWk72J2ud8NCZonE2Fj0/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_ListSecrets-04",
        "digest": "IhpzIj6kdZn6M3Dfg8LsYMZG+Cn0Ovy/lAnAw7h1OXY=",
        "created_at": "2023-11-27T15:54:56Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - Eqkau7G6UL14teOZFnDW4n
    status: 200 OK
    code: 200
    duration: ""
