---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_ListSecrets-02","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/htbYS6BrqhzkI30YaEQcDY/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_ListSecrets-02",
        "digest": "X8TgyaMT8I2a5er0ihERH360ORPlyFPzWZuAIblitHw=",
        "created_at": "2022-11-28T22:40:40Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - qR2TTGkR0RXCUTkUP4hF6Q
    status: 200 OK
    code: 200
    duration: ""
