---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_ListSecrets-00","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/XEFWk72J2ud8NCZonE2Fj0/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_ListSecrets-00",
        "digest": "xuIJWWYeouTreL95T3vvBrfuFZkVVLAWZ/RpcNYHLYI=",
        "created_at": "2023-11-27T15:54:54Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - 0KO6aQ5odX7Ist2ZVa8Mgj
    status: 200 OK
    code: 200
    duration: ""
