---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_ListSecrets-02","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/XEFWk72J2ud8NCZonE2Fj0/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_ListSecrets-02",
        "digest": "S2cZPsNQDm+t+O88F4aytO+ke0x/VX7eefx8u0ULHxc=",
        "created_at": "2023-11-27T15:54:55Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - FKP4XI1xeyBsaGvppLSrw9
    status: 200 OK
    code: 200
    duration: ""
