---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/metrics/domains/services/kKJb5bOFI47uHeBVluGfX1?cursor=&datacenter=SJC%2CSTP&domain=domain_1.com%2Cdomain_2.com&downsample=hour&end=1744243200&group_by=domain&limit=10&metric=resp_body_bytes%2Cstatus_2xx&region=usa&start=1744156800
    method: GET
  response:
    body: |
      {"data":[],"meta":{"start":"2025-04-09T00:00:00Z","end":"2025-04-10T00:00:00Z","downsample":"hour","metric":"resp_body_bytes,status_2xx","limit":10,"next_cursor":"","sort":"domain","group_by":"domain","filters":{"datacenters":"SJC,STP","domains":"domain_1.com,domain_2.com","regions":"usa"}},"status":"success"}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
