---
version: 1
interactions:
- request:
    body: format=%25h+%25l+%25u+%25t+%22%25r%22+%25%3Es+%25b&format_version=2&name=test-logshuttle&placement=none&token=super-secure-token&url=https%3A%2F%2Flogs.example.com
    form:
      format:
      - '%h %l %u %t "%r" %>s %b'
      format_version:
      - "2"
      name:
      - test-logshuttle
      placement:
      - none
      token:
      - super-secure-token
      url:
      - https://logs.example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/150/logging/logshuttle
    method: POST
  response:
    body: '{"format":"%h %l %u %t \"%r\" %\u003es %b","format_version":"2","name":"test-logshuttle","placement":"none","token":"super-secure-token","url":"https://logs.example.com","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"150","response_condition":"","log_processing_region":"none","created_at":"2026-07-23T19:26:07Z","updated_at":"2026-07-23T19:26:07Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9994"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
