---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/150/logging/logshuttle/test-logshuttle
    method: GET
  response:
    body: '{"placement":"none","token":"super-secure-token","created_at":"2026-07-23T19:26:07Z","url":"https://logs.example.com","version":"150","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","log_processing_region":"none","response_condition":"","format_version":"2","format":"%h
      %l %u %t \"%r\" %\u003es %b","name":"test-logshuttle","updated_at":"2026-07-23T19:26:07Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
