---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/77/logging/logshuttle/test-logshuttle
    method: GET
  response:
    body: '{"format":"%h %l %u %t \"%r\" %\u003es %b","created_at":"2021-11-03T16:58:26Z","placement":"waf_debug","updated_at":"2021-11-03T16:58:26Z","format_version":"2","service_id":"3QSsca5ilwNVpceZ2HJIAH","token":"super-secure-token","response_condition":"","deleted_at":null,"version":"77","url":"https://logs.example.com","name":"test-logshuttle"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
