---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/17/logging/logshuttle/test-logshuttle
    method: GET
  response:
    body: '{"placement":null,"url":"https://logs.example.com","version":"17","updated_at":"2025-02-28T21:33:58Z","format":"%h
      %l %u %t \"%r\" %\u003es %b","deleted_at":null,"name":"test-logshuttle","response_condition":"","token":"super-secure-token","format_version":"2","created_at":"2025-02-28T21:33:58Z","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
