---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/45/logging/logshuttle
    method: GET
  response:
    body: '[{"created_at":"2022-11-04T13:45:16Z","placement":"waf_debug","url":"https://logs.example.com","updated_at":"2022-11-04T13:45:16Z","name":"test-logshuttle","response_condition":"","version":"45","deleted_at":null,"format_version":"2","format":"%h
      %l %u %t \"%r\" %\u003es %b","service_id":"kKJb5bOFI47uHeBVluGfX1","token":"super-secure-token"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
