---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/124/logging/logshuttle
    method: GET
  response:
    body: '[{"url":"https://logs.example.com","format":"%h %l %u %t \"%r\" %\u003es
      %b","version":"124","placement":"waf_debug","created_at":"2020-05-08T11:40:56Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"2","deleted_at":null,"name":"test-logshuttle","response_condition":"","token":"super-secure-token","updated_at":"2020-05-08T11:40:56Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
