---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/77/logging/logshuttle
    method: GET
  response:
    body: '[{"version":"77","service_id":"3QSsca5ilwNVpceZ2HJIAH","deleted_at":null,"format_version":"2","name":"test-logshuttle","url":"https://logs.example.com","created_at":"2021-11-03T16:58:26Z","token":"super-secure-token","response_condition":"","updated_at":"2021-11-03T16:58:26Z","placement":"waf_debug","format":"%h
      %l %u %t \"%r\" %\u003es %b"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
