---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/121/logging/logshuttle
    method: GET
  response:
    body: '[{"version":"121","token":"super-secure-token","deleted_at":null,"updated_at":"2025-06-04T15:22:31Z","format_version":"2","name":"test-logshuttle","format":"%h
      %l %u %t \"%r\" %\u003es %b","service_id":"kKJb5bOFI47uHeBVluGfX1","placement":"waf_debug","response_condition":"","url":"https://logs.example.com","log_processing_region":"none","created_at":"2025-06-04T15:22:31Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
