---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/150/logging/logshuttle
    method: GET
  response:
    body: '[{"updated_at":"2026-07-23T19:26:07Z","format":"%h %l %u %t \"%r\" %\u003es
      %b","token":"super-secure-token","name":"test-logshuttle","url":"https://logs.example.com","log_processing_region":"none","created_at":"2026-07-23T19:26:07Z","version":"150","placement":"none","service_id":"kKJb5bOFI47uHeBVluGfX1","format_version":"2","deleted_at":null,"response_condition":""}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
