---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/49/logging/logshuttle
    method: GET
  response:
    body: '[{"updated_at":"2021-01-14T10:44:03Z","name":"test-logshuttle","format":"%h
      %l %u %t \"%r\" %\u003es %b","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"response_condition":"","version":"49","url":"https://logs.example.com","token":"super-secure-token","created_at":"2021-01-14T10:44:03Z","format_version":"2","placement":"waf_debug"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
