---
version: 1
interactions:
- request:
    body: Name=test-logshuttle&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=77&name=new-test-logshuttle&token=new-token&url=https%3A%2F%2Flogs2.example.com
    form:
      Name:
      - test-logshuttle
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "77"
      name:
      - new-test-logshuttle
      token:
      - new-token
      url:
      - https://logs2.example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/77/logging/logshuttle/test-logshuttle
    method: PUT
  response:
    body: '{"updated_at":"2021-11-03T16:58:26Z","format_version":"2","created_at":"2021-11-03T16:58:26Z","format":"%h
      %l %u %t \"%r\" %\u003es %b","placement":"waf_debug","url":"https://logs2.example.com","version":"77","deleted_at":null,"name":"new-test-logshuttle","response_condition":"","token":"new-token","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4804"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
