---
version: 1
interactions:
- request:
    body: name=new-test-logshuttle&token=new-token&url=https%3A%2F%2Flogs2.example.com
    form:
      name:
      - new-test-logshuttle
      token:
      - new-token
      url:
      - https://logs2.example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/17/logging/logshuttle/test-logshuttle
    method: PUT
  response:
    body: '{"name":"new-test-logshuttle","token":"new-token","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"response_condition":"","url":"https://logs2.example.com","updated_at":"2025-02-28T21:33:58Z","created_at":"2025-02-28T21:33:58Z","placement":null,"version":"17","format":"%h
      %l %u %t \"%r\" %\u003es %b","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9905"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
