---
version: 1
interactions:
- request:
    body: Name=test-logshuttle&Service=7i6HN3TK9wS159v2gPAZ8A&Version=124&name=new-test-logshuttle&token=new-token&url=https%3A%2F%2Flogs2.example.com
    form:
      Name:
      - test-logshuttle
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "124"
      name:
      - new-test-logshuttle
      token:
      - new-token
      url:
      - https://logs2.example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/124/logging/logshuttle/test-logshuttle
    method: PUT
  response:
    body: '{"created_at":"2020-05-08T11:40:56Z","placement":"waf_debug","url":"https://logs2.example.com","format":"%h
      %l %u %t \"%r\" %\u003es %b","version":"124","deleted_at":null,"format_version":"2","name":"new-test-logshuttle","response_condition":"","token":"new-token","updated_at":"2020-05-08T11:40:56Z","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "904"
      Fastly-Ratelimit-Reset:
      - "1588939200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
