---
version: 1
interactions:
- request:
    body: log_processing_region=eu&name=new-test-logshuttle&token=new-token&url=https%3A%2F%2Flogs2.example.com
    form:
      log_processing_region:
      - eu
      name:
      - new-test-logshuttle
      token:
      - new-token
      url:
      - https://logs2.example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/121/logging/logshuttle/test-logshuttle
    method: PUT
  response:
    body: '{"format_version":"2","created_at":"2025-06-04T15:22:31Z","url":"https://logs2.example.com","response_condition":"","updated_at":"2025-06-04T15:22:31Z","name":"new-test-logshuttle","token":"new-token","service_id":"kKJb5bOFI47uHeBVluGfX1","format":"%h
      %l %u %t \"%r\" %\u003es %b","deleted_at":null,"placement":"waf_debug","log_processing_region":"eu","version":"121"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9873"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
