---
version: 1
interactions:
- request:
    body: name=new-test-logshuttle&token=new-token&url=https%3A%2F%2Flogs2.example.com
    form:
      name:
      - new-test-logshuttle
      token:
      - new-token
      url:
      - https://logs2.example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/45/logging/logshuttle/test-logshuttle
    method: PUT
  response:
    body: '{"url":"https://logs2.example.com","version":"45","deleted_at":null,"name":"new-test-logshuttle","created_at":"2022-11-04T13:45:16Z","updated_at":"2022-11-04T13:45:16Z","service_id":"kKJb5bOFI47uHeBVluGfX1","format_version":"2","format":"%h
      %l %u %t \"%r\" %\u003es %b","placement":"waf_debug","response_condition":"","token":"new-token"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9980"
      Fastly-Ratelimit-Reset:
      - "1667570400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
