---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_firewall","id":"59onHkuKX28AMcf0gOojis","attributes":{"service_version_number":"2"}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/59onHkuKX28AMcf0gOojis
    method: DELETE
  response:
    body: '{"errors":[{"title":"Resource not found","detail":"We could not find a
      resource matching the one in your request"}]}'
    headers:
      Status:
      - 404 Not Found
    status: 404 Not Found
    code: 404
    duration: ""
