---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf","attributes":{"prefetch_condition":"test-waf-condition","response":"test-response-object"}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/34/wafs
    method: POST
  response:
    body: '{"data":{"id":"1NGmubiAYnKMtCvXWAeszf","type":"waf","attributes":{"last_push":null,"prefetch_condition":"test-waf-condition","response":"test-response-object","version":34,"service_id":"7i6HN3TK9wS159v2gPAZ8A","disabled":false,"rule_statuses_log_count":0,"rule_statuses_block_count":0,"rule_statuses_disabled_count":0},"relationships":{"configuration_set":{"data":{"id":"6wvihQHbaCG7NBPTfm20S9","type":"configuration_set"}},"owasp":{"data":{"id":"7Voa4ckWs2CEQ3jewO2xr2","type":"owasp"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
