---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_firewall","attributes":{"prefetch_condition":"WAF_Prefetch","response":"WAF_Response","service_id":"5OTf0ZHln9oPp7u1f73YdC","service_version_number":2}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls
    method: POST
  response:
    body: '{"data":{"id":"1vSmtV4xQ3nUyKiomV4Z5a","type":"waf_firewall","attributes":{"active_rules_fastly_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_score_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_score_count":0,"active_rules_trustwave_block_count":0,"active_rules_trustwave_log_count":0,"created_at":"2021-01-14T10:27:49Z","disabled":false,"prefetch_condition":"WAF_Prefetch","response":"WAF_Response","service_id":"5OTf0ZHln9oPp7u1f73YdC","service_version_number":2,"updated_at":"2021-01-14T10:27:49Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
    code: 201
    duration: ""
