---
version: 1
rwmutex: {}
interactions:
- request:
    body: |
      {"data":{"type":"waf","attributes":{"prefetch_condition":"test-waf-condition","response":"test-response-object"}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/786/wafs
    method: POST
  response:
    body: '{"data":{"id":"4fuxZ7bpag8laOjYwxlqZM","type":"waf","attributes":{"last_push":null,"prefetch_condition":"test-waf-condition","response":"test-response-object","version":786},"relationships":{"configuration_set":{"data":{"id":"4Z09wgjp7do8NrOIzlckFS","type":"configuration_set"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
