---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_firewall","id":"1vSmtV4xQ3nUyKiomV4Z5a","attributes":{"disabled":true}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/1vSmtV4xQ3nUyKiomV4Z5a
    method: PATCH
  response:
    body: '{"data":{"id":"1vSmtV4xQ3nUyKiomV4Z5a","type":"waf_firewall","attributes":{"active_rules_fastly_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_score_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_score_count":0,"active_rules_trustwave_block_count":0,"active_rules_trustwave_log_count":0,"created_at":"2021-01-14T10:27:49Z","disabled":true,"prefetch_condition":null,"response":null,"service_id":"5OTf0ZHln9oPp7u1f73YdC","service_version_number":null,"updated_at":"2021-01-14T10:27:52Z"},"relationships":{"waf_vcl":{"data":{"id":"4lH5K88lM9R2PmCquCm6u4","type":"waf_vcl"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
