---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_firewall","id":"206Rvtz4NQuFifzUpnhUqL","attributes":{"disabled":true}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/206Rvtz4NQuFifzUpnhUqL
    method: PATCH
  response:
    body: '{"data":{"id":"206Rvtz4NQuFifzUpnhUqL","type":"waf_firewall","attributes":{"active_rules_fastly_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_score_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_score_count":0,"active_rules_trustwave_block_count":0,"active_rules_trustwave_log_count":0,"created_at":"2020-07-01T09:40:39Z","disabled":true,"prefetch_condition":null,"response":null,"service_id":"5MlnHT66t9pZgO8XrBEDQl","service_version_number":null,"updated_at":"2020-07-01T09:40:41Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
