---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"","attributes":{"disabled":true}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/2m5TQ56k5nWIFJusRN0Vap
    method: PATCH
  response:
    body: '{"data":{"id":"2m5TQ56k5nWIFJusRN0Vap","type":"waf_firewall","attributes":{"active_rules_fastly_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_score_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_score_count":0,"active_rules_trustwave_block_count":0,"active_rules_trustwave_log_count":0,"created_at":"2020-06-30T10:56:27Z","disabled":true,"prefetch_condition":null,"response":null,"service_id":"6PehUY86Aj8yGpccQ0a8oT","service_version_number":null,"updated_at":"2020-06-30T10:56:29Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
