---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_firewall","id":"52bQTZ2NAm4KSB7FWFHvuz","attributes":{"disabled":false}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/52bQTZ2NAm4KSB7FWFHvuz
    method: PATCH
  response:
    body: '{"data":{"id":"52bQTZ2NAm4KSB7FWFHvuz","type":"waf_firewall","attributes":{"active_rules_fastly_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_score_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_score_count":0,"active_rules_trustwave_block_count":0,"active_rules_trustwave_log_count":0,"created_at":"2021-11-03T17:28:17Z","disabled":false,"prefetch_condition":null,"response":null,"service_id":"2Xgb9YcX4auyMwrqJGIHLL","service_version_number":null,"updated_at":"2021-11-03T17:28:20Z"},"relationships":{"waf_vcl":{"data":{"id":"GYTXv1EIp05OWid9nyFul","type":"waf_vcl"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
