---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/5ui1qC2Y9TZIonO95zU3gM/enable
    method: PATCH
  response:
    body: '{"data":{"id":"5ui1qC2Y9TZIonO95zU3gM","type":"waf_firewall","attributes":{"service_id":"1l9vtYGCa1be9QkG5opE5F","prefetch_condition":null,"response":null,"disabled":false,"service_version_number":null,"created_at":"2019-12-13T08:52:52Z","updated_at":"2019-12-13T08:52:55Z","active_rules_trustwave_log_count":0,"active_rules_trustwave_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_score_count":0}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
