---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/firewalls?filter%5Bservice_id%5D=2Xgb9YcX4auyMwrqJGIHLL&filter%5Bservice_version_number%5D=2
    method: GET
  response:
    body: '{"data":[{"id":"52bQTZ2NAm4KSB7FWFHvuz","type":"waf_firewall","attributes":{"active_rules_fastly_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_score_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_score_count":0,"active_rules_trustwave_block_count":0,"active_rules_trustwave_log_count":0,"created_at":"2021-11-03T17:28:17Z","disabled":false,"prefetch_condition":"WAF_Prefetch","response":"WAF_Response","service_id":"2Xgb9YcX4auyMwrqJGIHLL","service_version_number":2,"updated_at":"2021-11-03T17:28:17Z"}}],"links":{"last":"https://api.fastly.com/waf/firewalls?filter[service_id]=2Xgb9YcX4auyMwrqJGIHLL\u0026filter[service_version_number]=2\u0026page[number]=1\u0026page[size]=100","first":"https://api.fastly.com/waf/firewalls?filter[service_id]=2Xgb9YcX4auyMwrqJGIHLL\u0026filter[service_version_number]=2\u0026page[number]=1\u0026page[size]=100"},"meta":{"current_page":1,"per_page":100,"record_count":1,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
