---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/786/wafs
    method: GET
  response:
    body: '{"data":[{"id":"4fuxZ7bpag8laOjYwxlqZM","type":"waf","attributes":{"last_push":null,"prefetch_condition":"test-waf-condition","response":"test-response-object","version":786}}],"links":{"last":"http://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/786/wafs?page[number]=1&page[size]=100","first":"http://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/786/wafs?page[number]=1&page[size]=100"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
