---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/firewalls?filter%5Bservice_id%5D=3qt0xLYGlOxt19jpAQ0LJM&filter%5Bservice_version_number%5D=2
    method: GET
  response:
    body: '{"data":[{"id":"5ui1qC2Y9TZIonO95zU3gM","type":"waf_firewall","attributes":{"service_id":"3qt0xLYGlOxt19jpAQ0LJM","prefetch_condition":"WAF_Prefetch","response":"WAf_Response","disabled":false,"service_version_number":2,"created_at":"2019-11-20T12:59:05Z","updated_at":"2019-11-20T12:59:05Z","active_rules_trustwave_log_count":0,"active_rules_trustwave_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_score_count":0}}],"links":{"last":"https://api.fastly.com/waf/firewalls?filter[service_id]=3qt0xLYGlOxt19jpAQ0LJM\u0026filter[service_version_number]=2\u0026page[number]=1\u0026page[size]=100","first":"https://api.fastly.com/waf/firewalls?filter[service_id]=3qt0xLYGlOxt19jpAQ0LJM\u0026filter[service_version_number]=2\u0026page[number]=1\u0026page[size]=100"},"meta":{"current_page":1,"per_page":100,"record_count":1,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
