---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_firewall","id":"52bQTZ2NAm4KSB7FWFHvuz","attributes":{"response":"WAF_Response2","service_id":"2Xgb9YcX4auyMwrqJGIHLL","service_version_number":2}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/52bQTZ2NAm4KSB7FWFHvuz
    method: PATCH
  response:
    body: '{"data":{"id":"52bQTZ2NAm4KSB7FWFHvuz","type":"waf_firewall","attributes":{"active_rules_fastly_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_score_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_score_count":0,"active_rules_trustwave_block_count":0,"active_rules_trustwave_log_count":0,"created_at":"2021-11-03T17:28:17Z","disabled":false,"prefetch_condition":"WAF_Prefetch","response":"WAF_Response2","service_id":"2Xgb9YcX4auyMwrqJGIHLL","service_version_number":2,"updated_at":"2021-11-03T17:28:17Z"},"relationships":{"waf_vcl":{"data":{"id":"11wffHCFIdmerw3YEJSQfQ","type":"waf_vcl"}}}},"meta":{"warnings":[{"title":"This
      version of this service must be active","detail":"You may only update the WAF
      VCL on an active version of a service.  The version 2 of service 2Xgb9YcX4auyMwrqJGIHLL
      is not active.  You may activate it through https://app.fastly.com or through
      the API: https://docs.fastly.com/api/config#version  Be sure to review the version''s
      changes before activating it."}]}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
