---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_firewall","id":"59onHkuKX28AMcf0gOojis","attributes":{"prefetch_condition":"","response":"test-response-object-2","service_id":"6gkEdARZ3mPzhQvdi2YH3j","service_version_number":"2"}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/59onHkuKX28AMcf0gOojis
    method: PATCH
  response:
    body: '{"data":{"id":"59onHkuKX28AMcf0gOojis","type":"waf_firewall","attributes":{"service_id":"6gkEdARZ3mPzhQvdi2YH3j","prefetch_condition":"","response":"test-response-object-2","disabled":false,"service_version_number":2,"created_at":"2019-11-12T16:10:23Z","updated_at":"2019-11-12T16:10:23Z","active_rules_trustwave_log_count":0,"active_rules_trustwave_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_score_count":0}},"meta":{"warnings":[{"title":"This
      version of this service must be active","detail":"You may only update the WAF
      VCL on an active version of a service.  The version 2 of service 6gkEdARZ3mPzhQvdi2YH3j
      is not active.  You may activate it through https://app.fastly.com or through
      the API: https://docs.fastly.com/api/config#version  Be sure to review the version''s
      changes before activating it."}]}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
