---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_firewall","id":"1bibBdxQkJYmZsQtR3EmmH","attributes":{"response":"WAF_Response2","service_id":"5n1Tvc6QVHtvZlG109EsyV","service_version_number":"2"}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/1bibBdxQkJYmZsQtR3EmmH
    method: PATCH
  response:
    body: '{"data":{"id":"1bibBdxQkJYmZsQtR3EmmH","type":"waf_firewall","attributes":{"active_rules_fastly_block_count":0,"active_rules_fastly_log_count":0,"active_rules_fastly_score_count":0,"active_rules_owasp_block_count":0,"active_rules_owasp_log_count":0,"active_rules_owasp_score_count":0,"active_rules_trustwave_block_count":0,"active_rules_trustwave_log_count":0,"created_at":"2020-07-02T20:19:38Z","disabled":false,"prefetch_condition":"WAF_Prefetch","response":"WAF_Response2","service_id":"5n1Tvc6QVHtvZlG109EsyV","service_version_number":2,"updated_at":"2020-07-02T20:19:38Z"}},"meta":{"warnings":[{"title":"This
      version of this service must be active","detail":"You may only update the WAF
      VCL on an active version of a service.  The version 2 of service 5n1Tvc6QVHtvZlG109EsyV
      is not active.  You may activate it through https://app.fastly.com or through
      the API: https://docs.fastly.com/api/config#version  Be sure to review the version''s
      changes before activating it."}]}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
