---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=656&general.default_ttl=1800
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "656"
      general.default_ttl:
      - "1800"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/656/settings
    method: PUT
  response:
    body: '{"general.default_ttl":1800,"version":656,"general.default_host":"","general.default_pci":0,"service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "929"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
