---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=659&format=format&name=test-logentries&port=1234&token=abcd1234&use_tls=1
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "659"
      format:
      - format
      name:
      - test-logentries
      port:
      - "1234"
      token:
      - abcd1234
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/659/logging/logentries
    method: POST
  response:
    body: '{"format":"format","name":"test-logentries","port":"1234","token":"abcd1234","use_tls":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"659","placement":null,"format_version":"2","response_condition":"","public_key":null,"updated_at":"2017-04-17T16:00:59+00:00","deleted_at":null,"created_at":"2017-04-17T16:00:59+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "913"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
