---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/565/logging/logentries/test-logentries
    method: GET
  response:
    body: '{"format_version":"1","response_condition":"","updated_at":"2016-04-03T16:46:20+00:00","name":"test-logentries","port":"1234","use_tls":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","token":"abcd1234","version":"565","deleted_at":null,"created_at":"2016-04-03T16:46:20+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
