---
version: 1
interactions:
- request:
    body: Name=test-logentries&Service=7i6HN3TK9wS159v2gPAZ8A&Version=603&name=new-test-logentries
    form:
      Name:
      - test-logentries
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "603"
      name:
      - new-test-logentries
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/603/logging/logentries/test-logentries
    method: PUT
  response:
    body: '{"format_version":"1","response_condition":"","public_key":null,"updated_at":"2016-06-29T22:27:38+00:00","name":"new-test-logentries","port":"1234","use_tls":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","token":"abcd1234","version":"603","deleted_at":null,"created_at":"2016-06-29T22:27:38+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "910"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
