---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-logentries&Service=7i6HN3TK9wS159v2gPAZ8A&Version=674&name=new-test-logentries
    form:
      Name:
      - test-logentries
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "674"
      name:
      - new-test-logentries
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/674/logging/logentries/test-logentries
    method: PUT
  response:
    body: '{"placement":null,"format_version":"2","response_condition":"","public_key":null,"updated_at":"2017-07-20T01:15:03+00:00","name":"new-test-logentries","port":"1234","use_tls":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","token":"abcd1234","version":"674","deleted_at":null,"created_at":"2017-07-20T01:15:03+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "961"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
