---
version: 1
interactions:
- request:
    body: format=format&name=test-logentries&placement=waf_debug&port=0&region=us&token=abcd1234&use_tls=1
    form:
      format:
      - format
      name:
      - test-logentries
      placement:
      - waf_debug
      port:
      - "0"
      region:
      - us
      token:
      - abcd1234
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/53/logging/logentries
    method: POST
  response:
    body: '{"format":"format","name":"test-logentries","placement":"waf_debug","port":"0","region":"us","token":"abcd1234","use_tls":"1","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"53","hostname":null,"updated_at":"2022-11-04T15:03:05Z","format_version":"2","response_condition":"","public_key":null,"deleted_at":null,"created_at":"2022-11-04T15:03:05Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9998"
      Fastly-Ratelimit-Reset:
      - "1667577600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
