---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=75&format=format&name=test-logentries&placement=waf_debug&region=us&token=abcd1234&use_tls=1
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "75"
      format:
      - format
      name:
      - test-logentries
      placement:
      - waf_debug
      region:
      - us
      token:
      - abcd1234
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/75/logging/logentries
    method: POST
  response:
    body: '{"format":"format","name":"test-logentries","placement":"waf_debug","region":"us","token":"abcd1234","use_tls":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"75","port":"0","hostname":null,"created_at":"2021-11-03T16:57:24Z","deleted_at":null,"response_condition":"","format_version":"2","updated_at":"2021-11-03T16:57:24Z","public_key":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4813"
      Fastly-Ratelimit-Reset:
      - "1635958800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
