---
version: 1
interactions:
- request:
    body: ServiceID=4vQveBxLAGfObTin9pqYne&ServiceVersion=50&format=format&name=test-logentries&placement=waf_debug&port=1234&token=abcd1234&use_tls=1
    form:
      ServiceID:
      - 4vQveBxLAGfObTin9pqYne
      ServiceVersion:
      - "50"
      format:
      - format
      name:
      - test-logentries
      placement:
      - waf_debug
      port:
      - "1234"
      token:
      - abcd1234
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/4vQveBxLAGfObTin9pqYne/version/50/logging/logentries
    method: POST
  response:
    body: '{"format":"format","name":"test-logentries","placement":"waf_debug","port":"1234","token":"abcd1234","use_tls":"1","service_id":"4vQveBxLAGfObTin9pqYne","version":"50","hostname":"api.logentries.com","response_condition":"","format_version":"2","public_key":null,"region":null,"deleted_at":null,"updated_at":"2021-01-14T10:44:09Z","created_at":"2021-01-14T10:44:09Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "676"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
