---
version: 1
interactions:
- request:
    body: format=format&name=test-logentries&port=0&region=us&token=abcd1234&use_tls=1
    form:
      format:
      - format
      name:
      - test-logentries
      port:
      - "0"
      region:
      - us
      token:
      - abcd1234
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/22/logging/logentries
    method: POST
  response:
    body: '{"format":"format","name":"test-logentries","port":"0","region":"us","token":"abcd1234","use_tls":"1","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"22","hostname":null,"updated_at":"2025-02-28T21:33:59Z","placement":null,"deleted_at":null,"format_version":"2","created_at":"2025-02-28T21:33:59Z","public_key":null,"response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9883"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
