---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=113&format=format&name=test-logentries&placement=waf_debug&region=us&token=abcd1234&use_tls=1
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "113"
      format:
      - format
      name:
      - test-logentries
      placement:
      - waf_debug
      region:
      - us
      token:
      - abcd1234
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/113/logging/logentries
    method: POST
  response:
    body: '{"format":"format","name":"test-logentries","placement":"waf_debug","region":"us","token":"abcd1234","use_tls":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"113","port":"0","hostname":null,"updated_at":"2021-01-19T16:02:30Z","public_key":null,"format_version":"2","response_condition":"","deleted_at":null,"created_at":"2021-01-19T16:02:30Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "998"
      Fastly-Ratelimit-Reset:
      - "1611075600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
