---
version: 1
interactions:
- request:
    body: format=format&name=test-logentries&placement=none&port=0&region=us&token=abcd1234&use_tls=1
    form:
      format:
      - format
      name:
      - test-logentries
      placement:
      - none
      port:
      - "0"
      region:
      - us
      token:
      - abcd1234
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/159/logging/logentries
    method: POST
  response:
    body: '{"format":"format","name":"test-logentries","placement":"none","port":"0","region":"us","token":"abcd1234","use_tls":"1","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"159","hostname":null,"created_at":"2026-07-27T16:12:55Z","log_processing_region":"none","deleted_at":null,"format_version":"2","public_key":null,"response_condition":"","updated_at":"2026-07-27T16:12:55Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9991"
      Fastly-Ratelimit-Reset:
      - "1785171600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
