---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=33&format=format&name=test-logentries&placement=waf_debug&port=1234&token=abcd1234&use_tls=1
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "33"
      format:
      - format
      name:
      - test-logentries
      placement:
      - waf_debug
      port:
      - "1234"
      token:
      - abcd1234
      use_tls:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/33/logging/logentries
    method: POST
  response:
    body: '{"format":"format","name":"test-logentries","placement":"waf_debug","port":"1234","token":"abcd1234","use_tls":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"33","format_version":"2","response_condition":"","updated_at":"2019-05-09T20:26:14Z","deleted_at":null,"created_at":"2019-05-09T20:26:14Z","public_key":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "994"
      Fastly-Ratelimit-Reset:
      - "1557435600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
