---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/53/logging/logentries/test-logentries
    method: GET
  response:
    body: '{"version":"53","created_at":"2022-11-04T15:03:05Z","port":"0","response_condition":"","format_version":"2","name":"test-logentries","deleted_at":null,"format":"format","public_key":null,"token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","region":"us","updated_at":"2022-11-04T15:03:05Z","hostname":null,"placement":"waf_debug","use_tls":"1"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
