---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/119/logging/logentries/test-logentries
    method: GET
  response:
    body: '{"version":"119","format":"format","updated_at":"2025-06-04T15:19:34Z","port":"0","token":"abcd1234","format_version":"2","created_at":"2025-06-04T15:19:34Z","use_tls":"1","public_key":null,"deleted_at":null,"name":"test-logentries","service_id":"kKJb5bOFI47uHeBVluGfX1","log_processing_region":"none","response_condition":"","placement":"waf_debug","hostname":null,"region":"us"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
