---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/674/logging/logentries/test-logentries
    method: GET
  response:
    body: '{"placement":null,"format_version":"1","response_condition":"","public_key":null,"updated_at":"2017-07-20T01:15:03+00:00","name":"test-logentries","port":"1234","use_tls":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","token":"abcd1234","version":"674","deleted_at":null,"created_at":"2017-07-20T01:15:03+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
