---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/75/logging/logentries/test-logentries
    method: GET
  response:
    body: '{"use_tls":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-11-03T16:57:24Z","name":"test-logentries","deleted_at":null,"version":"75","hostname":null,"format":"format","public_key":null,"placement":"waf_debug","created_at":"2021-11-03T16:57:24Z","port":"0","response_condition":"","token":"abcd1234","format_version":"2","region":"us"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
