---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/113/logging/logentries/test-logentries
    method: GET
  response:
    body: '{"deleted_at":null,"hostname":null,"version":"113","port":"0","token":"abcd1234","public_key":null,"response_condition":"","name":"test-logentries","updated_at":"2021-01-19T16:02:30Z","region":"us","placement":"waf_debug","created_at":"2021-01-19T16:02:30Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","format":"format","format_version":"2","use_tls":"1"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
