---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/159/logging/logentries/test-logentries
    method: GET
  response:
    body: '{"format_version":"2","deleted_at":null,"name":"test-logentries","placement":"none","port":"0","created_at":"2026-07-27T16:12:55Z","updated_at":"2026-07-27T16:12:55Z","response_condition":"","hostname":null,"token":"abcd1234","format":"format","log_processing_region":"none","version":"159","service_id":"kKJb5bOFI47uHeBVluGfX1","public_key":null,"region":"us","use_tls":"1"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
