---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/22/logging/logentries/test-logentries
    method: GET
  response:
    body: '{"updated_at":"2025-02-28T21:33:59Z","format":"format","use_tls":"1","token":"abcd1234","hostname":null,"response_condition":"","name":"test-logentries","port":"0","public_key":null,"created_at":"2025-02-28T21:33:59Z","service_id":"kKJb5bOFI47uHeBVluGfX1","region":"us","version":"22","placement":null,"deleted_at":null,"format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
