---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/53/logging/logentries
    method: GET
  response:
    body: '[{"port":"0","use_tls":"1","public_key":null,"hostname":null,"updated_at":"2022-11-04T15:03:05Z","placement":"waf_debug","name":"test-logentries","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"53","created_at":"2022-11-04T15:03:05Z","token":"abcd1234","deleted_at":null,"format":"format","region":"us","format_version":"2","response_condition":""}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
