---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/119/logging/logentries
    method: GET
  response:
    body: '[{"format_version":"2","created_at":"2025-06-04T15:19:34Z","format":"format","hostname":null,"use_tls":"1","placement":"waf_debug","name":"test-logentries","public_key":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","version":"119","token":"abcd1234","port":"0","log_processing_region":"none","response_condition":"","updated_at":"2025-06-04T15:19:34Z","deleted_at":null,"region":"us"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
