---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/159/logging/logentries
    method: GET
  response:
    body: '[{"format_version":"2","port":"0","log_processing_region":"none","public_key":null,"region":"us","updated_at":"2026-07-27T16:12:55Z","deleted_at":null,"use_tls":"1","version":"159","placement":"none","token":"abcd1234","name":"test-logentries","format":"format","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2026-07-27T16:12:55Z","response_condition":"","hostname":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
