---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/22/logging/logentries
    method: GET
  response:
    body: '[{"name":"test-logentries","token":"abcd1234","service_id":"kKJb5bOFI47uHeBVluGfX1","response_condition":"","deleted_at":null,"hostname":null,"use_tls":"1","updated_at":"2025-02-28T21:33:59Z","created_at":"2025-02-28T21:33:59Z","region":"us","placement":null,"version":"22","port":"0","format":"format","format_version":"2","public_key":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
