---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/33/logging/logentries
    method: GET
  response:
    body: '[{"token":"abcd1234","use_tls":"1","response_condition":"","placement":"waf_debug","format_version":"2","updated_at":"2019-05-09T20:26:14Z","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2019-05-09T20:26:14Z","public_key":null,"format":"format","version":"33","name":"test-logentries","port":"1234"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
