---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/113/logging/logentries
    method: GET
  response:
    body: '[{"format_version":"2","region":"us","name":"test-logentries","placement":"waf_debug","use_tls":"1","port":"0","updated_at":"2021-01-19T16:02:30Z","response_condition":"","version":"113","public_key":null,"deleted_at":null,"created_at":"2021-01-19T16:02:30Z","token":"abcd1234","hostname":null,"format":"format","service_id":"7i6HN3TK9wS159v2gPAZ8A"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
