---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/159/logging/logentries
    method: GET
  response:
    body: '[{"updated_at":"2026-07-23T19:28:58Z","format":"format","region":"us","format_version":"2","hostname":null,"version":"159","token":"abcd1234","created_at":"2026-07-23T19:28:58Z","name":"test-logentries","response_condition":"","log_processing_region":"none","service_id":"kKJb5bOFI47uHeBVluGfX1","use_tls":"1","placement":"none","public_key":null,"deleted_at":null,"port":"0"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
