---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-logentries&Service=7i6HN3TK9wS159v2gPAZ8A&Version=33&format_version=2&name=new-test-logentries
    form:
      Name:
      - test-logentries
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "33"
      format_version:
      - "2"
      name:
      - new-test-logentries
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/33/logging/logentries/test-logentries
    method: PUT
  response:
    body: '{"port":"1234","name":"new-test-logentries","format_version":"2","created_at":"2019-05-09T20:26:14Z","token":"abcd1234","public_key":null,"placement":"waf_debug","updated_at":"2019-05-09T20:26:14Z","response_condition":"","version":"33","use_tls":"1","format":"format","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "993"
      Fastly-Ratelimit-Reset:
      - "1557435600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
