---
version: 1
interactions:
- request:
    body: '{"format_version":2,"name":"new-test-logentries","placement":null,"log_processing_region":"eu","region":"ap"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/159/logging/logentries/test-logentries
    method: PUT
  response:
    body: '{"hostname":"","service_id":"kKJb5bOFI47uHeBVluGfX1","token":"abcd1234","deleted_at":null,"public_key":null,"use_tls":"1","region":"ap","updated_at":"2026-07-23T19:28:58Z","log_processing_region":"eu","format":"format","format_version":"2","port":0,"placement":null,"name":"new-test-logentries","version":"159","created_at":"2026-07-23T19:28:58Z","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9867"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
