---
version: 1
interactions:
- request:
    body: format_version=2&name=new-test-logentries&region=ap
    form:
      format_version:
      - "2"
      name:
      - new-test-logentries
      region:
      - ap
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/53/logging/logentries/test-logentries
    method: PUT
  response:
    body: '{"format":"format","updated_at":"2022-11-04T15:03:05Z","port":0,"created_at":"2022-11-04T15:03:05Z","name":"new-test-logentries","deleted_at":null,"public_key":null,"token":"abcd1234","use_tls":"1","version":"53","hostname":"","response_condition":"","format_version":"2","region":"ap","placement":"waf_debug","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1667577600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
