---
version: 1
interactions:
- request:
    body: '{"format_version":2,"name":"new-test-logentries","placement":null,"log_processing_region":"eu","region":"ap","use_tls":"0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/159/logging/logentries/test-logentries
    method: PUT
  response:
    body: '{"updated_at":"2026-07-27T16:12:55Z","format":"format","region":"ap","use_tls":"0","log_processing_region":"eu","service_id":"kKJb5bOFI47uHeBVluGfX1","token":"abcd1234","created_at":"2026-07-27T16:12:55Z","port":0,"name":"new-test-logentries","version":"159","hostname":"","placement":null,"public_key":null,"response_condition":"","deleted_at":null,"format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9989"
      Fastly-Ratelimit-Reset:
      - "1785171600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
