---
version: 1
interactions:
- request:
    body: Name=test-logentries&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=50&format_version=2&name=new-test-logentries
    form:
      Name:
      - test-logentries
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "50"
      format_version:
      - "2"
      name:
      - new-test-logentries
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/50/logging/logentries/test-logentries
    method: PUT
  response:
    body: '{"public_key":null,"format_version":"2","use_tls":"1","placement":"waf_debug","port":"1234","hostname":"api.logentries.com","created_at":"2021-01-14T10:44:09Z","token":"abcd1234","response_condition":"","version":"50","name":"new-test-logentries","updated_at":"2021-01-14T10:44:09Z","region":null,"deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "675"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
