---
version: 1
interactions:
- request:
    body: format_version=2&name=new-test-logentries&region=ap
    form:
      format_version:
      - "2"
      name:
      - new-test-logentries
      region:
      - ap
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/22/logging/logentries/test-logentries
    method: PUT
  response:
    body: '{"port":0,"hostname":"","region":"ap","use_tls":"1","token":"abcd1234","format_version":"2","public_key":null,"version":"22","deleted_at":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","response_condition":"","updated_at":"2025-02-28T21:33:59Z","format":"format","name":"new-test-logentries","created_at":"2025-02-28T21:33:59Z","placement":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9865"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
