---
version: 1
interactions:
- request:
    body: format_version=2&log_processing_region=eu&name=new-test-logentries&region=ap
    form:
      format_version:
      - "2"
      log_processing_region:
      - eu
      name:
      - new-test-logentries
      region:
      - ap
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/119/logging/logentries/test-logentries
    method: PUT
  response:
    body: '{"format":"format","region":"ap","format_version":"2","deleted_at":null,"created_at":"2025-06-04T15:19:34Z","token":"abcd1234","name":"new-test-logentries","public_key":null,"hostname":"","port":0,"log_processing_region":"eu","version":"119","updated_at":"2025-06-04T15:19:34Z","placement":"waf_debug","use_tls":"1","service_id":"kKJb5bOFI47uHeBVluGfX1","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9881"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
