---
version: 1
interactions:
- request:
    body: Name=test-logentries&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=113&format_version=2&name=new-test-logentries&region=ap
    form:
      Name:
      - test-logentries
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "113"
      format_version:
      - "2"
      name:
      - new-test-logentries
      region:
      - ap
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/113/logging/logentries/test-logentries
    method: PUT
  response:
    body: '{"hostname":"","port":0,"name":"new-test-logentries","format_version":"2","use_tls":"1","region":"ap","deleted_at":null,"updated_at":"2021-01-19T16:02:30Z","public_key":null,"created_at":"2021-01-19T16:02:30Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","placement":"waf_debug","version":"113","token":"abcd1234","response_condition":"","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1611075600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
