---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=579&bucket_name=bucket&format=format&gzip_level=9&name=test-gcs&path=%2Fpath&period=12&secret_key=key&timestamp_format=%25Y&user=user
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "579"
      bucket_name:
      - bucket
      format:
      - format
      gzip_level:
      - "9"
      name:
      - test-gcs
      path:
      - /path
      period:
      - "12"
      secret_key:
      - key
      timestamp_format:
      - '%Y'
      user:
      - user
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/579/logging/gcs
    method: POST
  response:
    body: '{"bucket_name":"bucket","format":"format","gzip_level":"9","name":"test-gcs","path":"/path","period":"12","secret_key":"key","timestamp_format":"%Y","user":"user","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"579","format_version":"1","response_condition":"","updated_at":"2016-04-03T17:52:09+00:00","message_type":"classic","deleted_at":null,"created_at":"2016-04-03T17:52:09+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "992"
      Fastly-Ratelimit-Reset:
      - "1459706400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
