---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/654/logging/gcs
    method: GET
  response:
    body: '[{"placement":null,"format_version":"2","response_condition":"","gzip_level":"9","user":"user","secret_key":"key","public_key":null,"updated_at":"2017-04-17T16:00:57+00:00","message_type":"classic","period":"12","name":"test-gcs","bucket_name":"bucket","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"654","path":"/path","deleted_at":null,"created_at":"2017-04-17T16:00:57+00:00","format":"format"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
