---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/579/logging/gcs
    method: GET
  response:
    body: '[{"format_version":"1","response_condition":"","gzip_level":"9","user":"user","secret_key":"key","updated_at":"2016-04-03T17:52:09+00:00","period":"12","message_type":"classic","name":"test-gcs","bucket_name":"bucket","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"579","deleted_at":null,"path":"/path","created_at":"2016-04-03T17:52:09+00:00","format":"format"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
