---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-gcs&Service=7i6HN3TK9wS159v2gPAZ8A&Version=654&name=new-test-gcs
    form:
      Name:
      - test-gcs
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "654"
      name:
      - new-test-gcs
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/654/logging/gcs/test-gcs
    method: PUT
  response:
    body: '{"placement":null,"format_version":"2","response_condition":"","gzip_level":"9","user":"user","secret_key":"key","public_key":null,"updated_at":"2017-04-17T16:00:57+00:00","message_type":"classic","period":"12","name":"new-test-gcs","bucket_name":"bucket","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"654","path":"/path","deleted_at":null,"created_at":"2017-04-17T16:00:57+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "932"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
