---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/XEFWk72J2ud8NCZonE2Fj0/secrets
    method: GET
  response:
    body: |
      {
        "data": [
          {
            "name": "TestClient_ListSecrets-00",
            "digest": "xuIJWWYeouTreL95T3vvBrfuFZkVVLAWZ/RpcNYHLYI=",
            "created_at": "2023-11-27T15:54:54Z"
          },
          {
            "name": "TestClient_ListSecrets-01",
            "digest": "geCkbiKUDv9aeq4O8q3Wtq6PC2t0DiRlCm3Pwx7E8dU=",
            "created_at": "2023-11-27T15:54:55Z"
          },
          {
            "name": "TestClient_ListSecrets-02",
            "digest": "S2cZPsNQDm+t+O88F4aytO+ke0x/VX7eefx8u0ULHxc=",
            "created_at": "2023-11-27T15:54:55Z"
          },
          {
            "name": "TestClient_ListSecrets-03",
            "digest": "SqSAuJj8rAyDULiRRuezgPO8wbF0s2XlAciS9YJPY9k=",
            "created_at": "2023-11-27T15:54:55Z"
          },
          {
            "name": "TestClient_ListSecrets-04",
            "digest": "IhpzIj6kdZn6M3Dfg8LsYMZG+Cn0Ovy/lAnAw7h1OXY=",
            "created_at": "2023-11-27T15:54:56Z"
          }
        ],
        "meta": {
          "limit": 10
        }
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - DMtAEPp9QZPFjWmJCsio7m
    status: 200 OK
    code: 200
    duration: ""
