---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_RecreateSecret","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/McoBzaj4jHg6NmNWG7CRRj/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_RecreateSecret",
        "digest": "a0Fm/a1IJGE0b1s5789cjPVETdpQ21EC54kvA+0zGgA=",
        "created_at": "2023-05-10T21:23:25Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - NQdd0KJMDp0a3hAGNVLqce
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"TestClient_RecreateSecret","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/McoBzaj4jHg6NmNWG7CRRj/secrets
    method: PATCH
  response:
    body: |
      {
        "name": "TestClient_RecreateSecret",
        "digest": "G12VYkOO6Ca4TaIQ48iqHRXhH5O1khQfNPv39oE/+MA=",
        "created_at": "2023-05-10T21:23:30Z",
        "recreated": true
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - IdPvARo6XEHJ6BGZHgnkNz
    status: 200 OK
    code: 200
    duration: ""
