---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret
    method: GET
  response:
    body: |
      {
        "data": [
          {
            "id": "Kmi1SxIUxMc5Iagk4mMZPe",
            "name": "TestClient_ListSecretStores-04",
            "created_at": "2023-11-27T15:54:51Z"
          },
          {
            "id": "ZfxRsiLSflKgDsVDVRMYFC",
            "name": "TestClient_ListSecretStores-02",
            "created_at": "2023-11-27T15:54:51Z"
          },
          {
            "id": "d2SvGpaLNvaiAsRlrzGoyt",
            "name": "TestClient_ListSecretStores-01",
            "created_at": "2023-11-27T15:54:51Z"
          },
          {
            "id": "h49BKtcbrtmBAUg6sYP78X",
            "name": "TestClient_ListSecretStores-00",
            "created_at": "2023-11-27T15:54:50Z"
          },
          {
            "id": "hFRcvaDiONsTVYbjOcUmoI",
            "name": "TestClient_ListSecretStores-03",
            "created_at": "2023-11-27T15:54:51Z"
          }
        ],
        "meta": {
          "limit": 10
        }
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - WQslbsxdZuNr6BhxJ2TKfk
    status: 200 OK
    code: 200
    duration: ""
