---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_CreateOrRecreateSecret","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/UwzCbVsOGmdRvKZwLTzVJL/secrets
    method: PUT
  response:
    body: |
      {
        "name": "TestClient_CreateOrRecreateSecret",
        "digest": "v+qtPCbd8PiqZcXxJfrvNDFbRzOR3PMN9ZNFcuZpOyU=",
        "created_at": "2023-05-10T21:23:49Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - 2SN0KbwrBwGtKs8BZesOmV
    status: 200 OK
    code: 200
    duration: ""
