---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/crO6dvsiLjNyGMItdA8Duq/secrets
    method: GET
  response:
    body: |
      {
        "data": [
          {
            "name": "TestClient_ListSecrets-00",
            "digest": "hHC5cATutIsYicNSPlBUzLfd0aGWKoPi1UG8MDuQpps="
          },
          {
            "name": "TestClient_ListSecrets-01",
            "digest": "yxMEqKry7Wz9mFKw4el2a0qTaWJT4VUa5+uuUgMnkCY="
          },
          {
            "name": "TestClient_ListSecrets-04",
            "digest": "/gtTi221CmscCnVrcd9SdrxrHEdHMSrtfPibWxlgblM="
          },
          {
            "name": "TestClient_ListSecrets-03",
            "digest": "qJWQJ48jF9gO+FGl/Asw6fCsT3wBb3BvG+7gTnQmAmk="
          },
          {
            "name": "TestClient_ListSecrets-02",
            "digest": "iyaN1TnCEFUjE3XAy0o/SNQLeAO2dKepT3rUlLP3j4g="
          }
        ],
        "meta": {
          "limit": 10
        }
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - cJfIQSbwZpVSvXkuCClA97
    status: 200 OK
    code: 200
    duration: ""
