---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_RecreateSecret","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/Sfkx0raCtSr9r06jInEei7/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_RecreateSecret",
        "digest": "Tt/tuKTAid4VBlbmwrDZdg4KUl/+rh3eQbei3U5f/zE=",
        "created_at": "2023-11-27T15:54:54Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - ygNUl9REFcf80Ua5IpSeYp
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"name":"TestClient_RecreateSecret","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/Sfkx0raCtSr9r06jInEei7/secrets
    method: PATCH
  response:
    body: |
      {
        "name": "TestClient_RecreateSecret",
        "digest": "U97UrbBCEFO04Lr8ogpgnVT3cQYcNXje/EvDUgq77gY=",
        "created_at": "2023-11-27T15:54:55Z",
        "recreated": true
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - iukepgGGCMqky9dxwPDZ4t
    status: 200 OK
    code: 200
    duration: ""
