---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_CreateSecret","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/7JRVXwwlXKHM8c4vO2LlIA/secrets
    method: POST
  response:
    body: |
      {
        "name": "TestClient_CreateSecret",
        "digest": "SKTSAkzwXu2F+TWFMKAaBQugOr7Ywiy9JwzSG4kklf4=",
        "created_at": "2022-11-28T22:40:39Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - G5R36sLOJAOWPDQNv1Gkty
    status: 200 OK
    code: 200
    duration: ""
