---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret
    method: GET
  response:
    body: |
      {
        "data": [
          {
            "id": "Svutc59lw0v85xFhQVmK01",
            "name": "TestClient_ListSecretStores-03"
          },
          {
            "id": "eKvDJXrsMTMINiapvCUJZe",
            "name": "TestClient_ListSecretStores-01"
          },
          {
            "id": "geskNox0MimbeFmpCo2y4S",
            "name": "TestClient_ListSecretStores-00"
          },
          {
            "id": "imA8j50hMdlbEhreM2igNP",
            "name": "TestClient_ListSecretStores-02"
          },
          {
            "id": "wzLBnkxQV291CX4unAYefO",
            "name": "TestClient_ListSecretStores-04"
          }
        ],
        "meta": {
          "limit": 10
        }
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - zuKKhnirBmGWSdcLoQDUJV
    status: 200 OK
    code: 200
    duration: ""
