---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret
    method: GET
  response:
    body: |
      {
        "data": [
          {
            "id": "6a1U7edUQlMux6qO6KFjlU",
            "name": "TestClient_ListSecretStores-02",
            "created_at": "2022-11-28T22:40:38Z"
          },
          {
            "id": "Alo6zAdQFQXcOzMV1RI0on",
            "name": "TestClient_ListSecretStores-04",
            "created_at": "2022-11-28T22:40:38Z"
          },
          {
            "id": "GEpyeR07G6Qj4YpwWyXuLn",
            "name": "TestClient_ListSecretStores-01",
            "created_at": "2022-11-28T22:40:38Z"
          },
          {
            "id": "KRDkNYoaGptu5BwFLCMRGD",
            "name": "TestClient_ListSecretStores-00",
            "created_at": "2022-11-28T22:40:38Z"
          },
          {
            "id": "fmGg6IPsjc7tXJefYcuEK4",
            "name": "TestClient_ListSecretStores-03",
            "created_at": "2022-11-28T22:40:38Z"
          }
        ],
        "meta": {
          "limit": 10
        }
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - 1GJIdACeogqVdycF2e5iKg
    status: 200 OK
    code: 200
    duration: ""
