---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/htbYS6BrqhzkI30YaEQcDY/secrets
    method: GET
  response:
    body: |
      {
        "data": [
          {
            "name": "TestClient_ListSecrets-01",
            "digest": "UpTE7iRgHnf0hsQd23RoE7YET3NSptFrJbU79XgHi/g=",
            "created_at": "2022-11-28T22:40:40Z"
          },
          {
            "name": "TestClient_ListSecrets-00",
            "digest": "LeEouWciqTNp+5SKYYjM2elJwI4OnzRUMkhLNrRWsHk=",
            "created_at": "2022-11-28T22:40:39Z"
          },
          {
            "name": "TestClient_ListSecrets-02",
            "digest": "X8TgyaMT8I2a5er0ihERH360ORPlyFPzWZuAIblitHw=",
            "created_at": "2022-11-28T22:40:40Z"
          },
          {
            "name": "TestClient_ListSecrets-04",
            "digest": "ktjaUaa2fejzvaugQm7lbmpw4HOTKEFdyL/Pn9Btwyk=",
            "created_at": "2022-11-28T22:40:40Z"
          },
          {
            "name": "TestClient_ListSecrets-03",
            "digest": "K/YUcfGtgqcZoUxHNw7TOmnK2TKK87sp7yBERfV3jOA=",
            "created_at": "2022-11-28T22:40:40Z"
          }
        ],
        "meta": {
          "limit": 10
        }
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - 2MOctFyV0RcyeKvSQadKCH
    status: 200 OK
    code: 200
    duration: ""
