---
version: 1
interactions:
- request:
    body: |
      {"name":"TestClient_CreateOrRecreateSecret","secret":"c2VjcmV0dW0gc2VydmFyZQ=="}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/resources/stores/secret/HRVK8PEwGUOnFzgM8n4qie/secrets
    method: PUT
  response:
    body: |
      {
        "name": "TestClient_CreateOrRecreateSecret",
        "digest": "f4R1mcr04jLwD8u5gnbfdbktQsiHE20gJIp1lhdc5sY=",
        "created_at": "2023-11-27T15:54:54Z"
      }
    headers:
      Content-Type:
      - application/json
      Fastly-Trace-Id:
      - rBGzecq3ULttLLf98tAulU
    status: 200 OK
    code: 200
    duration: ""
