---
version: 1
interactions:
- request:
    body: Service=2tqox6DHGJMOXYH4nYZqgN&Version=2&name=WAf_Response&status=403
    form:
      Service:
      - 2tqox6DHGJMOXYH4nYZqgN
      Version:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2tqox6DHGJMOXYH4nYZqgN/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"2tqox6DHGJMOXYH4nYZqgN","version":"2","cache_condition":"","updated_at":"2020-10-07T13:09:08Z","response":"ok","created_at":"2020-10-07T13:09:08Z","request_condition":"","content_type":null,"content":null,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4940"
      Fastly-Ratelimit-Reset:
      - "1602079200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
