---
version: 1
interactions:
- request:
    body: format=%25h+%25l+%25u+%25t+%22%25r%22+%25%3Es+%25b&format_version=2&name=test-heroku&token=super-secure-token&url=https%3A%2F%2F1.us.logplex.io%2Flogs
    form:
      format:
      - '%h %l %u %t "%r" %>s %b'
      format_version:
      - "2"
      name:
      - test-heroku
      token:
      - super-secure-token
      url:
      - https://1.us.logplex.io/logs
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/21/logging/heroku
    method: POST
  response:
    body: '{"format":"%h %l %u %t \"%r\" %\u003es %b","format_version":"2","name":"test-heroku","token":"super-secure-token","url":"https://1.us.logplex.io/logs","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"21","updated_at":"2025-02-28T21:33:59Z","response_condition":"","placement":null,"deleted_at":null,"created_at":"2025-02-28T21:33:59Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9892"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
