---
version: 1
interactions:
- request:
    body: format=%25h+%25l+%25u+%25t+%22%25r%22+%25%3Es+%25b&format_version=2&name=test-heroku&placement=waf_debug&token=super-secure-token&url=https%3A%2F%2F1.us.logplex.io%2Flogs
    form:
      format:
      - '%h %l %u %t "%r" %>s %b'
      format_version:
      - "2"
      name:
      - test-heroku
      placement:
      - waf_debug
      token:
      - super-secure-token
      url:
      - https://1.us.logplex.io/logs
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/114/logging/heroku
    method: POST
  response:
    body: '{"format":"%h %l %u %t \"%r\" %\u003es %b","format_version":"2","name":"test-heroku","placement":"waf_debug","token":"super-secure-token","url":"https://1.us.logplex.io/logs","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"114","created_at":"2025-06-04T15:10:03Z","log_processing_region":"none","response_condition":"","deleted_at":null,"updated_at":"2025-06-04T15:10:03Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9919"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
