---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=116&format=%25h+%25l+%25u+%25t+%22%25r%22+%25%3Es+%25b&format_version=2&name=test-heroku&placement=waf_debug&token=super-secure-token&url=https%3A%2F%2F1.us.logplex.io%2Flogs
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "116"
      format:
      - '%h %l %u %t "%r" %>s %b'
      format_version:
      - "2"
      name:
      - test-heroku
      placement:
      - waf_debug
      token:
      - super-secure-token
      url:
      - https://1.us.logplex.io/logs
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/116/logging/heroku
    method: POST
  response:
    body: '{"format":"%h %l %u %t \"%r\" %\u003es %b","format_version":"2","name":"test-heroku","placement":"waf_debug","token":"super-secure-token","url":"https://1.us.logplex.io/logs","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"116","created_at":"2020-05-08T11:19:36Z","updated_at":"2020-05-08T11:19:36Z","deleted_at":null,"response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "968"
      Fastly-Ratelimit-Reset:
      - "1588939200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
