---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/164/logging/heroku/test-heroku
    method: GET
  response:
    body: '{"created_at":"2026-07-23T19:29:32Z","url":"https://1.us.logplex.io/logs","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"test-heroku","deleted_at":null,"version":"164","response_condition":"","placement":"none","log_processing_region":"none","format_version":"2","token":"super-secure-token","updated_at":"2026-07-23T19:29:32Z","format":"%h
      %l %u %t \"%r\" %\u003es %b"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
