---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/57/logging/heroku/test-heroku
    method: GET
  response:
    body: '{"placement":"waf_debug","format":"%h %l %u %t \"%r\" %\u003es %b","format_version":"2","updated_at":"2022-11-04T15:22:52Z","service_id":"kKJb5bOFI47uHeBVluGfX1","token":"super-secure-token","response_condition":"","deleted_at":null,"version":"57","url":"https://1.us.logplex.io/logs","created_at":"2022-11-04T15:22:52Z","name":"test-heroku"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
