---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/116/logging/heroku/test-heroku
    method: GET
  response:
    body: '{"created_at":"2020-05-08T11:19:36Z","token":"super-secure-token","updated_at":"2020-05-08T11:19:36Z","response_condition":"","version":"116","service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"2","deleted_at":null,"format":"%h
      %l %u %t \"%r\" %\u003es %b","name":"test-heroku","placement":"waf_debug","url":"https://1.us.logplex.io/logs"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
