---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/70/logging/heroku/test-heroku
    method: GET
  response:
    body: '{"response_condition":"","url":"https://1.us.logplex.io/logs","created_at":"2021-11-03T16:53:08Z","token":"super-secure-token","name":"test-heroku","placement":"waf_debug","format":"%h
      %l %u %t \"%r\" %\u003es %b","updated_at":"2021-11-03T16:53:08Z","version":"70","format_version":"2","deleted_at":null,"service_id":"3QSsca5ilwNVpceZ2HJIAH"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
