---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/114/logging/heroku/test-heroku
    method: GET
  response:
    body: '{"name":"test-heroku","created_at":"2025-06-04T15:10:03Z","token":"super-secure-token","deleted_at":null,"format_version":"2","url":"https://1.us.logplex.io/logs","format":"%h
      %l %u %t \"%r\" %\u003es %b","response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","placement":"waf_debug","updated_at":"2025-06-04T15:10:03Z","version":"114","log_processing_region":"none"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
