---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/164/logging/heroku
    method: GET
  response:
    body: '[{"log_processing_region":"none","format_version":"2","url":"https://1.us.logplex.io/logs","created_at":"2026-07-23T19:29:32Z","updated_at":"2026-07-23T19:29:32Z","response_condition":"","version":"164","name":"test-heroku","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"format":"%h
      %l %u %t \"%r\" %\u003es %b","placement":"none","token":"super-secure-token"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
