---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/57/logging/heroku
    method: GET
  response:
    body: '[{"name":"test-heroku","created_at":"2022-11-04T15:22:52Z","url":"https://1.us.logplex.io/logs","version":"57","deleted_at":null,"response_condition":"","token":"super-secure-token","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2022-11-04T15:22:52Z","placement":"waf_debug","format_version":"2","format":"%h
      %l %u %t \"%r\" %\u003es %b"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
