---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/70/logging/heroku
    method: GET
  response:
    body: '[{"format_version":"2","updated_at":"2021-11-03T16:53:08Z","placement":"waf_debug","created_at":"2021-11-03T16:53:08Z","format":"%h
      %l %u %t \"%r\" %\u003es %b","name":"test-heroku","url":"https://1.us.logplex.io/logs","version":"70","deleted_at":null,"response_condition":"","token":"super-secure-token","service_id":"3QSsca5ilwNVpceZ2HJIAH"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
