---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/45/logging/heroku
    method: GET
  response:
    body: '[{"name":"test-heroku","service_id":"7i6HN3TK9wS159v2gPAZ8A","url":"https://1.us.logplex.io/logs","format":"%h
      %l %u %t \"%r\" %\u003es %b","response_condition":"","created_at":"2021-01-14T10:43:00Z","updated_at":"2021-01-14T10:43:00Z","format_version":"2","deleted_at":null,"placement":"waf_debug","version":"45","token":"super-secure-token"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
