---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/21/logging/heroku
    method: GET
  response:
    body: '[{"service_id":"kKJb5bOFI47uHeBVluGfX1","token":"super-secure-token","name":"test-heroku","updated_at":"2025-02-28T21:33:59Z","url":"https://1.us.logplex.io/logs","deleted_at":null,"response_condition":"","version":"21","placement":null,"created_at":"2025-02-28T21:33:59Z","format_version":"2","format":"%h
      %l %u %t \"%r\" %\u003es %b"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
