---
version: 1
interactions:
- request:
    body: Name=test-heroku&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=45&name=new-test-heroku&token=new-token
    form:
      Name:
      - test-heroku
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "45"
      name:
      - new-test-heroku
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/45/logging/heroku/test-heroku
    method: PUT
  response:
    body: '{"format_version":"2","format":"%h %l %u %t \"%r\" %\u003es %b","url":"https://1.us.logplex.io/logs","version":"45","updated_at":"2021-01-14T10:43:00Z","token":"new-token","placement":"waf_debug","name":"new-test-heroku","created_at":"2021-01-14T10:43:00Z","response_condition":"","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "701"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
