---
version: 1
interactions:
- request:
    body: '{"name":"new-test-heroku","placement":null,"log_processing_region":"eu","token":"new-token"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/164/logging/heroku/test-heroku
    method: PUT
  response:
    body: '{"updated_at":"2026-07-23T19:29:32Z","deleted_at":null,"placement":null,"url":"https://1.us.logplex.io/logs","format_version":"2","created_at":"2026-07-23T19:29:32Z","log_processing_region":"eu","service_id":"kKJb5bOFI47uHeBVluGfX1","token":"new-token","name":"new-test-heroku","version":"164","response_condition":"","format":"%h
      %l %u %t \"%r\" %\u003es %b"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9798"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
