---
version: 1
interactions:
- request:
    body: name=new-test-heroku&token=new-token
    form:
      name:
      - new-test-heroku
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/57/logging/heroku/test-heroku
    method: PUT
  response:
    body: '{"response_condition":"","placement":"waf_debug","format_version":"2","token":"new-token","format":"%h
      %l %u %t \"%r\" %\u003es %b","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2022-11-04T15:22:52Z","deleted_at":null,"version":"57","url":"https://1.us.logplex.io/logs","name":"new-test-heroku","created_at":"2022-11-04T15:22:52Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9968"
      Fastly-Ratelimit-Reset:
      - "1667577600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
