---
version: 1
interactions:
- request:
    body: name=new-test-heroku&token=new-token
    form:
      name:
      - new-test-heroku
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/21/logging/heroku/test-heroku
    method: PUT
  response:
    body: '{"url":"https://1.us.logplex.io/logs","format_version":"2","placement":null,"deleted_at":null,"version":"21","created_at":"2025-02-28T21:33:59Z","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"new-test-heroku","response_condition":"","token":"new-token","format":"%h
      %l %u %t \"%r\" %\u003es %b","updated_at":"2025-02-28T21:33:59Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9868"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
