---
version: 1
interactions:
- request:
    body: log_processing_region=eu&name=new-test-heroku&token=new-token
    form:
      log_processing_region:
      - eu
      name:
      - new-test-heroku
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/114/logging/heroku/test-heroku
    method: PUT
  response:
    body: '{"created_at":"2025-06-04T15:10:03Z","token":"new-token","updated_at":"2025-06-04T15:10:03Z","response_condition":"","format":"%h
      %l %u %t \"%r\" %\u003es %b","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"placement":"waf_debug","log_processing_region":"eu","version":"114","format_version":"2","url":"https://1.us.logplex.io/logs","name":"new-test-heroku"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9918"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
