---
version: 1
interactions:
- request:
    body: Name=test-heroku&Service=7i6HN3TK9wS159v2gPAZ8A&Version=116&name=new-test-heroku&token=new-token
    form:
      Name:
      - test-heroku
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "116"
      name:
      - new-test-heroku
      token:
      - new-token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/116/logging/heroku/test-heroku
    method: PUT
  response:
    body: '{"name":"new-test-heroku","version":"116","token":"new-token","response_condition":"","created_at":"2020-05-08T11:19:36Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","format_version":"2","format":"%h
      %l %u %t \"%r\" %\u003es %b","url":"https://1.us.logplex.io/logs","placement":"waf_debug","deleted_at":null,"updated_at":"2020-05-08T11:19:36Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "967"
      Fastly-Ratelimit-Reset:
      - "1588939200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
