---
version: 1
interactions:
- request:
    body: '{"name":"gofastly-sdk-testing-active-list-bug"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs
    method: POST
  response:
    body: |
      {"created_at":"2026-09-25T20:41:23.012676674Z","id":"79NSSnAdr7eLQXQZqJ7yBN","links":{"paths":"/domain-management/v1/routing-configs/79NSSnAdr7eLQXQZqJ7yBN/paths","self":"/domain-management/v1/routing-configs/79NSSnAdr7eLQXQZqJ7yBN"},"name":"gofastly-sdk-testing-active-list-bug"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
