---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domain-management/v1/routing-configs/79NSSnAdr7eLQXQZqJ7yBN/activate
    method: POST
  response:
    body: |
      {"created_at":"2026-09-25T20:41:23Z","id":"79NSSnAdr7eLQXQZqJ7yBN","links":{"paths":"/domain-management/v1/routing-configs/79NSSnAdr7eLQXQZqJ7yBN/paths","self":"/domain-management/v1/routing-configs/79NSSnAdr7eLQXQZqJ7yBN"},"name":"gofastly-sdk-testing-active-list-bug","state":"active","updated_at":"2026-09-25T20:41:23Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
