---
version: 1
interactions:
- request:
    body: '{"path":"/"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/79NSSnAdr7eLQXQZqJ7yBN/paths
    method: POST
  response:
    body: |
      {"created_at":"2026-09-25T20:41:23.325033555Z","id":"2LcLvej32atu1zOWAsqtLt","links":{"rules":"/domain-management/v1/routing-configs/79NSSnAdr7eLQXQZqJ7yBN/paths/2LcLvej32atu1zOWAsqtLt/rules","self":"/domain-management/v1/routing-configs/79NSSnAdr7eLQXQZqJ7yBN/paths/2LcLvej32atu1zOWAsqtLt"},"path":"/"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
