---
version: 1
interactions:
- request:
    body: '{"path":"/fiesta"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/5vAluJJmMKxmAZLIVjVP6T/paths
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:03.548062992Z","id":"5EEbCR1aP6Ajdck5dNazHe","links":{"rules":"/domain-management/v1/routing-configs/5vAluJJmMKxmAZLIVjVP6T/paths/5EEbCR1aP6Ajdck5dNazHe/rules","self":"/domain-management/v1/routing-configs/5vAluJJmMKxmAZLIVjVP6T/paths/5EEbCR1aP6Ajdck5dNazHe"},"path":"/fiesta"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
