---
version: 1
interactions:
- request:
    body: '{"name":"gofastly-sdk-testing-paths-config"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:03.394248652Z","id":"5vAluJJmMKxmAZLIVjVP6T","links":{"paths":"/domain-management/v1/routing-configs/5vAluJJmMKxmAZLIVjVP6T/paths","self":"/domain-management/v1/routing-configs/5vAluJJmMKxmAZLIVjVP6T"},"name":"gofastly-sdk-testing-paths-config"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
