---
version: 1
interactions:
- request:
    body: '{"path":"/fiesta2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/5vAluJJmMKxmAZLIVjVP6T/paths/5EEbCR1aP6Ajdck5dNazHe
    method: PATCH
  response:
    body: |
      {"created_at":"2026-09-23T16:50:04Z","id":"5EEbCR1aP6Ajdck5dNazHe","links":{"rules":"/domain-management/v1/routing-configs/5vAluJJmMKxmAZLIVjVP6T/paths/5EEbCR1aP6Ajdck5dNazHe/rules","self":"/domain-management/v1/routing-configs/5vAluJJmMKxmAZLIVjVP6T/paths/5EEbCR1aP6Ajdck5dNazHe"},"path":"/fiesta2","updated_at":"2026-09-23T16:50:03.865570555Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
