---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=611&content=%0Abackend+default+%7B%0A++.host+%3D+%22127.0.0.1%22%3B%0A++.port+%3D+%229092%22%3B%0A%7D%0A%0Asub+vcl_recv+%7B%0A++set+req.backend+%3D+default%3B%0A%7D%0A%0Asub+vcl_hash+%7B%0A++set+req.hash+%2B%3D+req.url%3B%0A++set+req.hash+%2B%3D+req.http.host%3B%0A++set+req.hash+%2B%3D+%220%22%3B%0A%7D%0A&name=test-vcl
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "611"
      content:
      - |2

        backend default {
          .host = "127.0.0.1";
          .port = "9092";
        }

        sub vcl_recv {
          set req.backend = default;
        }

        sub vcl_hash {
          set req.hash += req.url;
          set req.hash += req.http.host;
          set req.hash += "0";
        }
      name:
      - test-vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/611/vcl
    method: POST
  response:
    body: '{"content":"\nbackend default {\n  .host = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub
      vcl_recv {\n  set req.backend = default;\n}\n\nsub vcl_hash {\n  set req.hash
      += req.url;\n  set req.hash += req.http.host;\n  set req.hash += \"0\";\n}\n","name":"test-vcl","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":611,"deleted_at":null,"main":false,"created_at":"2016-06-29T22:27:47+00:00","updated_at":"2016-06-29T22:27:47+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "875"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
