---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/573/vcl
    method: GET
  response:
    body: '[{"version":573,"name":"test-vcl","content":"\nbackend default {\n  .host
      = \"127.0.0.1\";\n  .port = \"9092\";\n}\n\nsub vcl_recv {\n  set req.backend
      = default;\n}\n\nsub vcl_hash {\n  set req.hash += req.url;\n  set req.hash
      += req.http.host;\n  set req.hash += \"0\";\n}\n","service_id":"7i6HN3TK9wS159v2gPAZ8A","main":false}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
