---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ai-runtime-control/v1/providers/groq/models
    method: GET
  response:
    body: |
      {"data":[{"id":"allam-2-7b","display_name":"ALLaM 2 7B","provider_id":"groq"},{"id":"canopylabs/orpheus-arabic-saudi","display_name":"Orpheus Arabic (Saudi)","provider_id":"groq"},{"id":"canopylabs/orpheus-v1-english","display_name":"Orpheus v1 English","provider_id":"groq"},{"id":"groq/compound","display_name":"Compound","provider_id":"groq"},{"id":"groq/compound-mini","display_name":"Compound Mini","provider_id":"groq"},{"id":"llama-3.1-8b-instant","display_name":"Llama 3.1 8B Instant","provider_id":"groq"},{"id":"llama-3.3-70b-versatile","display_name":"Llama 3.3 70B Versatile","provider_id":"groq"},{"id":"meta-llama/llama-4-scout-17b-16e-instruct","display_name":"Llama 4 Scout 17B","provider_id":"groq"},{"id":"meta-llama/llama-prompt-guard-2-22m","display_name":"Llama Prompt Guard 2 22M","provider_id":"groq"},{"id":"meta-llama/llama-prompt-guard-2-86m","display_name":"Llama Prompt Guard 2 86M","provider_id":"groq"},{"id":"openai/gpt-oss-120b","display_name":"GPT OSS 120B","provider_id":"groq"},{"id":"openai/gpt-oss-20b","display_name":"GPT OSS 20B","provider_id":"groq"},{"id":"openai/gpt-oss-safeguard-20b","display_name":"GPT OSS Safeguard 20B","provider_id":"groq"},{"id":"qwen/qwen3-32b","display_name":"Qwen 3 32B","provider_id":"groq"},{"id":"whisper-large-v3","display_name":"Whisper Large v3","provider_id":"groq"},{"id":"whisper-large-v3-turbo","display_name":"Whisper Large v3 Turbo","provider_id":"groq"}],"meta":{"total":16}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
