---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-4037200794235010051&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-4037200794235010051
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service-4037200794235010051","type":"vcl","updated_at":"2020-10-09T09:28:40Z","id":"0Ez5eLazQudDmMaeJ6sk4A","versions":[{"service_id":"0Ez5eLazQudDmMaeJ6sk4A","deleted_at":null,"active":false,"number":1,"deployed":false,"locked":false,"created_at":"2020-10-09T09:28:40Z","comment":"","staging":false,"testing":false,"updated_at":"2020-10-09T09:28:40Z"}],"created_at":"2020-10-09T09:28:40Z","publish_key":"","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4934"
      Fastly-Ratelimit-Reset:
      - "1602237600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
