---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-3916589616287113937&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-3916589616287113937
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service-3916589616287113937","type":"vcl","updated_at":"2021-11-03T17:30:06Z","versions":[{"updated_at":"2021-11-03T17:30:06Z","service_id":"2phtPRZGnzEZsQuV10c7wv","deployed":false,"number":1,"deleted_at":null,"active":false,"testing":false,"comment":"","staging":false,"created_at":"2021-11-03T17:30:06Z","locked":false}],"paused":false,"deleted_at":null,"id":"2phtPRZGnzEZsQuV10c7wv","publish_key":"","created_at":"2021-11-03T17:30:06Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4767"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
