---
version: 1
interactions:
- request:
    body: '{"public_key":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/199/logging/openstack/new-test-openstack
    method: PUT
  response:
    body: '{"created_at":"2026-08-10T19:14:24Z","format":"format","format_version":"2","response_condition":"","updated_at":"2026-08-10T19:14:33Z","public_key":null,"placement":null,"access_key":"secret-key","service_id":"kKJb5bOFI47uHeBVluGfX1","bucket_name":"bucket-name","period":"12","compression_codec":"zstd","gzip_level":"0","message_type":"classic","log_processing_region":"eu","version":"199","path":"/path","name":"new-test-openstack","url":"https://logs.example.com/v1.0","deleted_at":null,"user":"new-user","timestamp_format":"%Y"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9749"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
