---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-6129484611666145821&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-6129484611666145821
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service-6129484611666145821","type":"vcl","versions":[{"testing":false,"comment":"","staging":false,"deleted_at":null,"active":false,"created_at":"2020-10-07T13:09:06Z","updated_at":"2020-10-07T13:09:06Z","service_id":"2tqox6DHGJMOXYH4nYZqgN","locked":false,"number":1,"deployed":false}],"id":"2tqox6DHGJMOXYH4nYZqgN","updated_at":"2020-10-07T13:09:06Z","created_at":"2020-10-07T13:09:06Z","deleted_at":null,"publish_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4949"
      Fastly-Ratelimit-Reset:
      - "1602079200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
