---
version: 1
interactions:
- request:
    body: action=cache&name=test-cache-setting&stale_ttl=1500&ttl=1234
    form:
      action:
      - cache
      name:
      - test-cache-setting
      stale_ttl:
      - "1500"
      ttl:
      - "1234"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/93/cache_settings
    method: POST
  response:
    body: '{"action":"cache","name":"test-cache-setting","stale_ttl":"1500","ttl":"1234","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"93","updated_at":"2022-11-07T14:12:23Z","deleted_at":null,"created_at":"2022-11-07T14:12:23Z","cache_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9992"
      Fastly-Ratelimit-Reset:
      - "1667833200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
