---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=51&action=cache&name=test-cache-setting&stale_ttl=1500&ttl=1234
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "51"
      action:
      - cache
      name:
      - test-cache-setting
      stale_ttl:
      - "1500"
      ttl:
      - "1234"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/51/cache_settings
    method: POST
  response:
    body: '{"action":"cache","name":"test-cache-setting","stale_ttl":"1500","ttl":"1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"51","updated_at":"2021-11-03T15:46:56Z","deleted_at":null,"created_at":"2021-11-03T15:46:56Z","cache_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4937"
      Fastly-Ratelimit-Reset:
      - "1635955200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
