---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/51/cache_settings/test-cache-setting
    method: GET
  response:
    body: '{"action":"cache","version":"51","deleted_at":null,"service_id":"3QSsca5ilwNVpceZ2HJIAH","ttl":"1234","stale_ttl":"1500","updated_at":"2021-11-03T15:46:56Z","name":"test-cache-setting","created_at":"2021-11-03T15:46:56Z","cache_condition":""}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
