---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/29/cache_settings/test-cache-setting
    method: GET
  response:
    body: '{"cache_condition":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test-cache-setting","created_at":"2021-01-14T10:36:00Z","updated_at":"2021-01-14T10:36:00Z","ttl":"1234","stale_ttl":"1500","deleted_at":null,"action":"cache","version":"29"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
