---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/11/cache_settings
    method: GET
  response:
    body: '[{"name":"test-cache-setting","stale_ttl":"1500","deleted_at":null,"created_at":"2019-05-08T18:03:09Z","ttl":"1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"11","action":"cache","cache_condition":"","updated_at":"2019-05-08T18:03:09Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
