---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-cache-setting&Service=7i6HN3TK9wS159v2gPAZ8A&Version=691&name=new-test-cache-setting
    form:
      Name:
      - test-cache-setting
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "691"
      name:
      - new-test-cache-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/691/cache_settings/test-cache-setting
    method: PUT
  response:
    body: '{"stale_ttl":"1500","version":"691","ttl":"1234","name":"new-test-cache-setting","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","cache_condition":"","created_at":"2017-07-20T01:15:12+00:00","action":"cache","updated_at":"2017-07-20T01:15:12+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "862"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
