---
version: 1
interactions:
- request:
    body: name=new-test-cache-setting
    form:
      name:
      - new-test-cache-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/93/cache_settings/test-cache-setting
    method: PUT
  response:
    body: '{"deleted_at":null,"ttl":"1234","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2022-11-07T14:12:23Z","name":"new-test-cache-setting","action":"cache","stale_ttl":"1500","version":"93","cache_condition":"","created_at":"2022-11-07T14:12:23Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9991"
      Fastly-Ratelimit-Reset:
      - "1667833200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
