---
version: 1
interactions:
- request:
    body: Name=test-cache-setting&ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=51&name=new-test-cache-setting
    form:
      Name:
      - test-cache-setting
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "51"
      name:
      - new-test-cache-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/51/cache_settings/test-cache-setting
    method: PUT
  response:
    body: '{"ttl":"1234","created_at":"2021-11-03T15:46:56Z","stale_ttl":"1500","cache_condition":"","action":"cache","updated_at":"2021-11-03T15:46:56Z","deleted_at":null,"name":"new-test-cache-setting","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":"51"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4936"
      Fastly-Ratelimit-Reset:
      - "1635955200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
