---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-cache-setting&Service=7i6HN3TK9wS159v2gPAZ8A&Version=11&name=new-test-cache-setting
    form:
      Name:
      - test-cache-setting
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "11"
      name:
      - new-test-cache-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/11/cache_settings/test-cache-setting
    method: PUT
  response:
    body: '{"action":"cache","version":"11","deleted_at":null,"stale_ttl":"1500","ttl":"1234","updated_at":"2019-05-08T18:03:09Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","cache_condition":"","name":"new-test-cache-setting","created_at":"2019-05-08T18:03:09Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1557342000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
