---
version: 1
interactions:
- request:
    body: Name=test-cache-setting&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=29&name=new-test-cache-setting
    form:
      Name:
      - test-cache-setting
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "29"
      name:
      - new-test-cache-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/29/cache_settings/test-cache-setting
    method: PUT
  response:
    body: '{"updated_at":"2021-01-14T10:36:00Z","name":"new-test-cache-setting","stale_ttl":"1500","ttl":"1234","cache_condition":"","created_at":"2021-01-14T10:36:00Z","version":"29","action":"cache","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "806"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
