---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-4037200794235010051&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-4037200794235010051
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service-4037200794235010051","type":"vcl","versions":[{"created_at":"2020-10-07T13:09:06Z","deleted_at":null,"deployed":false,"locked":false,"service_id":"2Xx48e6pQNCa26prCiwiTG","staging":false,"active":false,"number":1,"testing":false,"updated_at":"2020-10-07T13:09:06Z","comment":""}],"id":"2Xx48e6pQNCa26prCiwiTG","created_at":"2020-10-07T13:09:06Z","deleted_at":null,"publish_key":"","updated_at":"2020-10-07T13:09:06Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4951"
      Fastly-Ratelimit-Reset:
      - "1602079200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
