---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=584&content_types=&extensions=&name=test-gzip-omit
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "584"
      content_types:
      - ""
      extensions:
      - ""
      name:
      - test-gzip-omit
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - ebaf0a44097ef70502cb03a2247d6d60
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/584/gzip
    method: POST
  response:
    body: '{"content_types":"","extensions":"","name":"test-gzip-omit","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"584","cache_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1461189600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
