---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=600&content_types=&extensions=&name=test-gzip-omit
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "600"
      content_types:
      - ""
      extensions:
      - ""
      name:
      - test-gzip-omit
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/600/gzip
    method: POST
  response:
    body: '{"content_types":"","extensions":"","name":"test-gzip-omit","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"600","deleted_at":null,"cache_condition":"","created_at":"2016-06-29T22:27:36+00:00","updated_at":"2016-06-29T22:27:36+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "937"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
