---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/600/gzip/test-gzip
    method: GET
  response:
    body: '{"version":"600","name":"test-gzip","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","content_types":"text/html
      text/css","cache_condition":"","created_at":"2016-06-29T22:27:35+00:00","extensions":"html
      css","updated_at":"2016-06-29T22:27:35+00:00"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
