---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - ebaf0a44097ef70502cb03a2247d6d60
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/584/gzip/test-gzip
    method: GET
  response:
    body: '{"version":"584","name":"test-gzip","service_id":"7i6HN3TK9wS159v2gPAZ8A","content_types":"text/html
      text/css","cache_condition":"","extensions":"html css"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
