---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-gzip&Service=7i6HN3TK9wS159v2gPAZ8A&Version=677&name=new-test-gzip
    form:
      Name:
      - test-gzip
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "677"
      name:
      - new-test-gzip
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/677/gzip/test-gzip
    method: PUT
  response:
    body: '{"version":"677","name":"new-test-gzip","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","content_types":"text/html
      text/css","cache_condition":"","created_at":"2017-07-20T01:15:05+00:00","extensions":"html
      css","updated_at":"2017-07-20T01:15:05+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "945"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
