---
version: 1
interactions:
- request:
    body: Name=test-gzip&Service=7i6HN3TK9wS159v2gPAZ8A&Version=600&name=new-test-gzip
    form:
      Name:
      - test-gzip
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "600"
      name:
      - new-test-gzip
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/600/gzip/test-gzip
    method: PUT
  response:
    body: '{"version":"600","name":"new-test-gzip","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","content_types":"text/html
      text/css","cache_condition":"","created_at":"2016-06-29T22:27:35+00:00","extensions":"html
      css","updated_at":"2016-06-29T22:27:35+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "926"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
