---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/stats/aggregate?by=minute&from=10+days+ago&region=usa&to=now
    method: GET
  response:
    body: |
      {"data":[{"attack_blocked_req_body_bytes":0,"attack_blocked_req_header_bytes":0,"attack_logged_req_body_bytes":0,"attack_logged_req_header_bytes":0,"attack_passed_req_body_bytes":0,"attack_passed_req_header_bytes":0,"attack_req_body_bytes":0,"attack_req_header_bytes":0,"attack_resp_synth_bytes":0,"bandwidth":179993,"bereq_body_bytes":0,"bereq_header_bytes":815,"blacklist":0,"body_size":13238,"compute_execution_time_ms":0,"compute_ram_used":0,"compute_request_time_ms":0,"compute_requests":0,"deliver_sub_count":474,"deliver_sub_time":0.006879673,"edge_hit_requests":472,"edge_hit_resp_body_bytes":13154,"edge_hit_resp_header_bytes":165223,"edge_miss_requests":2,"edge_miss_resp_body_bytes":84,"edge_miss_resp_header_bytes":717,"edge_requests":474,"edge_resp_body_bytes":13238,"edge_resp_header_bytes":165940,"error_sub_count":0,"error_sub_time":0,"errors":0,"fetch_sub_count":0,"fetch_sub_time":0,"hash_sub_count":474,"hash_sub_time":0.001090365,"header_size":165940,"hit_ratio":0.9957805907172996,"hit_resp_body_bytes":13154,"hit_sub_count":455,"hit_sub_time":0.001281298,"hits":472,"hits_time":0.039652,"http2":0,"imgopto":0,"imgopto_resp_body_bytes":0,"imgopto_resp_header_bytes":0,"imgopto_shield_resp_body_bytes":0,"imgopto_shield_resp_header_bytes":0,"ipv6":0,"log":0,"log_bytes":0,"miss":2,"miss_resp_body_bytes":84,"miss_sub_count":19,"miss_sub_time":0.000013683,"miss_time":2.872131,"object_size_100k":0,"object_size_100m":0,"object_size_10k":0,"object_size_10m":0,"object_size_1g":0,"object_size_1k":474,"object_size_1m":0,"orig_req_body_size":0,"orig_req_header_size":815,"orig_resp_body_size":0,"orig_resp_header_size":52614,"origin_cache_fetch_resp_body_bytes":84,"origin_cache_fetch_resp_header_bytes":379,"origin_cache_fetches":2,"origin_fetch_body_bytes":0,"origin_fetch_header_bytes":815,"origin_fetch_resp_body_bytes":84,"origin_fetch_resp_header_bytes":379,"origin_fetches":2,"origin_revalidations":0,"otfp":0,"otfp_deliver_time":0,"otfp_manifests":0,"otfp_resp_body_bytes":0,"otfp_resp_header_bytes":0,"otfp_shield_resp_body_bytes":0,"otfp_shield_resp_header_bytes":0,"otfp_shield_time":0,"pass":0,"pass_resp_body_bytes":0,"pass_sub_count":0,"pass_sub_time":0,"pass_time":0,"pci":0,"pipe":0,"pipe_sub_count":0,"pipe_sub_time":0,"predeliver_sub_count":474,"predeliver_sub_time":0.000159072,"prehash_sub_count":474,"prehash_sub_time":0.0005625,"recv_sub_count":948,"recv_sub_time":0.021406022,"req_body_bytes":0,"req_header_bytes":52614,"requests":474,"resp_body_bytes":13238,"resp_header_bytes":165940,"restarts":0,"segblock_origin_fetches":0,"segblock_shield_fetches":0,"shield":0,"shield_fetch_body_bytes":0,"shield_fetch_header_bytes":0,"shield_fetch_resp_body_bytes":0,"shield_fetch_resp_header_bytes":0,"shield_fetches":0,"shield_resp_body_bytes":0,"shield_resp_header_bytes":0,"shield_revalidations":0,"start_time":1710249600,"status_1xx":0,"status_200":352,"status_204":0,"status_206":0,"status_2xx":352,"status_301":0,"status_302":0,"status_304":0,"status_3xx":0,"status_400":0,"status_401":0,"status_403":0,"status_404":122,"status_416":0,"status_429":0,"status_4xx":122,"status_500":0,"status_501":0,"status_502":0,"status_503":0,"status_504":0,"status_505":0,"status_5xx":0,"synth":0,"tls":0,"tls_handshake_sent_bytes":0,"tls_v10":0,"tls_v11":0,"tls_v12":0,"tls_v13":0,"uncacheable":0,"video":0,"waf_blocked":0,"waf_logged":0,"waf_passed":0},{"attack_blocked_req_body_bytes":0,"attack_blocked_req_header_bytes":0,"attack_logged_req_body_bytes":0,"attack_logged_req_header_bytes":0,"attack_passed_req_body_bytes":0,"attack_passed_req_header_bytes":0,"attack_req_body_bytes":0,"attack_req_header_bytes":0,"attack_resp_synth_bytes":0,"bandwidth":234174,"bereq_body_bytes":0,"bereq_header_bytes":0,"blacklist":0,"body_size":8476,"compute_execution_time_ms":0,"compute_ram_used":0,"compute_request_time_ms":0,"compute_requests":0,"deliver_sub_c[...]
