---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/stats/usage?by=minute&from=10+days+ago&region=usa&to=now
    method: GET
  response:
    body: '{"data":{"anzac":{"bandwidth":0,"requests":0},"asia":{"bandwidth":0,"requests":0},"asia_india":{"bandwidth":0,"requests":0},"europe":{"bandwidth":10176,"requests":17},"latam":{"bandwidth":0,"requests":0},"south_africa":{"bandwidth":0,"requests":0},"southamerica_std":{"bandwidth":0,"requests":0},"usa":{"bandwidth":0,"requests":0}},"status":"success","msg":null,"meta":{"from":"2021-01-04
      10:26:23 UTC","to":"2021-01-14 10:26:23 UTC","by":"minute","region":"usa"}}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Host-Name:
      - df-prod-us-east1-timespiral02
    status: 200 OK
    code: 200
    duration: ""
