---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/stats/regions
    method: GET
  response:
    body: |
      {"data":["africa_std","anzac","asia","asia_india","asia_southkorea","europe","latam","southamerica_std","usa"],"meta":{"to":"2021-11-03 17:31:47 UTC","from":"2021-10-03 17:31:47 UTC","by":"day","region":"all"},"status":"success","msg":null}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
