---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/stats/usage?by=minute&from=10+days+ago&region=usa&to=now
    method: GET
  response:
    body: |
      {"data":{"africa_std":{"bandwidth":0,"requests":0,"compute_requests":0},"anzac":{"bandwidth":0,"requests":0,"compute_requests":0},"asia":{"bandwidth":0,"requests":0,"compute_requests":0},"asia_india":{"bandwidth":0,"requests":0,"compute_requests":0},"asia_southkorea":{"bandwidth":0,"requests":0,"compute_requests":0},"europe":{"bandwidth":17759,"requests":0,"compute_requests":9},"latam":{"bandwidth":0,"requests":0,"compute_requests":0},"southamerica_std":{"bandwidth":0,"requests":0,"compute_requests":0},"usa":{"bandwidth":0,"requests":0,"compute_requests":0}},"meta":{"to":"2021-11-03 17:31:47 UTC","from":"2021-10-24 17:31:47 UTC","by":"minute","region":"usa"},"status":"success","msg":null}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
