---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/stats/usage?by=minute&from=10+days+ago&region=usa&to=now
    method: GET
  response:
    body: '{"data":{"anzac":{"bandwidth":0,"requests":0},"asia":{"bandwidth":0,"requests":0},"europe":{"bandwidth":0,"requests":0},"latam":{"bandwidth":0,"requests":0},"south_africa":{"bandwidth":0,"requests":0},"usa":{"bandwidth":0,"requests":0}},"status":"success","msg":null,"meta":{"from":"2017-07-17
      15:02:28 UTC","to":"2017-07-27 15:02:28 UTC","by":"minute","region":"usa"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    status: 200 OK
    code: 200
