---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/stats/usage?by=minute&from=10+days+ago&region=usa&to=now
    method: GET
  response:
    body: '{"data":{"anzac":{"bandwidth":0,"requests":0},"asia":{"bandwidth":0,"requests":0},"asia_india":{"bandwidth":0,"requests":0},"europe":{"bandwidth":0,"requests":0},"latam":{"bandwidth":0,"requests":0},"south_africa":{"bandwidth":0,"requests":0},"southamerica_std":{"bandwidth":0,"requests":0},"usa":{"bandwidth":0,"requests":0}},"status":"success","msg":null,"meta":{"from":"2019-05-01
      03:33:50 UTC","to":"2019-05-11 03:33:50 UTC","by":"minute","region":"usa"}}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
