---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/stats/field/bandwidth?by=minute&from=1+hour+ago&region=europe&to=now
    method: GET
  response:
    body: '{"data":{"0LYAcrizS7EHSM5vq7f4Df":[{"service_id":"0LYAcrizS7EHSM5vq7f4Df","start_time":1604952420,"bandwidth":8988},{"service_id":"0LYAcrizS7EHSM5vq7f4Df","start_time":1604953320,"bandwidth":14842},{"service_id":"0LYAcrizS7EHSM5vq7f4Df","start_time":1604953560,"bandwidth":1211}],"0u0Hm9JVjE9EaBIQXU6GLW":[{"service_id":"0u0Hm9JVjE9EaBIQXU6GLW","start_time":1604951820,"bandwidth":779813374},{"service_id":"0u0Hm9JVjE9EaBIQXU6GLW","start_time":1604951880,"bandwidth":780773789},{"service_id":"0u0Hm9JVjE9EaBIQXU6GLW","start_time":1604951940,"bandwidth":780729838},{"service_id":"0u0Hm9JVjE9EaBIQXU6GLW","start_[...]
