---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/stats/usage_by_service?by=minute&from=10+days+ago&region=usa&to=now
    method: GET
  response:
    body: |
      {"data":{"africa_std":{},"anzac":{},"asia":{},"asia_india":{},"asia_southkorea":{},"europe":{"2xSyplKh6dJaYAjbDbbwOw":{"bandwidth":514,"requests":0,"compute_requests":3},"6J1WNVqsOeYgbV0Hq7FWel":{"bandwidth":17245,"requests":0,"compute_requests":6}},"latam":{},"southamerica_std":{},"usa":{}},"meta":{"to":"2021-11-03 17:31:47 UTC","from":"2021-10-24 17:31:47 UTC","by":"minute","region":"usa"},"status":"success","msg":null}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
