---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/stats/usage_by_service?by=minute&from=10+days+ago&region=usa&to=now
    method: GET
  response:
    body: '{"data":{"anzac":{},"asia":{},"europe":{},"latam":{},"south_africa":{},"usa":{}},"status":"success","msg":null,"meta":{"from":"2017-07-17
      15:02:29 UTC","to":"2017-07-27 15:02:29 UTC","by":"minute","region":"usa"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    status: 200 OK
    code: 200
