---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/stats/service/7i6HN3TK9wS159v2gPAZ8A?by=minute&from=10+days+ago&region=europe&to=now
    method: GET
  response:
    body: '{"data":[],"status":"success","msg":null,"meta":{"from":"2017-07-17 15:02:28
      UTC","to":"2017-07-27 15:02:28 UTC","by":"minute","region":"europe"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    status: 200 OK
    code: 200
