---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/stats/usage_by_service?by=minute&from=10+days+ago&region=usa&to=now
    method: GET
  response:
    body: '{"data":{"anzac":{},"asia":{},"asia_india":{},"europe":{"1gsJT1cnPAVWOHz21yBe3a":{"requests":17,"bandwidth":10176}},"latam":{},"south_africa":{},"southamerica_std":{},"usa":{}},"status":"success","msg":null,"meta":{"from":"2021-01-04
      10:26:24 UTC","to":"2021-01-14 10:26:24 UTC","by":"minute","region":"usa"}}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Host-Name:
      - df-prod-us-east1-timespiral01
    status: 200 OK
    code: 200
    duration: ""
