---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/stats/usage_by_service?by=minute&from=10+days+ago&region=usa&to=now
    method: GET
  response:
    body: '{"data":{"anzac":{},"asia":{},"asia_india":{},"europe":{},"latam":{},"south_africa":{},"southamerica_std":{},"usa":{}},"status":"success","msg":null,"meta":{"from":"2019-05-01
      03:33:50 UTC","to":"2019-05-11 03:33:50 UTC","by":"minute","region":"usa"}}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
