---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/stats/service/kKJb5bOFI47uHeBVluGfX1?by=minute&from=10+days+ago&region=europe&to=now
    method: GET
  response:
    body: |
      {"data":[],"meta":{"to":"2021-11-03 17:18:42 UTC","from":"2021-10-24 17:18:42 UTC","by":"minute","region":"europe"},"status":"success","msg":null}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
