---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/stats/field/bandwidth?by=minute&from=1+hour+ago&region=europe&to=now
    method: GET
  response:
    body: |
      {"data":{},"meta":{"to":"2021-11-03 17:18:41 UTC","from":"2021-11-03 16:18:41 UTC","by":"minute","region":"europe"},"status":"success","msg":null}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
