---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=567&action=lookup&bypass_busy_wait=1&default_host=example.com&force_miss=1&force_ssl=1&geo_headers=1&hash_keys=a%2Cb%2Cc&max_stale_age=30&name=test-request-setting&timer_support=1&xff=leave
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "567"
      action:
      - lookup
      bypass_busy_wait:
      - "1"
      default_host:
      - example.com
      force_miss:
      - "1"
      force_ssl:
      - "1"
      geo_headers:
      - "1"
      hash_keys:
      - a,b,c
      max_stale_age:
      - "30"
      name:
      - test-request-setting
      timer_support:
      - "1"
      xff:
      - leave
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/567/request_settings
    method: POST
  response:
    body: '{"action":"lookup","bypass_busy_wait":"1","default_host":"example.com","force_miss":"1","force_ssl":"1","geo_headers":"1","hash_keys":"a,b,c","max_stale_age":"30","name":"test-request-setting","timer_support":"1","xff":"leave","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"567","request_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "940"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
