---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=687&action=lookup&bypass_busy_wait=1&default_host=example.com&force_miss=1&force_ssl=1&geo_headers=1&hash_keys=a%2Cb%2Cc&max_stale_age=30&name=test-request-setting&timer_support=1&xff=leave
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "687"
      action:
      - lookup
      bypass_busy_wait:
      - "1"
      default_host:
      - example.com
      force_miss:
      - "1"
      force_ssl:
      - "1"
      geo_headers:
      - "1"
      hash_keys:
      - a,b,c
      max_stale_age:
      - "30"
      name:
      - test-request-setting
      timer_support:
      - "1"
      xff:
      - leave
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/687/request_settings
    method: POST
  response:
    body: '{"action":"lookup","bypass_busy_wait":"1","default_host":"example.com","force_miss":"1","force_ssl":"1","geo_headers":"1","hash_keys":"a,b,c","max_stale_age":"30","name":"test-request-setting","timer_support":"1","xff":"leave","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"687","request_condition":"","updated_at":"2017-07-20T01:15:10+00:00","deleted_at":null,"created_at":"2017-07-20T01:15:10+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "900"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
