---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/567/request_settings
    method: GET
  response:
    body: '[{"force_ssl":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","max_stale_age":"30","request_condition":"","timer_support":"1","geo_headers":"1","version":"567","name":"test-request-setting","default_host":"example.com","hash_keys":"a,b,c","xff":"leave","action":"lookup","force_miss":"1","bypass_busy_wait":"1"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
