---
version: 1
interactions:
- request:
    body: Name=test-request-setting&Service=7i6HN3TK9wS159v2gPAZ8A&Version=567&name=new-test-request-setting
    form:
      Name:
      - test-request-setting
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "567"
      name:
      - new-test-request-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/567/request_settings/test-request-setting
    method: PUT
  response:
    body: '{"force_ssl":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","max_stale_age":"30","request_condition":"","timer_support":"1","geo_headers":"1","version":"567","name":"new-test-request-setting","default_host":"example.com","hash_keys":"a,b,c","xff":"leave","action":"lookup","force_miss":"1","bypass_busy_wait":"1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "930"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
