---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-request-setting&Service=7i6HN3TK9wS159v2gPAZ8A&Version=655&name=new-test-request-setting
    form:
      Name:
      - test-request-setting
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "655"
      name:
      - new-test-request-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/655/request_settings/test-request-setting
    method: PUT
  response:
    body: '{"force_ssl":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","max_stale_age":"30","request_condition":"","timer_support":"1","updated_at":"2017-04-17T16:00:58+00:00","geo_headers":"1","version":"655","name":"new-test-request-setting","deleted_at":null,"default_host":"example.com","created_at":"2017-04-17T16:00:58+00:00","hash_keys":"a,b,c","xff":"leave","action":"lookup","force_miss":"1","bypass_busy_wait":"1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "927"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
