---
version: 1
interactions:
- request:
    body: ServiceID=3sB5ouzad9fFmHKf3xAe7W&ServiceVersion=2&name=WAf_Response&status=403
    form:
      ServiceID:
      - 3sB5ouzad9fFmHKf3xAe7W
      ServiceVersion:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3sB5ouzad9fFmHKf3xAe7W/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"3sB5ouzad9fFmHKf3xAe7W","version":"2","updated_at":"2021-01-14T10:27:48Z","deleted_at":null,"request_condition":"","created_at":"2021-01-14T10:27:48Z","content":null,"response":"ok","cache_condition":"","content_type":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "866"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
