---
version: 1
interactions:
- request:
    body: ServiceID=3qxhHkYqy7WUAoo6KPm7no&ServiceVersion=2&name=WAf_Response&status=403
    form:
      ServiceID:
      - 3qxhHkYqy7WUAoo6KPm7no
      ServiceVersion:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3qxhHkYqy7WUAoo6KPm7no/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"3qxhHkYqy7WUAoo6KPm7no","version":"2","cache_condition":"","created_at":"2021-11-03T17:30:07Z","request_condition":"","content":null,"updated_at":"2021-11-03T17:30:07Z","content_type":null,"deleted_at":null,"response":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4760"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
