---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_exclusion","attributes":{"condition":"req.url.basename == \"index.php\"","exclusion_type":"rule","name":"index php","number":null},"relationships":{"waf_rules":{"data":[{"type":"waf_rule","id":"1010070"}]}}},"included":[{"type":"waf_rule","id":"1010070","attributes":{"modsec_rule_id":1010070}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/5HtuuALz7WUiKn4AZnU1VM/versions/1/exclusions
    method: POST
  response:
    body: '{"data":{"id":"3ZQKFpHrO9heq1gv2o1pEo","type":"waf_exclusion","attributes":{"created_at":"2020-10-07T13:09:09Z","exclusion_type":"rule","condition":"req.url.basename
      == \"index.php\"","name":"index php","number":2,"updated_at":"2020-10-07T13:09:09Z"},"relationships":{"waf_rules":{"data":[{"id":"62NGF4KWy1v17yyV1vmPdb","type":"waf_rule"}]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
