---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/waf/firewalls/5HtuuALz7WUiKn4AZnU1VM/versions/1/exclusions?include=waf_rules&page%5Bnumber%5D=1&page%5Bsize%5D=100
    method: GET
  response:
    body: '{"data":[{"id":"34s9Ff1kxfri0Re34WzNk5","type":"waf_exclusion","attributes":{"created_at":"2020-10-07T13:09:09Z","exclusion_type":"rule","condition":"req.url.basename
      == \"index.html\"","name":"index page","number":1,"updated_at":"2020-10-07T13:09:09Z"},"relationships":{"waf_rules":{"data":[{"id":"1YveWU8qwEYidE8WAiZqCN","type":"waf_rule"},{"id":"VovV0PIWJCm33k1piDpnX","type":"waf_rule"}]}}},{"id":"3ZQKFpHrO9heq1gv2o1pEo","type":"waf_exclusion","attributes":{"created_at":"2020-10-07T13:09:09Z","exclusion_type":"rule","condition":"req.url.basename
      == \"index.php\"","name":"index php","number":2,"updated_at":"2020-10-07T13:09:09Z"},"relationships":{"waf_rules":{"data":[{"id":"62NGF4KWy1v17yyV1vmPdb","type":"waf_rule"}]}}}],"included":[{"id":"1YveWU8qwEYidE8WAiZqCN","type":"waf_rule","attributes":{"modsec_rule_id":2029718,"publisher":"trustwave","type":"strict"}},{"id":"62NGF4KWy1v17yyV1vmPdb","type":"waf_rule","attributes":{"modsec_rule_id":1010070,"publisher":"owasp","type":"threshold"}},{"id":"VovV0PIWJCm33k1piDpnX","type":"waf_rule","attributes":{"modsec_rule_id":2037405,"publisher":"trustwave","type":"strict"}}],"links":{"last":"https://api.fastly.com/waf/firewalls/5HtuuALz7WUiKn4AZnU1VM/versions/1/exclusions?include=waf_rules\u0026page[number]=1\u0026page[size]=100","first":"https://api.fastly.com/waf/firewalls/5HtuuALz7WUiKn4AZnU1VM/versions/1/exclusions?include=waf_rules\u0026page[number]=1\u0026page[size]=100"},"meta":{"current_page":1,"per_page":100,"record_count":2,"total_pages":1}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
