---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service","deleted_at":null,"id":"1qNbCw880P3rmalHHls5Oc","versions":[{"locked":false,"service_id":"1qNbCw880P3rmalHHls5Oc","staging":false,"number":1,"deleted_at":null,"active":false,"comment":"","updated_at":"2019-11-28T12:43:20Z","testing":false,"created_at":"2019-11-28T12:43:20Z","deployed":false}],"type":"vcl","created_at":"2019-11-28T12:43:20Z","publish_key":"311e1e932579e7d6e7f706b92c17bf51e649ed27","updated_at":"2019-11-28T12:43:20Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "985"
      Fastly-Ratelimit-Reset:
      - "1574946000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
