---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service","type":"vcl","created_at":"2021-11-03T17:30:36Z","versions":[{"service_id":"6s6XYgWIfncJBH1QjI40RJ","comment":"","deleted_at":null,"active":false,"updated_at":"2021-11-03T17:30:36Z","number":1,"testing":false,"staging":false,"locked":false,"deployed":false,"created_at":"2021-11-03T17:30:36Z"}],"publish_key":"","updated_at":"2021-11-03T17:30:36Z","paused":false,"id":"6s6XYgWIfncJBH1QjI40RJ","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4751"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
