---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service","type":"vcl","deleted_at":null,"publish_key":"","created_at":"2021-01-14T10:26:25Z","id":"0OKgTNe0V5krPIwq1Ux6Yn","updated_at":"2021-01-14T10:26:25Z","paused":false,"versions":[{"staging":false,"comment":"","number":1,"deleted_at":null,"locked":false,"deployed":false,"created_at":"2021-01-14T10:26:25Z","service_id":"0OKgTNe0V5krPIwq1Ux6Yn","updated_at":"2021-01-14T10:26:25Z","active":false,"testing":false}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "885"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
