---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service","type":"vcl","id":"0tMlTqfWhijgsh07mPyFJq","publish_key":"","versions":[{"comment":"","number":1,"testing":false,"locked":false,"updated_at":"2020-06-30T10:56:24Z","deleted_at":null,"created_at":"2020-06-30T10:56:24Z","service_id":"0tMlTqfWhijgsh07mPyFJq","deployed":false,"active":false,"staging":false}],"deleted_at":null,"created_at":"2020-06-30T10:56:24Z","updated_at":"2020-06-30T10:56:24Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "693"
      Fastly-Ratelimit-Reset:
      - "1593514800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
