---
version: 1
interactions:
- request:
    body: '{"path":null,"public_key":null,"region":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/192/logging/cloudfiles/new-test-cloudfiles
    method: PUT
  response:
    body: '{"placement":null,"log_processing_region":"eu","path":null,"period":"0","gzip_level":"0","version":"192","access_key":"secret-key","response_condition":"","bucket_name":"bucket-name","deleted_at":null,"format":"format","service_id":"kKJb5bOFI47uHeBVluGfX1","compression_codec":"zstd","public_key":null,"format_version":"2","timestamp_format":"%Y","region":null,"user":"new-user","message_type":"classic","created_at":"2026-08-10T19:13:45Z","name":"new-test-cloudfiles","updated_at":"2026-08-10T19:13:53Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9814"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
