---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-8674665223082153551&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-8674665223082153551
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service-8674665223082153551","type":"vcl","id":"5Ixrj1XHCwMMbvaoKf8Kou","deleted_at":null,"created_at":"2020-10-09T09:28:40Z","versions":[{"active":false,"deployed":false,"updated_at":"2020-10-09T09:28:40Z","created_at":"2020-10-09T09:28:40Z","service_id":"5Ixrj1XHCwMMbvaoKf8Kou","testing":false,"comment":"","staging":false,"deleted_at":null,"number":1,"locked":false}],"updated_at":"2020-10-09T09:28:40Z","publish_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4937"
      Fastly-Ratelimit-Reset:
      - "1602237600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
