---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-6129484611666145821&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-6129484611666145821
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service-6129484611666145821","type":"vcl","created_at":"2021-11-03T17:30:06Z","versions":[{"comment":"","service_id":"0ccFPXgH7h6Ra5sabdiTMW","deleted_at":null,"active":false,"updated_at":"2021-11-03T17:30:06Z","number":1,"testing":false,"deployed":false,"locked":false,"staging":false,"created_at":"2021-11-03T17:30:06Z"}],"paused":false,"updated_at":"2021-11-03T17:30:06Z","deleted_at":null,"id":"0ccFPXgH7h6Ra5sabdiTMW","publish_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4770"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
