---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-5577006791947779410&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-5577006791947779410
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service-5577006791947779410","type":"vcl","versions":[{"service_id":"2kvSoeoTWwJeUObOkeGiwC","deployed":false,"staging":false,"locked":false,"deleted_at":null,"number":1,"comment":"","created_at":"2021-01-14T10:26:24Z","updated_at":"2021-01-14T10:26:24Z","active":false,"testing":false}],"paused":false,"id":"2kvSoeoTWwJeUObOkeGiwC","publish_key":"","deleted_at":null,"updated_at":"2021-01-14T10:26:24Z","created_at":"2021-01-14T10:26:24Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "894"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
