---
version: 1
interactions:
- request:
    body: StoreID=lV8kyCg7OmjQMjMpiX9dq2&item_key=TestClient_ListConfigStoreItems-key-00&item_value=value+00
    form:
      StoreID:
      - lV8kyCg7OmjQMjMpiX9dq2
      item_key:
      - TestClient_ListConfigStoreItems-key-00
      item_value:
      - value 00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/resources/stores/config/lV8kyCg7OmjQMjMpiX9dq2/item
    method: POST
  response:
    body: '{"item_key":"TestClient_ListConfigStoreItems-key-00","item_value":"value
      00","created_at":"2023-03-02T16:24:02Z","updated_at":"2023-03-02T16:24:02Z","deleted_at":null,"store_id":"lV8kyCg7OmjQMjMpiX9dq2"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
[...]
