---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-5577006791947779410&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-5577006791947779410
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service-5577006791947779410","type":"vcl","id":"2FcUklM62QkjiO0ErtK9D3","publish_key":"","updated_at":"2020-10-09T09:28:40Z","versions":[{"service_id":"2FcUklM62QkjiO0ErtK9D3","created_at":"2020-10-09T09:28:40Z","number":1,"deleted_at":null,"staging":false,"deployed":false,"updated_at":"2020-10-09T09:28:40Z","locked":false,"testing":false,"active":false,"comment":""}],"deleted_at":null,"created_at":"2020-10-09T09:28:40Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4939"
      Fastly-Ratelimit-Reset:
      - "1602237600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
