---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-3916589616287113937&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-3916589616287113937
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service-3916589616287113937","type":"vcl","id":"3sB5ouzad9fFmHKf3xAe7W","paused":false,"deleted_at":null,"created_at":"2021-01-14T10:26:24Z","versions":[{"staging":false,"number":1,"active":false,"locked":false,"comment":"","service_id":"3sB5ouzad9fFmHKf3xAe7W","deleted_at":null,"created_at":"2021-01-14T10:26:24Z","deployed":false,"updated_at":"2021-01-14T10:26:24Z","testing":false}],"publish_key":"","updated_at":"2021-01-14T10:26:24Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "889"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
