---
version: 1
interactions:
- request:
    body: name=test_acl_ACLEntries
    form:
      name:
      - test_acl_ACLEntries
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/IY940xgmfjL6cMyiCs6xL3/version/2/acl
    method: POST
  response:
    body: '{"service_id":"IY940xgmfjL6cMyiCs6xL3","version":"2","name":"test_acl_ACLEntries","created_at":"2023-11-28T13:49:41Z","updated_at":"2023-11-28T13:49:41Z","id":"n1qDQsO0hoKxbpZ9igh3O0","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1701180000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
