---
version: 1
interactions:
- request:
    body: name=test_acl_ACLEntries
    form:
      name:
      - test_acl_ACLEntries
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/e3YATriSOfV0fiQzdiADD1/version/2/acl
    method: POST
  response:
    body: '{"service_id":"e3YATriSOfV0fiQzdiADD1","version":"2","name":"test_acl_ACLEntries","updated_at":"2022-11-07T13:19:17Z","deleted_at":null,"created_at":"2022-11-07T13:19:17Z","id":"poFzB5MlRxh9vRHGZxjMK7"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1667829600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
