---
version: 1
interactions:
- request:
    body: name=test_acl_ACLEntries
    form:
      name:
      - test_acl_ACLEntries
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/oW70YCrn5btjFLVUQ1ewJ3/version/2/acl
    method: POST
  response:
    body: '{"service_id":"oW70YCrn5btjFLVUQ1ewJ3","version":"2","name":"test_acl_ACLEntries","created_at":"2023-11-28T16:36:29Z","updated_at":"2023-11-28T16:36:29Z","deleted_at":null,"id":"ZrUVueq9LBIL0WuBHzU2Q4"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1701190800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
