---
version: 1
interactions:
- request:
    body: name=test_acl_ACLEntries
    form:
      name:
      - test_acl_ACLEntries
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/eDfYsTYU4tLAI0IX2MHsB0/version/2/acl
    method: POST
  response:
    body: '{"service_id":"eDfYsTYU4tLAI0IX2MHsB0","version":"2","name":"test_acl_ACLEntries","updated_at":"2023-11-28T14:44:24Z","deleted_at":null,"created_at":"2023-11-28T14:44:24Z","id":"rpsMUXwZtYZ4IXl7Eekbl3"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9950"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
