---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=2voeSM5z6889qin6D9waPl&Version=2&name=test_acl_ACLEntries
    form:
      Service:
      - 2voeSM5z6889qin6D9waPl
      Version:
      - "2"
      name:
      - test_acl_ACLEntries
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/2voeSM5z6889qin6D9waPl/version/2/acl
    method: POST
  response:
    body: '{"service_id":"2voeSM5z6889qin6D9waPl","version":"2","name":"test_acl_ACLEntries","deleted_at":null,"id":"1d7GeY6Ky6eeqSsO5c1r29","created_at":"2019-07-23T10:47:06Z","updated_at":"2019-07-23T10:47:06Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "982"
      Fastly-Ratelimit-Reset:
      - "1563879600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
