---
version: 1
interactions:
- request:
    body: ServiceID=5BEXGVZPrhtk8TJfJJiz5u&ServiceVersion=2&name=test_acl_ACLEntries
    form:
      ServiceID:
      - 5BEXGVZPrhtk8TJfJJiz5u
      ServiceVersion:
      - "2"
      name:
      - test_acl_ACLEntries
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5BEXGVZPrhtk8TJfJJiz5u/version/2/acl
    method: POST
  response:
    body: '{"service_id":"5BEXGVZPrhtk8TJfJJiz5u","version":"2","name":"test_acl_ACLEntries","created_at":"2021-01-14T10:23:48Z","id":"3XA9Zoz75yiYlgnjzDAFmI","updated_at":"2021-01-14T10:23:48Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "977"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
