---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=2&name=test_acl_ACLEntries
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "2"
      name:
      - test_acl_ACLEntries
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/2/acl
    method: POST
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"2","name":"test_acl_ACLEntries","updated_at":"2021-12-22T03:02:13Z","id":"12pStJK7x7jIrG6SGYMaUb","created_at":"2021-12-22T03:02:13Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4997"
      Fastly-Ratelimit-Reset:
      - "1640145600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
