---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_ACLEntries&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_ACLEntries
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_ACLEntries","type":"vcl","paused":false,"created_at":"2023-11-28T13:49:41Z","versions":[{"testing":false,"comment":"","created_at":"2023-11-28T13:49:41Z","updated_at":"2023-11-28T13:49:41Z","number":1,"deleted_at":null,"deployed":false,"staging":false,"service_id":"IY940xgmfjL6cMyiCs6xL3","active":false,"locked":false}],"id":"IY940xgmfjL6cMyiCs6xL3","updated_at":"2023-11-28T13:49:41Z","publish_key":"","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9999"
      Fastly-Ratelimit-Reset:
      - "1701180000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
