---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_ACLEntries&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_ACLEntries
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_ACLEntries","type":"vcl","id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-09-22T10:29:24Z","versions":[{"service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-09-22T10:29:24Z","staging":false,"comment":"","deployed":false,"locked":false,"deleted_at":null,"testing":false,"number":1,"active":false,"created_at":"2021-09-22T10:29:24Z"}],"paused":false,"publish_key":"","created_at":"2021-09-22T10:29:24Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4996"
      Fastly-Ratelimit-Reset:
      - "1632308400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
