---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_ACLEntries&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_ACLEntries
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_ACLEntries","type":"vcl","updated_at":"2022-11-03T14:17:35Z","created_at":"2022-11-03T14:17:35Z","id":"2UjlhNAOAhRTbu1BO6ga21","paused":false,"publish_key":"","versions":[{"number":1,"comment":"","service_id":"2UjlhNAOAhRTbu1BO6ga21","staging":false,"deleted_at":null,"updated_at":"2022-11-03T14:17:35Z","locked":false,"created_at":"2022-11-03T14:17:35Z","deployed":false,"testing":false,"active":false}],"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9984"
      Fastly-Ratelimit-Reset:
      - "1667487600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
