---
version: 1
interactions:
- request:
    body: ACLID=052T9UE1HyiRIW2K9FiMr3&ServiceID=5XPrLhrnNoOk0tcpWh1fpS&comment=test+entry&ip=10.0.0.3&subnet=8
    form:
      ACLID:
      - 052T9UE1HyiRIW2K9FiMr3
      ServiceID:
      - 5XPrLhrnNoOk0tcpWh1fpS
      comment:
      - test entry
      ip:
      - 10.0.0.3
      subnet:
      - "8"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5XPrLhrnNoOk0tcpWh1fpS/acl/052T9UE1HyiRIW2K9FiMr3/entry
    method: POST
  response:
    body: '{"service_id":"5XPrLhrnNoOk0tcpWh1fpS","acl_id":"052T9UE1HyiRIW2K9FiMr3","ip":"10.0.0.3","subnet":8,"comment":"test
      entry","id":"0rSunhGyoHgvQWj05vPlC0","negated":0,"created_at":"2021-11-03T14:30:49Z","updated_at":"2021-11-03T14:30:49Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4990"
      Fastly-Ratelimit-Reset:
      - "1635951600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
