---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_ACLEntries&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_ACLEntries
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_ACLEntries","type":"vcl","deleted_at":null,"versions":[{"staging":false,"number":1,"created_at":"2023-11-28T16:36:29Z","active":false,"deployed":false,"testing":false,"comment":"","locked":false,"updated_at":"2023-11-28T16:36:29Z","deleted_at":null,"service_id":"oW70YCrn5btjFLVUQ1ewJ3"}],"updated_at":"2023-11-28T16:36:29Z","paused":false,"created_at":"2023-11-28T16:36:29Z","publish_key":"","id":"oW70YCrn5btjFLVUQ1ewJ3"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9999"
      Fastly-Ratelimit-Reset:
      - "1701190800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
