---
version: 1
interactions:
- request:
    body: comment=test+entry&ip=10.0.0.3&negated=0&subnet=8
    form:
      comment:
      - test entry
      ip:
      - 10.0.0.3
      negated:
      - "0"
      subnet:
      - "8"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/IY940xgmfjL6cMyiCs6xL3/acl/n1qDQsO0hoKxbpZ9igh3O0/entry
    method: POST
  response:
    body: '{"service_id":"IY940xgmfjL6cMyiCs6xL3","acl_id":"n1qDQsO0hoKxbpZ9igh3O0","ip":"10.0.0.3","negated":0,"subnet":8,"comment":"test
      entry","updated_at":"2023-11-28T13:49:42Z","id":"eZ9NhBeIJOg6emvjUX3d67","created_at":"2023-11-28T13:49:42Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9996"
      Fastly-Ratelimit-Reset:
      - "1701180000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
