---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_ACLEntries&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_ACLEntries
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"2mEgzQsbxIHPAkmXcKCBG5","comment":"go-fastly client test","name":"test_service_ACLEntries","type":"vcl","created_at":"2021-12-22T03:02:12Z","deleted_at":null,"publish_key":"","id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-12-22T03:02:12Z","versions":[{"service_id":"7i6HN3TK9wS159v2gPAZ8A","deployed":false,"active":false,"deleted_at":null,"locked":false,"created_at":"2021-12-22T03:02:12Z","updated_at":"2021-12-22T03:02:12Z","testing":false,"comment":"","number":1,"staging":false}],"paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4999"
      Fastly-Ratelimit-Reset:
      - "1640145600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
