---
version: 1
interactions:
- request:
    body: ACLID=12pStJK7x7jIrG6SGYMaUb&ServiceID=7i6HN3TK9wS159v2gPAZ8A&comment=test+entry&ip=10.0.0.3&subnet=8
    form:
      ACLID:
      - 12pStJK7x7jIrG6SGYMaUb
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      comment:
      - test entry
      ip:
      - 10.0.0.3
      subnet:
      - "8"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/12pStJK7x7jIrG6SGYMaUb/entry
    method: POST
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","acl_id":"12pStJK7x7jIrG6SGYMaUb","ip":"10.0.0.3","subnet":8,"comment":"test
      entry","updated_at":"2021-12-22T03:02:13Z","id":"1uf5l6laVrMWujt7AZAI6c","created_at":"2021-12-22T03:02:13Z","negated":0}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4996"
      Fastly-Ratelimit-Reset:
      - "1640145600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
