---
version: 1
rwmutex: {}
interactions:
- request:
    body: ACL=3xMPlUKElxNy5JAd2HQkhZ&Service=7i6HN3TK9wS159v2gPAZ8A&comment=test+entry&ip=10.0.0.3&subnet=8
    form:
      ACL:
      - 3xMPlUKElxNy5JAd2HQkhZ
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      comment:
      - test entry
      ip:
      - 10.0.0.3
      subnet:
      - "8"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/3xMPlUKElxNy5JAd2HQkhZ/entry
    method: POST
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","acl_id":"3xMPlUKElxNy5JAd2HQkhZ","ip":"10.0.0.3","subnet":8,"comment":"test
      entry","negated":0,"created_at":"2019-05-09T18:07:24Z","id":"1P5vZXb4sHxFXE2IF473SI","deleted_at":null,"updated_at":"2019-05-09T18:07:24Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "997"
      Fastly-Ratelimit-Reset:
      - "1557428400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
