---
version: 1
interactions:
- request:
    body: ACLID=1PCB9fTlFSnrOrUCKa0WzO&ServiceID=7i6HN3TK9wS159v2gPAZ8A&comment=test+entry&ip=10.0.0.3&subnet=8
    form:
      ACLID:
      - 1PCB9fTlFSnrOrUCKa0WzO
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      comment:
      - test entry
      ip:
      - 10.0.0.3
      subnet:
      - "8"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/1PCB9fTlFSnrOrUCKa0WzO/entry
    method: POST
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","acl_id":"1PCB9fTlFSnrOrUCKa0WzO","ip":"10.0.0.3","subnet":8,"comment":"test
      entry","negated":0,"updated_at":"2021-09-22T10:29:25Z","created_at":"2021-09-22T10:29:25Z","id":"69nI3MhHVzdtXD5XW9B6ZN"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4993"
      Fastly-Ratelimit-Reset:
      - "1632308400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
