---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_ACLEntries&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_ACLEntries
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_ACLEntries","type":"vcl","created_at":"2023-11-28T14:44:23Z","paused":false,"publish_key":"","id":"eDfYsTYU4tLAI0IX2MHsB0","updated_at":"2023-11-28T14:44:23Z","versions":[{"updated_at":"2023-11-28T14:44:23Z","service_id":"eDfYsTYU4tLAI0IX2MHsB0","active":false,"comment":"","deleted_at":null,"locked":false,"number":1,"testing":false,"deployed":false,"staging":false,"created_at":"2023-11-28T14:44:23Z"}],"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9952"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
