---
version: 1
rwmutex: {}
interactions:
- request:
    body: ACL=1d7GeY6Ky6eeqSsO5c1r29&Service=2voeSM5z6889qin6D9waPl&comment=test+entry&ip=10.0.0.3&subnet=8
    form:
      ACL:
      - 1d7GeY6Ky6eeqSsO5c1r29
      Service:
      - 2voeSM5z6889qin6D9waPl
      comment:
      - test entry
      ip:
      - 10.0.0.3
      subnet:
      - "8"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/2voeSM5z6889qin6D9waPl/acl/1d7GeY6Ky6eeqSsO5c1r29/entry
    method: POST
  response:
    body: '{"service_id":"2voeSM5z6889qin6D9waPl","acl_id":"1d7GeY6Ky6eeqSsO5c1r29","ip":"10.0.0.3","subnet":8,"comment":"test
      entry","updated_at":"2019-07-23T10:47:07Z","deleted_at":null,"id":"5z5nqKm0IGS8ovR512rSaT","negated":0,"created_at":"2019-07-23T10:47:07Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "981"
      Fastly-Ratelimit-Reset:
      - "1563879600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
