---
version: 1
rwmutex: {}
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_ACLEntries
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_ACLEntries
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_ACLEntries","created_at":"2019-07-23T10:47:05Z","versions":[{"active":false,"number":1,"staging":false,"testing":false,"created_at":"2019-07-23T10:47:05Z","service_id":"2voeSM5z6889qin6D9waPl","deployed":false,"comment":"","deleted_at":null,"updated_at":"2019-07-23T10:47:05Z","locked":false}],"id":"2voeSM5z6889qin6D9waPl","deleted_at":null,"publish_key":"7325baa561b97bdb5ee97af05b50630c4e9a3cf2","updated_at":"2019-07-23T10:47:05Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "984"
      Fastly-Ratelimit-Reset:
      - "1563879600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
