---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_ACLEntries&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_ACLEntries
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_ACLEntries","type":"vcl","paused":false,"publish_key":"","id":"5XPrLhrnNoOk0tcpWh1fpS","versions":[{"comment":"","staging":false,"service_id":"5XPrLhrnNoOk0tcpWh1fpS","deployed":false,"testing":false,"active":false,"number":1,"deleted_at":null,"created_at":"2021-11-03T14:30:47Z","locked":false,"updated_at":"2021-11-03T14:30:47Z"}],"deleted_at":null,"created_at":"2021-11-03T14:30:47Z","updated_at":"2021-11-03T14:30:47Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4993"
      Fastly-Ratelimit-Reset:
      - "1635951600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
