---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=25&name=entry_acl
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "25"
      name:
      - entry_acl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/25/acl
    method: POST
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"25","name":"entry_acl","id":"3xMPlUKElxNy5JAd2HQkhZ","deleted_at":null,"created_at":"2019-05-09T18:07:24Z","updated_at":"2019-05-09T18:07:24Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "998"
      Fastly-Ratelimit-Reset:
      - "1557428400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
