---
version: 1
interactions:
- request:
    body: comment=test+entry&ip=10.0.0.3&negated=0&subnet=8
    form:
      comment:
      - test entry
      ip:
      - 10.0.0.3
      negated:
      - "0"
      subnet:
      - "8"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/e3YATriSOfV0fiQzdiADD1/acl/poFzB5MlRxh9vRHGZxjMK7/entry
    method: POST
  response:
    body: '{"service_id":"e3YATriSOfV0fiQzdiADD1","acl_id":"poFzB5MlRxh9vRHGZxjMK7","ip":"10.0.0.3","negated":0,"subnet":8,"comment":"test
      entry","updated_at":"2022-11-07T13:19:17Z","id":"jnRMSRSBCflqcnpMhG1gi2","created_at":"2022-11-07T13:19:17Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9996"
      Fastly-Ratelimit-Reset:
      - "1667829600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
