---
version: 1
interactions:
- request:
    body: comment=test+entry&ip=10.0.0.3&negated=0&subnet=8
    form:
      comment:
      - test entry
      ip:
      - 10.0.0.3
      negated:
      - "0"
      subnet:
      - "8"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/oW70YCrn5btjFLVUQ1ewJ3/acl/ZrUVueq9LBIL0WuBHzU2Q4/entry
    method: POST
  response:
    body: '{"service_id":"oW70YCrn5btjFLVUQ1ewJ3","acl_id":"ZrUVueq9LBIL0WuBHzU2Q4","ip":"10.0.0.3","negated":0,"subnet":8,"comment":"test
      entry","created_at":"2023-11-28T16:36:30Z","id":"WEt5yMZOwhGaiv081p9ub5","updated_at":"2023-11-28T16:36:30Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9996"
      Fastly-Ratelimit-Reset:
      - "1701190800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
