---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_ACLEntries&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_ACLEntries
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_ACLEntries","type":"vcl","id":"e3YATriSOfV0fiQzdiADD1","paused":false,"publish_key":"","updated_at":"2022-11-07T13:19:16Z","created_at":"2022-11-07T13:19:16Z","versions":[{"staging":false,"deployed":false,"testing":false,"service_id":"e3YATriSOfV0fiQzdiADD1","updated_at":"2022-11-07T13:19:16Z","active":false,"locked":false,"comment":"","deleted_at":null,"number":1,"created_at":"2022-11-07T13:19:16Z"}],"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9999"
      Fastly-Ratelimit-Reset:
      - "1667829600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
