---
version: 1
interactions:
- request:
    body: comment=test+entry&ip=10.0.0.3&negated=0&subnet=8
    form:
      comment:
      - test entry
      ip:
      - 10.0.0.3
      negated:
      - "0"
      subnet:
      - "8"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/6As6ZehTVeMH29EEeOeGE7/acl/KsnVNyCYWtBRx6ejSqIqN0/entry
    method: POST
  response:
    body: '{"service_id":"6As6ZehTVeMH29EEeOeGE7","acl_id":"KsnVNyCYWtBRx6ejSqIqN0","ip":"10.0.0.3","negated":0,"subnet":8,"comment":"test
      entry","id":"euTcP0SLnLq0CXEY0IGV10","updated_at":"2023-11-27T14:26:06Z","created_at":"2023-11-27T14:26:06Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9996"
      Fastly-Ratelimit-Reset:
      - "1701097200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
