---
version: 1
rwmutex: {}
interactions:
- request:
    body: Acl=6aWRuJBATbCeLKOQ4BCLJU&Service=7i6HN3TK9wS159v2gPAZ8A&comment=test+entry&ip=10.0.0.3&subnet=8
    form:
      Acl:
      - 6aWRuJBATbCeLKOQ4BCLJU
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      comment:
      - test entry
      ip:
      - 10.0.0.3
      subnet:
      - "8"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/6aWRuJBATbCeLKOQ4BCLJU/entry
    method: POST
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","acl_id":"6aWRuJBATbCeLKOQ4BCLJU","ip":"10.0.0.3","subnet":8,"comment":"test
      entry","negated":0,"deleted_at":null,"created_at":"2017-07-20T01:14:58+00:00","updated_at":"2017-07-20T01:14:58+00:00","id":"6amW9mve05f7SlE0YZKQqC"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "986"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
