---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_ACLEntries&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_ACLEntries
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_ACLEntries","type":"vcl","created_at":"2023-11-27T14:26:05Z","publish_key":"","updated_at":"2023-11-27T14:26:05Z","deleted_at":null,"paused":false,"id":"6As6ZehTVeMH29EEeOeGE7","versions":[{"created_at":"2023-11-27T14:26:05Z","deployed":false,"active":false,"comment":"","updated_at":"2023-11-27T14:26:05Z","testing":false,"service_id":"6As6ZehTVeMH29EEeOeGE7","locked":false,"deleted_at":null,"number":1,"staging":false}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9999"
      Fastly-Ratelimit-Reset:
      - "1701097200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
