---
version: 1
interactions:
- request:
    body: ACLID=3XA9Zoz75yiYlgnjzDAFmI&ServiceID=5BEXGVZPrhtk8TJfJJiz5u&comment=test+entry&ip=10.0.0.3&subnet=8
    form:
      ACLID:
      - 3XA9Zoz75yiYlgnjzDAFmI
      ServiceID:
      - 5BEXGVZPrhtk8TJfJJiz5u
      comment:
      - test entry
      ip:
      - 10.0.0.3
      subnet:
      - "8"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5BEXGVZPrhtk8TJfJJiz5u/acl/3XA9Zoz75yiYlgnjzDAFmI/entry
    method: POST
  response:
    body: '{"service_id":"5BEXGVZPrhtk8TJfJJiz5u","acl_id":"3XA9Zoz75yiYlgnjzDAFmI","ip":"10.0.0.3","subnet":8,"comment":"test
      entry","id":"5Eyk2g71nkTniNmscr6bJs","updated_at":"2021-01-14T10:23:48Z","created_at":"2021-01-14T10:23:48Z","negated":0,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "976"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
