---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_ACLEntries&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_ACLEntries
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_ACLEntries","type":"vcl","id":"5BEXGVZPrhtk8TJfJJiz5u","paused":false,"versions":[{"deployed":false,"staging":false,"locked":false,"service_id":"5BEXGVZPrhtk8TJfJJiz5u","created_at":"2021-01-14T10:23:47Z","testing":false,"updated_at":"2021-01-14T10:23:47Z","active":false,"comment":"","number":1,"deleted_at":null}],"updated_at":"2021-01-14T10:23:47Z","created_at":"2021-01-14T10:23:47Z","deleted_at":null,"publish_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "979"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
