---
version: 1
interactions:
- request:
    body: ACLID=muyEz1k1BzxjguC05Vwo15&ServiceID=2UjlhNAOAhRTbu1BO6ga21&comment=test+entry&ip=10.0.0.3&subnet=8
    form:
      ACLID:
      - muyEz1k1BzxjguC05Vwo15
      ServiceID:
      - 2UjlhNAOAhRTbu1BO6ga21
      comment:
      - test entry
      ip:
      - 10.0.0.3
      subnet:
      - "8"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2UjlhNAOAhRTbu1BO6ga21/acl/muyEz1k1BzxjguC05Vwo15/entry
    method: POST
  response:
    body: '{"service_id":"2UjlhNAOAhRTbu1BO6ga21","acl_id":"muyEz1k1BzxjguC05Vwo15","ip":"10.0.0.3","subnet":8,"comment":"test
      entry","negated":0,"updated_at":"2022-11-03T14:17:36Z","created_at":"2022-11-03T14:17:36Z","id":"NN4jSgaZyhUhudl45RJOY3"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9981"
      Fastly-Ratelimit-Reset:
      - "1667487600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
