---
version: 1
interactions:
- request:
    body: comment=test+entry&ip=10.0.0.3&negated=0&subnet=8
    form:
      comment:
      - test entry
      ip:
      - 10.0.0.3
      negated:
      - "0"
      subnet:
      - "8"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/eDfYsTYU4tLAI0IX2MHsB0/acl/rpsMUXwZtYZ4IXl7Eekbl3/entry
    method: POST
  response:
    body: '{"service_id":"eDfYsTYU4tLAI0IX2MHsB0","acl_id":"rpsMUXwZtYZ4IXl7Eekbl3","ip":"10.0.0.3","negated":0,"subnet":8,"comment":"test
      entry","created_at":"2023-11-28T14:44:24Z","id":"tIri8nZnSi5Eh6d8EipAk0","updated_at":"2023-11-28T14:44:24Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9949"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
