---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/2voeSM5z6889qin6D9waPl/acl/1d7GeY6Ky6eeqSsO5c1r29/entry/5z5nqKm0IGS8ovR512rSaT
    method: GET
  response:
    body: '{"service_id":"2voeSM5z6889qin6D9waPl","id":"5z5nqKm0IGS8ovR512rSaT","created_at":"2019-07-23T10:47:07Z","negated":"0","updated_at":"2019-07-23T10:47:07Z","comment":"test
      entry","acl_id":"1d7GeY6Ky6eeqSsO5c1r29","ip":"10.0.0.3","subnet":8,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
