---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/5BEXGVZPrhtk8TJfJJiz5u/acl/3XA9Zoz75yiYlgnjzDAFmI/entry/5Eyk2g71nkTniNmscr6bJs
    method: GET
  response:
    body: '{"id":"5Eyk2g71nkTniNmscr6bJs","ip":"10.0.0.3","updated_at":"2021-01-14T10:23:48Z","service_id":"5BEXGVZPrhtk8TJfJJiz5u","deleted_at":null,"comment":"test
      entry","negated":"0","created_at":"2021-01-14T10:23:48Z","subnet":8,"acl_id":"3XA9Zoz75yiYlgnjzDAFmI"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
