---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/12pStJK7x7jIrG6SGYMaUb/entry/1uf5l6laVrMWujt7AZAI6c
    method: GET
  response:
    body: '{"acl_id":"12pStJK7x7jIrG6SGYMaUb","negated":"0","id":"1uf5l6laVrMWujt7AZAI6c","ip":"10.0.0.3","created_at":"2021-12-22T03:02:13Z","subnet":8,"service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"test
      entry","updated_at":"2021-12-22T03:02:13Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
