---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/2UjlhNAOAhRTbu1BO6ga21/acl/muyEz1k1BzxjguC05Vwo15/entry/NN4jSgaZyhUhudl45RJOY3
    method: GET
  response:
    body: '{"subnet":8,"negated":"0","acl_id":"muyEz1k1BzxjguC05Vwo15","created_at":"2022-11-03T14:17:36Z","service_id":"2UjlhNAOAhRTbu1BO6ga21","id":"NN4jSgaZyhUhudl45RJOY3","updated_at":"2022-11-03T14:17:36Z","comment":"test
      entry","ip":"10.0.0.3"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
