---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/IY940xgmfjL6cMyiCs6xL3/acl/n1qDQsO0hoKxbpZ9igh3O0/entry/eZ9NhBeIJOg6emvjUX3d67
    method: GET
  response:
    body: '{"service_id":"IY940xgmfjL6cMyiCs6xL3","created_at":"2023-11-28T13:49:42Z","negated":"0","subnet":8,"updated_at":"2023-11-28T13:49:42Z","acl_id":"n1qDQsO0hoKxbpZ9igh3O0","ip":"10.0.0.3","id":"eZ9NhBeIJOg6emvjUX3d67","comment":"test
      entry"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
