---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/5XPrLhrnNoOk0tcpWh1fpS/acl/052T9UE1HyiRIW2K9FiMr3/entry/0rSunhGyoHgvQWj05vPlC0
    method: GET
  response:
    body: '{"negated":"0","id":"0rSunhGyoHgvQWj05vPlC0","subnet":8,"comment":"test
      entry","created_at":"2021-11-03T14:30:49Z","acl_id":"052T9UE1HyiRIW2K9FiMr3","service_id":"5XPrLhrnNoOk0tcpWh1fpS","ip":"10.0.0.3","updated_at":"2021-11-03T14:30:49Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
