---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/e3YATriSOfV0fiQzdiADD1/acl/poFzB5MlRxh9vRHGZxjMK7/entry/jnRMSRSBCflqcnpMhG1gi2
    method: GET
  response:
    body: '{"service_id":"e3YATriSOfV0fiQzdiADD1","acl_id":"poFzB5MlRxh9vRHGZxjMK7","created_at":"2022-11-07T13:19:17Z","negated":"0","ip":"10.0.0.3","comment":"test
      entry","id":"jnRMSRSBCflqcnpMhG1gi2","subnet":8,"updated_at":"2022-11-07T13:19:17Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
