---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/1PCB9fTlFSnrOrUCKa0WzO/entry/69nI3MhHVzdtXD5XW9B6ZN
    method: GET
  response:
    body: '{"updated_at":"2021-09-22T10:29:25Z","id":"69nI3MhHVzdtXD5XW9B6ZN","acl_id":"1PCB9fTlFSnrOrUCKa0WzO","subnet":8,"ip":"10.0.0.3","negated":"0","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2021-09-22T10:29:25Z","comment":"test
      entry"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
