---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/3xMPlUKElxNy5JAd2HQkhZ/entry/1P5vZXb4sHxFXE2IF473SI
    method: GET
  response:
    body: '{"acl_id":"3xMPlUKElxNy5JAd2HQkhZ","ip":"10.0.0.3","service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"id":"1P5vZXb4sHxFXE2IF473SI","comment":"test
      entry","updated_at":"2019-05-09T18:07:24Z","created_at":"2019-05-09T18:07:24Z","subnet":8,"negated":"0"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
