---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/6As6ZehTVeMH29EEeOeGE7/acl/KsnVNyCYWtBRx6ejSqIqN0/entry/euTcP0SLnLq0CXEY0IGV10
    method: GET
  response:
    body: '{"negated":"0","service_id":"6As6ZehTVeMH29EEeOeGE7","ip":"10.0.0.3","acl_id":"KsnVNyCYWtBRx6ejSqIqN0","updated_at":"2023-11-27T14:26:06Z","comment":"test
      entry","id":"euTcP0SLnLq0CXEY0IGV10","subnet":8,"created_at":"2023-11-27T14:26:06Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
