---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/eDfYsTYU4tLAI0IX2MHsB0/acl/rpsMUXwZtYZ4IXl7Eekbl3/entries?direction=ascend&page=1&per_page=50&sort=ip
    method: GET
  response:
    body: '[{"ip":"10.0.0.3","created_at":"2023-11-28T14:44:24Z","id":"tIri8nZnSi5Eh6d8EipAk0","service_id":"eDfYsTYU4tLAI0IX2MHsB0","negated":"0","acl_id":"rpsMUXwZtYZ4IXl7Eekbl3","updated_at":"2023-11-28T14:44:24Z","subnet":8,"comment":"test
      entry"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
