---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/5BEXGVZPrhtk8TJfJJiz5u/acl/3XA9Zoz75yiYlgnjzDAFmI/entries
    method: GET
  response:
    body: '[{"created_at":"2021-01-14T10:23:48Z","acl_id":"3XA9Zoz75yiYlgnjzDAFmI","comment":"test
      entry","deleted_at":null,"ip":"10.0.0.3","updated_at":"2021-01-14T10:23:48Z","negated":"0","id":"5Eyk2g71nkTniNmscr6bJs","service_id":"5BEXGVZPrhtk8TJfJJiz5u","subnet":8}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
