---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/12pStJK7x7jIrG6SGYMaUb/entries?page=1&per_page=100
    method: GET
  response:
    body: '[{"subnet":8,"id":"1uf5l6laVrMWujt7AZAI6c","updated_at":"2021-12-22T03:02:13Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","acl_id":"12pStJK7x7jIrG6SGYMaUb","ip":"10.0.0.3","negated":"0","created_at":"2021-12-22T03:02:13Z","comment":"test
      entry"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
