---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/oW70YCrn5btjFLVUQ1ewJ3/acl/ZrUVueq9LBIL0WuBHzU2Q4/entries?direction=descend&page=1&per_page=100&sort=created
    method: GET
  response:
    body: '[{"id":"WEt5yMZOwhGaiv081p9ub5","created_at":"2023-11-28T16:36:30Z","comment":"test
      entry","negated":"0","acl_id":"ZrUVueq9LBIL0WuBHzU2Q4","updated_at":"2023-11-28T16:36:30Z","ip":"10.0.0.3","subnet":8,"service_id":"oW70YCrn5btjFLVUQ1ewJ3"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
