---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/6As6ZehTVeMH29EEeOeGE7/acl/KsnVNyCYWtBRx6ejSqIqN0/entries?direction=ascend&page=1&per_page=50&sort=ip
    method: GET
  response:
    body: '[{"subnet":8,"ip":"10.0.0.3","acl_id":"KsnVNyCYWtBRx6ejSqIqN0","updated_at":"2023-11-27T14:26:06Z","service_id":"6As6ZehTVeMH29EEeOeGE7","comment":"test
      entry","created_at":"2023-11-27T14:26:06Z","negated":"0","id":"euTcP0SLnLq0CXEY0IGV10"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
