---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/e3YATriSOfV0fiQzdiADD1/acl/poFzB5MlRxh9vRHGZxjMK7/entries?page=1&per_page=100
    method: GET
  response:
    body: '[{"updated_at":"2022-11-07T13:19:17Z","negated":"0","created_at":"2022-11-07T13:19:17Z","ip":"10.0.0.3","acl_id":"poFzB5MlRxh9vRHGZxjMK7","service_id":"e3YATriSOfV0fiQzdiADD1","subnet":8,"id":"jnRMSRSBCflqcnpMhG1gi2","comment":"test
      entry"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
