---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/6aWRuJBATbCeLKOQ4BCLJU/entries
    method: GET
  response:
    body: '[{"ip":"10.0.0.3","negated":"0","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2017-07-20T01:14:58+00:00","acl_id":"6aWRuJBATbCeLKOQ4BCLJU","comment":"test
      entry","updated_at":"2017-07-20T01:14:58+00:00","id":"6amW9mve05f7SlE0YZKQqC","subnet":8}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
