---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/IY940xgmfjL6cMyiCs6xL3/acl/n1qDQsO0hoKxbpZ9igh3O0/entries?direction=descend&page=1&per_page=1&sort=created
    method: GET
  response:
    body: '[{"id":"eZ9NhBeIJOg6emvjUX3d67","updated_at":"2023-11-28T13:49:42Z","negated":"0","acl_id":"n1qDQsO0hoKxbpZ9igh3O0","subnet":8,"created_at":"2023-11-28T13:49:42Z","service_id":"IY940xgmfjL6cMyiCs6xL3","comment":"test
      entry","ip":"10.0.0.3"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
