---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/2UjlhNAOAhRTbu1BO6ga21/acl/muyEz1k1BzxjguC05Vwo15/entries?direction=descend&page=1&per_page=1&sort=created
    method: GET
  response:
    body: '[{"acl_id":"muyEz1k1BzxjguC05Vwo15","id":"NN4jSgaZyhUhudl45RJOY3","comment":"test
      entry","negated":"0","ip":"10.0.0.3","updated_at":"2022-11-03T14:17:36Z","service_id":"2UjlhNAOAhRTbu1BO6ga21","created_at":"2022-11-03T14:17:36Z","subnet":8}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
