---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/3xMPlUKElxNy5JAd2HQkhZ/entries
    method: GET
  response:
    body: '[{"comment":"test entry","updated_at":"2019-05-09T18:07:24Z","ip":"10.0.0.3","service_id":"7i6HN3TK9wS159v2gPAZ8A","acl_id":"3xMPlUKElxNy5JAd2HQkhZ","id":"1P5vZXb4sHxFXE2IF473SI","deleted_at":null,"created_at":"2019-05-09T18:07:24Z","negated":"0","subnet":8}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
