---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/2voeSM5z6889qin6D9waPl/acl/1d7GeY6Ky6eeqSsO5c1r29/entries
    method: GET
  response:
    body: '[{"service_id":"2voeSM5z6889qin6D9waPl","deleted_at":null,"negated":"0","comment":"test
      entry","subnet":8,"created_at":"2019-07-23T10:47:07Z","ip":"10.0.0.3","updated_at":"2019-07-23T10:47:07Z","acl_id":"1d7GeY6Ky6eeqSsO5c1r29","id":"5z5nqKm0IGS8ovR512rSaT"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
