---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/eDfYsTYU4tLAI0IX2MHsB0/acl/rpsMUXwZtYZ4IXl7Eekbl3/entries?direction=ascend&page=1&per_page=50&sort=ip
    method: GET
  response:
    body: '[{"id":"tIri8nZnSi5Eh6d8EipAk0","created_at":"2023-11-28T14:44:24Z","comment":"test
      entry","negated":"0","acl_id":"rpsMUXwZtYZ4IXl7Eekbl3","updated_at":"2023-11-28T14:44:24Z","ip":"10.0.0.3","subnet":8,"service_id":"eDfYsTYU4tLAI0IX2MHsB0"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
