---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/1PCB9fTlFSnrOrUCKa0WzO/entries
    method: GET
  response:
    body: '[{"created_at":"2021-09-22T10:29:25Z","id":"69nI3MhHVzdtXD5XW9B6ZN","subnet":8,"ip":"10.0.0.3","negated":"0","updated_at":"2021-09-22T10:29:25Z","comment":"test
      entry","acl_id":"1PCB9fTlFSnrOrUCKa0WzO","service_id":"7i6HN3TK9wS159v2gPAZ8A"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
