---
version: 1
interactions:
- request:
    body: ACLID=1PCB9fTlFSnrOrUCKa0WzO&ID=69nI3MhHVzdtXD5XW9B6ZN&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ip=10.0.0.4&negated=1
    form:
      ACLID:
      - 1PCB9fTlFSnrOrUCKa0WzO
      ID:
      - 69nI3MhHVzdtXD5XW9B6ZN
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ip:
      - 10.0.0.4
      negated:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/1PCB9fTlFSnrOrUCKa0WzO/entry/69nI3MhHVzdtXD5XW9B6ZN
    method: PATCH
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"test entry","acl_id":"1PCB9fTlFSnrOrUCKa0WzO","negated":1,"ip":"10.0.0.4","updated_at":"2021-09-22T10:29:25Z","created_at":"2021-09-22T10:29:25Z","subnet":8,"id":"69nI3MhHVzdtXD5XW9B6ZN"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4992"
      Fastly-Ratelimit-Reset:
      - "1632308400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
