---
version: 1
interactions:
- request:
    body: ip=10.0.0.4&negated=1
    form:
      ip:
      - 10.0.0.4
      negated:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/e3YATriSOfV0fiQzdiADD1/acl/poFzB5MlRxh9vRHGZxjMK7/entry/jnRMSRSBCflqcnpMhG1gi2
    method: PATCH
  response:
    body: '{"comment":"test entry","negated":1,"subnet":8,"updated_at":"2022-11-07T13:19:17Z","id":"jnRMSRSBCflqcnpMhG1gi2","acl_id":"poFzB5MlRxh9vRHGZxjMK7","service_id":"e3YATriSOfV0fiQzdiADD1","created_at":"2022-11-07T13:19:17Z","ip":"10.0.0.4"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9995"
      Fastly-Ratelimit-Reset:
      - "1667829600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
