---
version: 1
interactions:
- request:
    body: ACLID=3XA9Zoz75yiYlgnjzDAFmI&ID=5Eyk2g71nkTniNmscr6bJs&ServiceID=5BEXGVZPrhtk8TJfJJiz5u&ip=10.0.0.4&negated=true
    form:
      ACLID:
      - 3XA9Zoz75yiYlgnjzDAFmI
      ID:
      - 5Eyk2g71nkTniNmscr6bJs
      ServiceID:
      - 5BEXGVZPrhtk8TJfJJiz5u
      ip:
      - 10.0.0.4
      negated:
      - "true"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5BEXGVZPrhtk8TJfJJiz5u/acl/3XA9Zoz75yiYlgnjzDAFmI/entry/5Eyk2g71nkTniNmscr6bJs
    method: PATCH
  response:
    body: '{"subnet":8,"acl_id":"3XA9Zoz75yiYlgnjzDAFmI","created_at":"2021-01-14T10:23:48Z","negated":"true","service_id":"5BEXGVZPrhtk8TJfJJiz5u","ip":"10.0.0.4","id":"5Eyk2g71nkTniNmscr6bJs","deleted_at":null,"comment":"test
      entry","updated_at":"2021-01-14T10:23:48Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "975"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
