---
version: 1
rwmutex: {}
interactions:
- request:
    body: ACL=1d7GeY6Ky6eeqSsO5c1r29&ID=5z5nqKm0IGS8ovR512rSaT&Service=2voeSM5z6889qin6D9waPl&ip=10.0.0.4&negated=true
    form:
      ACL:
      - 1d7GeY6Ky6eeqSsO5c1r29
      ID:
      - 5z5nqKm0IGS8ovR512rSaT
      Service:
      - 2voeSM5z6889qin6D9waPl
      ip:
      - 10.0.0.4
      negated:
      - "true"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/2voeSM5z6889qin6D9waPl/acl/1d7GeY6Ky6eeqSsO5c1r29/entry/5z5nqKm0IGS8ovR512rSaT
    method: PATCH
  response:
    body: '{"ip":"10.0.0.4","updated_at":"2019-07-23T10:47:07Z","comment":"test entry","acl_id":"1d7GeY6Ky6eeqSsO5c1r29","created_at":"2019-07-23T10:47:07Z","negated":"true","service_id":"2voeSM5z6889qin6D9waPl","id":"5z5nqKm0IGS8ovR512rSaT","subnet":8,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "980"
      Fastly-Ratelimit-Reset:
      - "1563879600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
