---
version: 1
interactions:
- request:
    body: ip=10.0.0.4&negated=1
    form:
      ip:
      - 10.0.0.4
      negated:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/eDfYsTYU4tLAI0IX2MHsB0/acl/rpsMUXwZtYZ4IXl7Eekbl3/entry/tIri8nZnSi5Eh6d8EipAk0
    method: PATCH
  response:
    body: '{"acl_id":"rpsMUXwZtYZ4IXl7Eekbl3","negated":1,"id":"tIri8nZnSi5Eh6d8EipAk0","updated_at":"2023-11-28T14:44:24Z","subnet":8,"service_id":"eDfYsTYU4tLAI0IX2MHsB0","created_at":"2023-11-28T14:44:24Z","comment":"test
      entry","ip":"10.0.0.4"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9948"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
