---
version: 1
rwmutex: {}
interactions:
- request:
    body: ACL=3xMPlUKElxNy5JAd2HQkhZ&ID=1P5vZXb4sHxFXE2IF473SI&Service=7i6HN3TK9wS159v2gPAZ8A&ip=10.0.0.4&negated=true
    form:
      ACL:
      - 3xMPlUKElxNy5JAd2HQkhZ
      ID:
      - 1P5vZXb4sHxFXE2IF473SI
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      ip:
      - 10.0.0.4
      negated:
      - "true"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/3xMPlUKElxNy5JAd2HQkhZ/entry/1P5vZXb4sHxFXE2IF473SI
    method: PATCH
  response:
    body: '{"created_at":"2019-05-09T18:07:24Z","acl_id":"3xMPlUKElxNy5JAd2HQkhZ","id":"1P5vZXb4sHxFXE2IF473SI","deleted_at":null,"updated_at":"2019-05-09T18:07:24Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","ip":"10.0.0.4","comment":"test
      entry","negated":"true","subnet":8}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1557428400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
