---
version: 1
interactions:
- request:
    body: ACLID=052T9UE1HyiRIW2K9FiMr3&ID=0rSunhGyoHgvQWj05vPlC0&ServiceID=5XPrLhrnNoOk0tcpWh1fpS&ip=10.0.0.4&negated=1
    form:
      ACLID:
      - 052T9UE1HyiRIW2K9FiMr3
      ID:
      - 0rSunhGyoHgvQWj05vPlC0
      ServiceID:
      - 5XPrLhrnNoOk0tcpWh1fpS
      ip:
      - 10.0.0.4
      negated:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5XPrLhrnNoOk0tcpWh1fpS/acl/052T9UE1HyiRIW2K9FiMr3/entry/0rSunhGyoHgvQWj05vPlC0
    method: PATCH
  response:
    body: '{"subnet":8,"id":"0rSunhGyoHgvQWj05vPlC0","created_at":"2021-11-03T14:30:49Z","negated":1,"service_id":"5XPrLhrnNoOk0tcpWh1fpS","comment":"test
      entry","acl_id":"052T9UE1HyiRIW2K9FiMr3","ip":"10.0.0.4","updated_at":"2021-11-03T14:30:49Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4989"
      Fastly-Ratelimit-Reset:
      - "1635951600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
