---
version: 1
interactions:
- request:
    body: ip=10.0.0.4&negated=1
    form:
      ip:
      - 10.0.0.4
      negated:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/IY940xgmfjL6cMyiCs6xL3/acl/n1qDQsO0hoKxbpZ9igh3O0/entry/eZ9NhBeIJOg6emvjUX3d67
    method: PATCH
  response:
    body: '{"ip":"10.0.0.4","negated":1,"updated_at":"2023-11-28T13:49:42Z","subnet":8,"comment":"test
      entry","created_at":"2023-11-28T13:49:42Z","id":"eZ9NhBeIJOg6emvjUX3d67","service_id":"IY940xgmfjL6cMyiCs6xL3","acl_id":"n1qDQsO0hoKxbpZ9igh3O0"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9995"
      Fastly-Ratelimit-Reset:
      - "1701180000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
