---
version: 1
interactions:
- request:
    body: ip=10.0.0.4&negated=1
    form:
      ip:
      - 10.0.0.4
      negated:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/oW70YCrn5btjFLVUQ1ewJ3/acl/ZrUVueq9LBIL0WuBHzU2Q4/entry/WEt5yMZOwhGaiv081p9ub5
    method: PATCH
  response:
    body: '{"id":"WEt5yMZOwhGaiv081p9ub5","updated_at":"2023-11-28T16:36:30Z","acl_id":"ZrUVueq9LBIL0WuBHzU2Q4","negated":1,"subnet":8,"service_id":"oW70YCrn5btjFLVUQ1ewJ3","created_at":"2023-11-28T16:36:30Z","ip":"10.0.0.4","comment":"test
      entry"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9995"
      Fastly-Ratelimit-Reset:
      - "1701190800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
