---
version: 1
rwmutex: {}
interactions:
- request:
    body: Acl=6aWRuJBATbCeLKOQ4BCLJU&ID=6amW9mve05f7SlE0YZKQqC&Service=7i6HN3TK9wS159v2gPAZ8A&ip=10.0.0.4&negated=true
    form:
      Acl:
      - 6aWRuJBATbCeLKOQ4BCLJU
      ID:
      - 6amW9mve05f7SlE0YZKQqC
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      ip:
      - 10.0.0.4
      negated:
      - "true"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/acl/6aWRuJBATbCeLKOQ4BCLJU/entry/6amW9mve05f7SlE0YZKQqC
    method: PATCH
  response:
    body: '{"ip":"10.0.0.4","negated":"true","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2017-07-20T01:14:58+00:00","acl_id":"6aWRuJBATbCeLKOQ4BCLJU","comment":"test
      entry","updated_at":"2017-07-20T01:14:58+00:00","id":"6amW9mve05f7SlE0YZKQqC","subnet":8}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "985"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
