---
version: 1
interactions:
- request:
    body: ACLID=muyEz1k1BzxjguC05Vwo15&ID=NN4jSgaZyhUhudl45RJOY3&ServiceID=2UjlhNAOAhRTbu1BO6ga21&ip=10.0.0.4&negated=1
    form:
      ACLID:
      - muyEz1k1BzxjguC05Vwo15
      ID:
      - NN4jSgaZyhUhudl45RJOY3
      ServiceID:
      - 2UjlhNAOAhRTbu1BO6ga21
      ip:
      - 10.0.0.4
      negated:
      - "1"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2UjlhNAOAhRTbu1BO6ga21/acl/muyEz1k1BzxjguC05Vwo15/entry/NN4jSgaZyhUhudl45RJOY3
    method: PATCH
  response:
    body: '{"service_id":"2UjlhNAOAhRTbu1BO6ga21","acl_id":"muyEz1k1BzxjguC05Vwo15","created_at":"2022-11-03T14:17:36Z","subnet":8,"negated":1,"ip":"10.0.0.4","comment":"test
      entry","id":"NN4jSgaZyhUhudl45RJOY3","updated_at":"2022-11-03T14:17:36Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9980"
      Fastly-Ratelimit-Reset:
      - "1667487600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
