---
version: 1
interactions:
- request:
    body: login=go-fastly-test%2Buser1%40example.com&name=test+user&role=engineer
    form:
      login:
      - go-fastly-test+user1@example.com
      name:
      - test user
      role:
      - engineer
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/user
    method: POST
  response:
    body: '{"id":"3H4OEL3kxIG6Xvz7SDLhXo","created_at":"2021-11-03T17:23:48Z","updated_at":"2021-11-03T17:23:48Z","name":"test
      user","customer_id":"51MumwLiSJyFTWhtbByYgR","require_new_password":null,"role":"engineer","login":"go-fastly-test+user1@example.com","deleted_at":null,"locked":null,"two_factor_auth_enabled":null,"limit_services":false,"last_active_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4830"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
