---
version: 1
interactions:
- request:
    body: login=go-fastly-test%2Buser1%40example.com&name=test+user&role=engineer
    form:
      login:
      - go-fastly-test+user1@example.com
      name:
      - test user
      role:
      - engineer
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/user
    method: POST
  response:
    body: '{"id":"57rOH2Ne8lHWWlCMA5J8nB","created_at":"2021-01-14T10:53:07Z","updated_at":"2021-01-14T10:53:07Z","name":"test
      user","customer_id":"51MumwLiSJyFTWhtbByYgR","require_new_password":null,"role":"engineer","login":"go-fastly-test+user1@example.com","deleted_at":null,"locked":null,"two_factor_auth_enabled":null,"limit_services":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "602"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
