---
version: 1
interactions:
- request:
    body: login=go-fastly-test%2Buser%2B20221104%40example.com&name=test+user&role=engineer
    form:
      login:
      - go-fastly-test+user+20221104@example.com
      name:
      - test user
      role:
      - engineer
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/user
    method: POST
  response:
    body: '{"id":"1Iyp7cXku3sEDtOBxnhLaL","created_at":"2022-11-04T18:02:15Z","updated_at":"2022-11-04T18:02:15Z","name":"test
      user","customer_id":"51MumwLiSJyFTWhtbByYgR","require_new_password":null,"role":"engineer","login":"go-fastly-test+user+20221104@example.com","deleted_at":null,"locked":null,"two_factor_auth_enabled":null,"limit_services":false,"last_active_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9998"
      Fastly-Ratelimit-Reset:
      - "1667588400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
