---
version: 1
interactions:
- request:
    body: login=test%2Buser%40example.com&name=test+user&role=engineer
    form:
      login:
      - test+user@example.com
      name:
      - test user
      role:
      - engineer
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/user
    method: POST
  response:
    body: '{"id":"FoXUMd33uGfvJYLTqQ0d74","created_at":"2020-02-25T02:39:08Z","updated_at":"2020-02-25T02:39:08Z","name":"test
      user","customer_id":"qGfZo6FegmRT5XlvOLdsKy","require_new_password":false,"role":"engineer","login":"test+user@example.com","deleted_at":null,"locked":false,"two_factor_auth_enabled":false,"limit_services":false,"email_hash":"bebed43da3708b3360ad6aeb75adc7ae","two_factor_setup_required":true}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "991"
      Fastly-Ratelimit-Reset:
      - "1582599600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
