---
version: 1
interactions:
- request:
    body: login=new%2Bengineer%40example.com&name=new+engineer&role=engineer
    form:
      login:
      - new+engineer@example.com
      name:
      - new engineer
      role:
      - engineer
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/user
    method: POST
  response:
    body: '{"id":"6SI6xsIX66S66iX6ixSIx","created_at":"2020-02-14T13:52:02Z","updated_at":"2020-02-14T13:52:02Z","name":"new engineer","customer_id":"CUsT0m3rID","require_new_password":false,"role":"engineer","login":"new+engineer@example.com","deleted_at":null,"locked":false,"two_factor_auth_enabled":false,"limit_services":false,"email_hash":"73a84706cd6e66f218e326ab3a74b7aa","two_factor_setup_required":true}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "999"
      Fastly-Ratelimit-Reset:
      - "1581688800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
