---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/user/T3hr33eE3thr3EEtHr3e3
    method: GET
  response:
    body: '{"id":"T3hr33eE3thr3EEtHr3e3","created_at":"2013-10-25T08:17:38Z","updated_at":"2018-02-02T18:42:41Z","name":"User Three","customer_id":"CUsT0m3rID","require_new_password":false,"role":"user","login":"user.three@example.com","deleted_at":null,"locked":false,"two_factor_auth_enabled":true,"limit_services":false,"email_hash":"3e340dcebcbef6aa898a4fc58f98eff5","two_factor_setup_required":false}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
