---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/user/1Iyp7cXku3sEDtOBxnhLaL
    method: GET
  response:
    body: '{"id":"1Iyp7cXku3sEDtOBxnhLaL","created_at":"2022-11-04T18:02:15Z","updated_at":"2022-11-04T18:02:15Z","name":"test
      user","customer_id":"51MumwLiSJyFTWhtbByYgR","require_new_password":null,"role":"engineer","login":"go-fastly-test+user+20221104@example.com","deleted_at":null,"locked":null,"two_factor_auth_enabled":null,"limit_services":false,"last_active_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
