---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/user/3H4OEL3kxIG6Xvz7SDLhXo
    method: GET
  response:
    body: '{"id":"3H4OEL3kxIG6Xvz7SDLhXo","created_at":"2021-11-03T17:23:48Z","updated_at":"2021-11-03T17:23:48Z","name":"test
      user","customer_id":"51MumwLiSJyFTWhtbByYgR","require_new_password":null,"role":"engineer","login":"go-fastly-test+user1@example.com","deleted_at":null,"locked":null,"two_factor_auth_enabled":null,"limit_services":false,"last_active_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
