---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/current_user
    method: GET
  response:
    body: '{"id":"Y3VycmVudCt1c2VyQGV4YW","created_at":"2016-08-29T19:35:22Z","updated_at":"2020-02-25T00:24:55Z","name":"current+user@example.com","customer_id":"qGfZo6FegmRT5XlvOLdsKy","require_new_password":false,"role":"superuser","login":"current+user@example.com","deleted_at":null,"locked":false,"two_factor_auth_enabled":true,"limit_services":false,"email_hash":"e3aaaf9ef83cf31d4821ddc22e485800","two_factor_setup_required":false}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
