---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/current_user
    method: GET
  response:
    body: '{"id":"F5I5VEFIVefI5VEfiVeFI","created_at":"2013-07-09T21:40:13Z","updated_at":"2017-11-17T00:01:35Z","name":"Superuser Five","customer_id":"CUsT0m3rID","require_new_password":false,"role":"superuser","login":"superuser.five@example.com","deleted_at":null,"locked":false,"two_factor_auth_enabled":true,"limit_services":false,"email_hash":"604faaaeb46afd0b358d42b062036864","two_factor_setup_required":false}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
