---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/current_user
    method: GET
  response:
    body: '{"id":"1tSCjJnpQYBBCAsIfI6pX0","created_at":"2020-11-04T09:51:20Z","updated_at":"2021-09-17T15:17:31Z","name":"Mark
      McDonnell","customer_id":"51MumwLiSJyFTWhtbByYgR","require_new_password":false,"role":"superuser","login":"mmcdonnell+experiments@fastly.com","deleted_at":null,"locked":false,"two_factor_auth_enabled":null,"limit_services":false,"last_active_at":"2021-09-17T15:17:31Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
