---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/customer/CUsT0m3rID/users
    method: GET
  response:
    body: '[{"id":"F5I5VEFIVefI5VEfiVeFI","created_at":"2013-07-09T21:40:13Z","updated_at":"2017-11-17T00:01:35Z","name":"Superuser Five","customer_id":"CUsT0m3rID","require_new_password":false,"role":"superuser","login":"superuser.five@example.com","deleted_at":null,"locked":false,"two_factor_auth_enabled":true,"limit_services":false,"email_hash":"604faaaeb46afd0b358d42b062036864","two_factor_setup_required":false},
      {"id":"FOUr4Four44FOU4R4fOUR","created_at":"2013-09-24T22:17:25Z","updated_at":"2016-10-15T13:17:23Z","name":"Engineer Four","customer_id":"CUsT0m3rID","require_new_password":false,"role":"engineer","login":"engineer.four@example.com","deleted_at":null,"locked":false,"two_factor_auth_enabled":true,"limit_services":false,"email_hash":"e14edca92489428b8000b9be0f860e5b","two_factor_setup_required":false},
      {"id":"OnEoN1e1oN1E11onE11O1","created_at":"2013-11-08T19:36:33Z","updated[...]
