---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/customer/qGfZo6FegmRT5XlvOLdsKy/users
    method: GET
  response:
    body: '[{"id":"FoXUMd33uGfvJYLTqQ0d74","created_at":"2020-02-25T02:39:08Z","updated_at":"2020-02-25T02:39:08Z","name":"test
      user","customer_id":"qGfZo6FegmRT5XlvOLdsKy","require_new_password":false,"role":"engineer","login":"test+user@example.com","deleted_at":null,"locked":false,"two_factor_auth_enabled":false,"limit_services":false,"email_hash":"bebed43da3708b3360ad6aeb75adc7ae","two_factor_setup_required":true},{"id":"Y3VycmVudCt1c2VyQGV4YW","created_at":"2016-08-29T19:35:22Z","updated_at":"2020-02-25T00:24:55Z","name":"current+user@example.com","customer_id":"qGfZo6FegmRT5XlvOLdsKy","require_new_password":false,"role":"superuser","login":"current+user@example.com","deleted_at":null,"locked":false,"two_factor_auth_enabled":true,"limit_services":false,"email_hash":"3bfde6f2aa518c51be9d9d8ca63a2785","two_factor_setup_required":false}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
