---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/customer/51MumwLiSJyFTWhtbByYgR/users
    method: GET
  response:
    body: '[{"id":"1tSCjJnpQYBBCAsIfI6pX0","created_at":"2020-11-04T09:51:20Z","updated_at":"2021-09-17T15:17:31Z","name":"Mark
      McDonnell","customer_id":"51MumwLiSJyFTWhtbByYgR","require_new_password":false,"role":"superuser","login":"mmcdonnell+experiments@fastly.com","deleted_at":null,"locked":false,"two_factor_auth_enabled":null,"limit_services":false,"last_active_at":"2021-09-17T15:17:31Z"},{"id":"2NfYQKW1WOyZAHfx5vHUz","created_at":"2021-07-14T18:06:16Z","updated_at":"2021-07-14T18:06:16Z","name":"tf-test-vcybp2zqer","customer_id":"51MumwLiSJyFTWhtbByYgR","require_new_password":null,"role":"engineer","login":"tf-test-id942gvl3w@example.com","deleted_at":null,"locked":null,"two_factor_auth_enabled":null,"limit_services":false,"last_active_at":null},{"id":"3fNBpVBwp8UnOSCoZGRanZ","created_at":"2021-03-18T11:48:38Z","updated_at":"2021-03-31T09:32:02Z","name":"[...]
