---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/customer/51MumwLiSJyFTWhtbByYgR/users
    method: GET
  response:
    body: '[{"id":"1Iyp7cXku3sEDtOBxnhLaL","created_at":"2022-11-04T18:02:15Z","updated_at":"2022-11-04T18:02:15Z","name":"test
      user","customer_id":"51MumwLiSJyFTWhtbByYgR","require_new_password":null,"role":"engineer","login":"go-fastly-test+user+20221104@example.com","deleted_at":null,"locked":null,"two_factor_auth_enabled":null,"limit_services":false,"last_active_at":null},{"id":"1pnpEMCscfjqgvH7Qofda6","created_at":"2022-06-22T18:00:19Z","updated_at":"2022-06-22T18:05:27Z","name":"testing
      integralist","customer_id":"51MumwLiSJyFTWhtbByYgR","require_new_password":null,"role":"engineer","login":"testing-integralist@fastly.com","deleted_at":null,"locked":null,"two_factor_auth_enabled":null,"limit_services":true,"last_active_at":null},{"id":"1tSCjJnpQYBBCAsIfI6pX0","created_at":"2020-11-04T09:51:20Z","updated_at":"2022-06-01T13:25:28Z","name":"Mark
      [...]
