---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/customer/51MumwLiSJyFTWhtbByYgR/users
    method: GET
  response:
    body: '[{"id":"1tSCjJnpQYBBCAsIfI6pX0","created_at":"2020-11-04T09:51:20Z","updated_at":"2021-01-13T13:48:29Z","name":"Mark
      McDonnell","customer_id":"51MumwLiSJyFTWhtbByYgR","require_new_password":null,"role":"superuser","login":"mmcdonnell+experiments@fastly.com","deleted_at":null,"locked":null,"two_factor_auth_enabled":null,"limit_services":false},{"id":"57rOH2Ne8lHWWlCMA5J8nB","created_at":"2021-01-14T10:53:07Z","updated_at":"2021-01-14T10:53:07Z","name":"test
      user","customer_id":"51MumwLiSJyFTWhtbByYgR","require_new_password":null,"role":"engineer","login":"go-fastly-test+user1@example.com","deleted_at":null,"locked":null,"two_factor_auth_enabled":null,"limit_services":false}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
