---
version: 1
interactions:
- request:
    body: name=updated+user&role=superuser
    form:
      name:
      - updated user
      role:
      - superuser
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/user/3H4OEL3kxIG6Xvz7SDLhXo
    method: PUT
  response:
    body: '{"id":"3H4OEL3kxIG6Xvz7SDLhXo","customer_id":"51MumwLiSJyFTWhtbByYgR","name":"updated
      user","role":"superuser","created_at":"2021-11-03T17:23:48Z","updated_at":"2021-11-03T17:23:49Z","require_new_password":null,"login":"go-fastly-test+user1@example.com","deleted_at":null,"locked":null,"two_factor_auth_enabled":null,"limit_services":false,"last_active_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4829"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
