---
version: 1
interactions:
- request:
    body: name=updated+user&role=superuser
    form:
      name:
      - updated user
      role:
      - superuser
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/user/57rOH2Ne8lHWWlCMA5J8nB
    method: PUT
  response:
    body: '{"id":"57rOH2Ne8lHWWlCMA5J8nB","customer_id":"51MumwLiSJyFTWhtbByYgR","name":"updated
      user","role":"superuser","created_at":"2021-01-14T10:53:07Z","updated_at":"2021-01-14T10:53:08Z","require_new_password":null,"login":"go-fastly-test+user1@example.com","deleted_at":null,"locked":null,"two_factor_auth_enabled":null,"limit_services":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "601"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
