---
version: 1
interactions:
- request:
    body: name=Superuser+Three&role=superuser
    form:
      name:
      - Superuser Three
      role:
      - superuser
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/user/T3hr33eE3thr3EEtHr3e3
    method: PUT
  response:
    body: '{"id":"T3hr33eE3thr3EEtHr3e3","created_at":"2013-10-25T08:17:38Z","updated_at":"2020-02-14T14:39:20Z","name":"Superuser Three","customer_id":"CUsT0m3rID","require_new_password":false,"role":"superuser","login":"user.three@example.com","deleted_at":null,"locked":false,"two_factor_auth_enabled":true,"limit_services":false,"email_hash":"3e340dcebcbef6aa898a4fc58f98eff5","two_factor_setup_required":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "998"
      Fastly-Ratelimit-Reset:
      - "1581692400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
