---
version: 1
interactions:
- request:
    body: name=updated+user&role=superuser
    form:
      name:
      - updated user
      role:
      - superuser
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/user/FoXUMd33uGfvJYLTqQ0d74
    method: PUT
  response:
    body: '{"id":"FoXUMd33uGfvJYLTqQ0d74","customer_id":"qGfZo6FegmRT5XlvOLdsKy","name":"updated
      user","role":"superuser","login":"test+user@example.com","deleted_at":null,"created_at":"2020-02-25T02:39:08Z","updated_at":"2020-02-25T02:39:09Z","require_new_password":false,"locked":false,"two_factor_auth_enabled":false,"limit_services":false,"email_hash":"bebed43da3708b3360ad6aeb75adc7ae","two_factor_setup_required":true}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "990"
      Fastly-Ratelimit-Reset:
      - "1582599600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
