---
version: 1
interactions:
- request:
    body: '{"resize_filter":"nearest"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/6/image_optimizer_default_settings
    method: PATCH
  response:
    body: '{"resize_filter":"nearest","webp":true,"webp_quality":42,"jpeg_type":"auto","jpeg_quality":85,"upscale":true,"allow_video":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "977"
      Fastly-Ratelimit-Reset:
      - "1733590800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
