---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/requests/1b34db183e374ea7880f000000000001
    method: GET
  response:
    body: |
      {"id":"1b34db183e374ea7880f000000000001","timestamp":"2025-06-05T16:15:31Z","server_hostname":"fastlydevtoolstesting.com","server_name":"fastlydevtoolstesting.com","uri":"/","path":"/","user_agent":"curl/8.7.1","remote_ip":"96.224.50.187","remote_hostname":"pool-96-224-50-187.nycmny.fios.verizon.net","country":"US","method":"POST","protocol":"HTTP/1.1","tls_protocol":"","tls_cipher":"","scheme":"http","response_code":401,"response_size":4696,"response_time":28,"agent_response_code":200,"request_headers":[{"name":"X-Uat-Ip","value":"10.2.3.4"},{"name":"Fastly-Ff","value":"7rhL8T7Um/0khntXIHgopW0fTXKYvcj2vPpd1I+60Rc=!EWR!cache-ewr-kewr1740025-EWR"},{"name":"X-Sigsci-Client-Geo-City","value":"ossining"},{"name":"X-Timer","value":"S1749140131.063312, VS0"},{"name":"X-Sigsci-Requestid","value":"1b34db183e374ea7880f000000000001"},{"name":"Content-Length","value":"23"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"},{"name":"Fastly-Client-Ip","value":"96.224.50.187"},{"name":"User-Agent","value":"curl/8.7.1"},{"name":"X-Sigsci-Client-Geo-Country-Code","value":"US"},{"name":"X-Sigsci-Edgemodule","value":"vcl 3.1.0"},{"name":"X-Sigsci-Serviceid-Prod","value":"kKJb5bOFI47uHeBVluGfX1"},{"name":"X-Varnish","value":"3020601334"},{"name":"Accept","value":"*/*"},{"name":"Cdn-Loop","value":"Fastly"},{"name":"Host","value":"fastlydevtoolstesting.com"}],"response_headers":[{"name":"X-Glitch-Proxy","value":"true"},{"name":"Date","value":"Thu, 05 Jun 2025 16:15:31 GMT"},{"name":"Content-Type","value":"text/html; charset=utf-8"},{"name":"X-Cache","value":"MISS"},{"name":"Content-Length","value":"4696"},{"name":"Connection","value":"keep-alive"},{"name":"X-Cache-Hits","value":"0"},{"name":"X-Served-By","value":"cache-ewr-kewr1740079-EWR"},{"name":"Cache-Control","value":"no-cache"},{"name":"Etag","value":"W/\"1258-CRcGKaD3eZqNFrAdjmcK04t9o4g\""}],"signals":[{"id":"CMDEXE","location":"POST","value":"bar192=;cat /etc/passwd","detector":"CmdExeRule"},{"id":"HTTP4XX","location":"","value":"401","detector":"HTTPErrorRule"}],"ja3":"","ja4":"","summation":{"attrs":{"AgentServiceVersion":"57","AllPreSignalsInformational":"false","PostBodyContentType":"form","RuleID":"ExcludeCVEs","country":"US"},"attacks":[]}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
