---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/requests?limit=100&q=from%3A-2d
    method: GET
  response:
    body: |
      {"meta":{"limit":100,"total":130,"next_cursor":""},"data":[{"id":"b81e4265a9b34978989b000000000002","timestamp":"2025-06-05T16:16:40Z","server_hostname":"fastlydevtoolstesting.com","server_name":"fastlydevtoolstesting.com","uri":"/favicon.ico","path":"/favicon.ico","user_agent":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36","remote_ip":"207.96.113.93","remote_hostname":"","country":"US","method":"GET","protocol":"HTTP/1.1","tls_protocol":"","tls_cipher":"","scheme":"http","response_code":401,"response_size":4696,"response_time":47,"agent_response_code":200,"request_headers":[{"name":"Accept-Language","value":"en-US, en;q=0.9"},{"name":"Host","value":"fastlydevtoolstesting.com"},{"name":"X-Sigsci-Client-Geo-City","value":"new york"},{"name":"X-Sigsci-Client-Geo-Country-Code","value":"US"},{"name":"X-Sigsci-Serviceid-Prod","value":"kKJb5bOFI47uHeBVluGfX1"},{"name":"X-Timer","value":"S1749140200.360366, VS0"},{"name":"Accept","value":"image/avif, image/webp, image/apng, image/svg+xml, image/*, */*;q=0.8"},{"name":"Cdn-Loop","value":"Fastly, Fastly"},{"name":"Fastly-Ff","value":"7rhL8T7Um/0khntXIHgopW0fTXKYvcj2vPpd1I+60Rc=!EWR!cache-ewr-kewr1740035-EWR, 7rhL8T7Um/0khntXIHgopW0fTXKYvcj2vPpd1I+60Rc=!EWR!cache-ewr-kewr1740069-EWR"},{"name":"Fastly-Orig-Accept-Encoding","value":"gzip, deflate"},{"name":"Fastly-Client-Ip","value":"207.96.113.93"},{"name":"User-Agent","value":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36"},{"name":"X-Sigsci-Edgemodule","value":"vcl 3.1.0"},{"name":"Accept-Encoding","value":"gzip"},{"name":"Fastly-Client","value":"1"},{"name":"Referer","value":"http://fastlydevtoolstesting.com.global.prod.fastly.net/"},{"name":"X-Sigsci-Requestid","value":"b81e4265a9b34978989b000000000002"},{"name":"X-Varnish","value":"3855400457"}],"response_headers":[{"name":"Cache-Control","value":"no-cache"},{"name":"Content-Length","value":"4696"},{"name":"Date","value":"Thu, 05 Jun 2025 16:16:40 GMT"},{"name":"X-Served-By","value":"cache-ewr-kewr1740026-EWR"},{"name":"Connection","value":"keep-alive"},{"name":"X-Glitch-Proxy","value":"true"},{"name":"Etag","value":"W/\"1258-UbFWHHqctn5M1leAkpJBzWt54DQ\""},{"name":"Content-Type","value":"text/html; charset=utf-8"},{"name":"X-Cache","value":"MISS"},{"name":"X-Cache-Hits","value":"0"}],"signals":[{"id":"HTTP4XX","location":"","value":"401","detector":"HTTPErrorRule"}],"ja3":"","ja4":"","summation":{"attrs":{"AgentServiceVersion":"57","AllPreSignalsInformational":"false","PostBodyContentType":"","RuleID":"ExcludeCVEs","country":"US"},"attacks":[]}},{"id":"b81e4265a9b34978989b000000000001","timestamp":"2025-06-05T16:16:39Z","server_hostname":"fastlydevtoolstesting.com","server_name":"fastlydevtoolstesting.com","uri":"/","path":"/","user_agent":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36","remote_ip":"207.96.113.93","remote_hostname":"","country":"US","method":"GET","protocol":"HTTP/1.1","tls_protocol":"","tls_cipher":"","scheme":"http","response_code":401,"response_size":4696,"[...]
