---
version: 1
interactions:
- request:
    body: StoreID=EjLna5o9Y4L0IZ81ijMsa2&item_key=TestClient_UpdateConfigStoreItem&item_value=OLD+VALUE
    form:
      StoreID:
      - EjLna5o9Y4L0IZ81ijMsa2
      item_key:
      - TestClient_UpdateConfigStoreItem
      item_value:
      - OLD VALUE
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/resources/stores/config/EjLna5o9Y4L0IZ81ijMsa2/item
    method: POST
  response:
    body: '{"item_key":"TestClient_UpdateConfigStoreItem","item_value":"OLD VALUE","created_at":"2023-03-02T16:24:02Z","updated_at":"2023-03-02T16:24:02Z","deleted_at":null,"store_id":"EjLna5o9Y4L0IZ81ijMsa2"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: Key=TestClient_UpdateConfigStoreItem&StoreID=EjLna5o9Y4L0IZ81ijMsa2&Upsert=false&item_value=I%27m+a+new+value
    form:
      Key:
      - TestClient_UpdateConfigStoreItem
      StoreID:
      - EjLna5o9Y4L0IZ81ijMsa2
      Upsert:
      - "false"
      item_value:
      - I'm a new value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/resources/stores/config/EjLna5o9Y4L0IZ81ijMsa2/item/TestClient_UpdateConfigStoreItem
    method: PATCH
  response:
    body: '{"item_key":"TestClient_UpdateConfigStoreItem","item_value":"I''m a new
      value","created_at":"2023-03-02T16:24:02Z","updated_at":"2023-03-02T16:24:02Z","deleted_at":null,"store_id":"EjLna5o9Y4L0IZ81ijMsa2"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
[...]
