---
version: 1
interactions:
- request:
    body: Key=TestClient_UpdateConfigStoreItem-upsert&StoreID=EjLna5o9Y4L0IZ81ijMsa2&Upsert=true&item_value=i+was+upserted
    form:
      Key:
      - TestClient_UpdateConfigStoreItem-upsert
      StoreID:
      - EjLna5o9Y4L0IZ81ijMsa2
      Upsert:
      - "true"
      item_value:
      - i was upserted
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/resources/stores/config/EjLna5o9Y4L0IZ81ijMsa2/item/TestClient_UpdateConfigStoreItem-upsert
    method: PUT
  response:
    body: '{"item_key":"TestClient_UpdateConfigStoreItem-upsert","item_value":"i was
      upserted","created_at":"2023-03-02T16:24:08Z","updated_at":"2023-03-02T16:24:08Z","deleted_at":null,"store_id":"EjLna5o9Y4L0IZ81ijMsa2"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
