---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=19&address=example.com&format=format&gzip_level=9&name=test-ftp&password=password&path=%2Fdir&period=12&placement=waf_debug&port=1234&timestamp_format=%25Y&user=username
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "19"
      address:
      - example.com
      format:
      - format
      gzip_level:
      - "9"
      name:
      - test-ftp
      password:
      - password
      path:
      - /dir
      period:
      - "12"
      placement:
      - waf_debug
      port:
      - "1234"
      timestamp_format:
      - '%Y'
      user:
      - username
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/19/logging/ftp
    method: POST
  response:
    body: '{"address":"example.com","format":"format","gzip_level":9,"name":"test-ftp","password":"password","path":"/dir","period":12,"placement":"waf_debug","port":"1234","timestamp_format":"%Y","user":"username","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"19","message_type":"classic","deleted_at":null,"updated_at":"2019-05-08T23:35:12Z","response_condition":"","format_version":"2","created_at":"2019-05-08T23:35:12Z","public_key":null,"hostname":"example.com","ipv4":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "992"
      Fastly-Ratelimit-Reset:
      - "1557360000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
