---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=66&address=example.com&format=format&format_version=2&gzip_level=9&name=test-ftp&password=password&path=%2Fdir&period=12&placement=waf_debug&port=1234&timestamp_format=%25Y&user=username
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "66"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      gzip_level:
      - "9"
      name:
      - test-ftp
      password:
      - password
      path:
      - /dir
      period:
      - "12"
      placement:
      - waf_debug
      port:
      - "1234"
      timestamp_format:
      - '%Y'
      user:
      - username
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/66/logging/ftp
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","gzip_level":9,"name":"test-ftp","password":"password","path":"/dir","period":12,"placement":"waf_debug","port":"1234","timestamp_format":"%Y","user":"username","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"66","updated_at":"2019-06-06T22:11:24Z","deleted_at":null,"ipv4":null,"message_type":"classic","public_key":null,"created_at":"2019-06-06T22:11:24Z","hostname":"example.com","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "992"
      Fastly-Ratelimit-Reset:
      - "1559862000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
