---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/19/logging/ftp/test-ftp
    method: GET
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","password":"password","path":"/dir","placement":"waf_debug","created_at":"2019-05-08T23:35:12Z","period":"12","version":"19","ipv4":null,"address":"example.com","updated_at":"2019-05-08T23:35:12Z","name":"test-ftp","port":"1234","timestamp_format":"%Y","format_version":"2","response_condition":"","hostname":"example.com","message_type":"classic","deleted_at":null,"public_key":null,"user":"username","gzip_level":"9","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
