---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/66/logging/ftp/test-ftp
    method: GET
  response:
    body: '{"created_at":"2019-06-06T22:11:24Z","deleted_at":null,"user":"username","public_key":null,"version":"66","ipv4":null,"period":"12","hostname":"example.com","path":"/dir","port":"1234","password":"password","response_condition":"","placement":"waf_debug","message_type":"classic","timestamp_format":"%Y","address":"example.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","gzip_level":"9","format":"format","name":"test-ftp","updated_at":"2019-06-06T22:11:24Z","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
