---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/66/logging/ftp
    method: GET
  response:
    body: '[{"path":"/dir","hostname":"example.com","user":"username","version":"66","public_key":null,"period":"12","ipv4":null,"deleted_at":null,"created_at":"2019-06-06T22:11:24Z","response_condition":"","port":"1234","password":"password","address":"example.com","timestamp_format":"%Y","message_type":"classic","placement":"waf_debug","updated_at":"2019-06-06T22:11:24Z","format_version":"2","gzip_level":"9","format":"format","name":"test-ftp","service_id":"7i6HN3TK9wS159v2gPAZ8A"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
