---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/19/logging/ftp
    method: GET
  response:
    body: '[{"message_type":"classic","password":"password","gzip_level":"9","placement":"waf_debug","period":"12","response_condition":"","updated_at":"2019-05-08T23:35:12Z","deleted_at":null,"format_version":"2","public_key":null,"created_at":"2019-05-08T23:35:12Z","timestamp_format":"%Y","name":"test-ftp","port":"1234","path":"/dir","hostname":"example.com","ipv4":null,"format":"format","user":"username","address":"example.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"19"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
