---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-ftp&Service=7i6HN3TK9wS159v2gPAZ8A&Version=19&name=new-test-ftp
    form:
      Name:
      - test-ftp
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "19"
      name:
      - new-test-ftp
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/19/logging/ftp/test-ftp
    method: PUT
  response:
    body: '{"path":"/dir","password":"password","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"19","period":"12","created_at":"2019-05-08T23:35:12Z","placement":"waf_debug","ipv4":null,"updated_at":"2019-05-08T23:35:12Z","address":"example.com","port":"1234","name":"new-test-ftp","hostname":"example.com","response_condition":"","format_version":"2","timestamp_format":"%Y","deleted_at":null,"message_type":"classic","format":"format","user":"username","gzip_level":"9","public_key":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "991"
      Fastly-Ratelimit-Reset:
      - "1557360000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
