---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-ftp&Service=7i6HN3TK9wS159v2gPAZ8A&Version=66&name=new-test-ftp
    form:
      Name:
      - test-ftp
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "66"
      name:
      - new-test-ftp
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/66/logging/ftp/test-ftp
    method: PUT
  response:
    body: '{"gzip_level":"9","hostname":"example.com","address":"example.com","created_at":"2019-06-06T22:11:24Z","version":"66","public_key":null,"user":"username","ipv4":null,"period":"12","message_type":"classic","service_id":"7i6HN3TK9wS159v2gPAZ8A","response_condition":"","format_version":"2","name":"new-test-ftp","deleted_at":null,"format":"format","updated_at":"2019-06-06T22:11:24Z","timestamp_format":"%Y","password":"password","port":"1234","path":"/dir","placement":"waf_debug"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "991"
      Fastly-Ratelimit-Reset:
      - "1559862000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
