---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domains/v1/tools/status?domain=sparkgate.com&scope=estimate
    method: GET
  response:
    body: |
      {"scope":"estimate","domain":"sparkgate.com","zone":"com","status":"marketed priced active parked","tags":"generic","offers":[{"vendor":"sedo.com","price":"3495.00","currency":"USD"}]}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
