---
version: 1
interactions:
- request:
    body: comment=comment&name=integ-test2.go-fastly-2.com
    form:
      comment:
      - comment
      name:
      - integ-test2.go-fastly-2.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/44/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test2.go-fastly-2.com","service_id":"XsjdElScZGjmfCcTwsYRC1","version":44,"deleted_at":null,"created_at":"2025-09-02T20:49:29Z","updated_at":"2025-09-02T20:49:29Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9992"
      Fastly-Ratelimit-Reset:
      - "1756846800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
