---
version: 1
interactions:
- request:
    body: comment=comment&name=integ-test4.go-fastly-4.com
    form:
      comment:
      - comment
      name:
      - integ-test4.go-fastly-4.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/56/domain
    method: POST
  response:
    body: '{"comment":"comment","name":"integ-test4.go-fastly-4.com","service_id":"XsjdElScZGjmfCcTwsYRC1","version":56,"deleted_at":null,"updated_at":"2025-09-08T17:20:25Z","created_at":"2025-09-08T17:20:25Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9962"
      Fastly-Ratelimit-Reset:
      - "1757354400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
