---
version: 1
interactions:
- request:
    body: address=integ-test.go-fastly.com&connect_timeout=1500&max_lifetime=60000&max_use=100&name=test-backend-compute&override_host=origin.example.com&ssl_check_cert=0&ssl_ciphers=DHE-RSA-AES256-SHA%3ADHE-RSA-CAMELLIA256-SHA%3AAES256-GCM-SHA384&ssl_sni_hostname=ssl-hostname.com
    form:
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      max_lifetime:
      - "60000"
      max_use:
      - "100"
      name:
      - test-backend-compute
      override_host:
      - origin.example.com
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384
      ssl_sni_hostname:
      - ssl-hostname.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/62/backend
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","connect_timeout":1500,"max_lifetime":60000,"max_use":100,"name":"test-backend-compute","override_host":"origin.example.com","ssl_check_cert":false,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ssl_sni_hostname":"ssl-hostname.com","service_id":"XsjdElScZGjmfCcTwsYRC1","version":62,"ssl_client_cert":null,"ipv4":null,"weight":100,"ssl_ca_cert":null,"tcp_keepalive_enable":null,"deleted_at":null,"updated_at":"2026-05-06T18:11:08Z","share_key":null,"tcp_keepalive_probes":null,"shield":null,"use_ssl":false,"ssl_cert_hostname":null,"between_bytes_timeout":10000,"prefer_ipv6":true,"ipv6":null,"created_at":"2026-05-06T18:11:08Z","port":80,"ssl_client_key":null,"auto_loadbalance":false,"min_tls_version":null,"max_conn":200,"client_cert":null,"request_condition":"","healthcheck":null,"hostname":"integ-test.go-fastly.com","ssl_hostname":null,"comment":"","first_byte_timeout":15000,"keepalive_time":null,"tcp_keepalive_interval":null,"error_threshold":0,"tcp_keepalive_time":null,"max_tls_version":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9996"
      Fastly-Ratelimit-Reset:
      - "1778094000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
