---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/62/backend/test-backend-compute
    method: GET
  response:
    body: '{"min_tls_version":null,"comment":"","address":"integ-test.go-fastly.com","client_cert":null,"first_byte_timeout":15000,"prefer_ipv6":true,"ssl_cert_hostname":null,"hostname":"integ-test.go-fastly.com","shield":null,"ssl_client_cert":null,"use_ssl":false,"share_key":null,"created_at":"2026-05-06T18:11:08Z","name":"test-backend-compute","ssl_hostname":null,"max_lifetime":60000,"ssl_check_cert":false,"ssl_client_key":null,"port":80,"healthcheck":null,"between_bytes_timeout":10000,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","tcp_keepalive_interval":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","version":62,"tcp_keepalive_enable":null,"ipv4":null,"ssl_sni_hostname":"ssl-hostname.com","tcp_keepalive_time":null,"deleted_at":null,"override_host":"origin.example.com","max_use":100,"connect_timeout":1500,"request_condition":"","ipv6":null,"tcp_keepalive_probes":null,"ssl_ca_cert":null,"max_conn":200,"error_threshold":0,"weight":100,"updated_at":"2026-05-06T18:11:08Z","auto_loadbalance":false,"keepalive_time":null,"max_tls_version":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
