---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/65/backend/test-backend-compute
    method: GET
  response:
    body: '{"port":80,"healthcheck":null,"tcp_keepalive_time":null,"weight":100,"ssl_check_cert":false,"override_host":"origin.example.com","error_threshold":0,"name":"test-backend-compute","ssl_cert_hostname":null,"ssl_client_cert":null,"keepalive_time":null,"tcp_keepalive_interval":null,"share_key":null,"max_use":100,"comment":"","ssl_sni_hostname":"ssl-hostname.com","ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","deleted_at":null,"between_bytes_timeout":10000,"version":65,"tcp_keepalive_enable":null,"shield":null,"first_byte_timeout":15000,"hostname":"integ-test.go-fastly.com","request_condition":"","ssl_hostname":null,"address":"integ-test.go-fastly.com","connect_timeout":1500,"ssl_client_key":null,"tcp_keepalive_probes":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","ssl_ca_cert":null,"auto_loadbalance":false,"prefer_ipv6":true,"use_ssl":false,"max_conn":200,"ipv4":null,"created_at":"2026-05-08T15:01:07Z","client_cert":null,"min_tls_version":null,"max_lifetime":60000,"max_tls_version":null,"updated_at":"2026-05-08T15:01:07Z","ipv6":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
