---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/62/backend
    method: GET
  response:
    body: '[{"ssl_cert_hostname":null,"tcp_keepalive_interval":null,"hostname":"integ-test.go-fastly.com","ipv4":null,"share_key":null,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","weight":100,"client_cert":null,"max_conn":200,"keepalive_time":null,"ssl_ca_cert":null,"max_lifetime":60000,"tcp_keepalive_probes":null,"address":"integ-test.go-fastly.com","min_tls_version":null,"between_bytes_timeout":10000,"ssl_client_key":null,"healthcheck":null,"max_tls_version":null,"tcp_keepalive_time":null,"ssl_hostname":null,"first_byte_timeout":15000,"ssl_client_cert":null,"use_ssl":false,"comment":"","error_threshold":0,"deleted_at":null,"auto_loadbalance":false,"name":"test-backend-compute","override_host":"origin.example.com","connect_timeout":1500,"tcp_keepalive_enable":null,"updated_at":"2026-05-06T18:11:08Z","ipv6":null,"created_at":"2026-05-06T18:11:08Z","service_id":"XsjdElScZGjmfCcTwsYRC1","ssl_check_cert":false,"shield":null,"max_use":100,"port":80,"ssl_sni_hostname":"ssl-hostname.com","version":62,"request_condition":"","prefer_ipv6":true}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
