---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/65/backend
    method: GET
  response:
    body: '[{"address":"integ-test.go-fastly.com","keepalive_time":null,"prefer_ipv6":true,"ssl_cert_hostname":null,"hostname":"integ-test.go-fastly.com","weight":100,"max_lifetime":60000,"tcp_keepalive_interval":null,"first_byte_timeout":15000,"ipv4":null,"ssl_client_cert":null,"min_tls_version":null,"client_cert":null,"ssl_client_key":null,"request_condition":"","comment":"","override_host":"origin.example.com","deleted_at":null,"between_bytes_timeout":10000,"ssl_ca_cert":null,"max_use":100,"ssl_check_cert":false,"port":80,"max_tls_version":null,"tcp_keepalive_time":null,"share_key":null,"error_threshold":0,"updated_at":"2026-05-08T15:01:07Z","created_at":"2026-05-08T15:01:07Z","name":"test-backend-compute","healthcheck":null,"version":65,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","tcp_keepalive_probes":null,"connect_timeout":1500,"max_conn":200,"ssl_sni_hostname":"ssl-hostname.com","tcp_keepalive_enable":null,"use_ssl":false,"ssl_hostname":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","shield":null,"auto_loadbalance":false,"ipv6":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
