---
version: 1
interactions:
- request:
    body: address=integ-test.go-fastly.com&connect_timeout=1500&max_lifetime=&max_use=&override_host=origin.example.com&ssl_check_cert=0&ssl_ciphers=DHE-RSA-AES256-SHA%3ADHE-RSA-CAMELLIA256-SHA%3AAES256-GCM-SHA384&ssl_sni_hostname=ssl-hostname.com
    form:
      address:
      - integ-test.go-fastly.com
      connect_timeout:
      - "1500"
      max_lifetime:
      - ""
      max_use:
      - ""
      override_host:
      - origin.example.com
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384
      ssl_sni_hostname:
      - ssl-hostname.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/65/backend/new-test-backend-compute
    method: PUT
  response:
    body: '{"client_cert":null,"ssl_ca_cert":null,"ssl_client_cert":null,"ssl_check_cert":false,"created_at":"2026-05-08T15:01:07Z","share_key":"sharedkey","tcp_keepalive_probes":null,"ipv6":null,"use_ssl":false,"updated_at":"2026-05-08T15:01:11Z","ipv4":null,"max_lifetime":null,"hostname":"integ-test.go-fastly.com","comment":"","deleted_at":null,"min_tls_version":null,"between_bytes_timeout":10000,"version":65,"tcp_keepalive_interval":null,"connect_timeout":1500,"first_byte_timeout":15000,"prefer_ipv6":true,"healthcheck":null,"max_tls_version":null,"request_condition":"","name":"new-test-backend-compute","auto_loadbalance":false,"address":"integ-test.go-fastly.com","error_threshold":0,"weight":100,"tcp_keepalive_enable":null,"keepalive_time":null,"ssl_client_key":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","ssl_hostname":null,"shield":null,"port":0,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","override_host":"origin.example.com","max_conn":200,"ssl_sni_hostname":"ssl-hostname.com","max_use":null,"ssl_cert_hostname":null,"tcp_keepalive_time":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9987"
      Fastly-Ratelimit-Reset:
      - "1778256000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
