---
version: 1
interactions:
- request:
    body: max_lifetime=120000&max_use=200&name=new-test-backend-compute&override_host=www.example.com&port=1234&prefer_ipv6=1&share_key=sharedkey&ssl_check_cert=0&ssl_ciphers=HIGH&ssl_sni_hostname=ssl-hostname-updated.com
    form:
      max_lifetime:
      - "120000"
      max_use:
      - "200"
      name:
      - new-test-backend-compute
      override_host:
      - www.example.com
      port:
      - "1234"
      prefer_ipv6:
      - "1"
      share_key:
      - sharedkey
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - HIGH
      ssl_sni_hostname:
      - ssl-hostname-updated.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/65/backend/test-backend-compute
    method: PUT
  response:
    body: '{"ssl_client_cert":null,"comment":"","request_condition":"","prefer_ipv6":true,"connect_timeout":1500,"created_at":"2026-05-08T15:01:07Z","hostname":"integ-test.go-fastly.com","ssl_client_key":null,"max_conn":200,"max_tls_version":null,"tcp_keepalive_interval":null,"healthcheck":null,"max_use":200,"version":65,"keepalive_time":null,"share_key":"sharedkey","min_tls_version":null,"weight":100,"ssl_cert_hostname":null,"tcp_keepalive_enable":null,"auto_loadbalance":false,"ssl_ciphers":"HIGH","between_bytes_timeout":10000,"override_host":"www.example.com","port":1234,"address":"integ-test.go-fastly.com","tcp_keepalive_probes":null,"error_threshold":0,"name":"new-test-backend-compute","service_id":"XsjdElScZGjmfCcTwsYRC1","deleted_at":null,"max_lifetime":120000,"first_byte_timeout":15000,"ssl_ca_cert":null,"tcp_keepalive_time":null,"ssl_check_cert":false,"use_ssl":false,"updated_at":"2026-05-08T15:01:07Z","ssl_hostname":null,"client_cert":null,"shield":null,"ipv4":null,"ipv6":null,"ssl_sni_hostname":"ssl-hostname-updated.com"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9993"
      Fastly-Ratelimit-Reset:
      - "1778256000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
