---
version: 1
interactions:
- request:
    body: override_host=&port=0
    form:
      override_host:
      - ""
      port:
      - "0"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/62/backend/new-test-backend-compute
    method: PUT
  response:
    body: '{"first_byte_timeout":15000,"comment":"","max_use":200,"tcp_keepalive_time":null,"ssl_hostname":null,"share_key":"sharedkey","ipv6":null,"client_cert":null,"version":62,"shield":null,"ssl_cert_hostname":null,"between_bytes_timeout":10000,"tcp_keepalive_probes":null,"updated_at":"2026-05-06T18:11:09Z","error_threshold":0,"min_tls_version":null,"use_ssl":false,"connect_timeout":1500,"ssl_ca_cert":null,"deleted_at":null,"healthcheck":null,"ssl_sni_hostname":"ssl-hostname-updated.com","request_condition":"","tcp_keepalive_enable":null,"prefer_ipv6":true,"ssl_client_key":null,"override_host":null,"max_tls_version":null,"tcp_keepalive_interval":null,"ssl_ciphers":"HIGH","name":"new-test-backend-compute","service_id":"XsjdElScZGjmfCcTwsYRC1","address":"integ-test.go-fastly.com","hostname":"integ-test.go-fastly.com","ssl_client_cert":null,"port":0,"max_lifetime":120000,"keepalive_time":null,"ssl_check_cert":false,"auto_loadbalance":false,"max_conn":200,"weight":100,"created_at":"2026-05-06T18:11:08Z","ipv4":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9990"
      Fastly-Ratelimit-Reset:
      - "1778094000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
