---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/62/backend/new-test-backend-compute
    method: PUT
  response:
    body: '{"tcp_keepalive_probes":null,"ipv6":null,"request_condition":"","weight":100,"ssl_ca_cert":null,"error_threshold":0,"max_conn":200,"keepalive_time":null,"updated_at":"2026-05-06T18:11:09Z","auto_loadbalance":false,"max_tls_version":null,"override_host":"www.example.com","max_use":200,"connect_timeout":1500,"ssl_ciphers":"HIGH","between_bytes_timeout":10000,"version":62,"service_id":"XsjdElScZGjmfCcTwsYRC1","tcp_keepalive_interval":null,"ssl_sni_hostname":"ssl-hostname-updated.com","ipv4":null,"tcp_keepalive_enable":null,"deleted_at":null,"tcp_keepalive_time":null,"max_lifetime":120000,"ssl_hostname":null,"ssl_client_key":null,"ssl_check_cert":false,"port":1234,"healthcheck":null,"ssl_client_cert":null,"shield":null,"name":"new-test-backend-compute","share_key":"sharedkey","use_ssl":false,"created_at":"2026-05-06T18:11:08Z","prefer_ipv6":true,"hostname":"integ-test.go-fastly.com","ssl_cert_hostname":null,"first_byte_timeout":15000,"comment":"","min_tls_version":null,"address":"integ-test.go-fastly.com","client_cert":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9992"
      Fastly-Ratelimit-Reset:
      - "1778094000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
