---
version: 1
interactions:
- request:
    body: override_host=&port=0
    form:
      override_host:
      - ""
      port:
      - "0"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/65/backend/new-test-backend-compute
    method: PUT
  response:
    body: '{"ssl_cert_hostname":null,"keepalive_time":null,"override_host":null,"first_byte_timeout":15000,"service_id":"XsjdElScZGjmfCcTwsYRC1","use_ssl":false,"weight":100,"error_threshold":0,"request_condition":"","auto_loadbalance":false,"tcp_keepalive_probes":null,"connect_timeout":1500,"max_use":200,"max_lifetime":120000,"ssl_sni_hostname":"ssl-hostname-updated.com","min_tls_version":null,"ssl_ca_cert":null,"ssl_check_cert":false,"ipv6":null,"hostname":"integ-test.go-fastly.com","prefer_ipv6":true,"name":"new-test-backend-compute","tcp_keepalive_time":null,"shield":null,"ssl_hostname":null,"deleted_at":null,"share_key":"sharedkey","ssl_client_cert":null,"ipv4":null,"updated_at":"2026-05-08T15:01:09Z","ssl_ciphers":"HIGH","version":65,"ssl_client_key":null,"healthcheck":null,"port":0,"tcp_keepalive_interval":null,"address":"integ-test.go-fastly.com","comment":"","client_cert":null,"between_bytes_timeout":10000,"tcp_keepalive_enable":null,"max_tls_version":null,"created_at":"2026-05-08T15:01:07Z","max_conn":200}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9989"
      Fastly-Ratelimit-Reset:
      - "1778256000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
