---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/65/backend/new-test-backend-compute
    method: PUT
  response:
    body: '{"tcp_keepalive_probes":null,"ipv6":null,"request_condition":"","ssl_client_cert":null,"prefer_ipv6":true,"ipv4":null,"ssl_hostname":null,"ssl_ca_cert":null,"first_byte_timeout":15000,"min_tls_version":null,"ssl_check_cert":false,"max_use":200,"updated_at":"2026-05-08T15:01:09Z","client_cert":null,"created_at":"2026-05-08T15:01:07Z","tcp_keepalive_interval":null,"override_host":"www.example.com","version":65,"ssl_client_key":null,"ssl_ciphers":"HIGH","error_threshold":0,"tcp_keepalive_time":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","max_conn":200,"max_lifetime":120000,"connect_timeout":1500,"deleted_at":null,"auto_loadbalance":false,"comment":"","keepalive_time":null,"hostname":"integ-test.go-fastly.com","share_key":"sharedkey","healthcheck":null,"tcp_keepalive_enable":null,"name":"new-test-backend-compute","between_bytes_timeout":10000,"max_tls_version":null,"shield":null,"address":"integ-test.go-fastly.com","weight":100,"port":1234,"ssl_cert_hostname":null,"ssl_sni_hostname":"ssl-hostname-updated.com","use_ssl":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9991"
      Fastly-Ratelimit-Reset:
      - "1778256000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
