---
version: 1
interactions:
- request:
    body: max_lifetime=120000&max_use=200&name=new-test-backend-compute&override_host=www.example.com&port=1234&prefer_ipv6=1&share_key=sharedkey&ssl_check_cert=0&ssl_ciphers=HIGH&ssl_sni_hostname=ssl-hostname-updated.com
    form:
      max_lifetime:
      - "120000"
      max_use:
      - "200"
      name:
      - new-test-backend-compute
      override_host:
      - www.example.com
      port:
      - "1234"
      prefer_ipv6:
      - "1"
      share_key:
      - sharedkey
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - HIGH
      ssl_sni_hostname:
      - ssl-hostname-updated.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/62/backend/test-backend-compute
    method: PUT
  response:
    body: '{"tcp_keepalive_enable":null,"tcp_keepalive_probes":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","comment":"","deleted_at":null,"ssl_client_cert":null,"tcp_keepalive_time":null,"port":1234,"ipv6":null,"created_at":"2026-05-06T18:11:08Z","first_byte_timeout":15000,"max_conn":200,"ssl_check_cert":false,"ssl_client_key":null,"request_condition":"","ssl_sni_hostname":"ssl-hostname-updated.com","prefer_ipv6":true,"version":62,"hostname":"integ-test.go-fastly.com","name":"new-test-backend-compute","min_tls_version":null,"override_host":"www.example.com","max_use":200,"auto_loadbalance":false,"ssl_ciphers":"HIGH","max_lifetime":120000,"client_cert":null,"share_key":"sharedkey","ssl_cert_hostname":null,"connect_timeout":1500,"address":"integ-test.go-fastly.com","use_ssl":false,"tcp_keepalive_interval":null,"keepalive_time":null,"weight":100,"between_bytes_timeout":10000,"ipv4":null,"updated_at":"2026-05-06T18:11:08Z","ssl_ca_cert":null,"ssl_hostname":null,"shield":null,"healthcheck":null,"error_threshold":0,"max_tls_version":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9994"
      Fastly-Ratelimit-Reset:
      - "1778094000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
