---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/oIb247xKeTGgwPoVPA2PJ3/alerts/686fd44f20b5651f04cf6553
    method: GET
  response:
    body: |
      {"id":"686fd44f20b5651f04cf6553","description":"This is a test alert.","type":"datadog","config":{"key":"a1b2c3d4e5f6789012345678901234567","site":"us1"},"events":["flag"],"created_at":"2025-07-10T14:55:11Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
