---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/oIb247xKeTGgwPoVPA2PJ3/alerts
    method: GET
  response:
    body: |
      {"data":[{"id":"686d5a187804f6e87716eb37","description":"string","type":"slack","config":{"webhook":"https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXX2"},"events":["flag"],"created_at":"2025-07-08T17:49:12Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0},{"id":"686d5afa451cccac08f40c6d","description":"string","type":"webhook","config":{"webhook":"https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXX33"},"events":["flag"],"created_at":"2025-07-08T17:52:58Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0},{"id":"686d609be5323b059005fb5a","description":"string","type":"slack","config":{"webhook":"https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXX34"},"events":["flag"],"created_at":"2025-07-08T18:16:59Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0},{"id":"686fdccf941f26e44adda5ff","description":"This is a test alert.","type":"datadog","config":{"key":"a1b2c3d4e5f6789012345678901234599","site":"us3"},"events":["flag"],"created_at":"2025-07-10T15:31:27Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}],"meta":{"limit":100,"total":4}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
