---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"waf_exclusion","attributes":{"condition":"req.url.basename == \"index.html\"","exclusion_type":"rule","name":"index page","number":null},"relationships":{"waf_rules":{"data":[{"type":"waf_rule","id":"2029718"},{"type":"waf_rule","id":"1010070"}]}}},"included":[{"type":"waf_rule","id":"1010070","attributes":{"modsec_rule_id":1010070}},{"type":"waf_rule","id":"2029718","attributes":{"modsec_rule_id":2029718}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/waf/firewalls/6YqagDC62Z4bIFpsNBzxVm/versions/1/exclusions/1
    method: PATCH
  response:
    body: '{"data":{"id":"4eV7U9toc5h0Yqi9Vm1hcN","type":"waf_exclusion","attributes":{"created_at":"2020-10-07T13:09:09Z","exclusion_type":"rule","condition":"req.url.basename
      == \"index.html\"","name":"index page","number":1,"updated_at":"2020-10-07T13:09:09Z"},"relationships":{"waf_rules":{"data":[{"id":"1YveWU8qwEYidE8WAiZqCN","type":"waf_rule"},{"id":"62NGF4KWy1v17yyV1vmPdb","type":"waf_rule"}]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
