---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version
    method: GET
  response:
    body: '[{"testing":null,"locked":true,"number":1,"active":true,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":null,"created_at":"2015-12-22T21:57:27+00:00","deleted_at":null,"comment":"","updated_at":"2015-12-22T21:57:30+00:00","deployed":null,"inherit_service_id":null},{"testing":null,"locked":false,"number":2,"active":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":null,"created_at":"2015-12-22T21:58:01+00:00","deleted_at":null,"comment":"","updated_at":"2015-12-22T21:58:01+00:00","deployed":null,"inherit_service_id":null},{"testing":null,"locked":false,"number":3,"active":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":null,"created_at":"2015-12-22T22:00:27+00:00","deleted_at":null,"comment":"","updated_at":"2015-12-22T22:00:27+00:00","deploy[...]
