---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version
    method: GET
  response:
    body: '[{"testing":false,"locked":true,"number":1,"active":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":false,"created_at":"2015-12-22T21:57:27+00:00","deleted_at":null,"comment":"","updated_at":"2016-05-06T19:28:17+00:00","deployed":false},{"testing":false,"locked":false,"number":2,"active":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":false,"created_at":"2015-12-22T21:58:01+00:00","deleted_at":null,"comment":"","updated_at":"2015-12-22T21:58:01+00:00","deployed":false},{"testing":false,"locked":false,"number":3,"active":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":false,"created_at":"2015-12-22T22:00:27+00:00","deleted_at":null,"comment":"","updated_at":"2015-12-22T22:00:27+00:00","deployed":false},{"testi[...]
