---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/574/lock
    method: PUT
  response:
    body: '{"testing":null,"locked":true,"number":574,"active":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":null,"created_at":"2016-04-03T16:46:23+00:00","deleted_at":null,"comment":"new
      comment","updated_at":"2016-04-03T16:46:23+00:00","deployed":null,"inherit_service_id":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "885"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
