---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=646&comment=new+comment
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "646"
      comment:
      - new comment
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/646
    method: PUT
  response:
    body: '{"testing":false,"locked":false,"number":646,"active":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":false,"created_at":"2017-04-17T16:00:54+00:00","deleted_at":null,"comment":"new
      comment","updated_at":"2017-04-17T16:00:54+00:00","deployed":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "975"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
