---
version: 1
interactions:
- request:
    body: format=format&name=test-newrelic&placement=none&region=us&token=abcd1234
    form:
      format:
      - format
      name:
      - test-newrelic
      placement:
      - none
      region:
      - us
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/30/logging/newrelic
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelic","placement":"none","region":"us","token":"abcd1234","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"30","log_processing_region":"none","format_version":"2","updated_at":"2025-09-02T17:23:24Z","created_at":"2025-09-02T17:23:24Z","response_condition":"","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9901"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
