---
version: 1
interactions:
- request:
    body: format=format&name=test-newrelic-2&placement=none&region=eu&token=abcd1234
    form:
      format:
      - format
      name:
      - test-newrelic-2
      placement:
      - none
      region:
      - eu
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/30/logging/newrelic
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelic-2","placement":"none","region":"eu","token":"abcd1234","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"30","log_processing_region":"none","deleted_at":null,"response_condition":"","created_at":"2025-09-02T17:23:24Z","updated_at":"2025-09-02T17:23:24Z","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9900"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
