---
version: 1
interactions:
- request:
    body: format=format&name=test-newrelic-2&placement=none&region=eu&token=abcd1234
    form:
      format:
      - format
      name:
      - test-newrelic-2
      placement:
      - none
      region:
      - eu
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/102/logging/newrelic
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelic-2","placement":"none","region":"eu","token":"abcd1234","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"102","response_condition":"","updated_at":"2026-07-23T19:38:41Z","format_version":"2","deleted_at":null,"log_processing_region":"none","created_at":"2026-07-23T19:38:41Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9496"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
