---
version: 1
interactions:
- request:
    body: format=format&name=test-newrelic&placement=none&region=us&token=abcd1234
    form:
      format:
      - format
      name:
      - test-newrelic
      placement:
      - none
      region:
      - us
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/102/logging/newrelic
    method: POST
  response:
    body: '{"format":"format","name":"test-newrelic","placement":"none","region":"us","token":"abcd1234","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"102","created_at":"2026-07-23T19:38:39Z","log_processing_region":"none","updated_at":"2026-07-23T19:38:39Z","deleted_at":null,"format_version":"2","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9501"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
