---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/30/logging/newrelic/test-newrelic
    method: GET
  response:
    body: '{"deleted_at":null,"version":"30","format_version":"2","updated_at":"2025-09-02T17:23:24Z","placement":"none","created_at":"2025-09-02T17:23:24Z","format":"format","response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","region":"us","log_processing_region":"none","token":"abcd1234","name":"test-newrelic"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
