---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/102/logging/newrelic/test-newrelic
    method: GET
  response:
    body: '{"version":"102","region":"us","deleted_at":null,"placement":"none","created_at":"2026-07-23T19:38:39Z","token":"abcd1234","format_version":"2","format":"format","name":"test-newrelic","updated_at":"2026-07-23T19:38:39Z","service_id":"XsjdElScZGjmfCcTwsYRC1","log_processing_region":"none","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
