---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/102/logging/newrelic/test-newrelic-2
    method: GET
  response:
    body: '{"format":"format","placement":"none","response_condition":"","updated_at":"2026-07-23T19:38:41Z","name":"test-newrelic-2","version":"102","deleted_at":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","token":"abcd1234","region":"eu","log_processing_region":"none","format_version":"2","created_at":"2026-07-23T19:38:41Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
