---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/30/logging/newrelic/test-newrelic-2
    method: GET
  response:
    body: '{"format":"format","created_at":"2025-09-02T17:23:24Z","token":"abcd1234","updated_at":"2025-09-02T17:23:24Z","format_version":"2","service_id":"XsjdElScZGjmfCcTwsYRC1","placement":"none","name":"test-newrelic-2","version":"30","deleted_at":null,"log_processing_region":"none","region":"eu","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
