---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/30/logging/newrelic
    method: GET
  response:
    body: '[{"name":"test-newrelic","region":"us","format_version":"2","service_id":"XsjdElScZGjmfCcTwsYRC1","token":"abcd1234","placement":"none","deleted_at":null,"log_processing_region":"none","format":"format","created_at":"2025-09-02T17:23:24Z","updated_at":"2025-09-02T17:23:24Z","response_condition":"","version":"30"},{"name":"test-newrelic-2","region":"eu","token":"abcd1234","placement":"none","service_id":"XsjdElScZGjmfCcTwsYRC1","format_version":"2","deleted_at":null,"log_processing_region":"none","format":"format","created_at":"2025-09-02T17:23:24Z","response_condition":"","updated_at":"2025-09-02T17:23:24Z","version":"30"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
