---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/102/logging/newrelic
    method: GET
  response:
    body: '[{"region":"us","format":"format","format_version":"2","version":"102","updated_at":"2026-07-23T19:38:39Z","deleted_at":null,"created_at":"2026-07-23T19:38:39Z","token":"abcd1234","response_condition":"","name":"test-newrelic","placement":"none","service_id":"XsjdElScZGjmfCcTwsYRC1","log_processing_region":"none"},{"format_version":"2","format":"format","region":"eu","version":"102","updated_at":"2026-07-23T19:38:41Z","deleted_at":null,"name":"test-newrelic-2","response_condition":"","token":"abcd1234","created_at":"2026-07-23T19:38:41Z","log_processing_region":"none","service_id":"XsjdElScZGjmfCcTwsYRC1","placement":"none"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
