---
version: 1
interactions:
- request:
    body: format_version=2&log_processing_region=eu&name=new-test-newrelic&region=eu
    form:
      format_version:
      - "2"
      log_processing_region:
      - eu
      name:
      - new-test-newrelic
      region:
      - eu
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/30/logging/newrelic/test-newrelic
    method: PUT
  response:
    body: '{"name":"new-test-newrelic","log_processing_region":"eu","format_version":"2","token":"abcd1234","placement":"none","version":"30","deleted_at":null,"response_condition":"","created_at":"2025-09-02T17:23:24Z","format":"format","updated_at":"2025-09-02T17:23:24Z","service_id":"XsjdElScZGjmfCcTwsYRC1","region":"eu"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9898"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
