---
version: 1
interactions:
- request:
    body: '{"format_version":2,"name":"new-test-newrelic","placement":"none","log_processing_region":"eu","region":"eu"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/102/logging/newrelic/test-newrelic
    method: PUT
  response:
    body: '{"response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","placement":"none","version":"102","name":"new-test-newrelic","format_version":"2","updated_at":"2026-07-23T19:38:39Z","created_at":"2026-07-23T19:38:39Z","log_processing_region":"eu","token":"abcd1234","deleted_at":null,"region":"eu","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9484"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
