---
version: 1
interactions:
- request:
    body: '{"config":{"host":"mycompany.atlassian.net","issue_type":null,"key":"123456789","project":"TEST","username":"testuser"},"description":"This
      is a test alert.","events":["flag"],"type":"jira"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: POST
  response:
    body: ' { "errors" : [{ "title" : "Unknown Error Occurred" , "detail" : "Something
      went wrong - please try again or contact support@fastly.com if it persists"
      }] } '
    headers:
      Content-Type:
      - text/json
      Retry-After:
      - "0"
    status: 503 Service Unavailable
    code: 503
    duration: ""
