---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: GET
  response:
    body: |
      {"data":[{"id":"68700412701d4d294b43818f","description":"This is a test alert.","type":"jira","config":{"host":"https://host.jira.com","issue_type":"bug","key":"b1b2c3d4e5f6789012345678901234567","project":"test_updated","username":"updateduser"},"events":["flag"],"created_at":"2025-07-10T18:18:58Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}],"meta":{"limit":100,"total":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
