---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/31/logging/grafanacloudlogs/test-grafanacloudlogs
    method: GET
  response:
    body: '{"url":"https://test123.grafana.net","deleted_at":null,"updated_at":"2025-09-02T17:24:08Z","index":"{\"env\":
      \"prod\"}","response_condition":"","created_at":"2025-09-02T17:24:08Z","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"31","user":"123456","format":"format","name":"test-grafanacloudlogs","log_processing_region":"none","format_version":"2","placement":"none","token":"abcd1234"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
