---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/116/logging/grafanacloudlogs/test-grafanacloudlogs
    method: GET
  response:
    body: '{"created_at":"2026-07-23T19:39:42Z","user":"123456","log_processing_region":"none","version":"116","name":"test-grafanacloudlogs","service_id":"XsjdElScZGjmfCcTwsYRC1","url":"https://test123.grafana.net","deleted_at":null,"format_version":"2","placement":"none","token":"abcd1234","format":"format","index":"{\"env\":
      \"prod\"}","response_condition":"","updated_at":"2026-07-23T19:39:42Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
