---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/31/logging/grafanacloudlogs
    method: GET
  response:
    body: '[{"version":"31","updated_at":"2025-09-02T17:24:08Z","index":"{\"env\":
      \"prod\"}","response_condition":"","created_at":"2025-09-02T17:24:08Z","format":"format","log_processing_region":"none","deleted_at":null,"user":"123456","service_id":"XsjdElScZGjmfCcTwsYRC1","format_version":"2","placement":"none","token":"abcd1234","url":"https://test123.grafana.net","name":"test-grafanacloudlogs"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
