---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/116/logging/grafanacloudlogs
    method: GET
  response:
    body: '[{"url":"https://test123.grafana.net","response_condition":"","log_processing_region":"none","name":"test-grafanacloudlogs","created_at":"2026-07-23T19:39:42Z","user":"123456","token":"abcd1234","service_id":"XsjdElScZGjmfCcTwsYRC1","placement":"none","format_version":"2","index":"{\"env\":
      \"prod\"}","version":"116","updated_at":"2026-07-23T19:39:42Z","deleted_at":null,"format":"format"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
