---
version: 1
interactions:
- request:
    body: format_version=2&index=%7B%22env%22%3A+%22staging%22%7D&log_processing_region=eu&name=new-test-grafanacloudlogs&placement=none&token=abcd6789&url=https%3A%2F%2Ftest456.grafana.net
    form:
      format_version:
      - "2"
      index:
      - '{"env": "staging"}'
      log_processing_region:
      - eu
      name:
      - new-test-grafanacloudlogs
      placement:
      - none
      token:
      - abcd6789
      url:
      - https://test456.grafana.net
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/31/logging/grafanacloudlogs/test-grafanacloudlogs
    method: PUT
  response:
    body: '{"placement":"none","response_condition":"","version":"31","deleted_at":null,"index":"{\"env\":
      \"staging\"}","user":"123456","log_processing_region":"eu","format":"format","name":"new-test-grafanacloudlogs","created_at":"2025-09-02T17:24:08Z","updated_at":"2025-09-02T17:24:08Z","service_id":"XsjdElScZGjmfCcTwsYRC1","url":"https://test456.grafana.net","token":"abcd6789","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9893"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
