---
version: 1
interactions:
- request:
    body: '{"format_version":2,"name":"new-test-grafanacloudlogs","placement":"none","log_processing_region":"eu","token":"abcd6789","url":"https://test456.grafana.net","index":"{\"env\":
      \"staging\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/116/logging/grafanacloudlogs/test-grafanacloudlogs
    method: PUT
  response:
    body: '{"name":"new-test-grafanacloudlogs","token":"abcd6789","service_id":"XsjdElScZGjmfCcTwsYRC1","format":"format","response_condition":"","version":"116","format_version":"2","url":"https://test456.grafana.net","deleted_at":null,"placement":"none","updated_at":"2026-07-23T19:39:42Z","user":"123456","log_processing_region":"eu","index":"{\"env\":
      \"staging\"}","created_at":"2026-07-23T19:39:42Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9383"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
