---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domains/v1/tools/suggest?defaults=com&keywords=testing&query=fastly+testing
    method: GET
  response:
    body: |
      {"results":[{"domain":"fastlytest.ing","subdomain":"fastlytest.","zone":"ing"},{"domain":"fastlytesting.com","subdomain":"fastlytesting.","zone":"com"},{"domain":"fastlytesti.ng","subdomain":"fastlytesti.","zone":"ng"},{"domain":"fastlytest.i.ng","subdomain":"fastlytest.","zone":"i.ng"},{"domain":"fastlytesting.net","subdomain":"fastlytesting.","zone":"net"},{"domain":"fastlytesting.org","subdomain":"fastlytesting.","zone":"org"},{"domain":"fastlytesting.us","subdomain":"fastlytesting.","zone":"us"},{"domain":"fastlytesting.co.us","subdomain":"fastlytesting.","zone":"co.us"},{"domain":"fastlytest.in","subdomain":"fastlytest.","zone":"in","path":"/g"},{"domain":"fastlyte.st","subdomain":"fastlyte.","zone":"st","path":"/ing"},{"domain":"fastlyt.es","subdomain":"fastlyt.","zone":"es","path":"/ting"},{"domain":"fastl.yt","subdomain":"fastl.","zone":"yt","path":"/esting"},{"domain":"fast.ly","subdomain":"fast.","zone":"ly","path":"/testing"},{"domain":"fas.tl","subdomain":"fas.","zone":"tl","path":"/ytesting"},{"domain":"fa.st","subdomain":"fa.","zone":"st","path":"/lytesting"},{"domain":"f.as","subdomain":"f.","zone":"as","path":"/tlytesting"},{"domain":"fast","zone":"fast","path":"/lytesting"}]}
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
