---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-3916589616287113937&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-3916589616287113937
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service-3916589616287113937","type":"vcl","id":"3lYLhAbTXOxJ79lUeCK97B","deleted_at":null,"publish_key":"","updated_at":"2020-10-09T09:28:40Z","versions":[{"number":1,"created_at":"2020-10-09T09:28:40Z","deployed":false,"comment":"","service_id":"3lYLhAbTXOxJ79lUeCK97B","active":false,"locked":false,"updated_at":"2020-10-09T09:28:40Z","testing":false,"deleted_at":null,"staging":false}],"created_at":"2020-10-09T09:28:40Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4938"
      Fastly-Ratelimit-Reset:
      - "1602237600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
