---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-4037200794235010051&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-4037200794235010051
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service-4037200794235010051","type":"vcl","publish_key":"","versions":[{"updated_at":"2021-11-03T17:30:06Z","comment":"","staging":false,"locked":false,"number":1,"testing":false,"deleted_at":null,"created_at":"2021-11-03T17:30:06Z","service_id":"0YvBzGzrs4i42N0xduMTME","active":false,"deployed":false}],"deleted_at":null,"paused":false,"created_at":"2021-11-03T17:30:06Z","id":"0YvBzGzrs4i42N0xduMTME","updated_at":"2021-11-03T17:30:06Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4771"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
