---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-4037200794235010051&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-4037200794235010051
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service-4037200794235010051","type":"vcl","versions":[{"staging":false,"locked":false,"testing":false,"deleted_at":null,"updated_at":"2021-01-14T10:26:24Z","deployed":false,"created_at":"2021-01-14T10:26:24Z","number":1,"comment":"","active":false,"service_id":"75Xe7Cqz69divbFTfhARF7"}],"paused":false,"created_at":"2021-01-14T10:26:24Z","updated_at":"2021-01-14T10:26:24Z","deleted_at":null,"publish_key":"","id":"75Xe7Cqz69divbFTfhARF7"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "891"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
