---
version: 1
interactions:
- request:
    body: Service=5MlnHT66t9pZgO8XrBEDQl&Version=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 5MlnHT66t9pZgO8XrBEDQl
      Version:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5MlnHT66t9pZgO8XrBEDQl/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"5MlnHT66t9pZgO8XrBEDQl","version":"2","created_at":"2020-07-01T09:40:37Z","comment":"","updated_at":"2020-07-01T09:40:37Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "979"
      Fastly-Ratelimit-Reset:
      - "1593597600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
