---
version: 1
interactions:
- request:
    body: ServiceID=2Xgb9YcX4auyMwrqJGIHLL&ServiceVersion=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      ServiceID:
      - 2Xgb9YcX4auyMwrqJGIHLL
      ServiceVersion:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/2Xgb9YcX4auyMwrqJGIHLL/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"2Xgb9YcX4auyMwrqJGIHLL","version":"2","created_at":"2021-11-03T17:28:14Z","comment":"","deleted_at":null,"updated_at":"2021-11-03T17:28:14Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4787"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
