---
version: 1
interactions:
- request:
    body: Service=6gkEdARZ3mPzhQvdi2YH3j&Version=2&name=WAF_Prefetch&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 6gkEdARZ3mPzhQvdi2YH3j
      Version:
      - "2"
      name:
      - WAF_Prefetch
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/6gkEdARZ3mPzhQvdi2YH3j/version/2/condition
    method: POST
  response:
    body: '{"name":"WAF_Prefetch","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"6gkEdARZ3mPzhQvdi2YH3j","version":"2","comment":"","deleted_at":null,"updated_at":"2019-11-12T16:10:22Z","created_at":"2019-11-12T16:10:22Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "974"
      Fastly-Ratelimit-Reset:
      - "1573578000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
