---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=786&name=test-waf-condition&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "786"
      name:
      - test-waf-condition
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/786/condition
    method: POST
  response:
    body: '{"name":"test-waf-condition","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"786","deleted_at":null,"created_at":"2017-09-05T17:56:52+00:00","comment":"","updated_at":"2017-09-05T17:56:52+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "882"
      Fastly-Ratelimit-Reset:
      - "1504634400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
