---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=34&name=test-waf-condition&priority=1&statement=req.url~%2B%22index.html%22&type=PREFETCH
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "34"
      name:
      - test-waf-condition
      priority:
      - "1"
      statement:
      - req.url~+"index.html"
      type:
      - PREFETCH
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/34/condition
    method: POST
  response:
    body: '{"name":"test-waf-condition","priority":"1","statement":"req.url~+\"index.html\"","type":"PREFETCH","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"34","created_at":"2020-05-15T15:35:15Z","deleted_at":null,"updated_at":"2020-05-15T15:35:15Z","comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "961"
      Fastly-Ratelimit-Reset:
      - "1589558400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
