---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service3&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service3
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service3","type":"vcl","versions":[{"testing":false,"deleted_at":null,"service_id":"5mAR0wHKpNJjOqc65YeDqI","comment":"","created_at":"2020-07-02T20:05:32Z","updated_at":"2020-07-02T20:05:32Z","active":false,"locked":false,"number":1,"deployed":false,"staging":false}],"publish_key":"","created_at":"2020-07-02T20:05:32Z","deleted_at":null,"id":"5mAR0wHKpNJjOqc65YeDqI","updated_at":"2020-07-02T20:05:32Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "981"
      Fastly-Ratelimit-Reset:
      - "1593723600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
