---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service3&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service3
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service3","type":"vcl","created_at":"2020-07-02T20:20:54Z","id":"52szbbqIWi1L5bUd4EBKkX","versions":[{"comment":"","deployed":false,"staging":false,"service_id":"52szbbqIWi1L5bUd4EBKkX","locked":false,"deleted_at":null,"updated_at":"2020-07-02T20:20:54Z","created_at":"2020-07-02T20:20:54Z","number":1,"active":false,"testing":false}],"publish_key":"","deleted_at":null,"updated_at":"2020-07-02T20:20:54Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "954"
      Fastly-Ratelimit-Reset:
      - "1593723600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
