---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service3&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service3
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service3","type":"vcl","versions":[{"comment":"","locked":false,"active":false,"updated_at":"2021-11-03T17:28:47Z","deleted_at":null,"staging":false,"number":1,"deployed":false,"created_at":"2021-11-03T17:28:47Z","service_id":"3U83pdesYFrsH5Mgt6tN2C","testing":false}],"created_at":"2021-11-03T17:28:47Z","paused":false,"updated_at":"2021-11-03T17:28:47Z","deleted_at":null,"id":"3U83pdesYFrsH5Mgt6tN2C","publish_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4780"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
