---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service3&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service3
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service3","type":"vcl","versions":[{"updated_at":"2020-06-30T10:56:24Z","created_at":"2020-06-30T10:56:24Z","service_id":"3BOOVoayIlrdMuRU8LrKSA","locked":false,"staging":false,"deployed":false,"number":1,"deleted_at":null,"testing":false,"active":false,"comment":""}],"updated_at":"2020-06-30T10:56:24Z","id":"3BOOVoayIlrdMuRU8LrKSA","created_at":"2020-06-30T10:56:24Z","deleted_at":null,"publish_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "691"
      Fastly-Ratelimit-Reset:
      - "1593514800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
