---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service3&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service3
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service3","type":"vcl","id":"5GZsX83POn5zij6allCOKe","versions":[{"testing":false,"active":false,"service_id":"5GZsX83POn5zij6allCOKe","number":1,"created_at":"2020-07-06T11:09:04Z","updated_at":"2020-07-06T11:09:04Z","deleted_at":null,"locked":false,"deployed":false,"comment":"","staging":false}],"created_at":"2020-07-06T11:09:04Z","publish_key":"","updated_at":"2020-07-06T11:09:04Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "981"
      Fastly-Ratelimit-Reset:
      - "1594036800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
