---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service3&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service3
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_service3","type":"vcl","updated_at":"2021-01-14T10:26:24Z","publish_key":"","id":"01yXo1ojqff8q5FU2Mt2uX","created_at":"2021-01-14T10:26:24Z","versions":[{"service_id":"01yXo1ojqff8q5FU2Mt2uX","locked":false,"number":1,"updated_at":"2021-01-14T10:26:24Z","active":false,"staging":false,"deleted_at":null,"comment":"","deployed":false,"created_at":"2021-01-14T10:26:24Z","testing":false}],"deleted_at":null,"paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "895"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
