---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service","created_at":"2019-11-25T14:43:29Z","type":"vcl","publish_key":"06140d06c6706f308be66ef0d52ba15f600c007b","deleted_at":null,"id":"300YFPn1PVF82Na4SUkiqy","versions":[{"service_id":"300YFPn1PVF82Na4SUkiqy","locked":false,"created_at":"2019-11-25T14:43:29Z","comment":"","deleted_at":null,"active":false,"number":1,"deployed":false,"testing":false,"updated_at":"2019-11-25T14:43:29Z","staging":false}],"updated_at":"2019-11-25T14:43:29Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "999"
      Fastly-Ratelimit-Reset:
      - "1574694000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
