---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/2/pool/test-pool
    method: GET
  response:
    body: '{"id":"2Yd1WfiCBPENLloXfXmlO","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"2","name":"test-pool","shield":null,"override_host":null,"use_tls":"0","type":"random","request_condition":null,"max_conn_default":"200","connect_timeout":"1000","first_byte_timeout":"15000","quorum":"75","tls_ca_cert":null,"tls_ciphers":null,"tls_client_key":null,"tls_client_cert":null,"tls_sni_hostname":null,"tls_check_cert":"1","tls_cert_hostname":null,"min_tls_version":null,"max_tls_version":null,"healthcheck":null,"comment":"","created_at":"2016-06-20T03:55:06+00:00","updated_at":"2016-06-20T03:55:06+00:00","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "984"
      Fastly-Ratelimit-Reset:
      - "1563879600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200

