---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-3916589616287113937&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-3916589616287113937
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service-3916589616287113937","type":"vcl","updated_at":"2020-10-07T13:09:06Z","publish_key":"","versions":[{"locked":false,"deployed":false,"testing":false,"deleted_at":null,"created_at":"2020-10-07T13:09:06Z","service_id":"4j5iMcheZDNpEMiwjnYh8K","staging":false,"updated_at":"2020-10-07T13:09:06Z","comment":"","active":false,"number":1}],"id":"4j5iMcheZDNpEMiwjnYh8K","created_at":"2020-10-07T13:09:06Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4952"
      Fastly-Ratelimit-Reset:
      - "1602079200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
