---
version: 1
interactions:
- request:
    body: '{"compression_codec":null,"tls_ca_cert":null,"tls_client_cert":null,"tls_client_key":null,"tls_hostname":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/202/logging/kafka/new-test-kafka
    method: PUT
  response:
    body: '{"request_max_bytes":2048,"tls_ca_cert":null,"created_at":"2026-08-10T19:14:48Z","auth_method":"scram-sha-512","updated_at":"2026-08-10T19:14:51Z","placement":null,"service_id":"kKJb5bOFI47uHeBVluGfX1","tls_hostname":null,"format":"%h
      %l %u %t \"%r\" %\u003es %b","deleted_at":null,"compression_codec":null,"name":"new-test-kafka","version":"202","brokers":"192.168.1.1,192.168.1.2","user":"foobar","topic":"new-kafka-topic","use_tls":"0","response_condition":"","tls_client_key":null,"log_processing_region":"eu","format_version":"2","tls_client_cert":null,"required_acks":"-1","password":"deadbeef","parse_log_keyvals":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9725"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
