---
version: 1
interactions:
- request:
    body: Dictionary=56a6BGJ3NRGeb8NFmbwX8v&Service=7i6HN3TK9wS159v2gPAZ8A&item_key=test-dictionary-item&item_value=value
    form:
      Dictionary:
      - 56a6BGJ3NRGeb8NFmbwX8v
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      item_key:
      - test-dictionary-item
      item_value:
      - value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/dictionary/56a6BGJ3NRGeb8NFmbwX8v/item
    method: POST
  response:
    body: '{"dictionary_id":"56a6BGJ3NRGeb8NFmbwX8v","service_id":"7i6HN3TK9wS159v2gPAZ8A","item_key":"test-dictionary-item","item_value":"value","created_at":"2016-06-29T22:27:26+00:00","deleted_at":null,"updated_at":"2016-06-29T22:27:26+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "993"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
