---
version: 1
rwmutex: {}
interactions:
- request:
    body: Dictionary=Pja9hdZa0oe4cOgkKcvVc&Service=7i6HN3TK9wS159v2gPAZ8A&item_key=test-dictionary-item&item_value=value
    form:
      Dictionary:
      - Pja9hdZa0oe4cOgkKcvVc
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      item_key:
      - test-dictionary-item
      item_value:
      - value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/dictionary/Pja9hdZa0oe4cOgkKcvVc/item
    method: POST
  response:
    body: '{"dictionary_id":"Pja9hdZa0oe4cOgkKcvVc","service_id":"7i6HN3TK9wS159v2gPAZ8A","item_key":"test-dictionary-item","item_value":"value","created_at":"2017-04-17T16:01:01+00:00","deleted_at":null,"updated_at":"2017-04-17T16:01:01+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "893"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
