---
version: 1
interactions:
- request:
    body: Dictionary=4a7dgMi9ijAuNzvY1Nr4ZW&Service=7i6HN3TK9wS159v2gPAZ8A&item_key=test-dictionary-item&item_value=value
    form:
      Dictionary:
      - 4a7dgMi9ijAuNzvY1Nr4ZW
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      item_key:
      - test-dictionary-item
      item_value:
      - value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/dictionary/4a7dgMi9ijAuNzvY1Nr4ZW/item
    method: POST
  response:
    body: '{"dictionary_id":"4a7dgMi9ijAuNzvY1Nr4ZW","service_id":"7i6HN3TK9wS159v2gPAZ8A","item_key":"test-dictionary-item","item_value":"value"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "987"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
