---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=590&name=test_dictionary
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "590"
      name:
      - test_dictionary
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/590/dictionary
    method: POST
  response:
    body: '{"name":"test_dictionary","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":590,"created_at":"2016-06-29T22:27:25+00:00","deleted_at":null,"id":"56a6BGJ3NRGeb8NFmbwX8v","updated_at":"2016-06-29T22:27:25+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "994"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
