---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/dictionary/4a7dgMi9ijAuNzvY1Nr4ZW/item/test-dictionary-item
    method: GET
  response:
    body: '{"dictionary_id":"4a7dgMi9ijAuNzvY1Nr4ZW","item_key":"test-dictionary-item","item_value":"value","service_id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
