---
version: 1
rwmutex: {}
interactions:
- request:
    body: Dictionary=Pja9hdZa0oe4cOgkKcvVc&ItemKey=test-dictionary-item&Service=7i6HN3TK9wS159v2gPAZ8A&item_value=new-value
    form:
      Dictionary:
      - Pja9hdZa0oe4cOgkKcvVc
      ItemKey:
      - test-dictionary-item
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      item_value:
      - new-value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/dictionary/Pja9hdZa0oe4cOgkKcvVc/item/test-dictionary-item
    method: PUT
  response:
    body: '{"dictionary_id":"Pja9hdZa0oe4cOgkKcvVc","service_id":"7i6HN3TK9wS159v2gPAZ8A","item_key":"test-dictionary-item","item_value":"new-value"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "889"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
