---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/56/activate
    method: PUT
  response:
    body: '{"service_id":"XsjdElScZGjmfCcTwsYRC1","deleted_at":null,"comment":"","created_at":"2025-09-08T17:20:25Z","deployed":false,"updated_at":"2025-09-08T17:20:27Z","environments":[],"locked":true,"staging":false,"number":56,"testing":false,"active":true,"msg":"Warning:
      Backend host `integ-test3.go-fastly-3.com` could not be resolved to an IP address:
      Name or service not known"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9959"
      Fastly-Ratelimit-Reset:
      - "1757354400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
