---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tls/subscriptions/yENvilLSUdiUesxTCIwDKA
    method: DELETE
  response:
    body: '{"errors":[{"title":"Not found","detail":"The subscription you requested
      was not found"}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/56/backend/test-backend-compute
    method: DELETE
  response:
    body: '{"msg":"Version locked","detail":"Version ''56'' for service ''XsjdElScZGjmfCcTwsYRC1''
      is locked"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9958"
      Fastly-Ratelimit-Reset:
      - "1757354400"
      Status:
      - 422 Unprocessable Entity
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
