---
version: 1
interactions:
- request:
    body: address=integ-test1.go-fastly-1.com&connect_timeout=1500&name=test-backend-compute&override_host=origin.example.com&ssl_check_cert=0&ssl_ciphers=DHE-RSA-AES256-SHA%3ADHE-RSA-CAMELLIA256-SHA%3AAES256-GCM-SHA384&ssl_sni_hostname=ssl-hostname.com
    form:
      address:
      - integ-test1.go-fastly-1.com
      connect_timeout:
      - "1500"
      name:
      - test-backend-compute
      override_host:
      - origin.example.com
      ssl_check_cert:
      - "0"
      ssl_ciphers:
      - DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384
      ssl_sni_hostname:
      - ssl-hostname.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/44/backend
    method: POST
  response:
    body: '{"address":"integ-test1.go-fastly-1.com","connect_timeout":1500,"name":"test-backend-compute","override_host":"origin.example.com","ssl_check_cert":false,"ssl_ciphers":"DHE-RSA-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:AES256-GCM-SHA384","ssl_sni_hostname":"ssl-hostname.com","service_id":"XsjdElScZGjmfCcTwsYRC1","version":44,"deleted_at":null,"tcp_keepalive_interval":null,"created_at":"2025-09-02T20:49:30Z","tcp_keepalive_probes":null,"shield":null,"first_byte_timeout":15000,"port":80,"ssl_cert_hostname":null,"ssl_client_key":null,"ssl_ca_cert":null,"ssl_hostname":null,"max_tls_version":null,"hostname":"integ-test1.go-fastly-1.com","ipv4":null,"ipv6":null,"auto_loadbalance":false,"healthcheck":null,"keepalive_time":null,"ssl_client_cert":null,"prefer_ipv6":true,"weight":100,"min_tls_version":null,"updated_at":"2025-09-02T20:49:30Z","comment":"","between_bytes_timeout":10000,"share_key":null,"request_condition":"","client_cert":null,"use_ssl":false,"tcp_keepalive_enable":null,"max_conn":200,"tcp_keepalive_time":null,"error_threshold":0}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9991"
      Fastly-Ratelimit-Reset:
      - "1756846800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
