---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"tls_subscription","relationships":{"tls_domain":{"data":[{"type":"tls_domain","id":"integ-test3.go-fastly-3.com"}]}}},"included":[{"type":"tls_domain","id":"integ-test3.go-fastly-3.com","attributes":{"type":""}}]}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/tls/subscriptions
    method: POST
  response:
    body: '{"data":{"id":"yENvilLSUdiUesxTCIwDKA","type":"tls_subscription","attributes":{"certificate_authority":"certainly","created_at":"2025-09-08T17:20:31.000Z","state":"pending","has_active_order":true,"updated_at":"2025-09-08T17:20:31.000Z"},"relationships":{"tls_authorizations":{"data":[{"id":"ekZFrxHILg3lDfV5zQkBXg","type":"tls_authorization"}]},"tls_certificates":{"data":[]},"tls_domains":{"data":[{"id":"integ-test3.go-fastly-3.com","type":"tls_domain"}]},"common_name":{"data":{"id":"integ-test3.go-fastly-3.com","type":"tls_domain"}},"tls_configuration":{"data":{"id":"6BJN1m42DmVgmSE7tnZCZg","type":"tls_configuration"}}}},"included":[{"id":"ekZFrxHILg3lDfV5zQkBXg","type":"tls_authorization","attributes":{"challenges":[{"type":"managed-dns","record_type":"CNAME","record_name":"_acme-challenge.integ-test3.go-fastly-3.com","values":["28646spiibdzzttdak.fastly-validations.com"]},{"type":"managed-http-cname","record_type":"CNAME","record_name":"integ-test3.go-fastly-3.com","values":["t.sni.global.fastly.net"]},{"type":"managed-http-a","record_type":"A","record_name":"integ-test3.go-fastly-3.com","values":["151.101.3.52","151.101.67.52","151.101.131.52","151.101.195.52"]}],"created_at":"2025-09-08T17:20:31.000Z","state":"pending","updated_at":"2025-09-08T17:20:31.000Z","warnings":null},"relationships":{"tls_domain":{"data":{"id":"integ-test3.go-fastly-3.com","type":"tls_domain"}},"globalsign_email_challenge":{"data":null},"self_managed_http_challenge":{"data":null}}}]}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 201 Created
    code: 201
    duration: ""
