---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tls/subscriptions/yENvilLSUdiUesxTCIwDKA
    method: GET
  response:
    body: '{"data":{"id":"yENvilLSUdiUesxTCIwDKA","type":"tls_subscription","attributes":{"certificate_authority":"certainly","created_at":"2025-09-08T17:20:31.000Z","state":"pending","has_active_order":true,"updated_at":"2025-09-08T17:20:31.000Z"},"relationships":{"tls_authorizations":{"data":[{"id":"ekZFrxHILg3lDfV5zQkBXg","type":"tls_authorization"}]},"tls_certificates":{"data":[]},"tls_domains":{"data":[{"id":"integ-test3.go-fastly-3.com","type":"tls_domain"}]},"common_name":{"data":{"id":"integ-test3.go-fastly-3.com","type":"tls_domain"}},"tls_configuration":{"data":{"id":"6BJN1m42DmVgmSE7tnZCZg","type":"tls_configuration"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status: 200 OK
    code: 200
    duration: ""
