---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Delete&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Delete
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Delete","type":"vcl","publish_key":"","deleted_at":null,"created_at":"2021-11-03T14:44:22Z","versions":[{"number":1,"testing":false,"deployed":false,"updated_at":"2021-11-03T14:44:22Z","service_id":"0Z7jVDUwGwu7F2OANQI4zM","staging":false,"locked":false,"active":false,"comment":"","created_at":"2021-11-03T14:44:22Z","deleted_at":null}],"id":"0Z7jVDUwGwu7F2OANQI4zM","paused":false,"updated_at":"2021-11-03T14:44:22Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4959"
      Fastly-Ratelimit-Reset:
      - "1635951600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
