---
version: 1
rwmutex: {}
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Delete
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Delete","versions":[{"active":false,"number":1,"staging":false,"testing":false,"created_at":"2019-07-23T09:37:48Z","service_id":"1fn1uiuo7LwssNl2EH2gBI","deployed":false,"comment":"","deleted_at":null,"updated_at":"2019-07-23T09:37:48Z","locked":false}],"id":"1fn1uiuo7LwssNl2EH2gBI","created_at":"2019-07-23T09:37:48Z","publish_key":"2e5f823858cfa77117dc4a88dacd04ace95d407c","deleted_at":null,"updated_at":"2019-07-23T09:37:48Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "977"
      Fastly-Ratelimit-Reset:
      - "1563876000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
