---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Delete&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Delete
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Delete","type":"vcl","publish_key":"","paused":false,"updated_at":"2021-09-22T11:02:46Z","versions":[{"deleted_at":null,"testing":false,"active":false,"number":1,"created_at":"2021-09-22T11:02:46Z","locked":false,"staging":false,"deployed":false,"comment":"","service_id":"3HSOFAYE9MIClrNMnneZ88","updated_at":"2021-09-22T11:02:46Z"}],"id":"3HSOFAYE9MIClrNMnneZ88","deleted_at":null,"created_at":"2021-09-22T11:02:46Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4993"
      Fastly-Ratelimit-Reset:
      - "1632312000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
