---
version: 1
interactions:
- request:
    body: ServiceID=0LwY12HMwvVr5TmfdLhiKB&ServiceVersion=2&name=test_acl_BatchModifyAclEntries_Delete
    form:
      ServiceID:
      - 0LwY12HMwvVr5TmfdLhiKB
      ServiceVersion:
      - "2"
      name:
      - test_acl_BatchModifyAclEntries_Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/0LwY12HMwvVr5TmfdLhiKB/version/2/acl
    method: POST
  response:
    body: '{"service_id":"0LwY12HMwvVr5TmfdLhiKB","version":"2","name":"test_acl_BatchModifyAclEntries_Delete","created_at":"2021-01-14T10:23:41Z","id":"4HXRtBKpLbDcsvWAepvIeQ","deleted_at":null,"updated_at":"2021-01-14T10:23:41Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "991"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
