---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Delete&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Delete
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Delete","type":"vcl","id":"SRgWcFvKC9NTsezwei8lN5","versions":[{"service_id":"SRgWcFvKC9NTsezwei8lN5","number":1,"active":false,"created_at":"2022-11-07T13:21:15Z","deleted_at":null,"staging":false,"testing":false,"deployed":false,"locked":false,"updated_at":"2022-11-07T13:21:15Z","comment":""}],"publish_key":"","updated_at":"2022-11-07T13:21:15Z","deleted_at":null,"paused":false,"created_at":"2022-11-07T13:21:15Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9985"
      Fastly-Ratelimit-Reset:
      - "1667829600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
