---
version: 1
interactions:
- request:
    body: ServiceID=0Z7jVDUwGwu7F2OANQI4zM&ServiceVersion=2&name=test_acl_BatchModifyAclEntries_Delete
    form:
      ServiceID:
      - 0Z7jVDUwGwu7F2OANQI4zM
      ServiceVersion:
      - "2"
      name:
      - test_acl_BatchModifyAclEntries_Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/0Z7jVDUwGwu7F2OANQI4zM/version/2/acl
    method: POST
  response:
    body: '{"service_id":"0Z7jVDUwGwu7F2OANQI4zM","version":"2","name":"test_acl_BatchModifyAclEntries_Delete","created_at":"2021-11-03T14:44:23Z","updated_at":"2021-11-03T14:44:23Z","deleted_at":null,"id":"2unSFVs0YvJ5OfIxOFkT1h"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4957"
      Fastly-Ratelimit-Reset:
      - "1635951600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
