---
version: 1
interactions:
- request:
    body: '{"entries":[{"op":"create","ip":"127.0.0.1","subnet":"24","negated":false,"comment":"ACL
      Entry 1"},{"op":"create","ip":"192.168.0.1","subnet":"24","negated":false,"comment":"ACL
      Entry 2"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/0LwY12HMwvVr5TmfdLhiKB/acl/4HXRtBKpLbDcsvWAepvIeQ/entries
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "990"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
