---
version: 1
interactions:
- request:
    body: name=test_acl_BatchModifyAclEntries_Delete
    form:
      name:
      - test_acl_BatchModifyAclEntries_Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/SRgWcFvKC9NTsezwei8lN5/version/2/acl
    method: POST
  response:
    body: '{"service_id":"SRgWcFvKC9NTsezwei8lN5","version":"2","name":"test_acl_BatchModifyAclEntries_Delete","created_at":"2022-11-07T13:21:16Z","updated_at":"2022-11-07T13:21:16Z","id":"1tOJroBpX2wMC5bs17q4P7","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9983"
      Fastly-Ratelimit-Reset:
      - "1667829600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
