---
version: 1
interactions:
- request:
    body: name=test_acl_BatchModifyAclEntries_Delete
    form:
      name:
      - test_acl_BatchModifyAclEntries_Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/WEnlOaZEjUnAet8oPou4v6/version/2/acl
    method: POST
  response:
    body: '{"service_id":"WEnlOaZEjUnAet8oPou4v6","version":"2","name":"test_acl_BatchModifyAclEntries_Delete","id":"d48VE2TQL5N5B0rNYdBo33","deleted_at":null,"created_at":"2023-11-28T14:23:17Z","updated_at":"2023-11-28T14:23:17Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9991"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
