---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Delete&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Delete
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Delete","type":"vcl","deleted_at":null,"publish_key":"","updated_at":"2023-11-28T14:23:17Z","versions":[{"active":false,"updated_at":"2023-11-28T14:23:17Z","comment":"","locked":false,"deployed":false,"created_at":"2023-11-28T14:23:17Z","deleted_at":null,"staging":false,"service_id":"WEnlOaZEjUnAet8oPou4v6","testing":false,"number":1}],"paused":false,"created_at":"2023-11-28T14:23:17Z","id":"WEnlOaZEjUnAet8oPou4v6"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9993"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
