---
version: 1
interactions:
- request:
    body: ServiceID=3HSOFAYE9MIClrNMnneZ88&ServiceVersion=2&name=test_acl_BatchModifyAclEntries_Delete
    form:
      ServiceID:
      - 3HSOFAYE9MIClrNMnneZ88
      ServiceVersion:
      - "2"
      name:
      - test_acl_BatchModifyAclEntries_Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3HSOFAYE9MIClrNMnneZ88/version/2/acl
    method: POST
  response:
    body: '{"service_id":"3HSOFAYE9MIClrNMnneZ88","version":"2","name":"test_acl_BatchModifyAclEntries_Delete","deleted_at":null,"updated_at":"2021-09-22T11:02:47Z","created_at":"2021-09-22T11:02:47Z","id":"2tmd64cHXy8wccFSnB5tP0"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4991"
      Fastly-Ratelimit-Reset:
      - "1632312000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
