---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Delete&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Delete
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Delete","type":"vcl","versions":[{"deployed":false,"locked":false,"created_at":"2021-01-14T10:23:40Z","number":1,"deleted_at":null,"comment":"","staging":false,"service_id":"0LwY12HMwvVr5TmfdLhiKB","updated_at":"2021-01-14T10:23:40Z","active":false,"testing":false}],"updated_at":"2021-01-14T10:23:40Z","paused":false,"id":"0LwY12HMwvVr5TmfdLhiKB","publish_key":"","deleted_at":null,"created_at":"2021-01-14T10:23:40Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "993"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
