---
version: 1
interactions:
- request:
    body: '{"entries":[{"comment":"ACL Entry 1","ip":"127.0.0.1","negated":"0","op":"create","subnet":24},{"comment":"ACL
      Entry 2","ip":"192.168.0.1","negated":"1","op":"create","subnet":24}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/SRgWcFvKC9NTsezwei8lN5/acl/1tOJroBpX2wMC5bs17q4P7/entries
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9982"
      Fastly-Ratelimit-Reset:
      - "1667829600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
