---
version: 1
rwmutex: {}
interactions:
- request:
    body: '{"entries":[{"op":"delete","id":"3r5lszX6PDmmRP6kXsC8Mi"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/1fn1uiuo7LwssNl2EH2gBI/acl/2WOimUJEh3AE0iFaE3E5JL/entries
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "973"
      Fastly-Ratelimit-Reset:
      - "1563876000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
