---
version: 1
interactions:
- request:
    body: '{"entries":[{"op":"delete","id":"6RYoKeriQf7iaCl1jdrM31"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/0Z7jVDUwGwu7F2OANQI4zM/acl/2unSFVs0YvJ5OfIxOFkT1h/entries
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4955"
      Fastly-Ratelimit-Reset:
      - "1635951600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
