---
version: 1
interactions:
- request:
    body: '{"entries":[{"id":"vjhboWnFt0NkGOWv54YDz3","op":"delete"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/WEnlOaZEjUnAet8oPou4v6/acl/d48VE2TQL5N5B0rNYdBo33/entries
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9989"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
