---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/WEnlOaZEjUnAet8oPou4v6/acl/d48VE2TQL5N5B0rNYdBo33/entries?page=1&per_page=100
    method: GET
  response:
    body: '[{"comment":"ACL Entry 2","updated_at":"2023-11-28T14:23:18Z","acl_id":"d48VE2TQL5N5B0rNYdBo33","id":"MCPz1Nxami0WWcqeTrpJM5","ip":"192.168.0.1","created_at":"2023-11-28T14:23:18Z","negated":"1","subnet":24,"service_id":"WEnlOaZEjUnAet8oPou4v6"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
