---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/1fn1uiuo7LwssNl2EH2gBI/acl/2WOimUJEh3AE0iFaE3E5JL/entries
    method: GET
  response:
    body: '[{"id":"3lP4jGb6tpV7OfBS2jZr8h","acl_id":"2WOimUJEh3AE0iFaE3E5JL","updated_at":"2019-07-23T09:37:49Z","ip":"192.168.0.1","created_at":"2019-07-23T09:37:49Z","subnet":24,"comment":"ACL
      Entry 2","negated":"0","deleted_at":null,"service_id":"1fn1uiuo7LwssNl2EH2gBI"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
