---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3HSOFAYE9MIClrNMnneZ88/acl/2tmd64cHXy8wccFSnB5tP0/entries
    method: GET
  response:
    body: '[{"subnet":24,"comment":"ACL Entry 1","created_at":"2021-09-22T11:02:47Z","ip":"127.0.0.1","id":"5Fd2BgJh5t1KWMCCQh9bgq","negated":"0","service_id":"3HSOFAYE9MIClrNMnneZ88","updated_at":"2021-09-22T11:02:47Z","acl_id":"2tmd64cHXy8wccFSnB5tP0"},{"acl_id":"2tmd64cHXy8wccFSnB5tP0","updated_at":"2021-09-22T11:02:47Z","service_id":"3HSOFAYE9MIClrNMnneZ88","ip":"192.168.0.1","negated":"1","id":"79oTJwlhREppUI6BahCekM","created_at":"2021-09-22T11:02:47Z","comment":"ACL
      Entry 2","subnet":24}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
