---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/0Z7jVDUwGwu7F2OANQI4zM/acl/2unSFVs0YvJ5OfIxOFkT1h/entries
    method: GET
  response:
    body: '[{"ip":"192.168.0.1","id":"5DGQ0YxSuwDw03pUapmI04","comment":"ACL Entry
      2","created_at":"2021-11-03T14:44:23Z","negated":"1","service_id":"0Z7jVDUwGwu7F2OANQI4zM","acl_id":"2unSFVs0YvJ5OfIxOFkT1h","updated_at":"2021-11-03T14:44:23Z","subnet":24}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
