---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/1fn1uiuo7LwssNl2EH2gBI/acl/2WOimUJEh3AE0iFaE3E5JL/entries
    method: GET
  response:
    body: '[{"comment":"ACL Entry 1","negated":"0","subnet":24,"id":"3r5lszX6PDmmRP6kXsC8Mi","acl_id":"2WOimUJEh3AE0iFaE3E5JL","created_at":"2019-07-23T09:37:49Z","updated_at":"2019-07-23T09:37:49Z","service_id":"1fn1uiuo7LwssNl2EH2gBI","ip":"127.0.0.1","deleted_at":null},{"id":"3lP4jGb6tpV7OfBS2jZr8h","subnet":24,"negated":"0","comment":"ACL
      Entry 2","deleted_at":null,"service_id":"1fn1uiuo7LwssNl2EH2gBI","ip":"192.168.0.1","updated_at":"2019-07-23T09:37:49Z","acl_id":"2WOimUJEh3AE0iFaE3E5JL","created_at":"2019-07-23T09:37:49Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
