---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/0Z7jVDUwGwu7F2OANQI4zM/acl/2unSFVs0YvJ5OfIxOFkT1h/entries
    method: GET
  response:
    body: '[{"acl_id":"2unSFVs0YvJ5OfIxOFkT1h","ip":"127.0.0.1","updated_at":"2021-11-03T14:44:23Z","id":"6RYoKeriQf7iaCl1jdrM31","subnet":24,"negated":"0","created_at":"2021-11-03T14:44:23Z","service_id":"0Z7jVDUwGwu7F2OANQI4zM","comment":"ACL
      Entry 1"},{"updated_at":"2021-11-03T14:44:23Z","ip":"192.168.0.1","acl_id":"2unSFVs0YvJ5OfIxOFkT1h","comment":"ACL
      Entry 2","service_id":"0Z7jVDUwGwu7F2OANQI4zM","negated":"1","created_at":"2021-11-03T14:44:23Z","subnet":24,"id":"5DGQ0YxSuwDw03pUapmI04"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
