---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/0LwY12HMwvVr5TmfdLhiKB/acl/4HXRtBKpLbDcsvWAepvIeQ/entries
    method: GET
  response:
    body: '[{"created_at":"2021-01-14T10:23:41Z","updated_at":"2021-01-14T10:23:41Z","ip":"127.0.0.1","deleted_at":null,"comment":"ACL
      Entry 1","acl_id":"4HXRtBKpLbDcsvWAepvIeQ","negated":"0","subnet":24,"service_id":"0LwY12HMwvVr5TmfdLhiKB","id":"62E4eZ3hGflhAoiBGOMEos"},{"service_id":"0LwY12HMwvVr5TmfdLhiKB","subnet":24,"id":"3zM1cN7ritzGZ9wi97xN1P","negated":"0","ip":"192.168.0.1","updated_at":"2021-01-14T10:23:41Z","acl_id":"4HXRtBKpLbDcsvWAepvIeQ","comment":"ACL
      Entry 2","deleted_at":null,"created_at":"2021-01-14T10:23:41Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
