---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/0LwY12HMwvVr5TmfdLhiKB/acl/4HXRtBKpLbDcsvWAepvIeQ/entries
    method: GET
  response:
    body: '[{"updated_at":"2021-01-14T10:23:41Z","ip":"192.168.0.1","comment":"ACL
      Entry 2","subnet":24,"service_id":"0LwY12HMwvVr5TmfdLhiKB","id":"3zM1cN7ritzGZ9wi97xN1P","created_at":"2021-01-14T10:23:41Z","negated":"0","acl_id":"4HXRtBKpLbDcsvWAepvIeQ","deleted_at":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
