---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/WEnlOaZEjUnAet8oPou4v6/acl/d48VE2TQL5N5B0rNYdBo33/entries?page=1&per_page=100
    method: GET
  response:
    body: '[{"comment":"ACL Entry 2","negated":"1","id":"MCPz1Nxami0WWcqeTrpJM5","created_at":"2023-11-28T14:23:18Z","subnet":24,"service_id":"WEnlOaZEjUnAet8oPou4v6","acl_id":"d48VE2TQL5N5B0rNYdBo33","ip":"192.168.0.1","updated_at":"2023-11-28T14:23:18Z"},{"ip":"127.0.0.1","updated_at":"2023-11-28T14:23:18Z","acl_id":"d48VE2TQL5N5B0rNYdBo33","service_id":"WEnlOaZEjUnAet8oPou4v6","subnet":24,"id":"vjhboWnFt0NkGOWv54YDz3","created_at":"2023-11-28T14:23:18Z","negated":"0","comment":"ACL
      Entry 1"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
