---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/SRgWcFvKC9NTsezwei8lN5/acl/1tOJroBpX2wMC5bs17q4P7/entries
    method: GET
  response:
    body: '[{"acl_id":"1tOJroBpX2wMC5bs17q4P7","updated_at":"2022-11-07T13:21:16Z","id":"Arz8gbdy5hTwjadSxb72K6","subnet":24,"ip":"127.0.0.1","created_at":"2022-11-07T13:21:16Z","service_id":"SRgWcFvKC9NTsezwei8lN5","comment":"ACL
      Entry 1","negated":"0"},{"created_at":"2022-11-07T13:21:16Z","service_id":"SRgWcFvKC9NTsezwei8lN5","ip":"192.168.0.1","acl_id":"1tOJroBpX2wMC5bs17q4P7","subnet":24,"id":"rmc5Eqbhw9ei8AzCu7LaC0","updated_at":"2022-11-07T13:21:16Z","negated":"1","comment":"ACL
      Entry 2"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
