---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3HSOFAYE9MIClrNMnneZ88/acl/2tmd64cHXy8wccFSnB5tP0/entries
    method: GET
  response:
    body: '[{"negated":"1","ip":"192.168.0.1","id":"79oTJwlhREppUI6BahCekM","updated_at":"2021-09-22T11:02:47Z","subnet":24,"created_at":"2021-09-22T11:02:47Z","service_id":"3HSOFAYE9MIClrNMnneZ88","comment":"ACL
      Entry 2","acl_id":"2tmd64cHXy8wccFSnB5tP0"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
