---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/28/logging/logshuttle/test-logshuttle
    method: GET
  response:
    body: '{"format_version":"2","service_id":"XsjdElScZGjmfCcTwsYRC1","placement":"none","token":"super-secure-token","name":"test-logshuttle","url":"https://logs.example.com","updated_at":"2025-09-02T17:21:04Z","response_condition":"","version":"28","format":"%h
      %l %u %t \"%r\" %\u003es %b","deleted_at":null,"log_processing_region":"none","created_at":"2025-09-02T17:21:04Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
