---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/108/logging/logshuttle/test-logshuttle
    method: GET
  response:
    body: '{"version":"108","response_condition":"","format_version":"2","url":"https://logs.example.com","placement":"none","format":"%h
      %l %u %t \"%r\" %\u003es %b","token":"super-secure-token","service_id":"XsjdElScZGjmfCcTwsYRC1","name":"test-logshuttle","log_processing_region":"none","created_at":"2026-07-23T19:39:08Z","updated_at":"2026-07-23T19:39:08Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
