---
version: 1
interactions:
- request:
    body: log_processing_region=eu&name=new-test-logshuttle&token=new-token&url=https%3A%2F%2Flogs2.example.com
    form:
      log_processing_region:
      - eu
      name:
      - new-test-logshuttle
      token:
      - new-token
      url:
      - https://logs2.example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/28/logging/logshuttle/test-logshuttle
    method: PUT
  response:
    body: '{"placement":"none","created_at":"2025-09-02T17:21:04Z","version":"28","token":"new-token","name":"new-test-logshuttle","format":"%h
      %l %u %t \"%r\" %\u003es %b","updated_at":"2025-09-02T17:21:04Z","url":"https://logs2.example.com","format_version":"2","log_processing_region":"eu","deleted_at":null,"response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9913"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
