---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/alerts/definitions/5ihYWKFmUaRI5PVRNivo7Z
    method: DELETE
  response:
    body: |
      {"type":"https://fastly.help/alerts/not-found","title":"The content you requested could not be found","status":404,"errors":null,"detail":""}
    headers:
      Content-Type:
      - application/problem+json
      Status:
      - 404 Not Found
    status: 404 Not Found
    code: 404
    duration: ""
