---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/alerts/definitions/2oiUgzqoAmULjVOwuzuUEg
    method: GET
  response:
    body: '{"id":"2oiUgzqoAmULjVOwuzuUEg","object":"definition","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test
      name","description":"test description","dimensions":{"domains":["example.com","fastly.com"]},"metric":"status_5xx","source":"domains","evaluation_strategy":{"type":"above_threshold","period":"5m0s","threshold":10},"integration_ids":[],"updated_at":"2024-01-17T04:03:01Z","created_at":"2024-01-17T04:03:01Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
