---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/alerts/definitions/5ihYWKFmUaRI5PVRNivo7Z
    method: GET
  response:
    body: '{"id":"5ihYWKFmUaRI5PVRNivo7Z","object":"definition","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"test
      name","description":"test description","dimensions":{"domains":["example.com","fastly.com"]},"metric":"status_5xx_rate","source":"domains","evaluation_strategy":{"type":"above_threshold","period":"5m","threshold":10},"integration_ids":[],"updated_at":"2025-04-08T15:32:28Z","created_at":"2025-04-08T15:32:28Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
