---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/alerts/history?after=2006-01-02T15%3A04%3A05Z&before=2056-01-02T15%3A04%3A05Z&cursor=&definition_id=7eoZPghUve49laTwDZgBDG&limit=10&service_id=kKJb5bOFI47uHeBVluGfX1&sort=-start&status=
    method: GET
  response:
    body: '{"data":[],"meta":{"next_cursor":"","limit":10,"sort":"-start","total":0}}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
