---
version: 1
interactions:
- request:
    body: '{"description":"test description","dimensions":{"domains":["example.com","fastly.com"]},"evaluation_strategy":{"period":"5m","threshold":10,"type":"above_threshold"},"integration_ids":[],"metric":"status_5xx_rate","name":"test
      name","service_id":"kKJb5bOFI47uHeBVluGfX1","source":"domains"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/alerts/definitions/test
    method: POST
  response:
    body: ""
    headers:
      Status:
      - 202 Accepted
    status: 202 Accepted
    code: 202
    duration: ""
