---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=672&check_interval=2500&expected_response=200&host=example.com&http_version=1.1&initial=10&method=HEAD&name=test-healthcheck&path=%2Ffoo&threshold=10&timeout=1500&window=5000
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "672"
      check_interval:
      - "2500"
      expected_response:
      - "200"
      host:
      - example.com
      - "1.1"
      initial:
      - "10"
      method:
      - HEAD
      name:
      - test-healthcheck
      path:
      - /foo
      threshold:
      - "10"
      timeout:
      - "1500"
      window:
      - "5000"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/672/healthcheck
    method: POST
  response:
    body: '{"check_interval":2500,"expected_response":200,"host":"example.com","http_version":"1.1","initial":10,"method":"HEAD","name":"test-healthcheck","path":"/foo","threshold":10,"timeout":1500,"window":5000,"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":672,"updated_at":"2017-07-20T01:15:00+00:00","deleted_at":null,"created_at":"2017-07-20T01:15:00+00:00","comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "979"
      Fastly-Ratelimit-Reset:
      - "1500516000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
