---
version: 1
interactions:
- request:
    body: Name=test-healthcheck&Service=7i6HN3TK9wS159v2gPAZ8A&Version=564&name=new-test-healthcheck
    form:
      Name:
      - test-healthcheck
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "564"
      name:
      - new-test-healthcheck
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/564/healthcheck/test-healthcheck
    method: PUT
  response:
    body: '{"threshold":10,"window":5000,"service_id":"7i6HN3TK9wS159v2gPAZ8A","http_version":"1.1","timeout":1500,"method":"HEAD","expected_response":200,"version":564,"name":"new-test-healthcheck","path":"/foo","host":"example.com","comment":"","check_interval":2500,"initial":10}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "937"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
