---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=48&name=test_pool_servers22
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "48"
      name:
      - test_pool_servers22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/48/pool
    method: POST
  response:
    body: '{"name":"test_pool_servers22","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"48","first_byte_timeout":"15000","comment":"","created_at":"2020-01-22T19:24:32Z","connect_timeout":"1000","between_bytes_timeout":"10000","healthcheck":null,"max_tls_version":null,"tls_client_cert":null,"tls_check_cert":"1","shield":null,"quorum":75,"max_conn_default":"200","tls_sni_hostname":null,"tls_client_key":null,"tls_cert_hostname":null,"use_tls":"0","tls_ca_cert":null,"override_host":null,"request_condition":null,"deleted_at":null,"type":"random","updated_at":"2020-01-22T19:24:32Z","min_tls_version":null,"id":"4JUYQ8SpP9C2EeZ9eaYdEY","tls_ciphers":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "968"
      Fastly-Ratelimit-Reset:
      - "1579723200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
