---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=53&name=test_pool_servers22
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "53"
      name:
      - test_pool_servers22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/53/pool
    method: POST
  response:
    body: '{"name":"test_pool_servers22","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"53","between_bytes_timeout":"10000","quorum":75,"first_byte_timeout":"15000","tls_ciphers":null,"comment":"","override_host":null,"tls_check_cert":"1","shield":null,"tls_sni_hostname":null,"connect_timeout":"1000","type":"random","deleted_at":null,"min_tls_version":null,"max_tls_version":null,"request_condition":null,"id":"4OjiShm8GHhXknIb71GRdV","max_conn_default":"200","tls_client_cert":null,"tls_cert_hostname":null,"tls_client_key":null,"tls_ca_cert":null,"updated_at":"2020-01-29T18:35:35Z","created_at":"2020-01-29T18:35:35Z","healthcheck":null,"use_tls":"0"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "992"
      Fastly-Ratelimit-Reset:
      - "1580324400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
