---
version: 1
interactions:
- request:
    body: ServiceID=kKJb5bOFI47uHeBVluGfX1&ServiceVersion=71&name=test_pool_servers22
    form:
      ServiceID:
      - kKJb5bOFI47uHeBVluGfX1
      ServiceVersion:
      - "71"
      name:
      - test_pool_servers22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/71/pool
    method: POST
  response:
    body: '{"name":"test_pool_servers22","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"71","max_tls_version":null,"type":"random","tls_client_key":null,"created_at":"2022-11-04T17:20:29Z","healthcheck":null,"tls_cert_hostname":null,"first_byte_timeout":"15000","connect_timeout":"1000","id":"QjPTIOyTtgCuj99szEHJE6","max_conn_default":"200","quorum":75,"tls_client_cert":null,"comment":"","shield":null,"between_bytes_timeout":"10000","tls_ciphers":null,"tls_check_cert":"1","deleted_at":null,"tls_sni_hostname":null,"tls_ca_cert":null,"min_tls_version":null,"request_condition":null,"override_host":null,"use_tls":"0","updated_at":"2022-11-04T17:20:29Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9979"
      Fastly-Ratelimit-Reset:
      - "1667584800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
