---
version: 1
interactions:
- request:
    body: Pool=4OjiShm8GHhXknIb71GRdV&Service=7i6HN3TK9wS159v2gPAZ8A&address=127.0.0.1
    form:
      Pool:
      - 4OjiShm8GHhXknIb71GRdV
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      address:
      - 127.0.0.1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/4OjiShm8GHhXknIb71GRdV/server
    method: POST
  response:
    body: '{"address":"127.0.0.1","service_id":"7i6HN3TK9wS159v2gPAZ8A","pool_id":"4OjiShm8GHhXknIb71GRdV","updated_at":"2020-01-29T18:35:35Z","id":"3rmTTIDqYGPhtOMtJai0a7","override_host":null,"comment":"","max_conn":"0","disabled":false,"deleted_at":null,"weight":"100","created_at":"2020-01-29T18:35:35Z","port":"80"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "991"
      Fastly-Ratelimit-Reset:
      - "1580324400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
[...]
