---
version: 1
interactions:
- request:
    body: Pool=4JUYQ8SpP9C2EeZ9eaYdEY&Service=7i6HN3TK9wS159v2gPAZ8A&address=127.0.0.1
    form:
      Pool:
      - 4JUYQ8SpP9C2EeZ9eaYdEY
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      address:
      - 127.0.0.1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/4JUYQ8SpP9C2EeZ9eaYdEY/server
    method: POST
  response:
    body: '{"address":"127.0.0.1","service_id":"7i6HN3TK9wS159v2gPAZ8A","pool_id":"4JUYQ8SpP9C2EeZ9eaYdEY","max_conn":"0","port":"80","weight":"100","created_at":"2020-01-22T19:24:32Z","disabled":false,"deleted_at":null,"updated_at":"2020-01-22T19:24:32Z","override_host":null,"comment":"","id":"4GkV4IILfxBvWT1cVRRbsD"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "967"
      Fastly-Ratelimit-Reset:
      - "1579723200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
[...]
