---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=22&name=test_pool_servers22
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "22"
      name:
      - test_pool_servers22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/22/pool
    method: POST
  response:
    body: '{"name":"test_pool_servers22","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"22","tls_check_cert":"1","tls_client_key":null,"deleted_at":null,"use_tls":"0","tls_ca_cert":null,"min_tls_version":null,"healthcheck":null,"id":"0dINauGIu5SXLm56N5HIAN","created_at":"2021-01-14T10:26:20Z","comment":"","max_tls_version":null,"max_conn_default":"200","tls_cert_hostname":null,"tls_sni_hostname":null,"request_condition":null,"type":"random","tls_ciphers":null,"connect_timeout":"1000","between_bytes_timeout":"10000","shield":null,"quorum":75,"updated_at":"2021-01-14T10:26:20Z","first_byte_timeout":"15000","override_host":null,"tls_client_cert":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "906"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
