---
version: 1
interactions:
- request:
    body: address=127.0.0.1
    form:
      address:
      - 127.0.0.1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/pool/QjPTIOyTtgCuj99szEHJE6/server
    method: POST
  response:
    body: '{"address":"127.0.0.1","service_id":"kKJb5bOFI47uHeBVluGfX1","pool_id":"QjPTIOyTtgCuj99szEHJE6","comment":"","port":"80","updated_at":"2022-11-04T17:20:29Z","weight":"100","disabled":false,"id":"AKS7g8tMd4ADhulOLnFhf3","max_conn":"0","created_at":"2022-11-04T17:20:29Z","override_host":null,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9978"
      Fastly-Ratelimit-Reset:
      - "1667584800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
[...]
