---
version: 1
interactions:
- request:
    body: ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=89&name=test_pool_servers22
    form:
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "89"
      name:
      - test_pool_servers22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/89/pool
    method: POST
  response:
    body: '{"name":"test_pool_servers22","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"89","quorum":75,"use_tls":"0","comment":"","first_byte_timeout":"15000","tls_client_cert":null,"tls_sni_hostname":null,"connect_timeout":"1000","deleted_at":null,"shield":null,"max_tls_version":null,"min_tls_version":null,"tls_ca_cert":null,"id":"4I1u39xj1EztfJHVzPo6BY","between_bytes_timeout":"10000","max_conn_default":"200","tls_ciphers":null,"tls_client_key":null,"override_host":null,"tls_check_cert":"1","tls_cert_hostname":null,"created_at":"2021-11-03T17:14:36Z","healthcheck":null,"request_condition":null,"type":"random","updated_at":"2021-11-03T17:14:36Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4902"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
