---
version: 1
interactions:
- request:
    body: PoolID=4I1u39xj1EztfJHVzPo6BY&ServiceID=7i6HN3TK9wS159v2gPAZ8A&address=127.0.0.1
    form:
      PoolID:
      - 4I1u39xj1EztfJHVzPo6BY
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      address:
      - 127.0.0.1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/4I1u39xj1EztfJHVzPo6BY/server
    method: POST
  response:
    body: '{"address":"127.0.0.1","service_id":"7i6HN3TK9wS159v2gPAZ8A","pool_id":"4I1u39xj1EztfJHVzPo6BY","max_conn":"0","weight":"100","port":"80","updated_at":"2021-11-03T17:14:36Z","disabled":false,"created_at":"2021-11-03T17:14:36Z","id":"5kmav70NchjgR8M9tjxtOz","deleted_at":null,"override_host":null,"comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4901"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
[...]
