---
version: 1
interactions:
- request:
    body: PoolID=0dINauGIu5SXLm56N5HIAN&ServiceID=7i6HN3TK9wS159v2gPAZ8A&address=127.0.0.1
    form:
      PoolID:
      - 0dINauGIu5SXLm56N5HIAN
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      address:
      - 127.0.0.1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/0dINauGIu5SXLm56N5HIAN/server
    method: POST
  response:
    body: '{"address":"127.0.0.1","service_id":"7i6HN3TK9wS159v2gPAZ8A","pool_id":"0dINauGIu5SXLm56N5HIAN","id":"3tpKpF4E4ZSZDAZib4RoEH","port":"80","weight":"100","comment":"","deleted_at":null,"override_host":null,"max_conn":"0","updated_at":"2021-01-14T10:26:20Z","disabled":false,"created_at":"2021-01-14T10:26:20Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "905"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
[...]
