---
version: 1
interactions:
- request:
    body: Pool=6mbr0Z45FrAaE4rNQC4KIs&Service=7i6HN3TK9wS159v2gPAZ8A&address=127.0.0.1
    form:
      Pool:
      - 6mbr0Z45FrAaE4rNQC4KIs
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      address:
      - 127.0.0.1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/6mbr0Z45FrAaE4rNQC4KIs/server
    method: POST
  response:
    body: '{"address":"127.0.0.1","service_id":"7i6HN3TK9wS159v2gPAZ8A","pool_id":"6mbr0Z45FrAaE4rNQC4KIs","id":"5KevsMJ2JySYq4AxuzMyWI","override_host":null,"updated_at":"2020-01-29T21:31:52Z","disabled":false,"max_conn":"0","comment":"","weight":"100","deleted_at":null,"port":"80","created_at":"2020-01-29T21:31:52Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "981"
      Fastly-Ratelimit-Reset:
      - "1580335200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
[...]
