---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=55&name=test_pool_servers22
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "55"
      name:
      - test_pool_servers22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/55/pool
    method: POST
  response:
    body: '{"name":"test_pool_servers22","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"55","tls_client_cert":null,"deleted_at":null,"quorum":75,"request_condition":null,"updated_at":"2020-01-29T21:31:52Z","use_tls":"0","tls_cert_hostname":null,"connect_timeout":"1000","tls_client_key":null,"max_conn_default":"200","healthcheck":null,"id":"6mbr0Z45FrAaE4rNQC4KIs","shield":null,"first_byte_timeout":"15000","tls_ciphers":null,"min_tls_version":null,"max_tls_version":null,"tls_check_cert":"1","created_at":"2020-01-29T21:31:52Z","override_host":null,"comment":"","tls_ca_cert":null,"between_bytes_timeout":"10000","type":"random","tls_sni_hostname":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "982"
      Fastly-Ratelimit-Reset:
      - "1580335200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
