---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/4JUYQ8SpP9C2EeZ9eaYdEY/server/4GkV4IILfxBvWT1cVRRbsD
    method: GET
  response:
    body: '{"pool_id":"4JUYQ8SpP9C2EeZ9eaYdEY","created_at":"2020-01-22T19:24:32Z","weight":"100","port":"80","max_conn":"0","id":"4GkV4IILfxBvWT1cVRRbsD","comment":"","override_host":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","address":"127.0.0.1","updated_at":"2020-01-22T19:24:32Z","deleted_at":null,"disabled":false}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
