---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/4OjiShm8GHhXknIb71GRdV/server/3rmTTIDqYGPhtOMtJai0a7
    method: GET
  response:
    body: '{"pool_id":"4OjiShm8GHhXknIb71GRdV","address":"127.0.0.1","disabled":false,"max_conn":"0","comment":"","override_host":null,"id":"3rmTTIDqYGPhtOMtJai0a7","updated_at":"2020-01-29T18:35:35Z","port":"80","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2020-01-29T18:35:35Z","weight":"100","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
