---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/0dINauGIu5SXLm56N5HIAN/server/3tpKpF4E4ZSZDAZib4RoEH
    method: GET
  response:
    body: '{"port":"80","comment":"","override_host":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","max_conn":"0","disabled":false,"weight":"100","created_at":"2021-01-14T10:26:20Z","updated_at":"2021-01-14T10:26:20Z","deleted_at":null,"id":"3tpKpF4E4ZSZDAZib4RoEH","address":"127.0.0.1","pool_id":"0dINauGIu5SXLm56N5HIAN"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
