---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/pool/QjPTIOyTtgCuj99szEHJE6/server/AKS7g8tMd4ADhulOLnFhf3
    method: GET
  response:
    body: '{"weight":"100","id":"AKS7g8tMd4ADhulOLnFhf3","max_conn":"0","created_at":"2022-11-04T17:20:29Z","port":"80","comment":"","pool_id":"QjPTIOyTtgCuj99szEHJE6","deleted_at":null,"disabled":false,"updated_at":"2022-11-04T17:20:29Z","service_id":"kKJb5bOFI47uHeBVluGfX1","override_host":null,"address":"127.0.0.1"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
