---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/6mbr0Z45FrAaE4rNQC4KIs/server/5KevsMJ2JySYq4AxuzMyWI
    method: GET
  response:
    body: '{"deleted_at":null,"address":"127.0.0.1","weight":"100","updated_at":"2020-01-29T21:31:52Z","created_at":"2020-01-29T21:31:52Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","max_conn":"0","comment":"","pool_id":"6mbr0Z45FrAaE4rNQC4KIs","port":"80","override_host":null,"disabled":false,"id":"5KevsMJ2JySYq4AxuzMyWI"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
