---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/pool/4I1u39xj1EztfJHVzPo6BY/server/5kmav70NchjgR8M9tjxtOz
    method: GET
  response:
    body: '{"deleted_at":null,"comment":"","max_conn":"0","override_host":null,"pool_id":"4I1u39xj1EztfJHVzPo6BY","created_at":"2021-11-03T17:14:36Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","disabled":false,"weight":"100","address":"127.0.0.1","id":"5kmav70NchjgR8M9tjxtOz","port":"80","updated_at":"2021-11-03T17:14:36Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
