version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
      url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/pool/QjPTIOyTtgCuj99szEHJE6/servers
      method: GET
    response:
      body: '[{"deleted_at":null,"weight":"100","comment":"","override_host":null,"port":"80","updated_at":"2022-11-04T17:20:29Z","id":"AKS7g8tMd4ADhulOLnFhf3","max_conn":"0","pool_id":"QjPTIOyTtgCuj99szEHJE6","disabled":false,"address":"127.0.0.1","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2022-11-04T17:20:29Z"},{"override_host":null,"weight":"100","deleted_at":null,"comment":"","max_conn":"0","pool_id":"QjPTIOyTtgCuj99szEHJE6","address":"altserver.example.com","disabled":false,"service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2022-11-04T17:20:30Z","port":"80","updated_at":"2022-11-04T17:20:30Z","id":"UOJwfuyz8YokOWK4u1GJ54"},{"override_host":null,"weight":"100","deleted_at":null,"comment":"","max_conn":"0","pool_id":"QjPTIOyTtgCuj99szEHJE6","address":"altserver.example.com","disabled":false,"service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2022-11-04T17:20:30Z","port":"80","updated_at":"2022-11-04T17:20:30Z","id":"UOJwfuyz8YokOWK4u1GJ52"}]'
      headers:
        Content-Type:
          - application/json
        Status:
          - 200 OK
      status: 200 OK
      code: 200
      duration: ""
