---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/4JUYQ8SpP9C2EeZ9eaYdEY/servers
    method: GET
  response:
    body: '[{"weight":"100","updated_at":"2020-01-22T19:24:32Z","created_at":"2020-01-22T19:24:32Z","comment":"","deleted_at":null,"address":"127.0.0.1","disabled":false,"port":"80","service_id":"7i6HN3TK9wS159v2gPAZ8A","max_conn":"0","override_host":null,"pool_id":"4JUYQ8SpP9C2EeZ9eaYdEY","id":"4GkV4IILfxBvWT1cVRRbsD"},{"created_at":"2020-01-22T19:24:33Z","weight":"100","updated_at":"2020-01-22T19:24:33Z","deleted_at":null,"comment":"","disabled":false,"address":"altserver.example.com","pool_id":"4JUYQ8SpP9C2EeZ9eaYdEY","id":"6yNXFrkBQiSwraFJpWBHGp","max_conn":"0","service_id":"7i6HN3TK9wS159v2gPAZ8A","port":"80","override_host":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
