---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/4OjiShm8GHhXknIb71GRdV/servers
    method: GET
  response:
    body: '[{"max_conn":"0","override_host":null,"deleted_at":null,"comment":"","address":"127.0.0.1","id":"3rmTTIDqYGPhtOMtJai0a7","weight":"100","port":"80","updated_at":"2020-01-29T18:35:35Z","created_at":"2020-01-29T18:35:35Z","disabled":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","pool_id":"4OjiShm8GHhXknIb71GRdV"},{"pool_id":"4OjiShm8GHhXknIb71GRdV","service_id":"7i6HN3TK9wS159v2gPAZ8A","disabled":false,"created_at":"2020-01-29T18:35:36Z","updated_at":"2020-01-29T18:35:36Z","port":"80","weight":"100","id":"5MZaR8aQlWZG0B2efR4wdt","address":"altserver.example.com","comment":"","deleted_at":null,"override_host":null,"max_conn":"0"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
