---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/6mbr0Z45FrAaE4rNQC4KIs/servers
    method: GET
  response:
    body: '[{"weight":"100","disabled":false,"id":"5KevsMJ2JySYq4AxuzMyWI","updated_at":"2020-01-29T21:31:52Z","max_conn":"0","pool_id":"6mbr0Z45FrAaE4rNQC4KIs","address":"127.0.0.1","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","override_host":null,"port":"80","created_at":"2020-01-29T21:31:52Z","comment":""},{"disabled":false,"weight":"100","id":"7SYpaE7axOQJ6XR8qj3NnX","updated_at":"2020-01-29T21:31:53Z","max_conn":"0","pool_id":"6mbr0Z45FrAaE4rNQC4KIs","address":"altserver.example.com","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","override_host":null,"port":"80","created_at":"2020-01-29T21:31:53Z","comment":""}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
