---
version: 1
interactions:
- request:
    body: Pool=4OjiShm8GHhXknIb71GRdV&Server=3rmTTIDqYGPhtOMtJai0a7&Service=7i6HN3TK9wS159v2gPAZ8A&address=0.0.0.0&weight=50
    form:
      Pool:
      - 4OjiShm8GHhXknIb71GRdV
      Server:
      - 3rmTTIDqYGPhtOMtJai0a7
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      address:
      - 0.0.0.0
      weight:
      - "50"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/4OjiShm8GHhXknIb71GRdV/server/3rmTTIDqYGPhtOMtJai0a7
    method: PUT
  response:
    body: '{"weight":"50","port":"80","id":"3rmTTIDqYGPhtOMtJai0a7","disabled":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2020-01-29T18:35:35Z","created_at":"2020-01-29T18:35:35Z","pool_id":"4OjiShm8GHhXknIb71GRdV","max_conn":"0","deleted_at":null,"override_host":null,"address":"0.0.0.0","comment":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "989"
      Fastly-Ratelimit-Reset:
      - "1580324400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
