---
version: 1
interactions:
- request:
    body: PoolID=0dINauGIu5SXLm56N5HIAN&Server=3tpKpF4E4ZSZDAZib4RoEH&ServiceID=7i6HN3TK9wS159v2gPAZ8A&address=0.0.0.0&weight=50
    form:
      PoolID:
      - 0dINauGIu5SXLm56N5HIAN
      Server:
      - 3tpKpF4E4ZSZDAZib4RoEH
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      address:
      - 0.0.0.0
      weight:
      - "50"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/0dINauGIu5SXLm56N5HIAN/server/3tpKpF4E4ZSZDAZib4RoEH
    method: PUT
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","port":"80","id":"3tpKpF4E4ZSZDAZib4RoEH","weight":"50","pool_id":"0dINauGIu5SXLm56N5HIAN","updated_at":"2021-01-14T10:26:20Z","address":"0.0.0.0","comment":"","deleted_at":null,"max_conn":"0","override_host":null,"created_at":"2021-01-14T10:26:20Z","disabled":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "903"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
