---
version: 1
interactions:
- request:
    body: address=0.0.0.0&weight=50
    form:
      address:
      - 0.0.0.0
      weight:
      - "50"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/pool/QjPTIOyTtgCuj99szEHJE6/server/AKS7g8tMd4ADhulOLnFhf3
    method: PUT
  response:
    body: '{"id":"AKS7g8tMd4ADhulOLnFhf3","max_conn":"0","created_at":"2022-11-04T17:20:29Z","disabled":false,"address":"0.0.0.0","comment":"","port":"80","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2022-11-04T17:20:29Z","weight":"50","deleted_at":null,"override_host":null,"pool_id":"QjPTIOyTtgCuj99szEHJE6"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9976"
      Fastly-Ratelimit-Reset:
      - "1667584800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
