---
version: 1
interactions:
- request:
    body: Pool=4JUYQ8SpP9C2EeZ9eaYdEY&Server=4GkV4IILfxBvWT1cVRRbsD&Service=7i6HN3TK9wS159v2gPAZ8A&address=0.0.0.0&weight=50
    form:
      Pool:
      - 4JUYQ8SpP9C2EeZ9eaYdEY
      Server:
      - 4GkV4IILfxBvWT1cVRRbsD
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      address:
      - 0.0.0.0
      weight:
      - "50"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/pool/4JUYQ8SpP9C2EeZ9eaYdEY/server/4GkV4IILfxBvWT1cVRRbsD
    method: PUT
  response:
    body: '{"deleted_at":null,"disabled":false,"id":"4GkV4IILfxBvWT1cVRRbsD","comment":"","override_host":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","address":"0.0.0.0","updated_at":"2020-01-22T19:24:32Z","pool_id":"4JUYQ8SpP9C2EeZ9eaYdEY","created_at":"2020-01-22T19:24:32Z","weight":"50","max_conn":"0","port":"80"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "965"
      Fastly-Ratelimit-Reset:
      - "1579723200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
