---
version: 1
interactions:
- request:
    body: PoolID=4I1u39xj1EztfJHVzPo6BY&Server=5kmav70NchjgR8M9tjxtOz&ServiceID=3QSsca5ilwNVpceZ2HJIAH&address=0.0.0.0&weight=50
    form:
      PoolID:
      - 4I1u39xj1EztfJHVzPo6BY
      Server:
      - 5kmav70NchjgR8M9tjxtOz
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      address:
      - 0.0.0.0
      weight:
      - "50"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/pool/4I1u39xj1EztfJHVzPo6BY/server/5kmav70NchjgR8M9tjxtOz
    method: PUT
  response:
    body: '{"disabled":false,"port":"80","updated_at":"2021-11-03T17:14:36Z","weight":"50","service_id":"3QSsca5ilwNVpceZ2HJIAH","max_conn":"0","comment":"","override_host":null,"pool_id":"4I1u39xj1EztfJHVzPo6BY","deleted_at":null,"created_at":"2021-11-03T17:14:36Z","address":"0.0.0.0","id":"5kmav70NchjgR8M9tjxtOz"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4899"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
