---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=575&comment=comment&name=test-wordpress&path=%2Ffoo
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "575"
      comment:
      - comment
      name:
      - test-wordpress
      path:
      - /foo
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/575/wordpress
    method: POST
  response:
    body: '{"comment":"comment","name":"test-wordpress","path":"/foo","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":575}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "892"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
