---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=613&comment=comment&name=test-wordpress&path=%2Ffoo
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "613"
      comment:
      - comment
      name:
      - test-wordpress
      path:
      - /foo
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/613/wordpress
    method: POST
  response:
    body: '{"comment":"comment","name":"test-wordpress","path":"/foo","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":613,"deleted_at":null,"created_at":"2016-06-29T22:27:49+00:00","updated_at":"2016-06-29T22:27:49+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "867"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
