---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/575/wordpress/test-wordpress
    method: GET
  response:
    body: '{"version":575,"name":"test-wordpress","path":"/foo","service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"comment"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
