---
version: 1
interactions:
- request:
    body: Name=test-wordpress&Service=7i6HN3TK9wS159v2gPAZ8A&Version=575&name=new-test-wordpress
    form:
      Name:
      - test-wordpress
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "575"
      name:
      - new-test-wordpress
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/575/wordpress/test-wordpress
    method: PUT
  response:
    body: '{"version":575,"name":"new-test-wordpress","path":"/foo","service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"comment"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "881"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
