---
version: 1
interactions:
- request:
    body: Service=5ZTGLKH5LoWkfPUSAv1w6X&Version=2&name=WAf_Response&status=403
    form:
      Service:
      - 5ZTGLKH5LoWkfPUSAv1w6X
      Version:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5ZTGLKH5LoWkfPUSAv1w6X/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"5ZTGLKH5LoWkfPUSAv1w6X","version":"2","created_at":"2020-10-07T13:09:07Z","response":"ok","cache_condition":"","deleted_at":null,"content":null,"request_condition":"","content_type":null,"updated_at":"2020-10-07T13:09:07Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4944"
      Fastly-Ratelimit-Reset:
      - "1602079200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
