---
version: 1
interactions:
- request:
    body: comment=comment&name=test-service
    form:
      comment:
      - comment
      name:
      - test-service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"comment","name":"test-service","id":"1JuSDr4OX1my1sYa6vxNXV","updated_at":"2021-11-03T17:15:05Z","created_at":"2021-11-03T17:15:05Z","publish_key":"","versions":[{"staging":false,"deployed":false,"service_id":"1JuSDr4OX1my1sYa6vxNXV","created_at":"2021-11-03T17:15:05Z","updated_at":"2021-11-03T17:15:05Z","comment":"","active":false,"number":1,"testing":false,"locked":false,"deleted_at":null}],"type":"vcl","paused":false,"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4894"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
