---
version: 1
interactions:
- request:
    body: comment=comment&name=test-service
    form:
      comment:
      - comment
      name:
      - test-service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"comment","name":"test-service","deleted_at":null,"created_at":"2021-01-14T09:20:36Z","versions":[{"active":false,"locked":false,"number":1,"staging":false,"testing":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-01-14T09:20:36Z","created_at":"2021-01-14T09:20:36Z","deleted_at":null,"deployed":false,"comment":""}],"updated_at":"2021-01-14T09:20:36Z","publish_key":"","type":"vcl","id":"7i6HN3TK9wS159v2gPAZ8A","paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1610618400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
