---
version: 1
interactions:
- request:
    body: comment=comment&name=test-service
    form:
      comment:
      - comment
      name:
      - test-service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"comment","name":"test-service","type":"vcl","paused":false,"deleted_at":null,"updated_at":"2022-11-03T14:07:52Z","publish_key":"","created_at":"2022-11-03T14:07:52Z","versions":[{"service_id":"YVI5KaaM0YSe1CAmKAbic6","deployed":false,"staging":false,"comment":"","created_at":"2022-11-03T14:07:52Z","locked":false,"active":false,"number":1,"updated_at":"2022-11-03T14:07:52Z","testing":false,"deleted_at":null}],"id":"YVI5KaaM0YSe1CAmKAbic6"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9989"
      Fastly-Ratelimit-Reset:
      - "1667487600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
