---
version: 1
interactions:
- request:
    body: comment=comment&name=test-service
    form:
      comment:
      - comment
      name:
      - test-service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"comment","name":"test-service","updated_at":"2022-11-04T17:51:46Z","publish_key":"","versions":[{"deleted_at":null,"number":1,"created_at":"2022-11-04T17:51:46Z","service_id":"FPkmJNp1fH8CnWbdi21Wf3","updated_at":"2022-11-04T17:51:46Z","active":false,"comment":"","locked":false,"testing":false,"staging":false,"deployed":false}],"type":"vcl","deleted_at":null,"created_at":"2022-11-04T17:51:46Z","id":"FPkmJNp1fH8CnWbdi21Wf3","paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9952"
      Fastly-Ratelimit-Reset:
      - "1667584800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
