---
version: 1
rwmutex: {}
interactions:
- request:
    body: comment=comment&name=test-service
    form:
      comment:
      - comment
      name:
      - test-service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"76eo17QE8I25lqXy9uJqbd","comment":"comment","name":"test-service","created_at":"2019-05-11T17:03:47Z","publish_key":"ff100f0c03c61271b4052b07878159c721c4e897","deleted_at":null,"versions":[{"staging":false,"updated_at":"2019-05-11T17:03:47Z","deployed":false,"comment":"","service_id":"4cyy8qad5xykKfjyTCkGnq","locked":false,"number":1,"deleted_at":null,"testing":false,"created_at":"2019-05-11T17:03:47Z","active":false}],"id":"4cyy8qad5xykKfjyTCkGnq","updated_at":"2019-05-11T17:03:47Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "999"
      Fastly-Ratelimit-Reset:
      - "1557597600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
