---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/YVI5KaaM0YSe1CAmKAbic6/details
    method: GET
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","id":"YVI5KaaM0YSe1CAmKAbic6","created_at":"2022-11-03T14:07:52Z","updated_at":"2022-11-03T14:07:52Z","versions":[{"service_id":"YVI5KaaM0YSe1CAmKAbic6","active":false,"locked":false,"testing":false,"created_at":"2022-11-03T14:07:52Z","updated_at":"2022-11-03T14:07:52Z","deployed":false,"number":1,"deleted_at":null,"staging":false,"comment":""}],"deleted_at":null,"name":"test-service","comment":"comment","type":"vcl","version":{"staging":false,"updated_at":"2022-11-03T14:07:52Z","comment":"","locked":false,"service_id":"YVI5KaaM0YSe1CAmKAbic6","created_at":"2022-11-03T14:07:52Z","deployed":false,"deleted_at":null,"active":false,"testing":false,"number":1,"acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error":false,"general.stale_if_error_ttl":43200,"general.default_ttl":3600,"general.default_host":"","general.default_pci":0}},"active_version":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
