---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/details
    method: GET
  response:
    body: '{"created_at":"2021-01-14T09:20:36Z","type":"vcl","name":"test-service","versions":[{"locked":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-01-14T09:20:36Z","number":1,"deployed":false,"staging":false,"deleted_at":null,"comment":"","active":false,"testing":false,"created_at":"2021-01-14T09:20:36Z"}],"id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"comment","updated_at":"2021-01-14T09:20:36Z","version":{"deleted_at":null,"comment":"","staging":false,"deployed":false,"number":1,"service_id":"7i6HN3TK9wS159v2gPAZ8A","locked":false,"created_at":"2021-01-14T09:20:36Z","active":false,"updated_at":"2021-01-14T09:20:36Z","testing":false,"acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_pci":0,"general.stale_if_error":false,"general.stale_if_error_ttl":43200,"general.default_host":"","general.default_ttl":3600}},"active_version":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
