---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/FPkmJNp1fH8CnWbdi21Wf3/details
    method: GET
  response:
    body: '{"deleted_at":null,"customer_id":"51MumwLiSJyFTWhtbByYgR","id":"FPkmJNp1fH8CnWbdi21Wf3","created_at":"2022-11-04T17:51:46Z","type":"vcl","name":"test-service","comment":"comment","versions":[{"comment":"","locked":false,"updated_at":"2022-11-04T17:51:46Z","testing":false,"deployed":false,"created_at":"2022-11-04T17:51:46Z","staging":false,"deleted_at":null,"active":false,"number":1,"service_id":"FPkmJNp1fH8CnWbdi21Wf3"}],"updated_at":"2022-11-04T17:51:46Z","version":{"testing":false,"active":false,"staging":false,"number":1,"deployed":false,"service_id":"FPkmJNp1fH8CnWbdi21Wf3","comment":"","updated_at":"2022-11-04T17:51:46Z","locked":false,"deleted_at":null,"created_at":"2022-11-04T17:51:46Z","acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_ttl":3600,"general.stale_if_error_ttl":43200,"general.stale_if_error":false,"general.default_pci":0,"general.default_host":""}},"active_version":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
