---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/1JuSDr4OX1my1sYa6vxNXV/details
    method: GET
  response:
    body: '{"name":"test-service","type":"vcl","id":"1JuSDr4OX1my1sYa6vxNXV","comment":"comment","updated_at":"2021-11-03T17:15:05Z","versions":[{"service_id":"1JuSDr4OX1my1sYa6vxNXV","comment":"","updated_at":"2021-11-03T17:15:05Z","deleted_at":null,"active":false,"testing":false,"number":1,"created_at":"2021-11-03T17:15:05Z","locked":false,"staging":false,"deployed":false}],"created_at":"2021-11-03T17:15:05Z","deleted_at":null,"customer_id":"51MumwLiSJyFTWhtbByYgR","version":{"active":false,"created_at":"2021-11-03T17:15:05Z","number":1,"deleted_at":null,"deployed":false,"comment":"","staging":false,"service_id":"1JuSDr4OX1my1sYa6vxNXV","updated_at":"2021-11-03T17:15:05Z","locked":false,"testing":false,"acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.stale_if_error_ttl":43200,"general.default_pci":0,"general.default_ttl":3600,"general.default_host":"","general.stale_if_error":false}},"active_version":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
