---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/details
    method: GET
  response:
    body: '{"created_at":"2021-01-13T18:56:56Z","type":"vcl","versions":[{"created_at":"2021-01-13T18:56:56Z","testing":false,"deployed":false,"deleted_at":null,"staging":false,"comment":"","active":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-01-13T18:56:56Z","number":1,"locked":false},{"active":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","deleted_at":null,"comment":"","staging":false,"deployed":false,"testing":false,"created_at":"2021-01-13T19:00:27Z","locked":false,"number":2,"updated_at":"2021-01-13T19:00:31Z"},{"updated_at":"2021-01-13T19:00:35Z","number":3,"locked":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","testing":false,"created_at":"2021-01-13T19:00:32Z","active":false,"deployed":false,"comment":"","deleted_at":null,"staging":false},{"number":4,"updated_at":"2[...]
