---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/4cyy8qad5xykKfjyTCkGnq/details
    method: GET
  response:
    body: '{"name":"test-service","created_at":"2019-05-11T17:03:47Z","updated_at":"2019-05-11T17:03:47Z","deleted_at":null,"versions":[{"created_at":"2019-05-11T17:03:47Z","locked":false,"active":false,"staging":false,"deleted_at":null,"testing":false,"comment":"","service_id":"4cyy8qad5xykKfjyTCkGnq","number":1,"deployed":false,"updated_at":"2019-05-11T17:03:47Z"}],"id":"4cyy8qad5xykKfjyTCkGnq","comment":"comment","customer_id":"76eo17QE8I25lqXy9uJqbd","version":{"service_id":"4cyy8qad5xykKfjyTCkGnq","staging":false,"updated_at":"2019-05-11T17:03:47Z","created_at":"2019-05-11T17:03:47Z","locked":false,"number":1,"deployed":false,"active":false,"deleted_at":null,"comment":"","testing":false,"acls":[],"backends":[],"cache_settings":[],"conditions":[],"dictionaries":[],"directors":[],"domains":[],"gzips":[],"headers":[],"healthchecks":[],"request_settings":[],"response_objects":[],"snippets":[],"vcls":[],"wordpress":[],"settings":{"general.default_host":"","general.default_ttl":3600,"general.stale_if_error":false,"general.stale_if_error_ttl":43200,"general.default_pci":0}},"active_version":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
