---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/6cqczz91loS2dnXX5w9UIC/domain
    method: GET
  response:
    body: '[
    {
        "locked": true,
        "version": 1,
        "name": "abc.com",
        "deleted_at": null,
        "service_id": "6cqczz91loS2dnXX5w9UIC",
        "created_at": "2017-05-06T04:53:04Z",
        "comment": "",
        "updated_at": "2017-05-06T04:53:04Z"
    },
    {
        "locked": true,
        "version": 1,
        "name": "def.com",
        "deleted_at": null,
        "service_id": "6cqczz91loS2dnXX5w9UIC",
        "created_at": "2017-05-07T05:28:19Z",
        "comment": "",
        "updated_at": "2017-05-07T05:28:19Z"
    }]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
