---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A
    method: GET
  response:
    body: '{"name":"test-service","created_at":"2021-01-14T09:20:36Z","versions":[{"locked":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-01-14T09:20:36Z","number":1,"deployed":false,"staging":false,"deleted_at":null,"comment":"","active":false,"testing":false,"created_at":"2021-01-14T09:20:36Z"}],"paused":false,"deleted_at":null,"comment":"comment","customer_id":"51MumwLiSJyFTWhtbByYgR","publish_key":"","updated_at":"2021-01-14T09:20:36Z","type":"vcl","id":"7i6HN3TK9wS159v2gPAZ8A"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
