---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/YVI5KaaM0YSe1CAmKAbic6
    method: GET
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","paused":false,"comment":"comment","deleted_at":null,"name":"test-service","publish_key":"","created_at":"2022-11-03T14:07:52Z","updated_at":"2022-11-03T14:07:52Z","id":"YVI5KaaM0YSe1CAmKAbic6","versions":[{"service_id":"YVI5KaaM0YSe1CAmKAbic6","active":false,"locked":false,"testing":false,"created_at":"2022-11-03T14:07:52Z","updated_at":"2022-11-03T14:07:52Z","deployed":false,"number":1,"deleted_at":null,"staging":false,"comment":""}],"type":"vcl"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
