---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/1JuSDr4OX1my1sYa6vxNXV
    method: GET
  response:
    body: '{"created_at":"2021-11-03T17:15:05Z","name":"test-service","versions":[{"service_id":"1JuSDr4OX1my1sYa6vxNXV","comment":"","updated_at":"2021-11-03T17:15:05Z","deleted_at":null,"active":false,"testing":false,"number":1,"created_at":"2021-11-03T17:15:05Z","locked":false,"staging":false,"deployed":false}],"updated_at":"2021-11-03T17:15:05Z","paused":false,"id":"1JuSDr4OX1my1sYa6vxNXV","deleted_at":null,"publish_key":"","comment":"comment","customer_id":"51MumwLiSJyFTWhtbByYgR","type":"vcl"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
