---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service?direction=descend&page=1&per_page=1&sort=created
    method: GET
  response:
    body: '[{"id":"FPkmJNp1fH8CnWbdi21Wf3","updated_at":"2022-11-04T17:51:46Z","created_at":"2022-11-04T17:51:46Z","comment":"comment","type":"vcl","versions":[{"updated_at":"2022-11-04T17:51:46Z","created_at":"2022-11-04T17:51:46Z","comment":"","testing":false,"deployed":false,"locked":false,"number":1,"staging":false,"deleted_at":null,"service_id":"FPkmJNp1fH8CnWbdi21Wf3","active":false}],"paused":false,"customer_id":"51MumwLiSJyFTWhtbByYgR","deleted_at":null,"version":1,"name":"test-service"}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.fastly.com/service?direction=descend&page=420&per_page=1&sort=created>;
        rel="last", <https://api.fastly.com/service?direction=descend&page=2&per_page=1&sort=created>;
        rel="next"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
