---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service?direction=descend&page=1&per_page=200&sort=created
    method: GET
  response:
    body: '[{"name":"testing-paginator","deleted_at":null,"versions":[{"deleted_at":null,"service_id":"ab1cd2EfGHIJ34KlmnOpQ5","locked":false,"updated_at":"2023-11-17T18:01:10Z","testing":false,"comment":"","deployed":false,"created_at":"2023-11-17T17:41:13Z","active":false,"number":1,"staging":false}],"updated_at":"2023-11-17T17:41:13Z","paused":false,"comment":"","created_at":"2023-11-17T17:41:13Z","version":1,"customer_id":"ab1cd2EfGHIJ34KlmnOpQ5","type":"vcl","id":"mjvYB61u7BiqD3Nzkl69P3"},{"updated_at":"2023-11-08T10:54:31Z","name":"test-req-setting-unset-behaviour","deleted_at":null,"versions":[{"number":1,"created_at":"2023-11-08T10:54:31Z","active":false,"staging":false,"updated_at":"2023-11-08T11:23:39Z","locked":false,"service_id":"ab1cd2EfGHIJ34KlmnOpQ5","deleted_at":null,"deployed":false,"testing":false,"comment":""}],"paused":false,"comment":"","customer_id":"ab1cd2EfGHIJ34KlmnOpQ5","created_at":"2023-11-08T10:54:31Z","version":1,"id":"xp9zn9GbDI[...]
[...]
