---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service
    method: GET
  response:
    body: '[{"customer_id":"76eo17QE8I25lqXy9uJqbd","comment":"Managed by Terraform","versions":[{"active":true,"deployed":false,"number":1,"locked":true,"comment":"","testing":false,"staging":false,"service_id":"5ITAdHmjs0z86y7j2WlLqU","deleted_at":null,"updated_at":"2019-05-02T18:42:07Z","created_at":"2019-05-02T18:40:31Z"}],"id":"5ITAdHmjs0z86y7j2WlLqU","version":1,"name":"demofastly","updated_at":"2019-05-02T18:40:31Z","created_at":"2019-05-02T18:40:31Z"},{"version":1,"name":"test","updated_at":"2019-04-17T00:15:03Z","created_at":"2019-04-17T00:15:03Z","comment":"Managed
      by Terraform","id":"7i6HN3TK9wS159v2gPAZ8A","versions":[{"testing":false,"deployed":false,"active":true,"comment":"","number":1,"locked":true,"updated_at":"2019-04-17T00:15:10Z","created_at":"2019-04-17T00:15:03Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":false,"deleted_at":null},{"c[...]
