---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service
    method: GET
  response:
    body: '[{"version":2,"versions":[{"comment":"","number":1,"deleted_at":null,"service_id":"1gsJT1cnPAVWOHz21yBe3a","testing":false,"active":false,"updated_at":"2021-01-07T15:53:01Z","created_at":"2021-01-07T14:04:24Z","locked":true,"staging":false,"deployed":false},{"created_at":"2021-01-07T15:50:58Z","testing":false,"service_id":"1gsJT1cnPAVWOHz21yBe3a","updated_at":"2021-01-07T15:53:01Z","active":true,"comment":"","deleted_at":null,"number":2,"deployed":false,"locked":true,"staging":false}],"updated_at":"2021-01-07T14:27:15Z","id":"1gsJT1cnPAVWOHz21yBe3a","type":"vcl","comment":"","created_at":"2021-01-07T14:04:24Z","customer_id":"51MumwLiSJyFTWhtbByYgR","name":"CLI
      Dynamic Config"},{"comment":"","customer_id":"51MumwLiSJyFTWhtbByYgR","name":"Go-Fastly
      Tests","created_at":"2021-01-13T18:56:56Z","updated_at":"2021-01-14T09:06:30Z","versions":[{"comment":"","number":1,"deleted_at":null,"testing":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2021-01-13T18:56:56Z","active":false,"created_at":"2021-01-13T18:56:56Z","locked":false,"staging":false,"deployed":false},{"service_id":"7i6HN3TK9wS159v2gPAZ8A","staging":false,"locked":false,"[...]
