---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service?direction=descend&page=1&per_page=1&sort=created
    method: GET
  response:
    body: '[{"version":1,"id":"7i6HN3TK9wS159v2gPAZ8A","versions":[{"updated_at":"2022-01-10T10:22:27Z","number":1,"created_at":"2022-01-10T10:21:11Z","comment":"","testing":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","locked":true,"deployed":false,"active":true,"deleted_at":null,"staging":false}],"paused":false,"deleted_at":null,"created_at":"2022-01-10T10:21:11Z","type":"vcl","updated_at":"2022-01-10T10:21:28Z","name":"tf-test","comment":"","customer_id":"2mEgzQsbxIHPAkmXcKCBG5"}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.fastly.com/service?direction=descend&page=51&per_page=1&sort=created>;
        rel="last", <https://api.fastly.com/service?direction=descend&page=2&per_page=1&sort=created>;
        rel="next"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
