version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
      url: https://api.fastly.com/service?direction=descend&page=1&per_page=1&sort=created
      method: GET
    response:
      body: '[{"name":"testing-paginator-1","updated_at":"2023-11-17T17:41:13Z","paused":false,"versions":[{"deleted_at":null,"created_at":"2023-11-17T17:41:13Z","active":false,"staging":false,"comment":"","locked":false,"service_id":"mjvYB61u7BiqD3Nzkl69P3","number":1,"testing":false,"deployed":false,"updated_at":"2023-11-17T18:01:10Z"}],"version":1,"type":"vcl","id":"mjvYB61u7BiqD3Nzkl69P3","created_at":"2023-11-17T17:41:13Z","deleted_at":null,"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":""}]'
      headers:
        Content-Type:
          - application/json
        Link:
          - <https://api.fastly.com/service?direction=descend&page=3&per_page=100&sort=created>; rel="last", <https://api.fastly.com/service?direction=descend&page=2&per_page=1&sort=created>; rel="next"
        Status:
          - 200 OK
      status: 200 OK
      code: 200
      duration: ""
[...]
