---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service?direction=descend&page=1&per_page=100&sort=created
    method: GET
  response:
    body: '[{"id":"mjvYB61u7BiqD3Nzkl69P3","type":"vcl","customer_id":"51MumwLiSJyFTWhtbByYgR","version":1,"created_at":"2023-11-17T17:41:13Z","comment":"","paused":false,"updated_at":"2023-11-17T17:41:13Z","deleted_at":null,"versions":[{"active":false,"created_at":"2023-11-17T17:41:13Z","number":1,"staging":false,"service_id":"mjvYB61u7BiqD3Nzkl69P3","deleted_at":null,"updated_at":"2023-11-17T18:01:10Z","locked":false,"deployed":false,"testing":false,"comment":""}],"name":"testing-paginator"},{"id":"xp9zn9GbDIOY33VquzNtG0","type":"vcl","customer_id":"51MumwLiSJyFTWhtbByYgR","created_at":"2023-11-08T10:54:31Z","version":1,"paused":false,"comment":"","updated_at":"2023-11-08T10:54:31Z","name":"test-req-setting-unset-behaviour","deleted_at":null,"versions":[{"deployed":false,"testing":false,"comment":"","deleted_at":null,"service_id":"xp9zn9GbDIOY33VquzNtG0","locked":false,"updated_at":"2023-11-08T11:23:39Z","staging":false,"active":false,"created_at":"2023-11-08T10[...]
[...]
