---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service?direction=descend&page=1&per_page=1&sort=created
    method: GET
  response:
    body: '[{"id":"YVI5KaaM0YSe1CAmKAbic6","version":1,"name":"test-service","versions":[{"active":false,"locked":false,"updated_at":"2022-11-03T14:07:52Z","number":1,"testing":false,"service_id":"YVI5KaaM0YSe1CAmKAbic6","deleted_at":null,"staging":false,"deployed":false,"comment":"","created_at":"2022-11-03T14:07:52Z"}],"created_at":"2022-11-03T14:07:52Z","comment":"comment","customer_id":"51MumwLiSJyFTWhtbByYgR","updated_at":"2022-11-03T14:07:52Z","deleted_at":null,"paused":false,"type":"vcl"}]'
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.fastly.com/service?direction=descend&page=420&per_page=1&sort=created>;
        rel="last", <https://api.fastly.com/service?direction=descend&page=2&per_page=1&sort=created>;
        rel="next"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
