---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service?direction=descend&page=1&per_page=200&sort=created
    method: GET
  response:
    body: '[{"name":"testing-paginator","comment":"","versions":[{"number":1,"testing":false,"service_id":"mjvYB61u7BiqD3Nzkl69P3","staging":false,"deleted_at":null,"created_at":"2023-11-17T17:41:13Z","deployed":false,"locked":false,"updated_at":"2023-11-17T18:01:10Z","active":false,"comment":""}],"updated_at":"2023-11-17T17:41:13Z","id":"mjvYB61u7BiqD3Nzkl69P3","customer_id":"51MumwLiSJyFTWhtbByYgR","created_at":"2023-11-17T17:41:13Z","paused":false,"type":"vcl","deleted_at":null,"version":1},{"paused":false,"type":"vcl","id":"xp9zn9GbDIOY33VquzNtG0","created_at":"2023-11-08T10:54:31Z","customer_id":"51MumwLiSJyFTWhtbByYgR","versions":[{"created_at":"2023-11-08T10:54:31Z","deployed":false,"locked":false,"comment":"","updated_at":"2023-11-08T11:23:39Z","active":false,"number":1,"testing":false,"staging":false,"service_id":"xp9zn9GbDIOY33VquzNtG0","deleted_at":null}],"comment":"","updated_at":"2023-11-08T10:54:31Z","name":"test-req-setting-unset-beh[...]
[...]
