---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service
    method: GET
  response:
    body: '[{"updated_at":"2021-11-02T16:09:21Z","versions":[{"comment":"","locked":false,"active":false,"updated_at":"2021-11-02T16:09:22Z","deleted_at":null,"deployed":false,"number":1,"staging":false,"testing":false,"service_id":"7frORaFZvHgC6eRAJdA7kf","created_at":"2021-11-02T16:09:21Z"}],"type":"vcl","name":"demofastly","comment":"Managed
      by Terraform","version":1,"created_at":"2021-11-02T16:09:21Z","id":"7frORaFZvHgC6eRAJdA7kf","customer_id":"51MumwLiSJyFTWhtbByYgR"},{"comment":"","version":89,"customer_id":"51MumwLiSJyFTWhtbByYgR","created_at":"2021-03-24T12:53:58Z","id":"3QSsca5ilwNVpceZ2HJIAH","updated_at":"2021-11-03T17:09:50Z","type":"vcl","name":"Go-Fastly
      VCR Generation","versions":[{"deployed":false,"staging":false,"number":1,"service_id":"3QSsca5ilwNVpceZ2HJIAH","testing":false,"created_at":"2021-03-24T12:53:58Z","updated_at":"2021-03-24T12:53:58Z","deleted_at":null,"active":false,"comment":"","locked":false},{"active[...]
