---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/search?name=test-service
    method: GET
  response:
    body: '{"comment":"comment","deleted_at":null,"customer_id":"51MumwLiSJyFTWhtbByYgR","updated_at":"2022-11-04T17:51:46Z","type":"vcl","name":"test-service","id":"FPkmJNp1fH8CnWbdi21Wf3","versions":[{"staging":false,"number":1,"created_at":"2022-11-04T17:51:46Z","service_id":"FPkmJNp1fH8CnWbdi21Wf3","locked":false,"deleted_at":null,"comment":"","active":false,"updated_at":"2022-11-04T17:51:46Z","testing":false,"deployed":false}],"created_at":"2022-11-04T17:51:46Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
