---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/search?name=test-service
    method: GET
  response:
    body: '{"deleted_at":null,"name":"test-service","updated_at":"2019-05-11T17:03:47Z","created_at":"2019-05-11T17:03:47Z","customer_id":"76eo17QE8I25lqXy9uJqbd","id":"4cyy8qad5xykKfjyTCkGnq","versions":[{"testing":false,"active":false,"deployed":false,"comment":"","locked":false,"number":1,"updated_at":"2019-05-11T17:03:47Z","created_at":"2019-05-11T17:03:47Z","service_id":"4cyy8qad5xykKfjyTCkGnq","staging":false,"deleted_at":null}],"comment":"comment"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
