---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/search?name=test-service
    method: GET
  response:
    body: '{"deleted_at":null,"customer_id":"51MumwLiSJyFTWhtbByYgR","created_at":"2021-11-03T17:15:05Z","id":"1JuSDr4OX1my1sYa6vxNXV","comment":"comment","versions":[{"number":1,"staging":false,"deployed":false,"service_id":"1JuSDr4OX1my1sYa6vxNXV","created_at":"2021-11-03T17:15:05Z","testing":false,"updated_at":"2021-11-03T17:15:05Z","deleted_at":null,"active":false,"comment":"","locked":false}],"type":"vcl","name":"test-service","updated_at":"2021-11-03T17:15:05Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
