---
version: 1
rwmutex: {}
interactions:
- request:
    body: ID=4cyy8qad5xykKfjyTCkGnq&name=new-test-service
    form:
      ID:
      - 4cyy8qad5xykKfjyTCkGnq
      name:
      - new-test-service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/4cyy8qad5xykKfjyTCkGnq
    method: PUT
  response:
    body: '{"name":"new-test-service","customer_id":"76eo17QE8I25lqXy9uJqbd","publish_key":"ff100f0c03c61271b4052b07878159c721c4e897","created_at":"2019-05-11T17:03:47Z","comment":"comment","updated_at":"2019-05-11T17:03:47Z","id":"4cyy8qad5xykKfjyTCkGnq","versions":[{"created_at":"2019-05-11T17:03:47Z","locked":false,"active":false,"staging":false,"deleted_at":null,"testing":false,"comment":"","service_id":"4cyy8qad5xykKfjyTCkGnq","number":1,"deployed":false,"updated_at":"2019-05-11T17:03:47Z"}],"deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "998"
      Fastly-Ratelimit-Reset:
      - "1557597600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
