---
version: 1
interactions:
- request:
    body: ServiceID=1JuSDr4OX1my1sYa6vxNXV&name=new-test-service
    form:
      ServiceID:
      - 1JuSDr4OX1my1sYa6vxNXV
      name:
      - new-test-service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/1JuSDr4OX1my1sYa6vxNXV
    method: PUT
  response:
    body: '{"created_at":"2021-11-03T17:15:05Z","name":"new-test-service","versions":[{"service_id":"1JuSDr4OX1my1sYa6vxNXV","comment":"","updated_at":"2021-11-03T17:15:05Z","deleted_at":null,"active":false,"testing":false,"number":1,"created_at":"2021-11-03T17:15:05Z","locked":false,"staging":false,"deployed":false}],"updated_at":"2021-11-03T17:15:05Z","paused":false,"id":"1JuSDr4OX1my1sYa6vxNXV","deleted_at":null,"publish_key":"","comment":"comment","customer_id":"51MumwLiSJyFTWhtbByYgR","type":"vcl"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4893"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
