---
version: 1
interactions:
- request:
    body: ServiceID=FPkmJNp1fH8CnWbdi21Wf3&name=new-test-service
    form:
      ServiceID:
      - FPkmJNp1fH8CnWbdi21Wf3
      name:
      - new-test-service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/FPkmJNp1fH8CnWbdi21Wf3
    method: PUT
  response:
    body: '{"comment":"comment","type":"vcl","updated_at":"2022-11-04T17:51:46Z","customer_id":"51MumwLiSJyFTWhtbByYgR","paused":false,"deleted_at":null,"created_at":"2022-11-04T17:51:46Z","id":"FPkmJNp1fH8CnWbdi21Wf3","name":"new-test-service","versions":[{"comment":"","locked":false,"updated_at":"2022-11-04T17:51:46Z","testing":false,"deployed":false,"created_at":"2022-11-04T17:51:46Z","staging":false,"deleted_at":null,"active":false,"number":1,"service_id":"FPkmJNp1fH8CnWbdi21Wf3"}],"publish_key":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9951"
      Fastly-Ratelimit-Reset:
      - "1667584800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
