---
version: 1
interactions:
- request:
    body: ServiceID=YVI5KaaM0YSe1CAmKAbic6&name=new-test-service
    form:
      ServiceID:
      - YVI5KaaM0YSe1CAmKAbic6
      name:
      - new-test-service
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/YVI5KaaM0YSe1CAmKAbic6
    method: PUT
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","paused":false,"comment":"comment","deleted_at":null,"name":"new-test-service","publish_key":"","created_at":"2022-11-03T14:07:52Z","updated_at":"2022-11-03T14:07:52Z","id":"YVI5KaaM0YSe1CAmKAbic6","versions":[{"service_id":"YVI5KaaM0YSe1CAmKAbic6","active":false,"locked":false,"testing":false,"created_at":"2022-11-03T14:07:52Z","updated_at":"2022-11-03T14:07:52Z","deployed":false,"number":1,"deleted_at":null,"staging":false,"comment":""}],"type":"vcl"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9988"
      Fastly-Ratelimit-Reset:
      - "1667487600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
