---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/tls/configurations/TLS_CONFIGURATION_ID
    method: GET
  response:
    body: '{"data":{"id":"TLS_CONFIGURATION_ID","type":"tls_configuration","attributes":{"bulk":false,"created_at":"2018-09-11T20:59:51.000Z","default":true,"http_protocols":["http/1.1","http/2"],"name":"My configuration","tls_protocols":["1.2","1.3"],"updated_at":"2020-10-20T22:16:11.000Z","tls_1_2_cipher_suite_profile":["ECDHE-RSA-AES128-GCM-SHA256","ECDHE-RSA-AES128-SHA256","ECDHE-RSA-AES128-SHA","ECDHE-RSA-AES256-GCM-SHA384","ECDHE-RSA-CHACHA20-POLY1305","ECDHE-RSA-AES256-SHA384","ECDHE-RSA-AES256-SHA","AES128-GCM-SHA256","AES256-GCM-SHA384","AES128-SHA256","AES256-SHA","AES128-SHA"],"tls_1_3_cipher_suite_profile":["TLS_AES_128_GCM_SHA256","TLS_AES_256_GCM_SHA384","TLS_CHACHA20_POLY1305_SHA256"],"vipspace":"myvipspace"},"relationships":{"default_certificate":{"data":{"id":"1TTgJM5iiNcHi8V5cwCYk0","type":"tls_certificate"}},"default_ecdsa_certificate":{"data":null},"dns_records":{"data":[{"id":"IP_ADDRESS","type":"dns_record"}]}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
