---
version: 1
interactions:
- request:
    body: |
      {"data":{"type":"","attributes":{"id":"TLS_CONFIGURATION_ID","name":"My configuration v2"}}}
    form: {}
    headers:
      Content-Type:
      - application/vnd.api+json
    url: https://api.fastly.com/tls/configurations/TLS_CONFIGURATION_ID
    method: PATCH
  response:
    body: '{"data":{"id":"TLS_CONFIGURATION_ID","type":"tls_configuration","attributes":{"bulk":false,"created_at":"2018-09-11T20:59:51.000Z","default":true,"http_protocols":["http/1.1","http/2"],"name":"My configuration v2","tls_protocols":["1.2"],"updated_at":"2020-10-22T22:38:24.000Z"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
