---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/556/cache_settings/test-cache-setting
    method: GET
  response:
    body: '{"stale_ttl":"1500","version":"556","ttl":"1234","name":"test-cache-setting","service_id":"7i6HN3TK9wS159v2gPAZ8A","cache_condition":"","action":"cache"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
