---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/594/cache_settings
    method: GET
  response:
    body: '[{"stale_ttl":"1500","version":"594","ttl":"1234","name":"test-cache-setting","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","cache_condition":"","created_at":"2016-06-29T22:27:28+00:00","action":"cache","updated_at":"2016-06-29T22:27:28+00:00"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
