---
version: 1
interactions:
- request:
    body: Name=test-cache-setting&Service=7i6HN3TK9wS159v2gPAZ8A&Version=594&name=new-test-cache-setting
    form:
      Name:
      - test-cache-setting
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "594"
      name:
      - new-test-cache-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/594/cache_settings/test-cache-setting
    method: PUT
  response:
    body: '{"stale_ttl":"1500","version":"594","ttl":"1234","name":"new-test-cache-setting","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","cache_condition":"","created_at":"2016-06-29T22:27:28+00:00","action":"cache","updated_at":"2016-06-29T22:27:28+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "963"
      Fastly-Ratelimit-Reset:
      - "1467241200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
