---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-cache-setting&Service=7i6HN3TK9wS159v2gPAZ8A&Version=666&name=new-test-cache-setting
    form:
      Name:
      - test-cache-setting
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "666"
      name:
      - new-test-cache-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/666/cache_settings/test-cache-setting
    method: PUT
  response:
    body: '{"stale_ttl":"1500","version":"666","ttl":"1234","name":"new-test-cache-setting","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","cache_condition":"","created_at":"2017-04-17T16:01:03+00:00","action":"cache","updated_at":"2017-04-17T16:01:03+00:00"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "866"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
