---
version: 1
interactions:
- request:
    body: action=lookup&bypass_busy_wait=1&default_host=example.com&force_miss=1&force_ssl=1&geo_headers=1&hash_keys=a%2Cb%2Cc&max_stale_age=30&name=test-request-setting&timer_support=1&xff=leave
    form:
      action:
      - lookup
      bypass_busy_wait:
      - "1"
      default_host:
      - example.com
      force_miss:
      - "1"
      force_ssl:
      - "1"
      geo_headers:
      - "1"
      hash_keys:
      - a,b,c
      max_stale_age:
      - "30"
      name:
      - test-request-setting
      timer_support:
      - "1"
      xff:
      - leave
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/94/request_settings
    method: POST
  response:
    body: '{"action":"lookup","bypass_busy_wait":"1","default_host":"example.com","force_miss":"1","force_ssl":"1","geo_headers":"1","hash_keys":"a,b,c","max_stale_age":"30","name":"test-request-setting","timer_support":"1","xff":"leave","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"94","updated_at":"2022-11-07T14:19:11Z","request_condition":"","deleted_at":null,"created_at":"2022-11-07T14:19:11Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9986"
      Fastly-Ratelimit-Reset:
      - "1667833200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
