---
version: 1
interactions:
- request:
    body: ServiceID=3QSsca5ilwNVpceZ2HJIAH&ServiceVersion=85&action=lookup&bypass_busy_wait=1&default_host=example.com&force_miss=1&force_ssl=1&geo_headers=1&hash_keys=a%2Cb%2Cc&max_stale_age=30&name=test-request-setting&timer_support=1&xff=leave
    form:
      ServiceID:
      - 3QSsca5ilwNVpceZ2HJIAH
      ServiceVersion:
      - "85"
      action:
      - lookup
      bypass_busy_wait:
      - "1"
      default_host:
      - example.com
      force_miss:
      - "1"
      force_ssl:
      - "1"
      geo_headers:
      - "1"
      hash_keys:
      - a,b,c
      max_stale_age:
      - "30"
      name:
      - test-request-setting
      timer_support:
      - "1"
      xff:
      - leave
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/85/request_settings
    method: POST
  response:
    body: '{"action":"lookup","bypass_busy_wait":"1","default_host":"example.com","force_miss":"1","force_ssl":"1","geo_headers":"1","hash_keys":"a,b,c","max_stale_age":"30","name":"test-request-setting","timer_support":"1","xff":"leave","service_id":"3QSsca5ilwNVpceZ2HJIAH","version":"85","deleted_at":null,"updated_at":"2021-11-03T17:11:58Z","request_condition":"","created_at":"2021-11-03T17:11:58Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4939"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
