---
version: 1
interactions:
- request:
    body: action=lookup&bypass_busy_wait=1&default_host=example.com&force_miss=1&force_ssl=1&geo_headers=1&hash_keys=a%2Cb%2Cc&max_stale_age=30&name=test-request-setting&timer_support=1&xff=leave
    form:
      action:
      - lookup
      bypass_busy_wait:
      - "1"
      default_host:
      - example.com
      force_miss:
      - "1"
      force_ssl:
      - "1"
      geo_headers:
      - "1"
      hash_keys:
      - a,b,c
      max_stale_age:
      - "30"
      name:
      - test-request-setting
      timer_support:
      - "1"
      xff:
      - leave
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/4/request_settings
    method: POST
  response:
    body: '{"action":"lookup","bypass_busy_wait":"1","default_host":"example.com","force_miss":"1","force_ssl":"1","geo_headers":"1","hash_keys":"a,b,c","max_stale_age":"30","name":"test-request-setting","timer_support":"1","xff":"leave","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"4","deleted_at":null,"request_condition":"","updated_at":"2023-11-16T15:53:54Z","created_at":"2023-11-16T15:53:54Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9993"
      Fastly-Ratelimit-Reset:
      - "1700150400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
