---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/56/request_settings/test-request-setting
    method: GET
  response:
    body: '{"force_miss":"1","action":"lookup","created_at":"2021-01-14T10:46:45Z","force_ssl":"1","xff":"leave","request_condition":"","deleted_at":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test-request-setting","max_stale_age":"30","default_host":"example.com","bypass_busy_wait":"1","timer_support":"1","version":"56","updated_at":"2021-01-14T10:46:45Z","geo_headers":"1","hash_keys":"a,b,c"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
