---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/4/request_settings/test-request-setting
    method: GET
  response:
    body: '{"geo_headers":"1","request_condition":"","default_host":"example.com","name":"test-request-setting","force_miss":"1","version":"4","max_stale_age":"30","deleted_at":null,"xff":"leave","bypass_busy_wait":"1","updated_at":"2023-11-16T15:53:54Z","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2023-11-16T15:53:54Z","hash_keys":"a,b,c","force_ssl":"1","timer_support":"1","action":"lookup"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
