---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/94/request_settings/test-request-setting
    method: GET
  response:
    body: '{"force_miss":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","max_stale_age":"30","name":"test-request-setting","hash_keys":"a,b,c","action":"lookup","bypass_busy_wait":"1","created_at":"2022-11-07T14:19:11Z","force_ssl":"1","request_condition":"","geo_headers":"1","timer_support":"1","xff":"leave","default_host":"example.com","updated_at":"2022-11-07T14:19:11Z","version":"94","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
