---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/35/request_settings/test-request-setting
    method: GET
  response:
    body: '{"bypass_busy_wait":"1","timer_support":"1","force_miss":"1","hash_keys":"a,b,c","name":"test-request-setting","created_at":"2019-05-09T21:58:03Z","action":"lookup","service_id":"7i6HN3TK9wS159v2gPAZ8A","request_condition":"","version":"35","max_stale_age":"30","xff":"leave","default_host":"example.com","force_ssl":"1","deleted_at":null,"geo_headers":"1","updated_at":"2019-05-09T21:58:03Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
