---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/85/request_settings/test-request-setting
    method: GET
  response:
    body: '{"max_stale_age":"30","action":"lookup","updated_at":"2021-11-03T17:11:58Z","default_host":"example.com","xff":"leave","bypass_busy_wait":"1","request_condition":"","name":"test-request-setting","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2021-11-03T17:11:58Z","version":"85","hash_keys":"a,b,c","deleted_at":null,"geo_headers":"1","timer_support":"1","force_ssl":"1","force_miss":"1"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
