---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7AfpC5AR6GFm8x8edlSAFX/version/78/request_settings/test-request-setting
    method: GET
  response:
    body: '{"request_condition":"","force_ssl":"1","timer_support":"1","xff":"leave","hash_keys":"a,b,c","updated_at":"2021-11-26T07:18:25Z","service_id":"7AfpC5AR6GFm8x8edlSAFX","default_host":"example.com","deleted_at":null,"max_stale_age":"30","created_at":"2021-11-26T07:18:25Z","version":"78","action":"lookup","bypass_busy_wait":"1","geo_headers":"1","force_miss":"1","name":"test-request-setting"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
