---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/94/request_settings
    method: GET
  response:
    body: '[{"default_host":"example.com","xff":"leave","created_at":"2022-11-07T14:19:11Z","deleted_at":null,"timer_support":"1","geo_headers":"1","name":"test-request-setting","bypass_busy_wait":"1","version":"94","max_stale_age":"30","action":"lookup","force_miss":"1","hash_keys":"a,b,c","updated_at":"2022-11-07T14:19:11Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","request_condition":"","force_ssl":"1"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
