---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/56/request_settings
    method: GET
  response:
    body: '[{"max_stale_age":"30","hash_keys":"a,b,c","action":"lookup","service_id":"7i6HN3TK9wS159v2gPAZ8A","geo_headers":"1","default_host":"example.com","version":"56","created_at":"2021-01-14T10:46:45Z","timer_support":"1","updated_at":"2021-01-14T10:46:45Z","bypass_busy_wait":"1","deleted_at":null,"force_miss":"1","xff":"leave","request_condition":"","force_ssl":"1","name":"test-request-setting"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
