---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/687/request_settings
    method: GET
  response:
    body: '[{"force_ssl":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","max_stale_age":"30","request_condition":"","timer_support":"1","updated_at":"2017-07-20T01:15:10+00:00","geo_headers":"1","version":"687","name":"test-request-setting","deleted_at":null,"default_host":"example.com","created_at":"2017-07-20T01:15:10+00:00","hash_keys":"a,b,c","xff":"leave","action":"lookup","force_miss":"1","bypass_busy_wait":"1"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
