---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/3QSsca5ilwNVpceZ2HJIAH/version/85/request_settings
    method: GET
  response:
    body: '[{"geo_headers":"1","deleted_at":null,"force_miss":"1","name":"test-request-setting","default_host":"example.com","bypass_busy_wait":"1","xff":"leave","request_condition":"","updated_at":"2021-11-03T17:11:58Z","action":"lookup","version":"85","force_ssl":"1","timer_support":"1","created_at":"2021-11-03T17:11:58Z","service_id":"3QSsca5ilwNVpceZ2HJIAH","hash_keys":"a,b,c","max_stale_age":"30"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
