---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7AfpC5AR6GFm8x8edlSAFX/version/78/request_settings
    method: GET
  response:
    body: '[{"created_at":"2021-11-26T07:18:25Z","max_stale_age":"30","xff":"leave","deleted_at":null,"hash_keys":"a,b,c","force_ssl":"1","name":"test-request-setting","force_miss":"1","updated_at":"2021-11-26T07:18:25Z","version":"78","bypass_busy_wait":"1","request_condition":"","timer_support":"1","geo_headers":"1","action":"lookup","default_host":"example.com","service_id":"7AfpC5AR6GFm8x8edlSAFX"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
