---
version: 1
interactions:
- request:
    body: name=new-test-request-setting
    form:
      name:
      - new-test-request-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/94/request_settings/test-request-setting
    method: PUT
  response:
    body: '{"hash_keys":"a,b,c","default_host":"example.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","force_miss":"1","created_at":"2022-11-07T14:19:11Z","request_condition":"","xff":"leave","bypass_busy_wait":"1","max_stale_age":"30","deleted_at":null,"version":"94","geo_headers":"1","force_ssl":"1","action":"lookup","updated_at":"2022-11-07T14:19:11Z","name":"new-test-request-setting","timer_support":"1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9985"
      Fastly-Ratelimit-Reset:
      - "1667833200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
