---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-request-setting&Service=7i6HN3TK9wS159v2gPAZ8A&Version=35&name=new-test-request-setting
    form:
      Name:
      - test-request-setting
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "35"
      name:
      - new-test-request-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/35/request_settings/test-request-setting
    method: PUT
  response:
    body: '{"request_condition":"","service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2019-05-09T21:58:03Z","action":"lookup","name":"new-test-request-setting","hash_keys":"a,b,c","force_miss":"1","timer_support":"1","bypass_busy_wait":"1","updated_at":"2019-05-09T21:58:03Z","geo_headers":"1","deleted_at":null,"force_ssl":"1","default_host":"example.com","xff":"leave","max_stale_age":"30","version":"35"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "995"
      Fastly-Ratelimit-Reset:
      - "1557439200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
