---
version: 1
interactions:
- request:
    body: action=pass&name=new-test-request-setting
    form:
      action:
      - pass
      name:
      - new-test-request-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/4/request_settings/test-request-setting
    method: PUT
  response:
    body: '{"name":"new-test-request-setting","created_at":"2023-11-16T15:53:54Z","xff":"leave","deleted_at":null,"force_miss":"1","geo_headers":"1","force_ssl":"1","updated_at":"2023-11-16T15:53:54Z","request_condition":"","action":"pass","bypass_busy_wait":"1","version":"4","max_stale_age":"30","service_id":"kKJb5bOFI47uHeBVluGfX1","timer_support":"1","hash_keys":"a,b,c","default_host":"example.com"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9992"
      Fastly-Ratelimit-Reset:
      - "1700150400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
