---
version: 1
interactions:
- request:
    body: action=
    form:
      action:
      - ""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/4/request_settings/new-test-request-setting
    method: PUT
  response:
    body: '{"action":"","geo_headers":"1","version":"4","request_condition":"","deleted_at":null,"xff":"leave","created_at":"2023-11-16T15:53:54Z","timer_support":"1","service_id":"kKJb5bOFI47uHeBVluGfX1","updated_at":"2023-11-16T15:53:55Z","max_stale_age":"30","bypass_busy_wait":"1","force_ssl":"1","name":"new-test-request-setting","hash_keys":"a,b,c","default_host":"example.com","force_miss":"1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9991"
      Fastly-Ratelimit-Reset:
      - "1700150400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
