---
version: 1
interactions:
- request:
    body: Name=test-request-setting&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=56&name=new-test-request-setting
    form:
      Name:
      - test-request-setting
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "56"
      name:
      - new-test-request-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/56/request_settings/test-request-setting
    method: PUT
  response:
    body: '{"request_condition":"","max_stale_age":"30","bypass_busy_wait":"1","force_ssl":"1","updated_at":"2021-01-14T10:46:45Z","version":"56","xff":"leave","deleted_at":null,"default_host":"example.com","geo_headers":"1","action":"lookup","force_miss":"1","created_at":"2021-01-14T10:46:45Z","name":"new-test-request-setting","service_id":"7i6HN3TK9wS159v2gPAZ8A","timer_support":"1","hash_keys":"a,b,c"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "645"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
