---
version: 1
interactions:
- request:
    body: action=
    form:
      action:
      - ""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/4/request_settings/new-test-request-setting
    method: PUT
  response:
    body: '{"force_ssl":"1","service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2023-11-16T15:53:54Z","hash_keys":"a,b,c","updated_at":"2023-11-16T15:53:56Z","bypass_busy_wait":"1","action":"","timer_support":"1","force_miss":"1","default_host":"example.com","name":"new-test-request-setting","request_condition":"","geo_headers":"1","xff":"leave","deleted_at":null,"max_stale_age":"30","version":"4"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9990"
      Fastly-Ratelimit-Reset:
      - "1700150400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
