---
version: 1
interactions:
- request:
    body: Name=test-request-setting&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=85&name=new-test-request-setting
    form:
      Name:
      - test-request-setting
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "85"
      name:
      - new-test-request-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/85/request_settings/test-request-setting
    method: PUT
  response:
    body: '{"name":"new-test-request-setting","service_id":"7i6HN3TK9wS159v2gPAZ8A","force_miss":"1","hash_keys":"a,b,c","timer_support":"1","action":"lookup","created_at":"2021-11-03T17:11:58Z","request_condition":"","updated_at":"2021-11-03T17:11:58Z","bypass_busy_wait":"1","deleted_at":null,"version":"85","xff":"leave","force_ssl":"1","default_host":"example.com","max_stale_age":"30","geo_headers":"1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4938"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
