---
version: 1
interactions:
- request:
    body: Name=test-request-setting&ServiceID=7i6HN3TK9wS159v2gPAZ8A&ServiceVersion=78&name=new-test-request-setting
    form:
      Name:
      - test-request-setting
      ServiceID:
      - 7i6HN3TK9wS159v2gPAZ8A
      ServiceVersion:
      - "78"
      name:
      - new-test-request-setting
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/78/request_settings/test-request-setting
    method: PUT
  response:
    body: '{"hash_keys":"a,b,c","bypass_busy_wait":"1","name":"new-test-request-setting","force_miss":"1","updated_at":"2021-11-26T07:18:25Z","timer_support":"1","default_host":"example.com","geo_headers":"1","created_at":"2021-11-26T07:18:25Z","action":"lookup","version":"78","force_ssl":"1","service_id":"7i6HN3TK9wS159v2gPAZ8A","max_stale_age":"30","request_condition":"","deleted_at":null,"xff":"leave"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4968"
      Fastly-Ratelimit-Reset:
      - "1637913600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
