---
version: 1
interactions:
- request:
    body: format=format&index=%7B%22env%22%3A+%22prod%22%7D&name=test-grafanacloudlogs&placement=none&token=abcd1234&url=https%3A%2F%2Ftest123.grafana.net&user=123456
    form:
      format:
      - format
      index:
      - '{"env": "prod"}'
      name:
      - test-grafanacloudlogs
      placement:
      - none
      token:
      - abcd1234
      url:
      - https://test123.grafana.net
      user:
      - "123456"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/165/logging/grafanacloudlogs
    method: POST
  response:
    body: '{"format":"format","index":"{\"env\": \"prod\"}","name":"test-grafanacloudlogs","placement":"none","token":"abcd1234","url":"https://test123.grafana.net","user":"123456","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"165","updated_at":"2026-07-23T19:29:42Z","created_at":"2026-07-23T19:29:42Z","format_version":"2","response_condition":"","deleted_at":null,"log_processing_region":"none"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9791"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
