---
version: 1
interactions:
- request:
    body: format=format&index=%7B%22env%22%3A+%22prod%22%7D&name=test-grafanacloudlogs&token=abcd1234&url=https%3A%2F%2Ftest123.grafana.net&user=123456
    form:
      format:
      - format
      index:
      - '{"env": "prod"}'
      name:
      - test-grafanacloudlogs
      token:
      - abcd1234
      url:
      - https://test123.grafana.net
      user:
      - "123456"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/23/logging/grafanacloudlogs
    method: POST
  response:
    body: '{"format":"format","index":"{\"env\": \"prod\"}","name":"test-grafanacloudlogs","token":"abcd1234","url":"https://test123.grafana.net","user":"123456","service_id":"kKJb5bOFI47uHeBVluGfX1","version":"23","updated_at":"2025-02-28T21:34:00Z","deleted_at":null,"placement":null,"created_at":"2025-02-28T21:34:00Z","format_version":"2","response_condition":""}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9873"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
