---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/165/logging/grafanacloudlogs/test-grafanacloudlogs
    method: GET
  response:
    body: '{"placement":"none","version":"165","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"format_version":"2","user":"123456","response_condition":"","updated_at":"2026-07-23T19:29:42Z","token":"abcd1234","index":"{\"env\":
      \"prod\"}","format":"format","name":"test-grafanacloudlogs","created_at":"2026-07-23T19:29:42Z","url":"https://test123.grafana.net","log_processing_region":"none"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
