---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/23/logging/grafanacloudlogs/test-grafanacloudlogs
    method: GET
  response:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1","name":"test-grafanacloudlogs","user":"123456","placement":null,"updated_at":"2025-02-28T21:34:00Z","created_at":"2025-02-28T21:34:00Z","token":"abcd1234","url":"https://test123.grafana.net","response_condition":"","deleted_at":null,"index":"{\"env\":
      \"prod\"}","format_version":"2","format":"format","version":"23"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
