---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/113/logging/grafanacloudlogs/test-grafanacloudlogs
    method: GET
  response:
    body: '{"service_id":"kKJb5bOFI47uHeBVluGfX1","name":"test-grafanacloudlogs","placement":"waf_debug","format_version":"2","created_at":"2025-06-04T15:09:27Z","user":"123456","format":"format","updated_at":"2025-06-04T15:09:27Z","deleted_at":null,"response_condition":"","url":"https://test123.grafana.net","index":"{\"env\":
      \"prod\"}","token":"abcd1234","version":"113","log_processing_region":"none"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
