---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/113/logging/grafanacloudlogs
    method: GET
  response:
    body: '[{"placement":"waf_debug","index":"{\"env\": \"prod\"}","deleted_at":null,"version":"113","log_processing_region":"none","url":"https://test123.grafana.net","format_version":"2","name":"test-grafanacloudlogs","updated_at":"2025-06-04T15:09:27Z","created_at":"2025-06-04T15:09:27Z","token":"abcd1234","format":"format","response_condition":"","user":"123456","service_id":"kKJb5bOFI47uHeBVluGfX1"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
