---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/138/logging/grafanacloudlogs
    method: GET
  response:
    body: '[{"url":"https://test123.grafana.net","index":"{\"env\": \"prod\"}","format":"format","created_at":"2024-10-24T19:43:58Z","format_version":"2","response_condition":"","placement":"waf_debug","updated_at":"2024-10-24T19:43:58Z","service_id":"kKJb5bOFI47uHeBVluGfX1","deleted_at":null,"name":"test-grafanacloudlogs","token":"abcd1234","version":"138","user":"123456"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
