---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/23/logging/grafanacloudlogs
    method: GET
  response:
    body: '[{"updated_at":"2025-02-28T21:34:00Z","url":"https://test123.grafana.net","index":"{\"env\":
      \"prod\"}","deleted_at":null,"response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","token":"abcd1234","user":"123456","name":"test-grafanacloudlogs","format_version":"2","format":"format","placement":null,"version":"23","created_at":"2025-02-28T21:34:00Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
