---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/165/logging/grafanacloudlogs
    method: GET
  response:
    body: '[{"service_id":"kKJb5bOFI47uHeBVluGfX1","created_at":"2026-07-23T19:29:42Z","name":"test-grafanacloudlogs","updated_at":"2026-07-23T19:29:42Z","response_condition":"","placement":"none","token":"abcd1234","user":"123456","format_version":"2","index":"{\"env\":
      \"prod\"}","log_processing_region":"none","deleted_at":null,"version":"165","url":"https://test123.grafana.net","format":"format"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
