---
version: 1
interactions:
- request:
    body: format_version=2&index=%7B%22env%22%3A+%22staging%22%7D&name=new-test-grafanacloudlogs&placement=waf_debug&token=abcd6789&url=https%3A%2F%2Ftest456.grafana.net
    form:
      format_version:
      - "2"
      index:
      - '{"env": "staging"}'
      name:
      - new-test-grafanacloudlogs
      placement:
      - waf_debug
      token:
      - abcd6789
      url:
      - https://test456.grafana.net
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/138/logging/grafanacloudlogs/test-grafanacloudlogs
    method: PUT
  response:
    body: '{"deleted_at":null,"token":"abcd6789","name":"new-test-grafanacloudlogs","version":"138","user":"123456","updated_at":"2024-10-24T19:43:58Z","service_id":"kKJb5bOFI47uHeBVluGfX1","format":"format","created_at":"2024-10-24T19:43:58Z","format_version":"2","response_condition":"","placement":"waf_debug","url":"https://test456.grafana.net","index":"{\"env\":
      \"staging\"}"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "990"
      Fastly-Ratelimit-Reset:
      - "1729800000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
