---
version: 1
interactions:
- request:
    body: format_version=2&index=%7B%22env%22%3A+%22staging%22%7D&name=new-test-grafanacloudlogs&token=abcd6789&url=https%3A%2F%2Ftest456.grafana.net
    form:
      format_version:
      - "2"
      index:
      - '{"env": "staging"}'
      name:
      - new-test-grafanacloudlogs
      token:
      - abcd6789
      url:
      - https://test456.grafana.net
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/23/logging/grafanacloudlogs/test-grafanacloudlogs
    method: PUT
  response:
    body: '{"updated_at":"2025-02-28T21:34:00Z","response_condition":"","service_id":"kKJb5bOFI47uHeBVluGfX1","index":"{\"env\":
      \"staging\"}","version":"23","deleted_at":null,"format_version":"2","token":"abcd6789","url":"https://test456.grafana.net","placement":null,"created_at":"2025-02-28T21:34:00Z","format":"format","name":"new-test-grafanacloudlogs","user":"123456"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9859"
      Fastly-Ratelimit-Reset:
      - "1740780000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
