---
version: 1
interactions:
- request:
    body: '{"format_version":2,"name":"new-test-grafanacloudlogs","placement":null,"log_processing_region":"eu","token":"abcd6789","url":"https://test456.grafana.net","index":"{\"env\":
      \"staging\"}"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/165/logging/grafanacloudlogs/test-grafanacloudlogs
    method: PUT
  response:
    body: '{"deleted_at":null,"version":"165","response_condition":"","index":"{\"env\":
      \"staging\"}","name":"new-test-grafanacloudlogs","format_version":"2","placement":null,"created_at":"2026-07-23T19:29:42Z","url":"https://test456.grafana.net","updated_at":"2026-07-23T19:29:42Z","user":"123456","log_processing_region":"eu","token":"abcd6789","format":"format","service_id":"kKJb5bOFI47uHeBVluGfX1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9780"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
