---
version: 1
interactions:
- request:
    body: format_version=2&index=%7B%22env%22%3A+%22staging%22%7D&log_processing_region=eu&name=new-test-grafanacloudlogs&placement=waf_debug&token=abcd6789&url=https%3A%2F%2Ftest456.grafana.net
    form:
      format_version:
      - "2"
      index:
      - '{"env": "staging"}'
      log_processing_region:
      - eu
      name:
      - new-test-grafanacloudlogs
      placement:
      - waf_debug
      token:
      - abcd6789
      url:
      - https://test456.grafana.net
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/113/logging/grafanacloudlogs/test-grafanacloudlogs
    method: PUT
  response:
    body: '{"updated_at":"2025-06-04T15:09:27Z","created_at":"2025-06-04T15:09:27Z","url":"https://test456.grafana.net","log_processing_region":"eu","version":"113","index":"{\"env\":
      \"staging\"}","format":"format","token":"abcd6789","name":"new-test-grafanacloudlogs","deleted_at":null,"placement":"waf_debug","service_id":"kKJb5bOFI47uHeBVluGfX1","response_condition":"","user":"123456","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9922"
      Fastly-Ratelimit-Reset:
      - "1749052800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
