---
version: 1
interactions:
- request:
    body: format_version=2&name=new-test-grafanacloudlogs&region=EU
    form:
      format_version:
      - "2"
      name:
      - new-test-grafanacloudlogs
      region:
      - EU
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/44/logging/grafanacloudlogs/test-grafanacloudlogs
    method: PUT
  response:
    body: '{"response_condition":"","token":"abcd1234","updated_at":"2022-11-04T13:29:41Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","placement":"waf_debug","format_version":"2","format":"format","name":"new-test-grafanacloudlogs","created_at":"2022-11-04T13:29:41Z","version":"44","deleted_at":null,"region":"EU"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9984"
      Fastly-Ratelimit-Reset:
      - "1667570400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
