---
version: 1
interactions:
- request:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test name","description":"test
      description","metric":"status_5xx","source":"domains","dimensions":{"domains":["example.com","fastly.com"]},"evaluation_strategy":{"period":"5m0s","threshold":10,"type":"above_threshold"},"integration_ids":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/alerts/definitions
    method: POST
  response:
    body: '{"id":"4NhOijGgkEjdOwKpcvBo9a","object":"definition","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test
      name","description":"test description","dimensions":{"domains":["example.com","fastly.com"]},"metric":"status_5xx","source":"domains","evaluation_strategy":{"type":"above_threshold","period":"5m0s","threshold":10},"silenced":false,"integration_ids":[],"updated_at":"2024-01-12T22:40:41Z","created_at":"2024-01-12T22:40:41Z"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
