---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/alerts/definitions?created_by=&cursor=&limit=10&name=test+name&service_customer_id=&service_id=7i6HN3TK9wS159v2gPAZ8A&sort=name
    method: GET
  response:
    body: '{"data":[{"id":"4NhOijGgkEjdOwKpcvBo9a","object":"definition","service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test
      name","description":"test description","dimensions":{"domains":["example.com","fastly.com"]},"metric":"status_5xx","source":"domains","evaluation_strategy":{"type":"above_threshold","period":"5m0s","threshold":10},"silenced":false,"integration_ids":[],"updated_at":"2024-01-12T22:40:41Z","created_at":"2024-01-12T22:40:41Z"}],"meta":{"next_cursor":"","limit":10,"sort":"name","total":1}}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
