---
version: 1
interactions:
- request:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","name":"test name","description":"test
      description","metric":"status_5xx","source":"domains","dimensions":{"domains":["example.com","fastly.com"]},"evaluation_strategy":{"period":"5m0s","threshold":10,"type":"above_threshold"},"integration_ids":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/alerts/definitions/test
    method: POST
  response:
    body: ""
    headers:
      Status:
      - 202 Accepted
    status: 202 Accepted
    code: 202
    duration: ""
