---
version: 1
interactions:
- request:
    body: '{"description":"My dashboard is super cool.","items":[{"data_source":{"config":{"metrics":["requests"]},"type":"stats.edge"},"span":4,"subtitle":"This
      is a subtitle","title":"A Dashboard Item","visualization":{"config":{"plot_type":"line"},"type":"chart"}}],"name":"My
      Cool Dashboard"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/observability/dashboards
    method: POST
  response:
    body: '{"id":"4d8YrSYlEVN7O9q55PTROf","name":"My Cool Dashboard","description":"My
      dashboard is super cool.","items":[{"id":"4Ntbw0nSnAOre49gUjzpE8","span":4,"title":"A
      Dashboard Item","subtitle":"This is a subtitle","data_source":{"type":"stats.edge","config":{"metrics":["requests"]}},"visualization":{"type":"chart","config":{"plot_type":"line"}}}],"created_at":"2024-09-16T18:50:27Z","updated_at":"2024-09-16T18:50:27Z","created_by":"7Y26Rzri7e1Jp2feVbkX8H","updated_by":"7Y26Rzri7e1Jp2feVbkX8H"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
