---
version: 1
interactions:
- request:
    body: '{"description":"My dashboard is super cool.","items":[],"name":"My Cool
      Dashboard"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/observability/dashboards
    method: POST
  response:
    body: '{"id":"2i2SYSBHe4ktahuorJrn8P","name":"My Cool Dashboard","description":"My
      dashboard is super cool.","items":[],"created_at":"2024-09-13T21:08:15Z","updated_at":"2024-09-13T21:08:15Z","created_by":"7Y26Rzri7e1Jp2feVbkX8H","updated_by":"7Y26Rzri7e1Jp2feVbkX8H"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
