---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/observability/dashboards/2i2SYSBHe4ktahuorJrn8P
    method: GET
  response:
    body: '{"id":"2i2SYSBHe4ktahuorJrn8P","name":"My Cool Dashboard","description":"My
      dashboard is super cool.","items":[],"created_at":"2024-09-13T21:08:15Z","updated_at":"2024-09-13T21:08:15Z","created_by":"7Y26Rzri7e1Jp2feVbkX8H","updated_by":"7Y26Rzri7e1Jp2feVbkX8H"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
