---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/observability/dashboards
    method: GET
  response:
    body: '{"data":[{"id":"5lPlp5aTUCOr0nSHqaVzC8","name":"asdf","description":"","items":[],"created_at":"2023-05-04T17:47:06Z","updated_at":"2024-01-17T23:11:54Z","created_by":"","updated_by":""},{"id":"61RxWJKW4NWsa5jGKV4l4A","name":"asdf","description":"","items":[],"created_at":"2023-05-04T17:47:44Z","updated_at":"2024-01-17T23:11:56Z","created_by":"","updated_by":""},{"id":"6KBJDGi7aQar6dxGp8gN20","name":"asdfdsf","description":"","items":[],"created_at":"2023-05-04T17:48:24Z","updated_at":"2023-05-11T18:29:26Z","created_by":"","updated_by":""},{"id":"3JMZfcutzVaFUjlAHr6Pba","name":"Dashboard
      for testing api","description":"","items":[{"id":"1zqTeY6KzSrI7CFFOinG2P","span":4,"title":"test
      donut","subtitle":"asdfadfsf","data_source":{"type":"stats.edge","config":{"metrics":["compute_resp_body_bytes","compute_resp_header_bytes"]}},"visualization":{"type":"chart","config":{"plot_type":"donut","calculation_method":"sum"}}},{"id":"p5o2e65VeqtSLXFjrrngR","span":8,"title":"fart","subtitle":"this
      chart''s a fart","data_source":{"type":"stats.edge","config":{"metrics":["cache_hit_ratio"]}},"visualization":{"type":"chart","config":{"plot_type":"single-metric","calculation_method":"min"}}}],"created_at":"2023-07-28T16:54:56Z","updated_at":"2024-03-18T18:36:18Z","created_by":"","updated_by":""},{"id":"4tWc6Hr1MXJZcubU38Dpq8","name":"Dropdown
      test","description":"","items":[],"created_at":"2023-04-17T1[...]
