---
version: 1
interactions:
- request:
    body: '{"description":"My dashboard just got even cooler.","items":[{"data_source":{"config":{"metrics":["edge_hit_requests"]},"type":"stats.edge"},"id":"4Ntbw0nSnAOre49gUjzpE8","span":4,"subtitle":"This
      is a subtitle","title":"An Updated Dashboard Item","visualization":{"config":{"plot_type":"single-metric"},"type":"chart"}},{"data_source":{"config":{"metrics":["requests"]},"type":"stats.edge"},"span":4,"subtitle":"This
      is a subtitle","title":"A New Dashboard Item","visualization":{"config":{"plot_type":"line"},"type":"chart"}}],"name":"My
      Updated Dashboard"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/observability/dashboards/4d8YrSYlEVN7O9q55PTROf
    method: PATCH
  response:
    body: '{"id":"4d8YrSYlEVN7O9q55PTROf","name":"My Updated Dashboard","description":"My
      dashboard just got even cooler.","items":[{"id":"4Ntbw0nSnAOre49gUjzpE8","span":4,"title":"An
      Updated Dashboard Item","subtitle":"This is a subtitle","data_source":{"type":"stats.edge","config":{"metrics":["edge_hit_requests"]}},"visualization":{"type":"chart","config":{"plot_type":"single-metric"}}},{"id":"2u2k23O7s7RHwHaPHbW1Pg","span":4,"title":"A
      New Dashboard Item","subtitle":"This is a subtitle","data_source":{"type":"stats.edge","config":{"metrics":["requests"]}},"visualization":{"type":"chart","config":{"plot_type":"line"}}}],"created_at":"2024-09-16T18:50:27Z","updated_at":"2024-09-16T18:50:28Z","created_by":"7Y26Rzri7e1Jp2feVbkX8H","updated_by":"7Y26Rzri7e1Jp2feVbkX8H"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
