---
version: 1
interactions:
- request:
    body: '{"description":"My dashboard just got even cooler.","items":[{"data_source":{"config":{"metrics":["requests"]},"type":"stats.edge"},"span":4,"subtitle":"This
      is a subtitle","title":"A Dashboard Item","visualization":{"config":{"plot_type":"line"},"type":"chart"}}],"name":"My
      Updated Dashboard"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/observability/dashboards/2i2SYSBHe4ktahuorJrn8P
    method: PATCH
  response:
    body: '{"id":"2i2SYSBHe4ktahuorJrn8P","name":"My Updated Dashboard","description":"My
      dashboard just got even cooler.","items":[{"id":"6bWq84DyDKEm2I6xlZxNQ2","span":4,"title":"A
      Dashboard Item","subtitle":"This is a subtitle","data_source":{"type":"stats.edge","config":{"metrics":["requests"]}},"visualization":{"type":"chart","config":{"plot_type":"line"}}}],"created_at":"2024-09-13T21:08:15Z","updated_at":"2024-09-13T21:08:16Z","created_by":"7Y26Rzri7e1Jp2feVbkX8H","updated_by":"7Y26Rzri7e1Jp2feVbkX8H"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
