---
version: 1
interactions:
- request:
    body: Service=1qNbCw880P3rmalHHls5Oc&Version=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      Service:
      - 1qNbCw880P3rmalHHls5Oc
      Version:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/1qNbCw880P3rmalHHls5Oc/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"1qNbCw880P3rmalHHls5Oc","version":"2","tls_ca_cert":null,"placement":null,"updated_at":"2019-11-28T12:43:21Z","deleted_at":null,"ipv4":null,"tls_client_cert":null,"tls_client_key":null,"created_at":"2019-11-28T12:43:21Z","tls_hostname":null,"use_tls":"0","response_condition":"","public_key":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "983"
      Fastly-Ratelimit-Reset:
      - "1574946000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
