---
version: 1
interactions:
- request:
    body: Service=0tMlTqfWhijgsh07mPyFJq&Version=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      Service:
      - 0tMlTqfWhijgsh07mPyFJq
      Version:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/0tMlTqfWhijgsh07mPyFJq/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"0tMlTqfWhijgsh07mPyFJq","version":"2","tls_client_cert":null,"response_condition":"","use_tls":"0","deleted_at":null,"ipv4":null,"placement":null,"public_key":null,"tls_client_key":null,"tls_hostname":null,"tls_ca_cert":null,"updated_at":"2020-06-30T10:56:24Z","created_at":"2020-06-30T10:56:24Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "689"
      Fastly-Ratelimit-Reset:
      - "1593514800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
