---
version: 1
interactions:
- request:
    body: ServiceID=6s6XYgWIfncJBH1QjI40RJ&ServiceVersion=2&address=example.com&format=format&format_version=2&hostname=example.com&message_type=classic&name=test-syslog&port=1234&token=abcd1234
    form:
      ServiceID:
      - 6s6XYgWIfncJBH1QjI40RJ
      ServiceVersion:
      - "2"
      address:
      - example.com
      format:
      - format
      format_version:
      - "2"
      hostname:
      - example.com
      message_type:
      - classic
      name:
      - test-syslog
      port:
      - "1234"
      token:
      - abcd1234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/6s6XYgWIfncJBH1QjI40RJ/version/2/logging/syslog
    method: POST
  response:
    body: '{"address":"example.com","format":"format","format_version":"2","hostname":"example.com","message_type":"classic","name":"test-syslog","port":"1234","token":"abcd1234","service_id":"6s6XYgWIfncJBH1QjI40RJ","version":"2","deleted_at":null,"response_condition":"","updated_at":"2021-11-03T17:30:37Z","use_tls":"0","tls_client_key":null,"created_at":"2021-11-03T17:30:37Z","public_key":null,"ipv4":null,"placement":null,"tls_ca_cert":null,"tls_hostname":null,"tls_client_cert":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4749"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
