---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/660/logging/papertrail/test-papertrail
    method: GET
  response:
    body: '{"placement":null,"format_version":"2","hostname":"integ-test.go-fastly.com","response_condition":"","address":"integ-test.go-fastly.com","public_key":null,"updated_at":"2017-04-17T16:01:00+00:00","name":"test-papertrail","port":"1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"660","deleted_at":null,"created_at":"2017-04-17T16:01:00+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
