---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - d631487398e146a8593ddd71d384c7e6
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/604/logging/papertrail/test-papertrail
    method: GET
  response:
    body: '{"format_version":"1","hostname":"integ-test.go-fastly.com","response_condition":"","address":"integ-test.go-fastly.com","public_key":null,"updated_at":"2016-06-29T22:27:40+00:00","name":"test-papertrail","port":"1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"604","deleted_at":null,"created_at":"2016-06-29T22:27:40+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
