---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-papertrail&Service=7i6HN3TK9wS159v2gPAZ8A&Version=660&name=new-test-papertrail
    form:
      Name:
      - test-papertrail
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "660"
      name:
      - new-test-papertrail
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/660/logging/papertrail/test-papertrail
    method: PUT
  response:
    body: '{"placement":null,"format_version":"2","hostname":"integ-test.go-fastly.com","response_condition":"","address":"integ-test.go-fastly.com","public_key":null,"updated_at":"2017-04-17T16:01:00+00:00","name":"new-test-papertrail","port":"1234","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"660","deleted_at":null,"created_at":"2017-04-17T16:01:00+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "902"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
