---
version: 1
interactions:
- request:
    body: '{"attack_signal_thresholds":{"one_minute":10000,"ten_minutes":10000,"one_hour":10000,"immediate":true},"client_ip_headers":["X-Forwarded-For","X-Real-IP"],"default_blocking_response_code":null,"description":"test-description","ip_anonymization":"hashed","mode":"log","name":"test-workspace"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces
    method: POST
  response:
    body: |
      {"id":"tI3gQ2limlBvTNrEnEGOvG","name":"test-workspace","description":"test-description","mode":"log","deployment_type":"edge","attack_signal_thresholds":{"one_minute":10000,"ten_minutes":10000,"one_hour":10000,"immediate":true},"ip_anonymization":"hashed","default_blocking_response_code":406,"client_ip_headers":["X-Forwarded-For","X-Real-IP"],"created_at":"2025-06-23T19:45:51Z","updated_at":"2025-06-23T19:45:51.670920659Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
