---
version: 1
interactions:
- request:
    body: '{"attack_signal_thresholds":{"one_minute":10000,"ten_minutes":10000,"one_hour":10000,"immediate":true},"client_ip_headers":["X-Forwarded-For","X-Real-IP"],"description":"test-description","ip_anonymization":"hashed","mode":"log","name":"test-workspace"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces
    method: POST
  response:
    body: |
      {"id":"MypxgPKkUl0JZAkQc59r5Y","name":"test-workspace","description":"test-description","mode":"log","attack_signal_thresholds":{"one_minute":10000,"ten_minutes":10000,"one_hour":10000,"immediate":true},"ip_anonymization":"hashed","default_blocking_response_code":406,"client_ip_headers":["X-Forwarded-For","X-Real-IP"],"created_at":"2025-08-06T18:16:55Z","updated_at":"2025-08-06T18:16:55.838529761Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
