---
version: 1
interactions:
- request:
    body: '{"name":"test-workspace","description":"test-description","mode":"log","attack_signal_thresholds":{"one_minute":10000,"ten_minutes":10000,"one_hour":10000,"immediate":true},"ip_anonymization":"hashed"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces
    method: POST
  response:
    body: |
      {"id":"1ZxmBhEF6b3PCBXarHgpbF","name":"test-workspace","description":"test-description","mode":"log","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":"hashed","created_at":"2025-05-15T14:04:52Z","updated_at":"2025-05-15T14:04:52.666421197Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
