---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/1ZxmBhEF6b3PCBXarHgpbF
    method: GET
  response:
    body: |
      {"id":"1ZxmBhEF6b3PCBXarHgpbF","name":"test-workspace","description":"test-description","mode":"log","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":"hashed","created_at":"2025-05-15T14:04:52Z","updated_at":"2025-05-15T14:04:52.666Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
