---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/bjr85duNV9apZrb9aUhnf8
    method: GET
  response:
    body: |
      {"id":"bjr85duNV9apZrb9aUhnf8","name":"test-workspace","description":"test-description","mode":"log","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":"hashed","created_at":"2025-05-14T18:52:19Z","updated_at":"2025-05-14T18:52:19.735Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
