---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces
    method: GET
  response:
    body: |
      {"data":[{"id":"AYAHkxy8DOTLoccK6uNllM","name":"Fastly DevEx Engineering 2 Workspace","description":"","mode":"log","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":null,"default_blocking_response_code":406,"client_ip_headers":[],"created_at":"2025-06-25T18:27:44Z","updated_at":"2025-06-25T18:28:45.383Z"},{"id":"LD9NphxDt26cZ1UA8n8L4C","name":"tf_ceea5e4b241b4b35f6f3b3f77117fe78_1","description":"Test NGWAF Workspace 1","mode":"block","deployment_type":"edge","attack_signal_thresholds":{"one_minute":100,"ten_minutes":500,"one_hour":1000,"immediate":true},"ip_anonymization":"hashed","default_blocking_response_code":406,"client_ip_headers":[],"created_at":"2025-06-27T17:40:33Z","updated_at":"2025-06-27T17:42:23.48Z"}],"meta":{"limit":100,"total":2}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
