---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces
    method: GET
  response:
    body: |
      {"data":[{"id":"6gzmZa1Qcil2kMOa41KBkY","name":"Fastly (TF testing) Workspace","description":"","mode":"log","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":null,"created_at":"2024-11-01T19:00:29Z","updated_at":"2025-05-07T17:08:07.348Z"},{"id":"NpRmlxJi2MDHVXMTO6HUuv","name":"foo","description":"bar","mode":"log","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":null,"created_at":"2025-05-04T14:33:44Z","updated_at":"2025-05-05T17:27:01.861Z"},{"id":"alk6DTsYKHKucJCOIavaJM","name":"go-fastly testing workspace","description":"","mode":"off","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":null,"created_at":"2024-11-27T14:51:17Z","updated_at":"2025-01-21T21:50:38.262Z"},{"id":"HOOtCTHWliNzu03maajU0K","name":"k_p_test","description":"foobar","mode":"log","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":null,"created_at":"2025-05-09T15:38:03Z","updated_at":"2025-05-09T15:39:49.583Z"},{"id":"t54VsHxiQANXaTzmbDM3Ip","name":"k_p_test","description":"foo","mode":"log","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":null,"created_at":"2025-05-09T15:38:21Z","updated_at":"2025-05-09T15:40:20.545Z"}],"meta":{"limit":100,"total":5}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
