---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces
    method: GET
  response:
    body: |
      {"data":[{"id":"zMgiN24DM2iByyl0ABXNC7","name":"457eac305eb4d18150bf915516aad91f","description":"Test NGWAF Workspace","mode":"block","attack_signal_thresholds":{"one_minute":100,"ten_minutes":500,"one_hour":1000,"immediate":true},"ip_anonymization":"hashed","default_blocking_response_code":429,"client_ip_headers":["X-Forwarded-For","X-Real-IP"],"created_at":"2025-07-28T19:24:48Z","updated_at":"2025-08-05T00:13:40.105Z"},{"id":"3BIdf12sLeUk9DHc8DGEJE","name":"51f9eaf5b355e8ebc1e27cec3f0e1879","description":"Test NGWAF Workspace","mode":"block","attack_signal_thresholds":{"one_minute":100,"ten_minutes":500,"one_hour":1000,"immediate":true},"ip_anonymization":null,"default_blocking_response_code":406,"client_ip_headers":[],"created_at":"2025-07-30T18:34:27Z","updated_at":"2025-08-05T00:13:41.412Z"},{"id":"AYAHkxy8DOTLoccK6uNllM","name":"Fastly DevEx Engineering 2 Workspace","description[...]
