---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces
    method: GET
  response:
    body: |
      {"data":[{"id":"6gzmZa1Qcil2kMOa41KBkY","name":"Fastly (TF testing) Workspace","description":"","mode":"log","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":null,"default_blocking_response_code":406,"client_ip_headers":[],"created_at":"2024-11-01T19:00:29Z","updated_at":"2025-05-07T17:08:07.348Z"},{"id":"0tKzfmq6pE5fXMeBOuY7yV","name":"VP-Workspaces!","description":"Workspace test description","mode":"off","deployment_type":"edge","attack_signal_thresholds":{"one_minute":20},"ip_anonymization":null,"default_blocking_response_code":406,"client_ip_headers":[],"created_at":"2025-05-29T13:59:37Z","updated_at":"2025-06-17T13:50:08.777Z"},{"id":"N4cSWIpmDUcwxzfULxMaRR","name":"Workspace 2","description":"Workspace test description","mode":"off","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":"hashed","default_blocking_response_code":406,"client_ip_headers":[],"created_at":"2025-05-29T13:56:11Z","updated_at":"2025-05-29T13:57:30.543Z"},{"id":"m1oHhLwHj7qZIgMkrBN6Xh","name":"Workspace 3","description":"Workspace test description","mode":"off","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":null,"default_blocking_response_code":406,"client_ip_headers":[],"created_at":"2025-05-29T13:57:03Z","updated_at":"2025-05-29T13:59:15.027Z"},{"id":"s9fVc3ONFqiHiHQK8tCSDi","name":"Workspace 4","description":"Workspace test description","mode":"off","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":null,"default_blocking_response_code":406,"client_ip_headers":[],"created_at":"2025-05-29T13:57:56Z","updated_at":"2025-05-29T13:58:39.233Z"},{"id":"2JiAy6Nb0mA6xOrVmQQT3E","name":"Workspace test name","description":"Workspace test description","mode":"off","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":"hashed","default_blocking_response_code":301,"default_redirect_url":"string","client_ip_headers":["string"],"created_at":"2025-05-29T13:54:35Z","updated_at":"2025-05-29T13:56:11.024Z"},{"id":"WI90k86caQU0u7frYeRgsP","name":"agomez-sigsci-test","description":"test WAF","mode":"log","deployment_type":"edge","attack_signal_thresholds":{},"ip_anonymization":null,"default_blocking_response_code":406,"client_ip_headers":[],"created_at":"2025-05-27T13:39:53Z","updated_at":"2025-06-03T20:48:10.868Z"},{"id":"X7Oxo8D9dbeqfDgWRpu9k5","name":"boomboomboom","description":"rules testing","mode":"log","deployment_type":"edge","attack_signal_thresholds":{"one_minute":99,"ten_minutes":99,"one_hour":9,"immediate":true},"ip_anonymization":"hashed","default_blocking_response_code":406,"client_ip_headers":[],"created_at":"2025-06-23T16:03:52Z","updated_at":"2025-06-23T16:04:29.828Z"},{"id":"D73mLelff7RAuduODxHZ2m","name":"boomschakalka","description":"rules testing","mode":"log","deployment_type":"edge","attack_signal_thresholds":{"one_minute":99,"ten_minutes":99,"one_hour":9,"immediate":true},"ip_anonymization":"hashed","default_blocking_response_code":406,"client_ip_headers":[],"created_at":"2025-06-18T13[...]
