---
version: 1
interactions:
- request:
    body: '{"attack_signal_thresholds":{"one_minute":5000,"ten_minutes":5000,"one_hour":5000,"immediate":false},"client_ip_headers":["X-Forwarded-For"],"default_blocking_response_code":429,"description":"test-description","ip_anonymization":"hashed","mode":"log","name":"test-workspace"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/tI3gQ2limlBvTNrEnEGOvG
    method: PATCH
  response:
    body: |
      {"id":"tI3gQ2limlBvTNrEnEGOvG","name":"test-workspace","description":"test-description","mode":"log","deployment_type":"edge","attack_signal_thresholds":{"one_minute":5000,"ten_minutes":5000,"one_hour":5000},"ip_anonymization":"hashed","default_blocking_response_code":429,"client_ip_headers":["X-Forwarded-For"],"created_at":"2025-06-23T19:45:51Z","updated_at":"2025-06-23T19:45:51.67Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
