---
version: 1
interactions:
- request:
    body: '{"name":"test-workspace","description":"test-description","mode":"log","attack_signal_thresholds":{"one_minute":10000,"ten_minutes":10000,"one_hour":10000,"immediate":true},"ip_anonymization":"hashed"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/bjr85duNV9apZrb9aUhnf8
    method: PATCH
  response:
    body: |
      {"id":"bjr85duNV9apZrb9aUhnf8","name":"test-workspace","description":"test-description","mode":"log","deployment_type":"edge","attack_signal_thresholds":{"one_minute":10000,"ten_minutes":10000,"one_hour":10000,"immediate":true},"ip_anonymization":"hashed","created_at":"2025-05-14T18:52:19Z","updated_at":"2025-05-14T18:52:19.735Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
