---
version: 1
interactions:
- request:
    body: '{"attack_signal_thresholds":{"one_minute":5000,"ten_minutes":5000,"one_hour":5000,"immediate":false},"client_ip_headers":["X-Forwarded-For"],"default_blocking_response_code":429,"description":"test-description-updated","ip_anonymization":"hashed","mode":"block","name":"test-workspace-updated"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/7uqOH6F1xXIMMdQFBpZ4iF
    method: PATCH
  response:
    body: |
      {"id":"7uqOH6F1xXIMMdQFBpZ4iF","name":"test-workspace-updated","description":"test-description-updated","mode":"block","deployment_type":"edge","attack_signal_thresholds":{"one_minute":5000,"ten_minutes":5000,"one_hour":5000},"ip_anonymization":"hashed","default_blocking_response_code":429,"client_ip_headers":["X-Forwarded-For"],"created_at":"2025-06-29T13:12:51Z","updated_at":"2025-06-29T13:12:51.331Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
