---
version: 1
interactions:
- request:
    body: '{"attack_signal_thresholds":{"one_minute":5000,"ten_minutes":5000,"one_hour":5000,"immediate":false},"client_ip_headers":["X-Forwarded-For"],"default_blocking_response_code":301,"default_redirect_url":"http://www.test-redirect.com","description":"test-description-updated","ip_anonymization":"hashed","mode":"block","name":"test-workspace-updated"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/MypxgPKkUl0JZAkQc59r5Y
    method: PATCH
  response:
    body: |
      {"id":"MypxgPKkUl0JZAkQc59r5Y","name":"test-workspace-updated","description":"test-description-updated","mode":"block","attack_signal_thresholds":{"one_minute":5000,"ten_minutes":5000,"one_hour":5000},"ip_anonymization":"hashed","default_blocking_response_code":301,"default_redirect_url":"http://www.test-redirect.com","client_ip_headers":["X-Forwarded-For"],"created_at":"2025-08-06T18:16:55Z","updated_at":"2025-08-06T18:16:55.838Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
