---
version: 1
interactions:
- request:
    body: '{"config":{"key":"123456789","site":"us1"},"description":"This is a test
      alert.","events":["flag"],"type":"datadog"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: POST
  response:
    body: |
      {"id":"687001f2584b2ef2916de837","description":"This is a test alert.","type":"datadog","config":{"key":"123456789","site":"us1"},"events":["flag"],"created_at":"2025-07-10T18:09:54Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
