---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: GET
  response:
    body: |
      {"data":[{"id":"68753c93d012c6d26fcca971","description":"This is a test alert.","type":"datadog","config":{"key":"987654321","site":"us3"},"events":["flag"],"created_at":"2025-07-14T17:21:23Z","created_by":"anthony.gomez+de2@fastly.com","last_status_code":0}],"meta":{"limit":100,"total":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
