---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: GET
  response:
    body: |
      {"data":[{"id":"686fee1920b5651f04d0c701","description":"This is a test alert.","type":"datadog","config":{"key":"a1b2c3d4e5f6789012345678901234599","site":"us3"},"events":["flag"],"created_at":"2025-07-10T16:45:13Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}],"meta":{"limit":100,"total":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
