---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts/68753c93d012c6d26fcca971
    method: GET
  response:
    body: |
      {"id":"68753c93d012c6d26fcca971","description":"This is a test alert.","type":"datadog","config":{"key":"123456789","site":"us1"},"events":["flag"],"created_at":"2025-07-14T17:21:23Z","created_by":"anthony.gomez+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
