---
version: 1
interactions:
- request:
    body: '{"action":{"type":"service","value":"kKJb5bOFI47uHeBVluGfX1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/4Bc92NhJgh4i791VMVttE3/paths/5Vyk6aQcS5HxG7uNGwaFid/rules
    method: POST
  response:
    body: |
      {"action":{"type":"service","value":"kKJb5bOFI47uHeBVluGfX1"},"conditions":[],"created_at":"2026-09-23T16:50:03.831036424Z","id":"21zo64rvPQ65CRe4vb3tTx","is_default":true,"updated_at":"2026-09-23T16:50:03.831036424Z"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
