---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/domain-management/v1/routing-configs/4Bc92NhJgh4i791VMVttE3/paths/5Vyk6aQcS5HxG7uNGwaFid/rules
    method: GET
  response:
    body: |
      {"data":[{"action":{"type":"service","value":"kKJb5bOFI47uHeBVluGfX1"},"conditions":[{"key":"X-Test","operator":"equals","type":"header","value":"1"}],"created_at":"2026-09-23T16:50:04Z","id":"xbtFef1RHQyHN1jIqXcVn","is_default":false,"updated_at":"2026-09-23T16:50:04Z"},{"action":{"type":"service","value":"kKJb5bOFI47uHeBVluGfX1"},"conditions":[],"created_at":"2026-09-23T16:50:04Z","id":"21zo64rvPQ65CRe4vb3tTx","is_default":true,"updated_at":"2026-09-23T16:50:04Z"}],"meta":{"limit":10,"sort":"position"}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
