---
version: 1
interactions:
- request:
    body: '{"path":"/fiesta"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs/4Bc92NhJgh4i791VMVttE3/paths
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:03.541702954Z","id":"5Vyk6aQcS5HxG7uNGwaFid","links":{"rules":"/domain-management/v1/routing-configs/4Bc92NhJgh4i791VMVttE3/paths/5Vyk6aQcS5HxG7uNGwaFid/rules","self":"/domain-management/v1/routing-configs/4Bc92NhJgh4i791VMVttE3/paths/5Vyk6aQcS5HxG7uNGwaFid"},"path":"/fiesta"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
