---
version: 1
interactions:
- request:
    body: '{"name":"gofastly-sdk-testing-rules-config"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/domain-management/v1/routing-configs
    method: POST
  response:
    body: |
      {"created_at":"2026-09-23T16:50:03.343190774Z","id":"4Bc92NhJgh4i791VMVttE3","links":{"paths":"/domain-management/v1/routing-configs/4Bc92NhJgh4i791VMVttE3/paths","self":"/domain-management/v1/routing-configs/4Bc92NhJgh4i791VMVttE3"},"name":"gofastly-sdk-testing-rules-config"}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
