---
version: 1
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=6&access_key=AKIAIOSFODNN7EXAMPLE&bucket_name=bucket-name&domain=s3.us-east-1.amazonaws.com&format=format&format_version=2&gzip_level=9&message_type=classic&name=test-s3&path=%2Fpath&period=12&placement=waf_debug&redundancy=reduced_redundancy&secret_key=wJalrXUtnFEMI%2FK7MDENG%2FbPxRfiCYEXAMPLEKEY&server_side_encryption=aws%3Akms&server_side_encryption_kms_key_id=1234&timestamp_format=%25Y
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "6"
      access_key:
      - AKIAIOSFODNN7EXAMPLE
      bucket_name:
      - bucket-name
      domain:
      - s3.us-east-1.amazonaws.com
      format:
      - format
      format_version:
      - "2"
      gzip_level:
      - "9"
      message_type:
      - classic
      name:
      - test-s3
      path:
      - /path
      period:
      - "12"
      placement:
      - waf_debug
      redundancy:
      - reduced_redundancy
      secret_key:
      - wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      server_side_encryption:
      - aws:kms
      server_side_encryption_kms_key_id:
      - "1234"
      timestamp_format:
      - '%Y'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/6/logging/s3
    method: POST
  response:
    body: '{"access_key":"AKIAIOSFODNN7EXAMPLE","bucket_name":"bucket-name","domain":"s3.us-east-1.amazonaws.com","format":"format","format_version":"2","gzip_level":"9","message_type":"classic","name":"test-s3","path":"/path","period":"12","placement":"waf_debug","redundancy":"reduced_redundancy","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","server_side_encryption":"aws:kms","server_side_encryption_kms_key_id":"1234","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"6","acl":null,"response_condition":"","deleted_at":null,"public_key":null,"created_at":"2020-02-11T22:23:40Z","updated_at":"2020-02-11T22:23:40Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1581462000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
