---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=7i6HN3TK9wS159v2gPAZ8A&Version=41&access_key=AKIAIOSFODNN7EXAMPLE&bucket_name=bucket-name&domain=s3.us-east-1.amazonaws.com&format=format&format_version=2&gzip_level=9&message_type=classic&name=test-s3&path=%2Fpath&period=12&placement=waf_debug&redundancy=reduced_redundancy&secret_key=wJalrXUtnFEMI%2FK7MDENG%2FbPxRfiCYEXAMPLEKEY&timestamp_format=%25Y
    form:
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "41"
      access_key:
      - AKIAIOSFODNN7EXAMPLE
      bucket_name:
      - bucket-name
      domain:
      - s3.us-east-1.amazonaws.com
      format:
      - format
      format_version:
      - "2"
      gzip_level:
      - "9"
      message_type:
      - classic
      name:
      - test-s3
      path:
      - /path
      period:
      - "12"
      placement:
      - waf_debug
      redundancy:
      - reduced_redundancy
      secret_key:
      - wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      timestamp_format:
      - '%Y'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/41/logging/s3
    method: POST
  response:
    body: '{"access_key":"AKIAIOSFODNN7EXAMPLE","bucket_name":"bucket-name","domain":"s3.us-east-1.amazonaws.com","format":"format","format_version":"2","gzip_level":9,"message_type":"classic","name":"test-s3","path":"/path","period":12,"placement":"waf_debug","redundancy":"reduced_redundancy","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","timestamp_format":"%Y","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"41","server_side_encryption":null,"server_side_encryption_kms_key_id":null,"response_condition":"","updated_at":"2019-05-09T22:30:57Z","acl":null,"deleted_at":null,"public_key":null,"created_at":"2019-05-09T22:30:57Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "992"
      Fastly-Ratelimit-Reset:
      - "1557442800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
