---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/41/logging/s3/test-s3
    method: GET
  response:
    body: '{"acl":null,"format":"format","path":"/path","access_key":"AKIAIOSFODNN7EXAMPLE","redundancy":"reduced_redundancy","message_type":"classic","placement":"waf_debug","updated_at":"2019-05-09T22:30:57Z","response_condition":"","version":"41","period":"12","domain":"s3.us-east-1.amazonaws.com","service_id":"7i6HN3TK9wS159v2gPAZ8A","timestamp_format":"%Y","server_side_encryption":null,"deleted_at":null,"bucket_name":"bucket-name","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","server_side_encryption_kms_key_id":null,"name":"test-s3","created_at":"2019-05-09T22:30:57Z","public_key":null,"gzip_level":"9","format_version":"2"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
