---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/6/logging/s3/test-s3
    method: GET
  response:
    body: '{"period":"12","path":"/path","placement":"waf_debug","gzip_level":"9","acl":null,"response_condition":"","format_version":"2","server_side_encryption_kms_key_id":"1234","redundancy":"reduced_redundancy","deleted_at":null,"bucket_name":"bucket-name","domain":"s3.us-east-1.amazonaws.com","format":"format","timestamp_format":"%Y","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","public_key":null,"access_key":"AKIAIOSFODNN7EXAMPLE","created_at":"2020-02-11T22:23:40Z","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2020-02-11T22:23:40Z","version":"6","message_type":"classic","name":"test-s3","server_side_encryption":"aws:kms"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
