---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/6/logging/s3
    method: GET
  response:
    body: '[{"deleted_at":null,"redundancy":"reduced_redundancy","server_side_encryption_kms_key_id":"1234","domain":"s3.us-east-1.amazonaws.com","bucket_name":"bucket-name","gzip_level":"9","acl":null,"period":"12","path":"/path","placement":"waf_debug","response_condition":"","format_version":"2","created_at":"2020-02-11T22:23:40Z","access_key":"AKIAIOSFODNN7EXAMPLE","message_type":"classic","server_side_encryption":"aws:kms","name":"test-s3","service_id":"7i6HN3TK9wS159v2gPAZ8A","updated_at":"2020-02-11T22:23:40Z","version":"6","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","format":"format","timestamp_format":"%Y","public_key":null}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
