---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-s3&Service=7i6HN3TK9wS159v2gPAZ8A&Version=41&name=new-test-s3
    form:
      Name:
      - test-s3
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "41"
      name:
      - new-test-s3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/41/logging/s3/test-s3
    method: PUT
  response:
    body: '{"placement":"waf_debug","response_condition":"","server_side_encryption_kms_key_id":null,"format_version":"2","server_side_encryption":null,"path":"/path","redundancy":"reduced_redundancy","updated_at":"2019-05-09T22:30:57Z","message_type":"classic","gzip_level":"9","bucket_name":"bucket-name","domain":"s3.us-east-1.amazonaws.com","deleted_at":null,"period":"12","acl":null,"service_id":"7i6HN3TK9wS159v2gPAZ8A","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","name":"new-test-s3","version":"41","access_key":"AKIAIOSFODNN7EXAMPLE","timestamp_format":"%Y","format":"format","public_key":null,"created_at":"2019-05-09T22:30:57Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "991"
      Fastly-Ratelimit-Reset:
      - "1557442800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
