---
version: 1
interactions:
- request:
    body: '{"path":null,"public_key":null,"redundancy":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/198/logging/s3/new-test-s3
    method: PUT
  response:
    body: '{"deleted_at":null,"updated_at":"2026-08-10T19:14:40Z","redundancy":null,"compression_codec":"zstd","access_key":"","log_processing_region":"eu","iam_role":"arn:aws:iam::123456789012:role/S3Access","version":"198","gzip_level":"0","server_side_encryption":"aws:kms","acl":"private","bucket_name":"bucket-name","period":"12","service_id":"kKJb5bOFI47uHeBVluGfX1","name":"new-test-s3","response_condition":"","created_at":"2026-08-10T19:14:19Z","file_max_bytes":5242880,"public_key":null,"message_type":"classic","timestamp_format":"%Y","format":"format","format_version":"2","domain":"s3.us-east-1.amazonaws.com","path":null,"placement":null,"secret_key":"","server_side_encryption_kms_key_id":"1234"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9740"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
