---
version: 1
interactions:
- request:
    body: '{"iam_role":"badarn","placement":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/kKJb5bOFI47uHeBVluGfX1/version/198/logging/s3/test-s3
    method: PUT
  response:
    body: '{"msg":"Record not found","detail":"Couldn''t find syslog ''{ deleted =\u003e
      0000-00-00 00:00:00, name =\u003e test-s3, service =\u003e kKJb5bOFI47uHeBVluGfX1,
      version =\u003e 198 }''"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9744"
      Fastly-Ratelimit-Reset:
      - "1786392000"
      Status:
      - 404 Not Found
    status: 404 Not Found
    code: 404
    duration: ""
