---
version: 1
interactions:
- request:
    body: Name=test-s3&Service=7i6HN3TK9wS159v2gPAZ8A&Version=6&name=new-test-s3
    form:
      Name:
      - test-s3
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "6"
      name:
      - new-test-s3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/6/logging/s3/test-s3
    method: PUT
  response:
    body: '{"format":"format","access_key":"AKIAIOSFODNN7EXAMPLE","redundancy":"reduced_redundancy","deleted_at":null,"updated_at":"2020-02-11T22:23:40Z","name":"new-test-s3","service_id":"7i6HN3TK9wS159v2gPAZ8A","period":"12","acl":null,"path":"/path","server_side_encryption_kms_key_id":"1234","format_version":"2","secret_key":"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY","placement":"waf_debug","gzip_level":"9","message_type":"classic","public_key":null,"response_condition":"","version":"6","domain":"s3.us-east-1.amazonaws.com","timestamp_format":"%Y","created_at":"2020-02-11T22:23:40Z","server_side_encryption":"aws:kms","bucket_name":"bucket-name"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "995"
      Fastly-Ratelimit-Reset:
      - "1581462000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
