---
version: 1
interactions:
- request:
    body: Service=5wBis6DpoO67acK0K7n5GU&Version=2&name=WAf_Response&status=403
    form:
      Service:
      - 5wBis6DpoO67acK0K7n5GU
      Version:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5wBis6DpoO67acK0K7n5GU/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"5wBis6DpoO67acK0K7n5GU","version":"2","cache_condition":"","deleted_at":null,"request_condition":"","response":"ok","content_type":null,"updated_at":"2020-10-09T09:28:42Z","content":null,"created_at":"2020-10-09T09:28:42Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4927"
      Fastly-Ratelimit-Reset:
      - "1602237600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
