---
version: 1
interactions:
- request:
    body: ServiceID=77W0twpcoOavlUaiU6zzj7&ServiceVersion=2&name=WAf_Response&status=403
    form:
      ServiceID:
      - 77W0twpcoOavlUaiU6zzj7
      ServiceVersion:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/77W0twpcoOavlUaiU6zzj7/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"77W0twpcoOavlUaiU6zzj7","version":"2","deleted_at":null,"updated_at":"2021-11-03T17:30:08Z","content_type":null,"cache_condition":"","request_condition":"","created_at":"2021-11-03T17:30:08Z","response":"ok","content":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4757"
      Fastly-Ratelimit-Reset:
      - "1635962400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
