---
version: 1
interactions:
- request:
    body: ServiceID=5V7x2mes9fC7zg73R9bTFm&ServiceVersion=2&name=WAf_Response&status=403
    form:
      ServiceID:
      - 5V7x2mes9fC7zg73R9bTFm
      ServiceVersion:
      - "2"
      name:
      - WAf_Response
      status:
      - "403"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/5V7x2mes9fC7zg73R9bTFm/version/2/response_object
    method: POST
  response:
    body: '{"name":"WAf_Response","status":"403","service_id":"5V7x2mes9fC7zg73R9bTFm","version":"2","updated_at":"2021-01-14T10:27:47Z","deleted_at":null,"request_condition":"","content":null,"content_type":null,"cache_condition":"","created_at":"2021-01-14T10:27:47Z","response":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "877"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
