---
version: 1
rwmutex: {}
interactions:
- request:
    body: Name=test-sumologic&Service=7i6HN3TK9wS159v2gPAZ8A&Version=649&name=new-test-sumologic
    form:
      Name:
      - test-sumologic
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "649"
      name:
      - new-test-sumologic
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3ef62116e8f979e10430a453bb5f7083
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/649/logging/sumologic/test-sumologic
    method: PUT
  response:
    body: '{"placement":null,"format_version":"1","response_condition":"","url":"example.com","updated_at":"2017-04-17T16:00:55+00:00","message_type":"classic","name":"new-test-sumologic","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"649","deleted_at":null,"created_at":"2017-04-17T16:00:55+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "961"
      Fastly-Ratelimit-Reset:
      - "1492448400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
