---
version: 1
interactions:
- request:
    body: Name=test-sumologic&Service=7i6HN3TK9wS159v2gPAZ8A&Version=571&name=new-test-sumologic
    form:
      Name:
      - test-sumologic
      Service:
      - 7i6HN3TK9wS159v2gPAZ8A
      Version:
      - "571"
      name:
      - new-test-sumologic
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - 3b6d8ef6b4426178d951788d45cc1bdc
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/571/logging/sumologic/test-sumologic
    method: PUT
  response:
    body: '{"format_version":"1","response_condition":"","url":"example.com","updated_at":"2016-04-03T16:46:22+00:00","name":"new-test-sumologic","service_id":"7i6HN3TK9wS159v2gPAZ8A","version":"571","deleted_at":null,"created_at":"2016-04-03T16:46:22+00:00","format":"format"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "893"
      Fastly-Ratelimit-Reset:
      - "1459702800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
