---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/I1VEQVKrgJFQszKVNY3FG7/version/2/package
    method: GET
  response:
    body: '{"service_id":"I1VEQVKrgJFQszKVNY3FG7","id":"OScOS6exfJIxlixRHMccN5","metadata":{"name":"wasm-test","description":"Default
      package template used by the Fastly CLI for Rust-based Compute@Edge projects.","authors":["fastly@fastly.com"],"language":"rust","size":2015936,"hashsum":"f99485bd301e23f028474d26d398da525de17a372ae9e7026891d7f85361d2540d14b3b091929c3f170eade573595e20b3405a9e29651ede59915f2e1652f616"},"created_at":"2022-11-15T22:02:53Z","version":2,"updated_at":"2022-11-15T22:02:54Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
