---
version: 1
interactions:
- request:
    body: comment=go-fastly+wasm+client+test&name=test_service_wasm_package&type=wasm
    form:
      comment:
      - go-fastly wasm client test
      name:
      - test_service_wasm_package
      type:
      - wasm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly wasm client
      test","name":"test_service_wasm_package","type":"wasm","id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2023-05-11T10:57:51Z","updated_at":"2023-05-11T10:57:51Z","publish_key":"","deleted_at":null,"versions":[{"updated_at":"2023-05-11T10:57:51Z","staging":false,"deployed":false,"service_id":"7i6HN3TK9wS159v2gPAZ8A","created_at":"2023-05-11T10:57:51Z","testing":false,"locked":false,"active":false,"deleted_at":null,"number":1,"comment":""}],"paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9994"
      Fastly-Ratelimit-Reset:
      - "1683802800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
