---
version: 1
interactions:
- request:
    body: comment=go-fastly+wasm+client+test&name=test_service_wasm_package&type=wasm
    form:
      comment:
      - go-fastly wasm client test
      name:
      - test_service_wasm_package
      type:
      - wasm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly wasm client
      test","name":"test_service_wasm_package","type":"wasm","deleted_at":null,"versions":[{"locked":false,"created_at":"2020-06-24T13:01:06Z","number":1,"service_id":"4pNcnRy0abFyAb253yEDpz","staging":false,"comment":"","deployed":false,"testing":false,"active":false,"updated_at":"2020-06-24T13:01:06Z","deleted_at":null}],"id":"4pNcnRy0abFyAb253yEDpz","updated_at":"2020-06-24T13:01:06Z","publish_key":"","created_at":"2020-06-24T13:01:06Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "999"
      Fastly-Ratelimit-Reset:
      - "1593007200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
