---
version: 1
interactions:
- request:
    body: comment=go-fastly+wasm+client+test&name=test_service_wasm_package&type=wasm
    form:
      comment:
      - go-fastly wasm client test
      name:
      - test_service_wasm_package
      type:
      - wasm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"37OEJi7mvah1swc2IV0nQF","comment":"go-fastly wasm client
      test","name":"test_service_wasm_package","type":"wasm","versions":[{"testing":false,"locked":false,"staging":false,"comment":"","deployed":false,"active":false,"number":1,"service_id":"OOaJq4HVv57fNDv86Qfzf5","deleted_at":null,"updated_at":"2024-05-24T20:12:47Z","created_at":"2024-05-24T20:12:47Z"}],"publish_key":"","paused":false,"deleted_at":null,"id":"OOaJq4HVv57fNDv86Qfzf5","updated_at":"2024-05-24T20:12:47Z","created_at":"2024-05-24T20:12:47Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "994"
      Fastly-Ratelimit-Reset:
      - "1716584400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
