---
version: 1
interactions:
- request:
    body: comment=go-fastly+wasm+client+test&name=test_service_wasm_package&type=wasm
    form:
      comment:
      - go-fastly wasm client test
      name:
      - test_service_wasm_package
      type:
      - wasm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"2jBAEHPlLAI176TjYdnHpB","comment":"go-fastly wasm client
      test","name":"test_service_wasm_package","type":"wasm","publish_key":"","created_at":"2022-11-15T22:02:51Z","updated_at":"2022-11-15T22:02:51Z","deleted_at":null,"versions":[{"updated_at":"2022-11-15T22:02:51Z","created_at":"2022-11-15T22:02:51Z","locked":false,"deleted_at":null,"active":false,"number":1,"staging":false,"comment":"","deployed":false,"testing":false,"service_id":"I1VEQVKrgJFQszKVNY3FG7"}],"paused":false,"id":"I1VEQVKrgJFQszKVNY3FG7"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "992"
      Fastly-Ratelimit-Reset:
      - "1668553200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
