---
version: 1
interactions:
- request:
    body: comment=go-fastly+wasm+client+test&name=test_service_wasm_package&type=wasm
    form:
      comment:
      - go-fastly wasm client test
      name:
      - test_service_wasm_package
      type:
      - wasm
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly wasm client
      test","name":"test_service_wasm_package","type":"wasm","paused":false,"id":"7i6HN3TK9wS159v2gPAZ8A","publish_key":"","updated_at":"2021-01-14T10:26:15Z","versions":[{"service_id":"7i6HN3TK9wS159v2gPAZ8A","comment":"","deployed":false,"deleted_at":null,"created_at":"2021-01-14T10:26:15Z","updated_at":"2021-01-14T10:26:15Z","testing":false,"staging":false,"number":1,"locked":false,"active":false}],"created_at":"2021-01-14T10:26:15Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "912"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
