---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - multipart/form-data; boundary=634d65644d96bdca4e92d859b50afcecadad48119eeb6b36d5e50684dd0a
    url: https://api.fastly.com/service/OOaJq4HVv57fNDv86Qfzf5/version/2/package
    method: PUT
  response:
    body: '{"service_id":"OOaJq4HVv57fNDv86Qfzf5","version":2,"id":"ET9AMPS47ntJazcce7f0W7","metadata":{"name":"test-package","description":"An
      empty starter kit project template.","authors":["\u003coss@fastly.com\u003e"],"language":"rust","size":1540845,"hashsum":"ecc068efcd4071d36d6460152dcc50461b649f01f28589917540a69d33e9b1477decb5f5a9a2f6c269d83a13827502c1fe1f2efc3bdd6beadaabd23e22eb84fd","files_hash":"75ff1cf4d953ff2242bb38e4a01b04503622baf4b7dc540256f4dd5fc89df5aed7fea115adab0b71caa79f6483bb846ac0d4f4f937885fb03ee35d2dfafba6f3","wasm_metadata":{"processed-by":{"rustc":"1.78.0
      (9b00956e5 2024-04-29)","fastly":"v0.0.0-unknown (Rust)","fastly_data":{"machine_info":{},"package_info":{"cloned_from":"https://github.com/fastly/compute-starter-kit-rust-empty","packages":{"anyhow":"1.0.83","lazy_static":"1.4.0","fastly-compute-project":"0.1.0","url":"2.5.0","tinyvec":"1.6.0","unicode-normalization":"0.1.23","unicode-bidi":"0.3.15","opaque-debug":"0.3.1","form_urlencoded":"1.2.1","digest":"0.9.0","http":"0.2.12","thiserror-impl":"1.0.60","fastly-macros":"0.9.12","block-buffer":"0.9.0","bytes":"1.6.0","serde_json":"1.0.117","serde":"1.0.201","ryu":"1.0.18","tinyvec_macros":"0.1.1","fastly-shared":"0.9.12","cfg-if":"1.0.0","bitflags":"1.3.2","fnv":"1.0.7","percent-encoding":"2.3.1","serde_urlencoded":"0.7.1","libc":"0.2.154","fastly-sys":"0.9.12","fastly":"0.9.12","typenum":"1.17.0","quote":"1.0.36","serde_derive":"1.0.201","time-core":"0.1.1","cpufeatures":"0.2.12","generic-array":"0.14.7","time":"0.3.23","sha2":"0.9.9","time-macros":"0.2.10","thiserror":"1.0.60","proc-macro2":"1.0.82","mime":"0.3.17","syn":"2.0.63","idna":"0.5.0","itoa":"1.0.11","unicode-ident":"1.0.12","version_check":"0.9.4"}},"script_info":{"build_script":"cargo
      build --bin fastly-compute-project --release --target wasm32-wasi --color always"},"build_info":{"mem_heap_alloc":"2-5MB"}},"clang":"16.0.4
      (https://github.com/llvm/llvm-project ae42196bc493ffe877a7e3dff8be32035dea4d07)"},"language":{"Rust":""}}},"updated_at":"2024-05-24T20:12:52Z","deleted_at":null,"created_at":"2024-05-24T20:12:52Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "992"
      Fastly-Ratelimit-Reset:
      - "1716584400"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
