---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - multipart/form-data; boundary=4c8b70ff8a04f6e75c13187fc33320263f65b1c4d14dac7c6fdc43a8074f
    url: https://api.fastly.com/service/7i6HN3TK9wS159v2gPAZ8A/version/2/package
    method: PUT
  response:
    body: '{"service_id":"7i6HN3TK9wS159v2gPAZ8A","version":2,"updated_at":"2020-06-24T13:01:11Z","deleted_at":null,"created_at":"2020-06-24T13:01:11Z","metadata":null,"id":"3C4JK2R0jXIemgqdtvwaov"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "996"
      Fastly-Ratelimit-Reset:
      - "1593007200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
