---
version: 1
interactions:
- request:
    body: '{"field":"some-other-field","type":"response_header"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/redactions/68615bf5b4e1b345f4355c17
    method: PATCH
  response:
    body: |
      {"id":"68615bf5b4e1b345f4355c17","field":"some-other-field","type":"response_header","created_at":"2025-06-29T15:29:57Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
