---
version: 1
interactions:
- request:
    body: '{"field":"some-other-field","type":"response_header"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/redactions/686ed67510cae6d32d9e4e7b
    method: PATCH
  response:
    body: |
      {"id":"686ed67510cae6d32d9e4e7b","field":"some-other-field","type":"response_header","created_at":"2025-07-09T20:52:05Z"}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
