on: pull_request
name: Test
jobs:
  dependabot-changelog-update:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: dangoslen/dependabot-changelog-helper@v3
        with:
          activationLabels: dependencies
          changelogPath: './CHANGELOG.md'
          entryPrefix: 'build(deps): '
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs(CHANGELOG.md): add dependency bump from dependabot"
  changelog:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
    - uses: dangoslen/changelog-enforcer@v3
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.23.x
    - name: Installing necessary tools
      run: make dev-dependencies
      shell: bash
    - name: Check Module
      run: make check-mod
      shell: bash
    - name: Check Imports
      run: make check-imports
      shell: bash
    - name: Check Fmt
      run: make check-fmt
      shell: bash
    - name: Vet
      run: make vet
      shell: bash
    - name: Staticcheck
      run: make staticcheck
      shell: bash
  test:
    strategy:
      matrix:
        go-version: [1.23.x, 1.24.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Test
      run: make test
      shell: bash
