---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_service-8674665223082153551&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_service-8674665223082153551
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"WpqWFjTA4lk2N1g0GY2HH","comment":"go-fastly client test","name":"test_service_service-8674665223082153551","type":"vcl","created_at":"2020-10-07T13:09:06Z","updated_at":"2020-10-07T13:09:06Z","publish_key":"","deleted_at":null,"versions":[{"deployed":false,"locked":false,"service_id":"1JeR1AIjuRcEXA5doHqxPr","number":1,"updated_at":"2020-10-07T13:09:06Z","created_at":"2020-10-07T13:09:06Z","active":false,"deleted_at":null,"staging":false,"comment":"","testing":false}],"id":"1JeR1AIjuRcEXA5doHqxPr"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4948"
      Fastly-Ratelimit-Reset:
      - "1602079200"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
