---
version: 1
interactions:
- request:
    body: '{"config":{"address":"test@example.com"},"description":"This is a test
      alert.","events":["flag"],"type":"mailinglist"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: POST
  response:
    body: |
      {"id":"686feb8d04375881fedb46fd","description":"This is a test alert.","type":"mailinglist","config":{"address":"test@example.com"},"events":["flag"],"created_at":"2025-07-10T16:34:21Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
