---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/ngwaf/v1/workspaces/Am2qjXkgamuYp3u54rQkLD/alerts
    method: GET
  response:
    body: |
      {"data":[{"id":"686feb8d04375881fedb46fd","description":"This is a test alert.","type":"mailinglist","config":{"address":"updated@example.com"},"events":["flag"],"created_at":"2025-07-10T16:34:21Z","created_by":"rcarillo+de2@fastly.com","last_status_code":0}],"meta":{"limit":100,"total":1}}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
