---
version: 1
interactions:
- request:
    body: address=integ-test.go-fastly.com&format=format&format_version=2&name=test-papertrail&placement=none&port=1234
    form:
      address:
      - integ-test.go-fastly.com
      format:
      - format
      format_version:
      - "2"
      name:
      - test-papertrail
      placement:
      - none
      port:
      - "1234"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/34/logging/papertrail
    method: POST
  response:
    body: '{"address":"integ-test.go-fastly.com","format":"format","format_version":"2","name":"test-papertrail","placement":"none","port":"1234","service_id":"XsjdElScZGjmfCcTwsYRC1","version":"34","created_at":"2025-09-02T17:28:06Z","log_processing_region":"none","deleted_at":null,"response_condition":"","updated_at":"2025-09-02T17:28:06Z","public_key":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9873"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
