---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/34/logging/papertrail/test-papertrail
    method: GET
  response:
    body: '{"log_processing_region":"none","deleted_at":null,"placement":"none","version":"34","response_condition":"","updated_at":"2025-09-02T17:28:06Z","public_key":null,"created_at":"2025-09-02T17:28:06Z","service_id":"XsjdElScZGjmfCcTwsYRC1","format_version":"2","format":"format","address":"integ-test.go-fastly.com","port":"1234","name":"test-papertrail"}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
