---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/106/logging/papertrail/test-papertrail
    method: GET
  response:
    body: '{"format_version":"2","port":"1234","address":"integ-test.go-fastly.com","response_condition":"","updated_at":"2026-07-23T19:38:58Z","placement":"none","created_at":"2026-07-23T19:38:58Z","log_processing_region":"none","format":"format","version":"106","name":"test-papertrail","public_key":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
