---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/106/logging/papertrail
    method: GET
  response:
    body: '[{"log_processing_region":"none","format_version":"2","deleted_at":null,"port":"1234","address":"integ-test.go-fastly.com","format":"format","version":"106","name":"test-papertrail","created_at":"2026-07-23T19:38:58Z","updated_at":"2026-07-23T19:38:58Z","public_key":null,"service_id":"XsjdElScZGjmfCcTwsYRC1","placement":"none","response_condition":""}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
