---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/34/logging/papertrail
    method: GET
  response:
    body: '[{"name":"test-papertrail","service_id":"XsjdElScZGjmfCcTwsYRC1","response_condition":"","version":"34","format":"format","deleted_at":null,"log_processing_region":"none","placement":"none","created_at":"2025-09-02T17:28:06Z","format_version":"2","address":"integ-test.go-fastly.com","public_key":null,"updated_at":"2025-09-02T17:28:06Z","port":"1234"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
