---
version: 1
interactions:
- request:
    body: log_processing_region=eu&name=new-test-papertrail
    form:
      log_processing_region:
      - eu
      name:
      - new-test-papertrail
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/34/logging/papertrail/test-papertrail
    method: PUT
  response:
    body: '{"deleted_at":null,"port":"1234","format_version":"2","version":"34","updated_at":"2025-09-02T17:28:06Z","placement":"none","response_condition":"","service_id":"XsjdElScZGjmfCcTwsYRC1","format":"format","created_at":"2025-09-02T17:28:06Z","log_processing_region":"eu","address":"integ-test.go-fastly.com","public_key":null,"name":"new-test-papertrail"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9872"
      Fastly-Ratelimit-Reset:
      - "1756836000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
