---
version: 1
interactions:
- request:
    body: '{"name":"new-test-papertrail","placement":"none","log_processing_region":"eu"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/XsjdElScZGjmfCcTwsYRC1/version/106/logging/papertrail/test-papertrail
    method: PUT
  response:
    body: '{"deleted_at":null,"version":"106","response_condition":"","name":"new-test-papertrail","format_version":"2","placement":"none","created_at":"2026-07-23T19:38:58Z","public_key":null,"address":"integ-test.go-fastly.com","updated_at":"2026-07-23T19:38:58Z","log_processing_region":"eu","format":"format","port":"1234","service_id":"XsjdElScZGjmfCcTwsYRC1"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9459"
      Fastly-Ratelimit-Reset:
      - "1784836800"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
