---
version: 1
interactions:
- request:
    body: ServiceID=1NFSgcMirbG1hN2nRK00Gg&ServiceVersion=2&name=test_acl_BatchModifyAclEntries_Create
    form:
      ServiceID:
      - 1NFSgcMirbG1hN2nRK00Gg
      ServiceVersion:
      - "2"
      name:
      - test_acl_BatchModifyAclEntries_Create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/1NFSgcMirbG1hN2nRK00Gg/version/2/acl
    method: POST
  response:
    body: '{"service_id":"1NFSgcMirbG1hN2nRK00Gg","version":"2","name":"test_acl_BatchModifyAclEntries_Create","id":"43sh3SIrf0NIyf6jkSNkz6","created_at":"2021-09-22T11:01:29Z","updated_at":"2021-09-22T11:01:29Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4997"
      Fastly-Ratelimit-Reset:
      - "1632312000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
