---
version: 1
interactions:
- request:
    body: '{"entries":[{"comment":"ACL Entry 1","ip":"127.0.0.1","negated":"0","op":"create","subnet":24},{"comment":"ACL
      Entry 2","ip":"192.168.0.1","negated":"1","op":"create","subnet":24}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/h0r9bHHO8AxEkQ10Nm0Ve7/acl/gn5aWs0VHPj0DyskUd3W30/entries
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9996"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
