---
version: 1
interactions:
- request:
    body: name=test_acl_BatchModifyAclEntries_Create
    form:
      name:
      - test_acl_BatchModifyAclEntries_Create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/rTpzNfgkERkPzzSANhcAl1/version/2/acl
    method: POST
  response:
    body: '{"service_id":"rTpzNfgkERkPzzSANhcAl1","version":"2","name":"test_acl_BatchModifyAclEntries_Create","deleted_at":null,"created_at":"2022-11-07T13:21:13Z","id":"jI5xfHjMwpu8e59Vm6dkr1","updated_at":"2022-11-07T13:21:13Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9989"
      Fastly-Ratelimit-Reset:
      - "1667829600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
