---
version: 1
interactions:
- request:
    body: '{"entries":[{"op":"create","ip":"127.0.0.1","subnet":24,"negated":"0","comment":"ACL
      Entry 1"},{"op":"create","ip":"192.168.0.1","subnet":24,"negated":"1","comment":"ACL
      Entry 2"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.fastly.com/service/1NFSgcMirbG1hN2nRK00Gg/acl/43sh3SIrf0NIyf6jkSNkz6/entries
    method: PATCH
  response:
    body: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4996"
      Fastly-Ratelimit-Reset:
      - "1632312000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
