---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Create&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Create
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Create","type":"vcl","deleted_at":null,"created_at":"2021-11-03T14:44:20Z","paused":false,"updated_at":"2021-11-03T14:44:20Z","publish_key":"","id":"4DXP0ymooAIGk2kUwN9F14","versions":[{"deployed":false,"comment":"","service_id":"4DXP0ymooAIGk2kUwN9F14","updated_at":"2021-11-03T14:44:20Z","testing":false,"staging":false,"locked":false,"number":1,"created_at":"2021-11-03T14:44:20Z","active":false,"deleted_at":null}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4965"
      Fastly-Ratelimit-Reset:
      - "1635951600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
