---
version: 1
interactions:
- request:
    body: ServiceID=4DXP0ymooAIGk2kUwN9F14&ServiceVersion=2&name=test_acl_BatchModifyAclEntries_Create
    form:
      ServiceID:
      - 4DXP0ymooAIGk2kUwN9F14
      ServiceVersion:
      - "2"
      name:
      - test_acl_BatchModifyAclEntries_Create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/4DXP0ymooAIGk2kUwN9F14/version/2/acl
    method: POST
  response:
    body: '{"service_id":"4DXP0ymooAIGk2kUwN9F14","version":"2","name":"test_acl_BatchModifyAclEntries_Create","updated_at":"2021-11-03T14:44:21Z","deleted_at":null,"id":"6OH9vwAYAEt8BlRrDgiI5U","created_at":"2021-11-03T14:44:21Z"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4963"
      Fastly-Ratelimit-Reset:
      - "1635951600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
