---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Create&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Create
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Create","type":"vcl","deleted_at":null,"publish_key":"","updated_at":"2023-11-28T14:23:14Z","versions":[{"staging":false,"service_id":"h0r9bHHO8AxEkQ10Nm0Ve7","deleted_at":null,"number":1,"testing":false,"locked":false,"comment":"","updated_at":"2023-11-28T14:23:14Z","active":false,"created_at":"2023-11-28T14:23:14Z","deployed":false}],"created_at":"2023-11-28T14:23:14Z","id":"h0r9bHHO8AxEkQ10Nm0Ve7","paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9999"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
