---
version: 1
rwmutex: {}
interactions:
- request:
    body: Service=3MYXdSsO9U0dulSgjNLvMq&Version=2&name=test_acl_BatchModifyAclEntries_Create
    form:
      Service:
      - 3MYXdSsO9U0dulSgjNLvMq
      Version:
      - "2"
      name:
      - test_acl_BatchModifyAclEntries_Create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/3MYXdSsO9U0dulSgjNLvMq/version/2/acl
    method: POST
  response:
    body: '{"service_id":"3MYXdSsO9U0dulSgjNLvMq","version":"2","name":"test_acl_BatchModifyAclEntries_Create","created_at":"2019-07-23T09:37:36Z","updated_at":"2019-07-23T09:37:36Z","deleted_at":null,"id":"2Klss85C29mdombaiuERZv"}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "981"
      Fastly-Ratelimit-Reset:
      - "1563876000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
