---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Create&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Create
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Create","type":"vcl","id":"rTpzNfgkERkPzzSANhcAl1","updated_at":"2022-11-07T13:21:13Z","publish_key":"","created_at":"2022-11-07T13:21:13Z","paused":false,"deleted_at":null,"versions":[{"number":1,"active":false,"service_id":"rTpzNfgkERkPzzSANhcAl1","updated_at":"2022-11-07T13:21:13Z","deployed":false,"testing":false,"locked":false,"comment":"","deleted_at":null,"staging":false,"created_at":"2022-11-07T13:21:13Z"}]}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9991"
      Fastly-Ratelimit-Reset:
      - "1667829600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
