---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Create&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Create
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Create","type":"vcl","publish_key":"","updated_at":"2021-01-14T10:23:38Z","created_at":"2021-01-14T10:23:38Z","deleted_at":null,"versions":[{"staging":false,"locked":false,"active":false,"number":1,"deployed":false,"deleted_at":null,"created_at":"2021-01-14T10:23:38Z","service_id":"5JukT0tQGanjTr3Wu9ACAO","comment":"","testing":false,"updated_at":"2021-01-14T10:23:38Z"}],"id":"5JukT0tQGanjTr3Wu9ACAO","paused":false}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "999"
      Fastly-Ratelimit-Reset:
      - "1610622000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
