---
version: 1
interactions:
- request:
    body: name=test_acl_BatchModifyAclEntries_Create
    form:
      name:
      - test_acl_BatchModifyAclEntries_Create
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service/h0r9bHHO8AxEkQ10Nm0Ve7/version/2/acl
    method: POST
  response:
    body: '{"service_id":"h0r9bHHO8AxEkQ10Nm0Ve7","version":"2","name":"test_acl_BatchModifyAclEntries_Create","id":"gn5aWs0VHPj0DyskUd3W30","created_at":"2023-11-28T14:23:15Z","updated_at":"2023-11-28T14:23:15Z","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "9997"
      Fastly-Ratelimit-Reset:
      - "1701183600"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
