---
version: 1
interactions:
- request:
    body: comment=go-fastly+client+test&name=test_service_BatchModifyAclEntries_Create&type=vcl
    form:
      comment:
      - go-fastly client test
      name:
      - test_service_BatchModifyAclEntries_Create
      type:
      - vcl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.fastly.com/service
    method: POST
  response:
    body: '{"customer_id":"51MumwLiSJyFTWhtbByYgR","comment":"go-fastly client test","name":"test_service_BatchModifyAclEntries_Create","type":"vcl","id":"1NFSgcMirbG1hN2nRK00Gg","paused":false,"updated_at":"2021-09-22T11:01:29Z","created_at":"2021-09-22T11:01:29Z","versions":[{"locked":false,"deleted_at":null,"comment":"","number":1,"deployed":false,"created_at":"2021-09-22T11:01:29Z","staging":false,"service_id":"1NFSgcMirbG1hN2nRK00Gg","active":false,"updated_at":"2021-09-22T11:01:29Z","testing":false}],"publish_key":"","deleted_at":null}'
    headers:
      Content-Type:
      - application/json
      Fastly-Ratelimit-Remaining:
      - "4999"
      Fastly-Ratelimit-Reset:
      - "1632312000"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
