---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/1NFSgcMirbG1hN2nRK00Gg/acl/43sh3SIrf0NIyf6jkSNkz6/entries
    method: GET
  response:
    body: '[{"subnet":24,"id":"7MczYgeGt6qZOKi7WjQL9S","created_at":"2021-09-22T11:01:30Z","ip":"127.0.0.1","negated":"0","updated_at":"2021-09-22T11:01:30Z","comment":"ACL
      Entry 1","acl_id":"43sh3SIrf0NIyf6jkSNkz6","service_id":"1NFSgcMirbG1hN2nRK00Gg"},{"service_id":"1NFSgcMirbG1hN2nRK00Gg","comment":"ACL
      Entry 2","acl_id":"43sh3SIrf0NIyf6jkSNkz6","ip":"192.168.0.1","negated":"1","updated_at":"2021-09-22T11:01:30Z","created_at":"2021-09-22T11:01:30Z","subnet":24,"id":"0qwhkqXJLaJR3mLT4UoqGw"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
