---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/h0r9bHHO8AxEkQ10Nm0Ve7/acl/gn5aWs0VHPj0DyskUd3W30/entries?page=1&per_page=100
    method: GET
  response:
    body: '[{"service_id":"h0r9bHHO8AxEkQ10Nm0Ve7","created_at":"2023-11-28T14:23:15Z","comment":"ACL
      Entry 1","ip":"127.0.0.1","id":"W3lz3G5uyKsDlGkKfQJ0J1","updated_at":"2023-11-28T14:23:15Z","acl_id":"gn5aWs0VHPj0DyskUd3W30","negated":"0","subnet":24},{"created_at":"2023-11-28T14:23:15Z","service_id":"h0r9bHHO8AxEkQ10Nm0Ve7","comment":"ACL
      Entry 2","ip":"192.168.0.1","updated_at":"2023-11-28T14:23:15Z","id":"jnNjRGzeSoSzBnFpGpMU43","negated":"1","acl_id":"gn5aWs0VHPj0DyskUd3W30","subnet":24}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
