---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Fastly-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    url: https://api.fastly.com/service/3MYXdSsO9U0dulSgjNLvMq/acl/2Klss85C29mdombaiuERZv/entries
    method: GET
  response:
    body: '[{"acl_id":"2Klss85C29mdombaiuERZv","updated_at":"2019-07-23T09:37:36Z","created_at":"2019-07-23T09:37:36Z","ip":"127.0.0.1","id":"3s9TpkN6E9WiSdY5qLsIbf","service_id":"3MYXdSsO9U0dulSgjNLvMq","negated":"0","comment":"ACL
      Entry 1","subnet":24,"deleted_at":null},{"service_id":"3MYXdSsO9U0dulSgjNLvMq","deleted_at":null,"negated":"0","subnet":24,"comment":"ACL
      Entry 2","created_at":"2019-07-23T09:37:36Z","ip":"192.168.0.1","acl_id":"2Klss85C29mdombaiuERZv","updated_at":"2019-07-23T09:37:36Z","id":"7NGMjQBaW2rMBo8iPfkVuy"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
