---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/5JukT0tQGanjTr3Wu9ACAO/acl/21Jt9DJ4QbAg46MyEUxQXi/entries
    method: GET
  response:
    body: '[{"id":"1YXr767DZB9JfTZEkdKOj0","subnet":24,"service_id":"5JukT0tQGanjTr3Wu9ACAO","negated":"0","deleted_at":null,"comment":"ACL
      Entry 1","acl_id":"21Jt9DJ4QbAg46MyEUxQXi","updated_at":"2021-01-14T10:23:39Z","ip":"127.0.0.1","created_at":"2021-01-14T10:23:39Z"},{"negated":"0","id":"1e1RhpCmntwdD68Is7zsC6","service_id":"5JukT0tQGanjTr3Wu9ACAO","subnet":24,"created_at":"2021-01-14T10:23:39Z","acl_id":"21Jt9DJ4QbAg46MyEUxQXi","deleted_at":null,"comment":"ACL
      Entry 2","ip":"192.168.0.1","updated_at":"2021-01-14T10:23:39Z"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
