---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/4DXP0ymooAIGk2kUwN9F14/acl/6OH9vwAYAEt8BlRrDgiI5U/entries
    method: GET
  response:
    body: '[{"updated_at":"2021-11-03T14:44:21Z","service_id":"4DXP0ymooAIGk2kUwN9F14","acl_id":"6OH9vwAYAEt8BlRrDgiI5U","ip":"127.0.0.1","created_at":"2021-11-03T14:44:21Z","comment":"ACL
      Entry 1","subnet":24,"id":"7LGb52Nx4PjqOfFqB7NVqh","negated":"0"},{"updated_at":"2021-11-03T14:44:21Z","service_id":"4DXP0ymooAIGk2kUwN9F14","acl_id":"6OH9vwAYAEt8BlRrDgiI5U","ip":"192.168.0.1","created_at":"2021-11-03T14:44:21Z","comment":"ACL
      Entry 2","subnet":24,"id":"0MaFZhBwPVqiLbxOC9IJYg","negated":"1"}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
