---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.fastly.com/service/rTpzNfgkERkPzzSANhcAl1/acl/jI5xfHjMwpu8e59Vm6dkr1/entries
    method: GET
  response:
    body: '[{"id":"FuOmQj1BT9MXRHmogMvxH1","negated":"0","comment":"ACL Entry 1","created_at":"2022-11-07T13:21:14Z","subnet":24,"updated_at":"2022-11-07T13:21:14Z","service_id":"rTpzNfgkERkPzzSANhcAl1","acl_id":"jI5xfHjMwpu8e59Vm6dkr1","ip":"127.0.0.1"},{"updated_at":"2022-11-07T13:21:14Z","service_id":"rTpzNfgkERkPzzSANhcAl1","acl_id":"jI5xfHjMwpu8e59Vm6dkr1","ip":"192.168.0.1","negated":"1","id":"XxU7wpAOufHyvstNBK5r53","comment":"ACL
      Entry 2","created_at":"2022-11-07T13:21:14Z","subnet":24}]'
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
